[2018-09-27 17:44] btecu commented on #16989
I've also run into this in 3.4.

[2018-09-27 20:56] mrgenesis commented on #14922
**It really solved my trouble.** I did put an object in `string ${val}`, this was having error.

[2018-09-28 00:11] m-harnish commented on #16852
Is there any type of a migration guide for transitioning a Rails app that was using the ember-source gem to use the npm module? Thanks!

[2018-09-28 02:45] chancancode commented on #17006
The glimmer changes are done in https://github.com/glimmerjs/glimmer-vm/pull/854/, currently looking for reviewers.

[2018-09-28 09:14] arm1n opened #17014 "Router Service: Behaves differently in engine context regarding route path"
Hey there,

it seems like the router services behaves differently in an engine context compared to `{{#link-to}}` in views and `transitionTo` routes.

Example: I want to link to my engine's route called 'overview'. The engine is mounted as 'engine'.

This is the expected and documented behavior:
Route: `this.transitionTo('overview')`
Views: `{{#link-to 'overview'}}Link{{/link-to}}`

Whereas the se

[2018-09-28 11:45] cbroeren opened #17015 "isArray() returns true for object with length property"
Lately we updated our application from Ember 3.1 to 3.3 and with that change we broke part of our application, due to this code in the `isArray` function:
https://github.com/emberjs/ember.js/blob/c2c8171301d2b1a0c499b4a55009ebf428f40e69/packages/%40ember/-internals/runtime/lib/mixins/array.js#L168

We happen to have an object with a length property, but Embers isArray will say it's an array. Mainl

[2018-09-28 13:43] H1D commented on #5526
@pixelhandler seems like this is not an issue anymore  – https://ember-twiddle.com/2c2b711d799e789ad7043eaf94924108

---

But I've noticed something else
 - when "lesson" link clicked for the first time route `lesson.slide` became active due to `redirect()` in lesson route
 - if link clicked again route 'lesson' became active. Seems like `redirect()` wasn't called

Is this a correct routing behavi

[2018-09-28 15:52] arm1n commented on #17014
Ok thanks for confirming and picking it up, have searched again but could not find anything like that.

[2018-09-28 15:57] pixelhandler commented on #15250
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 15:57] #15250 closed

[2018-09-28 15:57] pixelhandler commented on #10992
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 15:58] pixelhandler commented on #16014
Closing for now.

[2018-09-28 15:58] #16014 closed

[2018-09-28 15:59] pixelhandler commented on #14014
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 15:59] #14014 closed

[2018-09-28 15:59] pixelhandler commented on #14224
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 15:59] #14224 closed

[2018-09-28 16:00] pixelhandler commented on #14716
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:00] #14716 closed

[2018-09-28 16:00] pixelhandler commented on #14724
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:00] #14724 closed

[2018-09-28 16:01] pixelhandler commented on #14661
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:01] #14661 closed

[2018-09-28 16:01] pixelhandler commented on #12150
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:01] #12150 closed

[2018-09-28 16:01] pixelhandler commented on #14594
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:01] #14594 closed

[2018-09-28 16:02] pixelhandler commented on #11063
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:02] #11063 closed

[2018-09-28 16:02] pixelhandler commented on #14469
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:02] #14469 closed

[2018-09-28 16:02] pixelhandler commented on #14473
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:02] #14473 closed

[2018-09-28 16:03] pixelhandler commented on #14502
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:03] #14502 closed

[2018-09-28 16:05] pixelhandler commented on #13607
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:05] #13607 closed

[2018-09-28 16:05] pixelhandler commented on #14052
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:05] #14052 closed

[2018-09-28 16:05] pixelhandler commented on #12588
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:05] #12588 closed

[2018-09-28 16:06] pixelhandler commented on #13803
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:06] #13803 closed

[2018-09-28 16:06] pixelhandler commented on #13748
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:06] #13748 closed

[2018-09-28 16:07] pixelhandler commented on #13513
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:07] #13513 closed

[2018-09-28 16:07] pixelhandler commented on #13512
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:07] #13512 closed

[2018-09-28 16:07] pixelhandler commented on #12833
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:07] #12833 closed

[2018-09-28 16:08] pixelhandler commented on #12669
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:08] #12669 closed

[2018-09-28 16:09] pixelhandler commented on #14780
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:09] pixelhandler commented on #14846
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:09] #14846 closed

[2018-09-28 16:10] pixelhandler commented on #14092
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:10] #14092 closed

[2018-09-28 16:10] pixelhandler commented on #13484
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:10] #13484 closed

[2018-09-28 16:11] pixelhandler commented on #14324
Per our triage policy I'll close this out for now, feel free to reopen if the issue persists on the current release.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-09-28 16:11] #14324 closed

[2018-09-28 16:29] pixelhandler commented on #16712
@rwjblue closing for now, that should have been released by now, correct?

[2018-09-28 16:29] #16712 closed

[2018-09-28 16:32] pixelhandler commented on #16719
@emberjs/learning-team-managers perhaps we can update the API docs accordingly

[2018-09-28 16:36] pixelhandler commented on #15072
@michaelklishin is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 16:38] pixelhandler commented on #14984
@RossValler @stefanpenner @trentmwillis is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 16:38] pixelhandler commented on #14660
@Exelord @GavinJoyce is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 16:39] pixelhandler commented on #13576
@krisselden is this still an issue, perhaps we should close, what do you think?

[2018-09-28 16:40] pixelhandler commented on #13395
@mattmarcum @raytiley @wagenet is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 16:43] pixelhandler commented on #15062
@andyhot @chadhietala @locks @rwjblue closing for now, perhaps reopen or create a new issue to continue this effort if there is anything remaining.

[2018-09-28 16:43] #15062 closed

[2018-09-28 16:45] pixelhandler commented on #13635
@ef4 @locks perhpaps this can be discussed and then reopened if needed, closing for now since it's been inactive for some time.

[2018-09-28 16:45] #13635 closed

[2018-09-28 16:46] pixelhandler commented on #13747
@JackCA @kellyselden @rwjblue @vvscode is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 16:47] pixelhandler commented on #12672
@krisselden @rwjblue is this still an issue, perhaps we should close, what do you think?

[2018-09-28 16:49] pixelhandler commented on #15311
@josiahbryan @locks closing this out for now, as this issue has been inactive for some time. Feel free to reopen if the issue persists on the current and/or LTS version of Ember.

[2018-09-28 16:49] #15311 closed

[2018-09-28 16:53] pixelhandler commented on #15333
Closing for now, see https://github.com/glimmerjs/glimmer-vm/pull/764#issuecomment-365000363

[2018-09-28 16:53] #15333 closed

[2018-09-28 16:54] pixelhandler commented on #10262
@andrewbranch @jesenko @mmun @wagenet is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 16:55] pixelhandler commented on #14774
@locks @rwjblue @ssured @youroff is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 16:55] kellyselden commented on #13747
If you switch that twiddle to ember alpha, the issue still remains.

[2018-09-28 16:56] pixelhandler commented on #15465
@locks @rwjblue @siva-sundar is this still an issue, perhaps we should close, what do you think?

[2018-09-28 16:57] pixelhandler commented on #15354
@pedrokost @rwjblue @vladucu is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 16:58] pixelhandler commented on #15516
@schuay @stefanpenner is this still an issue, perhaps we should close, what do you think?

[2018-09-28 16:59] pixelhandler commented on #14657
@Exelord @acorncom @alvincrespo @arenoir @asvny @bjornharrtell @brunowego @carlbennettnz @dustinfarris @jakeleboeuf @locks @lrdiv @nightsh @rwjblue @sly7-7 @tarikozket is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:00] pixelhandler commented on #15246
@bekzod @kellyselden @stefanpenner is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:02] pixelhandler commented on #15635
@Turbo87 @bricss @cibernox @locks @roschaefer @rwjblue @tomdale @wycats is this still an issue, perhaps we should close, what do you think?

[2018-09-28 17:03] pixelhandler commented on #10557
@Nav4e @acorncom @barryofguilder @dguettler @dwickern @ehntoo @engwan @gerry3 @hbrysiewicz @jerel @kjhangiani @mattcoker @mike-north @pwfisher @topaxi is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:04] pixelhandler commented on #15202
@cibernox @d-schloss-mvg @djones @kjf @locks @machty @rwjblue is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:05] pixelhandler commented on #15589
@bekzod @kfuzaylov @krisselden @rwjblue is this still an issue, perhaps we should close, what do you think?

[2018-09-28 17:06] pixelhandler commented on #15248
@rwjblue @rynam0 @stefanpenner @vincent99 is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:07] pixelhandler commented on #15322
@GavinJoyce @TRMW @hudakdidit @jbailey4 @jfarlow @rwjblue is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:32] pixelhandler commented on #13412
@mdsib @rennomarcus @rwjblue is this still an issue, perhaps we should close, what do you think?

[2018-09-28 17:33] pixelhandler commented on #15291
@0xadada @buschtoens @fastfedora @stefanpenner is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:35] pixelhandler commented on #15709
@Kerrick @Serabe @raido is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:37] pixelhandler commented on #15545
@bekzod @dwickern @krisselden @rwjblue is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:38] pixelhandler commented on #15092
@gabrielgrant is this still an issue, perhaps we should close, what do you think?

[2018-09-28 17:39] pixelhandler commented on #15059
@gabrielgrant is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:40] pixelhandler commented on #15056
@mixonic @nag9329 @sangm @ssylvia is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:41] pixelhandler commented on #14927
@mixonic I'll close for now, please reopen if this issue persists on a current release.

[2018-09-28 17:41] #14927 closed

[2018-09-28 17:42] pixelhandler commented on #15574
@locks @rwjblue @webark I'll close this for now.

[2018-09-28 17:42] #15574 closed

[2018-09-28 17:42] pixelhandler commented on #15466
@bgentry @kumkanillam @laynegt @rwjblue closing for now

[2018-09-28 17:42] #15466 closed

[2018-09-28 17:43] RossValler commented on #14984
@pixelhandler in all honesty, I haven't worked with this application in over a year so I am unsure if this is still an issue _shrug_

[2018-09-28 17:44] pixelhandler commented on #15842
@mjuniper @rwjblue is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:45] pixelhandler commented on #10120
@ahacking @arthur5005 @bfreis @mmun @wagenet is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:46] pixelhandler commented on #13815
@rwjblue @locks Since the repops are up I'll close this for now.

[2018-09-28 17:46] #13815 closed

[2018-09-28 17:48] pixelhandler commented on #15624
@Serabe @locks This has been inactive for some time, is this up to date? what remains todo?

[2018-09-28 17:49] pixelhandler commented on #15098
@Allariel @rwjblue @ryanrishi is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:49] pixelhandler commented on #15867
@samcic is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:50] pixelhandler commented on #15841
@Boudewijn26 @rmachielse is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:51] pixelhandler commented on #15281
@Turbo87 @rwjblue @stefanpenner is this still an issue, perhaps we should close, what do you think?

[2018-09-28 17:52] pixelhandler commented on #12700
@jmurphyau @kitsuneyo @mmun @nathanhammond @toddjordan is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:53] pixelhandler commented on #15662
@CvX @mansona @mazondo @rwjblue @topaxi is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:53] pixelhandler commented on #15840
@boris-petrov @jlami @karthiicksiva @rwjblue is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:54] pixelhandler commented on #15966
@Dhaulagiri @acorncom @rwjblue @slannigan is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 17:55] pixelhandler commented on #16171
@gabrielgrant is this still an issue, perhaps we should close, what do you think?

[2018-09-28 17:56] pixelhandler commented on #16171
@emberjs/learning-team-managers has this been addressed already?

[2018-09-28 17:59] pixelhandler commented on #13948
@BenjaminHorn @Blackening999 @Dhaulagiri @DingoEatingFuzz @Gaurav0 @GavinJoyce @Redsandro @TRMW @Turbo87 @aklkv @alidcastano @backspace @bdiz @bgentry @bjornharrtell @bryanhickerson @buschtoens @caseklim @cbou @chancancode @danaoira @daniel-de-wit @fivetanley @fotinakis @gabrielgrant @ghost @jakesjews @janmisek @joukevandermaas is this still an issue, perhaps we should close, what do you think?

[2018-09-28 18:02] pixelhandler commented on #14615
@amk221 @locks @mmun @psteininger is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:03] pixelhandler commented on #16262
@rwjblue @xe21500 is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:03] bryanhickerson commented on #13948
I fixed any instances of the error in my app.

[2018-09-28 18:03] backspace commented on #13948
Anytime I’ve encountered this I’ve been able to rearrange things so that it wouldn’t happen anymore, so I think it’s okay to close.

[2018-09-28 18:04] pixelhandler commented on #16301
@tomdale is this still up to date? seems to be inactive for some time.

[2018-09-28 18:06] pixelhandler commented on #14651
@denniss17 @iezer @locks @nwhittaker @rwjblue is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:06] pixelhandler commented on #15578
@amk221 is this still an issue, perhaps we should close, what do you think?

[2018-09-28 18:08] pixelhandler commented on #12505
@Boubalou @bichotll @binoculars @bkCDL @bugduino @cbou @chancancode @devinus @dschmidt @dtropp @gertjanwytynck @jbryson3 @jemware @olivia @remkoboschker @stefanpenner @stianpr @stravid @tchak @victor95pc is this still an issue, perhaps we should close, what do you think?

[2018-09-28 18:08] jlami commented on #15840
Ember 2.18.2 still seems to have this problem in the twiddle, so LTS still has the bug as far as I can tell.
But 3.2.2 works in the twiddle. Can't seem to test "release", but I would expect that to work if 3.2 also works. Up to you whether a bugged LTS is worth more investigation.

[2018-09-28 18:08] pixelhandler commented on #16177
@peabnuts123 is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:09] pixelhandler commented on #12624
@adam-knights @gnapse @locks @nathanhammond @rickieshi @rwjblue @stefanpenner is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:10] pixelhandler commented on #16133
@IvaWonderbush @myartsev is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:11] amk221 commented on #15578
It's an issue for me as an addon author, I can't close [the issue](https://github.com/zestia/ember-select-box/issues/12) because otherwise my addon will never work with Fastboot.

[2018-09-28 18:11] pixelhandler commented on #10870
@AnvarPK @GendelfLugansk @MarkMurphy @acorncom @allthesignals @anlumo @jesenko @localpcguy @mixonic @mlenderink @rwjblue @sheriffderek is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:12] pixelhandler commented on #16372
@rwjblue @stefanpenner is this still an issue, perhaps we should close, what do you think?

[2018-09-28 18:12] pixelhandler commented on #15977
@chancancode @kategengler @rwjblue is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:13] pixelhandler commented on #5210
@SirZach @adamreisnz @bcardarella @bschouwerwou @btecu @cibernox @dkorenblyum @ef4 @kanderek @kanongil @kottenator @machty @mutewinter @pixelhandler @rafael-paiva @rwjblue @stefanpenner @wagenet @woprandi is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:14] pixelhandler commented on #9265
@bendemboski @btecu @cbou @npars @stefanpenner @wagenet is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:14] #10931 closed

[2018-09-28 18:15] pixelhandler commented on #12945
@allthesignals @asakusuma @betocantu93 @danidr @kategengler @martndemus @mikejerome @mmun @rwjblue @seawatts @stefanpenner is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:20] pixelhandler commented on #14174
@acorncom @cwarny @johnbradley @nathanhammond @robclancy @rwjblue @sarupbanskota @webark is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:28] Dhaulagiri commented on #15966
This still happens in Ember 3.4 but also the workaround is so trivial that I am not too hung up on fixing this myself

[2018-09-28 18:30] pixelhandler commented on #16596
@emberjs/learning-team-managers any update on this effort?

[2018-09-28 18:30] pixelhandler commented on #14712
@adam-knights @dougestey @jcbvm @jherdman @lepolt @runspired is this still an issue, perhaps we should close or create a new reproduction of this, what do you think?

[2018-09-28 18:31] Gaurav0 commented on #13948
Yes, please close

[2018-09-28 18:31] gerry3 commented on #10557
we still have the workaround https://github.com/emberjs/ember.js/issues/10557#issuecomment-91249540 with Ember 2.18.0. would like to remove it if possible. maybe someone can create a reproduction on https://ember-twiddle.com

[2018-09-28 18:32] pixelhandler commented on #16356
@izelnakri @k3n @krisselden @rwjblue is this still an issue, perhaps we should close, what do you think?

[2018-09-28 18:33] Gaurav0 commented on #16301
@tomdale Ok, the scenario is that we need to kick off an ajax request when a particular attribute has changed, and only that attribute. We don't want to write an observer. Can we still do this in didInsertElement?

[2018-09-28 18:34] pixelhandler commented on #16134
@wycats Is there a Discord channel this work continues on?

[2018-09-28 18:37] bendemboski commented on #9265
I don't think it's really high priority at all (observers? what are those? I dimly recall... 😉 ), but it does still happen. [Here](https://ember-twiddle.com/49a5ebe041c139932f6628b2da80ba25)'s a twiddle.

[2018-09-28 18:39] pzuraq commented on #16134
@pixelhandler most of the active work is happening in `#st-native-classes` now, and there is a new quest issue which has the most up-to-date information about the state of native classes, #16927

The goals have shifted a bit from just services _without_ a base class to using native classes with the Ember Object model for the time being, with a longer-term outlook outlined in the [Native Class Road

[2018-09-28 18:41] raido commented on #15709
My project is still has workaround as above so probably but I’ll confirm this in few days.

[2018-09-28 19:02] vladucu commented on #15354
not an issue for us anymore, thx!

[2018-09-28 19:10] mmun commented on #12700
It's still an issue. The original repro should still be (in)valid.

[2018-09-28 19:31] k3n commented on #16356
No, I believe I was just doing it wrong ;)

[2018-09-28 19:36] sheriffderek commented on #10870
I haven't had any issues _with this_ in a long time / use htmlSafe + don't use quotes / - but my fear was that other people would have a hard time tracking it down. I did. (actually - _I still do_ - since trying to find links to reference here wasn't easy)

If there was even one sentence on this page: https://guides.emberjs.com/release/templates/binding-element-attributes/ - that had (if not a ful

[2018-09-28 20:17] jherdman commented on #14712
Very much still an issue. Does the JSBin example not count?

[2018-09-28 20:20] kellyselden commented on #15246
I updated the test https://ember-twiddle.com/f8fe3fc5cf5bbd8820f045d8c640c9bb

I couldn't use any of the dist-tags because I got a CORS error, but the latest stable on there 3.2.2 still has the issue.

[2018-09-28 21:11] chancancode opened #17016 "[CI] Investiate testem.js error"
Seeing these on latest master test runs:

[code]

We should investigate and fix the MIME type thing (which is probably a bug in one or more upstream projects). Since things are still running "fine" we probably don't even need the script in the first place and just need to figure out how to remove it.

[2018-09-28 21:13] chancancode opened #17017 "[CI] Investigate "jquery-none.js" being loaded"
Seeing these on latest master test runs:

[code]

`https://code.jquery.com/jquery-none.js` is not a real thing and this is probably a bug in our test harness setup. We should not making that network request.

[2018-09-28 21:18] chancancode commented on #16391
Looks like a lot of these are addressed, I am okay closing the tracking issue and filing new ones as needed. I opened #17016 and #17017. Looks like a few of these still have outstanding PRs waiting for reviews also.

[2018-09-28 21:42] chancancode commented on #13948
end of an era 😬

[2018-09-28 21:42] #13948 closed

[2018-09-28 21:52] vincent99 commented on #15248
I mean we just use the hackaround as I described above in our product, but it is still an issue..  All you really need to reproduce it is:

[code]
Here's a twiddle of the same: https://ember-twiddle.com/b11d1084021dd0ff1dcf19226f2d7d01

And the fix would be to have `setOwner()` define it as a non-enumerable property as I did above.

[2018-09-29 00:01] Serabe commented on #15709
@pixelhandler updated https://ember-twiddle.com/63f5290e898dfeee90f7266ce01af5ef?openFiles=controllers.application.js%2C

Still a bug.

[2018-09-29 00:02] Serabe commented on #15501
Don't really know. source needs to be checked.

[2018-09-29 00:04] Serabe commented on #15624
AFAIK, everything. I closed my PR because I was rebasing it for over six months. Don't know if core is still interested on deprecating String prototype extensions.

[2018-09-29 00:27] locks commented on #15624
I am back to being more active again, I'm aiming to tackle this before year end.

[2018-09-29 02:11] mmun commented on #15501
@bekzod was working on this recently.

[2018-09-29 08:46] samcic commented on #15867
@pixelhandler The affected user ended up purchasing a Chromecast to resolve this. I don't think we can expect Ember (or any other framework for that matter) to try to support such inbuilt TV browsers, so from my side this is fine to close.

[2018-09-29 08:46] #15867 closed

[2018-09-29 10:58] jelhan commented on #16993
Not quite sure if this is important, but at least `yield` and `with` are missing in `Class Ember.Templates.helpers` docs since `3.2`.

[2018-09-29 11:55] rwjblue commented on #14473
FWIW this was fixed in 3.2 or 3.3

[2018-09-29 12:00] #16706 closed

[2018-09-29 12:01] rwjblue commented on #16712
Ya, perfect

[2018-09-29 12:11] rwjblue commented on #15589
Just double checked, and we still do the check in question due to deprecated “descriptor as a property” fallback.

https://github.com/emberjs/ember.js/blob/10f5625eafa749329c9aa7e1fe57d80601beab71/packages/%40ember/-internals/metal/lib/property_get.ts#L120-L139

https://github.com/emberjs/ember.js/blob/10f5625eafa749329c9aa7e1fe57d80601beab71/packages/%40ember/-internals/meta/lib/meta.ts#L738-L744

[2018-09-29 12:12] rwjblue commented on #15589
The good news here is that since master is tracking 3.6 and those depreciations are “until 3.5”, we can actually remove the fallback now.

[2018-09-29 12:26] mhluska opened #17018 "Cannot pass hash helper to link-to (EmptyObject lacking hasOwnProperty)"
Sometimes a route can resolve with multiple records like so:

[code]

So then you'd think you could use `link-to` like so:

[code]

This doesn't work because the `hash` helper returns `EmptyObject` and `extractQueryParams` tries to call `.hasOwnProperty()` on it, resulting in an error.

There's a workaround to this which involves using an action with `transitionTo` but it feels like a poor experie

[2018-09-29 12:51] rwjblue commented on #17018
This is a bug, we can (and should) totally fix this (swapping to `’queryParams’ in obj` instead of `obj.hasOwnProperty(‘queryParams')`). Would you mind taking a crack at a PR?

[2018-09-29 13:03] rwjblue commented on #15709
Hmm, I don’t really grok the twiddle. It’s not clear to me what is expected for each of those selects. Some don’t make a ton of sense to me (e.g. having multiple `option`s with selected but not marking the select as a multi select).

[2018-09-29 15:16] mhluska commented on #17018
Yep, I can take a look tomorrow.

[2018-09-29 15:31] webark commented on #14174
This was created in kind of wrapping up a number of other query param serialization bugs. I believe if those come up again, we can address them one at a time.

[2018-09-29 15:59] rwjblue commented on #15281
I still think this is worthwhile to do.

[2018-09-29 16:15] rwjblue commented on #13412
Yes, I’d like to fix the Changelog script still.

[2018-09-29 18:15] chancancode commented on #15635
This is still an issue: https://ember-twiddle.com/21b1ebf2133a6da275fbcfe9bb031e93

[2018-09-29 19:41] Kerrick commented on #15709
Yep, the first example in the twiddle is the actual use-case, the rest was just messing around.

[2018-09-29 21:19] simonihmig commented on #17017
@chancancode here we go: https://github.com/emberjs/ember.js/pull/17019

[2018-09-30 12:37] bugduino commented on #12505
I do not have the chance to test it

[2018-09-30 14:04] victor95pc commented on #12505
I stoped using Ember, so I cant confirm it still a issue.

[2018-10-01 04:09] kalda341 commented on #12945
@pixelhandler It is still an issue in 3.4.2.

[2018-10-01 06:47] topaxi commented on #15662
@pixelhandler this is still happening with my reproduction repository posted above.

Installed dependencies (using `ember-cli@3.4.3` installing latest fastboot and liquid-fire):
[code]

[2018-10-01 08:19] mhluska commented on #17018
@rwjblue it might be a few days before I can get to this.

[2018-10-01 09:06] bartocc commented on #16856
oh an BTW, I created a discuss topic before hitting this github issue

https://discuss.emberjs.com/t/constructor-name-behaves-differently-in-dev-and-prod-builds-for-models-defined-with-the-es6-class-syntax/15572

[2018-10-01 10:42] boris-petrov opened #17021 "Inconsistency between RSVP.Promise and native promises"
After reading the last posts in here:

https://discuss.emberjs.com/t/readers-questions-why-does-ember-still-use-rsvp/14736

I tried removing all mentions of `RSVP.Promise` in our code base. We are using the latest Ember.js (3.4.4) and the latest Ember-CLI (3.4.3). I have at least one case where there is still some difference between the two. I've put up a reproduction repo:

https://github.com/bor

[2018-10-01 12:38] bastimeyer opened #17022 "DEFAULT_GETTER_FUNCTION returns wrong value if actual value is set to undefined"
Hi!
While I was trying to upgrade my app by using ember-decorators, I encountered an issue with Ember's `DEFAULT_GETTER_FUNCTION`, `Meta#_findInherited2` to be precise. The issue is unrelated to the decorators themselves, but I noticed it because of the `observes` decorator, which is using `Ember.addObserver` instead of `Ember.observer` and changing my app code seemed like a trivial thing to do.

[2018-10-01 12:55] Parrryy commented on #17018
I wouldn't mind giving this a go, Hacktoberfest and all that :) That's if you can't @mhluska.

[2018-10-01 13:35] dmuneras commented on #12169
Hey!

I can confirm that @jorblume workaround works in Ember 2.18

Best regards,
Daniel.

[2018-10-01 13:54] mhluska commented on #17018
@Parrryy go for it 😄

[2018-10-01 14:49] bastimeyer commented on #17022
You're right, just tested it again. The test suite I had used earlier wasn't ideal.

[2018-10-01 15:04] robclancy commented on #14174
I commented out my mixin and it is still happening on version 3.1.3. I can upgrade to test more but I haven't noticed anything in change logs about this being touched.

[2018-10-01 18:54] Rohit280297 opened #17026 "Text is too left aligned in mobile view"

[2018-10-01 18:54] Rohit280297 commented on #17026
I would like to work on this. Thanks

[2018-10-01 20:59] chadhietala opened #17027 "[META] Routing Service "Go" Items"
This is the tracking issue to "go" Router Service:

- [x] Implement `routeWillChange` and `routeDidChange` events #17025
- [x] Implement `RouteInfo`s #17025
- [x] Deprecate `willTransition` and `didTransition` events #17025
- [x] Implement `recognize` #17034
- [x] Implement `recognizeAndLoad` #17034
- [x] Implement `RouteInfoWithAttributes` type #17034
- [x] Implement `currentRoute` #17041
- [x] W

[2018-10-01 21:41] Serabe commented on #17026
You might want to provide a description, a couple of screenshots and move this to https://github.com/emberjs/website if it is about https://emberjs.com

Thank you!

[2018-10-01 21:41] #17026 closed

[2018-10-02 09:14] Exelord commented on #16598
It's still valid case :/

[2018-10-02 13:38] kategengler commented on #15977
I believe this is still an issue; we discussed it just last Thursday at the Release team meeting.

[2018-10-02 13:44] rwjblue commented on #15977
Concretely, the issue is that the inspector currently does not support displaying these files (the description here is out of date IMHO).

[2018-10-02 13:44] rwjblue commented on #15977
Maybe we could migrate to https://github.com/emberjs/ember-inspector/issues/870 though?

[2018-10-02 18:04] lifeart opened #17030 "[Documentation] Broken link "DEFINED IN" in Ember-Data"
https://emberjs.com/api/ember-data/release/classes/DS.Store
Ver: 3.4 (latest at this moment)
Current url: https://github.com/emberjs/data/tree/v3.4.2/addon/-private/system/store.js#L125

![image](https://user-images.githubusercontent.com/1360552/46367631-c5b9b700-c686-11e8-8f22-140c880e9069.png)

[2018-10-02 18:58] runspired commented on #17030
@lifeart I would open this against ember-data repo.

[2018-10-02 19:27] lifeart commented on #17030
@runspired  Done, https://github.com/emberjs/data/issues/5662

[2018-10-02 19:27] #17030 closed

[2018-10-02 19:57] gabrielgrant commented on #16171
@pixelhandler I don't believe this has been changed in the code, and this has definitely not been fixed in the docs -- current version of the docs still gives the same misleading advice: https://guides.emberjs.com/release/templates/input-helpers/#toc_actions

[2018-10-02 21:36] jessica-jordan commented on #16171
@gabrielgrant Thank you for the descriptive issue and the reproduction in the Twiddle! I'm myself not aware why both event name styles exist for the `input[type=text]` helper, but from a learning perspective I think the Guides should just mention the one type of wording that works for all input helpers as you already suggested.

[2018-10-02 23:34] ctcpip commented on #17018
where is this code?

[2018-10-02 23:55] rwjblue commented on #17018
[code]

[2018-10-02 23:57] peabnuts123 commented on #16177
I have not worked on this project in a while, so I cannot confirm how it is going with newer versions of ember. If I run my twiddle above against Ember 3.2 it still seems to be happening – you also cannot set `this.tagName` before calling super, as it results in the error:

[code]

[2018-10-03 09:52] nickschot opened #17032 "`isEmpty` call on ProxyObject w/ `size` property throws '.get()' proxy assertion (3.1+)"
Having an ObjectProxy (or any object using unknownProperty) with a property named 'size' of type String `isEmpty(myChangeset)` results in the `Assertion Failed: You attempted to access the 'size' property (of changeset:[object Object]). Since Ember 3.1 , this is usually fine as you no longer need to use '.get()'...` error.

This is caused at: https://github.com/emberjs/ember.js/blob/f73d8440d19cf8

[2018-10-03 10:12] NullVoxPopuli commented on #16373
Some questions about the outstanding tasks -
 - for someone new to any particular code base, where would I need to begin / what would I need to know to solve some of the tasks?

What is involved in doing something at build time? where does this happen in ember.js? Where is the current parsing of `{{namespace::name}}` located?

is this actionable? or is this just a thing to make sure we're doing la

[2018-10-03 12:55] rwjblue commented on #17018
@mhluska - I'm actually unable to reproduce the original issue, I wrote a test that _should_ have failed but didn't:

[code]

[2018-10-03 13:05] btecu commented on #17018
@rwjblue maybe the issue here is that in `(hash user=user profile=profile)`, `user` and `profile` are not ids but models. I'm not sure that should be supported, since passing models to `link-to` is already controversial.

[2018-10-03 13:07] rwjblue commented on #17018
The whole `(hash ....)` invocation is seen as a "model" from the `{{link-to`'s perspective.

[2018-10-03 16:29] mhluska commented on #17018
Isn't passing a record to link-to pretty standard? It should prevent the route from reloading data. That's the reason I want to pass two records via hash - to prevent reloading data.

[2018-10-03 17:02] btecu commented on #17018
Define standard.
It works right now but it's been decided that in general it's not a good pattern and in the future it might be no longer supported.

There was at least one RFC related to this, maybe more:
https://github.com/emberjs/rfcs/pull/283

@mhluska Are you able to create a test replicating the issue?

[2018-10-03 18:16] jonatahr commented on #17015
@cbroeren The statement "length === length" is always true, in the code, objects are always considered Array-like if the object has a length property and if length property type is a number.

[code]
I did the following test:

[code]

I would not consider this a bug, let me know your thoughts.

[2018-10-03 18:37] jonatahr commented on #17015
@btecu yeap, my fault, thanks.

[2018-10-03 22:08] leondmello opened #17037 "Having a Computed Property (CP) which depends on a oneWay CP doesn't work"
Here is a twiddle which demonstrates the issue
https://ember-twiddle.com/1934386ad97e960cac37b36cf0068847?openFiles=templates.my-route.hbs%2C&route=%2Fmy-route

The controller has three CPs,
[code]

`customRoutingType` can take the values `fixed` & `dynamic` based on which radio button you click when you visit the `my-route` route in the twiddle

The route template displays the state of the three

[2018-10-04 01:45] luxferresum commented on #17037
[Related SO Question](https://stackoverflow.com/questions/52635727/computed-properties-are-not-re-calculating-when-dependent-oneway-cp-updates)

It also *is* correctly explained in the [API specification](
https://www.emberjs.com/api/ember/3.3/classes/ComputedProperty/methods/volatile?anchor=volatile):

[2018-10-04 13:01] jelhan opened #17039 "[DOC] Should computed properties been documented as properties or methods?"
Computed properties are currently documented inconsistently. Some of them are documented as `property`, some of them as `method`. This should be normalized. I expected them to be documented as properties, but not quite sure if this is correct.

Examples for computed properties been documented as `method`:
- https://github.com/emberjs/ember.js/blob/master/packages/%40ember/-internals/routing/lib/sy

[2018-10-04 13:34] leondmello commented on #17037
I guess this can be safely withdrawn then 😃
Thanks everyone for the explanations

[2018-10-04 13:34] #17037 closed

[2018-10-04 15:36] bastimeyer opened #17042 "Extending from native classes"
Follow up of
https://github.com/ember-decorators/ember-decorators/issues/115#issuecomment-427057102
and new issue here, as requested by @rwjblue

Extending a native class with `.extend` which itself is extending EmberObject is throwing a
[code]

The motivation of this is being able to use native classes and mixins, like this:

[code]

See this ember-twiddle:
https://canary.ember-twiddle.com/b365ec

[2018-10-04 19:07] robclancy commented on #16826
The `no-shadowed-elements` rule isn't very descriptive, ended up here thinking the rule was another issue just with formatting (in vscode with the ember addon there is no difference between formatting issues and errors, I think with the linter too?).

My question is will this have a better error in future? Not everyone will be running the linter and I can imagine coworkers running into this and no

[2018-10-04 19:58] rwjblue commented on #16826
Ya, I mentioned above that we consider this a bug and totally want to
make the ergonomics much better (e.g. issue a warning that has a helpful
message instead of error).

[2018-10-05 08:57] boris-petrov commented on #14774
@pixelhandler - we just hit the same issue in Ember 3.4.5. So it is still valid. We had to wrap the call to `recompute` in a `run`. I created [another issue a few days ago](https://github.com/emberjs/ember.js/issues/17021) which is very similar to this problem that we face here. I.e. the code we had was:

[code]

And this "blocked" when `recompute` was called - i.e. it didn't call `compute` again.

[2018-10-05 13:29] KamiKillertO commented on #17016
I'll have a look

[2018-10-05 16:14] Gaurav0 opened #17046 "Using sinon triggers deprecation warnings in tests."
See reproduction (open console): https://ember-twiddle.com/969a3d23d9ef9b6ae643cff85cb07183?openFiles=twiddle.json%2C

sinon enumerates objects and accesses deprecated properties, causing deprecation errors in tests.

[2018-10-05 20:35] n8n8baby opened #17048 "Using {{each}} block with nested array property causes glimmer error."
It appears that glimmer has a bug when dealing with nested array properties such as:
[code]

There is no error when "nested.options" is replaced with "options" (given the data binding is also updated).

There were some similar characteristics in my development repo to a recently solved issue at https://github.com/emberjs/ember.js/issues/16314, in that the errors reported are similar.

I have set u

[2018-10-05 20:55] rwjblue commented on #17027
@chadhietala - I merged the deprecation app PR, we should be able to gather the URL's and update the deprecation's to have the `url`.

[2018-10-06 14:03] siva-sundar commented on #15465
I raised for a discussion. I'll close it.

[2018-10-06 14:03] #15465 closed

[2018-10-07 13:59] rwjblue commented on #15589
Closed by #17020

[2018-10-07 13:59] #15589 closed

[2018-10-07 20:00] rwjblue opened #17052 "Implement + enable `array` Helper Feature"
This is a tracking issue to enable the `array` helper as proposed in https://github.com/emberjs/rfcs/pull/318.

- [x] Implement
- [x] API Docs
- [x] Guides
- [x] Enable by default
- [ ] Author a polyfill (e.g. `ember-array-helper-polyfill`)?

[2018-10-07 20:01] josemarluedke commented on #17052
🔒 I will give this implementation a try.

[2018-10-07 20:05] rwjblue commented on #17052
Some general implementation notes, I believe this should roughly be implemented the same way as the `hash` helper (but using positional args instead of named args).

* [a helper like this one](https://github.com/emberjs/ember.js/blob/7116215ebda27c517c815da7b9f4330461125242/packages/%40ember/-internals/glimmer/lib/helpers/hash.ts#L46-L48) but with `args.positional.capture()`
* [add to this array o

[2018-10-07 20:37] kanongil commented on #17052
I really think you need to revisit the _an entirely new array is returned on changes_ thing on this (and the `hash` helper). The ember component system is not geared for this, as any change to any property, or sub-property, of any element triggers a re-validation of the whole array.

[2018-10-08 12:57] schuay commented on #15516
I don't know what the current status is - have all fixes landed?

[2018-10-08 13:28] rwjblue commented on #17052
@kanongil - I'm not sure that I agree, the point is that revalidating the full array is not expensive.

[2018-10-08 16:03] stefanpenner commented on #15516
I believe they have not landed, there were some strange test failures and I simply didn't have the time to debug them.

[2018-10-08 16:42] kanongil commented on #17052
That is not my experience from the hash helper. I can’t see why this would be different.

[2018-10-08 17:56] iglosiggio opened #17060 "link-to doesn't update the href on promised models"
If the model given to a `{{link-to}}` helper is a promise (eg. DS.PromiseObject) the helper doesn't update the href once the Promise is fullfiled (which might change the result of the `serialize()` hook of the desired Route).

[example](https://ember-twiddle.com/162bcaca1298fedad9a1ef7ad4e23ad6)
1. The link is not on a loading state and shows an incorrect url
2. If the promise resolves the href is

[2018-10-08 17:58] iglosiggio commented on #17060
PS: this seems similar to #4260 but it's an issue so old that i don't think the codebase is sufficiently similar to revive that issue.

[2018-10-08 23:10] danielspaniel commented on #16871
This is definitely an issue .. don't close this .. i will try to reproduce somehow

[2018-10-09 02:00] rwjblue commented on #16871
That would be awesome, thank you for trying! FWIW, I'm totally happy to clone a GH repo to reproduce if that is easier...

[2018-10-09 13:19] danielspaniel commented on #16871
interesting .. i found the problem but it might not be a bug bug in ember.

case 1]
  for ember simple auth  after signing up i assign the user to a service  ( let's call it  auth )

[code]
so, lets say that other components are binding to   auth.currentUser
 with the usual

[code]

 or maybe a

[code]

 and then later you sign out with your basic

[code]

then its fine, and then you sign in again

[2018-10-09 13:37] hudakdidit commented on #15322
Upgrading seems a like a totally valid path to resolve the issue. Closing.

[2018-10-09 13:37] #15322 closed

[2018-10-10 06:36] aalasolutions commented on #16373
Hmm, not sure where to put these, but for me writing `` so I have changed my package.json file with these

[code]

and now I can just run `npm run g component todo-item` and it will generate properly ...

[2018-10-10 12:18] ilucin opened #17062 "3.5.0 rendering reggression"
Found a weird rendering engine regression in 3.5.0 release. The issue is that the DOM isn't updated properly on state change on the component.

I have this in my component's template.hbs:
[code]
and in component.js:
[code]

`isSubmitting` goes from initial `false` value to `true` and to `false` again but in ember 3.5.0 the last state change isn't reflected in the DOM - the spinner stays visible. H

[2018-10-10 14:58] rwjblue commented on #17062
Hmm, nothing jumps out at me here. Can you tell me more about your setup? What do the components look like (ts or js, decorators, etc)? Do you have any deprecations/assertions in the debug build? Might be hard to debug this without a reproduction that we can dig into (and creating a repro may help us identify what is wrong), would you mind trying to re-recreate the issue in a demo repo?

[2018-10-10 21:40] raphaelns-developer commented on #16989
Same here. After updated to Ember 3.4 the `key-down` and `key-up` action stop to sending the `event`. I made a simple twiddle to show the error: https://ember-twiddle.com/198760441072c804776732de6b68954b?openFiles=controllers.application.js%2C

[2018-10-11 01:40] puwelous commented on #12169
I solved it by returning just right after `this.transitionTo()` was called:
[code]

If `return` statement is on a line below `this.transitionTo()`, the problem preserves

[2018-10-11 08:55] pieter-v opened #17113 "[BUG] EmberArray#pushObjects fails when an ArrayProxy is passed"
[code]
throws an exception: `The third argument to replace needs to be an array.`

[2018-10-11 10:53] ilucin commented on #17062
@rwjblue I've tracked it down. It has something to do with using `{defineProperty} from '@ember/object'` in production build. Here's a minimal [repo](https://github.com/ilucin/emberjs-17062-reproduction) reproducing the bug.

This is the output after clicking "boom" when I run it in development:

.. and after `ember build --environment=production`:

It works as expected in ember@3.4.5.

[2018-10-11 14:39] dguettler commented on #16177
I can confirm that this still seems to be an issue in Ember 3.4 and ember-cli-babel < 7.0
I didn't see this issue with the latest ember-cli-babel, but this caused an issue with ember-decorators. So I had to go back to 6.17 and now I get above mentioned error for a components with `tagName = ''`

[2018-10-11 15:06] rwjblue commented on #14774
The solution here is to ensure we `run.join` inside the `recompute` code (as @ssured 	mentioned in a prior comment).

[2018-10-11 15:50] rwjblue commented on #14774
I don't understand what you mean @boris-petrov. I'm saying that Ember.Helper's implementation of `recompute` should be using `run.join` not that your user-land helper code should...

[2018-10-11 16:04] boris-petrov commented on #14774
Ah, sorry, I thought you meant putting “run” around the “recompute” call in the user code as your initial suggestion. I misread, sorry!

But the other issue still remains.

[2018-10-12 09:42] ef4 commented on #17021
Thanks for taking the time to reproduce.

This code is racy. The test does not await the asynchronous behavior in the helper. I made a [PR to your reproduction](https://github.com/boris-petrov/ember-promise-bug/pull/1) that shows how to make the test reliable.

I need to clarify what I said about native Promises: they absolutely work fine in Ember, and the helper in your example behaves correctly

[2018-10-12 09:43] #17021 closed

[2018-10-12 11:45] boris-petrov commented on #17021
@ef4 - thank you very much for the explanation! That definitely resolved our issue we had. I should have thought about the fact that the test doesn't wait for native promises but it does for RSVP ones.

A question while we're at it - I'm currently trying to rewrite a bunch of our CoffeeScript to TypeScript and I noticed that a bunch of classes/interfaces are defined as taking/extending `RSVP.Promi

[2018-10-12 14:13] boris-petrov opened #17116 "Bug with injection of a mocked service in tests when using ES6 classes"
[Reproduction repo here](https://github.com/boris-petrov/ember-inject-mock-bug)

As you can see from the [last commit](https://github.com/boris-petrov/ember-inject-mock-bug/commit/9cc812a6af35813c77fe44b189037e68af85c233), when using an ES6 class, adding an (even empty) constructor causes the injection of the mocked service to fail.

[2018-10-12 14:30] chriskrycho commented on #17116
cc. @pzuraq: I’m thinking you probably have some insight into the behavior here.

[2018-10-12 15:18] pzuraq commented on #17116
You must pass `...arguments` to `super`, that’s how injections are assigned to the instance in current Ember. Once native classes officially land this will no longer be necessary, but services will also not be available during construction.

[2018-10-12 15:35] boris-petrov commented on #17116
@pzuraq - that fixed the problem. Thanks! There is so very little documentation about all of these things... I'm scrambling bits and pieces from here and there. :) Thanks again! I'll close this and the other issue.

[2018-10-12 15:35] #17116 closed

[2018-10-12 15:38] pzuraq commented on #17116
Yep, it’s definitely fragmented, and we will fix that soon. Native classes haven’t officially shipped yet which is part of the reason for this, once they do we’ll officially document their usage.

[2018-10-12 15:44] #16391 closed

[2018-10-12 15:45] pixelhandler commented on #16372
@stefanpenner any update?

[2018-10-12 15:46] #16356 closed

[2018-10-12 16:01] pixelhandler commented on #16262
@xe21500 Can you update your example reproduction to the current release of Ember?

[2018-10-12 16:03] pixelhandler commented on #16133
@myartsev is this still happing in a current release of Ember?

[2018-10-12 16:10] pixelhandler commented on #15966
I updated the twiddle with example using Ember 3.4 https://ember-twiddle.com/34cbed606f611c3b679794f56a5c4ab9?fileTreeShown=false&openFiles=components.my-component.js%2C

[2018-10-12 16:19] pixelhandler commented on #17113
@pieter-v why not push the content of the proxy? I think there is `.toArray()`

[code]

- https://www.emberjs.com/api/ember/3.5/classes/ArrayProxy/methods/toArray?anchor=toArray

[2018-10-12 16:21] #17113 closed

[2018-10-12 16:28] yininge commented on #17048
@n8n8baby Thank you for reporting this issue. Can you make your gist for the twiddle public? I am not able to view your twiddle, it says "The gist is missing or secret."

[2018-10-12 16:46] cesarluis13915 commented on #5566
This error is throwing too on doing this in a route:

`return this.transitionTo(my_route)`

Removing return keyword, fix it.

[2018-10-12 16:48] pixelhandler commented on #15842
I updated the Twiddle example, https://ember-twiddle.com/4c8f65500f6238224c338ab68ac7cdce?openFiles=routes.application.js%2C

[2018-10-12 17:02] pixelhandler commented on #15578
@amk221 well if you have a moment, can you update your example reproduction to the current release of ember-cli / ember, etc. ? https://github.com/amk221/-ember-fastboot-register-pattern

[2018-10-12 17:06] pixelhandler commented on #15545
I updated the twiddle to a current version of Ember, https://ember-twiddle.com/791c87e01d7492046a5978e1aafae197?openFiles=controllers.application.js%2C

[2018-10-12 17:11] pixelhandler commented on #15354
Thanks for the reply :) @vladucu

[2018-10-12 17:11] #15354 closed

[2018-10-12 17:15] pixelhandler commented on #17048
@n8n8baby Also a thought, perhaps do not use a variable name in a template which could mask an HTML element (angle bracket components).

[code]

[2018-10-12 17:18] pixelhandler commented on #17046
@Gaurav0 yeah I see this in the console:

[code]

And when I remove sinon as a dependency the deprecation is gone.

[2018-10-12 17:19] pixelhandler commented on #17039
@emberjs/learning-team-managers Thoughts?

[2018-10-12 17:22] pixelhandler commented on #17032
@nickschot can you create an ember-twiddle as an example?

[2018-10-12 17:27] pixelhandler commented on #17015
@cbroeren can you create an example reproduction using ember-twiddle?

[2018-10-12 17:34] pixelhandler commented on #17012
@DLiblik I think the choices are `Object.create(null)` and `Ember.Object.create()`. I don't believe using `EmberObject.create(null)` was ever documented a use case for `.create()`

- See https://www.emberjs.com/api/ember/release/classes/@ember%2Fobject/methods/create?anchor=create

[2018-10-12 17:34] #17012 closed

[2018-10-12 17:44] pixelhandler commented on #17011
Perhaps reach out in the #help channel on the Ember Discord app, https://discordapp.com/channels/480462759797063690/483601670685720591 or on the forum, https://discuss.emberjs.com/

I'll close this for now, since it's not an Ember bug.

[2018-10-12 17:44] #17011 closed

[2018-10-12 17:47] pixelhandler commented on #16997
@boris-petrov does this work if you add a component.js file? and not use template only component?

[2018-10-12 17:49] amk221 commented on #15578
Good idea...

- Using the original demo repo the issue remains
- Upgrading just ember-cli-fastboot from `1.1.3` to `2` in the demo repo does not fix the issue
- Upgrading the entire app from ember/ember-cli `3` to `3.4` and ember-cli-fastboot to `2` fixes the issue

...so somewhere along the line, this has been fixed!

[2018-10-12 17:53] jamesarosen opened #17117 "Ember.A(…).slice no longer exists"
https://github.com/mharris717/ember-cli-pagination/blob/bd8f3c8e6f2465bd346e60d758e7a0ccc61ddf72/addon/divide-into-pages.js#L6-L7:
[code]

This passes on Ember beta and default, but fails on canary.

See also mharris717/ember-cli-pagination#260

[2018-10-12 18:09] pixelhandler commented on #16980
@vcipriani `defineProperty` is marked as private and should not be used in application code.

- See https://github.com/emberjs/ember.js/blob/v3.5.0/packages/ember-metal/lib/properties.ts#L108-L174

[2018-10-12 18:10] jamesarosen commented on #17117
Hmm. I'm getting this in CI, but not locally.

[2018-10-12 18:19] pixelhandler commented on #14984
@RossValler thanks for the reply, I updated the twiddle example, https://ember-twiddle.com/9831b89a3cee9878c55b27e5b127f0e7?openFiles=templates.index.hbs%2C seems to work if I use the id for the link-to.

Closing this.

[2018-10-12 18:19] #14984 closed

[2018-10-12 18:22] pixelhandler commented on #14712
@jherdman well the original jsbin is using old version of Ember and ember-twiddle doesn't run in IE. I see the https://github.com/PrecisionNutrition/input-helper-demo/blob/ie11/package.json example perhaps it can be update to a current release of Ember?

[2018-10-12 18:29] pixelhandler commented on #13747
@kellyselden I updated the twiddle with the current release, I see the issue.

How about making a component with events to mask input?

[code]

[2018-10-12 18:30] pixelhandler commented on #5526
@H1D I'll close this issue for now, perhaps reach out on the Ember Discord help channel to discuss further.

[2018-10-12 18:30] #5526 closed

[2018-10-12 18:33] pixelhandler commented on #10870
@emberjs/learning-team-managers perhps worth documenting ? do we have a section on security?

[2018-10-12 18:35] pixelhandler commented on #11678
Closing for now there are plenty of ways to create a working change event

[2018-10-12 18:35] #11678 closed

[2018-10-12 19:51] boris-petrov commented on #16997
@pixelhandler - if you add a `js` file then the issue goes away even with `template-only-glimmer-components` = true. This is how we worked around the problem. I haven't tried with `template-only-glimmer-components` = false - I'll get back to you about that on Monday if you need it as information. But in any case I don't see a reason for such a discrepancy between a component with and without a `js

[2018-10-12 20:41] jamesarosen commented on #17117
`Ember.A(7).slice == null`. I wonder if some race condition is causing `this.get('all')` to be something invalid.

[2018-10-12 21:41] jamesarosen commented on #17117
I logged `all` and got
[code]
That looks like `this.get('all')` returned the `all` property rather than the _value_ of it.

My guess is that this is user-error, though I haven't quite tracked it down.

[2018-10-12 21:57] jamesarosen commented on #17117
The computed property is definitely the result of [makeLocal](https://github.com/mharris717/ember-cli-pagination/blob/9f43e32c14f024fac6d7aab45f51f651cc61e5b4/addon/computed/paged-array.js), which effectively calls
[code]

I wonder whether `.create` with an `Ember.computed.alias` is the problem. Perhaps it now needs to be `.extend(…).create()`.

[2018-10-12 22:13] jamesarosen commented on #17117
It looks like this was solved in ember-cli-pagination@3.1.3.

[2018-10-12 22:13] #17117 closed

[2018-10-13 16:08] rwjblue commented on #17052
Added a few more todo items:

* Guides
* Enable by default

[2018-10-13 16:09] rwjblue commented on #17052
@josemarluedke - Interested in picking up the guides work also?

[2018-10-13 16:12] #17016 closed

[2018-10-13 19:54] ef4 commented on #17021
I'm not sure what the plan is for PromiseProxyMixin. It should work fine with native promises, but its public API proxies a method (`finally`) that isn't on native Promise, so I don't know how to make typescript happy about that. Seems worth opening a separate issue to discuss.

[2018-10-13 21:48] jherdman commented on #14712
@pixelhandler done, and done!

[2018-10-14 15:33] ohcibi opened #17118 "Cannot read property 'name' of undefined when trying to set queryParams in beforeModel"
I'm getting the error `TypeError: Cannot read property 'name' of undefined` when trying to `this.transitionTo({ queryParams: { somParam: 'someValue' } })` in this very line: https://github.com/emberjs/ember.js/blob/bef860222ac1ce8b86c9e2ed129e24beb0c07132/packages/%40ember/-internals/routing/lib/system/router.ts#L1083

I debugged it and it appears that `handlerInfos` is an empty array and therefor

[2018-10-14 15:39] ohcibi commented on #14875
I'm seeing this on 3.4.0 but I cannot reproduce it in a twiddle. I get the very same stacktrace mentioned above and I found that in the line the exception is thrown, the problem is that that `.name` property is tried to get from on object out of an empty array. I'd say there has to be a check if that array is empty which throws a better error message. I created #17118 to address this specifically.

[2018-10-14 18:19] YoranBrondsema commented on #17052
@rwjblue Saw this issue and don't think that @josemarluedke had picked up the guide yet. So wrote a short blurb in the guide in https://github.com/ember-learn/guides-source/pull/209.

[2018-10-14 22:55] rwjblue commented on #17052
Nice, thank you!

[2018-10-15 09:15] pieter-v commented on #17113
@pixelhandler I use already the workaround, thanks.

I don't agree that this is not a bug:
According the documentation of [`MutableArray#pushObjects`](https://www.emberjs.com/api/ember/3.5/classes/MutableArray/methods/pushObjects?anchor=pushObjects), it accepts an `EmberArray`.
And according the documentation of [`ArrayProxy`](https://www.emberjs.com/api/ember/3.5/classes/ArrayProxy/) it is also a

[2018-10-15 12:45] DLiblik commented on #17012
Sorry to have not responded sooner - somehow I missed the original response from @rwjblue.

The use case was for creating (deliberately) the type of object that's returned from the `hash` helper - basic, clean, immutable.

[2018-10-15 12:54] DLiblik commented on #17012
And so the obvious question: is there a way to do this - i.e. when writing custom helpers, how can an object congruent with those semantics be generated in code?

[2018-10-15 13:00] xe21500 commented on #16262
@pixelhandler updated the test repo to 3.5.0, the issue still happens. Thank you!

[2018-10-15 16:07] buschtoens commented on #16881
Bug is still present in latest `v3.5.0` release: https://unpkg.com/ember-source@3.5.0/dist/ember.prod.js

This effectively prevents us from upgrading, because our Sentry stack traces for `vendor.js` are unparseable. I would love to help fixing this, but I know too little about Ember's internal build pipeline. If I could get some pointers of potential sites of interest, I'll start investigating. 🕵️

[2018-10-15 17:28] rwjblue commented on #17012
You should use `Object.create(null)` to create objects without prototype methods/properties/etc. I don't think we ever intended `Ember.Object.create(null)` to actually do this...

[2018-10-15 19:59] Nippius opened #17119 ""Could not find module" after upgrading to ember-cli 3.5.0"
Hi everyone.

I updated to ember-cli to version 3.5.0 and now I'm getting this error when building my application:

![image](https://user-images.githubusercontent.com/1528640/46974552-3c5da800-d0bc-11e8-9c31-b2eb38fcd1e4.png)

and this is the output of ```ember b````:

![image](https://user-images.githubusercontent.com/1528640/46974729-c1e15800-d0bc-11e8-99b8-a105a8a8bca7.png)

output for ```ember

[2018-10-15 23:10] chriskrycho commented on #17021
I've added a comment over on the ember-cli-typescript issue linked above in this thread clarifying why our types are what they are and what some possible workarounds may be.

[2018-10-16 12:51] nickschot commented on #17032
@pixelhandler I did some more debugging and the test case is pretty simple. I will update the main post with my new findings. Meanwhile a reproduction can be found: https://ember-twiddle.com/d3b2742a7156454f2ece80d6c26d2581?openFiles=controllers.application.js%2C

[2018-10-16 13:11] iezer opened #17120 "Issue regarding precedence of helpers and properties in angle-bracket components"
If I have helper called `changeset` and also a property on a component called `changeset`, these two code examples work differently in Ember 3.4:

 1. `{{my-child changeset=changeset}}`  Passes in the "changeset" property
 1. `<MyChild @changeset={{changeset}} />` Calls the "changeset" helper with no arguments.

However, 2. works the same as 1. if you're using Ember 3.3 with [ember-angle-bracket-i

[2018-10-16 13:53] rwjblue commented on #17119
Can you share a reproduction repo for this? ember-data itself tests against canary builds, and I just double checked that this isn't an issue on recent builds...

[2018-10-16 13:59] rwjblue commented on #17120
ember-template-lint includes a [no-implicit-this](https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-implicit-this.md) specifically to catch this case in existing code. We should likely fix the polyfill to have consistent behavior to the real feature (always calling the helper), would you mind making an issue (or even a failing test PR)?

[2018-10-16 14:15] iezer commented on #17120
I've opened https://github.com/rwjblue/ember-angle-bracket-invocation-polyfill/issues/50 and when I have time I'll write the failing test.

[2018-10-16 14:36] rwjblue commented on #17042
Yes, it is the same issue.

[2018-10-16 19:24] chancancode opened #17121 "local variables should always win over helper"
We tried to fix this in #14520, but apparently we didn't catch all the cases.

Reproduction: https://ember-twiddle.com/dcce0cd429ceb1d454d62988937bfd15?openFiles=templates.application.hbs%2C

Options are:

1. just fix it
2. error for one cycle then fix
3. deprecate for one LTS cycle then fix

[2018-10-16 19:31] chancancode commented on #17121
imo, these are also bugs but in the sub-expression positions, but that's probably more controversial: https://ember-twiddle.com/95790479cef1d910bdc12ffcfc446149?openFiles=templates.application.hbs%2C (cc @wycats @mmun)

[2018-10-16 19:41] Nippius commented on #17119
Sure, you can use my project (the one where I took the screenshots from): https://github.com/Nippius/digitalillusion-frontend

[2018-10-16 19:44] Nippius commented on #17119
On side note, the travis build fails for a different reason. There seems to be an issue with the eslint:

![image](https://user-images.githubusercontent.com/1528640/47042889-3c28df80-d184-11e8-88d6-238deba5f994.png)

[2018-10-16 19:53] chancancode commented on #17121
Not sure if the approach is still good for the current glimmer codebase, but here was the last patch that fixed the `{{foo}}` cases: https://github.com/glimmerjs/glimmer-vm/pull/335

[2018-10-17 09:00] thebala opened #17123 "Queryparam issue on long running transitions"
When transitioning from one route to other route, if the before transition is incomplete, the queryparams of the former route is being set to the latter route. This is because, we get the former route's transition object as active transition in [_processActiveTransitionQueryParams](https://github.com/emberjs/ember.js/blob/bef860222ac1ce8b86c9e2ed129e24beb0c07132/packages/%40ember/-internals/routin

[2018-10-17 09:21] GavinJoyce opened #17124 "Memory leak when changing routes"
It appears that there is a memory leak present in Ember versions 3.0, 3.1, 3.2, 3.3, 3.4 & 3.5 when changing routes which render hbs+js components. We first noticed this when looking into user reports of our app showing memory usage warnings in Safari.

I've created a reproduction in a simple Ember 3.5 app here: https://github.com/GavinJoyce/memory-lake. Every second, this app switches back and fo

[2018-10-17 10:07] teakap commented on #14875
I am using 2.18.2 and had the same error. Canceling the transition from the [transition object](https://www.emberjs.com/api/ember/2.14/classes/Transition/methods) did the trick for me. My use case was handling a `401` on the `error` hook.

[code]

[2018-10-17 10:17] rwjblue commented on #17124
Thank you for reporting!

[2018-10-17 10:30] GavinJoyce commented on #17124
I've tested a few versions, 3.0, 3.1 and 3.5 I think. All exhibited the same memory leak.

I don't believe that it's related, I added the option feature as part of my investigations. I believe that the  memory leak is present when rendering hbs+js components and not when rendering hbs only components. I'll verify both now

[2018-10-17 10:37] GavinJoyce commented on #17124
Actually, it does appear to happen with template only components too:

![template-only](https://user-images.githubusercontent.com/2526/47080856-037b1b80-d201-11e8-9408-71a9ebb849e1.gif)

[2018-10-17 10:43] GavinJoyce commented on #17124
I've confirmed it also happens with `"template-only-glimmer-components": false`

[2018-10-17 10:50] GavinJoyce commented on #17124
It does seem to be related to route transitions. Here's the same components being rendered and removed without a route transition, notice that the memory usage is static:

![without-route-transition](https://user-images.githubusercontent.com/2526/47081540-d0d22280-d202-11e8-9dcc-415ab75f58bc.gif)

[2018-10-17 11:05] GavinJoyce commented on #17124
I'm seeing a large number of BlockTrackers seemingly being retained:

<img width="1438" alt="screen shot 2018-10-17 at 12 01 37" src="https://user-images.githubusercontent.com/2526/47082106-818cf180-d204-11e8-9ea7-cdc4969fd543.png">

[2018-10-17 11:35] GavinJoyce commented on #17124
There's some context on efforts to track down and address recent memory leaks here:

https://discuss.emberjs.com/t/datadown-to-a-component-leads-to-memory-leak/14649

[2018-10-17 12:11] rwwagner90 commented on #15977
@rwjblue I'm fine with tracking in inspector, we definitely need a game plan to support all the various possible component types, tagless, template only, etc.

[2018-10-17 12:45] GavinJoyce commented on #17124
If I drill into the objects with the largest retained size, I come across many components are in a state of `"destroying"`:

<img width="1438" alt="screen shot 2018-10-17 at 13 42 14" src="https://user-images.githubusercontent.com/2526/47086954-ba33c780-d212-11e8-8aea-ed2409625085.png">

There seems to be a very large number of retained `ComponentStateBucket`s:

<img width="1440" alt="screen shot

[2018-10-17 12:52] gokatz commented on #17123
Is it enough if we check [here](https://github.com/emberjs/ember.js/blob/bef860222ac1ce8b86c9e2ed129e24beb0c07132/packages/%40ember/-internals/routing/lib/system/router.ts#L1010) that the `activeTransition` is as same as that of the `targetRouteName`, as refreshing the route after qp being set will trigger the current route refresh?

like,
[code]

[2018-10-17 16:31] vcipriani commented on #16980
In Ember 3.2, using `set` to set computed properties was deprecated.  The team's recommendation is to use defineProperty (see https://www.emberjs.com/deprecations/v3.x/#toc_ember-meta-descriptor-on-object).

Based on the current messaging, if there is any intention of supporting programmatic setting of computed properties, it appears that this is a bug and defineProperty should not be private.

[2018-10-17 16:47] rwjblue commented on #16980
See https://github.com/emberjs/ember.js/pull/17028, `defineProperty` is public api now. 😈

[2018-10-18 13:41] Turbo87 commented on #16881
0af67912566b437cd96305af342b7be54fe98097 is the first bad commit
commit 0af67912566b437cd96305af342b7be54fe98097
Author: Robert Jackson <rjackson@linkedin.com>
Date:   Thu Apr 12 13:20:38 2018 -0400

    Move error handling code up into standalone package.

    This simplifies a possible cycle between ember-metal and @ember/runloop.

    Also migrate to typescript...

:040000 040000 c74895a3e2f2d8

[2018-10-18 13:47] Turbo87 commented on #16881
a day earlier https://github.com/emberjs/ember.js/pull/16482 was merged, which is likely the actual cause of this issue 🤔

[2018-10-18 15:43] rwjblue opened #17129 "Update backburner.js to 2.4.1."
Just published a fix for an oddity in timers spanning "system sleep", we need to bump the version of backburner.js used in Ember to get that fix.

- `yarn upgrade backburner.js@^2.4.1`
- commit with `[BUGFIX lts] Update backburner.js to 2.4.1.`
- 🙇

Notating here so I don't forget, but hoping someone else gets to it before me 😄...

[2018-10-18 16:01] #16881 closed

[2018-10-18 17:17] #17129 closed

[2018-10-19 15:37] #16483 closed

[2018-10-19 15:40] pixelhandler commented on #13164
This appears to still be an issue I updated the ember-twiddle example, https://ember-twiddle.com/5e91f27f1df42b6e41231f53a12af3da?openFiles=application.controller.js%2C

[2018-10-19 15:59] pixelhandler commented on #15988
@Turbo87 @cibernox @karthiicksiva @locks @mikerhyssmith @rwjblue @t-sauer @thoov is this still an issue, perhaps we should close, what do you think?

[2018-10-19 16:04] pixelhandler commented on #16792
I updated the twiddle for a current release, https://ember-twiddle.com/e6adf63e05450c6c8df4b6b9ae0b8bab?openFiles=components.test-component.js%2Ctemplates.components.test-component.hbs

[2018-10-19 16:42] pixelhandler commented on #16844
@Turbo87 got it, thanks!

[2018-10-19 16:48] Turbo87 commented on #16844
this might have been fixed by https://github.com/emberjs/ember.js/pull/17128 too. not released yet though.

[2018-10-19 16:51] pixelhandler commented on #17123
@thebala I see the example twiddle you shared, can you explain your steps to reproduce, e.g. and what you expected, and what is actually happening? E.g. ...

Steps to reproduce
- click on about/contact route
- click on other one

Expected Result
- qp value is...

Actual Result
- qp did...

That would help clarify how to work on this issue

[2018-10-19 16:59] pixelhandler commented on #17118
@ohcibi well if creating an example reproduction of the issue in a twiddle is not working out, perhaps create an example project and share the link to clone the repository.

[2018-10-19 17:09] gokatz commented on #17123
**Steps to reproduce**

- click on **contact** route
- click on `setQp` button. This will set a quary param, `qp` with value "contact" in th contact route.
-  click on **about** route
-  click on **contact** route
-  click on **about** route before the loading state of **contact** route finishes (increasing the timeout may help)

**Expected Vs Actual Result**

After performing all the steps mentio

[2018-10-19 17:13] pixelhandler commented on #17048
@n8n8baby can you make the gist for your twiddle public? no one can see your example reproduction

[2018-10-19 17:37] pixelhandler commented on #16980
@vcipriani See this twiddle, defineProperty is working, just need to notify the change since the property is setup async via timeout.

- https://ember-twiddle.com/8dede2230a67edb02c0a1dabd6b548c4?openFiles=controllers.application.js%2C

[2018-10-19 17:37] #16980 closed

[2018-10-19 17:52] pixelhandler commented on #16134
@pzuraq should this one be closed?

[2018-10-19 18:15] #17121 closed

[2018-10-19 20:05] ohcibi commented on #17118
I was able to do that in the meantime... I pushed it to ohcibi/erstifahrt and pushed the `wip/activation-flash-message` branch only but in case I messed up, check out that branch explicitly. Then simply `npm start` and open `localhost:4200/anmeldung/1?activated=1`. The app should redirect you to the same route without the query param but said error will still be thrown.

[2018-10-19 20:13] GavinJoyce commented on #17124
It looks like we may be leaking backburner timers, `timers.length` seems to grow each time I switch route and the memory profiler seems to point there too:

![timers](https://user-images.githubusercontent.com/2526/47241427-8fe53400-d3e3-11e8-8313-ef987bb68343.gif)

Here's the `timers` after switching in and out of the route one more time:

![timers2](https://user-images.githubusercontent.com/2526/

[2018-10-19 20:31] GavinJoyce commented on #17124
Hmm, it appears that I may have caused the memory leak by incorrectly using a `run.later` in a component. I'm not using [`ember-lifeline`](https://github.com/ember-lifeline/ember-lifeline) or [`ember-concurrency`](http://ember-concurrency.com) in my test app and I forgot to ensure that the `run.later` was cancelled before the component was destroyed.

Without the `run.laters`, the browser tab memo

[2018-10-19 20:44] GavinJoyce commented on #17124
I'm going to close this issue as it was my mistake in the test app which resulted in the significant memory leak (I [fixed it here](https://github.com/GavinJoyce/memory-lake/commit/59a3cdb44e64f10be46b9ebdf8f87624e3bb1bf8)). I've also verified that the significant memory growth is no longer present in chrome or safari:

![safari1](https://user-images.githubusercontent.com/2526/47242857-100d9880-d3

[2018-10-19 20:44] #17124 closed

[2018-10-20 09:33] pranavdubase opened #17139 "How to create dynamic model in ember data"
I am trying to create a dynamic ember data models.I have tried this code in `route\user` like:
[code]
after creating a model for `this.store.findAll(user)`. but it's not working and it shows model user is not defined.

[2018-10-21 14:37] sarbbottam opened #17141 "Question: Is there a way to force re-render a component?"
Hi there,

With respect to https://github.com/linkedin/self-focused/issues/2, I am wondering if there is a way to force re-render a component so that `didRender` life cycle hook can be executed.

Also, I am a bit confused on the following behavior of the existing test app in https://github.com/linkedin/self-focused/tree/master/packages/ember-self-focused.

After loading:

- Click "Topics"
- Click

[2018-10-21 15:53] Nippius commented on #17119
Ok after a little testing I managed to "fix" the problem by updating the following packages:

* ember-ajax -> 3.1.2
* ember-cli-babel -> 6.17.2
* ember-cli-htmlbars -> 2.0.5
* ember-cli-htmlbars-inline-precompile -> 1.0.5
* ember-qunit -> 3.5.3

I'll see if I can pinpoint wich package in particular is causing the problem.

[2018-10-21 16:08] Nippius commented on #17119
It appears the issue is related to ember-cli-babel. Updating it to version 6.17.2 fixes the problem. I'll open an issue in their repository.

[2018-10-22 10:48] rwjblue commented on #17048
Sounds like it may be a duplicate of https://github.com/emberjs/ember.js/issues/16826?

[2018-10-22 15:28] chadhietala opened #17142 "[META] Element Modifier Manager"
- [x] Land Glimmer-VM Upgrade that introduce the concept of `ModifierDefinitonState` #17051
- [ ] Create modifier manager delegate (possibly unify with custom component manager delegate)
- [ ] Update `lookupModifier` on the `RuntimeResolver`
- [ ] Determine if `{{action}}` can/should leverage the public manager
- [ ] Wrap in feature flag

[2018-10-22 15:30] #14992 closed

[2018-10-22 17:31] rwjblue commented on #16989
the patch already landed, and will be included in the next 3.4.x version (hopefully releasing today/tomorrow)

[2018-10-22 17:31] #16989 closed

[2018-10-23 15:02] samselikoff commented on #16826
I'm actually confused why this is ambiguous:

[code]

Don't angle-bracket components need to be invoked with a capital letter?

[2018-10-23 15:21] mpirio commented on #12505
It seems it still an issue : https://ember-twiddle.com/fe0e87339fd079e212d5713f5288ce58?openFiles=twiddle.json%2C&route=%2Fb

[2018-10-23 15:31] rwjblue commented on #16826
No, see [the dynamic invocation section](https://github.com/emberjs/rfcs/blob/master/text/0311-angle-bracket-invocation.md#dynamic-invocations) of the RFC for background.

[2018-10-24 07:45] gossi opened #17147 "Glimmer/Angle-Bracket splattributes problems"
After a discussion yesterday with @rwjblue on discord I had some problems with `...attributes` not being displayed. So he ensured them with a test in #17145

This morning I tried to recreate the tests in my code and was able to replicate the results. This got me thinking and I run more tests.
Bascially, I have template-only-glimmer components (I do have a class according to it but it has an empty

[2018-10-24 10:34] rwjblue commented on #17147
@gossi - Would you mind submitting a failing test case like the ones I added in https://github.com/emberjs/ember.js/pull/17145?

[2018-10-24 10:36] rwjblue commented on #17147
From what I can see in the description above, you are seeing that `disabled` when passed in the invocation without a value doesn’t get added to the `button` element (but it does if the element in question is `div`), is that right?

[2018-10-24 13:07] jbailey4 commented on #15966
Recently ran into this as well. My app was setting a string action on `modal-dialog`'s `onClose` attr, which relied on the pre-2.18 `sendAction` semantics. Using the `action` helper and setting an actual function to the `onClose` attr fixed the problem for me.

Not sure if this regression would be consider a breaking change though, since the `Component.target` prop was private and undocumented...

[2018-10-24 13:31] gossi commented on #17147
I was visually inspecting the DOM tree with the "Elements" tab from chrome devtools. But additionally I was testing for CSS `:disabled` state. They weren't triggered, so I am pretty sure, it didn't work.

Will provide a failing test later on.

[2018-10-24 18:53] ryanrishi commented on #15098
@pixelhandler I believe this is still an issue—[here](https://ember-twiddle.com/8d533ef878f5020c665887cfb635d415?openFiles=twiddle.json%2C) is a twiddle reproducing the issue on Ember 2.18.

Haven't been able to figure out a fix. @VitaliyShevchenko what were you trying to develop when you encountered this? I was trying to have some sort of filterable and sortable list, so I'm thinking that this is

[2018-10-24 21:12] buschtoens opened #17150 "v3.6.0-beta.1: redirect causes `visit` test helper to fail"
I have a test case like:

[code]

Prior to `v3.6.0-beta.1` (`v3.5.0` to be precise) this test worked.
Now it fails with a `TransitionAborted` error. Adding a noop catch clause fixes it:

[code]

Is this expected behavior? Do we want redirects to bubble up to the `visit` helper as a `TransitionAborted` error?

[2018-10-25 12:18] VitaliyShevchenko commented on #15098
@ryanrishi I just checked your twiddle. Please, take a look below code from your example:
`playlist: reads('sortedContent'),`
I changed it to **Ember.computed** :
``playlist: Ember.computed('sortedContent', function() {
               return this.get('sortedContent');
}),
``
And it's working now.
Why are you using **read** alias for this things?
Except that, I saw, that you defined  **playlist** p

[2018-10-25 17:04] chrisseto commented on #17150
Possibly related https://github.com/emberjs/ember-test-helpers/issues/332

[2018-10-25 17:29] buschtoens commented on #17150
What I find weird, is that it used to work before. But yeah, possibly related. ☺️

[2018-10-25 17:41] wagenet opened #17152 "TransitionAbort raised in tests when redirecting"
See https://github.com/wagenet/ember-transition-abort-test which passes on latest and beta, but fails on canary, as visible here: https://travis-ci.com/wagenet/ember-transition-abort-test.

The commit that causes issues is 9b7e0f58542bb3bccbfdbb6cc2da1890b7ee4f06, though on the face of it, it should be unobjectionable.

[2018-10-25 20:09] rwjblue commented on #17150
Related to https://github.com/emberjs/ember.js/issues/17152...

[2018-10-25 20:09] rwjblue commented on #17152
Possible duplicate of #17150

[2018-10-25 20:16] wagenet commented on #17150
Looks like the same as #17152.

See https://github.com/wagenet/ember-transition-abort-test which passes on latest and beta, but fails on canary, as visible here: https://travis-ci.com/wagenet/ember-transition-abort-test.

The commit that causes issues is 9b7e0f5, though on the face of it, it should be unobjectionable.

[2018-10-25 20:16] #17152 closed

[2018-10-26 14:07] buschtoens opened #17154 "canary: Can't use `{{some.yielded.component arg="foo"}}` syntax"
[Latest canary](https://s3.amazonaws.com/builds.emberjs.com/canary/shas/dec37c32654b2a2ccae190611e9eca72f2277f29.tgz) dec37c32654b2a2ccae190611e9eca72f2277f29 breaks when yielded / contextual components are directly invoked with arguments using just the path expression without the `{{component}}` helper:

[code]

[code]

However, this _only_ happens in production builds. I assume that this is beca

[2018-10-26 15:34] rwjblue commented on #17154
Can you share a reproduction repo? I'm trying to determine if the template compilation is happening in the correct environment...

[2018-10-26 15:47] buschtoens commented on #17154
Sure, I'll prep one later in the evening.

[2018-10-26 15:50] rwjblue commented on #17154
Thank you!

[2018-10-26 18:29] vcipriani commented on #16980
Thank you.  This did fix the issue for us,

[2018-10-26 19:05] pixelhandler commented on #16133
I was not able to reproduce using ember-cli v3.5, closing for now.

[2018-10-26 19:05] #16133 closed

[2018-10-26 19:07] pixelhandler commented on #15598
Closing for now, feel free to re-open if you can reproduce in the current release of Ember.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-10-26 19:07] #15598 closed

[2018-10-26 19:08] pixelhandler commented on #15291
Closing for now, feel free to re-open if you can reproduce in the current release of Ember.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-10-26 19:08] #15291 closed

[2018-10-26 19:09] pixelhandler commented on #15202
Closing for now, feel free to re-open if you can reproduce in the current release of Ember.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-10-26 19:09] #15202 closed

[2018-10-26 19:19] pixelhandler commented on #15098
Closing for now, I don't believe this is a bug in Ember.

[2018-10-26 19:19] #15098 closed

[2018-10-26 19:45] alexdiliberto opened #17156 "TypeError: with Native Class syntax on certain lifecycle hooks when calling `super`"
Converting an app over to use native classes and noticed some component hooks throw errors when calling their superclass equivalent hook. `didReceiveAttrs` is an example of one hook which will error

@rwjblue helped answer my question today on Discord
[code]

---------

[code]

[code]

[2018-10-26 20:03] jdurand commented on #16269
Rolled back to ember-source@3.1.4 (without touching anything else) this morning and the error stopped popping up in my logs.

[2018-10-26 20:46] ryanrishi commented on #15098
Thanks @VitaliyShevchenko for taking a look. I'm using `reads` so that the controller doesn't overwrite the `sortedContent` from the sortable mixin (which has `sortedContent: sort('sortableContent', 'sortKeys')`). This particular example doesn't do that, but in a larger application it may help to have `reads` in there so that code that uses the sortable mixin doesn't overwrite `sortedContent`. FWI

[2018-10-26 22:21] pixelhandler commented on #15059
Seems fine in Ember v3.5, https://ember-twiddle.com/533c63cafba79951417e490f91957c2a?openFiles=twiddle.json%2C closing this out for now.

[2018-10-26 22:21] #15059 closed

[2018-10-26 22:28] pixelhandler commented on #10120
Closing for now, feel free to re-open if you can reproduce in the current release of Ember.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-10-26 22:28] #10120 closed

[2018-10-26 22:29] pixelhandler commented on #5210
@btecu could you update your example to Ember 3.5 ?

[2018-10-26 22:30] pixelhandler commented on #15072
Closing for now, feel free to re-open if you can reproduce in the current release of Ember.

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy

[2018-10-26 22:30] #15072 closed

[2018-10-26 22:31] pixelhandler commented on #16372
@stefanpenner any idea on what the next steps for this issue are?

[2018-10-26 22:35] pixelhandler commented on #17156
@alexdiliberto within the hooks, we should only call super.hookname if we know the parent calls has that same hook defined. Otherwise, calling `super.didReceiveAttrs(...arguments);`. I think that may be part of the application refactoring, not necessarily an Ember bug.

[2018-10-26 22:38] amk221 commented on #14615
FWIW the twiddle demonstrates it's still an issue, so does the failing test I wrote, as mentioned previously I don't have enough knowledge of the area to fix it.

[2018-10-26 22:58] pixelhandler commented on #17141
@sarbbottam thanks for asking the question :)

The best place will be to reach out in the community forum or chat, see https://www.emberjs.com/community/

We use the issues here to track bugs in the Ember.js framework itself. You'll get more help using the Discord chat than on the GitHub issue tracker.

[2018-10-26 22:59] pixelhandler commented on #17139
@pranavdubase thanks for asking the question :)

The best place will be to reach out in the community forum or chat, see https://www.emberjs.com/community/

We use the issues here to track bugs in the Ember.js framework itself. You'll get more help using the Discord chat than on the GitHub issue tracker.

[2018-10-27 02:57] rwjblue commented on #17156
Ya, I think we should ensure that all of the component hooks are defined on the base class. It’s actually important unrelated to using native classes (it helps ensure consistent shapes and whatnot)...

[2018-10-27 14:49] buschtoens commented on #17154
Interestingly, it seems like it isn't that simple. I can't directly reproduce the error, but I'll dig deeper in the next days.

https://github.com/buschtoens/repro-implicit-component-helper-argument

[2018-10-27 18:05] NullVoxPopuli commented on #16373
those can all be removed now. check this out: https://github.com/ember-cli/ember-cli/pull/8157/files

[2018-10-27 19:37] NullVoxPopuli commented on #16373
Some work on multiple dummy apps / isModuleUnification detection here: https://github.com/ember-cli/ember-cli/pull/8158

[2018-10-28 17:46] psteininger commented on #14615
@pixelhandler @amk221 I missed earlier messages (Gmail sticks them deep in these silly tabs). This is still an issue. I don't remember the nitty gritty of the issue, but the above `handlerInfosEqual` was at the root of the issue.

[2018-10-28 19:56] izelnakri opened #17158 "Nested components with <AngleBrackets />"
Hi there,

I started using <AngleBrackets /> for the first time this weekend and found some important issues I would like to raise.

Previously I've been using nested components to group my `form` and `modal` window components. Example:

[code]

For larger applications grouping `form` and `modal` related components under a folder make a lot of sense and encourages greater level of usability when i

[2018-10-28 22:36] runspired opened #17159 "Child routes cannot re-use param names of parent routes"
Twiddle: https://ember-twiddle.com/84ca6381ddc9ed65dffe9916a102e7f0?openFiles=twiddle.json%2C&route=%2Fparent%2F1%2Fchild%2F1

## Setup

[code]

[code]

### Expected Outcome

- `link-to` points to the url `/parent/1/child/2`
- `id` param given to parent is `1`
- `id` param given to child is `2`
- `url` after transitioning is updated to `/parent/1/child/2`

### Observed Outcome

- [BUG] `link-to` p

[2018-10-29 12:40] fpauser commented on #12505
Yep - its still an issue.

[2018-10-29 16:01] boris-petrov commented on #17042
@rwjblue - is there any timeframe on fixing this? Do you have any idea where the problem might be? Because we've been hitting this a lot when using native classes in TypeScript (and using the language with `.extend` sucks a lot) and I wonder whether to postpone migrating to TypeScript more of our code.

[2018-10-29 19:20] rwjblue commented on #17150
Hmm, the fix above definitely addressed the reproduction that @wagenet shared but I'm not 100% sure it will fix the issue @buschtoens has. The commit that I reverted (https://github.com/emberjs/ember.js/commit/9b7e0f58542bb3bccbfdbb6cc2da1890b7ee4f06) doesn't exist in the current beta branch...

@buschtoens - Can you help us track this down with a reproduction?

[2018-10-29 21:05] rwjblue commented on #17159
This seems (unfortunately) like designed behavior. The params are held in a single level POJO where the keys are the dynamic segment name. There really isn't anything we can do with that data structure to allow duplicates...

We could assert that you've used the same dynamic segment as a parent, but then I suspect that at least _some_ apps rely on the clobbering here....

[2018-10-29 21:08] rwjblue commented on #17158
As I read through this issue, it's not immediately clear to me specifically being requested. It _seems_ like you are talking about yielded contextual components based on the first template snippet (which works perfectly fine with angle bracket invocation), but then you mention the desire to invoke components nested inside directories.

More information about angle bracket invocation is being worke

[2018-10-29 23:38] transitorytammy commented on #11996
hi @rwjblue.  I am working on doing an Ember upgrade and am working on removing `needs:`  per https://www.emberjs.com/deprecations/v1.x/#toc_controller-needs

I am seeing that error mentioned above.

```error-handler.js:15 ReferenceError: <builder@controller:distribute/link::ember2849>#needs does not include `survey`. To access the survey controller from <builder@controller:distribute/link::ember2

[2018-10-30 20:25] cibernox opened #17161 "Contextual components invoked with angle-brackets don't work if they receive splattributes"
I first thought it was a bug in [ember-element-helper](https://github.com/tildeio/ember-element-helper) so I reported it [here](https://github.com/tildeio/ember-element-helper/pull/1)

Then I found a reproduction that doesn't involve it at all, so this seems to be a bug in ember/glimmer with contextual component invoked with splattributes.

I created a failing test for this: https://github.com/emb

[2018-10-30 20:57] transitorytammy commented on #11996
Oh...it seems like my issue was that our templates were still referencing `controllers.survey` and after updating to just `survey` it worked.  :)

[2018-10-31 09:17] pieter-v opened #17162 "v3.6.0-beta.2 RouterService doesn't update the currentRoute after a loading route is used"
If the route `slow` returns a promise, then the `slow-loading` route is entered.
After the promise is resolved, then transition to `slow` is completed.

The `currentRouteName` of the `RouterService` is correct updated, but the `currentRoute` still references the `slow-loading` route.

(I also tried it with canary)

See https://github.com/pieter-v/ember-loading for an example.

[2018-10-31 11:05] pieter-v commented on #17162
I added a child route with a param to the `slow` route.
In the `beforeModel` of the child route the `transition.to` points to the `slow_loading` route. So the parameter is not accessible in the beforeModel.

Run the example and use this url: http://localhost:4200/slow/123

[2018-10-31 13:10] pieter-v opened #17164 "v3.6.0-beta.2 abort a transition and route to an intermediate transition fails"
The following code fails
[code]
The error is:
[code]
An example repo can be found at: https://github.com/pieter-v/ember-transition
Point your browser at http://localhost:4200/aa and click on the `bb` link.
The `aa` route will abort the transition and intermediateTransitionTo('cc');

[2018-10-31 13:18] rwjblue commented on #17164
Thank you for reporting!

[2018-10-31 13:19] rwjblue commented on #17162
Thank you for reporting!

@chadhietala - Mind taking a look?

[2018-10-31 15:39] #16510 closed

[2018-10-31 15:40] chancancode commented on #16510
dot rule was removed in #17135

[2018-10-31 22:15] pzuraq commented on #17156
@rwjblue if that's the case we should probably try to get this into 3.6, no? I'll submit a PR asap

[2018-11-01 10:53] #17156 closed

[2018-11-01 20:52] bekzod opened #17172 "v3.6.0-beta.2 -assert-implicit-component-helper-argument error"
in production builds this lines are not being striped https://github.com/emberjs/ember.js/blob/master/packages/ember-template-compiler/lib/plugins/transform-component-invocation.ts#L214-L231

here is screenshot of `ember-template-compiler.js` file from ember-source@v3.6.0-beta.2
https://cl.ly/5a41e4cae417/Screen%20Shot%202018-11-02%20at%201.47.48%20AM.png
not sure if `ember-template-compiler` has

[2018-11-01 20:55] bekzod commented on #17172
cc @chancancode

[2018-11-02 03:10] thilinadinith opened #17175 "this.resource() with new this.route() in ember for highly nested routes not working"
im in the process of upgrading ember1.x to 3.x and i have an issue with router where it was used this.resource for nested routes and now it is depreciated and changed to this.route

but when it comes to nested route its not working anymore if i futher explain, let say

[code]
This was before and i was routing to the last route as
`
this.transitionTo('parent111', id)`
this worked perfectly.

then i

[2018-11-02 03:16] locks commented on #17175
@thilinadinith have you moved the files to the right place in the project structure? For `parent1.parent11.parent111 `'s controller, it should be `app/controllers/parent1/parent11/parent111.js`, for example.

[2018-11-02 03:20] thilinadinith commented on #17175
my project structure is like
parent 1
parent 11
parent 111

according to you it should be
parent1
 -> parent11
    -> parent111

i will change and let you know. thanks for the fast response

[2018-11-02 03:40] thilinadinith commented on #17175
the child is trying to read parents model in its model(){} but where im extending parent's route to child. in there im getting issue for `this.modelFor( 'parent11' ).get( 'attribute' );`
child route is extended as
[code]

[2018-11-02 03:48] thilinadinith commented on #17175
@locks  i tried  `this.modelFor( 'parent1.parent11' ).get( 'attribute' ); `
as well but no luck.

error im getting is

[2018-11-02 04:11] thilinadinith commented on #17175
its is working i misspelled the parent1 in  ` this.modelFor( 'parent1.parent11' ).get( 'attribute' ); `

thank you for the support @locks

[2018-11-02 04:11] #17175 closed

[2018-11-02 13:34] ppcano commented on #16995
@locks

1. I have reviewed again this issue and it looks the documentation is not clear or wrong.

On the *Layouts* section of the [Component doc](https://www.emberjs.com/api/ember/3.5/classes/Component/), the following example looks to indicate that the `layout` template will be yielded into the component default template.

[code]

[code]

[code]

Here a [Twiddle](https://ember-twiddle.com/99d050

[2018-11-02 22:03] cadeParade commented on #5566
This was happening to me in a test only, specifically after upgrading tests to the new(ish) RFC. As @cesarluis13915  said, removing `return` fixed my test.

[2018-11-04 14:50] raido commented on #12169
I hit same error but in my case I had to replace usage of `this.replaceWith('/');` with actual route name `this.replaceWith('my.route')` after adding nested route to for X route like:

[code]

After adding the nested route with `/` app started to crash with above `evaluating 'handlerInfos[handlerInfos.length - 1].name'` error.

[2018-11-05 13:19] ondrejsevcik commented on #17039
Given that js properties are called without parentheses which is also true for computed properties, it makes sense. On top of that methods usually do something, thus they usually contain a verb in the name.
[code]

[2018-11-05 23:01] Edward-Chen-CN opened #17181 "input type="range" shows unwanted value on the Edge browser"
I have created a new project to test this. I have added 3 range slider, only the third one with pure html code work as it is on the edge browser. The rest of two give a current value above the range slider and mass the slider UI.  Ember version - 3.4.6. Edge browser version - 42.17134.1.0.

screenshot of result: https://ibb.co/jW8uYL

application.hbs
`{{!-- The following component displays Ember's

[2018-11-06 10:49] CvX commented on #14993
It seems that this issue has been fixed in Ember 3.4.3 (ie. the problem is reproducible in every version up to 3.4.2, and doesn't occur anymore in 3.4.3-3.4.6).

[2018-11-06 11:05] sergiferran commented on #14993
Yeah, definitely it doesn't crash with `3.4.3` version

[2018-11-06 11:05] #14993 closed

[2018-11-06 15:54] rwwagner90 opened #17183 "Ember Inspector Promise test errors"
We've recently been experiencing errors with ember beta and canary. They can bee seen here https://travis-ci.org/emberjs/ember-inspector/jobs/449687708

[2018-11-06 20:47] mike-north opened #17185 "[docs] API docs should suggest deprecate be imported from @ember/debug"
from @rwjblue

at https://github.com/mike-north/ember-qunit-snapshots/pull/18#discussion_r231283818

Currently, docs indicate that this may only be imported from `@ember/application/deprecations` and that [`@ember/debug` does not export a `deprecate` function](https://www.emberjs.com/api/ember/3.4/modules/@ember%2Fdebug/).

[2018-11-06 21:09] #17183 closed

[2018-11-06 21:10] rwjblue commented on #17183
Solved by https://github.com/emberjs/ember.js/pull/17184 (also cherry-picked into beta).

[2018-11-07 02:02] JordanMcDonough opened #17187 "[Bug] Proxied Object observers"
When observing a Proxy Object, the application (sometimes) throws the below assertion:

[code]

I believed this is due to the Proxy object trying to add the observer whilst the content is being/has been destroyed. I was able to solve it by Reopening the ObjectProxy object in an initializer and modifying the willWatchProperty method as below:

_(I know this probably isn't the best fix and instead s

[2018-11-07 20:00] krisselden commented on #17159
This is an issue with route recognizer and one I believe we should fix

[2018-11-08 10:27] pieter-v opened #17190 "v3.6.0-beta.3 JQuery.extend (recursively) is broken"
We use some jquery plugins (e.g.: bootstrap-daterangepicker), which uses the extend method from jquery. In v3.6.0-beta.3, this fails as jquery recursively iterates through the `[]` property of an array (we use the array prototype extensions of Ember)

**ember-source@3.5.1**
`$.extend(true, {}, {a:['a']})` gives
[code]

**ember-source@3.6.0-beta.3**
`$.extend(true, {}, {a:['a']})` gives
[code]

[2018-11-08 11:49] rwjblue commented on #17190
This is using the same version of jQuery between the two?

I’m not immediately aware of a change that would have caused this. We will probably need to bisect to track it down...

[2018-11-08 12:11] pieter-v commented on #17190
To reproduce, I created a new project (so no extra dependencies)
[code]
This installs ember@3.5.1
I run the default application and in the browser console I executed the command
[code]
Then I upgraded ember
[code]
And this gives the error

[2018-11-08 13:56] pieter-v commented on #17190
JQuery uses `for ( name in options )` construct to iterate over the properties.

In ember 3.5.1
[code]
returns
[code]
and in ember 3.6.0-beta.3
the result is
[code]

As a `for...in` construct iterates over all enumerable properties, in ember 3.5.1 the `[]` is not included, but it is included in ember 3.6.0-beta.3

[2018-11-08 14:16] emoryy commented on #16915
I've run into this same issue while trying to update our app to Ember 3.4
Changing every usage of templateName to a template using a partial throughout our app would be troublesome, and I'd rather avoid it if I could.

Is there any chance of future activity on this?

[2018-11-08 15:10] ljmerza opened #17191 "link-to causing Cannot read property 'rootURL' of null"
using link-to and passing in an id causes a "Cannot read property 'rootURL' of null" error. When going to that route directly we see no error.

Ember 3.5.1
Ember Data 3.5.0
jQuery 3.3.1

[code]

Stack trace:
[code]

We use the same link-to in other parts of our application and they work fine so I couldn't get an Ember-twiddle to reproduce. It only seems to be this particular link-to. It worked on

[2018-11-08 18:20] chadhietala commented on #17162
Looking into this now.

[2018-11-08 21:06] #17162 closed

[2018-11-08 21:06] #17164 closed

[2018-11-09 04:48] Serap08 commented on #16518
Is this issue still open? if yes, I can contribute.

[2018-11-09 14:56] linearza commented on #5210
+1 Running into this now as well. In our case we transition into a page, then go back using window.history.go(-1) - it seems to just continue loading the current page (completing transition) which takes a while, then eventually makes the transition back. The url updates immediately though.

[2018-11-10 23:09] mapeveri opened #17197 "Changing a view's elementId after creation is not allowed"
In my component i have this:

[code]

If I'm not wrong, I'm modifying the elementId prior to creation. With the previous version of the framework it worked for me, now with the 3.5 no. It's a mistake?.

Thank you

[2018-11-10 23:40] mapeveri commented on #17197
Solution:

[code]

[2018-11-10 23:40] #17197 closed

[2018-11-12 11:02] GavinJoyce opened #17202 ""Assertion Failed: You can only pass a path to mut" in template only glimmer component"
The following works with a JS backed component (even without a `showSomething` property defined in JS) but not with a template only glimmer component:

[code]

If I try the same in a template only glimmer component, I get an `Assertion Failed: You can only pass a path to mut` exception:

<img width="1433" alt="screen shot 2018-11-12 at 11 00 21" src="https://user-images.githubusercontent.com/2526/

[2018-11-12 13:01] bekzod commented on #17202
great usecase to use `let` helper :P

[2018-11-12 14:08] rwjblue commented on #17202
Hmm, I don't fully understand what the goal here is. Using `showSomething` here (unless it is passed as an argument) is ultimately going to try to do a `this.showSomething` lookup, but with the template only glimmer component feature flag enabled there is no `this` **at all** which is most likely causing the error you are seeing. What do you expect to be backing the mutable `showSomething` binding

[2018-11-12 14:19] rwjblue commented on #17202
I'm not 100% sure how easy or hard this would be to implement at the moment, since its unknown at template compilation if a given template is going to be used as a template only component (and frankly its possible that templates are shared so it may not be possible...).

The `no-implicit-this` template linting rule would be somewhat helpful here, but only in making it clearer that `this` is being

[2018-11-12 15:14] GavinJoyce commented on #17202
This seems to fail in the same way:

[code]

[2018-11-12 15:15] GavinJoyce commented on #17202
I'm hoping to be able to be able to implement a toggle on a local property in a template only component without needing to define a JS class.

[2018-11-12 15:21] rwjblue commented on #17202
Gotcha!

What specifically does this mean when there is no backing data structure?

[2018-11-12 15:31] rwjblue commented on #17202
FWIW, the super bad error message is definitely a bug either way. There is even a TODO in the code explaining what is happening:

https://github.com/emberjs/ember.js/blob/abdce14472eb4648ac1bc46e47f39c03045e0ccd/packages/%40ember/-internals/glimmer/lib/helpers/mut.ts#L96-L108

[2018-11-12 15:41] rwjblue commented on #17202
One possible solution is what I submitted in a PR to your demo repo https://github.com/GavinJoyce/template-only-mut-bug/pull/1:

[code]

Where `data-bag` returns a stable object for stashing state.

**However,** we should really think hard about why we want to keep this a template only component. It _does_ have its own local UI state that it is tracking...

[2018-11-12 15:51] GavinJoyce commented on #17202
My understanding of templates, which now appears to be wrong, was that they have a local context and that the `mut` helper could be used to mutate properties on that context. I can see why this mightn't be the case with template only components though.

I'm keen to replace our most frequently rendered components with template only components, mainly for performance reasons. Not being able to mutat

[2018-11-12 15:57] rwjblue commented on #17202
@GavinJoyce - Depending on Ember version, I'd suggest something like [sparkles-component](https://github.com/rwjblue/sparkles-component/) as a possible path forward. It effectively removes any instantiation cost that `Ember.Component` has (it really is a [_super_ tiny base class](https://github.com/rwjblue/sparkles-component/blob/6095fb6e4078886e206cb3a151e1a7289fb11e23/addon/index.ts#L3-L11)), an

[2018-11-12 15:58] GavinJoyce commented on #17202
@rwjblue I'll try that, thanks.

Let's close this issue?

[2018-11-12 15:59] #17202 closed

[2018-11-12 16:14] sumeetattree opened #17203 "Mandatory setter failing with Assertion Failed: You must use set() to set the `connections` property of route"
`Ember version: 3.4.5`

Here's the error description:
[code]
The error seems to be occuring on this [line](https://github.com/emberjs/ember.js/blob/d277c93bc0d357ff50e2c62ec1853794a9b82dd1/packages/ember-routing/lib/system/route.js#L2251)

[code]
These same lines are present on the master branch as well. Any pointers? Am I doing something wrong?

[2018-11-12 19:41] eomeri opened #17204 "Route Recognizer - Add route name in error message when missing params"
As a developer when I try to transition using the controller.transitionToRoute('routername', model) method, I get an error thrown in the console with no indication of the route name. It appears that in my case when I request a transition to 'customer', it intends to redirect into the 'customer.index' sub-route and it is missing a parameter.

It would be nice to have the route name shown in the err

[2018-11-13 05:57] jgwhite commented on #17202
This thread is going to be very useful to a lot of people as template-only components become more prevalent. I had the same misunderstanding and this is the clearest explanation I’ve seen.

[2018-11-13 08:38] pieter-v commented on #17164
I just retried this with with ember@v3.6.0-beta.4, which includes #17192, but it still fails (but with a different error):
[code]

[2018-11-13 09:58] sumeetattree commented on #17203
I just double and triple checked if I am observing the `connections` property anywhere. I couldn't find any references. Is it possible that an addon may be using it? Any idea what kind of addon might be using this `connections` property? Am I missing something very obvious here?

[2018-11-13 10:12] pieter-v commented on #17162
**ember@v3.6.0-beta.4**,
I modified the example a little bit:
I added an `index` route which redirects to the `slow` route.
If I point my browser to  http://localhost:4200/slow, then everything works fine. If on the other hand I point my browser to  http://localhost:4200/ then when the `slow` route is active, the `currentRoute` still references the `slow_loading` route

@chadhietala @rwjblue I don

[2018-11-13 12:05] ohcibi commented on #17118
@dodeja do you have another example that differs from mine? If yes, please provide it as this issue seems to be more complicated than expected.

[2018-11-13 12:07] ohcibi commented on #17118
@pixelhandler have you been able looking into the example yet? Is it a valid example or is anything else needed?

[2018-11-13 12:35] #17203 closed

[2018-11-13 17:25] dodeja commented on #12169
Any update on this? Haven't been able to get any of the workarounds to work. On Ember v3.4.0

[2018-11-14 08:51] thilinadinith opened #17208 "Ember js 3.5 - Disconnect Outlet doesnt clear cached template data"
i have a modal where i open and via a outlet so opened it using following code

[code]
then in the modal view i have a computed property

[code]
then i close the modal using below code

[code]
issue is the computed property compute if i go there with a page refresh

if i close the modal and re-open again the computedProperty will not trigger ( even if i modified the computed property data )

im cl

[2018-11-14 18:28] sukima commented on #17159
What about a warning (in development) when we first construct the route maps that the user choose an ambiguous parameter name? Maybe *:id is an ambiguous name. Consider being more specific like :post_id or :item_id*

Or a check during route construction that a child uses the same param name as a parent. This should be easily check for at the time of assignment I would think.

[2018-11-15 12:03] azhiv opened #17210 "'debounce' shifts execution of 'later' callback"
Good day!
Recently I've encountered a weird problem facing unexpected behaviour when using `debounce`.
More specifically: for an unknown reason the result is different for the two calls below:
`debounce(this, this.setIdle, 1000);`
`debounce(this, () => this.setIdle(), 1000);`
I know it may sound crazy but this is the only difference. The first statement shifts execution of another `later` callback

[2018-11-16 07:01] thilinadinith commented on #17208
all the states which is in the outlet will remain even if it is discontinued. very frustrating behavior of the  logic !

[2018-11-16 10:09] bekzod commented on #17210
thanks for bug report, fixed in https://github.com/BackburnerJS/backburner.js/pull/357,
you shouldn't be using debounce like `debounce(this, () => this.setIdle(), 1000);` with anonymous function it won't debounce `this.setIdle` since you are giving new function each time when you call `debounce(this, () => this.setIdle(), 1000);` and internally it cannot match up anonymous function with other anon

[2018-11-16 18:21] betocantu93 commented on #17118
I stumbled with this too, I'm using `ember-parachute`

Facts I know:
This happens only when I immediately try to transitionTo after `ember-simple-auth` successfully login
[code]

But I if I wrap the transitionTo with a

[code]
It works... I know maybe the `ember-parachute` or `ember-simple-auth` has nothing to do, but I mean, maybe in that context it helps to debug

[2018-11-16 19:19] betocantu93 commented on #17118
It seems, `ember-simple-auth` is doing a transition for me as expected - if user is authenticated transitionTo('index') without any queryParams -

But at the same time I'm also triggering a transition to the same route but _**with queryParams**_ (my app is served as an iframe, so external consumers send actions down to my ember app via postMessage API, and I can't control _when_ they do it), and t

[2018-11-19 09:16] azhiv commented on #17210
@bekzod  Makes perfect sense, thank you!

[2018-11-19 12:48] buschtoens commented on #16373
@NullVoxPopuli https://github.com/emberjs/ember.js/issues/16373#issuecomment-426581963:

The OP includes a link to the PR and file that implements this. ☺️

https://github.com/emberjs/ember.js/pull/16319/files#diff-80f190cc4372dfc7275150e4b47cbd6bR272

[2018-11-19 21:40] yads opened #17215 "Required select tag marked as invalid in Firefox"
This might be related to issue https://github.com/emberjs/ember.js/issues/14737 but this one is with submitting a form with a select item. This behavior is only happening on Firefox and is reproducible as far back as Ember 2.12 (the earliest version on ember-twiddle). A required select tag with a selected option is marked as invalid when a form is submitted. This also happens if the option is not

[2018-11-20 09:15] lougreenwood commented on #17190
I'm seeing a very similar issue with `ember-inputmask`:

[code]

Stacktrace shows it's this line of code code which triggers it - which is also a `.extend()` like the jQuery problem above: https://github.com/RobinHerbots/Inputmask/blob/5.x/lib/dependencyLibs/inputmask.dependencyLib.js#L317

I've tried all beta versions (1-4) and the problem exists in all versions.

[2018-11-20 09:43] pieter-v commented on #17190
As a workaround I execute the following code in an initializer
[code]

[2018-11-20 12:53] buschtoens opened #17217 "[Module Unification] Routes can only be nested two levels deep"
Defining routes nested more than two levels deep or even just providing a callback does not work MU applications and triggers the error below.

[code]

Exemplary failing router:

[code]

Reproduction repo: https://github.com/buschtoens/mu-nested-routes

[2018-11-20 13:07] buschtoens commented on #16373
I found a bug with nested routes. You can't go deeper than two levels: https://github.com/emberjs/ember.js/issues/17217

[2018-11-20 14:01] buschtoens commented on #17217
I assume the [`glimmer-wrapper` in `ember-resolver`](https://github.com/ember-cli/ember-resolver/blob/master/mu-trees/tests/unit/resolvers/glimmer-wrapper/resolve-test.js) is the correct place to submit a failing test case to.

[2018-11-20 14:07] NullVoxPopuli commented on #17217
@buschtoens have you tried the fallback resolver?
the fallback resolver is currently what https://emberclear.io uses

[2018-11-20 14:12] buschtoens commented on #17217
@NullVoxPopuli I am already using the fallback resolver, as can [be seen here](https://github.com/buschtoens/mu-nested-routes/blob/master/src/resolver.js). But that is actually a very good point to make. I'll give the `glimmer-wrapper` a try instead. Thanks a lot!

[2018-11-20 14:15] buschtoens commented on #17217
@NullVoxPopuli No luck here. Apparently `fallback` and `glimmer-wrapper` use the same buggy code paths.

[2018-11-20 14:15] NullVoxPopuli commented on #17217
excellent! (one less thing to fix)

[2018-11-20 15:40] mariowilde commented on #17172
The error still happens in ember-source 3.6.0-beta.4.

[2018-11-20 16:09] buschtoens commented on #17172
Dupe of / related to https://github.com/emberjs/ember.js/issues/17154

[2018-11-20 16:16] blimmer opened #17218 "Object.seal on Mixins in non-production builds breaks IE11 + Google Captcha"
I am currently upgrading our production app to Ember 3.4 LTS. In doing my final testing, I realized that Google Invisible Recaptcha V2 was breaking in IE11 when testing in my `staging` environment.

The error I was seeing seemed like an issue with the recaptcha javascript, which caused me to file [this issue](https://github.com/google/recaptcha/issues/285) on the Google Recaptcha side.

[code]

Ho

[2018-11-20 17:04] blimmer commented on #17218
To the question regarding the staging account, @locks helped me find this article: http://blog.firstiwaslike.com/staging-environments-with-ember-cli-deploy/

It looks like the recommendation for staging (pre-production) accounts is to use a `production` build environment for ember, and inject the other data via ENV variables.

[2018-11-20 17:13] buschtoens commented on #17217
I think I've pinned down the issue. So in [L90](https://github.com/glimmerjs/glimmer-resolver/blob/42cfa17ad5bb9fe69a50f028707e58efa4bf91ba/src/resolver.ts#L89-L90) `s` looks like this:

[code]

The resolver cannot find the `Controller`, as it is not explicitly defined and thus should be auto-generated. But before resorting to auto-generation, the resolver tries as to find a fitting addon first in

[2018-11-20 19:55] rwjblue commented on #17218
You can work around the issue by mucking with freeze and seal. You basically redefine seal and freeze to add the object to a weakmap first then call the original seal / freeze.

[2018-11-20 19:57] rwjblue commented on #17218
Hmm, upon re-reading this issue though, I’m not sure why you think this is an Ember bug (as opposed to a bug in recapcha)?

[2018-11-20 21:06] blimmer commented on #17218
This issue only occurs when I'm running a `DEBUG` build of Ember. When I'm running in production, this works without problem.

It's possible that it's a recaptcha bug, so I kept https://github.com/google/recaptcha/issues/285 open, but since it works with the prod build of Ember, I opened this issue.

With regards to mucking with freeze and seal, note that the item it tries to add is random, so it'

[2018-11-21 00:50] rwjblue commented on #17218
Can you give us steps to reproduce?

[2018-11-21 05:02] SergeAstapov commented on #17052
https://github.com/kellyselden/ember-array-helper may be considered as polyfill

[2018-11-21 09:03] andreyfel commented on #17210
@rwjblue can we get a new 3.4 patch release containing this fix?

[2018-11-21 09:49] mistahenry opened #17219 "Collisions between block params and html tags"
As of 3.3
[code]
[code]
will fail  because  `<img>` attempts to invoke the `|img|` as a component. The same code works in
 < 3.2

The error in 3.3 is:

3.4 in up

Please see [this twiddle](https://ember-twiddle.com/40809ac0e78bd57c89681901c5bbd598?openFiles=templates.application.hbs%2C)

That such a scenario errors is understandable, but there could be some improvement in the error messaging. Alte

[2018-11-21 15:36] rwjblue commented on #17219
I commented over in https://github.com/emberjs/ember.js/issues/16826#issuecomment-408504435 with the details, but I'll duplicate here (for ease of future travelers):

Yes, it is a breaking change and we are working on the fix.

The current behavior matches what the RFC stated (essentially that a block param named `button` + `<button></button>` in the blocks template, would assume that the block pa

[2018-11-21 15:38] rwjblue commented on #17219
I also totally agree with you RE: the error message. We really just need to land the fix I described above... 😞

[2018-11-21 15:39] rwjblue commented on #17210
Whoops, shouldn't have closed this here yet.

Yes, we will definitely backport the fix to 3.4.

[2018-11-21 15:51] mistahenry commented on #17219
thanks 👍

closing as duplicate of [16826](https://github.com/emberjs/ember.js/issues/16826)

[2018-11-21 15:51] #17219 closed

[2018-11-21 15:52] rwjblue commented on #17052
@SergeAstapov - It certainly _could_ be, but it would need some changes. Specifically, it would need to be updated to _do nothing_ when it detects the newer Ember version that ships the helper by default.

[2018-11-21 15:58] rwjblue commented on #17190
This _seems_ like a regression of the fixes in https://github.com/emberjs/ember.js/pull/16169 which was _specifically_ trying to address this issue...

[2018-11-21 17:07] rwjblue commented on #17203
Glad you got it working, thanks for documenting the fix @sumeetattree!

[2018-11-22 08:08] ondrejsevcik opened #17221 "Events are not properly bound to SVG elements"
Hi, I've found a small inconsistency when working with SVG and actions in Ember.

I've tried to bind action on mouseEnter on `rect` element but it doesn't work with ember action.
[code]

With `div`, this works without any problem.

I’ve also tried to handle it with native javascript and that works.
[code]

Here's the twiddle with reproduction
https://ember-twiddle.com/d9db8b82d40cbc4fcfb4c33cff34a

[2018-11-22 09:21] buschtoens opened #17224 "[Module Unification] Addon tests are hoisted into the host application"
Quest: https://github.com/emberjs/ember.js/issues/16373

`*-test.js` files from an addon are hoisted into the consuming host application, just like regular files, e.g. `component.js`. This means that running `ember test` in the host application will also attempt to run the addon's tests.

I don't think that this is intended / desired behavior. It's also causing errors, if the addon tests import de

[2018-11-22 09:22] buschtoens commented on #16373
Found another one: https://github.com/emberjs/ember.js/issues/17224. Addon tests are hoisted into the consuming host application and run by `ember test`.

[2018-11-22 10:03] NullVoxPopuli commented on #16373
I hope that's related to an issue I saw the other day. Where tests remain in the prod build

[2018-11-22 12:29] amk221 opened #17225 "mouseenter: Object doesn't support property or method 'contains'"
With `"jquery-integration": false` I'm getting `Object doesn't support property or method 'contains'` in IE11. It may have something to do with SVG.

![screenshot 2018-11-22 at 12 22 49](https://user-images.githubusercontent.com/382061/48902775-83745100-ee51-11e8-951e-13dcb7c15fa5.png)

https://github.com/emberjs/ember.js/blob/62643188404d1b8398cb133ac30cc0e866318a8d/packages/%40ember/-internals/v

[2018-11-22 16:30] iorlas commented on #16503
We have encountered such error on 3.5. Any ideas?

[2018-11-23 02:01] rwjblue commented on #17225
Thanks for reporting!

@simonihmig - Any ideas off the top of your head?

[2018-11-23 09:06] simonihmig commented on #17225
@amk221 I assume this was an `mouseenter` event, not `mouseover` as in your title, right?

Indeed. I quickly booted my VM with IE11, and it seems it doesn't support `Node#contains()` on SVG elements. 🙄

I had a quick look how the jQuery-based implementation works around this, and it seams jQuery (or rather Sizzle) has a fallback implementation here: https://github.com/jquery/jquery/blob/e743cbd285

[2018-11-24 01:44] simonihmig opened #17228 "Event.target not set for mouseEnter/Leave w/o jQuery in IE11"
While working on #17227, and having somehow figured out how to run the (ES5-transpiled, jQuery-less) tests in the browser (used `/tests/index.html?ie=true&dist=prod&skipPackage=container%2Cember-testing%2C%40ember%2Fdebug&moduleId=4a92ac35&jquery=none`), I found that a couple of tests are failing in IE11 due to `Event.target` being `null` when using the special handling of mouseEnter/Leave when jQ

[2018-11-24 07:32] devinus commented on #17172
After hours of debugging, I gave up and added a helper that takes care of the problem in production. It's obvious there's some compilation issue, but I couldn't track down where.

* app/helpers/-assert-implicit-component-helper-argument.js

[code]

[2018-11-24 07:33] devinus commented on #17154
After hours of debugging, I gave up and added a helper that takes care of the problem in production. It's obvious there's some compilation issue, but I couldn't track down where.

* app/helpers/-assert-implicit-component-helper-argument.js

[code]

[2018-11-24 16:52] rwjblue commented on #17228
Yes, exactly. We only run IE11 with jQuery.

[2018-11-26 06:03] BryanCrotaz opened #17229 "Addon treeforAddon has a new this"
in an addon `index.js`, it is expected that the hooks are called in order on a single instance of the addon.

However when `treeForAddon()` is called on an addon used as a dependency in another addon, the context is a new instantiation. So this doesn't work:

[code]

[2018-11-26 10:12] NullVoxPopuli commented on #17224
with a recent build of https://emberclear.io,
I'm witnessing this behavior as well -- not any errors, but just tests being included in the bundle.

Here is my "current" bundle: https://nullvoxpopuli.gitlab.io/emberclear/master/bundle.html
![image](https://user-images.githubusercontent.com/199018/49007579-d2640400-f139-11e8-9d67-a5c064c5c466.png)
![image](https://user-images.githubusercontent.com/1

[2018-11-26 10:40] buschtoens commented on #17224
Sorry for being unclear here. I was referring to the the wrongfully included tests failing or failing to load, because they are importing dev dependencies (of the addon they belong to), which are not available in the host application.

[2018-11-26 11:46] rwjblue commented on #17229
This seems like an ember-cli issue (not a bug in Ember itself), mind refiling over in ember-cli/ember-cli instead? I’d also like to see a reproduction, as I would expect included to have been fired before any treeFor* hooks.

[2018-11-26 12:31] mwasilewski commented on #17154
I would love to add some helpfull info there, but I can only say that I have same issue :(

[2018-11-26 13:13] tpetrone commented on #14174
I am experiencing something similar.
Url serialisation is being set as:
`http://localhost:4200/v1/companies?filter[manufacturer-profile__manufacturer-quality-certificate-ids.all]=["5bf9a3f0141edcd078a620b2"]&filter[manufacturer-profile__manufacturer-service-ids.all][]=5bf9a3ef141edcd078a62086&page[number]=1&page[size]=10`
instead of:
`http://localhost:4200/v1/companies?filter[manufacturer-profile_

[2018-11-27 14:19] lindem opened #17232 "draggable attribute does not honor explicit false"
I have created a repository to show the issue at https://github.com/lindem/draggable-attr

Parts of that repository's README are reproduced here:

---

The alleged bug affects [the `draggable` attribute on HTML elements](https://www.w3.org/TR/html51/editing.html#the-draggable-attribute).

It seems that ember does not allow to set the draggable attribute explicitly to
`"false"`, which is a legitima

[2018-11-27 15:57] tomdale commented on #16301
@Gaurav0 What is causing the attribute to change? Following DDAU, I think whatever code is responsible for changing the data that causes the attribute to change should also be responsible for kicking off the AJAX request.

[2018-11-27 21:01] Gaurav0 commented on #16301
The attribute is changing from the parent component.

[2018-11-28 04:07] sukima commented on #17046
Confirmed. I see this in my apps as well. Is there a workaround?

Can a deprecated property like `@each` be `enumerable: false`?

[2018-11-28 04:18] MelSumner opened #17234 "Octane Tracking Issue"
## Summary
The purpose of this issue is to provide an overall issue to track the status of the work necessary to ship the Octane Edition of Ember.js.

If anyone wants to work on any of the items in this list, please check in the #st-octane channel of our [Discord chat](https://discord.gg/emberjs) first.

The following to-do list will be updated to include links to individual issues as they are cre

[2018-11-28 09:47] timo-lindemann-victors commented on #17232
I extended the [example application](https://github.com/lindem/draggable-attr) to show that angle-brackets and normal (non-component) are also affected. "Static" HTML (not depending on properties) work, though.

This means that there is no workaround except making a tagless component and branching over static HTML in the template.

The property is correctly available in the template context, it al

[2018-11-28 20:17] jordpo opened #17236 "Components created with a custom component manager cannot inject services"
Because of the change made [here](https://github.com/emberjs/ember.js/pull/16854), when using a custom component manager, the `factory` argument in the `createComponent` is not 'container aware'. So when you create the component instance and try to access a property or method on an injected service, you get an error => `“Attempting to lookup an injected property on an object without a container, e

[2018-11-29 01:55] #17039 closed

[2018-11-30 09:27] LevelbossMike opened #17240 "Functionality clarification - {{yield}}ing in multiple places"
Hi and sorry for the strange title.

I have come across this blog-article that suggest a way to implement "multiple"-yields in a component.

https://dockyard.com/blog/2018/11/26/how-to-yield-an-ember-component-in-multiple-places

This is a very powerful pattern and allows entirely new component abstractions - before embracing I want to make sure that this is intended behavior and it won't break in

[2018-11-30 12:19] LevelbossMike commented on #17240
After thinking about this some more I think I get why this works.

* hashes are not merged into one yield

We are actually yielding out two times and rendering the block two times but because of the fact that blocks for properties that aren't yielded out will be ignored we will only render the ui once.

So this seems like it is supposed to work that way. But this raises the question if we _should_

[2018-11-30 12:38] Windvis commented on #17240
Relevant discuss post: https://discuss.emberjs.com/t/using-yield-for-multiple-nested-components/9126/2

I'm also interested to hear if this is the intended behaviour and can be considered safe to use, since we use it in multiple projects already 😁.

[2018-11-30 16:13] pixelhandler commented on #17240
@LevelbossMike What I've observed is that the Ember docs to provide a commitment to behavior, I tagged this as a `Documentation` issue. Is the mutliple yield is not documented I'd say it's not guarateed for the future. Perhaps the first step would be to contribute to the guides a section on components with the yield tricks that merge the hash so one could leverage multiple yields.

cc/ @emberjs/le

[2018-11-30 16:20] pixelhandler commented on #17236
@jordpo is `setComponentManager` even public API?

- https://gist.github.com/patrickberkeley/6ebc14fab616b61ed4534d2ae588a5e9#file-component-js-L2
- https://github.com/emberjs/ember.js/blob/master/packages/%40ember/-internals/glimmer/lib/utils/custom-component-manager.ts#L6-L15

[2018-11-30 16:37] patrickberkeley commented on #17236
@pixelhandler yup as far as we know `setComponentManager` is public. Custom component managers were released in 3.4. The release [notes](https://www.emberjs.com/blog/2018/10/07/ember-3-4-released.html#toc_new-features-2) and [RFC](https://github.com/emberjs/rfcs/blob/master/text/0213-custom-components.md) both mention it (that's all the info we've found on component managers).

Yes, we have reache

[2018-11-30 16:42] pixelhandler commented on #17232
@lindem it appears there is a bug with using `attributeBindings` and a `draggable` attribute as `'true'` or `'false`. And the work around maybe to refactor to use a tagless component, `tagName: ''`.

[2018-11-30 16:44] pixelhandler commented on #17229
@BryanCrotaz would you mind closing this after re-posting on https://github.com/ember-cli/ember-cli/issues

[2018-11-30 16:51] pixelhandler commented on #17228
@rwjblue would this be a fair statement, "Ember w/o jQuery is only supported on evergreen browsers, and Safari, so IE11 is must use jQuery" ?

[2018-11-30 16:54] jordpo commented on #17236
@pixelhandler Yeah I think this could be a documentation / clarity issue. It is public API but very cutting edge. I would imagine more people will get confused by this.

My original question / comment on the associated PR was why we are passing in the super class as an argument to `createComponent` instead of the component class / factory itself. By passing in the super class, you need to explicit

[2018-11-30 16:56] pixelhandler commented on #17225
@rwjblue is ie11 w/o jquery officially supported ? if so this is a bug correct?

[2018-11-30 17:03] pixelhandler commented on #17224
@buschtoens would this be an issue for https://github.com/ember-cli/ember-cli/issues ? seems that the **expected behavior** is when I visit http://localhost:4200/tests that only my application tests should be run, and no (addon/dependency) tests should be included. And running `ember test` or `ember test -s` should also only execute application tests?

But, it sounds like the **actual behavior** y

[2018-11-30 17:09] jordpo commented on #17236
Here's an example of this extra step that is required https://github.com/rwjblue/sparkles-component/blob/master/addon/component-managers/sparkles.ts#L29

[2018-11-30 17:16] NullVoxPopuli commented on #17224
For me, it's the application tests that are being included in the production repo.

Here is my repo:
https://github.com/NullVoxPopuli/emberclear/

[2018-11-30 17:17] buschtoens commented on #17224
I was not sure at what level the filtering happens. But it'd make sense to filter addon tests at the build level, yes.

[2018-11-30 17:18] simonihmig commented on #17228
FWIW, for one of our apps, we dropped jQuery long *before* we dropped IE11 support. And AFAIK the other tests run fine w/o jQuery (would need to be confirmed), only this rather edge-casey thing makes some problems...

[2018-11-30 17:33] pixelhandler commented on #17210
Looking at  https://www.emberjs.com/api/ember/release/functions/@ember%2Frunloop/debounce

And the comment on the twiddle:

How is that not the indented behavior of `debounce(this, this.setIdle, this.keepAliveTimeout)`

And the second `debounce(this, () => this.setIdle(), 1000)` gives a new function to `debounce` so every one of those we be called a second later.

Maybe I'm missing something.

[2018-11-30 17:47] yads commented on #17215
Hmm, can't seem to reproduce the reset fixing the form now. So perhaps scratch that as a 'workaround'.

[2018-11-30 20:01] bekzod commented on #17210
@pixelhandler there is bug verification as failing test https://github.com/BackburnerJS/backburner.js/commit/693250f5ee18a48f7c0a5b16256df5e71403e719#diff-4b3e9f2ef17528d4fa14e8ed544af272R432

agree usage of `debounce(this, () => this.setIdle(), 1000)` is not correct, even if it was correctly called like `debounce(this, this.setIdle, 1000)` debounce still behaving incorrectly, given twiddle is a b

[2018-12-01 18:42] blimmer commented on #17218
I spent some time last week trying to create a new app that reproduces this issue and am having trouble finding the exact combination of addons that cause the problem. I'm able to reproduce 100% of the time on the app I'm working on, but it's going to take some more time for me to find the secret sauce.

[2018-12-02 10:13] mschorsch commented on #17062
Is there any progress on this issue? This bug prevents us from upgrading to Ember 3.5.1.

[2018-12-03 09:20] simonihmig commented on #16863
I am interested in wrapping this up. @Dhaulagiri can you elaborate on this? How/why would the Mocha tests have to differ?

[2018-12-03 17:34] gitKrystan opened #17243 "`Ember.computed.oneWay` teardown is "resetting" the property in an inner component"
We’ve found a real stumper of a regression in our app that git bisect says is caused by this commit (https://github.com/emberjs/ember.js/commit/65c20ab632dcd1ecd1256a14fe5ccce83ebc6953) in 3.5.0-beta.3.

We have two components. A property is passed in to the outer component, where we use `computed.oneWay` to duplicate the property, then pass that into the inner component, where it is used directly

[2018-12-03 20:49] Dhaulagiri commented on #16863
@simonihmig i wish I had been more specific here, but if I recall correctly if I tried to mimic the same application test setup as the qunit tests I was running into unexpected errors in the mocha tests.

[2018-12-04 20:50] tomdale commented on #17234
@MelSumner We should track the build pipeline improvements in https://github.com/embroider-build/embroider as well.

[2018-12-04 21:57] kategengler opened #17250 "CI failing after browser tests switched from Edge 17->Edge 18"
CI is failing after Browserstack updated from Edge 17 -> 18

Builds on master with identical code:
Clean: https://travis-ci.org/emberjs/ember.js/jobs/462539239
Fails: https://travis-ci.org/emberjs/ember.js/jobs/463522769)

Beta is also failing https://travis-ci.org/emberjs/ember.js/jobs/462995715

[2018-12-04 22:14] kategengler commented on #17250
The test in question is: https://github.com/emberjs/ember.js/blob/master/packages/%40ember/-internals/metal/tests/descriptor_test.js#L176

Which has an `isEdge` conditional and a link to https://github.com/emberjs/ember.js/pull/16741#issuecomment-420963181

[2018-12-04 22:34] rwjblue commented on #17250
[code]

[2018-12-05 11:59] #17250 closed

[2018-12-05 12:04] #17172 closed

[2018-12-05 15:10] oligriffiths commented on #17234
@melsumner https://broccoli.build and https://github.com/broccolijs/broccolijs.github.io for the new broccoli site and docs

[2018-12-05 15:48] bekzod commented on #17243
Will look when I get time for this :)

[2018-12-06 01:37] rwjblue commented on #17225
Yep, updated the labels.

[2018-12-06 02:19] krisselden commented on #17042
If you create a patched version extend in your app so that babel compiles it according to your App settings.

[code]

then import from that in your app it should workaround the problem until we publish the es so that ember-cli compiles ember with the same babel settings.

[2018-12-06 12:31] boris-petrov commented on #17042
@krisselden - thank you for the suggested workaround! For any future readers, the `class Class extends this` line should actually say `class Class extends this {}` instead. :)

[2018-12-06 16:11] #17225 closed

[2018-12-06 16:55] knownasilya commented on #17234
Tracked properties RFC can be checked off and link updated.

[2018-12-06 18:55] rwjblue commented on #17228
I believe this is resolved, @simonihmig can you confirm and close if you agree?

[2018-12-06 20:17] simonihmig commented on #17228
@rwjblue I don't think so, unfortunately!

At least if you refer to https://github.com/emberjs/ember.js/pull/17227, which fixes that `mouseEnter` events are called on SVG nodes in IE11.

However this issue refers to the fact that `mouseEnter` events on *any* DOM element do not have a `Event.target` correctly set up for IE11. And I still have no idea how to fix this. 🤔

[2018-12-07 03:06] rwjblue commented on #17240
This seems pretty surprising, and I believe does not work in Ember 3.6.0. This was fixed by https://github.com/emberjs/ember.js/pull/17135.

I realize that this is how it seems, but is actually not what is happening. The yielded block is actually being invoked twice and combined with the bug mentioned above (fixed in 3.6) means that the "alternate" is simply ignored (as if you had done `{{some-thi

[2018-12-07 14:41] boris-petrov opened #17282 "[3.6.0] Regression when creating a MutableArray implementation"
We have the following code that works fine in 3.5.1:

[code]

And this worked fine - e.g. when calling `result.pushObject` or `result.insertAt` or `result.removeAt` that would call our version of `replace` and we could handle it specially. This is broken in 3.6.0. I see [here](https://github.com/emberjs/ember.js/blob/v3.6.0/packages/%40ember/-internals/runtime/lib/mixins/array.js#L109) that a "gen

[2018-12-07 16:38] pixelhandler commented on #17282
@boris-petrov I see that replace is documented here:

- https://emberjs.com/api/ember/3.5/classes/MutableArray/methods/replace?anchor=replace
- https://github.com/emberjs/ember.js/blob/v3.6.0/packages/%40ember/-internals/runtime/lib/mixins/array.js#L1607-L1614

Which appears to be the same as an 3.6

- https://github.com/emberjs/ember.js/blob/v3.6.0/packages/%40ember/-internals/runtime/lib/mixins/

[2018-12-07 16:45] pixelhandler commented on #17240
@LevelbossMike yesterday I worked on a component which at first glance it seemed like a good idea to use multiple yields, but after working on it for a while a single yield was fine. What I did was create multiple nested components for the HTML structure I wanted to use and those components each had their own `yield`. And I yielded a `hash` of named components so that the template which invokes th

[2018-12-07 16:52] pixelhandler commented on #17141
@sarbbottam I'll close this for now as it's more of a question than a bug report. Please reach out on the forum or chat

[2018-12-07 16:52] #17141 closed

[2018-12-07 16:53] pixelhandler commented on #17139
@pranavdubase I'll close this for now, please reach out in the forums / chat for help with your question. We use the issue tracker for bug reports.

[2018-12-07 16:53] #17139 closed

[2018-12-07 16:57] pixelhandler commented on #17048
@n8n8baby yeah I think the fix is:

Don't do this....

[code]

Treat variable names in .hbs templates with care, they cannot shadow the name of an HTML element, e.g `option`.

Instead do...

[code]

[2018-12-07 17:03] pixelhandler commented on #17208
@thilinadinith maybe there is a simpler way, perhaps in stead of an outlet just use a condition in your application template and if truthy it can render the modal's HTML.

Have you reached out in the community chat or forums ? https://emberjs.com/community/

I'm not sure that this is a bug in the framework, if you think so - then please provide an example reproduction with ember-twiddle or a publi

[2018-12-07 17:08] pixelhandler commented on #17204
@eomeri Since the issue tracker is mostly for bugs, and we use the RFC's repo for proposed changes, this issue may get more responses as an RFC issue (not a full proposal, just a simple issue like this one but instead moved to the RFC repo).

- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#requesting-a-feature

[2018-12-07 17:10] pixelhandler commented on #17191
@ljmerza sorry you ran into that issue. Since it may be hard to reproduce with an ember-twiddle how about in a public repository? (Can just link here.)

[2018-12-07 17:13] pixelhandler commented on #17187
@JordanMcDonough thanks for explaining the issue you found and your work around. Yeah it helps to isolate the issue with an example reproduction, if not in an ember-twiddle can use a public repository.

[2018-12-07 17:37] rwjblue commented on #17236
Sounds good, I'll go ahead and close...

[2018-12-07 17:37] #17236 closed

[2018-12-07 17:47] rwjblue commented on #17048
Closing for now, as a duplicate of the regression being tracked in #16826

[2018-12-07 17:47] #17048 closed

[2018-12-07 18:12] pixelhandler commented on #17159
yeah @runspired this can troll people using the same name for dynamic segments when defining routes.

I think we've trained ourselves to do the above; but it would be great to un-learn that and just define dynamic segments more liberally, e.g. use the same name if the segment is an `:id`

[2018-12-07 18:20] pixelhandler commented on #17158
@izelnakri  perhaps it would be worth experimenting using ember-twiddle with the syntax Robert linked to and example above. I think we can close this issue as the RFC covers the case of angle bracket invocation using a variable.

[2018-12-07 18:42] izelnakri commented on #17158
Sorry for the delay in my response.

I'm requesting subcomponent lookups for components. I think **this is not a nice-to-have feature but rather an essential feature** to keep it compatible with curly braced components, currently we dont have this, which means I will need to keep using curly braced components and cannot/will not upgrade to angle brackets as long as I can.

I dislike using variable

[2018-12-07 19:12] kategengler opened #17297 "release.json not updating"
https://s3.amazonaws.com/builds.emberjs.com/release.json references 3.4.4 and is not updating. This is used by ember-try and `getChannelURL`

[2018-12-07 19:56] MelSumner commented on #15839
@toddjordan do we know what happened?

[2018-12-07 20:54] rwjblue commented on #17042
This is fixed in the current release, so I'm going to go ahead and close...

[2018-12-07 20:54] #17042 closed

[2018-12-07 20:59] rwjblue commented on #17297
I was thinking this might be because we don't publish any builds when we are publishing a tag itself:

https://github.com/emberjs/ember.js/blob/60a538c01e141569531c63673a6f9bbdad780a49/bin/publish_to_s3.js#L20-L31

I pushed a few commits to `release` just now (changelog entry for 3.4.7), lets see what https://travis-ci.org/emberjs/ember.js/builds/465130878 does...

[2018-12-07 21:08] rwjblue commented on #17221
I don't believe this is a bug per-se, using the element modifier version of `{{action}}` works properly:

https://ember-twiddle.com/eef22b20be320ac16259b5ce0b4f0b17?openFiles=templates.application.hbs%2C

The way Ember assigns things to an element depends on what type of Element it is. Specifically, if the element has a property for the thing being assigned (`onmouseenter`) we set it as a property

[2018-12-07 21:08] #17221 closed

[2018-12-07 21:10] #14235 closed

[2018-12-07 21:11] rwjblue commented on #14536
We went a different route here...

[2018-12-07 21:11] #14536 closed

[2018-12-07 21:12] rwjblue commented on #14663
Agree that this whole situation was unfortunate and very annoying. I'm happy to accept PR's against those older branches if folks have time and care strongly.

[2018-12-07 21:12] #14663 closed

[2018-12-07 21:34] lolcatchuplol commented on #17181
Thanks, I have not reached out to the community forum as this is my first time of using ember. But I will try it.

[2018-12-07 22:16] rwjblue commented on #17232
I submitted https://github.com/lindem/draggable-attr/pull/3 to show how this needs to be done. In this case, since Ember is setting `el.draggable = value` you can't use the strings `'true'` and `'false'` (because both are TRUE!!!!!!), instead you have to use the values `true` and `false` directly.

Thanks for putting together such an awesome demo repo, it really was a pleasure to dig into. 😸

[2018-12-07 22:16] #17232 closed

[2018-12-07 22:20] #12607 closed

[2018-12-08 00:37] rwjblue commented on #13172
I don't have a IE11 VM handy, but a **huge** amount of the underlying rendering engine has changed since this was reported.  I'm very sorry that we didn't get back to this in a timely manner, but at this point I _believe_ that it is addressed.

I'm happy to re-open and dig in if this is still an issue...

[2018-12-08 00:37] #13172 closed

[2018-12-08 00:45] rwjblue commented on #11563
I can't tell if this is still an ongoing issue. Anyone have time to create a demo app or twiddle to confirm?

[2018-12-08 00:47] rwjblue commented on #14625
I'd definitely love to see progress here, but at this point I think this particular issue is a bit stale so I'm going to go ahead and close it out.

@jfelchner if you still intend to push this forward, let me know and I can reopen (and I'm happy to help with the specifics if you'd like to chat through them)...

[2018-12-08 00:47] #14625 closed

[2018-12-08 00:50] rwjblue commented on #14752
I do think that using quotes is appropriate here, but I'm not 100% sure why its required in this case.

Since we have a valid (and ergonomic) solution (and < 2.10 is long unsupported), I'm going to go ahead and close this out...

[2018-12-08 00:50] #14752 closed

[2018-12-08 00:51] rwjblue commented on #14747
Is this still an issue?

[2018-12-08 00:52] rwjblue commented on #14743
At this point it is quite unlikely that we will be able to change these functions without the changes themselves being a breaking change.

Sorry for taking so long in getting back to this issue 😢

[2018-12-08 00:52] #14743 closed

[2018-12-08 00:53] rwjblue commented on #14136
Closed by #17148

[2018-12-08 00:53] #14136 closed

[2018-12-08 00:53] #15198 closed

[2018-12-08 00:54] rwjblue commented on #15273
This was fixed

[2018-12-08 00:54] #15273 closed

[2018-12-08 00:57] rwjblue commented on #14737
Hmm, this is surprising actually. Can someone double check if the same thing happens with plain JS?

[code]

Does this have the same issue?

[2018-12-08 00:58] rwjblue commented on #15241
Agreed, the change suggested by this issue is definitely a welcome change.

[2018-12-08 01:57] #15241 closed

[2018-12-08 01:57] #12543 closed

[2018-12-08 02:05] rwjblue commented on #17240
I _believe_ that the initial question has been addressed (the specific technique in the blog post is essentially taking advantage of a bug that has been fixed), so I'm going to close this for now (though I'm super happy to continue to the conversation).

[2018-12-08 02:05] #17240 closed

[2018-12-08 02:14] rwjblue commented on #15320
I'm not 100% sure if this is addressed already or not, but I think the path forward is fairly clear: migrate to closure actions + sparkles-component / glimmer components etc.

Sorry for the super delayed response here :(, but I think we should close...

[2018-12-08 02:14] #15320 closed

[2018-12-08 02:50] rwjblue commented on #15847
As @christophermlne mentioned, the notification is effectively being "absorbed" and since the actual selected item does not change the inner `option-item` is never going to consider `selected` as changed. This is an intentional choice, but I can absolutely see how you might think it is a bug.

Soon there will be alternative ways to do this sort of thing (e.g. https://github.com/emberjs/rfcs/pull/4

[2018-12-08 02:50] #15847 closed

[2018-12-08 02:51] rwjblue commented on #15473
This has been superceded by the glimmer components RFC which is in the works...

[2018-12-08 02:51] #15473 closed

[2018-12-08 02:55] rwjblue commented on #16213
I'm not quite sure what the goal here is, are you asking _how_ to do this correctly? Are you pointing out that it is harder than it should be? Are you suggesting there is a bug here?

[2018-12-08 03:17] rwjblue commented on #16255
This is a somewhat known issue, essentially you are trying to sanitize or enforce specific values in your input. Here is a functioning example of one way to solve this:

https://ember-twiddle.com/9719d6070f75da6b97fc262383ed22ab?openFiles=controllers.application.js%2C

Closing for now though, as I don't believe this is a framework bug, but instead is a (fairly annoying) nuance in dealing with the

[2018-12-08 03:17] #16255 closed

[2018-12-08 03:18] rwjblue commented on #16349
I believe that this is addressed now, @chadhietala may be able to confirm.

[2018-12-08 03:20] rwjblue commented on #16425
We generally reserve the issue tracker for bugs in Ember itself. This question may be better served by [our forum](https://discuss.emberjs.com), Stack Overflow or discord.

I'm going to close this for now, but please do cross link your forum/SO post or update this thread with the answer you find (for any future searchers). 😺

[2018-12-08 03:20] #16425 closed

[2018-12-08 03:32] rwjblue commented on #16618
We have worked hard to ensure that these transaction out of sync issues are not constantly thrown once we end up down a bad path. If there are specific circumstances where they still happen and are not being recovered from please report them (or submit a failing test PR [around here](https://github.com/emberjs/ember.js/blob/4a98e1610b795edb544513f10a8870af1375141d/packages/%40ember/-internals/glim

[2018-12-08 03:32] #16618 closed

[2018-12-08 03:32] #16517 closed

[2018-12-08 03:32] rwjblue commented on #16517
Wheeeee! Thank you @lupestro!

[2018-12-08 03:33] rwjblue commented on #16761
We generally reserve the issue tracker for bugs in Ember itself. This seems more like a Q/A "how do I do X" type thing, which is better served by [our forum](https://discuss.emberjs.com), Stack Overflow or discord (invite on https://emberjs.com/community).

I'm going to close this for now, but please do cross link your forum/SO post or update this thread with the answer you find (for any future se

[2018-12-08 03:33] #16761 closed

[2018-12-08 03:34] neborn commented on #16213
Thanks Robert for the reply.

With regards to the goal, it seems like data binding breaks down in some circumstances for form elements. And, ideally even those cases could be covered.

But, perhaps the contract that applies to components and helpers isn't intended to apply to native elements.

I want to acknowledge that it's been a little while since I originally posted, and I am now sure how upda

[2018-12-08 03:37] rwjblue commented on #16779
@timmorey I'm very sorry for the delay here, I did glance at the demo setup, and nothing is _obviously_ wrong with what you are doing, I am surprised that the test doesn't pass without jQuery....

Would you mind updating that reproduction and leveraging the newer `@ember/optional-features` mechanism for disabling jQuery to see if this is still an issue?

[2018-12-08 03:39] rwjblue commented on #16786
There is definitely no specific guarantee on how many times `didRender` will be called (we do however confirm that we will always fire at least once whenever something has changed).

This isn't really a bug in the framework, so I'm going to close this for now. I think we'd definitely accept a PR to the API docs or Guides if you can think of a way to make this clearer to folks than we do currently.

[2018-12-08 03:39] #16786 closed

[2018-12-08 03:42] rwjblue commented on #16789
With Ember 3.4 and higher this should be much better (still likely not perfect). We attempt to handle recovery and avoid the infinite recursive error throws, but its definitely possible there are specific scenarios that we still don't handle perfectly.

I'm going to go ahead and close this issue for now, but I'd love it if you could review the tests [around here](https://github.com/emberjs/ember.j

[2018-12-08 03:42] #16789 closed

[2018-12-08 03:45] rwjblue commented on #16843
Totally agree, addon generated tests should always be importing from the addon namespace (not the dummy app). Definitely happy to get PR's for this.

Lots of work in the blueprint space has been happening since this was originally opened, and I'm not sure if all of the examples of "bad cases" are still applicable. I think the first step would be to review the full list of blueprints that `ember-so

[2018-12-08 03:46] rwjblue commented on #16818
This issue isn't really very actionable, and its been quite a long time without feedback. I'm going to go ahead and close. Feel free to open a new issue with more details on how to reproduce if you are still hitting this...

[2018-12-08 03:46] #16818 closed

[2018-12-08 03:47] rwjblue commented on #16861
I believe this is resolved, @ef4 can you confirm?

[2018-12-08 03:52] rwjblue commented on #16730
Is this still an issue for folks on 3.6.0?

[2018-12-08 03:53] rwjblue commented on #16890
I think this has been addressed, @dnalagatla can you confirm?

[2018-12-08 03:54] rwjblue commented on #16851
Closing for now, but would still definitely welcome better docs for this confusing area...

[2018-12-08 03:54] #16851 closed

[2018-12-08 03:55] rwjblue commented on #16943
@anlumo - Friendly ping 😺

[2018-12-08 03:58] rwjblue commented on #16968
This does surprise me a tad, but I think that the quoted version is actually better anyways so it seems reasonable to me.

Would you mind submitting a failing test to [glimmerjs/glimmer-vm](https://github.com/glimmerjs/glimmer-vm) repo so we can track this down and deal with it over there?

In the meantime, I'm going to go ahead and close this one...

[2018-12-08 03:58] #16968 closed

[2018-12-08 04:00] anlumo commented on #16943
Oh sorry, forgot about this one. Anyways, it appears that the next release of Firefox will finally fix this bug after the ticket being open for two years, so implementing workarounds might not be a good use of development time any more.

I also recently realized that the bug is triggered by returning a WebGL texture inside a DS.PromiseObject only, so this ticket should probably have been created f

[2018-12-08 04:01] rwjblue commented on #14652
I think its fine, but it would require someone who cares enough to champion the issue.

As it stands now, the current behavior doesn't seem like a bug to me, we have a reasonable work around, so I'm going to close this issue...

[2018-12-08 04:01] #14652 closed

[2018-12-08 04:05] rwjblue commented on #16580
FWIW, I think that @kategengler and I figured out a more general possible solution here.  Hopefully one of us has time to implement in the next week or two. 😩

[2018-12-08 04:07] rwjblue commented on #17027
🎉 done did it, and released in 3.6.0...

[2018-12-08 04:07] #17027 closed

[2018-12-08 04:11] #16796 closed

[2018-12-08 04:21] rwjblue commented on #16943
Ahh! Thank you for following up!

I'm going to go ahead and close (feel free to reopen over on ember-data if you think thats a good idea)...

[2018-12-08 04:21] #16943 closed

[2018-12-08 09:49] raido commented on #16389
@rwjblue API docs link example in comment block says ‘routeDidUpdate’ as event name but actual event name is ‘routeDidChange’.

[2018-12-08 12:16] lindem commented on #17232
To clarify further: I am criticizing that it is not obvious that we cannot, as the spec mandates it, set these strings, but that ember tries to anticipate doing the right thing by reacting to `true`, `false`,  and `null` (the javascript values, not the strings).

I can live with it, and I actually have no idea where Ember should have documented that draggable *is being interpreted* instead of bein

[2018-12-08 13:16] medokin commented on #14747
It's still reproducible in twiddle with v3.4.2

The question is if this counts as a bug.

[2018-12-08 13:57] rwjblue commented on #16389
@raido - oh no! Great catch!

[2018-12-08 14:00] rwjblue commented on #16389
I submitted
https://github.com/emberjs/ember.js/pull/17313 to fix.

[2018-12-08 17:54] jfelchner commented on #14625
@rwjblue I've asked multiple people multiple times to help get me started on this and haven't been able to connect.  So at this point there's nothing for me to do.

[2018-12-08 20:51] rwjblue commented on #16623
@Turbo87 is this still an issue in 3.4 / 3.6?

[2018-12-08 21:06] rwjblue commented on #16630
The issue here is that the actual identity of the `sortedItems` array is actually the same, so when the `item-list` component internally does `this.set('sortedItems', passedInValue)` the internals of `Ember.set` dictate that the `this.sortedItems` in the `item-list` is the same exact value as it was before and it there does **not** notify that the property has changed (and ultimately does not rere

[2018-12-08 21:06] #16630 closed

[2018-12-09 00:48] neborn commented on #16213
I wrote this awhile ago. Really it's more of a feature request to have Ember special case native form elements and/or an acknowledgement of the limitations of the existing data binding model.

I'm not sure if the diff'ing model used by React takes care of this automatically, or if the library special cases native form elements.

If it's alright, I will keep this issue open as a request. Also, if y

[2018-12-09 12:12] Turbo87 commented on #16623
@rwjblue I am not working on that project anymore. We had ported it to Ember 3.4 shortly before I left the project, but I don't recall if it helped with this. Unfortunately we were not able to come up with a repro 😞

[2018-12-09 13:30] rwjblue commented on #16623
Hmm. Ok. I guess I’ll close this for now then, if someone else is affected and can help with a repro I’d definitely be happy to reopen and help dig in...

[2018-12-09 13:30] #16623 closed

[2018-12-09 16:48] boris-petrov commented on #17282
Well, [here is a reproduction](https://github.com/boris-petrov/ember-mutable-array-bug). Run `ember server`and open the page. You won't see the `console.log` in the console. If you checkout the previous commit (before the upgrade to Ember 3.6) and run the server, you'll see it print in the console.

This is a showstopper for us. Is it a bug or is this expected and we were using something private t

[2018-12-09 17:18] rwjblue commented on #17282
I’ll try to poke at the repro later today (assuming I don’t freeze, fall off a ladder, or electrocute myself while hanging holiday lights 😝)....

[2018-12-09 20:49] mike-north commented on #16843
At the very least, the examples enumerated above have not yet been fixed

[2018-12-10 00:01] rwjblue commented on #16928
The docs suggest that `create` is a static method of `@ember/object` (notice the `@for` there?), and do seem to be showing up properly at https://emberjs.com/api/ember/3.4/functions/@ember%2Fobject/create.

Going to close this for now (we can reopen, but I think @ember/object is the right place to document it these days...)...

[2018-12-10 00:01] #16928 closed

[2018-12-10 00:07] rwjblue commented on #16963
I'd need more information to be able to help the specific scenario, but the reported assumption is actually wrong. `owner.factoryFor('component:whatever-name').create().get('layout')` intentionally returns `undefined`. The `layout` property in `Ember.Component`'s are essentially "write only". In other words, the property is used to tell Ember to use a template _other than_ the default (which would

[2018-12-10 00:07] #16963 closed

[2018-12-10 00:08] rwjblue commented on #12473
@chadhietala - Any chance the router.js / router service updates for 3.6 have made this a bit easier to dig into (or possibly even fixed)?

[2018-12-10 00:19] rwjblue commented on #16737
Whoops, missed closing this one out when resolved.

[2018-12-10 00:19] #16737 closed

[2018-12-10 00:20] rwjblue commented on #16973
Docs were fixed in
https://github.com/emberjs/ember.js/pull/16977, considering this closed...

[2018-12-10 00:20] #16973 closed

[2018-12-10 00:30] rwjblue commented on #14959
@stefanpenner's analysis here was really good (thank you @stefanpenner!).

Yes, this is still an issue, but its somewhat fundamental and has likely been around for a very long time (possibly as long as 1.13).  I do not think there is a trivial way to solve this without introducing some pretty serious penalties. Most likely the best path forward is to migrate away from `Ember.Component` (e.g. [spar

[2018-12-10 00:30] #14959 closed

[2018-12-10 00:38] rwjblue commented on #16831
Yes, I totally agree that this is a bug. During `setupRenderingTests` type tests, I would absolutely want `this.router.urlFor(...)` and other methods to function properly.

The issue isn't really with `autoboot=false` though, inside `setupTest` / `setupRenderingTest` type tests you do have a fully booted application, **but** we specifically avoid starting routing as part of that setup. We probably

[2018-12-10 00:44] #16953 closed

[2018-12-10 00:46] rwjblue commented on #13823
As of https://github.com/emberjs/ember.js/pull/16185 `didReceiveAttrs` should be allowed to propagate changes upwards (though beware of backflow during render).

I'm on mobile ATM so its somewhat hard to check the twiddle against latest, @btecu mind double checking with 3.6?

[2018-12-10 00:48] rwjblue commented on #16152
It wasn't clear from re-reading the report above: are we leaking a single container here or one container per test?

[2018-12-10 00:59] rwjblue commented on #16377
Hmm, `Ember.TextField` (which is used by `{{input`)  specifically states that `min` / `max` are strings.  TBH, I don't think there is a reasonable place to document this that would have been very clear to @jacobq (or others hitting this issue). I believe the right fix is to just continue pushing forward with alternate component base classes (e.g. [sparkles-component](https://github.com/rwjblue/spa

[2018-12-10 00:59] #16377 closed

[2018-12-10 01:02] rwjblue commented on #17014
Whoops, looks like I forgot to circle around to this.

What needs to happen here is to ensure that the router service properly checks for a mount point on its `owner` and take that into account during the various methods (`urlFor`, `generate`, etc). This isn't terribly different from what we do in `link-to` and other components.

[2018-12-10 07:41] ondrejsevcik commented on #17221
Using element modifier version of action helper doesn't help in my case as I need to get mouse coordinates from mouse event object. But this event object is not passed in when using modifier version. As a workaround I've created a component with a `tagName: 'rect'` and attach required mouse events on it. That works, but it still feels like a workaround, especially when assigning action to property

[2018-12-10 09:17] ro0gr commented on #16349
I've just verified it against ember-source@3.6(cause its release notes say: `Final stage of the router service RFC (see emberjs/rfcs#95`) and the issue seems to be persited.

Here is a [repo with reproduction](https://github.com/ro0gr/qparams-repro) for ember-source@3.6 if helpful.

[2018-12-10 11:55] lstrzebinczyk commented on #16152
As I remember, this leaked a container per tests in which this case happened. However this seems to be gone now in ember 3.5! : )

So I'm going to close this issue as solved, please let me know if there is anything more I can do to help : )

[2018-12-10 11:55] #16152 closed

[2018-12-10 11:57] rwjblue commented on #16152
Awesome, thank you for confirming!

[2018-12-10 11:58] rwjblue commented on #16890
https://github.com/emberjs/ember.js/issues/16152#issuecomment-445790457 (an extremely similar bug report) mentioned that it was fixed in Ember 3.5.0. I suspect that means this is also fixed, but someone needs to verify by running through the repro steps...

[2018-12-10 15:35] devdemi commented on #17282
I get next error message in console:
[code]
I figured out that reason of it `store.query` request in `init` in one of my components:
[code]

[2018-12-10 15:39] lougreenwood commented on #17164
I also see this issue as described by @pieter-v on Ember `3.6.0`

[2018-12-10 18:50] backspace commented on #17046
Thanks for opening this, I’m finding this too while working on [fixing deprecations while updating `travis-web` to 3.6](https://github.com/travis-ci/travis-web/pull/1920). I was surprised that the documentation [says](https://github.com/emberjs/ember.js/blob/e329e3f4c00b78d61e260f054f3d80bb68536f33/packages/%40ember/-internals/runtime/lib/mixins/array.js#L1158-L1162) it’ll be removed in Ember 3.5

[2018-12-10 19:00] runspired commented on #17046
So roughly the issue here is that sinon wraps the modules and tries to clone the prototypes of each property of default exports in order to prepare for stubbing. That in turn results in the following call that iterates `ownPropertyNames` which accesses the "deprecated setter" for `@each` when wrapping that module.

[code]

[2018-12-10 19:50] sukima commented on #17046
In other words, either `@each` needs to be configured `enumerable: false` (invasive)

OR

Ignore the deprecation warning and it will go away once `@each` is removed (passive).

[2018-12-10 20:13] rwjblue commented on #17046
I think that https://github.com/emberjs/ember.js/issues/17190#issuecomment-440717625 is the same issue here.

[2018-12-11 01:01] rwjblue commented on #14071
Hmph, I don't actually understand what is going on here. Why doesn't it work? Has anyone dug into it?

[2018-12-11 07:09] boris-petrov commented on #16963
@rwjblue - thank you for the answer.

Actually the real issue is that when creating a component dynamically, it doesn't get the "static" layout that you have defined in `app/templates`. And from there follows the fact that it doesn't have the correct `layout` property.

I do think this is a bug and it doesn't make sense to be that way - why is there an inconsistency between using a component "stat

[2018-12-11 11:58] rwjblue commented on #16963
I’m not sure. In general, components should only be created by the renderer (by way of template invocation) and any other usage is likely to break over time.

The system as it stands today is specifically geared to “fast pass” the “normal” setup (where layout is resolved and not manually set). This is why the layout property is `undefined` by default.

In your scenario, you could maintain the same

[2018-12-11 13:13] jacobq commented on #16377
Thanks, all, for your consideration. I understand your reasoning in not addressing this, though I often wonder what I have done to upset the gods such that I seem to be always doing things that are "rare" and stepping on landmines that don't bother anyone else.

Perhaps someone would be willing to write a rule for [the template linter](https://github.com/ember-template-lint/ember-template-lint) th

[2018-12-11 13:23] kategengler opened #17341 "Update Changelog script"
The Changelog script currently uses a very out-of-date dependency (`github`), but as it is not covered by tests, needs to be manually updated (See https://github.com/emberjs/ember.js/pull/17299)

As an alternative, we'd like to explore using [`lerna-changelog`](https://github.com/lerna/lerna-changelog)

[2018-12-11 13:34] jacobq commented on #16928
I'm sure you're right. It just seems weird to me that an object would have methods not shown on its docs page even when all the "Show:" flags (inherited, protected, private, deprecated) are checked. Thanks for at least pointing out the `@for` directive. I didn't realize what that did.

[2018-12-11 14:20] lolmaus commented on #13039
What happened to `eachComputedProperty` in Ember 3.x? It seems to still work, but it is no longer mentioned in API docs. Private again?

Also, I failed to find the RFC entry mentioned above.

[2018-12-11 14:21] rwjblue commented on #16377
Sounds like a great linting rule!

[2018-12-11 14:31] boris-petrov commented on #16963
@rwjblue - thank you for the response.

The workaround you suggest makes sense. Thank you for it.

On the topic of dynamically creating components - am I to understand that such a thing is not going to be supported at all at some point? There are usecases that mandate such a possibility - for example the templates that the users create we compile down to DOM (in the JS code) and then pass this DOM

[2018-12-11 15:44] btecu commented on #13823
@rwjblue I just tested this. `init` still doesn't propagate changes upwards.
`didReceiveAttrs` does propagate change upwards but the application errors out as you pointed out:

[2018-12-11 16:23] rwjblue commented on #13823
Right, that is what https://github.com/emberjs/ember.js/pull/17266 (failing test PR for this scenario) is all about.

Lets track that specific issue over in https://github.com/emberjs/ember.js/pull/17266 though...

[2018-12-11 16:23] #13823 closed

[2018-12-11 16:24] rwjblue commented on #13823
Also, to clarify:

AFAIK it never has, and I don't think we should change this behavior

IMHO, the error **is correct**. This _is actually_ backflow during render and as such **should** be avoided...

[2018-12-11 18:54] kategengler commented on #17297
Yep. I self assigned because I want to finish this up today.

[2018-12-11 19:07] lupestro commented on #16861
I just ran into this porting our code from 2.18 to 3.4. Given the timing, would I expect the fix to appear in 3.5 or in canary? This seems important enough to backport, but then, since it was the only thing that broke on my project going to 3.4 (the next LTS in cycle), as my only gored ox, it would, right? :)

[2018-12-11 19:16] tomdale commented on #17234
We talked about auditing what gets included in the default app blueprint. See related issues:

1. https://github.com/ember-cli/ember-cli/issues/6294
2. https://github.com/ember-cli/ember-cli/issues/7760

[2018-12-11 20:39] rwjblue commented on #17234
FWIW, @tomdale that seems quite orthogonal to the Octane Edition to me (not saying we shouldn't be more careful and have better checks/balances, just that its not related to octane at all)...

[2018-12-11 20:42] rwjblue commented on #16861
Since the change that I _thought_ fixed it (https://github.com/emberjs/ember.js/pull/16785) **should** already be in 3.4 and it is still broken in 3.4.6, I don't think we currently have a valid fix.

Someone needs to dig in to determine what exactly is going on. If we can get a fix done, we should absolutely backport to 3.4.

[2018-12-11 21:14] mike-north commented on #17234
My reasoning for bringing this up recently is that a default blueprint that supports multiple programming models (i.e., a future default octane blueprint) may include extra cruft that a pure "classic" app or pure "octane" app doesn't need at all.

If we can validate that this is not a concern, I agree that this isn't very closely related to octane

[2018-12-11 21:39] NullVoxPopuli commented on #17234
imo, the octane blueprint, https://github.com/ember-cli/ember-octane-blueprint should be the _ideal_ brand new / shiny app. I don't think the old programming model should be involved in the blueprint. :-\

[2018-12-12 13:53] yoavfranco commented on #17158
You, my friend, have the smarts! and I support your request

[2018-12-13 01:45] FutoRicky commented on #15047
Same issue, had a component with a property called `element`. Changed it to `el` and everything working fine. Maybe the error message should be polished to handle this specific situation. Spent a couple of hours trying to figure out this issue. Thanks @tiandavis for this issue.

[2018-12-13 03:01] xg-wang opened #17361 "Poor feedback `object.new-constructor`"
Repro: https://github.com/xg-wang/__constructor-init-repro/blob/master/app/app.js#L13

[code]

This code will trigger the deprecation warning while doing the `C.create()` instead of `new C()`. The fix is to add `super(...arguments)`, but ultimately user should follow https://github.com/emberjs/rfcs/pull/337 to use `init` instead of `constructor`

The current message "using `new` with EmberObject h

[2018-12-13 03:04] xg-wang commented on #17361
cc @pzuraq

[2018-12-13 09:00] jacobq commented on #17190
I can confirm that this problem still happens in 3.6 and 3.7.0-beta.1.
One easy way to check for regression is to [run `for (var x in []) console.log(x)`](https://ember-twiddle.com/a15206d6cf5ab608849f5ef8a2b0327d):

* In vanilla JS: logs nothing
* In Ember 3.5.1 logs `_super`
* In Ember 3.6.0 & 3.7.0-beta.1 it logs `_super`, `[]`, `firstObject`, `lastObject` `hasArrayObservers`, and `@each`

See

[2018-12-13 10:13] Turbo87 opened #17367 ""run.next: multiple calls to next share coalesce callbacks into same run loop" test is flaky"
It seems that when run on IE11 the `run.next:  multiple calls to next share coalesce callbacks into same run loop` test is sometimes failing on CI for unknown reasons.

see https://travis-ci.org/emberjs/ember.js/jobs/467354719 for example

/cc @rwjblue

[2018-12-13 20:48] pablobm opened #17368 "Page title not updating after a transition"
When browsing the guides, the page title is set on the browser when the user first lands on the site, acquiring the title of the page of the landing. However, when the user clicks a link to a different page on the site, this is not updated.

Example reproduction:

1. Visit the guides at https://guides.emberjs.com/release/getting-started/quick-start/
2. The page title is set to "Quick Start - Getti

[2018-12-13 20:48] pablobm commented on #17368
Sorry, this was intended for the guides.

[2018-12-13 20:48] #17368 closed

[2018-12-14 07:44] boris-petrov commented on #17282
@rwjblue - did you get a chance to see the reproduction and do you have any ideas what we can do? We cannot update to 3.6 because of that. :(

[2018-12-14 07:56] ispiders commented on #15422
Just checked with ember@3.3, this is not a issue anymore.

[2018-12-14 07:56] #15422 closed

[2018-12-14 07:59] ispiders commented on #15422
By the way, ember@3.1 still have this issue, so if anyone run into the same problem. You may upgrade ember to > ember@3.2

[2018-12-14 12:43] dguettler opened #17370 "Wrong assertion for local variable shadowing helper"
Affected: Ember 3.6
Related PR: https://github.com/emberjs/ember.js/pull/17132

Code causing an issue:
[code]

Error raised:
[code]

Changing above code to:
[code]
passes compilation and does not raise an error.

Expected:
Original code should not raise an error as `changeset` is not invoked in the block.

[2018-12-14 14:24] janmisek opened #17371 "Ember.create(a, undefined, b) is failing after migration to 3.5 from 3.0"
Reason is that `CoreObject.create`  checks whether there is more arguments because of migration to native classes and then it decides how to instantiate. But this check is invalid regarding behaviour of previous ember versions:

https://github.com/emberjs/ember.js/blob/db6a5deeeb0564372159be92d901c804c92266c0/packages/ember-runtime/lib/system/core_object.js#L688

[code]
`extra` could be `undefined

[2018-12-14 14:43] anpenava opened #17372 ""Assertion Failed: You modified "activatedModifier" twice..."
`"Assertion Failed: You modified "activatedModifier" twice on <frontend-client@component:text-field::ember376> in a single render. It was rendered in "component:text-field" and modified in "component:text-field". This was unreliable and slow in Ember 1.x and is no longer supported. See https://github.com/emberjs/ember.js/issues/13948 for more details."`

I was just wondering if this is different e

[2018-12-14 15:27] bedrosenator opened #17373 "After update ember-source from 3.5.1 to 3.6.0 I've got index.js:91 RangeError: Maximum call stack size exceeded"
[code]

[2018-12-14 15:33] avdept commented on #17373
Getting same issue while updating 3.4 -> 3.6

[2018-12-14 15:33] rwjblue commented on #17371
Can you share a snippet that demonstrates the failure? I assume it’s something like:

[code]

If that’s correct, I’m not sure that we intentionally supported that previously 🤔

[2018-12-14 15:34] rwjblue commented on #17371
The new code that you linked is trying to avoid checking `arguments.length` in this **incredibly** hot path...

[2018-12-14 15:41] pieter-v commented on #17373
Probably a duplicate of #17190

[2018-12-14 15:41] rwjblue commented on #17373
Will definitely need reproduction steps to be able to help with this...

[2018-12-14 15:44] bedrosenator commented on #17373
It happens when I load app. So I can't see even index page loaded

[2018-12-14 15:48] pzuraq commented on #17371
This should have thrown an error since v1.0.0: https://github.com/emberjs/ember.js/blame/2cdbb0df09fc4ab97ea38ac6d91fee66c3f314fd/packages/ember-runtime/lib/system/core_object.js#L74

I don't think it's a good idea to continue supporting this, but I am curious as to how it was working before 3.x. The assertion has been there this whole time from what I can see.

[2018-12-14 15:49] rwjblue commented on #17373
Awesome, thanks for connecting the dots on that for me @pieter-v!

[2018-12-14 15:50] rwjblue commented on #17373
I’m going to close this in favor of
https://github.com/emberjs/ember.js/issues/17190

[2018-12-14 15:50] #17373 closed

[2018-12-14 15:53] bedrosenator commented on #17373
Thanks, seems to me this is the same as it was described in #17190

[2018-12-14 15:53] pzuraq commented on #17371
We could possibly add an assertion that checks if `arguments.length` > 2 and throws, seems like it would be not ideal though even in dev mode, like @rwjblue mentioned this is a very hot path.

[2018-12-14 15:56] rwjblue commented on #17371
Just to be clear:  having more than 2 args is fine but they all need to be objects.

A dev mode assertion would probably be fine for this. It would at least give a proper error instead of creating malformed objects...

[2018-12-14 16:36] galfert commented on #14737
No, the input element produced with that snippet doesn't have the same issue.

[2018-12-14 17:34] pixelhandler commented on #17370
Well, I think it's a bad idea to use a block param and shadow a helper, I like the error. We ran into this and changed our block param variable name. I thought the error was helpful, but it was a little confusing at first, then I read `Please rename the local variable to resolve the conflict.` and it made more sense.

[2018-12-14 18:55] pixelhandler commented on #17372
@anpenava have you reached out to the community https://emberjs.com/community/ perhaps this would get more feedback on the discussion form or the Discord chat.

We typically use the issues here on Github for bug reports.

[2018-12-14 18:59] pixelhandler commented on #16948
@cbou Looks like the best way to continue with a request for a feature/change is to open an RFC issue, see https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#requesting-a-feature

Please move this over to the RPC repo as an issue, https://github.com/emberjs/rfcs

[2018-12-14 19:08] pixelhandler commented on #16939
@dexturr thanks for posting this issue and providing a example reproduction :)

Yeah i agree fault tolerance is important, and in the case of an error on a route that event bubbles up to be handled as the application determines by either using an `error` handler defined with the route's `actions` hash, or as an error sub-state when an error template exists. You can use both but in order to also us

[2018-12-14 21:39] chancancode commented on #17370
@rwjblue yep this is a bug

[2018-12-14 21:54] jacobq commented on #17190
Running `git bisect` with the test I wrote in #17374 suggests that the problem was introduced by 02af02546a05cd372bf53033318f65af7b544023

[2018-12-14 22:33] rwjblue commented on #17190
Hmm, that seems somewhat surprising because I think that landed after this issue was reported right?

[2018-12-14 22:46] jacobq commented on #17190
OK, I am trying again but using more automation (was running the test myself before and may have made a mistake).

Create executable `test.sh` script with the following contents:
[code]

Then bisect like this
[code]

[2018-12-14 22:49] rwjblue commented on #17190
Awesome, that makes sense!

[2018-12-14 22:50] jacobq commented on #17190
Now someone just needs to fix it :D

[2018-12-15 01:39] rwjblue commented on #17190
Fixed by #17374

[2018-12-15 01:39] #17190 closed

[2018-12-16 16:20] lifeart opened #17377 "Camelized Named arguments naming issue"
`<@ItemComponent />` renders "OK", `{{@ItemComponent}}` -> throw error `Assertion Failed: '@ItemComponent' is reserved.`
reproduction: [Ember Twiddle](https://ember-twiddle.com/b4f0d498611309dbcb26c9577b768f17?openFiles=templates.components.my-books.books-list.hbs%2C)

Refs: https://emberjs.github.io/rfcs/0276-named-args.html#reserved-names

It's really confusing if you missed this paragrath in RF

[2018-12-16 21:02] janmisek commented on #17371
[code]

Yes this is how it could be reproduced.

[2018-12-16 21:08] janmisek commented on #17371
My use case from code prior to 3.5 is:

[code]
`ownerInection` is obvious
`options` are some user options of wrapping method
`attrs` are my attributes, which I do not want to be overriden by options

But anyway. Its easy to refactor this to some other construct and the code is not anymore in my codebase. But as it was working prior to 3.5 I would consider this as breaking change.

[2018-12-16 21:15] pzuraq commented on #17371
Given there was an assertion that was meant to prevent users from passing any arguments other than objects, it was more likely a bugfix. It is unfortunate that this may break user code, but it also was not the intended public API.

[2018-12-17 09:33] anpenava commented on #17372
Ok no problem thank you, I will check on discord .

[2018-12-17 15:34] hakilebara opened #17381 "[docs] dead link to w3.org wai-aria documentation"
https://github.com/emberjs/ember.js/blob/a5f870fd309e5008667b3ca2bf569721ac3c2f96/packages/%40ember/-internals/glimmer/lib/component.ts#L676

[2018-12-17 15:37] hakilebara commented on #17381
should be: https://www.w3.org/TR/wai-aria/#roles_categorization

[2018-12-17 18:37] rwjblue commented on #17381
Thank you for the issue! Would you have time to open a PR fixing the issue?

[2018-12-17 21:41] jacobq opened #17382 "[DOC] Clarify union return value (@ember/object/computed)"
API docs site (v3.6) [for `union`](https://www.emberjs.com/api/ember/3.6/functions/@ember%2Fobject%2Fcomputed/union) shows return value:

([from here](https://github.com/emberjs/ember.js/blob/v3.6.0/packages/%40ember/object/lib/computed/reduce_computed_macros.js#L549-L550))

It would be nice if this were updated to include the clarified description [from the notes](https://github.com/emberjs/ember

[2018-12-17 22:36] Mithrilhall opened #17384 "Maximum call stack size exceeded when using Google Maps"
Using Google Maps API v3 I'm getting the following error message when using Ember 3.6.0. It works fine in Ember 3.5.1.

[code]

[Here is a link to project showing the error.](https://github.com/Mithrilhall/map-3-5-1) The _Master_ branch is 3.5.1 and there is a 3.6.0 branch where the error is shown.

[2018-12-17 23:35] #17297 closed

[2018-12-17 23:37] kategengler commented on #17381
Fixed by #17385

[2018-12-17 23:37] #17381 closed

[2018-12-17 23:39] sandydoo commented on #17384
I've seen a similar issue with `ember-google-maps` https://github.com/sandydoo/ember-google-maps/issues/43.

The error seems to be caused by the array prototype extensions added by Ember.

There is a chunk of obfuscated code in the Google Maps SDK that appears to compare nested arrays.
It uses a `for` `in` loop to compare each element in the array. In Ember 3.6, this loop now also returns `[]`, wh

[2018-12-17 23:47] sandydoo commented on #17384
Looks like @rwjblue figured it out, just needs a release. https://github.com/emberjs/ember.js/commit/98afaff5f82bc5afa743bf8889ea10977d7f76f9

[2018-12-18 14:05] Mithrilhall commented on #17384
I ended up putting this in my init to temporarily fix it (found in another issue):

[code]

[2018-12-18 14:18] sly7-7 commented on #16678
@rwjblue I'm currently trying to implement https://github.com/emberjs/ember.js/blob/master/packages/%40ember/map/with-default.js in my app, but I encounter this error during tests in CI:
[code]

My implementation is simply this one:
[code]

Is there something wrong with the compiler ? (I'm on "ember-cli-babel": "^7.1.3")

[2018-12-18 15:34] rwjblue commented on #16678
The basic issue is with transpilation. Its difficult to subclass native Map / Set / Error / Array objects and _also_ transpile away the `class` syntax (you will get the error message you reported when the transpiled `super()` call runs from the constructor).

I actually had handle this problem in ember-data when this issue was originally being worked on, my strategy there may be helpful to you.

*

[2018-12-18 16:23] #17382 closed

[2018-12-18 18:14] sandydoo commented on #17384
@jacobq, yes it's the same issue and it has been fixed. Thanks for catching it so early.

_However_, considering that prototype extensions are enabled by default and the ability this has to break third-party code, I believe it calls for a `3.6.1` patch. 98afaff does have the correct `[BUGFIX release]` tag, so we should ideally expect a patch.

[2018-12-18 18:18] rwjblue commented on #17384
yep, we will definitely have a 3.6.1 _soon_ (hopefully today/tomorrow)...

[2018-12-18 18:18] #17384 closed

[2018-12-19 01:16] kategengler commented on #16580
We believe we've fixed this by changing the way Ember publishes builds to s3 (for use in ember-try among other places.

@kellyselden Can you confirm this is fixed?

[2018-12-19 10:13] kellyselden commented on #16580
I haven't seen it for a while.

[2018-12-19 10:13] #16580 closed

[2018-12-19 12:30] rwjblue commented on #16678
I kinda doubt it for IE11, and all of the evergreen browsers can already handle it...

[2018-12-19 14:49] rwjblue commented on #14071
OK, I did a bunch of digging on this to figure out what was going on.

When running in "normal" mode (e.g. non-tests) when the button is clicked there is no preexisting run loop, however when running in test mode the `click` promise has resolved but the run loop has not fully finished flushing (e.g. we haven't fired BB's end hooks).

Now, you ask _why the heck do I care if there is a run loop or n

[2018-12-19 14:49] #14071 closed

[2018-12-19 15:03] rwjblue commented on #16580
Agreed @Panman8201. If folks do see it again, please feel free to chime in here or open up a new issue...

[2018-12-19 15:45] jacobq commented on #17282
@devdemi what you mentioned sounds related to https://github.com/emberjs/ember.js/issues/17373 which should be fixed in 3.6.1, which was just released.

[2018-12-19 15:50] boris-petrov opened #17393 "Computed property recomputes two times for a single set"
[Here is a reproduction](https://github.com/boris-petrov/ember-recompute-bug).

`ember server`

Then open http://localhost:4200/ and type in the console `x.set('a', Ember.A([{ a: 2, b: 4 }]))` - you will see `computing y` twice in the console. If you remove any of the two dependencies of `y` (i.e. make it either `x.@each.a` or `x.@each.b`) - then it computes only once.

I think this is a bug.

[2018-12-19 15:53] boris-petrov commented on #17282
@jacobq - any idea about the original issue? It's not fixed in 3.6.1 unfortunately.

[2018-12-19 16:50] you-yas55 commented on #11047
I'm having the same problem, on a component that's initialized within a tabs component, didInsirtElement and similar hooks get called twice for some reason, first time is correct and second time with an element gets destroyed.

`Assertion Failed: calling set on destroyed object`

[2018-12-19 16:52] #16738 closed

[2018-12-19 19:51] buschtoens opened #17395 "Local Lookup does not work for addons"
I've created a reproduction repo here: https://github.com/buschtoens/addon-local-lookup

Local lookup does not work for addons. It works fine for apps. I don't really understand yet, whether the problem lies in `ember-resolver` or in `@glimmer/*`, so I put this issue here. 😅

[2018-12-19 19:54] jacobq commented on #17393
I looked at your repro just for fun, and that behavior does surprise me, but at the same time it seems to be caused by returning the computed property from the observer. I don't understand why one would ever want to return a value from an observer. Could you explain this more?

I also tried tweaking your example a bit in https://github.com/boris-petrov/ember-recompute-bug/pull/1 in case it helps s

[2018-12-19 20:04] buschtoens commented on #17395
[`isSpecifierObjectAbsolute(r)`](https://github.com/glimmerjs/glimmer-resolver/blob/42cfa17ad5bb9fe69a50f028707e58efa4bf91ba/src/resolver.ts#L34) evaluates to `true` for apps, but `false` for addons, because the leading `/` is missing. My suspicion is that, this is the cause.

[2018-12-19 20:21] buschtoens commented on #17395
Yes, indeed! When I set a breakpoint just before the [`isSpecifierObjectAbsolute(r)`](https://github.com/glimmerjs/glimmer-resolver/blob/42cfa17ad5bb9fe69a50f028707e58efa4bf91ba/src/resolver.ts#L34) check and override `r` as

[code]

it works!

[2018-12-19 20:37] buschtoens commented on #17395
Closing in favor of https://github.com/ember-cli/ember-resolver/issues/296.

[2018-12-19 20:37] #17395 closed

[2018-12-19 21:49] boris-petrov commented on #17393
@jacobq - thanks for the answer. Actually the return from the observer is just a leftover as I translated this code from CoffeeScript. Getting the value is what is important, returning it does nothing. Our use case is of course much more involved, I don't want to even begin explaining it, but it boils down to essentially this code.

Thanks for the expansion of the example! We've workarounded (not

[2018-12-19 21:57] boris-petrov commented on #17282
Thanks for the response. It's probably easy to find which commit did it - right now the code is written to not support our use case so I just have to find out what did it. I'll write tomorrow so if anyone wants to help, they can start from there. :)

[2018-12-20 06:40] boris-petrov commented on #17393
Yes, the observer does access the computed property - in a transitive way, but in the end it does. And yes, as you've noticed - if the observer is removed, then the bug goes away.

I'm not sure whether this needs any kind of "synchronization". I wouldn't think it does - it's simple getters and setters (and there is no asynchrony anywhere). And generally I'm against putting randomly stuff like `sch

[2018-12-20 10:12] FabHof opened #17397 "Component re-renders without changes to attributes."
I have a route with a dynamic segment and a component, that displays a value of the model.

* I am on this route with dynamic segment id 1.
* When I transition to the same route but with dynamic segment id 2 via {{link-to}} the model is loaded and the re-render-hooks of the component are called (all as expected)
* When I then transtion to the same route again (id 2) via the same {{link-to}} the mo

[2018-12-20 10:45] locks commented on #9265
I am closing this since Octane and tracked are on the horizon. Thanks for the reproduction! If anyone picks it up, I'll reopen the issue.

[2018-12-20 10:45] #9265 closed

[2018-12-20 10:49] locks commented on #10870
The link is now working properly!

[2018-12-20 10:49] #10870 closed

[2018-12-20 11:08] locks commented on #14798
Marking this as inactive due to lack of discussion. Thanks for submitting the report!

[2018-12-20 16:00] jacobq commented on #17393
Out of curiosity, does the recomputation of the computed property cause a problem (it should should be a pure function of the values it depends on so should produce the same result if re-evaluated) or are you just concerned about the performance?

[2018-12-20 16:08] boris-petrov commented on #17393
It is a "pure" function, yes, however it causes a search to the BE to be repeated with the same query - we have our own computed properties that do searches and they do a new query when the computed property is recomputed. In this case it recomputes twice with the same value and causes two searches for the same thing. Not the end of the world, just a performance bug. :)

[2018-12-20 16:57] jacobq commented on #17397
That seems super weird to me. It seems that even though `this.value` stays the same, Ember believes component attributes have changed (and `this.attrs.value` is a new `MutableCell` object, even though its properties all look the same, though I'm not sure if that's significant). The router doesn't fire `didTransition` either, so it seems to understand that the route hasn't changed.

https://ember-t

[2018-12-20 18:13] tomdale commented on #14712
@Serabe @jherdman So am I understanding correctly that this issue with radio buttons is exacerbated by the fix for `input[type="range"]`, since we always move setting the `type` attribute to the end?

[2018-12-20 21:32] lifeart commented on #14712
@tomdale just checked in IE11 -> for any single "input[type="radio"] node.value === 'on'

[2018-12-20 21:41] jherdman commented on #14712
@tomdale yeah, probably. The lesson for me is that various implementations do NOT treat attribute insertion as irrelevant. The good news is that (AFAIK) the range and radio elements are the only ones that we seem to have run into.... that I know of :)

[2018-12-21 01:49] ppcano commented on #17224
I will look at this issue soon and try to implement a fix.

I think so.