[2016-04-18 19:07] haldiggs commented on #13361
oops... it was the Ember debugger that just had the data in its view. closed in error

[2016-04-18 19:07] #13361 closed

[2016-04-18 19:15] kratiahuja opened #13362 "Ember.assign when called with Array.prototype.reduce produces a different result"
I am not sure if I have explained this in a best way. But with Ember 2.5.0, I believe Ember.merge and Ember.assign are supposed to be functionally same (since there is a deprecation to use Ember.assign).

Following is the example in the change in behavior between Ember.merge and Ember.assign:
Using `Ember.merge`:
`[{'a': 'a'}, {'b': 'b'}].reduce(Ember.merge)` produces `{'a': 'a', 'b': 'b'}`

Using

[2016-04-18 19:38] jamesarosen commented on #11469
The minimal test case on Ember 1.13.11 is

[code]
This fails with
[code]
but I expect it to fail with
[code]

[2016-04-18 19:39] jamesarosen commented on #11469
Or, more minimally,

[code]
which fails with
[code]

[2016-04-18 19:42] mmun commented on #13342
You can keep computed.sort on controllers and other singletons, but not components. Instead you could try writing out a custom computed property that depends on all the possible fields that the dynamic computed.sort will every depend on...

[code]

[2016-04-18 19:47] rwjblue commented on #11469
Have you tested this on a recent Ember version? A number of issues have been resolved in the last year that do not exist in 1.13, it is possible that this is already resolved.

[2016-04-18 19:54] rwjblue commented on #13362
Can you provide a demo JSBin or ember-twiddle showing this? We need to see the actual invocations and whatnot to understand what is going on...

[2016-04-18 19:58] xcskier56 commented on #13342
@mmun, thanks for the advice! I will implement that.

[2016-04-18 19:58] #13342 closed

[2016-04-18 19:59] jamesarosen commented on #11469
We're a log way from being able to upgrade beyond 1.13. I'll test it in some more recent Embers and let you know. Maybe that will help us find where it was fixed and back port that.

[2016-04-18 20:07] bryanaka commented on #12533
Alright @Serabe @pixelhandler opened a PR - #13363

[2016-04-18 20:18] asakusuma commented on #13127
@Joelkang I can't recall anything related to your question, what exact files have I touched that are related? If I can look at the git commit where I touched it, might jog my memory.

[2016-04-18 20:39] stefanpenner commented on #11469
@jamesarosen you describe expected behavior.

[2016-04-18 20:52] kratiahuja commented on #13362
Sorry, about not including the JSBin. I'll create that today

[2016-04-18 20:55] jamesarosen commented on #11469
How would you test that something that requires `set` (and this the run-loop) rejects without the test failing?

[2016-04-18 21:12] stefanpenner commented on #11469
The rule of thumb is as follows: If you have a rejection and if by the end of the current run-loop it is not handled, we assume it may never be handled and fail your test.

So if a handler is attached before the end of the run-loop, all will be fine.

In your example, whoever the consumer of `singIn` is must handle the rejection before the end of the run-loop.

[2016-04-18 21:14] Joelkang commented on #13127
@asakusuma oh i just meant that since you're working on the local lookup test, to see if there's any commonality there at all

[2016-04-18 21:20] asakusuma commented on #13127
`integration/helpers/custom-helper-tests.js` doesn't appear to be testing local lookup. Also, local lookup is not working in glimmer right now, which I'm working on fixing.

[2016-04-18 21:22] jamesarosen commented on #11469
Ah! So this should work:
[code]

[2016-04-18 21:42] stefanpenner commented on #11469
@jamesarosen ya, now i understand this seems WAT. But it is the way it is after much consideration. It is a tricky balance we must strike. If others have better ideas, I'll listen but just be warned its a tricky balancing act...

[2016-04-18 21:47] spinlock99 commented on #12340
I don't think it's terrible to just leave `itemControllers` out of 1.13. Breaks semver but I think most people following Ember's development know that there were significant changes after 1.10.

My advice would be not to upgrade past 1.10 if you are using `itemControllers`. Refactor them out first and then continue upgrading.

[2016-04-18 22:09] jamesarosen commented on #11469
OK. This test helper to wrap everything in an `Ember.run`. That way, test authors don't reach for `Ember.run` inside their tests and get bitten by rejected promises.
[code]

[2016-04-18 22:33] nickiaconis commented on #13362
My guess is `assign` is taking the fourth parameter from the [`reduce` callback](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/Reduce#Parameters) (i.e. the original array) and treating it like an object with properties 0 and 1, thereby merging it into the target object. Since [`Object.assign`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Referenc

[2016-04-18 22:44] #11701 closed

[2016-04-18 22:45] Serabe commented on #12533
@bryanaka: thank you so much! Not let's wait for some core member to review it. Maybe @rwjblue can give a quick glance to #13363.

[2016-04-19 00:08] rwjblue commented on #13362
@nickiaconis - Yes, we are removing the `Ember.merge` deprecation (it has already been removed in canary, beta, and release branches).  2.5.1 should be released soon...

[2016-04-19 00:08] rwjblue commented on #13362
Closing this, thanks to @nickiaconis explanation.

[2016-04-19 00:08] #13362 closed

[2016-04-19 00:31] stefanpenner commented on #11469
@jamesarosen I would consider that test helper an anti-pattern, but the solution would be to simply handle the result of the callback before returning to run itself.

[2016-04-19 00:33] locks commented on #12119
I am closing this issue since it won't get fixed even if it gets acknowledged.
Feel free to re-open the issue if you think it's still justified, thank you! Sorry it didn't get addressed at the time.

[2016-04-19 00:33] #12119 closed

[2016-04-19 00:34] locks commented on #11927
I am closing this issue because the linked bug report is closed.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-19 00:34] #11927 closed

[2016-04-19 00:37] locks commented on #12590
I am closing this issue as angle bracket components are currently being revisited and this issue might not be relevant anymore.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-19 00:37] #12590 closed

[2016-04-19 00:39] locks commented on #11282
I am closing this issue because I don't believe it is no longer relevant to current Ember versions.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-19 00:39] #11282 closed

[2016-04-19 00:42] jamesarosen commented on #11469
I have no doubt you would. But the only other option is to wrap each test in `Ember.run(() => {...})` since the _thing that catches the rejection is the test_. It's not some other client in the app. The test is asserting that the method returned a rejection. And I need the run because there are `set` calls. Without it, I get the "You turned on testing mode, which disabled the auto-run."

If I seem

[2016-04-19 00:42] locks commented on #12621
@Emrvb is this still relevant?

[2016-04-19 00:46] locks commented on #12654
I am closing this issue because `didInitAttrs` was removed from the API for plain `init`.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-19 00:46] #12654 closed

[2016-04-19 00:47] locks commented on #12244
Is this still relevant?

[2016-04-19 00:56] locks commented on #12665
@ruz `enter` is an Ember action that the input component emits, not an event. If you open the console you'll see "e.preventDefault is not a function", which is due to that.

You would need to handle the submit event like mentioned.

I am closing this issue as it seems like it was a small misunderstanding.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-19 00:56] #12665 closed

[2016-04-19 01:10] stefanpenner commented on #11469
This often correlates to, don't cause yourself extra pain/frustration. The suggestions are not arbitrary.

[2016-04-19 01:37] jamesarosen commented on #11469
Thanks, @stefanpenner. I'll keep digging and see what I can turn up.

[2016-04-19 03:02] jcope2013 commented on #10916
@locks yes tried on ember 2.5 and still have to use workaround mentioned in https://github.com/emberjs/ember.js/issues/10916#issuecomment-123816269 or it doesn't work properly

[2016-04-19 04:14] acorncom commented on #12015
Should this issue still be open? I'll close for now, but if it's still something that needs to be open please comment and we can revisit it.

[2016-04-19 04:14] #12015 closed

[2016-04-19 05:33] vedharish opened #13368 "Routing error on IE8/9"
Hey,
 I recently opened the issue testem/testem#846.

Basically, I created a new ember app with `ember new my-app`, added some logging to the testem server and ran the tests locally on IE8.
 I am getting errors similar to `error ENOENT: no such file or directory, stat 'C:\Users\win7\3568ae5193185c71aa283fd227489fc1\my-app\tmp\class-tests_dist-GUZ6dX1k.tmp\tests\assets\vendor.css'` (I checked on th

[2016-04-19 07:32] locks commented on #11595
@rwjblue could it be a linting rule that's turned on by default?

I suggest we close this issue and open one in the Guides for a clarification in the nested routes section.

[2016-04-19 07:35] locks commented on #13368
@vedharish note that [IE8 is no longer supported](http://emberjs.com/blog/2015/04/20/ie8-support-update.html). And just to clarify, you tested on other browsers and didn't have the same problem?

[2016-04-19 07:43] vedharish commented on #13368
Yes, This works fine on chrome/firefox/IE10/IE11. It shows the above issue for IE8/IE9

[2016-04-19 07:45] locks commented on #13112
@crudo1f please confirm whether this should be filed in the jQuery tracker instead, and if so close this one. Appreciated!

[2016-04-19 07:49] locks commented on #5334
@jamesarosen anything happening here?
cc @rwjblue

[2016-04-19 11:22] Serabe commented on #13227
I've found [this comment](https://github.com/ramda/ramda/issues/468#issuecomment-60030160). Can you check you don't have auto crlf?

[2016-04-19 11:40] rwjblue commented on #11192
Going to close this in favor of #13351, but there is some discussion there about whether we should add support back for this...

[2016-04-19 11:49] rwjblue commented on #11595
Sure, seems good to me (RE guides info). We may also want to add info to the router.map API docs.

[2016-04-19 11:54] rwjblue commented on #13368
That error appears to be a build time error, and seems unrelated to browser (browsers don't throw ENOENT, this is a node/build time error).

This repo is for bugs in Ember itself (not ember-cli). If this is an Ember bug you should be able to recreate the IE9 failure in JSBin or ember-twiddle.com (if those services support IE9 that is). If this is a build time error (unrelated to browser) then it s

[2016-04-19 12:40] vedharish commented on #13368
Well, ENOENT roughly means 'no such file or directory found'.

In this case, this is the log from testem server. Here is what I think is happening -
When running `ember test`, a testem server is started. It (ember? / testem?) creates a tmp directory in the current working directory and adds asset files and other temp file to serve to `tmp\class-tests_dist-{random hash}.tmp\assets\` directory. In s

[2016-04-19 12:53] rwjblue commented on #13368
Yep, I am aware.  As I mentioned, a browser can not throw this error.

Ember itself doesn't trigger any asset requests (at all), which is why I suggested that you create steps to reproduce this and submit an issue to ember-cli.

[2016-04-19 12:53] medokin opened #13370 "[Beta] TemplateCompiler error after updating to 2.6.0-beta.1"
Hi, I get the following error after the update from 2.5.0 to 2.6.0-beta.1:

[code]

Does someone has an idea where i should start looking for the cause?

Ember: 2.6.0-beta.1
Cli: 2.4.3
OS: Win10

[2016-04-19 12:57] rwjblue commented on #13370
This was fixed by https://github.com/emberjs/ember.js/pull/13312, which is included in the `beta` branch and will be released as v2.6.0-beta.2.

[2016-04-19 12:58] rwjblue commented on #13370
You can update to latest `beta` channel build via `bower install --save ember#beta`, or just wait until 2.6.0-beta.2 is released.  Sorry about the troubles.

[2016-04-19 12:58] #13370 closed

[2016-04-19 13:02] medokin commented on #13370
Ah ok. Issue was opened under `canary`, I searched only for beta issues...
No trouble at all
Thanks :+1:

[2016-04-19 13:03] vedharish commented on #13368
Okay. I think I will create an issue there. Thanks!

[2016-04-19 13:03] #13368 closed

[2016-04-19 13:10] coachTomato commented on #13112
I have the same problem in my project and have to use jquery 2.1.4 to fix it. Would be great, if this could be filed in the jQuery tracker.

[2016-04-19 13:39] jamesarosen commented on #5334
I had a [PR](https://github.com/emberjs/ember.js/pull/12338), but it lingered and was closed. I stopped working on the app that this was a problem for about a year and a half ago.

[2016-04-19 16:22] Macainian opened #13373 "Quick-Start documentation for v2.5 has command to install v2.4."
https://guides.emberjs.com/v2.5.0/getting-started/quick-start/

[2016-04-19 16:48] jamesarosen commented on #11469
@stefanpenner pointed me in the right direction. `Ember.RSVP` will automatically enqueue run-loops without `Ember.run` *and it won't trigger the auto-run error in test mode*. That means I can just do
[code]
and it works just fine :)

[2016-04-19 17:02] sukima commented on #11244
These seem like very complex and convoluted solutions to a problem that should be real simple to manage. Why is the core fighting something like this:

[code]

You could attempt this:

[code]

But that seems weird and not supported. Is it really the intent to make `link-to` a mystery left to the unsure, non-experienced, new-comer, ember developer?
[code]

[2016-04-19 18:15] exupero commented on #11288
I'm seeing the same behavior using Ember 2.4. The method is called, but doesn't appear to have any effect.

I see several examples of using `serializeQueryParam` on GitHub, but all using Ember 1.

[2016-04-19 18:16] locks commented on #13373
Hi @Macainian, this has already been filled in the guides repository, see https://github.com/emberjs/guides/pull/1385 and https://github.com/emberjs/guides/pull/1379.

[2016-04-19 18:16] #13373 closed

[2016-04-19 21:41] pwfisher commented on #11135
Specifically, here's how you use `lookup` instead of `create`:
[code]

[2016-04-19 22:47] joetidee opened #13375 "Documentation for 2.5 needs slight change..."
On this page:

[https://guides.emberjs.com/v2.5.0/tutorial/ember-data/](https://guides.emberjs.com/v2.5.0/tutorial/ember-data/)

when I genenrate the Model using `ember g model rental`, the `rental.js` file looks like this:

[code]

This is syntactically slightly different to the docs and affects subsequent references on this page.

[2016-04-19 22:55] locks commented on #13375
Thank you for the bug report, but this has already been addressed [by a PR in the Guides repository](https://github.com/emberjs/guides/issues/1373).
It should be updated at the latest with the 2.6 release.

[2016-04-19 22:55] #13375 closed

[2016-04-19 23:07] joetidee commented on #13375
Are you able to provide some guidance with how the /app.models/rental.js file should look once the attributes have been added?

[2016-04-19 23:12] poteto commented on #11152
I can get a twiddle up, but the jsbin is pointing to the canary channel so it still seems to be an issue

[2016-04-19 23:18] poteto commented on #11152
See https://ember-twiddle.com/872f4a84bfda8499904cb33f6348154d

[2016-04-19 23:27] joetidee commented on #13375
Ok, I got it, just didn't know whether the code generated was incorect or the docs.

[2016-04-20 00:04] locks commented on #13375
The generated code is indeed correct! Glad you got it :)

[2016-04-20 00:13] joetidee opened #13379 "Error from application adapter..."
As per...

[https://guides.emberjs.com/v2.5.0/models/customizing-adapters/](https://guides.emberjs.com/v2.5.0/models/customizing-adapters/)

...I added a file

`/adapters/application.js`

 with the following content (to remove the pluralisation of urls):

[code]

Even though this seems to have worked, I receive the following errors in the console where Ember is running:

[2016-04-20 00:19] locks commented on #13379
@joetidee if you use the generate command, you will have the imports included. In most of the guides, with the exclusion of the tutorial, we elide the imports for conciseness and because we are waiting for the module shims to be finalized.
We are hoping the shims get finalized soon so we are able to avoid this confusion :)

[2016-04-20 00:19] #13379 closed

[2016-04-20 00:20] locks commented on #13379
P.S. I invite you to join our [Slack community](https://ember-community-slackin.herokuapp.com/), we have a #-help channel that is very responsive and can help you out!

[2016-04-20 00:24] joetidee commented on #13379
So, should I delete the `application.js` file and regenerate it using the `generate` command?

[2016-04-20 00:25] locks commented on #13379
If you add the following at the top the errors should go away:

[code]

[2016-04-20 00:28] joetidee commented on #13379
Got it. Is there any way I can contribute to updating the docs as I see improvements?

[2016-04-20 00:31] locks commented on #12466
@wycats @rwjblue @ef4 poke

@trentmwillis `thing-` is fine, `-thing` isn't. see https://mothereff.in/custom-element-name

[2016-04-20 00:37] locks commented on #13379
Indeed there is, you can open issues and send pull requests to https://github.com/emberjs/guides for the Guides, and to this repository for API documentation.

[2016-04-20 00:46] #12357 closed

[2016-04-20 00:52] locks commented on #12064
@mmun does the 2.x branch suffer from the same problem?

[2016-04-20 00:53] locks commented on #11998
I am closing this issue as Ember is behaving at expected, even if it's under-documented or slightly unexpected.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-20 00:53] #11998 closed

[2016-04-20 00:57] locks commented on #11192
@rwjblue I'm gonna go ahead and close it. That discussion can happen in the issue that supercedes this one, too.

[2016-04-20 00:57] #11192 closed

[2016-04-20 00:59] locks commented on #11490
I am closing this issue as Teddy confirmed it's Inspector-related.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-20 00:59] #11490 closed

[2016-04-20 01:13] rwjblue commented on #12191
Since this only affects 1.13, I'm going to go ahead and close this.  Sorry we couldn't get to it quicker 😿 .

[2016-04-20 01:13] #12191 closed

[2016-04-20 02:15] rwjblue commented on #13352
I submitted https://github.com/emberjs/data/pull/4343 in Ember Data to mitigate over there, we still need to set `Ember.lookup` / `Ember.imports` / `Ember.exports` back up (with a deprecation though).

[2016-04-20 02:26] rwjblue commented on #12317
I tested the provided Twiddle against 2.4/2.5 and canary.  All seems to be working properly now.

Sorry for the delay here...

[2016-04-20 02:26] #12317 closed

[2016-04-20 02:29] rwjblue commented on #12424
To avoid this drawback, you should use `this.intermediateTransitionTo` instead of `this.transitionTo` in the route.

I'm happy to have follow up discussions in emberjs/guides RE: better docs around substates, but I'm going to go ahead and close this for now..

[2016-04-20 02:29] #12424 closed

[2016-04-20 03:51] stefanpenner commented on #11469
@jamesarosen we have been slowly massaging all these to continue to remove traps/pain points, its very possible your recall a previous state where this was not handled transparently. I suspect you will continue to see improvement in this domain.

[2016-04-20 04:12] stefanpenner commented on #11863
So, i basically stopped working on the long stack stitching stuff when i realize there was no way to make chrome print it by default... We have been working with the chrome folks on making custom printers, so things like ember inspector could provide higher fidelity output. This may be an avenue to fix this issue, if/when it lands I will be more motivated to work on this.

In addition the chrome f

[2016-04-20 04:12] #11863 closed

[2016-04-20 04:44] jmeas opened #13380 "Revert #13286"
The issue that caused the regression has been fixed in https://github.com/tildeio/route-recognizer/pull/84

[2016-04-20 10:15] locks commented on #12581
I am closing this issue as some resolution seems to have been reached.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-20 10:15] #12581 closed

[2016-04-20 10:17] locks commented on #12642
I am closing this issue as this does not seem like a bug in Ember.js and @krisselden provided a way forward in his comment bove.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-20 10:17] #12642 closed

[2016-04-20 11:22] makepanic commented on #12690
The workaround described in http://www.serabe.com/2016/03/02/the-path-to-contextual-components-understanding-dynamic-components/ works without problems and solves this issue.

[2016-04-20 11:22] #12690 closed

[2016-04-20 12:16] workmanw commented on #13380
@rwjblue @krisselden Should I open a PR to bump `route-recognizer` or do want to take care of it next time you make a pass over the dependencies?

[2016-04-20 12:37] thijsvdanker commented on #12107
I'm having the same problem and created these twiddles:

**Both a dynamic segment and a loading template => bug**
https://ember-twiddle.com/63153573fe0150b655613b0ce5e83771?openFiles=templates.main-route.hbs%2C

**Only dynamic segment, no loading template => works**
https://ember-twiddle.com/c8a25c0d17cd05119360fc470eba6d3c?openFiles=templates.main-route.hbs%2C&route=%2Fparent%2Fsub-route

**Only

[2016-04-20 12:53] sunsetlincoln commented on #12107
@thijsvdanker Should `//this.transitionTo({ queryParams: { two: 'two' }});` be uncommented in `main-route.js` to demonstrate the issue?

[2016-04-20 13:04] thijsvdanker commented on #12107
@sunsetlincoln the second transition is done in the main-route controller at this moment (reflecting my own code-base). I'll refactor it to the route to better demonstrate the issue.

[2016-04-20 13:07] thijsvdanker commented on #12107
@sunsetlincoln refactor is done, both transitions now take place in `routes/main-route.js`

[2016-04-20 13:15] tomdale commented on #12602
Yes, object creation is one of the most expensive things we do during an initial render. If you don't have a component JS file, we can skip that creation step and just pass attributes into the template directly, which is significantly faster (particularly in Glimmer 2).

It works in the controller case because we only have to instantiate one controller per route—but there may be hundreds if not th

[2016-04-20 13:34] rwjblue commented on #12602
Another good solution is a helper that returns the service:

For example, with the following helper:

[code]

You could do this in the template:

[code]

You could also do:

[code]

[2016-04-20 13:47] Dremora opened #13383 "Performing a transition during another transition may result in a page refresh"
[Ember Twidde](https://ember-twiddle.com/a82519ec00b9644883c6daaa2922032c)

I was able to narrow the circumstances down to the following:
* There should be an element performing a transition when it's clicked
  * click handler should be placed inside an action. Having it at the root of the component (the `click()` method) doesn't work as the method doesn't get called.
* One of the children of this

[2016-04-20 14:07] #13380 closed

[2016-04-20 14:12] rwjblue commented on #13380
Thanks for working on this @jmeas!

[2016-04-20 14:53] Turbo87 opened #13384 "computed.and/or: Short-circuit behavior"
Example:

[code]

When I use `{{foo}}` in the corresponding template I correctly see `b` as a value. I did however see `a`, `b` and `c` get printed on the console, which indicates that the current implementation of the `Ember.computed.and/or` helpers are not using short-circuit behavior. In other words: since `b` returns something trueish in this example `c` shouldn't have been evaluated. The perf

[2016-04-20 14:53] grantovich commented on #12602
@tomdale Thanks for that context! Our specific use case is a multi-tenant app – the global injection exposes an object that represents the "current" tenant, so that various components can make use of the tenant's attributes (name, logo, etc). Some of these components are otherwise static chunks of content, so if not for this limitation they would be template-only.

@rwjblue That seems like a promi

[2016-04-20 14:54] rwjblue commented on #13384
👍  - Seems like a nice improvement.  I'd want to ensure the same change was done for `computed.and` if you wanted to tackle it...

[2016-04-20 15:00] rwjblue commented on #12602
I suppose it depends on what "cause any problems" means 😈 .  You can absolutely have a helper with the same name as a property, Ember will happily allow this.  However, the helper will **always** win.  If that is good for your use case, then :shipit: 😸 ...

[2016-04-20 15:13] jmeas commented on #13380
✌️

[2016-04-20 15:25] stefanpenner commented on #13384
Ya this would be reasonable to expect.
I think this should go through a full cycle  (not a bugfix) as I believe it to be possible for some to rely on the behavior..

[2016-04-20 15:32] rwjblue commented on #13384
Makes sense, I agree.

[2016-04-20 17:03] grantovich commented on #12602
Great! It doesn't matter which one wins because they will both return the same object, my concern was whether there would *be* a winner at all, or whether this situation would cause an error/instability. I'll try the helper approach for sure. :smiley_cat:

Zooming back out...

Since there is a good workaround for my particular case, I can update the issue title to reflect the wider scope of this p

[2016-04-20 17:40] duboff commented on #12915
Seeing this error on Microsoft Edge 13.10586 on Windows 10 from one of our users. Cannot reproduce it myself though.

[2016-04-20 20:14] tennisonchan opened #13387 "Ember.computed.max/min: Date object turns back in timestamp"
When we use `Ember.computed.min` or `Ember.computed.max` for javascript date object, the returned value was in timestamp instead of a date object.

Demo:
https://ember-twiddle.com/fbb355b2a22bc92bdb3713ec59f866f3?fileTreeShown=false&openFiles=controllers.application.js%2C

[code]

[2016-04-20 21:42] asakusuma commented on #13331
Pretty sure the issue is that the `/tests/index.html` is being executed, instead of `/dist/tests/index.html`. This would explain both the path being wrong and the uncompiled placeholders.

[2016-04-20 21:45] rwjblue commented on #13331
We generally do not run `testem` directly, we use `ember test --server` to do that. Which sets up the dist paths slightly differently.

[2016-04-20 21:57] asakusuma commented on #13331
@rwjblue makes sense. However, I am trying to kick off a saucelabs test run from my machine.

To workaround the issue locally, I changed [this line](https://github.com/emberjs/ember.js/blob/master/testem.json#L3) to `dist/tests/index.html?hidepassed`, i.e. just manually adding the `/dist` part of the path.

[2016-04-20 22:00] rwjblue commented on #13331
When running `testem` from the command line, you may need to use `testem.dist.json` instead which does use `dist/tests/index.html` instead of `tests/index.html`: https://github.com/emberjs/ember.js/blob/master/testem.dist.json#L3

[2016-04-21 03:15] rwjblue commented on #13387
Internally, we are using `Math.min` to determine the lowest ([see here](https://github.com/emberjs/ember.js/blob/6739196db628b26b403d66c4271715ec14747dfe/packages/ember-runtime/lib/computed/reduce_computed_macros.js#L151)), which [per the spec](http://www.ecma-international.org/ecma-262/6.0/#sec-math.min) does:

`ToNumber` defers to `ToPrimitive` (defined [here](http://www.ecma-international.org/e

[2016-04-21 14:38] olivierlesnicki opened #13391 "Input autofocus only works on first render"
https://ember-twiddle.com/f5b03da876189e65370402daca33e56c?openFiles=controllers.application.js%2C

Steps to replicate:
- Click on autofocus once, the input is correctly autofocused
- Click twice, it is not anymore (unless app is reloaded)

[2016-04-21 15:12] acorncom commented on #10557
That's quite helpful, yep I see it too ;-)

[2016-04-21 15:18] acorncom commented on #13391
Confirmed, I'm seeing this behavior too.  The issue seems to be that the input once generated doesn't properly re-focus when it is hidden and then shown again ...

[2016-04-21 17:38] Serabe commented on #13391
I am not sure this is an Ember bug. [`autofocus` behaviour](https://w3c.github.io/html/sec-forms.html#autofocusing-a-form-control-the-autofocus-attribute) is not that simple to grasp, but this thing happens in the following contexts too:

- Firefox (it does not autofocus even the first time)
- Simple jQuery adding and removing html shows the same problem ([jsbin](http://jsbin.com/sedosu/edit?html,

[2016-04-21 17:41] Serabe commented on #13391
I am closing the issues for the reasons above. Feel free to reopen if you still think this is an Ember issue.

Thank you!

[2016-04-21 17:41] #13391 closed

[2016-04-21 23:01] elidupuis commented on #10877
FWIW, I'd like it to be public :D

[2016-04-21 23:01] stefanpenner commented on #10877
i suspect public, but @machty may be able to shed light. Will rope him in.

[2016-04-21 23:10] #13384 closed

[2016-04-21 23:20] machty commented on #10877
I don't think I ever intended `queryParamsDidChange` to be public. It was needed as part of the somewhat convoluted contract with using router.js as a microlib, but it ended up serving as an escape hatch for folk who had unusual serialization/default needs while we figured out the correct APIs to build into Ember. I'd vote to keep it private, but we should start collecting feedback as to how peopl

[2016-04-22 01:55] pixelhandler commented on #13258
This past week I started working on a new app, was on Ember 2.4.3 and also tried LTS release 2.4.5.

The error I saw is like… "You're not allowed to have more than one controller property map to the same query param key, but both `list.index:sortParam` and `list.index:sortParam` map to `sort`."

[2016-04-22 04:38] wagenet opened #13395 "`{{link-to}}` with model and query params and target route with `refreshModel: true` errors"
https://ember-twiddle.com/c7cd718c4960e8a5d6b3abe3f2de5fd3 (Click link and see console)

[2016-04-22 04:40] wagenet commented on #13395
A possible fix is to check in `queryParamsDidChange` that the route is actually active. AFAICT the problem happens because it fires (unncessarily?) before the route is actually entered.

[2016-04-22 07:17] talhaobject90 commented on #11493
i have this warning on 2.4 , no idea where it comes from , i tried computed property and observers, but the warning still persist.

[2016-04-22 07:58] avdv commented on #13112
I'm not too sure that it's a JQuery issue.

First, using `$.focusin(handler)` from JQuery directly works without problems.

Second, returning `true` from the action handler in Ember, spits out this nasty warning:

[code]

but the input box behaves / looks as expected.

[2016-04-22 12:32] raytiley commented on #13395
This seems the same as an issue I'm trying to trackdown:

https://ember-twiddle.com/0c7e72433e1a3149a7304007fbbd1a54

The issue, as best I can explain it, is that queryParams only transitions have a special short circuit in router.js that fires the `queryParamsDidChange` https://github.com/tildeio/router.js/blob/master/lib/router/router.js#L38-L43

This code can get hit before the contexts for a r

[2016-04-22 12:33] WimAtIHomer commented on #13150
Hi @mmun,

I have made some improvements in my paging and sorting example and the problem I faced does not occur anymore. I believe that there still is a problem in the queryParams code but for now I don't have any problems. So I am closing the issue and will withdraw my PR.

Thanx.

[2016-04-22 12:33] #13150 closed

[2016-04-22 12:51] tennisonchan commented on #13387
Hey @rwjblue, thanks for the details explanation. Yes, it is somewhat unexpected that it changed the datatype of the input values.

Here is lodash min function returns the date object.
[code]

[2016-04-22 13:29] rwjblue commented on #13387
Hmm, did it change the input values or just return a value that isn't the same?

[2016-04-22 13:39] tennisonchan commented on #13387
It changed the datatype of the value, from a js date object to a number of timestamp.

[2016-04-22 13:57] rwjblue commented on #13387
It definitely is not changing the value inside the `dates` array in your twiddle above (see [modified demo](https://ember-twiddle.com/7a6db9595cd0a8ab4815dff2e933ecf6?fileTreeShown=false&openFiles=templates.application.hbs%2C) here).  The `computed.min` / `computed.max` return values are different than the input value.  That is the real issue here.

[2016-04-22 14:00] tennisonchan commented on #13387
Yes, we are on the same page.

[2016-04-22 15:23] himedlooff commented on #11486
It would be really nice to not have to use `body > .ember-view`.

[2016-04-22 15:51] elidupuis commented on #10877
👍  to QP support in a routing service.

Currently, I'm basically using my own service to keep track of QPs. When they get set by user action I can easily intercept and update my service directly—at the same time as setting the controller properties that are bound to the URL. However, `queryParamsDidChange` is proving to be very useful on page load as it allows me to get my service up-to-date immed

[2016-04-22 15:59] rwjblue commented on #10877
@knownasilya's service addon is pretty nice for this: https://github.com/knownasilya/ember-query-params.  It is good to feel out the space of using a service for this, so we can learn the best patterns and try to incorporate them upstream...

[2016-04-22 16:01] Serabe commented on #13275
Hi, @fernandodrumond, did you have some time to reproduce the bug?

[2016-04-22 16:06] elidupuis commented on #10877
Cool. I'll take a look.

[2016-04-22 16:25] sethbrasile opened #13397 "Should the click helper's 2nd argument be documented?"
Looks like the `click` helper

http://emberjs.com/api/classes/Ember.Test.html#method_click
https://guides.emberjs.com/v2.5.0/testing/acceptance/#toc_asynchronous-helpers

Accepts `context` as a second arg.

The folks over on the guides repo are curious if the folks over here believe that it should be documented.

https://github.com/emberjs/guides/issues/1386

[2016-04-22 16:37] knownasilya commented on #10877
@machty I'm currently using that action for that exact purpose, see the link that @rwjblue posted above.

[2016-04-22 16:45] wagenet commented on #13395
To be clear, the issue appears to not just be for queryParam only transitions. It also happens when you're transitioning to a new route with query params.

[2016-04-22 16:52] pixelhandler commented on #11038
@mylen I'll close this one out for now, if the issue pops up again in a newer release please reopen, thanks!

[2016-04-22 16:52] #11038 closed

[2016-04-22 16:54] pixelhandler commented on #12139
@coleythebest I'll close this one out for now, if the issue pops up again in a newer release please reopen, thanks!

[2016-04-22 16:54] #12139 closed

[2016-04-22 17:02] pixelhandler commented on #12865
@justin-hackin Does a Checkbox have a `title` attribute? see http://www.w3.org/wiki/HTML/Elements/input/checkbox#HTML_Attributes and https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input I don't see a `title` attribute.

I'll close this for now, if you have a reproduction of the issue or steps to reproduce this issue then please reopen it, thanks.

[2016-04-22 17:02] #12865 closed

[2016-04-22 17:02] rwjblue commented on #13062
Closing in favor of https://github.com/emberjs/ember.js/pull/13066

[2016-04-22 17:02] #13062 closed

[2016-04-22 17:04] pixelhandler commented on #12803
@MichaelSelberg can you create a example with steps to reproduce the issue? try https://ember-twiddle.com

[2016-04-22 17:06] pixelhandler commented on #12851
@samtes were you able to create a demonstration of the issue in a repo? Did you find a workaround?

[2016-04-22 17:10] pixelhandler commented on #12814
@mohlek were you able to create a repo with the code that you suspect is buggy with the same dependencies you have in your app. Perhaps then someone can help debug.

I don't this this is a bug in Ember, so closing this for now. Perhaps reopen the issue if it can be reproduced in an example repo.

[2016-04-22 17:10] #12814 closed

[2016-04-22 17:14] locks commented on #5334
@jamesarosen thanks for the work! I'm closing this issue, sorry the PR didn't get merged at the time.

[2016-04-22 17:14] #5334 closed

[2016-04-22 17:15] pixelhandler commented on #11719
@shiv86 This issue was reported in version 1.13 of Ember. That version was supported for much longer than originally promised and now that Ember has a LTS release it's very unlikely to have any patches applied to the 1.13.x release.

I think there is a workaround or alternate implementation you can try to avoid this issue, correct?

I'll close this out for now.

[2016-04-22 17:15] #11719 closed

[2016-04-22 17:22] pixelhandler commented on #13086
@vkoves I don't think this is a bug in Ember. I'm curious about how you used RSVP. Can you post an http://ember-twiddle.com code example to demonstrate your issue?

[2016-04-22 17:35] rwjblue commented on #12865
I believe that `title` is a "global attribute": https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes

[2016-04-22 17:36] pixelhandler commented on #12469
@Vatosteve can you provide some steps to reproduce the issue or a code example to demonstrate the issue?

[2016-04-22 17:41] pixelhandler commented on #11595
@locks can you close this issue once you open an issue in the emberjs/guides repo?

[2016-04-22 17:45] pixelhandler commented on #12244
@utilityboy I do not this this is a bug in a supported version of Ember. If this was something in version 1.13 it should have been fixed by now.

I'll close this out for now, please reopen if you find this issue in a current Ember release, including the LTS version, thanks!

[2016-04-22 17:45] #12244 closed

[2016-04-22 17:48] Vatosteve commented on #12469
PEBCAK error. Didn't include this._super(...arguments); on didTransition()

[2016-04-22 17:48] #12469 closed

[2016-04-22 17:49] pixelhandler commented on #13275
@fernandodrumond are you able to upgrade your app to a current release of Ember?

It's very unlikely that any patches will be made to the Ember 1.13.x release, especially since we now have an LTS release.

I'll close this for now, to solve this issue using Ember 1.13 it would be best to find a work around.

Once you have a repo or https://ember-twiddle.com example that reproduces the bug perhaps r

[2016-04-22 17:49] #13275 closed

[2016-04-22 17:55] acorncom commented on #12903
@vinothwindows47 Is this still a problem for you?  If so, it'd be great to see something reproducible so we can work on tracking it down ..

[2016-04-22 17:57] acorncom commented on #13070
@EVASIVE We've been working on cleaning up the issue backlog for ember.js, so for now, I'll close this issue.  But if you find it's still an issue, feel free to comment here or open a new issue 👍

[2016-04-22 17:57] #13070 closed

[2016-04-22 17:58] acorncom commented on #11429
I'm going to close this for now, but happy to reopen this if we need to 👍

[2016-04-22 17:58] #11429 closed

[2016-04-22 18:38] pixelhandler commented on #13383
@Dremora I don't think this is an Ember bug. At least in the example it appears to do two of the same thing two different ways; which may need some additional logic to only do one transition.

This example shows adding a condition to prevent doing the extra transition that results in a page reload, https://ember-twiddle.com/0d5b3a8f344509313125ac19166e474f?openFiles=controllers.index.js%2C&route=%

[2016-04-22 18:47] stefanpenner commented on #12903
will gladly reopen if ^ is addressed

[2016-04-22 20:30] WCPetersen commented on #11332
@munsellj That's expected. The object you made when defining the basic-form component is shared by all instances of that component. When the input's content changes, the name property on the original object is being changed.

Here's [a fork of your twiddle](https://ember-twiddle.com/920b33130572e689dcde7a6344542346) that helps demonstrate it. If you go to the child route, you'll see that the first

[2016-04-22 20:45] pixelhandler commented on #10341
Going foward should this "feature" issue be tracked in the emberjs/rfcs repo?

[2016-04-22 21:12] munsellj commented on #11332
@WCPetersen makes sense, thanks for the response!  Saw email notification in the car and without even reading this realized that was probably the case and made the connection.  Feel like I read about this repeatedly in blog posts and still didn't make the connection.

![image](https://cloud.githubusercontent.com/assets/1272117/14755037/285159ee-0894-11e6-86cf-e56d899530b8.png)

[2016-04-22 21:31] jmanuelrd opened #13400 "{{link-to}} doesn't work on touch devices"
I tested this on Android and iOS devices, FF, Chrome and native browsers.
Is there a way to get this helper catch touch events like tap, touchstart, touchend, etc?

I'm using bootstrap's nav.

[2016-04-22 21:34] locks commented on #10341
^ agreed

[2016-04-22 21:34] #10341 closed

[2016-04-22 21:37] locks commented on #13400
Do you have a reproduction of what you tested? I have used several Ember sites on my mobile phone and they worked fine.

[2016-04-22 21:54] mixonic commented on #13127
render env tests are snipped. Looking at "bootstrap" tests now, many of which do need to be ported with the functionality (using `<script type="text/x-handlebars" data-template-name="foo">`).

[2016-04-22 22:19] rosshadden commented on #10341
Please link us to whatever the spiritual successor of this issue ends up being once it is created, so those of us that are interested may subscribe to it.

Thanks.

[2016-04-23 21:43] rwjblue commented on #13352
@krisselden - Is this still on your radar?

[2016-04-24 00:58] rwjblue commented on #13224
Features are generally discussed in the https://github.com/emberjs/rfcs/ repository. You can create an issue there for feature requests or a pull request to propose a new feature.  I'm closing this issue (this isn't really a bug in the framework), but please follow up with an RFC issue/PR if you are interested in taking this further.

As mentioned in the PR, the RFC will need to wrestle with addin

[2016-04-24 00:58] #13224 closed

[2016-04-24 01:18] mmun opened #13404 "{{foo.bar}} should not do a container lookup"
`{{foo.bar ...}}` will attempt to lookup the `foo/bar` component/helper. Example ember-twiddle:

https://ember-twiddle.com/f61aba173ed7543271219868015fcfa7?openFiles=application.template.hbs%2C

It should be treated unambiguously as a property lookup. Instead, `{{foo/bar ...}}` should be used if you want to invoke a helper.

[2016-04-24 02:32] Ghostavio commented on #13037
any status change on this?

[2016-04-24 03:17] mixonic commented on #10341
@rosshadden watching the https://github.com/emberjs/rfcs repo is the best bet for you to stay up to date on how this happens. I highly doubt whoever takes the next steps would remember to update this ticket directly, even if they knew it exists (the next person to move on it might be someone we don't know today)!

[2016-04-24 08:27] lolmaus commented on #10341
Why have we closed this before an RFC was created?

Normally such action means a rejection.

[2016-04-24 09:04] mmun commented on #10341
This issue tracker is for bugs only. Features go in the RFCs repository. For more details read https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#requesting-a-feature.

[2016-04-24 10:27] eshirazi commented on #13387
Looks like _.min, _.max use a simple > or < comparison instead of Math.min, and Math.max, and this is an easy fix for this issue. I submitted a pull request https://github.com/emberjs/ember.js/pull/13406.
let me know what you think.

[2016-04-24 13:48] robbiepitts commented on #13243
I'll take a stab!

[2016-04-24 17:36] stefanpenner commented on #10341
not here

[2016-04-24 17:36] stefanpenner commented on #10341
basically, the barrier is:

[2016-04-24 17:41] wycats commented on #10341
I understand why you might have felt that way, and we probably should have been clearer: moving to standard JavaScript classes is a top-priority for us. It requires careful design and interoperability work, and as Stef said, any plausible transition will require JavaScript decorators.

I am working on decorators at TC39 and hope to advance them far enough in the next meeting (in Munich) that we ca

[2016-04-24 17:43] wycats commented on #10341
I unlocked the conversation, but would suggest that any further discussion to lay the groundwork for this feature should happen in an issue on the RFC repository, and should probably either present or wait for a straw-man that uses JavaScript decorators.

[2016-04-24 17:51] stefanpenner commented on #13387
This would most likely break existing apps, that expect the current behavior. This most likely needs to be considered a new feature.

[2016-04-24 19:12] knownasilya commented on #10877
This can be closed, #13398 was merged.

[2016-04-24 20:23] #10877 closed

[2016-04-24 23:17] mmun commented on #13243
@robbiepitts Thanks so much! Hit me up in the #dev-ember channel of the community Slack if you have any problems.

[2016-04-24 23:23] Serabe commented on #13404
It is quite likely that I am to blame for this. I had to change HTMLBars so the `handleRedirect` would take place for contextual components when rendered using the dot path. I think that the problem is caused by [these lines](https://github.com/emberjs/ember.js/blob/b79fa2fd0a0461e96a9edd6ac760806e11317873/packages/ember-application/lib/system/resolver.js#L142-L144) in the resolver.

[2016-04-24 23:30] mmun commented on #13404
Is there a version of Ember in which this bug is not present? I think it would be disingenuous to call it a BUGFIX unless the semantics accidentally changed sometime during 2.X.

[2016-04-24 23:33] Serabe commented on #13404
2.1 seems to produce the same output and the change was added later for sure. My (double) mistake!

[2016-04-25 00:33] #12718 closed

[2016-04-25 02:29] chadhietala commented on #10341
Just a reminder we could very well be be doing static analysis and compiling to what decorators would compile to in Babel or TypeScript. While there are ergonomic things at steak from the consumer point of view, there are some performance benefits of doing this as well.

[2016-04-25 02:52] stefanpenner commented on #10341
@chadhietala ya, if done right we can avoid the applyMixins costs we do today.

[2016-04-25 10:04] fernandodrumond commented on #13275
Hi guys,

I was not able to reproduce the bug separately.

@pixelhandler I couldn't update this app to the most recent Ember version, because it was nearly over, going to be in production for a short amount of time.

I agree with you, next time I'll just start the project using its current release. It doesn't make sense to keep supporting this version.

Thank you anyway for your help!

[2016-04-25 20:24] rwjblue opened #13412 "Update changelog script to account for GH's "squash and merge"."
The command listed https://github.com/emberjs/ember.js/blob/master/bin/changelog#L44 needs to be updated to match the newer PR style (where there is no merge commit).

[2016-04-25 21:18] AmazingJaze commented on #13227
@Serabe thanks for the link. I should be able to investigate and follow up later this week.

[2016-04-25 22:26] locks commented on #11442
@laureanoarcanio can you provide an Ember Twiddle reproducing the problem?

[2016-04-25 22:29] locks commented on #11487
Moved to guides repository for documentation.

[2016-04-25 22:29] #11487 closed

[2016-04-25 22:33] locks commented on #12069
I am closing this issue as it doesn't seem like an Ember bug, and the discussion got stale.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-25 22:33] #12069 closed

[2016-04-25 22:34] locks commented on #12556
I am closing this issue as the above message mentions the particular issue should be fixed now.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-25 22:34] #12556 closed

[2016-04-25 22:35] runspired commented on #12556
@locks I've previously confirmed that the fix should be back ported to 2.1

[2016-04-25 22:37] rwjblue commented on #12602
For now, since there is a solution in place and we have many other somewhat related things inflight, I'm going to go ahead and close...

[2016-04-25 22:37] #12602 closed

[2016-04-25 22:38] #11692 closed

[2016-04-25 22:41] locks commented on #12413
I am closing this issue as the previous comment seems to resolve the issue.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-25 22:41] #12413 closed

[2016-04-25 22:42] cibernox commented on #12569
Closed by #12575

[2016-04-25 22:42] #12569 closed

[2016-04-25 22:45] pixelhandler commented on #11967
@tehmaestro @bugant Since 1.13 was supported for a long time, much longer than anticipated; and since we now have an LTS (2.4.5) release… It's very unlikely any patches will be added to 1.13.x

That said there are a couple workarounds to this issue, so closing for now. If you have any difficultly with alternative implementations perhaps reach out in the embercommunity.slack.com #-help channel.

[2016-04-25 22:45] #11967 closed

[2016-04-25 23:29] locks commented on #12556
Oops. I'm still leaving it closed, as 2.4 LTS has been released and that's currently how far back things are likely to be backported.

[2016-04-26 01:31] locks commented on #13058
I am closing this issue because my understanding is a resolution has been reached.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-26 01:31] #13058 closed

[2016-04-26 01:34] locks commented on #13080
In addition to the solution put forward by @rwjblue, another way to solve it is:

[code]

[2016-04-26 01:34] #13080 closed

[2016-04-26 01:37] locks commented on #13078
I am closing this issue as the above comment by OP seems to indicate the problem has been resolved.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-26 01:37] #13078 closed

[2016-04-26 01:41] locks commented on #13112
@avdv the error message tries to be very clear, what do you feel is nasty about it? Doing `return true;` from inside an action handler is how you tell it to bubble up to the parent target, and since you haven't defined one, you get an error.

[2016-04-26 01:42] locks commented on #13050
Can we get an update on this? cc @stefanpenner @krisselden

[2016-04-26 01:47] locks commented on #12719
That's why `-routing` is private API ;) Thank you very much for digging into this @robbiespeed!

I am closing this issue as a `wontfix` due to the reliance on the private `-routing` API. An improved, and public, API is being worked on at the moment and should be released very soon.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-26 01:47] #12719 closed

[2016-04-26 01:48] rwjblue commented on #13050
Fixed in 2.5.1

[2016-04-26 01:48] #13050 closed

[2016-04-26 05:32] zen-tmq commented on #11503
I am also seeing this issue! in 1.13.10. Did you ever get this resolved?

[2016-04-26 05:57] #12786 closed

[2016-04-26 06:08] locks commented on #11503
@zen-tmq use a regular `a` and put an action on it. Passing an empty string to `link-to` was never a supported feature, as far as I know.

[2016-04-26 06:21] locks commented on #12512
Fixed by https://github.com/emberjs/ember.js/pull/12344.

[2016-04-26 06:21] #12512 closed

[2016-04-26 06:27] locks commented on #11471
@mydea your Twiddle is erroring out for me, so I can't check your reproduction.

[2016-04-26 13:30] #13352 closed

[2016-04-26 13:51] Dremora commented on #13383
Our workaround was to move the click handler inside the `click` method in the component. It seems weird to me that this works, while handling the event via an action doesn't. There's a bug somewhere unless the difference in behaviour between `<div click={{action "handleClick"}}>` and `click(e)` is known and documented.

[2016-04-26 14:46] mydea commented on #11471
Hmm what error do you get? It works for me on Chrome & FF.

[2016-04-26 19:53] rwjblue commented on #13400
@jmanuelrd - Can you put together a ember-twiddle or JSBin demonstrating the issue (with steps to reproduce)?

[2016-04-27 00:06] andressrg opened #13420 "`onclick={{action 'myAction'}}` doesn't work on svg elements"
Adding `onclick={{action 'myAction'}}` to an svg element does not work as expected and throws an error.

The action function seems to be inlined on the element. But still throws an error.
![screenshot 2016-04-26 19 04 50](https://cloud.githubusercontent.com/assets/127118/14837890/ccec8866-0be1-11e6-9073-8827bf168c42.png)

Reproduction twiddle: https://ember-twiddle.com/ab12e8e67d1fb5ae7783aa2703a1

[2016-04-27 00:14] rwjblue commented on #13420
When in the svg namespace we always set attribute (not properties).  When you set an attribute to a function, it will set the attribute to the string value of the function instead.

[2016-04-27 08:31] avdv commented on #13112
It's nasty in the sense that it's bad (the warning itself, not the message). Do nasty things and you get nasty warnings. No pun intended.

[2016-04-27 09:57] ieugen commented on #11834
Hello,

We have the same problem. We can't write automated tests because ember always generates new ids and it uses the html  id attribute instead of a custom one.

Other people (React ) use `data-` attributes instead of using `id` which could have other uses.
Custom attribute for a custom job.
-----
<header class="header" data-reactid=".0.0">
<h1 data-reactid=".0.0.0">todos</h1>
<input class="new

[2016-04-27 11:09] ieugen commented on #11834
I found a solution for my problems and I'm posting it for other people that get here.

If you are using selenium you can use custom data attributes in your ember app instead of using `id` attribute. In your selenium tests you can target those attributes and do checks.

[1] https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_data_attributes

[2016-04-27 12:16] cmtonkinson opened #13421 "Dasherize attributeBindings for arbitrary attributes; match behavior of classNameBindings"
I'm requesting some additional convention-over-configuration for inflection of attribute bindings in customized Components.

I'm using Ember: 2.5.1 and jQuery: 2.2.3.

---
The "[Customizing a Component's Element](https://guides.emberjs.com/v2.5.0/components/customizing-a-components-element/#toc_customizing-the-element-s-class)" documentation for `classNameBindings` show that:

    export default E

[2016-04-27 15:01] workmanw commented on #13421
:+1: from me. I just tripped over this on monday.

[2016-04-27 15:05] rwjblue commented on #13421
If we automatically did this, then camel case attributes/properties (there are a few) couldn't be set.

[2016-04-27 16:00] cmtonkinson commented on #13421
@rwjblue

Which are you thinking of, specifically? I can't come up with any off the top of my head. There are a few multi-word attributes without dashes (such as `autoplay`, `contenteditable`, and `formaction` for example) however

  1. HTML element attributes are case insensitive. If someone is camelizing them, that's a [human] convention, not a web standard, and certainly not a language rule.

[2016-04-27 20:19] miketervela opened #13422 "Left and right nav arrows no longer work on pop instructions"
the  <> arrows to move through pop instructions do not work, though the carousel buttons do
![image](https://cloud.githubusercontent.com/assets/6556805/14866873/c4b8c6de-0c93-11e6-84fa-dcda0bef1b14.png)

[2016-04-27 20:20] miketervela commented on #13422
So sorry wrong repositry

[2016-04-27 20:20] #13422 closed

[2016-04-28 05:13] mattmarcum commented on #11563
:+1: I created two failing tests for this

https://github.com/emberjs/ember.js/compare/master...mattmarcum:transition-to-in-before-model-with-query-params-test?expand=1

I went ahead and created failing tests in both the default code path and in the `ember-routing-route-configured-query-params` code path (which you can run in the tests by turning that feature flag on).

This also fail in the model

[2016-04-28 06:14] mattmarcum commented on #11563
This bug is pretty tricky because its caused by interaction between tildeo/router.js and ember.js/route.

When router.js is doing a queryParamTransition it generates an empty Transition because it should be a no-op transition.  But ember.js/route needs to know the leaf node so that it can lookup the query params on the controller and do all its magic.  When ember.js/route#finalizeQueryParamChange

[2016-04-28 07:08] mattmarcum commented on #11563
Actually that doesn't fix it.  Even if you get the `handlerInfos`  the controller for the route isn't created yet...

[2016-04-28 14:30] mattmarcum commented on #13395
This looks to be the same bug as this: https://github.com/emberjs/ember.js/issues/11563.

@raytiley I came to the same conclusion about the controller not being setup yet.  Any chance your [wip](https://github.com/emberjs/ember.js/pull/13273) branch can be extended to cover this bug too?  I have a branch with the failing tests [here](https://github.com/emberjs/ember.js/compare/master...mattmarcum:

[2016-04-28 16:42] mattmarcum commented on #11563
This is definitely caused by the fact that `route.setup` has not been called yet, it's not called until after the `beforeModel` hook.  `finalizeQueryParams` expects that the route has already been setup.

Got to love the comments here: https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-routing/lib/system/route.js#L1182-L1183

[2016-04-28 21:02] villander opened #13428 "event.relatedTarget aways null in focusOut"
focusOut handle events to components aways return null in `event.relatedTarget`

[code]

My jsbin just with jquery the `relatedTarget` works

https://jsbin.com/ruqahezaxa/edit?html,js,output

[2016-04-28 21:19] knownasilya commented on #13275
I'm also experiencing this issue. Was the workaround to add the transform to the button?

[2016-04-29 03:03] acorncom commented on #13421
@cmtonkinson given that this is more of a feature request, could we move discussion of this to an RFC? We're trying to keep the issue tracker focused on bugs or features that have gone through the RFC process. Thanks!

More details here: https://github.com/emberjs/rfcs/blob/master/README.md

[2016-04-29 10:00] locks commented on #13428
Do you have a reproduction of the non-working Ember.js code?

[2016-04-29 16:49] mike-north opened #13432 "Simple extension of {{link-to}} component fails"
In ember 2.5, one can extend the `{{link-to}}` component as follows

**my-component.js**
[code]

**my-component.hbs**
(copied from the [framework template for link-to](https://github.com/emberjs/ember.js/blob/release/packages/ember-htmlbars/lib/templates/link-to.hbs), and very slightly tweaked)
[code]

**Example:** https://ember-twiddle.com/488364295bf020f03f62307c7f9e0349?fileTreeShown=false&numC

[2016-04-29 16:58] Serabe commented on #13432
They thing is this is working properly because there is no longer an inline version of `link-to` since it is now a trick: it is done in a plugin for the compiler (as seen [here](https://github.com/emberjs/ember.js/blob/2affd3b929bbd51ea7075947158ba90555a763b6/packages/ember-template-compiler/lib/plugins/transform-inline-link-to.js). This was introduced in #12229 and if you follow the thread there,

[2016-04-29 17:08] mike-north commented on #13432
This is going to cause a breaking change in a bunch of addons, in a way that makes it quite difficult to write tests around (i.e., existing behavior should work, but only for Ember < 2.5) and to consume as a developer.

I would argue that it violates SemVer, since we advise people to customize {{link-to}} by reopening it or extending it.

[2016-04-29 17:22] rwjblue commented on #13432
Can you list a few for context?

I am not sure that non-block usage of something extending from `Ember.LinkComponent` is something that we have suggested (though perhaps it is).

Either way, I agree that if this is commonly in use in the wild that we either need to fix or revert.

[2016-04-29 17:29] mike-north commented on #13432
* ember-cli-materialize
* something internal @ Yahoo that's used to add HTML attributes to links for the purpose of automated testing (@stefanpenner may have to confirm)

I'm not sure developers understand that there's a distinction between what's supported for "inline form" and "block form" of what is (apparently) the exact same component. My hunch is that many developers see block vs. inline as

[2016-04-29 20:22] pixelhandler commented on #12713
@drewclauson Now I understand why you had the example like `content.page` thanks.

Today I clicked both those ember-twiddle links and when I clicked the button, both alerts show "Emberman"…

Ember 2.1 (returns "Emberman") https://ember-twiddle.com/d2362cf84e53dcf565cb

[2016-04-29 20:41] pixelhandler commented on #12756
@rwjblue any update on whether this is still needed, or not? re: QUnit's special comparison of constructor == null

[2016-04-29 20:48] mdsib commented on #13412
Moving forward, will ember be only allowing squash merging? Or will the option to merge PRs in the original way still be available?

[2016-04-29 21:08] pixelhandler commented on #13428
@villander Here is an example reproduction with Ember: https://ember-twiddle.com/42872f96a56b79bb71e2230fb21ab0ed?openFiles=components.x-input.js%2Ctemplates.components.x-input.hbs

Note that the relatedTarget can be null. The jQuery docs mention using mouse events rather than focus events, see http://api.jquery.com/event.relatedTarget/

In the example above you'll need to open the console to see

[2016-04-29 21:08] #13428 closed

[2016-04-29 21:27] pixelhandler commented on #12953
@ducarroz Here is another clone of the ember-twiddle example, https://ember-twiddle.com/b87467215eeeea53bf744c2ca29e4889?openFiles=application.controller.js%2Capplication.controller.js using the LTS release. It behaves like the the example you shared for v.1.10.

Since the LTS version has the behavior that works and since v1.13 was supported for much longer than expected, in this case it would be

[2016-04-29 21:27] #12953 closed

[2016-04-29 21:36] pixelhandler commented on #12568
@MohamadAtieh It sounds like you have worked out your issue. I'll close this out for now.

If you'd like to discuss further perhaps reach out in the http://embercommunity.slack.com #-help channel to chat regarding the specific version your app is using.

[2016-04-29 21:36] #12568 closed

[2016-04-29 21:41] pixelhandler commented on #12803
@MichaelSelberg perhaps reach out in the community chatroom or even StackOverflow to see what solutions others have found.

If you do have a code example that reproduces the issue and a way others can view in mobile Safari then you might get more feedback. I know there are many developers working on apps that are using mobile Safari. So I would expect there should be some ideas available in the sl

[2016-04-29 21:41] #12803 closed

[2016-04-29 21:48] pixelhandler commented on #12851
@samtes perhaps reach out in the community chatroom. If you do have a code example that reproduces the issue and a way others can view the sample code in action, then you might get more feedback.

I'll close this out for now. If you'd like to discuss further perhaps reach out in the http://embercommunity.slack.com #-help channel to chat regarding the specific version your app is using; and potenti

[2016-04-29 21:48] #12851 closed

[2016-04-29 21:57] pixelhandler commented on #13086
@vkoves perhaps reach out in the community chatroom or even StackOverflow to see what solutions others have found.

I know there are many developers working heavily with Promises; so, I expect there should be some ideas available in the slack help channel.

If you do have a code example that reproduces your issue; and a way others can view the sample code in action… then you might get more feedbac

[2016-04-29 21:57] #13086 closed

[2016-04-29 22:22] rwjblue commented on #13412
We would need to allow both, since which button the merger hits is up to them (and I do not know of a way to disable one style).

[2016-04-29 22:31] mdsib commented on #13412
According to the blog post about it (https://github.com/blog/2141-squash-your-commits) either option can be enabled or disabled.

[2016-04-29 22:35] rwjblue commented on #13412
HA!  Apparently, I didn't pay attention :ton

[2016-04-29 22:36] pixelhandler commented on #13421
@cmtonkinson I often use the attribute mapping convention which seems more explicit anyway. Sometimes the conventions are a bit confusing.

Here is an example of using explicit syntax and no mapping: https://ember-twiddle.com/a2bff79d324b1c792b6795c3b0444d65?openFiles=components.x-quote.js%2C

See the component source and in the output there is a text area with the HTML source.

Personally I like

[2016-04-29 22:36] #13421 closed

[2016-04-29 22:49] asakusuma commented on #13331
I was able to fix this by downgrading to phantomjs `1.9.8`, which is the version being run by travis.

[2016-04-29 22:49] #13331 closed

[2016-04-29 22:56] pixelhandler commented on #13420
@andressrg It sounds like we need more documentation on SVG use in component, especially regarding actions. I didn't know that when using SVG the attribute will become the string value. So It sounds like you may need a workaround. How about using browser events instread?

See https://ember-twiddle.com/397a27e5a050c5caf35bd4f2a8b37af1?openFiles=components.my-svg.js%2Ctemplates.components.my-svg.hbs

[2016-04-29 22:58] mdsib commented on #13412
Yeah, it's a good idea to have the changelog work no materr which setting we use.

[2016-04-29 23:18] acorncom commented on #11417
I'm going to close this issue for now, if the issue is still there we'll be happy to re-open it.  If we do have this bug still, getting a Twiddle showing the issue would be great 👍

[2016-04-29 23:18] #11417 closed

[2016-04-29 23:19] acorncom commented on #12217
I'm going to close this issue for now, but if we still have this issue it'd be great to get a Twiddle or JSBin showing the issue 👍

[2016-04-29 23:19] #12217 closed

[2016-04-29 23:30] acorncom commented on #10180
We (the ember triage team) have started asking folks to either comment on existing RFCs related to their issue or to open a new issue about the desired feature in the RFC repo: https://github.com/emberjs/rfcs/issues  As this seems to fit better there, I'll go ahead and close this for now.  Please comment here if you disagree! 👍

[2016-04-29 23:30] #10180 closed

[2016-04-29 23:32] acorncom commented on #12618
Per comments above, it looks like this there have been improvements.  I'll close this for now, but please comment if we should re-open it.

[2016-04-29 23:32] #12618 closed

[2016-04-30 03:19] vkoves commented on #13086
I'm afraid I'm not skilled enough with Ember to recreate the issue easily, but I'll take a look at that now. I ended up just using then statements to run the promises consequently instead of concurrently, but I'll take a look at this again.

[2016-04-30 13:06] locks commented on #13432
(can I petition for the inline `link-to` to be evaporated from 3.0 😁 )

@mike-north I have checked some of those `3700+` results and they were using the block form. An automated tool to check for `LinkComponent.extend`+`{{link-to` would return useful statistics.

[2016-04-30 13:10] BryanCrotaz opened #13434 "mouse event bubbles up to parent, not to element under this one"
Create 3 components.
A & B are next to each other
C is in B's template, same dimensions as B.
Now rotate C 45 degrees using `transform:rotateZ` so it partially overlaps A

Click in the triangle where C overlaps A

**Expected**
C receives mouse down, then bubbles to A

**Actual**
C receives mouse down, then bubbles to B

This means if C is partially transparent (in my case C is a circle in a png) t

[2016-04-30 13:25] stefanpenner commented on #13432
👍

[2016-04-30 13:38] mike-north commented on #13432
@locks - some of those are addons. How can you be assured that consuming apps do not use the published components in inline form?

[2016-04-30 13:43] locks commented on #13432
Checking that any GitHub repository that depends on said addons use inline `link-to` is also something that can be automated. There is some precedence for this type of impact analysis from the Rust community.

[2016-04-30 23:15] Serabe commented on #13158
#13435 fixes this problem in HTMLBars. Glimmer 2 support for positional parameters is on its way (#13393) and won't need a fix.

[2016-05-01 00:29] villander commented on #13428
@pixelhandler  you are very wrong. look my example where `focusout` has `relatedTarget`

https://jsbin.com/ruqahezaxa/edit?html,js,output

[2016-05-01 01:28] rwjblue commented on #13432
Just to be clear, we have to fix this regression.  The question now is if we should just deprecate the inline form for extended components.  I think that I would prefer to deprecate, but either way we have to ensure extending from `Ember.LinkCompont` continues to work in both inline and block form.

[2016-05-01 16:41] locks commented on #13300
Which docs?

[2016-05-01 17:04] joelalejandro commented on #13387
What about a flag `{ preserveType: true }` or something like that?

[2016-05-01 17:12] joelalejandro commented on #12688
@mmun There was a fix apparently, but it didn't pass CI for IE9, for what I read in referenced PRs.

[2016-05-02 00:46] mmun commented on #12506
This should be fixed now. Anyone mind writing a test to verify it?

[2016-05-02 02:08] mike-north commented on #13432
Thanks for confirming that this a break @rwjblue - I will write a failing test for this in ~3 days if nobody else has gotten to it by then.

[2016-05-02 06:13] locks commented on #13434
@BryanCrotaz can you reproduce the screenshot in a Twiddle? It would be very helpful to reviewers.

[2016-05-02 11:11] rwjblue commented on #13434
As demonstrated by @locks, I don't think this is an Ember bug (the same behavior appears with normal DOM).

I'm happy to reopen this if we have missed something specific to the issue here, but I'm going to close it for now.

[2016-05-02 11:11] #13434 closed

[2016-05-02 19:22] rwjblue commented on #13432
Fixed by 9c6d2d8817f0a98000abf810da3fe0b7b1385d7f.

[2016-05-02 19:22] #13432 closed

[2016-05-02 19:28] #13158 closed

[2016-05-03 02:28] workmanw commented on #13318
@rwjblue So this is still an issue with `v2.6.0-beta3`. Do you still think we should revert the deprecation? If so, I can submit a PR that rolls back #13204.

[2016-05-03 12:02] rwjblue commented on #13318
Submitted https://github.com/emberjs/ember.js/pull/13442 to remove.

[2016-05-03 16:53] ggayowsky opened #13443 "Ember Inflector irregular pluralizations do not work for Camel Cased words"
I encountered this issue when trying to pluralize, `pointOfInterest` to `pointsOfInterest`.

However, it seems to be broken for all camel cased terms, for example

[code]

I would expect that `inflector.pluralize('mathFormula')` to be equal to  `mathFormulae`, however, it returns `mathFormula`.

However, `inflector.pluralize('mathformula')` returns `mathFormulae` which is what I would expect

I be

[2016-05-03 18:30] #13443 closed

[2016-05-03 18:30] stefanpenner commented on #13443
The inflector is not part of core. Rather and addon, and bundled with ember-data

[2016-05-04 00:25] jamesarosen opened #13444 "getWithDefault broken with chained properties"
Let's explore how `get(...) || y` and `getWithDefault(x, y)` compare.

[code]
👍 OK, that sounds totally right.

[code]
👍 Cool. Makes sense.

[code]
😕 Hmm. That obeys the [API docs](http://emberjs.com/api/#method_getWithDefault) but it doesn't seem super intuitive. [Others agree with me, but there's also good reason to keep it as-is](https://github.com/emberjs/ember.js/pull/13056). In our app, we u

[2016-05-04 00:41] mmun commented on #13444
This is a bug in Ember.get:

[code]

It should be `undefined`.

[2016-05-04 00:52] jamesarosen commented on #13444
@mmun on Ember 1.13, I get
[code]
which is correct as far as I can tell.

[2016-05-04 00:54] mmun commented on #13444
Oops. I was checking using the console on http://discuss.emberjs.com/ but it seems to be running 1.12 :P

[2016-05-04 00:54] mmun commented on #13444
You want `foo.bar` there, btw.

[2016-05-04 00:56] mmun commented on #13444
I just checked it against canary and `Ember.get({ foo: null }, 'foo.bar') === null` still.

[2016-05-04 00:57] jamesarosen commented on #13444
Ah!

[2016-05-04 13:05] amk221 opened #13445 "Can't have a property called `content` on proxy"
This issue initially came to light for me while working with Ember-Data, where I had a Model, with an attribute called `content`. When rendering `{{task.content}}`, I was seeing `<example@model:task::ember1570:47>` instead of the the task's content. (Initial example: http://jsfiddle.net/amk221/tjja7933/)

Here is an example _excluding_ Ember-Data http://jsfiddle.net/amk221/o2oqjgga/

* With the Em

[2016-05-04 15:43] Serabe commented on #13445
It is the expected behaviour.

The [`Ember.ObjectProxy` documentation](http://emberjs.com/api/classes/Ember.ObjectProxy.html) has more info about it.

[2016-05-04 15:44] Serabe commented on #13445
Closing this. If you feel that the behaviour is not expected, feel free to reopen it.

[2016-05-04 15:44] #13445 closed

[2016-05-04 21:06] robbiepitts commented on #13444
I have a failing test for this. I'll start a WIP PR.

[2016-05-04 22:39] jamesarosen commented on #13444
[Here](https://github.com/emberjs/ember.js/blob/783a656e105a7121fc0dc38374931880d14b6bc3/packages/ember-metal/lib/property_get.js#L78-L79) is the bad line as far as I can tell. My guess is that it should be something more like
[code]

[2016-05-04 23:06] locks commented on #13444
related: https://github.com/emberjs/ember.js/pull/13449

[2016-05-04 23:43] robbiepitts commented on #13444
@jamesarosen Yeah, that's where I ended up as well. This was my solution:

[code]

[2016-05-04 23:52] robbiepitts commented on #13444
I haven't committed it yet though because I'm not convinced it's the _best_ solution. Going to keep tinkering with this.

[2016-05-05 00:09] rwjblue opened #13452 "Fix issues with Ember.VERSION changes."
Reviewing the diff after https://github.com/emberjs/ember.js/pull/13450 shows the following issues:

- [ ] The version is not properly updated manifest files like `bower.json`, `package.json`, `component.json`, `composer.json`.
- [ ] The header of the various output files (including `ember.debug.js`, `ember-runtime.js`, `ember.prod.js`) is not updated to include the version number (it still includ

[2016-05-05 01:34] fivetanley commented on #13452
Does this mean that #13450 should be reverted? I'm not sure how to do the string transformations other than through broccoli for the component files and code comments.

[2016-05-05 02:13] krisselden commented on #13452
I know how to address all of the above

[2016-05-05 02:51] krisselden commented on #13452
Working on this here https://github.com/emberjs/emberjs-build/pull/154

[2016-05-05 03:06] pixelhandler commented on #12621
@locks Yeah I have this issue in my app as well.

My use case is extending a TextField to use `type="number"` and a computed property for the `value` to `parseInt` and force the value of the input to be a Number.

Using the computed property with `get` and `set` for the values requires I use a local property for storing the value. My best guess is that since the value is a primitive (number / stri

[2016-05-05 05:35] krisselden commented on #13452
The version is at the top of the http://builds.emberjs.com/canary/ember-docs.json output, I don't think it also needs to be documented as a 'default' tag, it is a readonly property.  The other issues are fixed in https://github.com/components/ember/commit/dccb3f542337dcd7ef462f27327c2091850800b3

[2016-05-05 05:35] #13452 closed

[2016-05-05 06:52] krisselden commented on #11493
The deprecation always says didInsertElement but what is deprecated is a change state during render/update that has already been reflected to DOM in that pass. You can work around it by scheduling another pass but you have to be careful that your multiple pass renders will actually settle and are guarded from looping

[2016-05-05 06:54] krisselden commented on #11493
The idea is this is a serious performance issue and is often an accident, there are a few cases it is needed but scheduling another turn and being more deliberate and aware of it seems safer

[2016-05-05 11:34] rwjblue commented on #13452
Agreed. Thanks for tackling so quickly.

[2016-05-05 13:51] stefanpenner opened #13454 "don't recreate meta on an object after it is destroyed"
opening an issue so we remember: https://github.com/emberjs/ember.js/pull/13355

[2016-05-05 16:18] robbiepitts commented on #13444
Tried a recursive approach for `_getPath` but it didn't turn out to be the degree of improvement I had hoped for so I'm sticking with what's there already, but with the above fix. The PR is ready unless anyone has another suggestion. 💃

[2016-05-05 20:48] Joelkang commented on #13127
Did a simple migration of `mutable bindings` here: https://github.com/emberjs/ember.js/pull/13456

[2016-05-05 21:44] rlivsey commented on #12296
I'm seeing this again in current canary, not sure when it regressed

[2016-05-06 01:32] #12506 closed

[2016-05-06 10:58] robbiepitts commented on #13444
@jamesarosen Looks like the fix will be in the next beta.

This issue can be closed now.

[2016-05-06 11:04] #13444 closed

[2016-05-06 14:06] toddjordan commented on #12268
I reproduced on twiddle here for 2.5.1: https://ember-twiddle.com/f432539d50b641e90aea28b48a9f6785?openFiles=routes.application.js%2C&route=%2Fchild

Here's the steps/behavior
1. Click on child route link
2. Click to open modal 1 from either the child route button (which goes through the child route), or the app route button (which goes through the application route)
3. Click "Modal 2 (app route)"

[2016-05-06 14:35] toddjordan commented on #11312
Given `findWithAssert` is meant to be private, should we close?

[2016-05-06 14:43] rwjblue commented on #11312
Yeah, I'll close this issue, but it should be addressed in the testing RFC.

[2016-05-06 14:43] #11312 closed

[2016-05-06 16:53] pixelhandler commented on #13227
@stefanpenner @rwjblue do you know that the build is working on a windows box?

@Serabe from your link I found this change in another project https://github.com/ramda/ramda/pull/474/files @AmazingJaze would that be relevant to your issue?

[2016-05-06 17:01] pixelhandler commented on #10926
@mike-north I added the label for "Needs Reproduction" since @rwjblue requested.

[2016-05-06 17:06] pixelhandler commented on #12484
@bmac is this still an issue in Ember 2.4.5 ? The bin repo used Ember 1.13 so I added that label.

If the issue doesn't persist into Ember v2 perhaps we can close this. It's pretty unlikely that Ember 1.13 will get any more patches, especially now that we have an LTS release.

[2016-05-06 17:09] pixelhandler commented on #11497
@bantic so the newest PR for this issue is here, https://github.com/tildeio/route-recognizer/pull/91 correct?

[2016-05-06 17:11] bmac commented on #12484
I just tested my jsbin with Ember 2.4.5 and this is no longer an issue.

[2016-05-06 17:11] #12484 closed

[2016-05-06 17:14] pixelhandler commented on #13035
@astronomersiva I'll close this out as it doesn't appear to be an Ember.js bug

[2016-05-06 17:14] #13035 closed

[2016-05-06 17:16] bantic commented on #11497
Yeah, that's correct.

[2016-05-06 17:24] pixelhandler commented on #12791
@john-kurkowski yeah thx, so there are more than one way to work-around the test bug.

@rwjblue Do you think it's worth calling this a BUG ? or Do we just treat this as something that needs Documentation for work-arounds?

@locks what do you think about documenting work-arounds, seems odd to to that but if we don't call this a bug then that is the only resolution.

[2016-05-06 17:35] pixelhandler commented on #13164
@GavinJoyce I updated the twiddle example using v2.5.1 https://ember-twiddle.com/5e91f27f1df42b6e41231f53a12af3da?openFiles=application.template.hbs%2C&route=%2Fpage1 and labeled "BUG"

[2016-05-06 17:44] pixelhandler commented on #13037
@rwjblue @stefanpenner @mmun adding the label "Bug" for now, looks like the PR is in progress

[2016-05-06 17:46] pixelhandler commented on #12767
@pdeva I'll close this for now I think this can be addressed via the slack channel or stack overflow, it's not an ember bug.

[2016-05-06 17:46] #12767 closed

[2016-05-06 18:04] pixelhandler commented on #11471
@aroberts the jsbin errors for me, below are the errors I see in my console (Chrome on mac)…

[code]

@mydea your fiddle does seem to reproduce the issue with the links having an `undefined` path in the `href` and url too. https://ember-twiddle.com/f93d7e772cba9159f73e567a4b52a186?openFiles=routes.user.js%2C

[2016-05-06 18:07] pixelhandler commented on #13112
I'll close this for now, it doesn't seem to be an Ember.js bug.

[2016-05-06 18:07] #13112 closed

[2016-05-06 18:44] pixelhandler commented on #11321
@f3ndot I added an ember-twiddle example in the current release of Ember https://ember-twiddle.com/3efd6e75cec2f79a688ae04e12c1af88?openFiles=routes.error.js%2C

[2016-05-06 18:51] pixelhandler commented on #11321
@locks Perhaps we just need to add to the docs at https://guides.emberjs.com/v2.5.0/routing/loading-and-error-substates/ that the model hooks of an error substate are NOT callled only the `setupController` method is called (since the model is already resolved as an error object).

[code]

[2016-05-06 18:52] pixelhandler commented on #11321
@f3ndot looks like this issue can be moved over to the https://github.com/emberjs/guides repo

[2016-05-06 22:21] krisselden commented on #13404
@Serabe aren't contextual components resolved from the value, why did that need the above change?

[2016-05-06 22:46] Serabe commented on #13404
@krisselden I was confused before. I thought this had to do with [this change](https://github.com/tildeio/htmlbars/commit/f32ccaea6b96efdb3e5efe5a4b0066f23d707109) in tildeio/htmlbars. This change had to be introduced given that contextual components could not be invoked with dot path and without arguments. I thought that this was causing the problem but previous versions of Ember were affected as

[2016-05-06 22:54] Serabe commented on #12713
@drewclauson same here. Can you please check if this is still an issue for you? Thank you!

[2016-05-07 02:01] acorncom commented on #13400
I'm going to close this issue for now. @jmanuelrd if you are still having the issue please let us know (we'd love to fix it if needed) and we can re-open this issue.

[2016-05-07 02:01] #13400 closed

[2016-05-07 02:09] acorncom commented on #13042
There is a PR for this issue, but we need help testing it (see the PR for details)

[2016-05-07 02:14] acorncom commented on #12723
@Herriau appreciate your reproduction of your issue. Like @sohara said though, I'm not sure this is an actual bug. Are you still having this problem or can we close this issue?

[2016-05-08 01:26] jasonmit opened #13464 "FastBoot Bug - Location none doesn't respect rootURL"
Location none doesn't respect the router's `rootURL`.  This causes issues while [generating urls](https://github.com/emberjs/ember.js/blob/45248e2fb2c71ec60bb879c7588beeaeffe6dc6c/packages/ember-routing/lib/location/none_location.js#L85-L90) (link-to's for example will omit the `rootURL`).  Compare this to [history's formatURL](https://github.com/emberjs/ember.js/blob/45248e2fb2c71ec60bb879c7588be

[2016-05-08 02:12] Serabe commented on #13313
In the PR I did not add the loc to line 28 but to line 23.

[2016-05-08 02:15] Serabe commented on #13127
Closure components tests were already merged a couple of weeks ago.

[2016-05-08 13:28] #13313 closed

[2016-05-09 08:23] Serabe commented on #12657
Closing this since 1.13 is no longer _LTSish_ and the fix was in htmlbars 0.14.11 (the version in Ember 2.3).

Please, reopen it if something is still missing.

[2016-05-09 08:23] #12657 closed

[2016-05-09 08:54] erichonkanen commented on #11493
hello, Im getting this error but I havent been able to figure out what is causing it... I tried updating all packages and removing all calls to didInsertElement but it persists... Is there any way to figure out what's triggering it? (I tried ember-cli-deprecation-workflow and it didnt reveal anything)

[2016-05-09 08:55] Gacnt opened #13467 "Is it possible to track when a template is loaded and fire an event from there?"
Currently working on a chat app with Ember, which is going fantastic as Ember is really nice to work with.

I currently have a chat window, obviously with many lines of people chatting.

I would like to scroll the chat window down on initial page load, here's an example:
[code]
So how might a bind an event to the entire template being loaded (in this case its `index.hbs`

I know you can do this wi

[2016-05-09 09:30] locks commented on #13467
Hi @Gacnt, thanks for reaching out but the issue tracker is exclusive to reporting bugs in Ember.js, so next time please post your question to Stack Overflow or visit #-help in our Slack group.

What you described is the way to do it, you put a component in a template, and use the component's `didRender` hook (it's later than `didInsertElement`, so you know it's actually rendered) to call the nece

[2016-05-09 09:30] #13467 closed

[2016-05-09 15:08] pixelhandler commented on #13464
@jasonmit perhaps the first step is a failing test

[2016-05-09 15:12] c-lehmann commented on #13112
Got the same issue but I figured out a different workaround by just adding `bubbles=true` to the input-helper since `return true` didn't fly in my case.

https://ember-twiddle.com/f37ebd8634908049f45594bdc93cf8a4?openFiles=application.template.hbs

[2016-05-09 17:12] DanChadwick commented on #13112
To the extent that Ember recommends a version of jQuery that contains a bug that is incompatible with Ember, I personally think this is an Ember configuration bug. Ember should not accept 2.2.1 if it doesn't work with it, even if it isn't Ember's fault.

[2016-05-09 18:26] mellatone commented on #11486
This is extremely important.

[2016-05-09 18:31] jasonmit commented on #13464
Sure, I'll add some failing tests on the location none.  I was more interested in feedback to see how it should be fixed before going down that route.

The reproduction steps are:
* set rootURL to `/foo/`
* set location to `none`
* add a simple route `this.route('bar');`
* in application template `{{link-to 'bar' 'bar'}}`
* run app, observe the href of the bar link, notice no `/foo/` prefix
* swit

[2016-05-09 19:01] Serabe commented on #13112
Returning false from a `focusin` handler *does reproduce* the problem in Firefox 46.0. It can be seen in [this codepen](http://codepen.io/Serabe/pen/PNVXdd?editors=0010) and, in case this bug gets fixed in the future, here is a reproduction:

![codepen demonstrating the bug](https://cloud.githubusercontent.com/assets/36221/15124489/9ad7bc1e-1628-11e6-89f5-897607155364.gif)

Firefox does not have s

[2016-05-09 19:21] Serabe commented on #12380
In seems to work in 2.5.1 ([Twiddle](https://ember-twiddle.com/e52fd44b99355e078545cbe6073fb144?numColumns=2&openFiles=twiddle.json%2Capplication.controller.js)) and LTS ([Twiddle](https://ember-twiddle.com/f77493f67748bcb250bc1ecf1942ac78?numColumns=2&openFiles=twiddle.json%2Capplication.controller.js)).

Closing this as it seems to only affect 1.13. Feel free to reopen if you find a case that is

[2016-05-09 19:21] #12380 closed

[2016-05-09 20:16] jasonmit commented on #13464
Here are two failing tests on formatURL and getURL: https://github.com/jasonmit/ember.js/commit/ae4e7b25240e1c52fdc07b5f313c2d46b0059cef

It didn't appear there was test coverage around location none.

[2016-05-09 21:25] jasonmit commented on #13464
/cc @pixelhandler

[2016-05-09 21:31] Serabe commented on #10926
@mike-north can you check the issue in [this twiddle](https://ember-twiddle.com/80b619c899fc6418b04ebc0712bee9e6) is the one you were talking about? Thank you!

[2016-05-10 00:23] pixelhandler commented on #13258
@rwjblue will the fix for this issue be applied to the LTS release ?

[2016-05-10 14:14] fahian opened #13469 "Observer not working when using component Helper after one time"
When we use component helper instead of directly using component name then the observer is not working after 1st usage.

Here is a JSBin link for a demo of the issue. http://jsbin.com/sefubazika/edit?html,js,output

Here is a JSBin link for a demo of the same code without component helper (directly using component name) where the observer works http://jsbin.com/cemavoqifo/edit?html,js,output

[2016-05-10 14:28] knownasilya opened #13470 "ChainWatchers.notify errors on _notifyProperties by ED"
[code]

I'm using Ember 2.5.1 and Ember Data 2.5.2.

The error seems like it could be avoided on the Ember side. Not sure what would make the node undefined, but there should probably be a check, because otherwise it rejects the `model.save()` promise (although the save works, but any `then`s do not fire).

[2016-05-10 17:22] knownasilya commented on #13470
@krisselden I see you are one of the people who contributed there. Any thoughts?

[2016-05-10 17:56] Charizard commented on #12876
Safari's `error.stack` also does not contain the proper error message. To make things consistent in all browsers (Chrome, Firefox and Safari. Have not tested others though.), we need to print `error.name + ": " + error.message + "\n" error.stack` in both Firefox and Safari and just the `error.stack` in Chrome.

**PS: ** Attaching the error message screen for Safari.
<img width="1279" alt="screen s

[2016-05-10 18:02] Charizard commented on #12876
There seems to be no flag to detect Safari [here](https://github.com/emberjs/ember.js/blob/master/packages/ember-environment/lib/index.js#L106,L124).

[2016-05-10 23:12] AmazingJaze commented on #13227
@pixelhandler I looked into the linked commit, but Ember's .jscsrc file doesn't haven't an entry for `"validateLineBreaks"` but I went ahead and tried adding `"validateLineBreaks": "null",`  but that does not address the issue.

[2016-05-11 00:05] AmazingJaze commented on #13227
@Serabe I spent sometime setting
`git config --global core.autocrlf false ` and `git config --global core.autocrlf true` but neither addresses the issue for me. Each time I set the global config I would delete and reclone the repo just to make sure the global settings changes would be applied.

Finally, I stumbled across https://github.com/MozillaFoundation/mofo-style/issues/13 today, and also ver

[2016-05-11 01:54] atonse opened #13474 "Using raw d3 resulting in possible conflict between ember.copy() and d3.copy()"
I am currently using d3 in an ember app (via the c3 graphing library) and it's working just fine. I started creating another component elsewhere in the app, and this one involves raw drawing of svg using d3.

But I am getting an error `TypeError: s.domain is not a function. (In 's.domain()', 's.domain' is undefined)` (https://ember-twiddle.com/515a0c6ba90e1d200075a38c68209adb) – and when I try to

[2016-05-11 02:09] atonse commented on #13474
Interestingly when I remove a particular line from the d3 code `.ticks(d3.time.day, 1)`, everything works. Something with the interaction between ember and d3?

[2016-05-11 02:10] mike-north commented on #13474
ticks returns an array. See: https://github.com/mbostock/d3/wiki/Quantitative-Scales#linear_ticks . This has nothing to do with ember. The copy method you're seeing is on the array prototype.

[2016-05-11 02:14] atonse commented on #13474
Thank you @mike-north! I thought `ticks` is a way to tell d3 that I want the ticks to be one week apart. I'll close this issue

[2016-05-11 02:18] #13474 closed

[2016-05-11 03:02] acorncom commented on #13470
This one looks like it'll be fun to try to reproduce ;-)

[2016-05-11 08:04] krisselden commented on #13470
This happens when a path is unwatched that was never watched.  Usually something is manually trying to teardown an observer that was never set up.

[2016-05-11 08:05] krisselden commented on #13470
unfortunately this is unlikely to get much attention without more information.

[2016-05-11 19:16] aquamme commented on #12791
In order to avoid the problem that @backspace encountered, I modified the code @pixelhandler provided:

[code]

[2016-05-11 19:35] Serabe commented on #13469
I cannot reproduce it in 2.5 (see this [twiddle](https://ember-twiddle.com/3a82e7d6f539a21435d63b10228be3de?numColumns=2&openFiles=templates.application.hbs%2Ctwiddle.json)). Your example is in 1.13 which is not currently supported. Can you please try to reproduce your problem in 2.5 or LTS?

Thank you!

[2016-05-11 21:49] Serabe commented on #11769
It seems to be gone in 2.5. I [forked the jsbin](http://jsbin.com/sacahi/edit?html,js,console,output), changed versions and included the instructions to be followed.

I am closing this. Please, reopen if you can still reproduce.

Thank you!

[2016-05-11 21:49] #11769 closed

[2016-05-11 22:02] Serabe commented on #11515
Since overriding the `render` function was deprecated in Ember 2, I am closing this issue

Thank you for reporting the issue!

[2016-05-11 22:02] #11515 closed

[2016-05-12 09:02] ykaragol opened #13484 "Checkbox needs title, value and hidden attribute's bindings"
Currently [checkbox ](https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-views/lib/views/checkbox.js#L42)has following attributeBindings:
- 'type'
- 'checked' :
- 'indeterminate' :
- 'disabled' :
- 'tabindex',
- 'name',
- 'autofocus',
- 'required',
- 'form'

From [checkbox definition](https://www.w3.org/TR/html-markup/input.checkbox.html) the following binding is missing:
- 'value'

An

[2016-05-12 09:56] Serabe commented on #13484
`value` is [intentionally not supported](https://github.com/emberjs/ember.js/blob/74937c7631c5166cdfbd3c0a34bc2101fa47e4a0/packages/ember-htmlbars/lib/keywords/input.js#L160). `class` is supported through `classNames` (see [twiddle](https://ember-twiddle.com/4aaa9ddf1be1849bb3e004978d636af1?openFiles=styles.app.css%2C)).

[2016-05-12 18:43] vivian-ho opened #13486 "TypeError: instance.container is not a function"
I'm trying to upgrade to Ember 2.5 from 2.0 and getting this: TypeError: instance.container is not a function.  I have commented out all initializers in the app.  Thanks for any help.

[2016-05-12 18:57] Mode7James commented on #12849
@locks But don't you think it's just a little confusing that what you assume is actually disabling the link only adds a class?  It's even more confusing because you can already set the class using the normal way `class=computedClassWithDisabledCheck`.  Since 'disabled' IS an attribute that can be set for most elements, one would assume that it also works for linkTo helpers, right?

Example:
`{{lin

[2016-05-12 19:59] typeoneerror opened #13489 "4xx error triggers error handler but does not enter error substate"
I found an external API call that triggers a 4xx level error (e.g. 401 Unauthorized) in `Route#model` will result in the `error` action being called on the route, however the `error/template.hbs` substate is not entered. The error substate only seems to be entered when a 5xx level error is encountered. If this is intended behavior, how can I manually enter the error substate when a 4xx level error

[2016-05-12 22:57] #13489 closed

[2016-05-13 06:39] krisselden commented on #13212
@tojofo each and sortable can't be both mutating the dom, only one can.

In order to use this library plus each, you would need to subscribe to the update event, and send an action with the updated sorting (this action would then apply to the underlying array), and `this.$().sortable('cancel')` to prevent jquery UI from updating the dom, and let each do it.

[2016-05-13 06:39] #13212 closed

[2016-05-13 06:41] tojofo commented on #13212
@krisselden thank you for the feedback - will try that.

[2016-05-13 08:08] krisselden commented on #13212
@tojofo so `cancel` doesn't actually restore the DOM quite right, but I did a workaround for you https://ember-twiddle.com/8b95fbde22b976ae3185ecf86b723388

[2016-05-13 15:32] miguelcobain opened #13494 "[BETA and CANARY] `block` is undefined on tagless and blockless components"
I'm getting a `TypeError: Cannot read property 'template' of undefined` because `block` is undefined in this line: https://github.com/emberjs/ember.js/blob/master/packages%2Fember-htmlbars%2Flib%2Fhooks%2Fcomponent.js#L57

The tests are ok in ember-release and fail on beta and canary channels.

The tests that fail involve tagless blockless components, so I assume the bug is related to that.

Build

[2016-05-13 15:52] Serabe commented on #13494
Seems related to local lookup. // @rwjblue

[2016-05-13 16:04] pixelhandler commented on #13486
@vivian-ho Hi it sounds like you may need to use `getOwner` instead of `this.container`. But I think what you could use is some support. Have you asked this question in the embercommunity.slack.com #-help channel?

I'll close this out for now since it's not an Ember bug.

[2016-05-13 16:04] #13486 closed

[2016-05-13 16:26] Serabe commented on #13243
@mmun I see both PRs have been merged. Is there something left to do or can this be closed?

Thank you!

[2016-05-13 17:00] pixelhandler commented on #12723
@Herriau See this fork of your twiddle example, https://ember-twiddle.com/67c6f45034fab29e81873bd354a8792f?openFiles=application.template.hbs%2C

since I added `foo` and passed in a value `whatever` like you did with `bar` now the template re-renders. The change of an internal property `foo` doesn't cause the component template to re-render, only the bound value to change the css class, not a comp

[2016-05-13 17:00] #12723 closed

[2016-05-13 17:22] robbiepitts commented on #13243
@Serabe This can be closed, thanks!

[2016-05-13 18:20] #13243 closed

[2016-05-13 18:20] mmun commented on #13243
Thanks all!

[2016-05-13 18:28] Herriau commented on #12723
@pixelhandler It may not be a bug per se, but I still believe that the notion of rerender as conveyed by the `didRender` hook is flawed. I would expect any event that leads to a mutation of the DOM (including change in attributes of the component's element itself) to trigger the `didRender` hook. It just seems reasonable.

Rather, the current situation is such that we can potentially get a lot of

[2016-05-13 18:36] typeoneerror commented on #12845
Same issue here in 2.4.5. Having a tough time repro'ing outside our application, but same stack trace as @mohlek.

[2016-05-13 18:51] typeoneerror commented on #12845
So, I found that I had an "index" route that was redirecting to another route. I was not including the parent route's model in the transition. It worked some of the time, i.e....

[code]

[code]

If I update `beforeModel` in course/index/route.js to do this, the error goes away:

[code]

[2016-05-13 18:59] arimiller67 opened #13496 "Cannot add third party functionality"
My company is working with a developer who has apparently used Ember to structure the site's JS. We have requested several third party functions to be added to the site - Juicer.io, Crazy Egg, etc. They are telling us that these interfere with Ember and cannot be used.

If Ember is intended to **enhance** JS functionality, then this doesnt make sense to us. Im looking for an objective, outside opi

[2016-05-13 19:07] charuag opened #13498 "How to send date as header param when sending a GET request to an API?"

[2016-05-14 01:38] krisselden commented on #13404
@Serabe I don't know why that had to be changed, I thought contextual components used `componentCell[COMPONENT_PATH]`

[2016-05-15 20:29] robbiepitts commented on #13498
@charuag You can easily specify static and dynamic headers if you're using an adapter descended from the `RESTAdapter` by following the instructions here: http://emberjs.com/api/data/classes/DS.RESTAdapter.html#toc_headers-customization

It seems to me like you're looking for something like the following (replace `RESTAdapter` with the adapter you're actually using):

[code]

[2016-05-15 21:23] Serabe commented on #13498
Hello, @charuag. I am closing this since it is not an Emberjs bug. Please, go to #-help channel on Slack if you need more information. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

Thank you!

[2016-05-15 21:23] #13498 closed

[2016-05-15 21:31] Serabe commented on #13496
Hello, @arimiller67. I am closing this since it is not an Emberjs bug. Please, go to #general or #-help channels on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

Thank you!

[2016-05-15 21:31] #13496 closed

[2016-05-16 17:21] tomdale commented on #13464
I think we should definitely add support for `rootURL` to the `none` location; the point is that it's an API-compatible version of the other Locations, but without side-effects. This IMO is clearly breaking compatibility with other locations, so should be considered a bug.

[2016-05-16 17:25] jasonmit commented on #13464
Thanks for getting back, I'll take a pass at fixing this either tonight or tomorrow.

[2016-05-17 02:53] richkniles opened #13509 "Using Ember with PDF.js"
We've been trying to incorporate PDF.js into an Ember project and ran into an issue we raised on their repo.  The response was:

    It seems that the problem is caused by Ember, since it's adding a number of methods on
    Arrays, but for some reason they are all enumerable which is the cause of the problem.
    When adding methods on e.g. Arrays and Objects, they should be set to
        enumera

[2016-05-17 02:56] chadhietala commented on #13509
You can turn off specific prototype extensions. https://guides.emberjs.com/v2.5.0/configuring-ember/disabling-prototype-extensions/

[2016-05-17 02:57] chadhietala commented on #13509
Feel free to reopen if this does not resolve your issues.

[2016-05-17 02:57] #13509 closed

[2016-05-17 05:38] SalamonDharamaraj commented on #12707
u can define the action inside the route , instead of controller with "this.refresh()"
it will refresh the current route alone

[2016-05-17 12:42] mhesler opened #13512 "Problem with setting and resetting value in component with a bound attribute"
A problem appears when setting a component property to another value and then back to the original value within the same run loop when it is bound through an attribute.  The attribute remains as the new value rather than getting set back to the original value as would be expected.
[Example JsFiddle](http://jsfiddle.net/3nmwaqrj/)

[2016-05-17 13:21] Serabe commented on #13512
It changes to the last set value different than the original. This [fork from @mhesler's fiddle](http://jsfiddle.net/sf86jozz/) shows that.

[2016-05-17 14:45] fivetanley opened #13513 "Actions do not fire on elements that are not inside `App.rootElement`"
There are a few use cases for this that I could think of:
- Your app has a `rootElement` that is not `body` and your modal implementation/popover implementation uses `body` as its parent element.
- Your app has a `rootElement` that is body, but your modal implementation/popover implementation must be rendered in the body to work correctly for styling/accessibility/etc. This means that when you hav

[2016-05-17 15:43] richkniles commented on #13509
For future reference to others interested in using PDF.js with Ember, turning off extensions for Array appears to fix the issue of incorrect pdf rendering of some pdf files.

Thanks @chadhietala

[2016-05-17 18:48] richkniles commented on #13509
Actually turning off extensions for Array is a pretty big deal for our project as the extensions are used a lot.  I found a different possible solution:

    var properties = Object.keys(Array.prototype);
    for (var i = 0; i < properties.length; i++) {
      property = properties[i];
      var descriptor = Object.getOwnPropertyDescriptor(Array.prototype, property);
      descriptor.enumerable =

[2016-05-17 19:00] stefanpenner commented on #13509
@richkniles hmm, seems bad that we make them enumerable in the extend array prototypes case. I think that should be considered a bug.

[2016-05-17 20:46] Asherlc opened #13517 "Brace expansion in `addObserver` doesn't work"
This is a tortured example, but I believe it illustrates the problem:

https://ember-twiddle.com/fad06431ff6f578dd6b6762b6ef1282c?fileTreeShown=false&openFiles=controllers.application.js%2C

If given a property key with the brace expansion syntax, it won't update. Without it, it works fine.

[2016-05-17 20:49] mellatone commented on #12775
What happened to this?

[2016-05-17 20:56] heyjinkim commented on #11486
I'm having the issue with styling `body > .ember-view` when using `ember-modal-dialog` addon because the modal-dialog element is appended to the body tag that breaks the `body > .ember-view` style. This is hacky, but here's how I fixed.

app/index.html
[code]

config/environment.js
[code]

app.css
[code]

[2016-05-17 20:58] cibernox commented on #11592
I just found this too in my app. How can I help? Reproducible example?

[2016-05-18 00:22] IAmJulianAcosta commented on #10272
@rwjblue I'm using Ember 2.4 with Ember Data 2.4 and I'm having the same problem, comparing a `model` with a `belongsTo` relationship returns always false, because `belongsTo` returns a `ObjectProxy`

[2016-05-18 04:36] mmun commented on #12775
No changes. We'll be opening a new RFC repo for the handlebars language soon and I'll be sure to reopen it there.

[2016-05-18 04:54] jasonmit commented on #13464
@tomdale I am just about done but there is a deficiency in the current API that I'd like to get your feedback on.

The `visit` API takes in a url arg, sets it on the location, and then calls `handleURL` on the router with that same argument.  The issue here is we pass the visit API the full request URL which would include the rootURL and the router would attempt to transition to it and would resul

[2016-05-18 05:20] jasonmit commented on #13464
@tomdale ready for you to review.

[2016-05-18 07:36] herom commented on #11592
I'm too seeing this in my application. I recently upgraded from Ember 1.13.10 all the way up to Ember 2.4.3 and now some of the routes are broken, especially when reloading them...

[2016-05-18 14:12] tennisonchan commented on #13387
Any update here? @stefanpenner it will only break if the user update their ember. The change will only break if people use `computed.min/max` with javascript date and depends on its output as a timestamp. It shouldn't affect most of the use case, if not all.

[2016-05-18 14:29] drewclauson commented on #12713
@Serabe It's no longer an issue for me, thanks!

[2016-05-18 14:29] #12713 closed

[2016-05-18 16:56] stefanpenner commented on #13387
I believe my comment is still the current thought: https://github.com/emberjs/ember.js/issues/13387#issuecomment-214007630

[2016-05-18 17:07] stefanpenner commented on #13517
This isn't a bug, but rather not something low level API such as addObserver support. I can appreciate why this seems strange, but the brace expansion only exists for the high level API's used at class design time.

[2016-05-18 17:07] #13517 closed

[2016-05-18 17:11] Asherlc commented on #13517
It would be great if this was documented in that case

[2016-05-18 17:14] stefanpenner commented on #13517
it is, by virtue of only being documented for the high level apis.

[2016-05-18 17:19] Asherlc commented on #13517
Technically in the API, it's not documented for either method: http://emberjs.com/api/classes/Ember.computed.html

Though I suppose it only references brace expansion in reference to CP's here: https://guides.emberjs.com/v2.3.0/object-model/computed-properties/

[2016-05-18 17:54] stefanpenner commented on #13517
might be good to document it at that level

[2016-05-18 21:28] gzurbach opened #13524 "Ember.computed.sort and async relationships"
Hey there! I am seing an issue that I am pretty sure did not exist a couple weeks ago (before upgrading Ember / Ember Data to 2+).

On page load the list of memberships (usually between 1 and 5) that belongs to a user are loaded asynchronously along with that user. I am sorting them by expire date to find a potential non-expired membership in the list.

Below is my (simplified) `models/user.js` fi

[2016-05-18 22:48] mmun commented on #13524
What version of ember are you using specifically? There was an important bug fix for computed.sort that landed in 2.4.0.

[2016-05-18 23:49] gzurbach commented on #13524
I am using the following:
Ember 2.3.2
Ember Data 2.4.3

I will try to upgrade Ember tonight, see if it fixes the issue and let you know. Thanks for the heads up.

[2016-05-19 00:43] krisselden commented on #13513
@fivetanley correction, one per document, if we should support visit() being passed a different document or iframe.

The view registry is also something that belongs on the dispatcher, since ids are supposed to be unique per document and it is to support the dispatcher that it exists.

[2016-05-19 00:46] krisselden commented on #13420
@rwjblue I think if `onclick={{action 'my-action'}}` works on any element it should work on all elements that support `onclick` no?  I'm going to label this as a bug.

[2016-05-19 01:03] rwjblue commented on #13420
@krisselden - I was not justifying that the current behavior was correct, I was explaining what is happening.

[2016-05-19 02:35] gzurbach commented on #13524
Updated to Ember 2.5 and everything works again. Sorry for the noise, and thanks for your help sir!

[2016-05-19 02:35] #13524 closed

[2016-05-19 06:27] richpwf commented on #13470
I've run into this, I can replicate it in my app but the circumstances that it happens in are rather unique. It seems to be tied to using removeObject on Embedded Records in my case but only if I enter the parent route first (if I got straight to the child route then I don't get the error).

Happy to try recording a video or connecting with someone wiser than me to help debug as it's forced me to

[2016-05-19 15:09] GramozKrasniqi commented on #12707
@sarus the documentaction sais that you should call the method on the Route that you want to refresh instead you are doing the refresh on the target(RouterMain).router which is the routerJs, Basically what you are doing is commanding the router of the MainRouter to refresh and of course that it will refresh everything including the ApplicationRoute and the other routes.
But we should try it also r

[2016-05-19 15:13] vinodhrajamuralidharan opened #13527 "getOwner(this).resolveRegistration from getOwner(this)._lookupFactory"
I have three service files.

   **First one**: this service file contains getOwner(this).resolveRegistration previously getOwner(this)._lookupFactory
      2. This service file which contains the functionality for the project.
      3. this service file extends the first file and injects the second service file to make some functionality.

It was working fine when I used _lookupFactory private fun

[2016-05-19 15:16] smitakiran25 opened #13528 "Unable to upgrade"
I am trying to install ember latest version(v2.6.0) but its not installing it showing the old version(2.4.2). I tried the following stepts
npm uninstall -g ember-cli
npm cache clean
bower cache clean
npm install -g ember-cli@2.6.0-beta 2

the new version is not installing .some times  unmet dependency warning came.

current software versions i am using
node version  v5.10.0
OS linux x64  Fedora 20

[2016-05-19 15:31] stefanpenner commented on #13528
the output suggests everything installed correctly

[2016-05-19 15:31] #13528 closed

[2016-05-19 15:34] rwjblue commented on #13528
1. Do not install as root (it is generally a bad idea)
2. This repo is for bugs in Ember itself, if this is a bug it would be with ember-cli (not Ember).
3. You should follow the upgrade instructions that we publish with each release of ember-cli. You have to install globally AND you have to update your project. If you are in a project folder upgrading globally will **not** cause the project to be

[2016-05-19 15:39] stefanpenner opened #13529 "Improve EventDispatcher unable to attach to element assertion"
https://github.com/emberjs/ember.js/blob/74937c7631c5166cdfbd3c0a34bc2101fa47e4a0/packages/ember-views/lib/system/event_dispatcher.js#L173

Should most likely also display the selector it was unable to attach to in the assertion message.

I also believe this should not be an assertion, rather a TypeError as it is helpful (and little cost) for all builds of an app.

[2016-05-19 16:32] mmun commented on #13524
Good to hear!

[2016-05-19 17:22] jmar910 commented on #13529
Wanted to take a stab at this and get my feet wet with contributing to ember.

This is what I have based on if I'm understanding correctly:
[code]

Let me know if i'm on the right track 😄

[2016-05-19 18:40] stefanpenner commented on #13529
@jmar910 LGTM

[2016-05-19 19:50] #13527 closed

[2016-05-19 23:26] dmagunov opened #13533 "Nested route dynamic segments error"
Hi,

Have Router

[code]
When i navigate to child route, then in second dynamic segment in url Ember place parent id, not child id

[2016-05-19 23:30] #13533 closed

[2016-05-20 08:03] smitakiran25 commented on #13528
I am trying to install latest version globally the following unmet dependency warning is coming

[smita@vector ~]$ sudo npm install -g ember-cli@2.5.0
npm http 304 https://registry.npmjs.org/babel-core
npm http 304 https://registry.npmjs.org/minimatch
npm http 304 https://registry.npmjs.org/minimist
npm http 304 https://registry.npmjs.org/broccoli-persistent-filter
npm http 304 https://registry.np

[2016-05-20 08:05] smitakiran25 commented on #13528
Latest version ember-cli  v2.5.0 is not installing the above warning is coming

[2016-05-20 08:22] #13464 closed

[2016-05-20 14:02] stefanpenner commented on #13528
My guess is you are using an old and potentially broken version of npm, let me recommend you upgrade to a more recent version.

the following should work:

[code]

[2016-05-20 14:19] jordyvandomselaar opened #13536 "When refreshing a route Ember not rendering full screen"
When I go to `localhost:4200` I get this:
![screenshot_1](https://cloud.githubusercontent.com/assets/12712484/15430586/3b14351a-1ea6-11e6-8fd7-aecbc2b5534d.png)

When I click on `account` I get this:
![screenshot_2](https://cloud.githubusercontent.com/assets/12712484/15430620/5b8f85ce-1ea6-11e6-9d2e-61deb09e9092.png)

But when I refresh on the `account` page this happens:
![screenshot_3](https://c

[2016-05-20 14:44] rwjblue commented on #13536
Please provide a demo. I don't see a difference in the screenshots.

[2016-05-20 14:49] locks commented on #13536
@jordyvandomselaar do you have Dev Tools open? That's what usually happens to me.

[2016-05-20 14:50] locks commented on #13536
@rwjblue last screenshot has a white square covering the lower half of the screen.

[2016-05-20 15:20] acorncom commented on #13536
@jordyvandomselaar Glad to see you're getting started with Ember! 😄 For future reference, we generally try to keep these types of questions on Stack Overflow, the Ember forum (http://discuss.emberjs.com) or on the Ember Community Slack `-help` channel (details on how to sign up for that can be found here: http://emberjs.com/community/)

[2016-05-20 16:33] pixelhandler commented on #13258
@rwjblue @chancancode any update on resolution for LTS version yet?

[2016-05-20 16:46] pixelhandler commented on #10926
@mike-north ping. Can you update this issue with a reply regarding https://github.com/emberjs/ember.js/issues/10926#issuecomment-131630380

[2016-05-20 18:06] mguterl opened #13537 "Component attributes are not removed when dynamically set to null"
This twiddle illustrates the issue pretty clearly if you inspect the rendered DOM.

https://ember-twiddle.com/ac6ac134c6646466e71e5cb7b2def69d?openFiles=templates.application.hbs%2Ctemplates.components.my-component.hbs

The component documentation states that if you set an attribute to null it won't be included. This works great for components that never change, but in the case where they do it is

[2016-05-20 19:22] MiguelMadero opened #13538 "Ember 1.13.x regression - render helper doesn't generate proxy controllers"
There is a fix for it on https://github.com/zenefits/ember.js/pull/1 I'm not sure how/if I can open a PR for a fix for 1.13.

Prior to 1.13, ember used to generate an ObjectController or ArrayController when using `{{render 'name' objectOrArray}}`.

Here is a twiddle where we can toggle between 1.12 and 1.13 to see the error
https://ember-twiddle.com/df75fe63672f01c4bf5f8f4b8a35ffc7?openFiles=cont

[2016-05-20 22:31] jordyvandomselaar commented on #13536
Sorry about not using Slack for this :),  it also happens with dev tools closed, thanks for the suggestion :D

[2016-05-21 10:55] Nav4e commented on #10557
Is there some trick for hotfix.

[2016-05-21 21:31] chrism opened #13540 "Issue with new native event test helpers in Ember 2.5.1"
Prior to upgrading to 2.5 my acceptance tests worked for mocking file uploads by using jQuery events on my component. eg

**Working in 2.4.3**

file-chooser.hbs
[code]
file-chooser.js
[code]

My custom test helper which allowed me to successfully add a file via `uploadFile('#file-chooser', ['test text'], {});`

[code]

Unfortunately this approach no longer seems to work in 2.5.1 so I have tried up

[2016-05-22 14:51] chrism commented on #13540
To follow up on this here are some Ember Twiddles I have made showing the failing tests as very simple use cases.

Working both in Ember 2.4.3 acceptance tests and in browser example

[File Chooser Tests - Ember 2.4.5](https://canary.ember-twiddle.com/6303d5f95e8d5df1afcbf458e8e12329?openFiles=components.file-chooser.js)

Working only in browser for both jQuery and native events in Ember 2.5.1

[F

[2016-05-22 15:01] rwjblue commented on #13540
@cibernox - Would you mind taking a look?

[2016-05-22 17:05] cibernox commented on #13540
@rwjblue Checking it. If the regression appeared recently, I think that [this PR](https://github.com/emberjs/ember.js/pull/13440) might have been involved.

[2016-05-22 17:11] cibernox commented on #13540
I stand corrected, this appeared in 2.5.0. That commit is clear.

[2016-05-22 19:07] cibernox commented on #13540
Ok @chrism , after some digging, I have bad news and a workaround.

One difference between native events and jquery events, is that in native events, the `target` property is ReadOnly. That means that even if you pass `target: { whatever }` as an option, it is going to be ignored and the target is going to be the element where the `dispatchEvent` is called.

I tried to append the file to the input

[2016-05-22 20:53] chrism commented on #13540
Hi @cibernox — firstly a massive thank you for looking into this.

As I already have one or two places in my application code where I’ve had to do something similar a work around like this isn’t such a big deal.

For me the main issue was knowing where to look for advice on this as it doesn’t quite fall in any of the obvious places.

On this hopefully I might be able to help — I'm going to update

[2016-05-22 20:53] #13540 closed

[2016-05-22 20:55] rwjblue commented on #13540
Yes, I agree this was a bit of a difficult one to diagnose.

Sounds great, thank you!

[2016-05-22 21:57] stefanpenner opened #13545 "blueprints need tests here"
most likely steal from: https://github.com/ember-cli/ember-cli-legacy-blueprints

[2016-05-22 23:07] cibernox commented on #13540
@chrism sure, just ping me in slack whenever you want me to take a look.

[2016-05-22 23:31] rwjblue commented on #13545
Hmm. I thought we did have tests?

[2016-05-22 23:31] rwjblue commented on #13545
https://github.com/emberjs/ember.js/tree/master/node-tests/blueprints

[2016-05-22 23:45] stefanpenner commented on #13545
Oh ya

[2016-05-22 23:46] #13545 closed

[2016-05-22 23:46] stefanpenner commented on #13545
I did notice they are fairly coupled to ember-cli, I'm going to work to decouple them.

[2016-05-23 11:03] chrism commented on #13540
@cibernox i'm on slack if you want to reply there but thought i'd post the URL here too for others.

https://medium.com/@chrisdmasters/acceptance-testing-file-uploads-in-ember-2-5-1c9c8dbe5368#.581bwe6iw

thanks again for your help

[2016-05-23 17:25] benkiefer commented on #12719
@locks do you know when the routing api changes will be made?

[2016-05-23 17:37] locks commented on #12719
@benkiefer we are actively working on implementing the public router service, so there is no scheduled release with it at the moment. I suggest to keep an eye on the canary channel, that's where it'll first appear, possibly under a feature flag.

[2016-05-23 18:00] robbiepitts commented on #13537
@mguterl Looks like this issue is due to `download` being a property as well as an attribute on the `<a>` element. [Here](https://github.com/tildeio/htmlbars/blob/ba212c9dc100e674b03b2fc78dbfb654395ae18f/packages/dom-helper/lib/prop.js#L14) is where we handle this situation.

I'm going to keep looking at this to verify whether or not I'm actually correct and try to get a failing test.

[2016-05-23 18:45] RobIsHere commented on #13513
I have an app that is included in unknown customer's sites. Integration should "just work".
So i don't know if i can use ember-wormhole or others, docs say no because of this issue.

When i built it, i faced 3 things:
* the issue here. actions on wormholed stuff will not work according to docs.
* namespacing of the applications code and url (works great!)
* namespacing of the css (works for applic

[2016-05-23 19:29] mguterl commented on #13537
Thanks @robbiepitts!

[2016-05-24 00:53] robbiepitts commented on #13537
Np, @mguterl! I've opened a PR in tildeio/htmlbars to address this.

Unrelated to the issue but I noticed that you are setting `download` to `"true"` which—through the digging I've done for this issue—I've discovered that [the value should be your recommended filename](https://html.spec.whatwg.org/multipage/semantics.html#attr-hyperlink-download). For example, maybe the actual filename has some ug

[2016-05-24 08:48] rk1 opened #13552 "rolledBack event not firing on model"
This twiddle illustrates the issue (testable via the "test rollback" button):
https://ember-twiddle.com/6995f426ba012f6d37724de7ecd526fb?openFiles=models.animal.js%2C

The `rolledBack` event is not fired (even if it's an unsaved model). In the console there's a log for the `ready` event.

[2016-05-24 08:50] #13552 closed

[2016-05-24 12:44] mguterl commented on #13537
@robbiepitts you make an interesting point about the value of the download attribute. I actually don't want to supply any value at all `<a href='example.com/whatever' download>Download</a>`. Can you make any suggestions on how I should accomplish that?

[2016-05-24 15:03] jordpo commented on #13469
The issue seems to be more related to the view Ember.Select vs the component helper. I am rendering `facility.firstObject.id` in the below JSBin and you can see that it updates correctly when you toggle the `selectedMarket`.

http://jsbin.com/qawopolimu/edit?html,js,output

Since Ember.Select is now [deprecated](http://emberjs.com/api/classes/Ember.Select.html), I suggest using one of the add-ons

[2016-05-25 10:08] erichonkanen commented on #10573
hello,

I just ran into this and am wondering what the recommended approach is? Here is my form and form field component in a template:
[code]
Here is my form component... I want to be able to detect a change to *any* child `{{form.input}}` and trigger some code...
[code]

[2016-05-25 14:52] knownasilya commented on #13470
@richpwf think you could replicate it?

[2016-05-25 19:21] rwjblue opened #13557 "ember-qunit moduleForComponent 2WB Breakage on Canary"
I have not dug in deeply, but I suspect that all the work around glimmer integration has change/broken the mechanism that ember-test-helpers binds a components context.

Failing test:

[code]

The assertion fails (`this.get('value')` returns `undefined`).

Demo: http://rwjblue.jsbin.com/cebadu/edit?html,js,output

/cc @krisselden

[2016-05-25 19:24] rwjblue commented on #13557
I kinda suspect that https://github.com/switchfly/ember-test-helpers/blob/16a605b1cebc36fbf6afc0a263e7ebdb72bb23da/lib/ember-test-helpers/test-module-for-component.js#L151-L152 are the root issue, but that is just a WAG.

@krisselden - Has anything changed on canary WRT to supporting setting `context` or `controller` on a component?

[2016-05-25 20:19] aquamme opened #13558 "Objects/arrays defined on classes are a vector for state leakage in tests"
[Twiddle](https://ember-twiddle.com/0daf214d0a9a0a30f2584f54f369d153?openFiles=tests.unit.dummy-test.js%2C)

I was seeing some intermittent test failures and tracked it down to this. Fortunately for me, none of the objects or arrays defined on any of our classes actually needed to be shared across instances. Users who need this behavior are left with these options:
* Ignore the intermittent test f

[2016-05-25 21:46] Serabe commented on #13558
Thank you for your report. In this case, this is not a bug and is documented in the [guides](https://guides.emberjs.com/v2.5.0/object-model/classes-and-instances/#toc_initializing-instances).

I am closing this. Reopen it if I am mistaken.

Thank you so much for your report!

[2016-05-25 21:46] #13558 closed

[2016-05-25 21:58] adhamhf opened #13559 "Best Practice: Components, Templates or Partials"
Hello,

I don't understand when I should use a component, a template or a partial.  Is there any guidance on this from the ember core team?

Thanks!

[2016-05-25 22:11] aquamme commented on #13558
Yes, I did actually link to that guide. What I want to point out though is that this feature can cause unpredictable behavior with tests, because the class state doesn't get reset between tests. That caveat isn't documented, but even if it were, it would be tedious and error prone to deal with. The test writer would have to be aware that the state isn't automatically reset between tests (unlike ot

[2016-05-25 22:12] Serabe commented on #13559
Hello, @adhamhf. I am closing this since it is not an Emberjs bug. Please, go to #-help channel on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

Furthermore, the official guides can be found in [guides.emberjs.com](https://guides.emberjs.com/v2.5.0/). In the sidebar you will notice there are one section for [Templates](https://guides.embe

[2016-05-25 22:12] #13559 closed

[2016-05-25 22:24] adhamhf commented on #13559
@serabe. Slack is pretty bad at this type of question.  It's great for some use cases like "how do I do foo". But for complex explainations it leaves a lot to be desired.

The guides explain "how to" but not "when to". And then they don't explain partials at all.

[2016-05-25 22:25] Serabe commented on #13558
This is a expected behaviour, not only in Ember but in Javascript. You can check in [this jsbin](http://jsbin.com/gojizogeca/edit?html,js,console,output).

This is clearly not expected coming from other language semantics.

This will be solved once the Ember Object model has been migrated to ES6 classes, but it depends on a couple of proposals for TC39 (I am thinking about [Class Fields and Static

[2016-05-25 22:27] Serabe commented on #13559
You can try http://discuss.emberjs.com/ if you want a forum to ask an open question.

[2016-05-26 00:37] richpwf commented on #13470
@knownasilya sadly not, I tried at the time but couldn't get it to happen in a twiddle (my actual app is pretty large, ~1000 files, so replicating all of it isn't an option)

[2016-05-26 07:53] bradleypriest commented on #12915
Anyone coming to this later, the offending change was
https://github.com/emberjs/ember.js/commit/8b9f894b5569fe0bb144c4f124268678ff04fc13#diff-33ff1529a427727ffe2425f145375540R332

[2016-05-26 10:44] jameshoward commented on #11595
I've hit this issue with trying to have nested routes that handle showing models from a `hasMany`. For example:

* `people.person` has path `people/:id` and should show the person matching ID. The `model` hook returns a Person.
* `people.person.lectures.lecture` nested route has path `people/:id/lectures/:id`  Show the lecture matching the ID that belongs to the person.

Changing those routes to `

[2016-05-27 13:17] Turbo87 commented on #12876
this is how Mocha.js does it: https://github.com/mochajs/mocha/blob/master/lib/reporters/base.js#L169-L193

so essentially just see if the stack contains the message and if not you can add it. I think detecting it this way will be more robust compared to deciding based on the browser detection.

[2016-05-27 14:33] smitakiran25 opened #13569 "ember.debug.js:32096Error: No model was found for 'case'"
I am using the following ember versions

ember-cli :2.5.0
npm version: 3.9.2
bower version: 1.7.9
OS : Fedora 20

i am using patternfly

app/newcase.hbs:

<div class="container-fluid" id="enquiry">
      <div class="row">
        <div class="col-sm-9 col-md-10">
          <div class="col-sm-12 col-md-6">
            <form class="form-horizontal">

              <div class="form-group">

[2016-05-27 15:36] RobIsHere commented on #13569
Your model is called "newcase" because it is stored in a file with name app/model/newcase.js
So creating a model called 'case' results in an error.
[code]

Creating a select is pretty straightforward nowadays. For example http://balinterdi.com/2015/08/29/how-to-do-a-select-dropdown-in-ember-20.html or some other tutorial on google helps. Just filter out google search results older than 1 year beca

[2016-05-27 18:02] pixelhandler commented on #10926
@mike-north I'll close this for now, please re-open if the issue is reproducible.

[2016-05-27 18:02] #10926 closed

[2016-05-27 18:15] pixelhandler commented on #13569
@smitakiran25 I'll close this out for now. This is not an Ember.js Bug. As @RobIsHere mentioned there are some good community solutions for using `select`, perhaps try the x-select or ember-power-select addons. Also feel free to join the #-help chat room in embercommunity.slack.com to get help.

[2016-05-27 18:15] #13569 closed

[2016-05-27 18:35] pixelhandler commented on #13557
@rwjblue I'm curious about the test 'it renders', does `value` need to be set in the context of the test block?

[code]

Also I've still been using `Ember.run` is that not needed anymore? example: http://jsbin.com/quhuli/4/edit?js,output

[2016-05-27 18:41] pixelhandler commented on #13538
@MiguelMadero it's very unlikely that there will be any patches applied to v1.13; which was supported much longer than expected. Now that there is a LTS release that will be the focus for longer support and patches.

That said you may need to fork, patch, and build.

[2016-05-27 19:36] spinlock99 opened #13572 "Route Model Hook Returns a Copy and not a Refference"
I've just implemented a route which checks Ember Data to see if there are any records and, on a cache hit, returns a `DS.RecordArray`. It will also fire off a `store.query` to check the back-end for any new data that is not in the store (see write-up [here](http://discuss.emberjs.com/t/how-can-i-bind-data-returned-from-the-model-hook-to-the-template/10730)).

The issue is that the `DS.RecordArray`

[2016-05-27 21:21] bryanaka commented on #12866
I ran into this issue today and I do feel like it is a bug but more from the viewpoint of expected API rather than programmatic correctness.

Everywhere else I can use `Ember.getOwner(something)` to get access to the owner, but when it doesn't work with the instance, I have to just know that the instance itself is the owner. I got confused at first and opted for `instance.container`, which then sp

[2016-05-27 21:23] mixonic commented on #12866
I think an instance owning itself would be a bit nonsensical

[2016-05-27 21:34] bryanaka commented on #12866
@mixonic I agree, with the caveat of how would we educate devs that the appInstance IS the owner and that you don't need to use `Ember.getOwner`?

This also may be an artifact of the "owner" concept being new and relatively undocumented.

[2016-05-28 18:26] locks commented on #13572
As far as I know, only `.peekAll` returns a live array.

[2016-05-28 19:19] pixelhandler commented on #13572
@spinlock99 this issue looks like a question rather than an Ember.js Bug. I'll close this out, but please do followup by reaching out to the ember community like you've done on discuss.emberjs.com also it would be good to reach out in the #-help channel of the embercommunity.slack.com chat room.

I took a look at your code on discuss, it looks like you're returning an RSVP hash from the model hook

[2016-05-28 19:19] #13572 closed

[2016-05-28 19:39] pixelhandler commented on #13537
@mguterl I took a look at your Ember Twiddle in Safari and the `download` attribute is removed. But in Chrome it is not it's `null`.  I forked your twiddle and noticed the same issue with the `target` attribute. https://ember-twiddle.com/94d2a864f048ab08e8f5dbf59ea55f79?openFiles=components.my-component.js%2Ctemplates.components.my-component.hbs

[2016-05-28 19:51] pixelhandler commented on #13537
This issue duplicates: #12358

[2016-05-28 19:57] pixelhandler commented on #11485
Noticed that this is an issue in Chrome and Firefox but not Safari. (I only have a mac, didn't test PC)

[2016-05-29 10:21] devotox opened #13575 "How would you be able to use models with same attribute names and the router"
[code]

the :slug dynamic parameter always uses the first slug rather than the one from the next model

[2016-05-29 16:15] locks commented on #13575
Hi @devotox, thank you for your feedback, but this kind of question is more suitable for the #-help channel in our Slack group, or as a Stack Overflow question.
See https://github.com/emberjs/guides/commit/461921dea10524f3fa63d662fbd50015a0240f6e and the related issue it fixes.

[2016-05-29 16:15] #13575 closed

[2016-05-29 23:35] MiguelMadero commented on #13469
The issue seems to be that the `selection` and `value` properties aren't raising propery change notifications since they are setup a bit earlier in the view's lifecycle than what they did in previous versions like 1.12. We worked around it using the following code from an initializer:

[code]

Hope this helps.

[2016-05-30 07:29] krisselden opened #13576 "ICMiss in KeyedICLoad in Chrome taking more time than executing JS"
This is a bit of a quest issue with more details to be added, I just wanted to start a tracking issue.

[2016-05-30 07:31] krisselden commented on #13576
https://github.com/emberjs/ember.js/pull/13219

[2016-05-30 17:33] pixelhandler commented on #13538
@MiguelMadero We're in the process of closing out issue for v1.13 as unsupported. I'll close this out for now.

[2016-05-30 17:33] #13538 closed

[2016-05-30 17:38] pixelhandler commented on #13469
@MiguelMadero thanks for posting the `didRender` method to use `notifyPropertyChange` This seems like a viable way to work around.

As @Serabe mentioned v1.13 no longer has any planned patch releases, so it's unsupported at this point.

[2016-05-30 17:38] #13469 closed

[2016-05-30 18:05] MiguelMadero commented on #13538
Sounds good. If anyone cared, they could always use at their own risk the zenfits version of 1.13 with a bunch of fixes or cherry-pick the patch ^^.

[2016-05-30 23:27] charuag opened #13578 "Can we dynamically set environment config variables in ember from a parent application?"
I'm loading my ember app via an iframe from a parent application and sending config variables via postMessage to my ember app. Can I set those config variables received via window eventlistener receiveMessage to ember environment variables?

[2016-05-31 15:25] pixelhandler commented on #13578
@charuag that's a good question. Have you asked in the Ember chat at embercommunity.slack.com in the #-help channel yet?

[2016-05-31 15:48] charuag commented on #13578
Yup! I've already asked this question on help channel. But never received any reply. Can you point me in right direction to help me out with this.

[2016-05-31 15:57] pixelhandler commented on #13578
@charuag Since this is not a bug report for the Ember.js project I need to close out this issue. I also asked for help in the chatroom (in reference to this issue/question).

[2016-05-31 15:57] #13578 closed

[2016-05-31 16:04] pixelhandler commented on #13578
@charuag I posted some ideas in the #-help channel on slack

[2016-05-31 16:07] charuag commented on #13578
Great! I'll check out the slack channel. Thanks @pixelhandler

[2016-05-31 17:51] spinlock99 commented on #13572
@pixelhandler, thanks for the reply. You are correct, I"m not returning the call from `store.query`. That call is used to fetch new records from the API. The idea is that I show the data already in `EmberData` then update the data when the API call returns. The reason I think this is a bug is here:

![screen shot 2016-05-20 at 11 23 39 am](https://cloud.githubusercontent.com/assets/453431/15684307

[2016-05-31 21:52] spinlock99 commented on #13572
@pixelhandler, here's a fresh repo that demonstrates the issue: https://github.com/spinlock99/ember-caching-issue.

The application template iterates over `filteredTasks` returned from the route's model hook and a computed property in the controller (I've used a mixin so that these are created with exactly the same logic). After the `findAll()` call returns, 10 new records are created in the store

[2016-06-01 15:14] jelhan commented on #12080
Investigated a little bit when this bug occurs since I had to write a test if a work-a-round handles the bug correctly. Had confusing results: https://ember-twiddle.com/9319ab95eb9e1d33c7bdae19d57ccd66?openFiles=templates.application.hbs%2Ctemplates.components.parent-component.hbs

[2016-06-01 16:43] #13176 closed

[2016-06-01 20:58] aquamme commented on #13558
I understand it's a feature/quirk of the language, however, it seems asymmetric to me that the guides would point out the feature/quirk but not also warn of the potential complications in a test environment.

[2016-06-01 21:16] rohmann opened #13582 "Path reappended on refresh when using custom rootURL"
I'm seeing an issue where if I'm embedding an app by setting  `rootURL` on the router, that base path will be duplicated if I refresh after changing URL. This is specific to the `history` location type.

I've tested this on 2.6.0-beta4, but had issues testing it with Canary. [Here's a twiddle](https://ember-twiddle.com/3853e6816392fcebddcb4a117992823a?openFiles=router.js%2C) with the code that can

[2016-06-01 22:01] alexspeller opened #13583 "Should render helper be marked as deprecated?"
https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-routing-htmlbars/lib/keywords/render.js#L16 is not marked as deprecated - I was surprised to learn it even still existed actually. Should it be deprecated at this point?

[2016-06-02 03:40] ef4 commented on #13583
It is definitely a legacy from an earlier time. I doubt anyone will argue we want to keep it around.

It exists mostly because (1) we could only do so much in the run up to 2.0 and we prioritized shipping over completing the entire wishlist of changes, and (2) the volume of deprecations at that time was already very high and the tooling for managing them wasn't as good as it is today, so we delibe

[2016-06-02 03:49] rwjblue commented on #13583
Using `{{render 'foo' blah}}` (with two args) is already deprecated.  To deprecate the singleton use case, we will need to write a migration guide that shows how to use the combination of service and component.

[2016-06-02 07:23] yonjah opened #13586 "Loading substate and aborting transition"
When a lazy route request is rejected and the transition is aborted (wither explicitly by the user or automatically) the loading substate is not removed.
demo -
https://ember-twiddle.com/af5acf8f27cc56fee7216e588126a8d0

Since the UI has changed without changing any of the browsing history using `history.back` is irrelevant so it is extremely hard to navigate the user back to the original route he

[2016-06-02 13:52] Turbo87 commented on #13582
@rohmann this whole rootURL/baseURL thing has been overhauled in the current Ember CLI canary branch (see http://emberjs.com/blog/2016/04/28/baseURL.html). you should probably try if updating to the canary fixes things for you.

[2016-06-02 20:07] machty opened #13589 "inline `if`s shouldn't eagerly eval their inverse arg"
`{{if falsy (some-helper)}}` should not eval `some-helper`, but it does, which can be annoying when you want to check the presence of some property before passing it to a helper that'll barf if the prop is falsy.

https://ember-twiddle.com/b06224282690fe6e61c4d16f6fb05aa1?openFiles=controllers.application.js%2C

[2016-06-02 20:12] machty commented on #13589
Updated the twiddle to also include an example of a CP that also shouldn't be eagerly read.

[2016-06-02 20:16] chancancode commented on #13589
I believe the glimmer version does not have this problem, I can write a
test to verify

On Thu, Jun 2, 2016 at 1:12 PM Alex Matchneer <notifications@github.com>
wrote:

[2016-06-03 04:45] dbinetti commented on #13167
Having a slightly different problem, but might be related.  With...

[code]

I am trying to filter out certain scores as a `hasMany`, map those by the `points` field, and then `sum` those points.  However, if I leave one of those `scores` blank (or, even just enter into the field to change it) the `pointsSum` turns into a large, seemingly random number.  Do I need to use a complicated native `redu

[2016-06-03 05:37] arturkot opened #13591 "_array_ queryParam converted to _string_ after transitionTo"
Hi,

a demo: https://ember-twiddle.com/650b6fb3657bf037a40170f3b1e74b84

Steps to reproduce (here's a quick video: https://v.usetapes.com/V0vlZepqbw):

1. Use "My Route!" link.
2. Click either "Set array" or "Set all" to update the `array` parameter.
3. The `array` parameter is now a string (and should remain an array).

Notes:
* "my-route" route uses application controller `controllerName: 'appli

[2016-06-03 08:47] vzhukovsky commented on #10780
@xaqq Hi. Could you please provide an example of fix?( using jsbin or something else)

[2016-06-03 13:22] kanongil opened #13592 "Missing documentation for Transition objects"
`Transition` objects are used in various places as return values and arguments, and discussed in the guides using various method calls. However, this is not part of the compiled documentation.

I can only find some embedded documentation in an external project [here](https://github.com/tildeio/router.js/blob/master/lib/router/transition.js), which I assume applies?

[2016-06-03 13:25] rwjblue commented on #13592
Was fixed in https://github.com/emberjs/ember.js/pull/12211, which will be included in the 2.6.0 docs when they are published.

[2016-06-03 13:25] #13592 closed

[2016-06-03 14:58] batjaa opened #13593 "Regular expression [regex] defined in config converts into empty POJO."
Here's a repro https://github.com/batjaa/test-config-regex

As the title says, any regular expression [regex] that's defined in the config file gets converted into a POJO and is not possible to use from the application.

[2016-06-03 15:11] rwjblue opened #13594 "Registered template compilation plugins not used."
Source:

* https://github.com/emberjs/ember.js/blob/master/packages/ember-glimmer-template-compiler/lib/system/compile-options.js#L15-L16
* https://github.com/emberjs/ember.js/blob/master/packages/ember-htmlbars-template-compiler/lib/system/compile-options.js#L27-L28

In general, when calling `Ember.HTMLBars.compile` a `plugin` option is not required to be passed in `options`.  If user supplied pl

[2016-06-03 15:31] machty opened #13595 "Maybe add an assertion if you use a built-in as as block param name"
`{{#each logs as |log|}} {{log}} {{/each}}` won't print anything because `log` is a built-in and can't be used as a block param. `log` is admittedly the worst case where this could bite someone (no one's gonna make a block param called `if`) but might still be worth it to add an assert that don't use a built-in name as a block param name.

https://ember-twiddle.com/51195636eea97921cadbddf38ce961ba

[2016-06-03 16:28] knownasilya commented on #13470
Seems like it happens when Ember tries to notify the `[]` e.g. `items.[]` key.

[2016-06-03 16:31] knownasilya commented on #13470
@krisselden how could something teardown an observer? What would I look for?

[2016-06-03 16:50] krisselden commented on #13470
Generally this comes from something always running teardown in a code path where setup doesn't always happen.

[2016-06-03 16:51] krisselden commented on #13470
Which is why it is next to impossible for us to investigate without more info as to where the imbalance is coming from.

[2016-06-03 16:53] knownasilya commented on #13470
@krisselden I can give you access to my app, if that would help. I'm just not sure what I'm debugging..

[2016-06-03 23:27] ErikCH commented on #13583
I'd be interested in taking on some documentation. I found the deprecation guide for using a model in render [here](http://emberjs.com/deprecations/v2.x/#toc_model-param-in-code-render-code-helper).  I'm guessing the render deprecation guide would be about the same, although the render model deprecation doesn't mention using services just a component. It would probably make sense to use a service

[2016-06-04 14:16] mixonic commented on #13583
@ErikCH or anyone else who wants to champion this, please ping me I'm happy to review and help you move forward :-D

[2016-06-04 16:05] jcbvm opened #13597 "Debug statements in production"
I'm having an issue with debug statements coming from an ember addon in my production build.

I'm really sure my `environment` ran with `production`. The debug statements are coming from the ember addon `ember-simple-auth` and are declared like `Ember.Logger.debug`.

Are there any cases where debug statements are getting enabled again in production?

[2016-06-04 16:52] t-sauer opened #13598 "Property order on a component makes a difference if one property is a computed property with a setter"
When passing a property to a component that is a computed property, it seems to make a difference if one of the depending properties is passed to the component before or after in the template.

Here is a small reproduction of the problem: https://ember-twiddle.com/faa771fc0cdccac9ee217fea6a85c587?openFiles=templates.application.hbs%2Ctemplates.components.my-component.hbs

I actually don't know wha

[2016-06-04 18:50] Serabe commented on #13598
The setting of `foo` depends on the value of `bar`. That makes the component behave differently in both cases. I would not count this as a bug: you are relying on the order the parameters are passed to the components and that is bad design in my opinion.

If you want more help on the matter, I suggest trying the `#-help` channel in Slack.

[2016-06-04 18:50] #13598 closed

[2016-06-04 18:50] Serabe commented on #13598
I am closing this since it is not a bug in Ember. Please, add more information if you consider this is actually a bug.

[2016-06-04 21:33] #13594 closed

[2016-06-04 21:40] mixonic opened #13603 "Expose Ember.Test.checkWaiters as public API"
https://github.com/emberjs/ember.js/pull/13440 landed a big refactor of `Ember.Test`. Among the changes was to remove `Ember.Test.waiters` 💁  from the exposed API. `waiters` leaked the internal implementation of the waiter queue, and was not explicitly flagged as `@public`.

In updating `ember-test-helpers` @rwjblue and I found that `Ember.Test.waiters` is used by that library to support `wait()`

[2016-06-04 23:11] rwjblue commented on #13603
I am in favor of exposing the new `checkWaiters` implementation at `Ember.Test.checkWaiters`, and then adding `Ember.Test.waiters` back as an accessor with a deprecation.

[2016-06-05 02:28] mixonic commented on #13387
Closing per the documentation improvements in https://github.com/emberjs/ember.js/pull/13556

[2016-06-05 02:28] #13387 closed

[2016-06-05 09:42] t-sauer commented on #13598
Well that's the point: is it intended that parameter order can make a difference (as long as they are not positional parameters)?
If yes than it should go into the docs and if not than it should be handled in Ember in my opinion.

[2016-06-05 13:07] rwjblue commented on #13598
This isn't really an Ember issue though, if you do the same setup without Ember via JS accessors you would have the same order dependence issue.

[2016-06-05 13:21] jcbvm commented on #13258
Seems like 2.4.3 is also affected by this.

[2016-06-05 18:45] vomchik commented on #13591
Ember 2.5.1 has the some problem.

[2016-06-05 18:51] lolmaus commented on #13591
This issue has been mentioned here: https://github.com/emberjs/ember.js/pull/13273#issuecomment-214739521

[2016-06-05 20:18] batjaa opened #13607 "Ember router should only handle URLs that're only a nested under rootURL"
We're embedding our ember app in a legacy application, but when you transition from an ember route to a non-ember URL, Ember route throws `UnrecognizedUrlError`. Looks like when override the `location.onUpdateURL` event we should check if it's nested under rootURL.

https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-routing/lib/system/router.js#L176

[2016-06-05 20:53] erichonkanen commented on #11486
@heyjinkim I think your answer is effectively the same as doing `body > .ember-view {}`

[2016-06-06 01:03] rwjblue commented on #13607
I'm not really following how this is triggered here.  Is the legacy application another single page app that you are transitioning between?  If not, then the page refresh should void any `onUpdateURL` that we setup anyways...

[2016-06-06 01:13] batjaa commented on #13607
Yes, the legacy application is SPA. When it pushes a new state to history I think `popstate` triggers the `onUpdateURL` callback.

[2016-06-06 02:30] ErikCH commented on #13583
@mixonic Great! Let me know what I should do going forward? Is it just the change to the deprecation guide? What needs to be updated for the rest of the deprecation?

[2016-06-06 06:41] topaxi commented on #11486
@erichonkanen This may conflict with some addons, which append components into the `body`.

I ran into this issue myself and I am using the following selector: `body > .ember-view:first-of-type`

[2016-06-06 12:33] Serabe commented on #13597
Confirmed. It does not only happens with messages from addons, but coming from the app as well.

In the bower component, ember.prod.js has actual methods in `Logger` instead of no-ops.

[2016-06-06 12:59] rwjblue commented on #13597
Logger statements are not intended to be stripped or noops. If you want that you would need to use Ember.debug / Ember.warn / Ember.info. Ember.Logger is largely a polyfill from the dark ages when we couldn't rely on console methods to exist or function properly.

[2016-06-06 14:08] herom commented on #13597
Perhaps you could use `ember-cli-groundskeeper` to be sure that your `Logger` statements are stripped out of production code?

[2016-06-06 14:47] mixonic commented on #13583
@ErikCH the steps are going to be something like:

* [ ] Add the deprecation of `{{render 'foo'}}` in a PR.
  * [ ] This will likely be a new plugin ala the one for `{{render 'foo' someModel}}`: https://github.com/emberjs/ember.js/blob/master/packages/ember-template-compiler/lib/plugins/deprecate-render-model.js Note that the old deprecation should be unaffected by the addition of the new one.
  *

[2016-06-06 14:56] mixonic commented on #13597
As this is not a bug, I'm closing it. Please feel free to re-open if we have missed something!

I am going to follow up on @Serabe's ticket and try to get a direction for normalizing the logging API options. They are indeed a mess (Logger should be deprecated, `info` and friends are private and it is unclear if they should become public).

[2016-06-06 14:56] #13597 closed

[2016-06-06 16:14] spinlock99 opened #13610 "Computed Property Returned from Model Hook Out of Sync"
I've created an example of this issue here: https://github.com/spinlock99/ember-caching-issue

Description: the example shows that a computed property returned from the route's model hook does not stay in sync with the same computed property defined on the controller.

Expected Behavior: a computed property returned from the route's model hook is expected to update based on changes made to Ember D

[2016-06-06 16:24] mattcoker commented on #10557
@Nav4e My only workaround at the moment is to hardcode a transition to a specific route on login:

    actions: {
      authenticate: function() {
        let credentials = this.getProperties('identification', 'password');
        this.get('session').authenticate('authenticator:custom', credentials).then(() => {
          this.set('errorMessage', null);
          this.transitionToRoute('targetRout

[2016-06-06 17:42] thedig opened #13611 "Does is-active-route or equivalent helper exist?"
Hi there,

Curious if there's already a helper in the works to check if something is the current route name?  Currently using the following solution local to my application:

[code]

CC @taras

Best,
.dig

[2016-06-06 17:46] mixonic commented on #13611
@thedig there is a proposal here to formalize the service: https://github.com/emberjs/rfcs/pull/95 but there is no public API proposed for a helper at this time.

Closing as this doesn't appear to be a bug- if there are comments regarding the addition of a new feature please see the RFCs repo! https://github.com/emberjs/rfcs

Thanks @thedig

[2016-06-06 17:46] #13611 closed

[2016-06-06 17:49] jcbvm commented on #13597
Thanks all, missed the thing that `Ember.Logger.debug` is something different than Ember.debug. Will ask the author of `ember-simple-auth` to replace it with `Ember.debug`.

[2016-06-06 18:08] btecu commented on #13610
I think `computed` is working properly.
When using computed properties, you have to pass property dependencies if you expect it to update.

`tasks: Ember.computed(function () { this.store.peekAll('task'); })` doesn't make much sense. I'd say this is probably not the Ember way.

[2016-06-06 18:15] rwjblue commented on #13597
There is still some discussion here though, since Ember.debug / Ember.info / etc are currently marked as private.

[2016-06-06 20:37] eguitarz opened #13612 "Unable to transition to child route with mapped query parameters"
Ember Twiddle: https://ember-twiddle.com/165676557d943e5cfa690261c6342c4d?openFiles=twiddle.json%2C

I have a parent and a nested child route, child route is fed with a query parameter. It works fine if I don't alias query parameter in child controller, but it raises exception if I mapped the query parameter into other name.

Which gave me an exception

I have only one controller property map to q

[2016-06-06 22:48] xomaczar commented on #13610
peekAll returns a live updating array - so anytime you push or createRecord your live array will change.
FYI: I don't think this is the right place to ask this type of question, stackoverflow/slack is a better medium for that.

[2016-06-07 00:13] spinlock99 commented on #13610
This is a bug report showing that a computed property returned from a route's model hook behaves differently from _the same_ computed property in a controller.

If Ember truly is supposed to treat a computed property _differently_ based on if it is returned from a route's model hook vs living in a controller then please close this bug report. However, this is not a question, this is an example of

[2016-06-07 00:30] spinlock99 commented on #13610
@btecu please see https://github.com/ember-data/ember-data-live-filter-by#i-dont-want-to-use-this-addon-are-there-alternatives.

[2016-06-07 01:16] btecu commented on #13610
@spinlock99 I still don't think the issue is computed.

In your route, add `tasks: Ember.computed.alias('filteredTasks'),` and update your template to use `tasks` instead of `model`.

[2016-06-07 01:24] pixelhandler commented on #13258
@jcbvm I've only seen the issue affecting versions 2.4.4 and 2.4.5, rolling back to 2.4.3 was my workaround.

[2016-06-07 01:29] pixelhandler commented on #13258
Perhaps this issue can be closed not that v2.4.6 has been cut, see: https://github.com/emberjs/ember.js/pull/13600

[2016-06-07 16:47] spinlock99 commented on #13610
Thanks for taking a look at this issue @btecu. Unfortunately,  `tasks` is already defined on the route because it's in the mixin that is shared between the route and the controller. So, creating a computed alias named `tasks` on the route results in a circular reference and stack overflow:

![screen shot 2016-06-07 at 9 40 59 am](https://cloud.githubusercontent.com/assets/453431/15866564/0b2ff2c0-

[2016-06-07 21:58] batjaa commented on #13607
Bump

[2016-06-07 23:34] forgetboy opened #13620 "Why is 'reopen' a private method in Ember.Mixin.prototype"
I don't understand why '[reopen](https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-metal/lib/mixin.js#L543)' is private in [Ember.Mixin](https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-metal/lib/mixin.js#L484). If there are good reason/s, I would like to understand them and add to the docs. If there aren't good reasons, I would like to change the method to being public.

[2016-06-08 09:19] Turbo87 opened #13622 "Confusing warning message for computed.mapBy('foo', 'bar.baz')"
When using a computed property like `computed.mapBy('foo', 'bar.baz')` I'm getting the following warning:

It took me quite a while to figure out that the `mapBy` is actually the problem and using `@each` under the hood. It might be worth it to throw a more descriptive warning if `mapBy` is used improperly (i.e. with a nested path).

[2016-06-08 11:33] rwjblue commented on #13622
Agreed

[2016-06-09 04:27] forgetboy commented on #13620
Thanks for updating @locks

[2016-06-09 08:40] cibernox opened #13627 "[Beta regression] `this.elementId` is null in tagless component"
In 2.6, `this.elementId` called from within a tagless component returned something like `ember123`.
In 2.7 the same call in 2.7.0-beta.0 returns `null`.

Intended or a regression?

[2016-06-09 12:46] rwjblue commented on #13627
Well, it seems unintentional, but the new behavior does seem logical. Why would something without an element have an elementId? Why do extra work to calculate an elementId when it isn't going to be used?

Is this a large issue for your addons?

[2016-06-09 13:01] cibernox commented on #13627
Not a big deal, it is an easy fix.
I just needed a unique identifier from which derive ids for the trigger and the content so I can relate them (since the content may be rendered in the root of the page, A11y requires some hint).
I could just as easy generate an autoincremental number myself, but since I had `this.elementId` I was using it, assuming that it was an identifier for the component, reg

[2016-06-09 13:05] rwjblue commented on #13627
Thank you for reporting.

I will check with others to see if we should bring it back or try and do a deprecation. I'm unsure how big of an issue it is for others though...

[2016-06-09 14:58] cibernox opened #13628 "[Beta regression] attributeBindings bound to booleans act as properties instead of attributes"
In a component that binds the `disabled` attribute to an `aria-disabled` attribute like this

[code]

In 2.6 it generated `<div aria-disabled="true / false"></div>` and in 2.7-beta.1 generates `<div aria-disabled></div>` (or just `<div></div>` when false).

Wether or not this is a fix of wrong behaviour or a not, I'm not sure, but is certainly different.

[2016-06-09 15:01] rwjblue commented on #13628
Thank you for reporting.

@krisselden / @mixonic - Thoughts?

[2016-06-09 15:02] krisselden commented on #13628
This is a bugfix, it makes it align to the props first behavior when the fallback is taken.  When it takes the prop first route it does not generate the above.

[2016-06-09 15:07] krisselden commented on #13628
@rwblue this was motivated by the fact that when you actually test the output which was not tested before you cannot get the test to pass in IE and in Edge + plus all other browsers when the prop is there. Also SSR won't match prop first output.

[2016-06-09 15:08] cibernox commented on #13628
In the case of `aria-*`, I'm not sure if they are properties or attributes.
In the case that they are properties that would be the right approach? Create N computed properties that basically do (`function() { return String(this.get('required')) }`)? Very verbose.

Given that the feature is named `attributeBindings` i'd expect those to be treated as attributes, and maybe have a `propertiesBinding`

[2016-06-09 16:59] rwjblue commented on #13494
This was introduced by https://github.com/emberjs/ember.js/commit/869ed3084eb10ba32c8148fbc08c222b544eead1#diff-7d2b815a163f3a57292f65c26e98c051R56.  When no block is passed, there is no `state.manager.block`.

The first step would be to submit a failing test PR (and also adding a test for a tagless blockless component using local lookup).  The fix *might* be as simple as guarding there, but I sus

[2016-06-09 17:14] pixelhandler commented on #13628
@cibernox @krisselden this may be related too #13537

[2016-06-09 18:59] swastik commented on #13622
I took a shot at this [here](https://github.com/emberjs/ember.js/pull/13629).

I wasn't too sure what to tag the commit—it isn't a new feature, not a bugfix; it's likely enhanced documentation, but I wasn't sure—so I've left it untagged.

I've also added a test. Let me know if I should change anything! :smiley:

[2016-06-09 20:50] luketheobscure opened #13630 "Using `deprecatingAlias` triggers additional deprecation warnings when used as instructed"
Using `deprecatingAlias` [as instructed by the docs](http://emberjs.com/api/classes/Ember.computed.html#method_deprecatingAlias) triggers additional deprecation warnings. In order to use it without triggering additional deprecation warnings, you have to pass in an object with an id and an until property:

`oldAndBusted: computed.deprecatingAlias('newHotness', { id: 'foo', until: '1.42' });`

Docum

[2016-06-09 21:10] rwjblue commented on #13630
Would love a PR updating.

[2016-06-09 21:52] CarlosV89 commented on #11358
Was this ever discussed? I can't help but agree, I feel that by having to route in an action called by the button just because I want to add data-attributes to add functionality such as bootstrap's simple tooltips i'm doing something really dumb. Am I in fact being really dumb and should do this another way?

[2016-06-09 22:17] Serabe commented on #13536
@jordyvandomselaar can you please provide use with some code to reproduce the problem? Thank you!

[2016-06-09 22:18] cibernox commented on #13628
Just some insights extracted from a loooooong discussion about this topic in slack.

While in properties, the distinction between attribute and property is irrelevant. p.e. `<iinput required="true">` and `<input required>` and even `<input required="false" >` both all required fields because the sole presence of the property is an indicator, in attributes that is not the case.

The only examples I

[2016-06-09 22:40] Serabe commented on #13593
Thank you @batjaa for this report (and thank you for your PR #13609 too!). App configuration is serialized in JSON format, so you cannot add a regexp to it as is. If you are not using flags, you can just use the string and then build a RegExp. If you are using flags, you can serialize it as an object like:

[code]

And then create the RegExp.

I am closing this since it is not a bug.

Thank you fo

[2016-06-09 22:40] #13593 closed

[2016-06-10 00:01] asakusuma commented on #13494
Now that we have a simple repro I'll work on fixing this

[2016-06-10 00:04] rwjblue commented on #13494
Thanks @asakusuma

[2016-06-10 00:06] rwjblue commented on #13494
I believe this applies to 2.6.0, so it will likely warrant a point release once fixed.

[2016-06-10 00:11] rwjblue commented on #13628
Thanks for the summary @cibernox. I discussed a solution for aria-* attributes with @krisselden this afternoon and will take a stab at a solution tonight/tomorrow morning.

[2016-06-10 03:05] JennieJi commented on #11741
+1 what I want is just add a class name binding related to hasBlock property since your document mentioned about this property http://emberjs.com/api/classes/Ember.Component.html#property_hasBlock, and you didn't say it can only be used in template at all.

[2016-06-10 05:16] ef4 opened #13635 "Inconsistent DOM between fastboot and in-browser rendering"
This HTML:

[code]

is interpreted differently by Ember and browsers. Ember always requires balanced tags, so it doesn't implement tag omission, so the template results in a single paragraph containing a single div.

But browsers will generate DOM like:

[code]

because of [tag omission](https://html.spec.whatwg.org/#the-p-element):

This hasn't been a problem in the past, because Ember templates

[2016-06-10 05:17] chadhietala opened #13636 "[Glimmer 2] Create {{render}} helper"

[2016-06-10 09:11] GiovanniL19 opened #13637 "Second attempt at finding records returns nothing with same queries"
When running the following code for the first time it returns the correct number of records from the API and stores the results in the recentSyncedReadings property:

[code]

However when executing this function for the second time with the exact same queries, it will return 0 records according to ember. However in the network request it returns from the API the correct number of records in an arr

[2016-06-10 10:00] GiovanniL19 commented on #13637
Turns out the records were being deleted, it seems to be working alright now. Wasn't an ember bug!

[2016-06-10 10:00] #13637 closed

[2016-06-10 10:54] #13630 closed

[2016-06-10 11:07] eglenfield opened #13639 "findWithAssert() and find() both have undocumented params"
*Link to PR opened for docs*:  #13641 (This does not cover changing the link to the methods themselves)

Looking at http://emberjs.com/api/classes/Ember.Test.html#method_findWithAssert and noticed that the `context` param isn't included in the docs, and it's not included in the `find()` documentation either. Also the link to the code itself is wrong, it takes you here: https://github.com/emberjs/e

[2016-06-10 16:48] pixelhandler commented on #13582
@rohmann I've been only using `baseURL` for hosting an Ember app in a specific directory, but when I do that I also use root relative paths to the assets by hardcoding that base url in the index.html file as well. Plus any paths in .css files for images, etc.

[2016-06-10 16:54] pixelhandler commented on #13536
@jordyvandomselaar I don't think this is an ember bug rather a support related question. As @acorncom mentioned the community is happy to help via slack, forums and Stack Overflow too.

I'll close this issue, if it persists for you and you can share a reproducible code example then perhaps reopen it.

[2016-06-10 16:54] #13536 closed

[2016-06-10 16:55] pixelhandler commented on #11291
@chancancode is this still something that you're working on?

[2016-06-10 17:13] acorncom commented on #13591
@arturkot Further background can be found https://github.com/emberjs/ember.js/pull/13600  Your issue should be resolved with 2.4.6 (as the changes that were the issue were reverted).

For Ember 2.5+ I'm unclear on whether this issue continues to be a problem or not in the latest versions.

I'll close this issue for now

[2016-06-10 17:13] #13591 closed

[2016-06-10 17:16] acorncom commented on #13607
@batjaa Could you make up a reproduction of your issue on Twiddle (or possibly a Github repo if it's hard to trigger on Twiddle)?  This is going to be hard for people to help with without it ...

[2016-06-10 17:18] chadhietala opened #13644 "Glimmer Pre-flight Checklist"
![You're closer than you think](http://www.nasa.gov/sites/default/files/styles/ubernode_alt_horiz/public/11572307115_1194957269_o_0.jpg "You're closing in")

Below is the pre-flight checklist to launch Glimmer. If you are going to take a test to fix please leave a comment on this thread. Please mention this issue in your PR so we can track more effectively.

## Features
- [x] `{{render}}`
- [x] `s

[2016-06-10 17:20] acorncom commented on #13612
There have been regressions with query params since Ember 2.4.3 (more details here: https://github.com/emberjs/ember.js/pull/13600).  Would you check to see if your issue is resolved by shifting back to 2.4.3 or moving to 2.4.6 as mentioned here? https://github.com/emberjs/ember.js/issues/13258#issuecomment-224136445

A more permanent fix is in the works here: https://github.com/emberjs/ember.js/p

[2016-06-10 17:21] acorncom commented on #13612
I'll close this for now, but please ask to re-open if you're running into something different

[2016-06-10 17:29] pixelhandler commented on #13258
I'll close this out since 2.4.6 fixes the issue by reverting

[2016-06-10 17:29] #13258 closed

[2016-06-10 17:59] mscarchilli opened #13646 "Application.hbs template not generated with ember-cli 2.6.0"
When using ember-cli to create a new project, it is not generating an application.hbs file anywhere. I have been trying to follow the tutorial on the site, and it doesn't say the user should generated this file. I generated new projects multiple times and the application.hbs file is always missing. No errors during the build. I have tried the build both as non-admin and as admin in the cli.

Comma

[2016-06-10 18:04] knownasilya commented on #13470
So I think I've nailed it down, but having a hard time reproducing.

Seems like it only happens if have a certain computed array is in the template..

[code]

[code]

If I remove the `savedThemes` array (if I even have `{{log savedThemes}}` it errors), it works.

[2016-06-10 18:10] Dynasty9 commented on #11486
I've got the pod structure but it should be the same for you guys, Under pods/application/view.js, I have Ember.Component.extend instead of Ember.View.extend. It looks like this:
[code]

[2016-06-10 18:18] arturkot commented on #13591
Big thanks for looking into that!

[2016-06-10 18:21] pixelhandler commented on #13610
@spinlock99 I have not come across any documentation that recommends returning a computed property from a model hook. Typically a promise that resolves with (an array or object) the model(s) is returned from the model hook. When defering the promise resolution and returning an object with a one or more promises assigned to a property of the object you may use a computed property in your controller

[2016-06-10 18:23] pixelhandler commented on #13646
@mscarchilli perhaps this should be raised as a question in the slack chat room #-ember-cli

[2016-06-10 18:26] pixelhandler commented on #13646
@mscarchilli See the diff for ember-cli 2.6.0 at https://github.com/ember-cli/ember-new-output/compare/v2.5.1...v2.6.0 the application template was removed, perhaps in favor of using `ember-welcome-page`

[2016-06-10 18:26] #13646 closed

[2016-06-10 18:28] mscarchilli commented on #13646
Will definitely check that out. Thank you.

They might want to update their webpage docs to let people know so they don't sit staring at the computer scratching their head like a monkey... like I was doing. :)

[2016-06-10 18:30] acorncom commented on #13646
@mscarchilli We realized docs were out of date in that one area in the last few days.  Would you mind sending in a PR to help fix it?  We don't want folks stuck.  We'll be updating the tutorial here later today, so if you've got time, your fix should go in in short order ...

[2016-06-10 18:30] acorncom commented on #13646
The short fix is to do a `ember g template application` and you'll then have the file you need ...

[2016-06-10 18:34] pixelhandler commented on #13589
@chancancode should this issue be labelled "Glimmer 2" if the resolution is for that to land?

[2016-06-10 18:41] chancancode commented on #13589
Hmm, this probably needs to have the opposite of that tag (htmlbars/glimmer
1).

There is no reason why this cannot be fixed on the current implementation -
if this is urgent and someone has the cycles and know-how to fix it, I
think we would accept that patch. On the other hand, if this is still open
by the time we land glimmer 2, we can just close it since that issue
doesn't exist there.
On Fri,

[2016-06-10 18:47] knownasilya commented on #13470
@krisselden Ok, I have something. The error is different but it's caused the same way (CP present).

https://github.com/knownasilya/notify-error

To get the error to appear click 'Approve' on the first comment.
If you remove `approvedComments` from `app/templates/application.hbs` the error goes away.

I think it has to do with the fact that I'm using an ObjectProxyPromise as my service..

[2016-06-10 19:03] jsturgis commented on #10945
Should this be re-opened because of #13600?

[2016-06-10 20:15] rwjblue commented on #13644
Thanks for putting this together @chadhietala

[2016-06-10 20:16] pixelhandler commented on #13586
@yonjah If I have to cancel a transition I typically store the page the user is on in local/session storage. then use [intermediateTransitionTo](http://emberjs.com/api/classes/Ember.Route.html#method_intermediateTransitionTo) to re-route the user to where they left off.

I don't this is a bug in Ember it's just the nature of what an app should do when a transition is aborted. If the app does nothi

[2016-06-10 20:35] lan0 commented on #13263
Closing because of #13600

[2016-06-10 20:35] #13263 closed

[2016-06-10 21:47] rohmann commented on #13582
Thanks @Turbo87 I created a brand new app from canary and can't reproduce the issue.

[2016-06-10 21:47] #13582 closed

[2016-06-10 23:02] eguitarz commented on #13612
@acorncom I tried on both 2.4.3 and 2.4.6 both are not working (and same error message). Seems this bug was lurking for a while. It was not working on 2.3.2 as well. This probably not related to the regression. Do you think it worth to re-open?

[2016-06-10 23:13] chadhietala commented on #13636
Part of #13644

[2016-06-10 23:13] #13636 closed

[2016-06-10 23:22] spinlock99 commented on #13610
I started off with routes that looked like this (take from the (guide)[https://guides.emberjs.com/v2.6.0/routing/specifying-a-routes-model/]):

[code]

But, this makes the user wait for the round-trip to the server every time they visit the route. So, I'm checking the store to see if there are any records to show the user and, if there's a cache hit, I'll return a filtered array so that the user s

[2016-06-11 00:17] rwjblue commented on #13589
Agreed.  Definitely welcome a patch, but that seems unlike at this point (though I'm happy to be wrong here).

I'm inclined to close now....

[2016-06-11 00:17] #13589 closed

[2016-06-11 01:40] workmanw commented on #10945
Actually I think so. @rwjblue would you mind, I can't seem to reopen this issue because you closed it originally. :)

[2016-06-11 01:50] rwjblue commented on #10945
Well, I'm not sure. I only reverted in 2.4, not 2.5+.

[2016-06-11 01:51] workmanw commented on #10945
Oh, my mistake. If that's true, then no. Let me just test it with 2.5 and 2.6 real quick and I'll tell you.

[2016-06-11 01:54] rwjblue commented on #10945
I want to land @raytiley's fixing PR for 2.7, but it seemed too trolling to leave the other regressions in the LTS...

[2016-06-11 01:54] workmanw commented on #10945
@rwjblue @jsturgis Yeap, I think this can remained closed. This bug is fixed by 2.5 and also in 2.6.

Ember 2.5 demo: http://output.jsbin.com/kijomefuhi/1#/post/1/comments?search=awesome
Ember 2.6 demo: http://output.jsbin.com/rihojevopa#/post/1/comments?search=awesome

False alarm!

[2016-06-11 02:08] batjaa commented on #13607
https://github.com/batjaa/ember-root-url-test

Created this repo for reproduction. It's a little bit vague but I hope you get the idea.

The main app (index.html) is a SPA that talks to the browser history API. Assuming some action has triggered the `popstate` event while transition to a URL from the parent app when you have the ember app embedded and it's running. You can it throws an exception t

[2016-06-11 02:21] yonjah commented on #13586
@pixelhandler  please notice I don't try to cancel the transition. the transition fails.
I think there are actually two bugs in the way the transition is handled -

1. when loading fails the loading substate should be terminated (stop displaying the loading indicator)

2. changing route should change the URL and history state of the browser, I can understand why Ember doesn't want the loading subs

[2016-06-11 04:02] #10945 closed

[2016-06-11 05:09] jsturgisRN commented on #10945
Thanks for looking at this so quickly, the Ember community is the best.

[2016-06-11 19:30] denchen opened #13651 ""possible EventEmitter memory leak detected" issue"
Whenever I start Ember (2.5.0), I get an EventEmitter memory leak. It doesn't seem to affect anything, but I'm wondering if there's something I can do to get rid of the error

    % ember serve
    (node) warning: possible EventEmitter memory leak detected. 11 exit listeners added. Use
    emitter.setMaxListeners() to increase limit.
    Trace
        at process.addListener (events.js:239:17)

[2016-06-11 22:26] #13651 closed

[2016-06-11 22:27] stefanpenner commented on #13651
This isn't an issue with ember, ember-cli maybe. But looking at the stack trace it would be can-symlink or maybe broccoli-merge-trees?

[2016-06-12 00:10] rwjblue commented on #13127
Thank you all for the hard work here!  Closing this in favor of an updated listing/issue: #13644.

[2016-06-12 00:10] #13127 closed

[2016-06-12 14:28] sergproua opened #13654 "controller action returning a promise does not bubble up"
I have a basic controller and a route both have action submit, I'm trying to keep validation of the model inside component/controller and transitions in route action.
[code]
I've solved this by calling ```this.send('submitRoute');``` from a controller, note that using the same action name causes infinite loop. Is there a better pattern to accomplish this?

Thanks,
Serge

[2016-06-13 10:53] Serabe commented on #13654
Hello, Serge. I am closing this since it is not an Emberjs bug. Please, go to #-help channel on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

For this, I would use a mix of [closure actions](http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_action) and the [ember-route-action-helper](https://github.com/DockYard/ember-rout

[2016-06-13 10:53] #13654 closed

[2016-06-13 12:19] cbou opened #13661 "EmberJS does not work with jQuery 3.0"
`jQuery.event.fixHooks` was removed in jQuery 3.0

https://jquery.com/upgrade-guide/3.0/#breaking-change-jquery-event-props-and-jquery-event-fixhooks-removed

https://github.com/emberjs/ember.js/blob/f6bad3dad476f952d79c3386bf9f7be12b075380/packages/ember-views/lib/system/jquery.js#L23

[2016-06-13 12:31] locks commented on #11358
@CarlosV89 https://github.com/emberjs/ember.js/issues/11358#issuecomment-109446594

[2016-06-13 12:54] smitakiran25 opened #13662 "Ember Data Request GET /cases returned"
I am using ember cli 2.6 version
OS: fedora 20
npm:3.9.2
bower version: 1.7.9

I am getting the following error
ember.debug.js:31387 Error: Ember Data Request GET /cases returned a 404
Payload (text/html; charset=utf-8)
Cannot GET /cases

    at new Error (native)
    at Error.EmberError (http://localhost:4200/assets/vendor.js:25183:21)
    at Error.AdapterError (http://localhost:4200/assets/vendo

[2016-06-13 14:00] Gaurav0 commented on #13662
Can you create an (ember-twiddle)[https://ember-twiddle.com] ?

[2016-06-13 14:31] DanChadwick commented on #13662
@smitakiran25 - You asked for your backend the retrieve all the cases with
[code]
And your backend returned a 404 (resource not found). Is there are reason you aren't looking at your backend to see why it is returning a 404? I'm not sure why this is an ember.js issue. Can you elaborate?

[2016-06-13 15:50] pixelhandler commented on #13610
@spinlock99 Perhaps ask in the slack #-help channel to so how others have solved this idea of returning what data is available immediately, rendering while fetching then re-rendering if there is more data found on the server. My inital thoughts are that you'd need to return an object from the model hook with two properties `{existing: [], fetched: []}` then in your template could use `{{#if fetche

[2016-06-13 16:08] ForSpareParts commented on #13494
If anybody else is having this problem, a temporary workaround is to add a tag to your tagless component until the point release lands.

[2016-06-13 22:45] forgetboy commented on #13620
Just a gentle reminder. Would appreciate some feedback on this. Thanks.

[2016-06-14 01:46] spinlock99 commented on #13610
I'd love to be able to make the assumption that the data on the server won't change unless it's mutated by the client but the concurrency model I'm dealing with is more complex than that. Both other users and automated jobs are updating the application state so etags or 304s just aren't going to cut it.

Anyway, the point isn't that it's impossible -- or even difficult -- to figure out a workaroun

[2016-06-14 01:55] workmanw commented on #13603
Yeap. This definitely is responsible for the remaining test failures we're seeing with ember-2.7.0-beta.1.

[2016-06-14 02:00] rwjblue commented on #13603
@workmanw - How so?  You were using `Ember.Test.waiters` directly?

[2016-06-14 02:07] workmanw commented on #13603
@rwjblue No. And perhaps I misunderstood and it's a slightly different issue that needs filed. But in my **integration** test, when I call `wait()` it doesn't actually wait on the registered waiters anymore.

So on first look I thought it was related to ember-test-helpers (and it might still be). But this line here: https://github.com/switchfly/ember-test-helpers/blob/v0.5.23/lib/ember-test-helper

[2016-06-14 02:14] rwjblue commented on #13603
This is most likely due to https://github.com/switchfly/ember-test-helpers/issues/161#issuecomment-225647264.  Using ember-test-helpers < 0.5.26 with Ember 2.7.0-beta.1 will not be able to wait for `Ember.Test.waiters` (it was fixed with https://github.com/switchfly/ember-test-helpers/commit/965b1541302feec0200cbe54fff0d7ba1cfdab7c).  I'll try to get https://github.com/switchfly/ember-test-helpers

[2016-06-14 02:19] workmanw commented on #13603
@rwjblue So looking more closely it does seem this is related to: #13440. Because the `Ember.Testing.waiters` is no longer exposed. It seems like you accounted for this change here: https://github.com/switchfly/ember-test-helpers/commit/965b1541302feec0200cbe54fff0d7ba1cfdab7c, but that unfortunately creates a version incompatibility between `ember-test-helpers: 0.5.23` and `ember: 2.7.0-beta.1`.

[2016-06-14 02:26] rwjblue commented on #13603
Yep. We'll get it squared away. I'll try to poke at this more first thing tomorrow morning.

[2016-06-14 02:31] workmanw commented on #13603
Happy to help do any of the leg work here. Let me know if there is something I can dive into.

[2016-06-14 08:51] psteininger opened #13664 "Ember.computed.uniqBy not accessible in v2.6.0 but documented"
Per Ember documentation: http://emberjs.com/api/classes/Ember.computed.html#method_uniqBy, `Ember.computed.uniqBy` should be available. However, it is still made unavailable by this logic:
[code]
in ember-runtime.js. It is also not possible to enable this feature in the release build either. It should be either enabled (or allowed to be enabled) OR removed from documentation.

[2016-06-14 12:03] Serabe commented on #13610
It does not fail. It is not a bug. I already answered the question in [discuss](http://discuss.emberjs.com/t/how-can-i-bind-data-returned-from-the-model-hook-to-the-template/10730/5?u=serabe) but let me try again.

When the user hits a route in any of [the ways explained in the guides](https://guides.emberjs.com/v2.6.0/routing/), Ember follows the route lifecycle which includes three hooks directl

[2016-06-14 12:06] Serabe commented on #13610
I am closing this since it is not a bug in Ember. Please, if you consider that guides should explain these concepts better than they already do or you miss any explanation there, open an issue in emberjs/guides or, even better, a PR with such changes.

[2016-06-14 12:06] #13610 closed

[2016-06-14 12:11] Serabe commented on #13664
`Ember.computed.uniqBy` is introduced in Ember 2.7 beta as of [the announcement post](http://emberjs.com/blog/2016/06/08/ember-2-6-and-2-7-beta-released.html). If any, the documentation should be updated to reflect so.

[2016-06-14 13:36] lolmaus commented on #13591
@acorncom

Quoting @Sinled from https://github.com/emberjs/ember.js/pull/13273#issuecomment-225882046 :

[2016-06-14 18:59] spinlock99 commented on #13610
@serabe, thanks for taking the time to look at this issue.

Sorry to be such a pain about this but I want to make sure that we're on the same page. Let's ignore Ember Data for the moment because I do think that it's a red herring for this issue.

My confusion came from assuming that computed properties could be treated as first class objects in Ember. But, computed properties _cannot_ be treated l

[2016-06-14 20:22] stefanpenner opened #13668 "add Ember.WeakMap feature flag"

[2016-06-14 20:46] xomaczar commented on #13610
@spinlock99 can you explain why are assuming that setting bar to the 'updated' value should not be reflected in a template? You are invalidating computed property foo which depends on bar.

[2016-06-14 20:47] jamesarosen commented on #11469
Given that [ember-data v1.x](https://github.com/emberjs/data/blob/v1.0.0-beta.17/packages/ember-data/lib/adapters/rest-adapter.js#L793) calls `Ember.run(null, reject, someError)`, do you have any suggestions on how to best turn off these erroneous test failures? Is it as simple as overriding `ajaxError` to _not_ wrap in `run`?

[2016-06-14 21:30] KrisOlszewski opened #13670 "this.render and this.disconnectOutlet stopped working in 2.6.0"
Hi there!

First of all thank you for an amazing work with Ember and its ecosystem, you guys are awesome!

Today I've updated my application to `2.6.0` ( together with Ember-CLI, as well as, Ember Data). However, after some testing, I've noticed my dialogs (modals) stopped working on consecutive action.

**Example:**

- user clicks on button to show modal via `this.render`
- user selects yes or no

[2016-06-14 22:05] spinlock99 commented on #13610
@xomaczar I _did_ assume the template would update. That's why I opened this bug. If you think the template should update, perhaps we should reopen this issue ;)

[2016-06-14 22:32] Serabe commented on #13610
Addressing the issues from easier to harder to address:

1. No, this issue as is should not be reopen since it is the expected behaviour.
2. Please, move any further conversation to Slack since this is not a bug and we are generating noise in the issue tracker. This noise make the task of triaging the issues harder.
3. Computed Properties cannot be referentially transparent because they are not fu

[2016-06-14 22:41] krisselden commented on #13670
After the initial render, there is no outlet state for dialog, when you open the dialog, it initializes it, at this point we take the isEmpty() path for the outlet.  The disconnectOutlet() method does not set it back to empty, but sets it to a state that has only "into", "outlet", "name" with no template key.  When you try to open the dialog again, "template" is the only key that is different, but

[2016-06-14 23:43] dustyjewett opened #13673 "Integration Tests -- this.set() no longer seems to be connected to the component being rendered"
NOTE: This MAY be a duplicate of: #13557.

When using this.set() in integration tests, the component does not seem to receive the bindings. (or, if it does get them, it gets them async, and out-of-band)

[code]

jsbin: http://jsbin.com/cafujec/1/edit?html,js,output

This works in current/beta.

[2016-06-15 00:16] rwjblue commented on #13557
This was fixed by ember-test-helpers@0.5.26.

[2016-06-15 00:16] #13557 closed

[2016-06-15 00:20] rwjblue commented on #13673
I haven't released an updated ember-qunit build (for JSBin usage) since ember-test-helpers@0.5.26 came out. But ember-cli apps should automatically get the latest version.

[2016-06-15 07:15] dustyjewett commented on #13673
Thanks, That does fix it.

[2016-06-15 07:15] #13673 closed

[2016-06-15 09:37] buschtoens opened #13675 "Ember.Date.parse doesn't work with time zone designators without double colons"
Cross referencing this issue: https://github.com/csnover/js-iso8601/issues/27

[2016-06-15 09:56] chewedon opened #13676 "Ember DEPRECATION warnings"
I am following the ember guide, I have installed ember-cli@2.6 via:

    npm install -g ember-cli@2.6

I then typed:

    ember --version

and I get a bunch of yellow warnings:

[code]

I tried Googling but haven't seen anything resembling this.

Ember continues to work fine though, just a bit annoying seeing the yellow message.

Any ideas?

[2016-06-15 11:03] Serabe commented on #13676
This is coming from [ember-cli/core-object](https://github.com/ember-cli/core-object/blob/master/core-object.js#L53-L57). It seems an issue in ember-cli. Can you please check if it still happening in master and, if so, open an issue there?

[2016-06-15 11:12] Serabe commented on #13675
Hello:

Thank you for reporting this. `Ember.Date` is in [emberjs/data](github.com/emberjs/data). Can you please move the issue to that repo, please?

Thank you!

[2016-06-15 11:12] #13675 closed

[2016-06-15 11:14] chewedon commented on #13676
How do I check what version of core-object I am using ?

[2016-06-15 11:18] chewedon commented on #13676
I don't know if this is the right command but:

[code]

[2016-06-15 12:09] #13670 closed

[2016-06-15 12:31] KrisOlszewski commented on #13670
@krisselden thank you for looking into it and fixing!

[2016-06-15 12:32] pixelhandler commented on #13586
@yonjah Ember does have a mechanism for handling failure already, also its up to the developer to use it.

If loading fails there is the error-substate, the app needs to define the template for that error-substate. At the top level there is template/application-error.hbs which needs to be generated. In addition to the [guide page](https://guides.emberjs.com/v2.6.0/routing/loading-and-error-substat

[2016-06-15 13:19] buschtoens commented on #13675
The issue has been closed upstream anyway, as it was a dupe of https://github.com/csnover/js-iso8601/issues/25.

[2016-06-15 13:50] yonjah commented on #13586
@pixelhandler maybe I haven't made the issue clear .

If user goes from page A to B but B loading is failed and the user gets an error page, clicking the back button will actually take the user to the page he was before A (since from history perspective he is still on page A).

[2016-06-15 13:56] bterkuile opened #13677 "Ember 2.6.0 render into outlet has erratic behavior after disconnectOutlet is used. Ember 2.5 works"
I did not trace the source of the error, but created a demo application at:
http://jsbin.com/gopaqu/3/edit?html,js,output
isolating the issue.

Steps to reproduce:
1. click on the button 'abc'
2. click on the button 'Close'
3. click on the button 'def'

Expected result: The content of the modals/def view should be rendered into the modal outlet
Actual result: The render action does not show anythi

[2016-06-15 14:57] mrosata opened #13678 "Broken url used inline docs application.js"
The link to http://emberjs.com/guides/understanding-ember/the-view-layer/#toc_event-delegation is broken. It can be seen using the github link or documentation link below:

[Location in application.js - https://github.com/emberjs/ember.js/blob/master/packages/ember-application/lib/system/application.js#L149](https://github.com/emberjs/ember.js/blob/master/packages/ember-application/lib/system/appl

[2016-06-15 15:18] pixelhandler commented on #13678
The closest page I can think of is https://guides.emberjs.com/v2.6.0/components/handling-events/#toc_event-names However we may need to change that paragraph as `Ember.View` is deprecated. Perhaps we can use:

[2016-06-15 19:12] krisselden commented on #13677
@bterkuile thanks for the report, this was fixed in #13672 and will be in the next 2.6.x point release

[2016-06-15 19:13] #13677 closed

[2016-06-15 23:08] allthesignals opened #13686 "Boolean controller properties set to null parse as truthy strings"
When a queryParam on a controller is defaulted to `null` (such that it won't be serialized in a request to the API unless changed), and when that property is toggled (via `this.toggleProperty`), it produces this sequence of values: true -> false -> false -> true. I think this is because at some point it's parsed as a string, which is truthy.

Twiddle: https://ember-twiddle.com/3afa1091106a91ce2c17

[2016-06-16 01:02] #13661 closed

[2016-06-16 03:29] sergiferran commented on #11592
What i've found, is that if you run something in the controller (like `this.set('something', someValue) before the route finishes the `setupController`, then it fails.
I hope this helps to you to fix it.

[2016-06-16 03:44] deanmraz commented on #13676
@Serabe @chewedon tested master with npm link and looks good.

[code]

Running the version command
[code]

[2016-06-16 03:54] pixelhandler commented on #11321
@f3ndot @locks closing this one in favor of an issue in the guides repo: https://github.com/emberjs/guides/issues/1500 thanks @claubacher

[2016-06-16 03:54] #11321 closed

[2016-06-16 05:40] chewedon commented on #13676
@deanmraz try going `ember --version` inside an newly generated ember project folder.

I notice if I typed `ember --version` outside of a project folder, the warnings don't appear.

[2016-06-16 06:51] lokeshkumar opened #13687 "Action Bubbling documentation is missing in Getting started guide"
Documentation for preventing Action bubbling is not available in the current ember Getting started guide.

Please refer the below old documentation link
https://guides.emberjs.com/v1.10.0/templates/actions/

And the new documentation link
https://guides.emberjs.com/v2.6.0/templates/actions/

Please have a look and update the same in the new documentation.

Thanks in advance.

Regards,
Lokesh

[2016-06-16 10:42] locks commented on #13687
Hi @lokeshkumar, issues related to the Guides should be filed at their specific repository: https://github.com/emberjs/guides.

However, this behaviour is on purpose. We moved the Guides to use closure actions (as opposed to classic actions) because they provide better semantics, more functionality, and they cover all the use cases of classic actions. Closure actions don't bubble, so that document

[2016-06-16 10:42] #13687 closed

[2016-06-16 11:40] mkay581 opened #13689 "First parameter in Ember.inject.service() is optional?"
[Your documentation](http://emberjs.com/api/classes/Ember.inject.html#method_service) says that the first parameter (`name`) is optional for the `Ember.inject.service`.

My guess of what's happening here is that Ember is detecting and storing the property via `set` descriptor behind the scenes and using this stored variable when the actual method is called? (I could be wrong here btw).

Either way

[2016-06-16 11:48] Serabe commented on #13689
Thank you for reporting this. This is not a bug but a feature request and, as stated in the [contributing document](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#requesting-a-feature) it needs to be submit in [emberjs/rfcs](https://github.com/emberjs/rfcs/).

As for the problems you suggest the solution is quite easy: force your team to add the argument. I only use `Ember.inject.

[2016-06-16 11:48] #13689 closed

[2016-06-16 11:52] Serabe commented on #13686
I can confirm this is happening in canary too. Thank you for your report!

[2016-06-16 12:30] dmagunov opened #13690 "How to set empty tagName for application route without views support?"
As we know Ember generate div elements for each route (<div id="ember1" class="ember-view"/>), but I need for some routes that Ember doesn't generate this elements, so how can I do it in new Ember version without ember-legacy-view support?

[2016-06-16 12:33] rwjblue commented on #13690
Firstly, Ember does not create a div for every route. It only creates one for the top level (application route).

As of 2.6.0 there is no (non-hacks) mechanism to remove the application routes surrounding element.

[2016-06-16 14:53] Ridermansb commented on #13676
Same problem...
[code]

[code]

[2016-06-16 15:03] #13676 closed

[2016-06-16 15:05] stefanpenner commented on #13676
These are deprecations, that must be address in the add-ons provided. This isn't an ember issue, please upgrade your dependencies (as many of them have updated), and in-cases where you discover an add-on has yet to be updated please submit an issue or pull request to that addon.

[2016-06-16 19:01] dmagunov commented on #13690
OK, so what is the hack way?
On Jun 16, 2016 3:34 PM, "Robert Jackson" <notifications@github.com> wrote:

[2016-06-16 20:29] kellyselden opened #13693 "undefined behavior for nested brace expansion"
I've come across some code that _could_ use nested brace expansion. I tried it out manually first and got this:

[code]

I've read [this](https://github.com/emberjs/ember.js/pull/13231#issuecomment-204632269) which hints that it was discussed or decided to not support. If it is unsupported, perhaps it should error, like when you put a space in. Or maybe it just needs a regex update to fully suppor

[2016-06-16 20:57] choiway commented on #13676
@stefanpenner I'm running into the same problem and I'm a little confused by your solution. Even though this it the first time I've installed Ember I have to go through and upgrade dependencies that are part of Ember?

[2016-06-16 21:06] thomblake commented on #13676
@choiway You're using add-ons that have some deprecated code in them.  They probably haven't been fixed upstream yet. This is not an Ember issue, but it might be an [ember-cli](https://github.com/ember-cli/ember-cli) issue.

[2016-06-16 21:10] choiway commented on #13676
@thomblake So just upgrade each add-on where the deprecated warning shows up?

[2016-06-16 21:20] thomblake commented on #13676
@choiway Yeah that should work except that I suspect some of those add-ons haven't fixed it themselves yet.  So the solution might be to file issues against those add-ons if they haven't released a newer version that fixes it.