[2016-06-16 21:21] choiway commented on #13676
@thomblake Alright, thanks!

[2016-06-16 21:24] rwjblue commented on #13690
In 2.6.0, you could put a component at `app/views/application.js` but that will not work in Ember 2.7 (and its horrible) so it isn't very useful...

[2016-06-16 21:25] rwjblue commented on #13690
Features are generally discussed in the https://github.com/emberjs/rfcs/ repository. You can create an issue there for feature requests or a pull request to propose a new feature.  I'm closing this issue (this is an intentional change in the framework), but please follow up with an RFC issue/PR if you are interested in taking this further.

[2016-06-16 21:25] #13690 closed

[2016-06-16 22:57] mrosata commented on #13678
Closing the issue because it has been adjusted.

[2016-06-16 22:57] #13678 closed

[2016-06-17 00:07] #13620 closed

[2016-06-17 02:50] trentmwillis opened #13696 "Update Test adapter to support QUnit 2.0"
QUnit 2.0 was released today, yay! But, unfortunately, Ember's [test adapter for QUnit currently relies on `QUnit.stop`](https://github.com/emberjs/ember.js/blob/master/packages/ember-testing/lib/adapters/qunit.js#L15) which has been removed. The [recommended upgrade path is to use `assert.async()`](http://qunitjs.com/upgrade-guide-2.x/#replace-stop-and-start-with-assert-async) which works for mos

[2016-06-17 12:06] amk221 commented on #11486
@Dynasty9 Thanks for the solution.
Any problems with adding `tagName: ''`?

[2016-06-17 13:05] smitakiran25 opened #13697 "ember.debug.js:40998 Uncaught Error: <google-route@component:new-case::ember368> had no action handler for: addCase"
I am getting this component error

i  am using ember cli v2.6
in fedora 20

**app/template/component/new-case.hbs**

               <div class="form-group">
                <label class="col-md-4 control-label" for="textInput2">Location</label>
                <div class="col-md-8">
                  {{input type="text" class="form-control" value=location}}
                </div>
              </d

[2016-06-17 13:14] Serabe commented on #13697
Hello, @smitakiran25. You forgot to paste the error you are getting. Can you please provide an [Ember Twiddle](www.ember-twiddle.com) that reproduces your problem?

Thank you!

[2016-06-17 13:23] les2 commented on #13607
@batjaa Can you serve the ember app from a different path? E.g., serve the legacy SPA off of `/#/legacy/routes/here` and the Ember SPA off `/foo/*` - I know this works because I am using this setup to migrate from a legacy application.

But it just seems like asking for trouble if you have both the legacy SPA and Ember managing history api events at the same time.

[2016-06-17 13:55] rwjblue commented on #11486
FWIW, the suggestion from https://github.com/emberjs/ember.js/issues/11486#issuecomment-225255269 will not work in Ember 2.7.

[2016-06-17 13:56] amk221 commented on #11486
revert revert :) Thank you for the heads up.

[2016-06-17 14:00] ppcano opened #13698 "When calling `disconnectOutlet`, `render` stops working (ember-2.6)"
When calling `disconnectOutlet`, the `render` method stops working. The following [ember-twiddle](https://ember-twiddle.com/318a4146d5d18494f0f8aac760ae03c5) reproduces the behaviour.

1. Click render 1
2. Click Disconnect outlet
3. Click render 2

This behaviour has been introduced in `ember-2.6`, but it was working in previous versions.

[2016-06-17 14:05] Serabe commented on #13698
Closing this as a duplicate of #13670 and addressed in #13672 as `[BUGFIX release]` (it should get out there in 2.6.1).

You can check [here](https://ember-twiddle.com/a9747863ec68b9048f5d2632b141bfa3?openFiles=twiddle.json%2C) that your twiddle is working in canary (master).

Thank you for reporting this!

[2016-06-17 14:05] #13698 closed

[2016-06-17 14:07] allthesignals commented on #13686
Thanks. I think the query parameter is overwriting the value as a string, "false", which toggles to `false`.  `!!"false" == true`

[2016-06-17 15:54] trentmwillis commented on #13696
I found a way to invoke `assert.async` within the test adapter, but this has issues when assertions come after `done` is called. Consider a test like so:

[code]

This is essentially executed as:

[code]

Since the final assertion comes after the `done` call, QUnit throws an error. At this point I'm unsure if there is a good way to make this work within the existing test helper setup, but it may a

[2016-06-17 17:31] pixelhandler commented on #13696
@trentmwillis does your solution recommend a change to the test adapter API?

With Using `assert.async` is `asyncStart` even needed? `asyncEnd` seems to map to using `var done = assert.async();` and calling `done()`.

[code]

[2016-06-17 17:35] smitakiran25 commented on #13697
this is the error i am getting
ember.debug.js:40998 Uncaught Error: <google-route@component:new-case::ember368> had no action handler for: addCase

[2016-06-17 17:42] trentmwillis commented on #13696
@pixelhandler I don't currently have a solution. The one solution I did have, fails in the use case I describe above.

The only way that `asyncStart` would be unneeded is if we treated the entire test as async and had some reliable way to hooking into the end of the test. Since that doesn't exist (to my knowledge), then we need a way of denoting when test helpers have gone asynchronous (`assert.as

[2016-06-17 17:52] pixelhandler commented on #13693
@kellyselden do you know if there are any tests for "nested" brace expansion in the project?

I only found this one: https://github.com/emberjs/ember.js/blob/master/packages/ember-metal/tests/computed_test.js#L461-L482

Also are there any docs on nested brace expansion? I found https://guides.emberjs.com/v2.6.0/object-model/computed-properties/#toc_computed-properties-in-action

My thoughts are th

[2016-06-17 17:53] pixelhandler commented on #13693
@rwjblue @locks is there any undocumented consensus on supporting nesting in brace expansion?

[2016-06-17 17:55] pixelhandler commented on #13696
@trentmwillis yes seems like there needs some discussion as to a path ahead regarding QUnit 2.0

I'm curious if this should be an RFC issues as this is not technically an Ember.js bug.

[2016-06-17 17:59] pixelhandler commented on #13696
@trentmwillis Actually the discussion may be better if added to the thread on the "Grand Testing Unification RFC" - https://github.com/rwjblue/rfcs/blob/42/text/0000-grand-testing-unification.md#async--await

Seems that the proposal does not mention `asyncStart` but instead proposes async/await.

It may be the case that the testing suite may not use QUnit 2 until that above propose is settled.

Pe

[2016-06-17 18:16] pixelhandler commented on #13586
@yonjah it may be worth raising some discussion in the embercommunity.slack.com chat regarding:

I'm curious if someone has a workaround or a solution for utilizing the history in an error substate.

My thoughts are that the error.substate route could use [intermediateTransitionTo](http://emberjs.com/api/classes/Ember.Route.html#method_intermediateTransitionTo) via [activate](http://emberjs.com/ap

[2016-06-17 18:28] #13586 closed

[2016-06-17 18:38] mmun commented on #13644
I'll take a stab at `{{render}}`.

[2016-06-17 18:39] rwjblue commented on #13644
@mmun - I updated the description to mark it as 🔒 'ed.

[2016-06-17 18:42] pixelhandler commented on #11442
@dmagunov do you still have this issue? If so can you provide an example reproduction, e.g. ember-twiddle or other online tools, or even a simple git repo?

[2016-06-17 18:50] pixelhandler commented on #13697
@smitakiran25 Thanks for posting the error and related code, the formatting is a bit hard to read, if you don't mind I think @Serabe can reformat it in the issue description you posted (using github markdown syntax for .js and .hbs files).

Also for others to investigate the issue it's advisable to provide a reproduction of the issue in executable code. Typically https://ember-twiddle.com is vary

[2016-06-17 18:58] pixelhandler commented on #13383
@Dremora there is not a bug it's just that your example results in double transition and is recovered by a reload.

I'll close this out.

[2016-06-17 18:58] #13383 closed

[2016-06-17 19:04] dmagunov commented on #11442
No, I don't (in 2.6)
On Jun 17, 2016 9:43 PM, "Bill Heaton" <notifications@github.com> wrote:

[2016-06-17 19:04] pixelhandler commented on #9969
@kamalaknn I noticed that the link for reproduction of the issue is using Ember 1.8. Do you still have this issue in a current release, or in the LTS version (2.4.6) of Ember?

[2016-06-17 19:06] pixelhandler commented on #10120
@bfreis can you recreate the reproduction of this issue using a current release of Ember, or the LTS release (2.4.6)?

[2016-06-17 19:08] pixelhandler commented on #10262
@jesenko can you provide an updated example (reproduction of the issue) using a current release of Ember.js or the LTS release (2.4.6) ?

[2016-06-17 19:11] pixelhandler commented on #10484
@machty I think this question needs to be revisited or closed, considering [Grand Testing Unification](https://github.com/emberjs/rfcs/pull/119) and that QUnit v2 Doesn't use `stop`/`start` anymore. The test adapter interface mapped start/stop to asyncStart and asyncEnd. @rwjblue has a rfc that recommends async/await.

[2016-06-17 19:12] pixelhandler commented on #13696
@trentmwillis this issue is also related: https://github.com/emberjs/ember.js/issues/10484

[2016-06-17 19:13] pixelhandler commented on #10562
@cmkornell can you provide an updated example (reproduction of the issue) using a current release of Ember.js or the LTS release (2.4.6) ?

[2016-06-17 19:14] pixelhandler commented on #10828
@lessless can you provide an updated example (reproduction of the issue) using a current release of Ember.js or the LTS release (2.4.6) ?

[2016-06-17 19:17] pixelhandler commented on #10906
per @runspired suggestion:

I think this is a documentation issue to surface when the transition has made it to a new URL. cc/ @locks @acorncom

[2016-06-17 19:19] pixelhandler commented on #10931
@Eptis I tried to download your code example but could not. Can you create a new example in a current version of Ember or using the LTS (2.4.6) version?

[2016-06-17 19:19] machty commented on #10484
I'm just going to close this. TBH i don't even remember posting this issue and I haven't been bitten by it since, and with the grand unification RFC I think it's even less a thing that needs to be on anyone's radar.

[2016-06-17 19:19] #10484 closed

[2016-06-17 19:22] pixelhandler commented on #10938
@thec0keman @codebruder can you provide an updated example (reproduction of the issue) using a current release of Ember.js or the LTS release (2.4.6) ?

[2016-06-17 19:26] btecu commented on #13697
The controller `newcase` doesn't have to do anything with the component `new-case`.
You should include the template `newcase` if you have one, to see how you're using the component.

The error is that the component `new-case` doesn't have an action passed called `addCase`.

[2016-06-17 19:27] pixelhandler commented on #11152
@poteto regarding…

Could the solution be to not use [activate](http://emberjs.com/api/classes/Ember.Route.html#method_activate) for a transition? Is there a case that prevents you from using `beforeModel()`?

[2016-06-17 19:27] btecu commented on #13662
This likely can be closed. Wrong project.

[2016-06-17 19:36] pixelhandler commented on #11275
@jfelchner can you provide an updated example (reproduction of the issue) using a current release of Ember.js or the LTS release (2.4.6) ?

[2016-06-17 19:36] pixelhandler commented on #11334
@martndemus can you provide an updated example (reproduction of the issue) using a current release of Ember.js or the LTS release (2.4.6) ?

[2016-06-17 19:37] #11442 closed

[2016-06-17 19:38] pixelhandler commented on #11597
@jamesarosen can you provide an updated example (reproduction of the issue) using a current release of Ember.js or the LTS release (2.4.6) ?

[2016-06-17 19:40] pixelhandler commented on #11843
@novtor can you provide an updated example (reproduction of the issue) using a current release of Ember.js or the LTS release (2.4.6) ?

[2016-06-17 19:40] martndemus commented on #11334
Haven't seen the issue in a long long time, can be closed from my perspective.

[2016-06-17 19:41] pixelhandler commented on #11977
@ismyrnow this should be fixed now, closing.

[2016-06-17 19:55] JackEllis commented on #12169
Still experiencing issue on Ember 2.6.0

[2016-06-17 20:00] pixelhandler commented on #11977
oops, Reopening, confused this with another recent fix.

@ismyrnow here is an update https://ember-twiddle.com/0ec50ce44f02e8075c33?openFiles=test.controller.js%2C&route=%2Ftest%3Ffooter%3Dtrue%26sidebar%3Dtrue on the repro of the issue. In the console the error is "Assertion Failed: You're not allowed to have more than one controller property map to the same query param key, but both `test:isFoot

[2016-06-17 20:07] pixelhandler commented on #11977
@ismyrnow The workaround I suggested still works:

If the workaround is acceptable in your use case of using a transition perhaps closet his out.

[2016-06-17 20:09] pixelhandler commented on #12102
another related/duplicate issue: #11977

[2016-06-17 20:30] trentmwillis commented on #13696
I have pulled together a potential fix in #13702. I don't think this is the best possible solution, but I don't think a "best" solution would be possible without some larger rethinking of how tests handle async currently.

I am definitely onboard with the Grand Testing Unification RFC and I think the whole `async`/`await` proposal will make this easier in the future, but I also don't want the comm

[2016-06-17 21:24] rwjblue commented on #13697
This is almost certainly better suited for a stack overflow post or a conversation in the community slack.  We generally reserve the issue tracker here for bugs in the framework itself, and this seems like general Q/A troubleshooting support...

[2016-06-17 21:24] #13697 closed

[2016-06-18 03:58] smitakiran25 commented on #13662
Thank you all, I solved this problem it was a database issue

[2016-06-18 05:59] krisselden commented on #13470
@pixelhandler the issue in the reproduction is an infinite loop,not the above error and seems to be an issue with model fragments and ED. This hasn't been demonstrated to be an ember bug

[2016-06-18 10:57] cheng-jk opened #13706 "DEPRECATION Warning suddenly come out..."
my current node is 4.4.5 and ember-cli is version 2.6.1... everything has been ok since i start ember-cli about a week ago... but today this warning start to come out... no other plugins install manually, just npm -g install ember-cli, and daily run npm update... i am newbie...

[2016-06-18 13:06] rwjblue commented on #13706
I'm going to close this issue as it isn't a bug in the framework itself.  If anything it is an issue with ember-cli and the addons triggering the deprecation. These deprecations are being issued by addons during the ember-cli build process. Both ember-cli-release and ember-cli-dependency-checker have been updated, but need to be released (ping @slindberg and @quaertym).

[2016-06-18 13:06] #13706 closed

[2016-06-18 19:04] quaertym commented on #13706
`ember-cli-dependency-checker` [1.3.0](https://github.com/quaertym/ember-cli-dependency-checker/releases/tag/v1.3.0) is released.

[2016-06-18 19:44] rwjblue commented on #13706
@quaertym - Thank you!

[2016-06-19 02:37] rwjblue commented on #13595
@chancancode - Any ideas where we might hook in on the Glimmer side to provide this warning?  I'm not sure where to get access to the specific block param args...

[2016-06-19 02:39] rwjblue commented on #12925
I'm going to close this for now.  It is fixed in Glimmer2 and I highly doubt we will get around to addressing before that lands...

[2016-06-19 02:39] #12925 closed

[2016-06-19 02:42] rwjblue commented on #13664
Yeah, sorry about the confusion here. We need help on https://github.com/emberjs/ember.js/issues/13101 to ensure that documentation added for new features is not accidentally shipped to the website.

I'm going to go ahead and close this as a duplicate of https://github.com/emberjs/ember.js/issues/13101...

[2016-06-19 02:42] #13664 closed

[2016-06-19 02:44] rwjblue commented on #13627
Thank you again for reporting the issue. If we have significant reports of this in future releases we can revisit, but for now I'm going to close...

[2016-06-19 02:44] #13627 closed

[2016-06-19 06:11] lessless commented on #10828
@pixelhandler nope, happily left Ember.js behind :)

[2016-06-19 10:01] baylf2000 commented on #13676
I really feel the need to say that the answers provided here are pretty shitty, and are definitely the very best way to turn any new users away from Ember.

If a new user hops onto the official *EMBER* website, and follows the official *EMBER* tutorial telling me to run "npm install -g ember-cli@2.6" and then "ember new super-rentals" and then immediately gets a bunch of bright yellow warnings, th

[2016-06-19 12:55] #10828 closed

[2016-06-19 15:54] rwjblue commented on #13603
Submitted https://github.com/emberjs/ember.js/pull/13716 to address this.

[2016-06-19 17:06] nathanhammond commented on #13676
Hey @baylf2000: please remember that everybody involved on this is a person, the [decisions that we make](https://github.com/ember-cli/core-object/pull/33) all [have tradeoffs](https://github.com/ember-cli/ember-cli/pull/5972#issuecomment-225259799), and possibly most important, the amount of time we have to address these concerns are limited. A deprecation warning with a still-fully-functioning a

[2016-06-19 17:20] workmanw commented on #13603
@rwjblue Awesome. Thank you!

[2016-06-19 17:42] pablobm commented on #12791
Thank you @pixelhandler and @aquamme. I have taken your code, generalised it into a module and published it as https://gist.github.com/pablobm/5ec0fee8a877badaca2c11bf4751e857

[2016-06-20 00:16] baylf2000 commented on #13676
@nathanhammond thanks for your response.

I don't think the bug itself is the issue, nor is my response, nor do I forget that people are involved, although I think perhaps remembering that Ember users are also people is equally as important.

The issue is that a relatively inexperienced user came to the official Ember community to ask a very sensible, justified and polite question about a simple p

[2016-06-20 00:58] carols10cents commented on #13676
It looks like these should all be fixed as of a few hours ago, so updating to at least these versions of these addons should get rid of the deprecation warnings:

- ember-data v2.6.1 (contains [this commit](https://github.com/emberjs/data/commit/0d8686ebe756539e10e7be23680542f3c069c8a4))
- ember-cli-dependency-checker v1.3.0 (contains [this commit](https://github.com/quaertym/ember-cli-dependency-

[2016-06-20 01:56] baylf2000 commented on #13676
Thanks so much for that @carols10cents

Doing an install on a fresh machine using "npm install -g ember-cli" and then "ember new testApp" as per the tutorial does install version 2.6.1, but that in itself doesn't correct the depreciation warnings, as several of the installed addons you mention are still older versions. Here are the deps from the package.json installed by ember-cli 2.6.1 in a new p

[2016-06-20 09:44] chewedon commented on #13676
It certainly helped me :D

I ran `npm install` for each of the items mentioned in carols10cents and then changed ember-cli-release to `0.2.9` as suggested by @baylf2000.

No more deprecation warnings for me.

Thank you all for your patience and understanding.

[2016-06-20 17:07] cantsin commented on #13612
I just ran into this issue! I'm using 2.5.1. It looks like the only fix for this is to remove (or not to use) the mapped query parameter -- is that correct?

[2016-06-21 02:08] #13603 closed

[2016-06-21 02:39] kbullaughey opened #13727 "beforeModel hook called while typing in url location bar"
I encountered a bizarre problem (only in Google Chrome) whereby while I was typing in the name of a route into the browser's URL location bar, the tab completion would fill in the rest, and before I pressed enter the `beforeModel` hook on that route would get called.

The only reason I noticed this was because it was doing an ajax call to my backend and the call would show up in the log. If I put

[2016-06-21 02:43] rwjblue commented on #13727
I'm guessing that chrome is trying to prefetch the page after some sort of debounce delay while typing in the location bar.

[2016-06-21 02:56] kbullaughey commented on #13727
Hm...so something I need to live with?

That might explain why I can't put in a breakpoint. Maybe it's happening in some other thread.

It's kind of a pain because in this particular case it messes up my app because the prefetch affects my session data, which is shared across threads via localstorage. What's happening is the user is accessing the app without being authenticated, and then when a ro

[2016-06-21 14:23] kbullaughey commented on #13727
I'll go ahead and close this. I appreciate the quick reply. Cheers.

[2016-06-21 14:23] #13727 closed

[2016-06-21 15:21] chadhietala opened #13732 "[Glimmer 2] Glimmer is leaking DOM"
This is probably because the [view_support mixin](https://github.com/emberjs/ember.js/blob/master/packages/ember-views/lib/mixins/view_support.js#L637-L640) is making assumption about  HTMLBars. /cc @wycats @rwjblue. We also need to add tests for `willDestroyElement`.

- [x] Tests for `willDestroyElement`
- [x] Fix `destroy` implementation
- [ ] Figure out how glimmer is appending outside of the `

[2016-06-21 16:34] Dynasty9 commented on #11486
👍 noted

[2016-06-21 16:47] #12876 closed

[2016-06-21 16:50] justinaray opened #13734 "getOwner missing from API Docs?"
Please forgive the issue if I'm missing it or it's documented elsewhere, but I don't see the `getOwner` or `setOwner` methods in the `Ember` module API docs.

I obviously know about them from the blog posts and guides, but was surprised when I checked the API.

[2016-06-21 17:03] rwjblue commented on #13734
Hmm. Documentation was written for it ([here](https://github.com/emberjs/ember.js/blob/master/packages/container/lib/owner.js#L10-L48)), I am not sure why it isn't showing up though.

[2016-06-21 17:12] justinaray commented on #13734
Maybe the api generation needs a `@since` tag?  Or the order is important.  Only differences I can see with other methods that add to the `Ember` module.

https://github.com/emberjs/ember.js/blob/v2.6.0/packages/ember-metal/lib/utils.js#L415-L428

[2016-06-21 17:15] rwjblue commented on #13734
Since would be good to add, but it shouldn't be required. My guess is that it is either order dependent or that we aren't included docs from the container package.

[2016-06-21 17:21] justinaray commented on #13734
Yeah, just noticed that `@since` isn't on many of the other methods (e.g. `$`).  Agree about the other two likely causes.

[2016-06-21 18:19] wayneiny opened #13735 "How to create an enums service in ember"
I want to create an enums service in Ember so that I can inject it where I want to use it.
Is there a good way to do that?
Thanks

[2016-06-21 18:57] #13735 closed

[2016-06-21 21:13] chadhietala commented on #13732
See #13736. The `#qunit-fixture` stuff appears to be somewhat unrelated. Still need to investigating.

[2016-06-21 21:13] #13732 closed

[2016-06-21 21:35] Tuizi opened #13737 "jQuery 3?"
Will jQuery 3 included in Ember? Is it safe to use it right now in an ember project?

[2016-06-21 21:36] stefanpenner commented on #13737
searching merged PR shows https://github.com/emberjs/ember.js/pull/13667

[2016-06-21 21:36] #13737 closed

[2016-06-22 20:18] f3ndot opened #13740 "Enumerable.filterBy(key, value) should support an array of values to match against"
[Enumerable.filterBy(key, value)](http://emberjs.com/api/classes/Ember.Enumerable.html#method_filterBy) could benefit from optionally supported an array of values to test against:

[code]

This is useful because sometimes you want to filter an array by more than just one value and saves us from writing the long-form callback:

[code]

[2016-06-22 20:20] rishi-freshbooks commented on #13740
👍

[2016-06-22 20:33] joelthecoder commented on #13740
👍

[2016-06-22 20:45] zackthehuman opened #13742 "Positional rest params don't work as expected for nested closure components"
Consider the following example:

[code]

This results in an error:

If you re-write the declaration so that the outer component passes in positional args, then it works:

[code]

Which differs in behavior from using curried named parameters. I think the issue is here: https://github.com/emberjs/ember.js/blob/master/packages/ember-htmlbars/lib/utils/extract-positional-params.js#L40

[code]

I think

[2016-06-22 21:15] ironyinabox commented on #12667
So, generally speaking, not having access to the event object in actions is annoying, so I built this workaround (warning: coffescript ahead)

[code]

The `Em.run.next` is neccesary because ember fires actions before it delegates events. I'm sure this is why they don't give you the event object in your actions; because firing one before the other is better for some meta reason that I can't be both

[2016-06-22 22:20] rwjblue commented on #12667
In the following snippet, the `someThing` action will be called with the event...

`<input value={{foo}} oninput={{action 'someThing'}}>`

[2016-06-23 01:32] btecu commented on #13740
@rishi-freshbooks & @joelthecoder you know there's a button reaction, right?

@f3ndot it's unlikely that the core team will want to extend the `filterBy`. It seems more appropriate for an addon.

[2016-06-23 02:26] workmanw commented on #13318
@rwjblue Probably okay to close now that is `Ember.String.isHtmlSafe` is merged?

Polyfill solution is available here: https://github.com/workmanw/ember-string-ishtmlsafe-polyfill

[2016-06-23 02:36] #13318 closed

[2016-06-23 02:37] rwjblue commented on #13318
Thanks!

[2016-06-23 12:42] EyMaddis opened #13743 "Prototype extensions are enumerable"
Hi,
I noticed that native prototype extensions are enumerable, which means that they are listed in `for(var key in obj)` statements.
This is a problem since a lot of third party libraries use these statements (even though they mostly shouldn't).
Is there a reasoning behind this not using `defineProperty` with `{ enumerable: false }` for the extensions? I would personally consider this a bug.
And I

[2016-06-23 14:37] locks commented on #13743
Just want to note that this is a potential breaking change, as someone might be relying on that faulty behaviour.

[2016-06-23 14:41] EyMaddis commented on #13743
If anybody wants to work around the issue, just add this when the application loads (e.g. `app.js`)

[code]

[2016-06-23 18:03] toranb commented on #11469
I'm not here to debate the "right or wrong" of testing exceptions but I did want to offer a workaround for those like me who value testing 500 errors in acceptance tests (whether you are using ember-data or something else that wraps RSVP). Full credit for this goes to my good friend @williamsbdev who found the least hacky/but most functional way to get this working :)

[code]

[2016-06-23 20:05] zackthehuman commented on #13644
I'm working on a change in Glimmer to fix the following:
 - should property escape unsafe hrefs
 - blacklists href bindings based on protocol

See https://github.com/tildeio/glimmer/pull/197 for more info.

[2016-06-23 23:44] kellyselden opened #13746 "input type="number" + one-way binding + constraining data appears buggy"

[2016-06-23 23:44] #13746 closed

[2016-06-23 23:47] kellyselden opened #13747 "input type="number" + one-way binding + constraining data appears buggy"
Using the new one-way binding of native inputs, I'm trying to stop the data at "999". It appears to constrain it once and reset it back to "999", but then the binding is lost and it continues unbounded.

[code]

[code]

twiddle that demonstrates issue: https://ember-twiddle.com/e4801208572aec5b0548553293a83afd

re here:
http://stackoverflow.com/questions/38003564/ember-js-native-input-type-number-

[2016-06-23 23:49] kellyselden commented on #13747
I should add that if I change `value="target"` and then
[code]

it works as desired.

[2016-06-24 00:03] vvscode commented on #13747
@kellyselden  it's not ember-way. You just used jquery api ( I mean your workaround )

[2016-06-24 00:04] kellyselden commented on #13747
@vvscode correct, the workaround is not desired.

[2016-06-24 00:22] rwjblue commented on #13747
It isn't triggering a rerender because count is not changing value (and the underlying rendering system thinks it has not changed). The easiest work around at the moment is to always set to the user provided value, and then if needed schedule a set back to 999 in the afterRender queue.

This topic came up in slack yesterday, and I made a demo Twiddle showing what I mean: https://gist.github.com/rw

[2016-06-24 01:38] mmpestorich opened #13748 "An attribute binding to an AliasedProperty doesn't propagate changes"
A mutable binding to a component attribute that is also an aliased property on the component itself fails to propagate changes to the bound property.

[code]

[code]

Here are a couple jsbins that further illustrate the issue:
1. http://jsbin.com/zonibep/edit?html,js,output
2. http://jsbin.com/lufubin/edit?html,js,output

This happens because `AliasedProperty.set` doesn't trigger `PROPERTY_DID_CHA

[2016-06-24 02:34] williamsbdev commented on #11469
@toranb - Thank you for calling attention to this.

I would like to give some background. One of the applications that we were working on had great validations before the request was made so it would not get a `400`. Instead of handling all the errors with each ajax request, we wanted to catch all the errors across the application. So we setup something like this:

[code]

The problem then came wh

[2016-06-24 08:28] izelnakri commented on #5566
Please reopen this issue. It still occurs on Ember 2.6 when the queryParams have refreshModel: true

[2016-06-24 18:25] f3ndot commented on #13740
@btecu it feels like a natural extension to the intended `filterBy` method. It feels like a fairly common occurrence and is simply convenient. The very nature of placing it into an addon for such a small tweak feels counter to that goal.

I'm positive I've encountered other frameworks that offer the same nothing of `value` or `[value, value, value]` support.

I might take a stab at putting up a PR

[2016-06-24 18:52] Serabe commented on #13740
I don't know about the core team's feeling about this particular enhancement, though in the past they have expressed they are hesitant to extend the current CPM (see the part of Ember.computed.uniqBy in the [2.6 and 2.7 beta announcement post](http://emberjs.com/blog/2016/06/08/ember-2-6-and-2-7-beta-released.html)).

In any case, you should follow the RFC flow stablished in the [Contributing](htt

[2016-06-24 18:52] #13740 closed

[2016-06-24 19:01] f3ndot commented on #13740
Whoops! I didn't realize there's a new RFC process. Apologies.

[2016-06-24 19:17] Serabe commented on #13740
Don't worry!

[2016-06-24 22:32] cklimkowsky opened #13750 "Issues with PromiseProxyMixin: `Uncaught [object Object]` and `.catch is not a function`"
Using this example from the guides, I would expect the error to be caught as `reason` (since "/some/remote/data.json" is obviously invalid):

[code]

Instead, the full error message is printed to the console, as well as `Uncaught [object Object]`. Is this documentation out of date, or is there an issue with `PromiseProxyMixin`?

Another related issue is that using the following code instead yields

[2016-06-25 00:22] chadhietala commented on #13750
@cklimkowsky I think this is because `Ember.$.getJSON()` does not return a ECMA specified promise, it's going to return a jquery Defered which is non-spec compliant. You should cast the jQuery deferred to a spec compliant promise.

[code]

[2016-06-26 08:07] v3ss0n commented on #12102
same problem.
SO it is a bug?

[2016-06-26 16:47] mixonic commented on #13750
The documentation should definitely be updated here. Perhaps simplest is to change the docs away from using a raw jQuery deferred.

However we should also confirm that the casted jQuery promise does the correct thing.

[2016-06-26 16:51] mixonic commented on #13748
Hm, https://github.com/emberjs/ember.js/pull/11225 seems related but (as it was fixed) is obviously not the issue here.

[2016-06-26 16:54] mixonic commented on #13742
@Serabe can you take a look here?

[2016-06-26 16:57] Serabe commented on #13742
Assigning this to myself. Thanks for mentioning, @mixonic!

[2016-06-26 17:00] mixonic commented on #13686
@allthesignals is this perhaps ready to be closed? The coercion cannot even be perfect (as you identified we cannot know all future values) and I think you should be strongly encouraged to use a default type matching your eventual value and/or to use the explicit type syntax.

[2016-06-26 17:14] mixonic commented on #13494
@rwjblue @asakusuma this can be closed?

[2016-06-26 17:16] mixonic commented on #13420
This would also be addressed by attr-first-but-special-behavior-when-type-of-function in Glimmer

[2016-06-26 17:19] mixonic commented on #13397
Seems like the API documentation should definitely be updated. Regarding the guides we can defer to @locks @acorncom about if they think the content is appropriate.

[2016-06-26 17:21] asakusuma commented on #13494
@mixonic yes this can be closed

[2016-06-26 17:22] mixonic commented on #13494
Thanks @asakusuma :-)

[2016-06-26 17:23] #13494 closed

[2016-06-26 18:01] mixonic commented on #12688
The approach in https://github.com/emberjs/ember.js/pull/12708 seems quite legit

[2016-06-26 19:13] knownasilya commented on #13686
It needs to be documented before we close.

[2016-06-26 23:36] habdelra commented on #13750
Here is a twiddle that shows @chadhietala 's example works correctly in teh example above: https://ember-twiddle.com/55ae031da0bfe8647440410ce9016d67

I'll update the docs to reflect this.

[2016-06-27 06:21] #13750 closed

[2016-06-27 06:24] Serabe commented on #13742
I think the problem is caused by the merging. Looking for a nice way to fix it.

[2016-06-27 16:34] raytiley commented on #11977
@ismyrnow Could you retest this against latest? This just got merged in: https://github.com/emberjs/ember.js/pull/13273

/CC @rwjblue

[2016-06-27 16:37] raytiley commented on #13612
@eguitarz Can you test against latest. I think https://github.com/emberjs/ember.js/pull/13273 might address this issue. /CC @rwjblue

[2016-06-27 16:39] raytiley commented on #12102
I think https://github.com/emberjs/ember.js/pull/13273 will address this /CC @rwjblue

[2016-06-27 17:35] rwjblue commented on #12102
Thanks @raytiley.  I'm going to close this for now, but I would love to land a new query params test to ensure we do not regress here in the future.  Feel free to ping me if you would like help on how that might look...

[2016-06-27 17:35] #12102 closed

[2016-06-27 17:36] rwjblue commented on #13612
Thanks @raytiley.  I'm going to close this for now, but I would love to land a new query params test to ensure we do not regress here in the future.  Feel free to ping me if you would like help on how that might look...

[2016-06-27 17:36] #13612 closed

[2016-06-27 17:36] rwjblue commented on #11977
Thanks @raytiley.  I'm going to close this for now, but I would love to land a new query params test to ensure we do not regress here in the future.  Feel free to ping me if you would like help on how that might look...

[2016-06-27 17:36] #11977 closed

[2016-06-27 17:39] eguitarz commented on #13612
@raytiley I tested on canary (2.7.0-canary+8e9ec7dd), and it works! Looking forward to next release!

[2016-06-27 23:38] zackthehuman commented on #13644
I'm working on fixing array iteration. PR here: https://github.com/emberjs/ember.js/pull/13763

Related tests:

- {{each}} it can render duplicate primitive items
- {{each}} it can render duplicate objects

[2016-06-28 14:33] locks opened #13767 "Fix links to Ember Inflector source code in API docs"
Original issue: https://github.com/emberjs/guides/issues/1538#issue-162357683
Submitter: @thomascchen

[2016-06-28 17:07] yads commented on #12857
My use case is in a mixin that is configured by whatever route extends it. Part of the mixin is to configure the correct rendering, so the `controllerName` and `templateName` should be dynamic. I did solve it with the suggestion that @rwjblue provided, by using `Object.defineProperty` in the init method. However it's unintuitive since almost everywhere else you can use computed properties.

I gues

[2016-06-29 13:41] fknoll opened #13771 "this.paramsFor(routeName) with the routeName of a route not previously visited"
Using
[code]
It seems like using ```this.paramsFor(routeName)``` **with the routeName of a route not previously visited** makes my application fail - not immediately, but later on, when I transition to the route.

When starting my application, I want automatically to show a specific route ```reg``` directly nested under the ```application``` route.

For route ```reg``` I have defined two query par

[2016-06-29 17:06] JackCA commented on #13747
We've run into this at Heroku as well and have been using https://github.com/DockYard/ember-one-way-controls in place of the raw input tag.

[2016-06-30 05:01] smitakiran25 opened #13776 "Retrieving data from the dabase"
Please tell me how to fetch the data from firebase

app/template/gmap.hbs

{{#leaflet-map lat=lat lng=lng zoom=zoom}}

{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

{{#each model as |c|}}
{{#layers.marker lat=c.latitude lng=c.longitude draggable=true}}
{{/layers.marker}}
{{/each}}

{{/leaflet-map}}
app/controller/newcase.js
import Ember from 'ember';
export defau

[2016-06-30 06:21] topaxi commented on #13776
This isn't really the place to ask how to implement specific features. I'd suggest you ask the question on Stackoverflow: http://stackoverflow.com/questions/tagged/ember.js

Before you do that though, you might want to checkout https://www.firebase.com/docs/web/libraries/ember/quickstart.html :)

[2016-06-30 06:23] Serabe commented on #13776
Hello, @smitakiran25. I am closing this since, as @topaxi said, it is not an Emberjs bug. Please, either ask the question in StackOverflow or go to #-help channel on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

Thank you!

[2016-06-30 06:23] #13776 closed

[2016-06-30 06:26] Serabe commented on #13771
Can you please try to replicate the bug in a Twiddle, please. Thank you!

[2016-06-30 07:32] smitakiran25 commented on #13776
Ok Thank You :-)

[2016-07-01 10:01] v3ss0n commented on #12102
so this is fixed in beta 2.7 merged ?

[2016-07-01 12:09] RomanPerin opened #13779 "Ember documentation is in mess."
It is very uncomfortable to work with such 'list':

![mess](https://cloud.githubusercontent.com/assets/8298800/16521129/6a30f7da-3f9d-11e6-8c57-dfb5a98e860c.png)

It will be great to see it like it was...

Thanks in advance)

[2016-07-01 12:10] rwjblue commented on #12102
Please test to confirm, but yes that is what we believe.

[2016-07-01 12:11] rwjblue commented on #13779
Hmm, I'm not sure when this happened.

@locks - Do you have a guess as to which change caused this?

[2016-07-01 12:17] RomanPerin commented on #13779
It is caused by next styles:
.api ul.index-list li {
    ...
    display: inline-block;
    ...
}

[2016-07-01 12:19] locks commented on #13779
Likely related to https://github.com/emberjs/website/issues/2638. Closing this one and tracking the issue there.

[2016-07-01 12:54] rwjblue commented on #13779
This is still an issue after ensuring the latest is deployed.

[2016-07-01 13:27] locks commented on #13779
Done ;) Thanks for the tip @RomanPerin. It was a recent PR that introduced bourbon and tweaked a couple of styles, and an include was overriding the `display: block;`.

[2016-07-01 13:27] #13779 closed

[2016-07-01 13:38] rwjblue commented on #13779
OH! I just realized this is in the emberjs/ember.js repo. I apologize for missing this earlier, issues with the website should have been opened on the emberjs/website repo instead.

[2016-07-01 16:03] rwjblue commented on #12080
Added assertions to tests being added in #13775 to ensure that this does not regress again in the future.

[2016-07-01 16:48] RomanPerin commented on #13779
Oh, sorry for the mismatch.
Also great thx for the quick fix)

[2016-07-01 19:30] v3ss0n commented on #12102
ok i will test when 2.7 released , can't upgrade coz the project with 2.6 version is close to release now.

[2016-07-01 19:46] #12080 closed

[2016-07-01 19:53] #12716 closed

[2016-07-01 19:53] #13028 closed

[2016-07-01 20:16] amk221 commented on #12716
Thank you everyone!

[2016-07-03 16:14] NullVoxPopuli opened #13786 "no model was found for plural-model-name"
[code]

![image](https://cloud.githubusercontent.com/assets/199018/16546413/73feeada-4117-11e6-9ded-1df8666a846b.png)

this only happens sometimes, but it seems like it's not trying to singularize the `events` type to `event`.

I have an `event` model, and if I refresh the page, I don't get `no model was found for 'events'`. So, not sure why this is happening only sometimes.

Here is the action th

[2016-07-03 16:45] Serabe commented on #13786
Hello, @NullVoxPopuli, this seems more like a question than an Ember.js bug. Can you please reproduce the problem in an ember-twiddle to check if it is a problem in the framework? Here you have a [twiddle](https://ember-twiddle.com/e17b37f4aa8e458546d5) using mockjax to mock ajax calls.

If what you are looking for is help with your code, please, go to #-help channel on Slack. If you are not regis

[2016-07-03 17:30] NullVoxPopuli commented on #13786
thanks, I'll try to re-create in a twiddle

[2016-07-04 11:36] NullVoxPopuli commented on #13786
here is a twiddle showing the error in the console: https://ember-twiddle.com/46a491da1f665904b4647f181a85aa2f

[2016-07-04 11:37] NullVoxPopuli commented on #13786
it might have something to do with polymorphic models.

[2016-07-04 11:59] Serabe commented on #13786
Seems like emberjs/data only accepts singularize `type` in `belongsTo` relationships. As of [JSONAPI Identification](http://jsonapi.org/format/#document-resource-object-identification), this might be a bug. Since this is emberjs/data related, can you please move the issue there?

Thank you!

[2016-07-04 12:03] NullVoxPopuli commented on #13786
posted here: https://github.com/emberjs/data/issues/4460

[2016-07-04 12:03] #13786 closed

[2016-07-04 12:04] Serabe commented on #13786
Thank you!

[2016-07-04 13:23] SaimonL opened #13788 ""ember generate route about" is not working"
Hi I was following the document then I came across the section "https://guides.emberjs.com/v2.6.0/tutorial/routes-and-templates/".

Then I tried the command
[code]
and I end up getting the error
[code]

Here is some information:
I am using Ubuntu 14.04 (64-Bit).
I have intalled Node.js from their official website (I did "apt-get remove nodejs" first).
I am using **ember-cli-emblem**
[code]

Here i

[2016-07-04 13:44] SaimonL commented on #13788
So what I found out is that by installing **ember-cli-emblem** the command lines changes.
When you run:
[code]
The command changes towards emblem or something. Now I am trying to find the command that does **ember generate route about** in emblem command.

[2016-07-04 18:22] leo commented on #13788
If this is a real bug, then it's related to [EmberCLI](https://github.com/ember-cli/ember-cli), not Ember itself. :blush:

[2016-07-05 12:06] bmeurant commented on #13227
It seems I finally managed to solve this problem. As pointed by @rwjblue it is related to poor `\r\n` management in the pattern [here](https://github.com/emberjs/ember.js/blob/master/lib/jscs-rules/require-comments-to-include-access.js#L8). Changing to `/^\*\r?\n\s*@module.+\r?\n(?:\s*@submodule.+\r?\n)?$/` seems to fix it.

@AmazingJaze It seems that you tried this without success but I think tha

[2016-07-05 12:32] rwjblue commented on #13227
Closing now that https://github.com/emberjs/ember.js/pull/13791 is merged. Let me know if the issue persists, and I can reopen.

[2016-07-05 12:34] Serabe commented on #13788
Hello, @SaimonL.

Thank you for reporting this. Sadly, this only happens when adding `ember-cli-emblem`. There is even a similar issue open in that repo: Vestorly/ember-cli-emblem#41

I don't see any reference to ember-cli-emblem in the linked guide. If there is one, please, let the learning team know by opening an issue in emberjs/guides.

I am closing this since this is not a bug in ember itself

[2016-07-05 12:34] #13788 closed

[2016-07-05 12:39] locks commented on #13788
I just want to leave the extra note that since `ember-cli-emblem` is not a "core" package, updates might drag a bit, so using htmlbars is recommended.

[2016-07-05 14:06] Turbo87 opened #13793 "Ember.Test.wait() documentation example outdated"
Currently the API docs of `Ember.Test.wait()` suggest to return it from an async test helper, but according to @rwjblue and the guides this shouldn't be necessary anymore.

[2016-07-05 14:07] Turbo87 commented on #13793
https://github.com/emberjs/website/commit/c5a577a162ad8e221420f4efe4a24626071cd59e removed the `wait()` call from the guides.

[2016-07-05 17:58] chancancode opened #13794 "Fix beta builds"
Beta builds are failing on MS Edge with this error:

![MS Edge failure](https://assets.saucelabs.com/jobs/c0e622d62c3a411a8635d6e7d05f69ff/0255screenshot.png)

This might or might not be [a bug in the browser](https://github.com/emberjs/ember.js/pull/13328#issuecomment-218809667). Supposedly, another PR on master ["fixed"](https://github.com/emberjs/ember.js/pull/13328#issuecomment-220223613) the

[2016-07-05 21:48] asakusuma commented on #13794
Was there a code change that caused this? Looks like the same error. @jdalton said the issue looks familiar but we have not been able to provide him with a concise repo. Migrating the test to the new test harness if what "fixed" the issue.

[2016-07-05 22:12] jdalton commented on #13794
Can you see if this repros with the F12 dev tools open (debugger attached)

[2016-07-05 23:32] lucasqiu commented on #13767
I'd like to submit a PR for this if appropriate.

@locks  Should the fix be made here or https://github.com/emberjs/website/ ?

[2016-07-06 21:50] gregwym commented on #10779
@stefanpenner could you please elaborate? It is quite frustrating when a computed property does not update when its dependent value is changed. Are we deprecating `Ember.computed.filterBy` entirely?

[2016-07-06 21:54] nathanhammond opened #13795 "[BUG beta] `baseURL` incorrectly set in ember-routing/location/history-location"
If a user adopts the 2.7 version of Ember CLI and applies the [`<base>` workaround we discuss](http://emberjs.com/blog/2016/04/28/baseURL.html#toc_everything-is-broken-help) without specifying a `baseURL` inside of their application the following breaks us:
https://github.com/emberjs/ember.js/blob/08dbada375a968f353a10a71aed95f87d372149f/packages/ember-routing/lib/location/history_location.js#L30

[2016-07-06 22:25] chrisjshull opened #13796 "ES Symbols break classes"
[code]
https://ember-twiddle.com/f2fa721c2a2e60ee3baed80c7de66e13

This alerts "1" in Safari (9.1) with the web inspector closed, and "function bar() {}" with the web inspector open. Chrome (correctly) always alerts "function bar() {}".

[2016-07-06 22:35] rwjblue commented on #13795
I do not understand the issue here.  Can you please create a repo (or twiddle) that shows the failure scenario?

I believe that the linked line of code should continue to exist, but to get to the bottom of things we need to be talking about concrete scenarios.

[2016-07-06 22:44] rwjblue commented on #13796
Ummm. WAT.

[2016-07-06 23:01] nathanhammond commented on #13795
@martinmalinda Can you help us create a repository that runs through all of these permutations? (Even the ones that I added comments about "nobody should ever do this.")

| | Ember CLI 2.6 - autopopulated `<base>` | Ember CLI 2.7 - no `<base>` | Ember CLI 2.7 - manually added `<base>`
| --- | --- | --- | --- |
| **`baseURL` set, `rootURL` set** | | Nobody should ever do this. | If you do this and

[2016-07-06 23:07] nathanhammond commented on #13795
Note: if we load `rootURL` and `baseURL` in from the config values every time I believe that we skirt the possibility of any issue, even in light of this comment from above:

The problem I see here is that we rely upon the `<base href="">` value to match the `baseURL` value, which it does in Ember CLI 2.6, but I believe that also magically includes things like `rootURL` and other strange build-tim

[2016-07-06 23:16] rwjblue commented on #13795
Ember has no concept of `baseURL`. That is an ember-cli only thing, and the result of specifying a `baseURL` in `config/environment.js` in all versions of ember-cli is to emit a `<base href="/the/value">`.  So I'm not sure what you mean about `<base>` not matching `baseURL`.

[2016-07-06 23:36] nathanhammond commented on #13795
I'm looking at these two places, which look like the same thing that we did in Ember CLI:
- https://github.com/emberjs/ember.js/blob/master/packages/ember-routing/lib/location/history_location.js#L70-L71
- https://github.com/emberjs/ember.js/blob/master/packages/ember-routing/lib/location/history_location.js#L218

[2016-07-06 23:50] mmun commented on #10779
@gregwym can you file a new bug if one exists?

[2016-07-06 23:51] chrisjshull commented on #13796
If so, would be good to get a reduction. Unfortunately, I'm not familiar enough with the Ember stack to track down a Heisenbug like this. Perhaps someone can help?

[2016-07-07 00:19] rwjblue commented on #13795
Ya, the location implementations are honoring a `<base>` tag (just like an `<a>` or any other native asset loading would have to).  That internal property is definitely not public API.

In general, we cannot remove the concept of reading `<base>` from the document when starting routing unless we want to break any existing ember-cli apps with that Ember version (and break "the web" 😝).

[2016-07-07 00:43] rwjblue commented on #13796
Agreed. We need to figure out what is going on here.

While randomly poking at it, I noticed that this does alert the right value:

[code]

[2016-07-07 01:14] rwjblue commented on #13796
Thanks to @krisselden, [here](http://jsbin.com/bayuvupaka/edit?js,output) is a minimal reproduction:

[code]

[2016-07-07 02:49] krisselden commented on #13796
@chrisjshull this is fixed at least in WebKit nightly, Safari 9.1 uses over a year old WebKit version.  This does not seem like something we can workaround.  JITed code that reads objects with Symbols in Safari seems fatally buggy.

What I don't understand is why do you have a symbol in there anyway?

[2016-07-07 06:29] MartinMalinda commented on #13795
I thought that's why rootURL was introduced. Since it's being set directly on the router it's more explicit. The fact that router is looking at DOM and reading from base tag is quite counter-intuitive to me.

I thought the point of deprecating baseURL is so we can move from `baseURL + rootURL` to just `rootURL` that gives freedom to put assets to different path without affecting routing url.

it c

[2016-07-07 06:55] Turbo87 commented on #13795
If I remember correctly `rootURL` is used primarily for the app routing, but is not so much related to the assets. You can use the `prepend` option of https://github.com/rickharrison/broccoli-asset-rev if your assets are deployed to a CDN and you want to adjust their paths.

[2016-07-07 08:07] sourvb opened #13798 "Get the DOM of a component with tagName="""
Hi,
I am setting tagName="" in my component. I cannot use any tagName, or else it will break the my page style. I want to access the DOM of that component. Using this.$() throws an error saying object not available for tagName=="". Is there any solution for this?

[2016-07-07 09:37] SaimonL commented on #13788
Thank you guys. Yes htmlbars it is, I do love HAML

[2016-07-07 10:46] mkay581 commented on #13798
Interesting... I'm just curious... does setting the `tagName` property to an empty string in the component JS file give you the same result?

[2016-07-07 10:49] miguelcobain commented on #13798
related: https://github.com/emberjs/ember.js/pull/12500

[2016-07-07 13:56] danmcclain commented on #13796
Was testing in the latest Safari Tech preview, and this still seems to be an issue (opening the dev tools works). Went for the heck of it and tried with the latest WebKit nightly, and saw that this is *not* fixed in the nightly (or if it was, it has regressed)

![js bin - collaborative javascript debugging 2016-07-07 09-54-36](https://cloud.githubusercontent.com/assets/144138/16655595/13bc3852-442

[2016-07-07 16:47] AmazingJaze commented on #13227
I've confirmed the fix.

[2016-07-07 16:47] #13227 closed

[2016-07-08 05:21] chyxion opened #13802 "Could helper `query-params` support object params"
For Example:

I think it's necessary if we don't know how many params, thanks.

[2016-07-08 11:39] fknoll commented on #13771
Hallo @Serabe,

See first part of a twiddle reproduction [here ](https://ember-twiddle.com/c73b62574ff88d64d07bd58e61140001).

Try URL: ```/character?firstName=Snif```
Unfortunately twiddle does not display the error, that I see in Console on my own PC:
[code]
Any proposals about how **to avoid the transition** in ```app/routes/application.js``` method ```redirect()```, when the application is sta

[2016-07-08 13:11] chrisjshull commented on #13796
Ah, perhaps I over-reduced the problem. I originally hit this when doing a reopenClass, like this: https://ember-twiddle.com/176c808569ddd3c1ad7e35dfc4712c3e

Since you brought it up though:
- if symbols shouldn't work thru a .create(), why is the test case working fine in Chrome?
- is it documented somewhere that non-enumerable types aren't supported?
- shouldn't lack of support for this be a bug

[2016-07-08 14:41] markmhx commented on #13005
I believe I may be facing the same issue as @justin-hackin above wherein I can set the `layout` property of a component to the result of an `Ember.HTMLBars.compile` successfully, but I can't get it to change at runtime by making it a computed property. Thus I'm not sure how to rely on the `layout` property if it can't be successfully bound to one or more model values (a property called `markdown`

[2016-07-08 15:01] rwjblue commented on #13005
As of Ember 1.13 and later is not possible to change the layout of a component after it initially renders.

[2016-07-08 15:07] markmhx commented on #13005
@rwjblue thanks for the clarification, although that's a bummer. Is there any plan to reintroduce it or is there a rationale I'm missing?

I'm not sure how to regenerate layouts based on model data (two different blog posts sharing the same route and components, for example) unless I can blow away previous layouts then generate them anew.

@krisselden seems to have laid out [a strategy above](http

[2016-07-08 16:09] pixelhandler commented on #13796
@chrisjshull @rwjblue this is not an Ember specific issue but a broader issue for `Symbol` use correct? If so should this be closed once the issue is opened up with Webkit bug tracker? https://bugs.webkit.org

[2016-07-08 16:15] locks commented on #13767
@lucasqiu here, the documentation is in the source code :) Thanks for the interest!

[2016-07-08 16:18] pixelhandler commented on #13802
@chyxion is this a feature suggestion? Or question? I'm curious if you've asked on the http://embercommunity.slack.com chat room.

[2016-07-08 16:23] pixelhandler commented on #13798
@sourvb looks like #12500 will add the support your looking for, thanks @miguelcobain

[2016-07-08 16:29] chancancode opened #13803 "[Glimmer 2] Refactor references (metadata)"
- Remove special const reference flag, use identity of CONST_TAG instead (tag dynamically return the const value is not the same thing – think compile time vs runtime for an analogy)
- Refactor how Ember install metadata on references
  - Avoid `Object.create`
  - Known metadata slots: `[EACH-IN]`, `[UPDATE]`, `[INVOKE]`
  - For most operations, you just drop the metadata; sometimes you would want

[2016-07-08 16:30] miguelcobain commented on #13798
@pixelhandler you can see in that issue that @wycats had some problems with adding that feature.
Maybe we can have this functionality in an addon? /cc @runspired

[2016-07-08 17:09] chancancode opened #13804 "[Glimmer 2] Volatile tags do not play nice with skip-if-not-modified"
* [x] Fix iterators to not use volatile tags
* [x] Audit remaining volatile tags, ~~maybe remove?~~
* [x] Potential infinite loop in `didChangeAfterRender` when volatile tag is involved?

[2016-07-08 19:03] pixelhandler commented on #13771
@fknoll is the `character` route the default route? could use `this.route('character', {path: '/'});` to make it so.

[2016-07-08 20:25] krisselden commented on #13803
Can you just make one flags symbol as a bit set and every ref has it? Each megamorphic miss starts to add up.

[2016-07-09 02:33] krisselden commented on #13796
It is a Safari issue, WebKit works now. And this has nothing to do with Ember.

[2016-07-10 07:26] siva-abc commented on #13802
We could write a custom helper to construct qp.

[code]

[code]

[2016-07-10 10:48] MartinMalinda commented on #13795
@Turbo87 that works well if you know the path at build time. In my edge case I don't know where the app is served from.

Anyways, here's the repo: https://github.com/MartinMalinda/ember-baseURL-test

And summary:

|                              | Ember CLI 2.6 - manually added `<base>`                                                                                                           | Ember

[2016-07-10 12:00] Serabe commented on #13796
Thank you all for your efforts on this issue. Since this is not an Ember issue, I'm closing it.

Thank you all!

[2016-07-10 12:00] #13796 closed

[2016-07-10 16:52] nathanhammond commented on #13795
@MartinMalinda I'm _incredibly_ grateful for the research you've done here. This is tremendous. If I ever have the privilege of meeting you in person your drinks are on me. 🍻

I'll dive in and analyze later today!

[2016-07-10 21:16] MartinMalinda commented on #13795
I think there's no need for urgency on this, I think there's no major bug, but I hope the repo will be useful anyway. It's still above my skill level to contribute to the core so I'm glad I could help somehow. :)

[2016-07-11 03:30] chyxion commented on #13802
Well, this is a feature suggestion, I did not ask this issue before, I know we can write a custom helper, but I think this feature is necessary, thanks.

[2016-07-11 09:08] Turbo87 commented on #13795
I'm afraid I still don't understand what the actual issue is here. The table above (thanks a lot @MartinMalinda!) indicates that everythings works as designed:

- `baseURL` and `rootURL` are not supposed to be used at the same time
- using only `baseURL` still works in all Ember CLI versions
- using only `rootURL` works in Ember CLI 2.7 and above
- using none of those options explicitly also works

[2016-07-11 09:24] MartinMalinda commented on #13795
@Turbo87 yes, sorry for the confusion I initially misunderstood what deprecating baseURL actually means. I thought it also means that reading from `<base>` by Ember is deprecated as well, but apparently it's not.

I believe this can be closed. I can reach out on Slack about my particular use case later.

[2016-07-11 09:40] Turbo87 commented on #13795
IMHO we should probably deprecate this too, but this presents us with the problem that using an Ember version where it is deprecated with a sub-2.7 version of Ember CLI will have no option to fix the deprecation (other than updating Ember CLI). this might be an artificial issue though and is probably not relevant in reality. we should however wait until Ember CLI 2.7 is the stable release and see

[2016-07-11 09:48] rwjblue commented on #13795
Sounds good to me.

[2016-07-11 09:52] Kricket opened #13805 "Binding not working with each-in helper?"
See accepted answer on stackoverflow: http://stackoverflow.com/questions/38302396/ember-binding-on-custom-objects

Is it normal that the use of get is required? Or can each-in be fixed to avoid this extra boilerplate?

[2016-07-11 11:25] sourvb commented on #13798
Thanks @pixelhandler and @miguelcobain. Is there any alternative solution for this?

[2016-07-11 14:37] pixelhandler commented on #13805
@Kricket it looks like the answer on stack overflow also includes a working example. Perhaps ask for feedback in the embercommunity.slack.com #-help channel. If the binding doesn't change, the template doesn't update. See: https://guides.emberjs.com/v2.6.0/templates/displaying-the-keys-in-an-object/#toc_re-rendering

[2016-07-11 14:37] #13805 closed

[2016-07-11 21:02] nathanhammond opened #13806 "Different behavior for <elem {{action 'foo'}}> and <elem onclick={{action 'foo'}}>"
I'm not entirely sure what expected behavior is, but this feels like something that should either: be consistent, or be clearly documented.

- [Reproduction by @shwoodard](https://ember-twiddle.com/452f76f0c24261795ba81ba00b07313d)
- [Reproduction by @oligriffiths](https://ember-twiddle.com/5087b7249d162fba1cb8560e229fd60a?openFiles=controllers.application.js%2C)

/cc @locks

[2016-07-11 23:50] thoov opened #13809 "Cannot chain embers array functions when EXTEND_PROTOTYPE=false"
When disabling array prototype extensions the following occurs:

[code]

This prevents you from chaining multiple methods off one another.

[code]

This means that you must wrap Ember.A's after each method which seems counterintuitive.

[code]

[2016-07-12 01:14] locks commented on #13809
@thoov this is to be expected, as prototypes are turned off and Ember.A methods return regular arrays.

[2016-07-12 01:31] stefanpenner commented on #13809
This is expected, `Ember.A` is not intended to provide these methods that is a byproduct but not intended.

[2016-07-12 01:31] #13809 closed

[2016-07-12 01:32] nathanhammond commented on #13795
I _believe_ that I've confirmed that this can be closed. I just played around with all of the permutations. It's going to get wonky to explain what's going on to people who have weird setups, but we'll deal with it.

[2016-07-12 01:32] #13795 closed

[2016-07-12 04:35] thoov commented on #13809
@stefanpenner I guess what I don't understand is if the docs are saying this: https://guides.emberjs.com/v2.6.0/configuring-ember/disabling-prototype-extensions/#toc_arrays

"You can manually coerce a native array into an array that implements the required interfaces using the convenience method Ember.A"

I don't get why simply calling one of these "convenience" methods removes them from the objec

[2016-07-12 06:15] stefanpenner commented on #13809
Each convenience returns a fresh array, which would then also need to be patched (which is slow and somewhat brittle). Why not leave EXTEND_PROTOTYPES on in fast-boot, and there is no issue (and no performance hit for constantly needing to patch array instances).

[2016-07-12 07:40] thoov commented on #13809
@stefanpenner There is an issue with fastboot + prototype extensions:

`Ember Prototype extensions weren't available in an array created by an najax response - npm packages that are required are from the root node VM, which creates new realms and prevents requirements from being extended by Ember - Potential fix: create your own require that is with a known realm - This will bite people in the fut

[2016-07-12 07:55] Kricket commented on #13805
Ah, OK, I missed that bit.

But may I ask why `each-in` specifically doesn't bind? Conceptually, it's not all that different from `each`...

[2016-07-12 08:47] locks commented on #13805
@Kricket but they are. `each` listens to inserts, deletes, and replaces, kinda like a `computed('array.[]')`. The equivalent for an `each-in` would be `computed('obj.{oneProperty,anotherProperty,etcetc}`, which is a performance sink.
Does that parallel help?

[2016-07-12 09:25] Serabe commented on #13802
Hello @chyxion.

Thank you for your suggestion. This repo is for Ember.js bugs only but you can submit this to [emberjs/rfcs](http://github.com/emberjs/rfcs) so the community can discuss it.

Thank you so much!

[2016-07-12 09:25] #13802 closed

[2016-07-13 08:18] Kricket commented on #13805
OK, so basically javascript makes it easier to listen en masse to add/remove/modify operations on Array elements than on object properties.

[2016-07-13 09:23] FredUK opened #13813 "beforeModel() transition.queryParams always empty"
I've just noticed that in `beforeModel(transition)` the `transition.queryParams` is always an empty object
![image](https://cloud.githubusercontent.com/assets/11888256/16798310/5e72ea62-48e3-11e6-82db-0cf3ef5cdcff.png)

Here's a twiddle demonstrating the issue: https://canary.ember-twiddle.com/ade8b543f299795dfd88ccbfb892ad20?openFiles=routes.article.show.js%2C&route=%2Farticle

Make sure to open

[2016-07-13 11:47] Turbo87 opened #13815 "Map and MapWithDefault marked as private"
The `Map` and `MapWithDefault` classes are currently marked as `@private`, yet they are exported through the [shims](https://github.com/ember-cli/ember-cli-shims/blob/master/app-shims.js#L94-L97). It looks like the `@private` tag was added in https://github.com/emberjs/ember.js/pull/11362.

It seems inconsistent to me to export the classes but mark them as private so I'd like to propose marking th

[2016-07-13 13:07] kamilogorek commented on #13042
It looks like mentioned PR has been already resolved – https://github.com/emberjs/ember.js/pull/13044

[2016-07-13 13:53] cibernox commented on #13042
@kamilogorek But it's not merged. The only concern was performance?

[2016-07-13 13:55] kamilogorek commented on #13042
@cibernox main issue was that tests were not passing on Travis and as you mentioned, performance. Tom already approved small performance decrease and tests are passing as well so it should be good to merge.

[2016-07-13 19:58] praxxis commented on #13806
Depending on what you're referring to with "behaviour", https://github.com/emberjs/guides/issues/1345 is about the documentation side

[2016-07-14 00:49] rwjblue commented on #13815
The shims aren't guaranteed to all point to public things.

I'm unsure if we intend to have these be public or not. I'd like to hear from other core team members...

[2016-07-14 09:27] Turbo87 commented on #13815
can I interpret the 👍  from @stefanpenner as acknowledgement? 😉

[2016-07-14 09:39] Serabe commented on #13813
Can you please add an example where the query parameters are needed in a `beforeModel`? IMHO, query parameters are related to the model in some way so the place to use them is `model`.

[2016-07-14 11:54] sukima commented on #13529
@stefanpenner Is this issue done? Can it be closed?

[2016-07-14 14:07] #13529 closed

[2016-07-14 14:07] rwjblue commented on #13529
Thanks @sukima!

[2016-07-14 16:12] DinisCruz opened #13821 "Add sinks from jPurify"
As seen here https://github.com/cure53/jPurify

[2016-07-14 16:13] DinisCruz commented on #13821
Sorry, created this on the wrong project :(

[2016-07-14 16:13] #13821 closed

[2016-07-14 16:43] blimmer opened #13822 "sortBy on Ember Array does not sort when ':asc' is added"
[Demo](https://ember-twiddle.com/de424345c2fb44335709e4be9081f485)

I expected to be able to do something like this:
[code]
but I'm seeing different behavior when using `fooProp:asc` vs. just `fooProp`. The twiddle linked above shows the issue I'm experiencing.

[2016-07-14 20:55] btecu opened #13823 "Unable to set parent properties while in `init` and initial `didReceiveAttrs` hooks"
Using Ember 2.6, I'm trying to update a value passed into a component before the component is rendered. I've tried using the hooks that make most sense (`init`, `didReceiveAttrs`) but none appear to be able to mutate it. `didReceiveAttrs`works on re-renders but not on initial render. `didInsertElement` works, but it's obviously bad practice and it triggers many deprecations. Any ideas? Is this a b

[2016-07-14 21:34] Serabe commented on #13822
Hello, @blimmer,

thank you for this report. This is not a bug. [Enumerable#sortBy](http://emberjs.com/api/classes/Ember.Enumerable.html#method_sortBy) requires the name of the property/ies and does not accept `:asc` nor `:desc` modifiers. If you want to use those, take a look at [Ember.computed.sort](http://emberjs.com/api/classes/Ember.computed.html#method_sort).

Thank you!

[2016-07-14 21:34] #13822 closed

[2016-07-14 22:08] bttf opened #13826 "Cannot read property 'outlets' of undefined - Transitioning from setupController while application is loading"
I was unable to repro this in JSBin or Ember Twiddle for some reason, so created a basic app that demonstrates the issue:

https://github.com/bttf/ember-app-loading-transitions

When calling `transitionTo` from the `setupController` hook in a child route, while application model hooks are still blocking, the app fails to render the route, and spits out `Uncaught TypeError: Cannot read property 'ou

[2016-07-15 12:02] Serabe commented on #13771
Hello, @fknoll:

I cannot see any `paramsFor` in your Twiddle. Can you please provide the twiddle with the `paramsFor` problem? It looks like the problem in your second comment is different that the one in the original post. If you cannot get to reproduce it in a twiddle but you can reproduce it in a small project, please, upload it to GitHub and I'll take a look there.

Thank you!

[2016-07-15 15:08] Serabe commented on #11291
@chancancode can you please give an update on this and close it if it is not longer needed? Thank you!

[2016-07-15 16:14] pixelhandler commented on #11291
@chancancode perhaps this needs to be closed and reopen if necessary when work begins?

[2016-07-15 16:16] chancancode commented on #11291
Sorry, I don't remember the context but i suspect it's fixed now 😞

[2016-07-15 16:16] #11291 closed

[2016-07-15 16:18] pixelhandler commented on #13771
@fknoll have you reached out in the #-help channel of the embercommunity.slack.com chatroom? I'm curious if this may be more of a support need than an Ember bug.

[2016-07-15 16:22] pixelhandler commented on #13798
@sourvb personally I do not use `tagName=""` I would use a tag so I could access the DOM if needed. Which as you've mentioned requires fixing some style issues. I also avoid style libraries that prohibit how I can build HTML in my apps. But I get that is not always the case, is there a way you can use a tagName and fix the style issue some how?

[2016-07-15 16:28] pixelhandler commented on #13005
@perlun This is not a bug, closing for now. I should suggest an alternative solution, perhaps using the `component` helper so the components in your templates can be dynamically chosen.

[2016-07-15 16:28] #13005 closed

[2016-07-15 16:36] pixelhandler commented on #12857
@foxnewsnetwork I agree with @rwjblue Ember has conventions that developers can count on changing `templateName` in a way that can become dynamic sounds like a debugging headache in the making. Is there a way you can just define all the routes you need and associated templates?

I'll close this out for now. If you want to continue the discussion please create an RFC issue (not PR) https://github.c

[2016-07-15 16:36] #12857 closed

[2016-07-15 18:39] pixelhandler commented on #13826
@bttf regarding `transitionTo` seems like using that in `setupController` is not the way to go.

https://github.com/bttf/ember-app-loading-transitions/blob/master/app/groups/route.js#L5

I would stick with `beforeModel`, `model`, `afterModel` instead.

Is that reproducible in an ember-twiddle? seems like a bug. I thought the application-loading template would load instead of the application templa

[2016-07-15 18:52] pixelhandler commented on #13823
@btecu have you found any documentation on how to mutate attributes that are passed in? Seems to me that I would avoid changing an attribute that I passed into the component. I typically just compute properties for the component's use. If the component has setting it needs to do and also receives attributes I treat those as separate concerns. It seems that this example receives attributes and also

[2016-07-15 19:09] pixelhandler commented on #13823
@btecu `didReceiveAttrs` does the trick, see this twiddle: https://ember-twiddle.com/3f92337ff932302dc26556a93698029d?openFiles=templates.components.x-child.hbs%2C

[2016-07-15 19:15] pixelhandler commented on #13806
@nathanhammond @locks I think this should be moved to the guides repo, what do you think?

[2016-07-15 21:50] btecu commented on #13823
@pixelhandler No it doesn't. In your example is only getting changed locally.

I'm familiar with DDAU and I think in general it's the best way. However, there are some cases where direct binding it's more obvious and cleaner. No need to have an action for just setting a value.

The fact that it works on subsequent calls of `didReceiveAttrs` makes me think that this is a bug.

[2016-07-15 22:02] nathanhammond commented on #13806
Until I know what the actual behavior is supposed to be I can't answer that.

[2016-07-16 05:41] krisselden commented on #13823
init is for initializing and doesn't fire events, setting values on a parent that are rendered already is deprecated even if it were to fire the change event that would trigger the 2-way binding

[2016-07-16 05:55] magicismight opened #13828 "Can`t get container in initializers."
This won`t work in 2.6.0
[code]

[2016-07-16 05:59] magicismight commented on #13828
I can access container by using `application.__container__`.
Is this a bug or what?

[2016-07-16 06:44] krisselden commented on #13823
@btecu I do believe that didReceiveAttrs should be called on the init event, the idea is code in didReceiveAttrs should work the same on init and update so it should be called just after the component is fully initialized and fire events.

I personally consider this part to be a bug, it is zalgo to even have this hook if one time it is called it is very different than every other time, if you need

[2016-07-16 06:47] krisselden commented on #13823
@btecu I'm reopening this specific about `didReceiveAttrs`, `init` is definitely not supposed to trigger change events and you absolutely have to be aware of how overriding works, order of how things are initialized and calling super etc.  Though if you have bindings to your parent, make sure that it isn't affecting anything already rendered.

[2016-07-16 12:48] rwjblue commented on #13828
The container/owner is not intended to be available in initializers, only the registry is. This effectively means that you cannot do `.lookup` in an initializer. If you need access to `.lookup` during the initialization system you would need to use an instance-initializer instead.

Note: that the argument to initializers and instance-initializers can not have `Ember.getOwner` called on them. You w

[2016-07-16 12:49] rwjblue commented on #13828
Closing as this isn't a bug in the framework.

[2016-07-16 12:49] #13828 closed

[2016-07-16 12:53] rwjblue commented on #13823
@krisselden - This is **exactly** the same thing I tried to fix in https://github.com/emberjs/ember.js/pull/13351 that you argued strongly against. That override is simply wrong (as I stated in that PR), and prevents anything from flowing upstream before the component is `inDOM`.

[2016-07-16 16:16] krisselden commented on #13823
@rwjblue reread my comments, I'm more concerned that observers don't fire, the upstream flow I think is dubious, especially since it is done via a backdoor.  The only thing I consider a bug is that didReceiverAttrs fires inside the ctor and leaks a partially initialized object and doesn't fire events, this makes it radically different than when called during update.

[2016-07-16 16:19] krisselden commented on #13823
I would be ok with you other PR if it happened post init during the init event but we've talk about removing upstream flow that affects already rendered state so that would be an issue post init or update which your PR was focused on

[2016-07-16 18:36] sheriffderek commented on #10870
For anyone with running across this warning: here's an example of how to deal with it. The documentation alludes to some `escapeCSS()` method, but I think that's just pseudo code - because I can't find that anywhere. http://emberjs.com/deprecations/v1.x/#toc_binding-style-attributes

'image' model
[code]

'element-slider' component template
[code]

[2016-07-18 10:00] fknoll commented on #13771
Just returned from a short vacation - I apologize for lack of responsiveness.

I insist on my initial finding:  using ```this.paramsFor(<routeName>)``` makes Ember fail - not immediately, but later on, when doing a transition to ```<routeName>```.

I have created this reproducible scenario on Ember Twiddle:
https://ember-twiddle.com/c73b62574ff88d64d07bd58e61140001?openFiles=routes.application.js

[2016-07-18 10:37] fknoll commented on #13771
@pixelhandler Thank you so much for your input - it is appreciated. I understand your proposal! Yes, it might be a simple and usable workaround just to avoid my default transition in ```routes/application.js```. But I have a default transition including query parameters, and I do not know to handle that scenario by setting ```this.route('character', {path: '/'})```.

[2016-07-19 04:01] jasonmit opened #13840 "Router.map callbacks hung off Router constructor"
When you take into account fastboot, this becomes unsafe if you call Router.map mulitple times within your application.  A particular use case is we registered routes dynamically depending on user state and we do this in an instance-initializer.  Where this becomes a problem is each time a request is made the callback to Router.map is hung off the constructor and therefore gets invoked on subseque

[2016-07-19 07:31] nathanhammond commented on #13840
Yep, definitely an issue. This is made more frustrating by the many layers everything here has to go through in order to function the way Ember would like. If you can come up with a quick patch I would be happy to review it and we would likely land it. Depending upon the complexity/invasiveness the core team will decide what branch (canary, beta, release) to target. Probably a late addition to the

[2016-07-19 08:12] jasonmit commented on #13840
@nathanhammond right now I don't have a good idea on how I could patch it while keeping the API intact.  I was thinking of perhaps exposing a new API for registering callbacks that are concatted with `constructor.dslCallbacks` during `_initRouterJs`.

Let me know if you have any ideas and feel free to ping me on Slack.

[2016-07-19 15:41] nathanhammond commented on #13840
Everything in that area _should_ be considered private API. I don't believe we need to maintain API consistency in addressing this bug. (Somebody else please chime in and correct me if I'm wrong.)

The only addon I know of which really abuses this portion of the router is one of mine, [ember-route-alias, and even I don't touch it](https://github.com/nathanhammond/ember-route-alias/blob/master/addo

[2016-07-19 15:50] srvance opened #13844 "Provide read-only access to window.location"
Summary: Provide an Ember-y way to read the full URL contained in `window.location` that also supports testable ways of changing the value.

Context: I have a `site-brand` service that computes critical branding elements based on the domain used to access the app. First invocation is from `index.js` to set the window title with ember-cli-document-title, so router-based solutions aren't sufficient.

[2016-07-19 16:04] Serabe commented on #13844
Hello, @srvance. Given this is not a bug but a feature request, can you please move this to [emberjs/rfcs](https://github.com/emberjs/rfcs)?

Thank you!

[2016-07-19 16:04] #13844 closed

[2016-07-19 16:33] srvance commented on #13844
Done. Didn't realize I'd jumped to another repo when I read the guidelines.

[2016-07-19 18:52] jasonmit commented on #13840
I meant to say I don't know of a way of resolving this without implementing a new API for registering routes designed to be used at runtime instead of going through the constructor method.

[2016-07-19 19:15] marclundgren commented on #12903
@stefanpenner I can still reproduce this on ember `2.4.3`. I'll report back here with an ember-twiddle when I have some time.

[2016-07-19 19:22] nathanhammond commented on #13840
You could change the way we save off those references such that they're captured in a closure that is only accessible during that run? I _think_ that should be possible.

[2016-07-19 23:00] marclundgren commented on #12903
update: I'm blocked by ember-twiddle an issue.

https://github.com/ember-cli/ember-twiddle/issues/464

[2016-07-19 23:28] backspace opened #13846 "scheduleRevalidate in canary is causing test failures"
Hello! `travis-web` has recently started failing to build on canary. One of the [errors](https://travis-ci.org/travis-ci/travis-web/jobs/145931925#L595) is this:

`Promise rejected after visiting /builds/branches-tab: null is not an object (evaluating 'node.ownerNode.emberView.scheduleRevalidate')`

Which looks to be from [this line](https://github.com/emberjs/ember.js/blob/28cedad1418bedd2dad44eb

[2016-07-20 14:12] fewstera opened #13848 "Outdated documentation listing higher in search engines."
As a new user of Ember I find it rather annoying that when Googling Ember related queries, that outdated documentation is listed higher than the most recent and relevant documentation.

I know this obviously isn't an easy fix as much of it is out of your control, but a few ways I'd consider:
- Have a link from the outdated documentation to the new page (extra internal links should boost that pages

[2016-07-20 15:52] miguelcobain commented on #13494
Looks like this problem isn't solved yet @asakusuma @rwjblue

I get a `null is not an object (evaluating 'sm.scope._view.template.meta')` error.

Log: https://travis-ci.org/miguelcobain/ember-leaflet/jobs/146079848

Any idea?

[2016-07-20 15:57] Serabe commented on #13848
Thank you for this report. I think this is a dupicate/update of emberjs/guides#1185

Thank you for reporting this!

[2016-07-20 15:57] #13848 closed

[2016-07-20 16:41] asakusuma commented on #13494
@miguelcobain can you provide a failing test PR?

[We have a test that is supposed to guard](https://github.com/emberjs/ember.js/blob/5757ea5f8a7dd4e93113d1a195e18532656c07ea/packages/ember-glimmer/tests/integration/components/closure-components-test.js#L622) this problem but sounds like we are missing a case.

[2016-07-20 16:42] Serabe commented on #13846
Thank you for reporting this. I can confirm that this is failing and can be found in emberx-select (though canary is allowed to fail and therefore it was not noticed before). In that line:

* `node` is a `PropertyAttrMorph`. To be exact, a `selected` from an `x-option`.
* `node.ownerNode` is an `EmberMorph` whose `contextualElement` is `div#ember-testing`.

[2016-07-20 16:49] miguelcobain commented on #13494
I'll try to come up with a failing test for ember.

Meanwhile,
this is the failing test on ember-leaflet: https://github.com/miguelcobain/ember-leaflet/blob/master/tests/integration/components/tile-layer-test.js#L23-L48

and this is the component being tested: https://github.com/miguelcobain/ember-leaflet/blob/master/addon/components/tile-layer.js

which inherits from: https://github.com/miguelcob

[2016-07-20 17:19] backspace commented on #13846
Thanks for the confirmation, @Serabe. I forked the repository for the built version of Ember and made a [commit](https://github.com/backspace/ember/commit/952149936ef942f225f70fab9c3d509a5d134422) that adds guards against the absence of `node.ownerNode.emberView`. I [changed `travis-web`’s `ember-try` configuration](https://github.com/travis-ci/travis-web/commit/b4fc37228c52b7958eace3317c5c933e330

[2016-07-20 17:40] jasonmit commented on #13840
We spoke offline, the outcome was to spike two possible solutions and discuss.

[2016-07-20 23:06] rwjblue commented on #13846
Can someone try to bisect and narrow down which change caused the issue?

[2016-07-21 00:40] backspace commented on #13846
I can try that tomorrow, @rwjblue. Is there an easier way than putting a local filesystem path in `bower.json` and repeatedly running `npm run build` during the bisection?

[2016-07-21 01:20] ptgamr commented on #13357
This is an attempt for @rwjblue suggestion : https://gist.github.com/ptgamr/b5a3d34abb873d3e99cfc0e2c2f202e6

[2016-07-21 01:38] rwjblue commented on #13846
@backspace - Yes, definitely.

Something like this:

[code]

Now you can `git bisect` in the components ember repo (though the SHA's are slightly different).  But at least this way you will not have to `nom` after every bisect step.

[2016-07-21 04:25] backspace commented on #13846
Thanks for the suggestion, looks like it’ll be much faster. I tried it and it said

`Bisecting: a merge base must be tested`

and then chose a commit from 2014. I think I’ve only used bisect once before, I’ll try to figure out what’s wrong tomorrow.

[2016-07-21 04:45] backspace commented on #13846
Never mind, I think the problem was that I ran `git bisect good canary` instead of a particular SHA.

`19d69b45a106d6e555c9f75db6354495635b34bf is the first bad commit`

I tried making a [build set to use that commit](https://travis-ci.org/travis-ci/travis-web/jobs/146285868) and the [one before it](https://travis-ci.org/travis-ci/travis-web/jobs/146286008) but I had Bower trouble and I should rea

[2016-07-21 12:14] rwjblue commented on #13846
OK, based on the bisect it looks like https://github.com/emberjs/ember.js/pull/13775 introduced the failure.

[2016-07-21 12:14] rwjblue commented on #13846
/cc @krisselden

[2016-07-21 14:41] Serabe commented on #13846
@rwjblue Thank you for bisecting this!

[2016-07-21 15:12] rwjblue commented on #13846
Yes, thanks to @backspace for that.  I just tracked down which Ember SHA matched the components/ember one he mentioned above.

[2016-07-21 18:39] knownasilya commented on #11275
Seeing something similar, but a different situation.

I have an array QP on the ApplicationController, and in certain situations the array comes back serialized, i.e. a string instead of an array.

[2016-07-21 19:47] #13742 closed

[2016-07-21 23:18] jfelchner commented on #11275
@pixelhandler http://jsbin.com/puvovupatu/edit?html,js,output

[2016-07-22 03:35] williamweckl commented on #10776
@flyswatter I'm having the exact same problem! Also with loading.hbs... What did you do to fix it?

[2016-07-22 04:04] holtalanm opened #13854 "ember test; Building; Hangup;"
Exact output from running "ember test":

[code]

[2016-07-22 06:11] zackthehuman commented on #13806
To me the current behavior seems to make sense. The element modifier syntax (in other words, a "normal" action) binds the action to the event but basically discards the event object when calling the callback. The other syntax is essentially assigning a closure action (which is a function) to an inline event handler -- the typical DOM behavior is preserved: the callback receives the event argument.

[2016-07-22 06:15] Serabe commented on #13854
Hello @holtalanm.

Thank you for reporting this. It seems like an ember-cli problem. Can you please move this to [ember-cli/ember-cli issues](https://github.com/ember-cli/ember-cli/issues)? While you are at it, can you please check if this is happening with a fresh, new project? If not, can you try to reproduce it?

Thank you!

[2016-07-22 06:15] #13854 closed

[2016-07-22 07:53] oligriffiths commented on #13806
Zach

Would you mind detailing the implementation for those 2 approaches for clarity here? I want to make sure my issue is within that scope or out of it.

Thanks

Oli

[2016-07-22 14:52] flyswatter commented on #10776
Use more local loading hbs files, not a root level one.

[2016-07-22 15:57] pixelhandler commented on #13813
@FredUK @Serabe I'm curious about the Transition class being `private` http://emberjs.com/api/classes/Transition.html#content the only methods that are recommended to use are `abort` and `retry` see https://guides.emberjs.com/v2.6.0/routing/preventing-and-retrying-transitions/#toc-toggle and http://emberjs.com/api/classes/Ember.Route.html#method_beforeModel

I don't this it can be expected that th

[2016-07-22 16:00] pixelhandler commented on #13813
@FredUK this is not a bug in Ember, please reach out to the community in slack regarding your use case for working with query params, perhaps using the model hook will be fine.

[2016-07-22 16:00] #13813 closed

[2016-07-22 16:25] pixelhandler commented on #12791
I'm going to close this in favor of just using the work around.

[2016-07-22 16:25] #12791 closed

[2016-07-22 16:36] pixelhandler commented on #13798
@sourvb see this comment, https://github.com/emberjs/ember.js/pull/4790#issuecomment-231211050 Which does answer your question…

Closing this for now.

[2016-07-22 16:36] #13798 closed

[2016-07-22 16:41] pixelhandler commented on #13771
@fknoll can the `character` controller just set a value for `firstName: null` e.g. in setupController of route or in the code? (i.e. change `null` to `'something'`) ?

[2016-07-22 17:02] Serabe commented on #10916
This issue is still happening in [2.6.2](http://emberjs.jsbin.com/pidituqufu/1/edit?html,js,output). In beta still looks like:

![2016-07-22 at 19 01](https://cloud.githubusercontent.com/assets/36221/17064805/be792676-503e-11e6-8286-8e344a747b34.png)

While in 1.10 it looked like:

![2016-07-22 at 19 02](https://cloud.githubusercontent.com/assets/36221/17064829/d716a758-503e-11e6-8f8a-56b9d8e12b98

[2016-07-22 17:11] Serabe commented on #11597
In 2.6.2 and beta:

1. Got to http://output.jsbin.com/siqiwo#/page1?routeParam=foo&controllerParam=bar
2. Press link _Page Two_
3. You get to http://output.jsbin.com/siqiwo#/page2?controllerParam=bar&routeParam=foo

I am closing this since it looks like it has been fixed.

[2016-07-22 17:11] #11597 closed

[2016-07-22 17:12] Serabe commented on #11718
@krisselden is this still an issue now Ember 1.13 is long gone?

[2016-07-22 22:37] rwjblue opened #13862 "Move ember-testing helper docs to function definition."
Currently the documentation for the `ember-testing` helpers (things like `click`, `andThen`, etc) are all in the same file [here](https://github.com/emberjs/ember.js/blob/5d6cf8d2c9f1db847c19a03e23edc98b561edbdc/packages/ember-testing/lib/helpers.js), but now that we have split the helpers themselves into separate files I'd like to have each helpers documentation moved into the helpers specific fi

[2016-07-23 03:18] williamweckl commented on #10776
@flyswatter do you mean create a loading for every single route?

[2016-07-23 03:45] flyswatter commented on #10776
If you want the loading to appear for a sub-route, that loading template should be in that sub-folder. The global loading template will replace the whole view when loading.

[2016-07-23 03:51] williamweckl commented on #10776
I want the loading to appear for all routes but not when changing query params...

[2016-07-23 03:57] flyswatter commented on #10776
You could do the ol don't reloadData at the route level when changing the query Param and just hack that request into the controller.

But you're off the Ember happy path, as far as I understand.

I believe there may also be an undocumented router method you could override, like onQueryParamChange or something.

I haven't used Ember in 7 months, so it's a little hazy.

- Dan

[2016-07-23 04:29] williamweckl commented on #10776
Found the method `queryParamsDidChange`, basically it does a route refresh(), that will trigger loading.hbs. Any clues how could I change my model to filter with API without calling refresh?

[2016-07-23 04:31] flyswatter commented on #10776
No, this is a little too far behind me now, sorry. I don't even have access to the code I wrote for this anymore.

Good luck!

- Dan

[2016-07-23 04:35] williamweckl commented on #10776
that's ok. Thank you anyway :D

[2016-07-23 04:47] #13734 closed

[2016-07-23 06:52] krisselden commented on #11718
@Serabe the issue itself was an infinite sync loop in one run loop,  my suggestion of keeping a count of renders for one run loop I think still applicable but we can close this issue

[2016-07-23 12:01] #11718 closed

[2016-07-23 22:30] #12979 closed

[2016-07-23 22:32] chancancode commented on #12907
I think we are done here 😁

See #13644 for remaining edge-cases

[2016-07-23 22:32] #12907 closed

[2016-07-23 22:35] chancancode commented on #12778
I think we are done here 😄

[2016-07-23 22:35] #12778 closed

[2016-07-24 08:12] pranjalk commented on #13862
Hi! Can you assign this to me? This would be a nice way to start understanding ember.js

[2016-07-25 15:12] hckhanh opened #13884 "Ember.js and Node.js route"
When I work with Ember.js, I realized that there is a problem between **Ember.js** and **Node.js** route.
If I had a route with Node like this: `http://localhost/api/users` and another route in Ember.js: `http://localhost/users`, how could I call the Ember.js route?

In my case, I host the Ember.js files as **static resources** in Node.js server.

Thank you in advanced.

[2016-07-25 16:21] pixelhandler commented on #13884
@hckhanh have your asked your question in the embercommunity.slack.com #-help channel?

We use the ember.js/issue tracker mainly for reporting bugs. You will get a better response to your questions in the slack chat room or ember forums, see http://emberjs.com/community/ (slack is very active)

[2016-07-25 16:23] #13884 closed

[2016-07-26 07:35] martndemus opened #13888 "$.trigger does not trigger component actions."
The test suites of `ember-one-way-controls` and `ember-form-for` will not pass on `canary` and `2.8.0-beta`.

An example of what is failing: https://github.com/martndemus/ember-form-for/blob/master/tests/integration/components/form-field-test.js#L156-L164

Specifically this does not seem to trigger actions on components anymore:
[code]

Using `git bisect` I found that https://github.com/components

[2016-07-26 08:17] RobIsHere opened #13889 "Feature: Guard against non KVO-Compliant methods"
I just searched for an error in my code. A deeply chained computed property was not updating as expected. After looking everywhere for about two hours it came down to a simple .push(newObj) instead of a .pushObject(newObj). ( It was an array constructed using Ember.A() )

Because I'm also using a ton of other things in JS, not only Ember, I'm used to methods like .push(). And I can look directly a

[2016-07-26 10:36] bugduino commented on #12505
+1

[2016-07-26 11:42] lalitindoria commented on #12349
I can still reproduce this. I have the following in my route:
`queryParams: {
        instance: {
            refreshModel: false
        }
    },`

and my `afterModel` hook has this:
`afterModel: function (model, transition) {
        var self = this;
        if(!transition.queryParams.instance || Ember.typeOf(transition.queryParams.instance) !== 'number') {
            self.transitionTo({queryPa

[2016-07-26 13:59] pixelhandler commented on #13888
@martndemus I'm curious, in `this.$('input').trigger('change');` an action named `change` should be triggered? Or, an event handler named `change` (not an action)? I thought `trigger` is a jQuery method that fires events.

[2016-07-26 14:06] rwjblue commented on #13888
The issue would likely be (based on the bisect result) that the event dispatched cannot find the component that is created, so it doesn't delegate the event to it. I'll try to dig in more this morning.

[2016-07-26 14:11] pixelhandler commented on #13889
@RobIsHere you make a good point that computed properties can be hard to debug and the differences between using `push` and `pushObject` require reading the docs. One might expect `push` to behave as in the same way `pushObject` does, but then there would be no need for the two.  `pushObject` is necessary to use for notifying computed properties of the changes. It has been this way for a long time

[2016-07-26 14:11] #13889 closed

[2016-07-26 14:51] miguelcobain commented on #13494
I could reproduce the problem in a twiddle: https://ember-twiddle.com/d5f6fc09d9f2a86098012c7304c9e4a6?openFiles=controllers.application.js%2C

Click to change the value, and see an error coming up.
The component is tagless, blockless and templateless, if that has any importance.

@GavinJoyce or me will provide a failing test soon.

[2016-07-26 15:23] mike-north commented on #13888
worth mentioning that it seems this only occurs during testing. When apps are run normally, everything seems to work as one would expect

[2016-07-26 15:27] martndemus commented on #13888
It is very probable that this is a bug with test tooling working on old View API, that the found commit has broken.

[2016-07-26 18:19] chadhietala opened #13899 "[Glimmer2] Should Normalize SafeStrings When Setting Attributes"
__Failing Test__: [Can set dynamic style with -html-safe](https://github.com/emberjs/ember.js/blob/e6f49f7474a0f2219b627f1c9f434bc71305ddaa/packages/ember-glimmer/tests/integration/content-test.js#L987)
__Knowledge__: Requires understanding of how Glimmer handles attributes

Currently fails in IE 9 because `setAttribute` does not adhere to the `toString` protocol.

[2016-07-26 18:20] chadhietala opened #13900 "[Glimmer2] Master Issue"
This issue serves as a the master issue for Glimmer2 Alphas. Below is a list of know issues and links to a more detailed issue. If you are going to fix an issue please leave a comment below with the issue number.

## Known Issues
- [ ] [Ember.binding support](https://github.com/emberjs/ember.js/issues/13902)
- [ ] [Instrumentation](https://github.com/emberjs/ember.js/issues/13910)

## Known Missin

[2016-07-26 18:24] chadhietala opened #13901 "[Glimmer2] isVisible not implemented"
__Failing Tests__: [should toggle visibility with isVisible](https://github.com/emberjs/ember.js/blob/f4bf04d75a898232aadff82ec79c8682ecdc2eea/packages/ember-glimmer/tests/integration/components/curly-components-test.js#L2622-L2652), [isVisible does not overwrite component style](https://github.com/emberjs/ember.js/blob/f4bf04d75a898232aadff82ec79c8682ecdc2eea/packages/ember-glimmer/tests/integrat

[2016-07-26 18:37] chadhietala opened #13902 "[Glimmer2] Ember.binding support"
__Failing Test__ : [should accept bindings as a string or an Ember.binding](https://github.com/emberjs/ember.js/blob/3cfc9614bbd92ee8e80b6c4894b024f2e14bffae/packages/ember-glimmer/tests/integration/binding_integration_test.js#L8)
__Knowledge__: Requires knowledge of reference/tagging system

This appears to be an "off by one" bug where the previous expectation becomes the current assertion.

[2016-07-26 18:41] chadhietala opened #13903 "[Glimmer2] Implement {{mount}}"
Since `{{mount}}` was behind a feature flag as of recently it was not implemented in Glimmer.

__Failing Tests__: [Mount](https://github.com/emberjs/ember.js/blob/b117af32d1b0242f403352a6a1a39257cdfd04e2/packages/ember-htmlbars/tests/integration/mount_test.js#L53)
__Knowledge__: Understanding of outlet state and reference system

[2016-07-26 20:05] chadhietala opened #13905 "[Glimmer2] Action instrumentation"
Currently `ember-improved-instrumentation` is feature flagged and has not accounted for `ember-glimmer`.

__Failing Tests__: [Closure {{action}} improved instrumentation](https://github.com/emberjs/ember.js/blob/daa214d25ccdbbca7763340778ffbaf106aab6ec/packages/ember-glimmer/tests/integration/helpers/closure-action-test.js#L9)
__Knowledge__: Requires knowledge of how we want to instrument `{{actio

[2016-07-26 21:13] bantic opened #13907 "Passing `env` attr to component in template results in `null` value (on beta, canary)"
Rendering a template and passing in an attr named `env` will result in its value being `null`, e.g. with the following code:

[code]

The browser logs "this.env: null" and the component's template renders: "env: " (should be: "env: foo").

Reproducible on beta (2.8.0-beta.1+2414d715 ) and canary (2.9.0-canary+7ee7fcf5 ).
With Ember v2.7.0, the expected behavior occurs (logs "this.env: foo" and ren

[2016-07-26 22:21] chadhietala opened #13908 "[Glimmer2] Better solution for readDOMAttr"
This is a public API that currently is just a wrapper around `getAttribute`. In Glimmer1 it read from a `renderNode` which is no longer a concept.

__Knowledge:__ Yehuda has a plan

[2016-07-26 23:40] chadhietala opened #13910 "[Glimmer2] Instrumentation"
__Failing test__: [Nodes without view instances are instrumented](https://github.com/emberjs/ember.js/blob/d638d524b55ebea5b77e662f9be84d3a4be18648/packages/ember/tests/view_instrumentation_test.js#L52)
__Knowledge__: This requires some thought from someone with knowledge of internals to do this efficiently

This probably required for the Ember Inspector

[2016-07-27 01:32] toranb opened #13912 "Deprecation guide addition for Ember.Binding(s) that use connect"
Today I noticed the ember 2.7 deprecation for Ember.Binding and was curious what I should do in this situation.

[code]

I assumed it was a simple defineProperty inside the init but I'm not having the same luck in ember 1.13

[code]

If I can find a good solution I'll gladly submit a PR to the guides for others who have this same situation. Thank you in advance!

[2016-07-27 02:17] rwjblue commented on #13912
Can you whip up an ember-twiddle or JSBin to demo the issue?

[2016-07-27 06:35] chancancode commented on #13902
@krisselden I figured out why this is not working, but I don't know enough about the bindings/runloop system to fix it.

### What _is_ working

* the bindings are propagated correctly
* the references are pulling the right thing
* setting the binding correctly dirty both objects

### What is _not_ working

* timing issue causing the bindings to be synced too late

### Details

The current strategy

[2016-07-27 06:40] chancancode commented on #13902
@krisselden can you triage this tomorrow? by that I mean do you think this is only a problem for `Binding`s or if it's a deeper problem that is likely to affect apps that don't use that feature. If it's the former, I think it's pretty low-priority.

[2016-07-27 07:46] dhawalbhanushali commented on #11967
Even I am facing the same issue. Any update on this?

[2016-07-27 07:53] Serabe commented on #11967
@dhawalbhanushali, please take a look at this comment: https://github.com/emberjs/ember.js/issues/13823#issuecomment-233109951

[2016-07-27 08:48] mike-north commented on #13912
We **really** need some in-depth material here to ease deprecation-fixing pain. Here's the error message users will get
[code]
It offers no clue as to what property on what component was the offender. The "advanced ember" solution to this is

1. Set a conditional breakpoint at this assert, with the breakpoint condition matching the assert condition
2. When the breakpoint is hit, jump up a couple f

[2016-07-27 10:17] git-neelesh opened #13916 "Array Parameters issues"
Hi Team,

I come across through a issue for url which having prams as an array. eg:

Any idea or support in future?

[2016-07-27 11:54] ffaubry opened #13917 "2.7.0: Change in namespace from ember-metal/streams to ember-htmlbars/streams break compatibility"
At 2.6.x, streams/stream and streams/utils were defined under ember-metal.
At 2.7.0, these modules have been moved under ember-htmlbars.
This is breaking backward compatibility for some addons such as:
- https://github.com/jamesarosen/ember-i18n
- https://github.com/DavyJonesLocker/ember-cli-i18n (apparently marked as dying...)

These addons should have never used these private modules. However, t

[2016-07-27 12:08] Serabe commented on #13917
Hello @ffaubry:

`ember-cli-i18n` was deprecated one year ago. Regarding `ember-i18n`, latest commit in master is already loading the streams from htmlbars if they are not found under `ember-metal` (you can see it [here](https://github.com/jamesarosen/ember-i18n/blob/a0d053b478d333441b099020a1220b3ad118b9e1/addon/stream.js)).

Can you please open an issue in those addons that are not working in em

[2016-07-27 12:08] #13917 closed

[2016-07-27 12:10] Serabe commented on #13916
Hello, @git-neelesh!

Can you please provide us with a [ember-twiddle](ember-twiddle.com) of what is your expected usage? That way we can check if it is a bug or should go through an RFC process.

Thank you!

[2016-07-27 12:21] git-neelesh commented on #13916
Hi @Serabe,

I'm not getting  ember-twiddle means. I was expecting if I print prams it should parse like this.
Req: params[test][]=10&params[test][]=20&params[demo][]=ABC
[code]

[2016-07-27 12:25] ffaubry commented on #13917
Thx @Serabe.
I logged an issue under ember-i18n (see reference above).

[2016-07-27 13:40] badazz91 opened #13918 "Ember.Route: this.render does resolve template path in pod structure"
if the `foo` template looks like this:

[code]

And you try to render two templates into different outlets with the ```renderTemplate``` hook like this:

[code]

Then it only works if the ```bar.hbs``` is located in ```app/templates```. It does not work when it is nested inside a pod structured app like e.g. this ```app/pods/foo/bar.hbs```.

Maybe it should be possible to import a template via ```

[2016-07-27 15:27] jherdman opened #13919 "Cannot Create Ember.Error in Chrome Canary"
Any time an Ember.Error is raised in Chrome Canary (54.0.2809.0 canary (64-bit)), the following error is raised:

[code]

From what I can tell, the [temporary error object](https://github.com/emberjs/ember.js/blob/d56bc7bd9b488e5b3f54c47e987d24a0d67d3f53/packages/ember-metal/lib/error.js#L21) has an writable "stack" property:

<img width="342" alt="screen shot 2016-07-27 at 11 24 42 am" src="https

[2016-07-27 15:33] backspace commented on #13919
This is affecting [Travis CI](https://travis-ci.org) in Chrome Canary, as well. It renders nothing when you’re logged in.

[2016-07-27 15:50] pixelhandler commented on #13912
@mike-north great idea regarding giving an indication of what property the binding is associated with in the deprecation warning message.

[2016-07-27 15:53] pixelhandler commented on #13912
@toranb regarding 1.13 I don't expect any change but understand your app may be using it so leaning toward a upgradable solution makes sense. As Robert mentioned an example using an ember-twiddle.com or a git repo would be great, and of source help with working on what could be added to the guides.

[2016-07-27 15:55] pixelhandler commented on #13918
@badazz91 Should the title of this issue be "Ember.Route: this.render does not resolve template path in pod structure" ?

[2016-07-27 15:59] pixelhandler commented on #13916
@git-neelesh see https://ember-twiddle.com it's a great way to create an example of an issue you find in an ember app. Alternative you could just create a repo and share that as well. having a code reproduction of our issue helps others to debug it.

[2016-07-27 16:04] toranb commented on #13912
@rwjblue @pixelhandler agreed :) I'm planning to carve out some time this week to create a solid twiddle showing this in action. Thanks again!

[2016-07-27 16:09] rwjblue commented on #13918
`this.render('bar'` is looking for a template named `bar`, not `foo/bar` (which is where you have placed the template `app/pods/foo/bar.hbs`).  Also, `app/pods/foo/bar.hbs` isn't a valid location for pods resolver either (it should be `app/pods/foo/bar/template.hbs`).

If you want to render `app/pods/foo/bar/template.hbs` via `this.render`, you would have to do `this.render('foo/bar', {});`.

[2016-07-27 16:23] derrickshowers opened #13921 "Update to route-recognizer (2.7.0) effects '/*wildcard' route"
Noticed a change in the [`/*wildcard`](https://guides.emberjs.com/v2.6.0/routing/defining-your-routes/#toc_wildcard-globbing-routes) route's behavior when added to the router map. As of `2.7.0` the wildcard route doesn't work as expected (or as it does in `2.6.*` under the following condition:

[code]

Here's a [Twiddle](https://ember-twiddle.com/fb4d0469cf4bf7a51076057425a6e178) to better illustr

[2016-07-27 16:24] rwjblue commented on #13912
I submitted https://github.com/emberjs/ember.js/pull/13920 to make the deprecation message more helpful in tracking down where a binding is being used.

[2016-07-27 16:51] mschinis commented on #12169
Hmm, I'm on 2.4.6 and still getting the issue.

[2016-07-27 17:08] urbany opened #13922 "Loading states behaviour doesn't match documentation"
Hi, If I understand correctly, according to [the documentation](https://guides.emberjs.com/v2.7.0/routing/loading-and-error-substates/), if I have a `templates/loading.hbs` file all slow models will default to that template if no better match is found.
This does not seem to be happening, please check this example, where `templates/loading.hbs` is used for the first route `my-account` but in the ne

[2016-07-27 17:15] jemware commented on #12505
+1

[2016-07-27 17:28] rwjblue commented on #13921
@derrickshowers - Thanks for reporting!

@bantic - Do you think you may have time to poke at this?

[2016-07-27 17:31] #13907 closed

[2016-07-27 18:06] bantic commented on #13921
@rwjblue Yes, I can take a look tonight or tomorrow.

[2016-07-27 18:09] dustyjewett commented on #13846
Any movement on this? It is now making our ember-beta builds fail.

[2016-07-27 19:54] dlo83 commented on #11163
@acorncom This issue leaves us dead in the water in terms of upgrading our app from 1.12 to 1.13, as one of the cornerstones of our application is a View that creates dynamic components with attributes bound correctly.  We have a parallel effort to upgrade our application the correct way and create components using a combination of ```{{#each foo as |bar|}}```, the component helper, etc., but give

[2016-07-27 20:38] xdumaine commented on #13846
+1

[2016-07-27 21:12] backspace commented on #13846
Maybe this thread should be locked to contributors to stem the inevitable tide of +1s?

[2016-07-27 22:12] sandstrom commented on #13901
cc @chancancode

I think this will cause issues with [CSP](https://www.w3.org/TR/CSP2/) (unless `unsafe-inline` is set).

I've always wondered by the `isVisible` stuff is needed on views/components? Perhaps it can be skipped or deprecated.

If it need to remain I'd suggest setting the property directly on the DOM node instead of [using an attribute](https://github.com/emberjs/ember.js/commit/a9f5d

[2016-07-27 22:23] chancancode commented on #13901
This is done in #13914

@sandstrom if you never set it to `false`, nothing will be added. We can come back to the rest later!

[2016-07-27 22:39] #13901 closed

[2016-07-27 22:50] acorncom commented on #11163
@dlo83 ouch, that sounds painful :-/ I'm not that familiar with the older Views approach, so not much help on the code front.  At this point, the core team has shifted priorities to the Ember 2.x, so I doubt we'd be able to do much as far as changing code.

Unless @mixonic has some ideas, I think your best bet might be to ask your question on the Ember Community Slack (either `#-help` or `#general

[2016-07-27 23:23] chadhietala commented on #13899
Closed by #13926 and #13901

[2016-07-27 23:23] #13899 closed

[2016-07-28 00:36] chadhietala opened #13929 "[Glimmer 2] Ember Inspector"
These tests need to pass: https://github.com/emberjs/ember.js/blob/b888104b9ac98d464105be02fae5b807a90bfd13/packages/ember-glimmer/tests/integration/components/utils-test.js

[2016-07-28 00:38] chadhietala opened #13930 "[Glimmer 2] Make Node Tests Pass"
We need to run [these tests](https://github.com/emberjs/ember.js/tree/master/tests) against Glimmer 2.

[2016-07-28 01:46] lbblock2 commented on #11592
Any recommendations for fixes using the remote paginated API?

[2016-07-28 01:50] toranb commented on #13912
Well the good news - I've got a twiddle to prove those should be identical in behavior. The bad news is I think I've found a bug in my code :)

I can't reproduce this issue w/ twiddle for reasons unrelated to this Ember.Binding deprecation. For now I'll leave you with this twiddle and if I do find something broken I'll be sure to report it

https://ember-twiddle.com/2ab7883202dc9ff99f5bd2a04ce4e48

[2016-07-28 05:49] badazz91 commented on #13918
Ok, this worked for me. Then it was simply miss-usage and not a bug. =)

[2016-07-28 05:49] #13918 closed

[2016-07-28 06:30] nathanhammond commented on #13921
@bantic @derrickshowers @rwjblue Confirmed to work correctly in [ember-route-recognizer](https://github.com/nathanhammond/ember-route-recognizer).

[code]

In other words we have that as a fix-forward in our back pocket.

[2016-07-28 06:35] teddyzeenny commented on #13922
I think it's because `my-account.hbs` has already rendered when you try to access `my-account/services` so it probably won't remove the already rendered parent (`my-account`) to show `loading.hbs`.

Notice you can see the `loading.hbs` template when you try to access `my-account/services` directly from the homepage. Try adding a link directly to `my-account/services` in `index.hbs`.

[2016-07-28 07:04] alexlafroscia opened #13932 "`.click()` not triggering in integration tests in Ember 2.8.0"
I've noticed a [test failing](https://travis-ci.org/ember-cli/ember-ajax/jobs/147952354#L446) in Ember 2.8.0 (as well as the current canary build) in the `ember-ajax` repo.  I've traced it back to [this line here](https://github.com/ember-cli/ember-ajax/blob/badf9983b32a4f81b4e0a51fff3a06e44be76f31/tests/integration/components/async-widget-test.js#L135) where an element should be clicked.  That sh

[2016-07-28 07:06] rwjblue commented on #13932
I believe that this is a duplicate of https://github.com/emberjs/ember.js/issues/13888, but haven't had a chance to dig in and confirm.

[2016-07-28 07:15] git-neelesh commented on #13916
Thanks @pixelhandler, I did not ask in ember community, I'll do it.

[2016-07-28 10:20] urbany commented on #13922
@teddyzeenny thanks for the quick response. I tested with a direct link like you are suggesting and surely it worked. But shouldn't the desired outcome be to display `templates/loading.hbs` in all scenarios?
Also it seems to me the way it works right now, the `before route` determines the loading page for the route being transitioned to, which seems weird, because each route should know how to dis

[2016-07-28 12:14] medokin commented on #5566
Ember 2.7

`queryParamsDidChange` fires multiple time even if nothing has changed, thats why I additionally compare old and new queryParams values.

[code]

[2016-07-28 14:44] mattbearman opened #13936 "Ember 1.13 broken in IE8"
The latest update to Uglify JS (2.7.0) no longer supports IE6 - 8 by default, it has to be enabled by setting `screw_ie8: false` in the options.

This means a default install of Ember 1.13 doesn't work in IE8 anymore.

My proposed fix would be to change the 1.13 branch of Ember's default `ember-cli-build.js` to have

[code]

[2016-07-28 14:50] Serabe commented on #13936
Thank you for reporting this, @mattbearman. Sadly, 1.13 is no longer maintained and it is very unlikely that a new release is done at this point (there is a new LTS and the second one is a few months away).

Thank you!

[2016-07-28 14:50] #13936 closed

[2016-07-28 14:57] Serabe commented on #13932
Closing as a duplicate given internally [`click()` calls `trigger`](https://github.com/jquery/jquery/blob/2.2-stable/src/event/alias.js#L8-L19).

[code]

[2016-07-28 14:57] #13932 closed

[2016-07-28 15:18] Serabe commented on #13794
@chancancode given that the beta at that time was 2.7, is this still an issue? Thank you!

[2016-07-28 15:19] chancancode commented on #13794
It can be closed
On Thu, Jul 28, 2016 at 8:18 AM Sergio Arbeo <notifications@github.com>
wrote:

[2016-07-28 15:19] #13794 closed

[2016-07-28 15:22] bantic commented on #13921
I'm not certain this is a route-recognizer bug. My best guess at the moment is that it's related to the interaction of ember's routing dsl and route-recognizer.

I ran the following test against the past several versions of route-recognizer (v0.2.0, v0.1.11, v0.1.10, 0.1.9 and 0.1.8), and it failed the same way in all of them:

[code]

The "/abc" path matches the wildcard handler (incorrectly), th

[2016-07-28 15:25] bantic commented on #13921
To clarify: Not a *new* route-recognizer bug. And the fact that ember's routing has the issue in newer ember is probably related to some interaction between ember and RR rather than RR directly. I'll dig in further and update.

[2016-07-28 15:32] rwjblue commented on #13921
Sounds good. Thanks for digging in.

[2016-07-28 15:47] christophersansone commented on #13470
I am coming from https://github.com/lytics/ember-data-model-fragments/issues/173 , which is the `1.13.13` version of this error.  I can consistently reproduce it in an app I'm building, and I have been able to set a conditional breakpoint to step through the process immediately before the error occurs.  I'd be happy to to a screen share with @krisselden or anyone else who may have some input.  I'm

[2016-07-28 16:15] christophersansone commented on #13470
Quick follow-up.  I changed the `chainsDidChange` loop from:

[code]

to:

[code]

And the issue no longer occurs.  This may have other implications though.  For any app that does not experience this problem, `nodes.length` will always equal `l`, so I cannot see a case where it would cause a defect.  The constant evaluation of `nodes.length` may be a performance regression, but I would like to thi

[2016-07-28 17:01] alexlafroscia commented on #13932
Thanks for triaging; I'll keep an eye on that issue for the fix.

[2016-07-28 23:02] wagenet commented on #13919
I believe EmberError is extending the native Error class. However, it appears that Chrome 54 made the `stack` property readonly now.

[2016-07-29 00:04] toranb commented on #13912
@rwjblue @pixelhandler so I've got the ability to see this breaking now and after reading some older commits in ember it seems that with connect I'm able to observe changes to the actual object but without "connect" it doesn't appear to fire the computed in the same way

https://github.com/emberjs/ember.js/commit/2b28b204d5ea49cb2a132bbe58b9767492e1892e

<img width="614" alt="screen shot 2016-07-2

[2016-07-29 00:28] wagenet commented on #13919
@chancancode says it's probably related to https://bugs.chromium.org/p/chromium/issues/detail?id=624285.

[2016-07-29 05:22] stefanpenner commented on #13919
@wagenet what makes you think that issue is related?

[2016-07-29 05:25] chancancode commented on #13919
It was just based on a quick search for things that landed on chrome recentish that has to do with errors

[2016-07-29 05:42] stefanpenner commented on #13919
@chancancode doesn't seems related.

----

Im poking around, findings so far:

1. not able to reproduce in isolation yet
1. in the error scenario in question, only after this line does the stack property get installed and when it does it is writable: false: https://github.com/emberjs/ember.js/blob/d56bc7bd9b488e5b3f54c47e987d24a0d67d3f53/packages/ember-metal/lib/error.js#L31
1. some relevant v8 co

[2016-07-29 05:51] stefanpenner commented on #13919
Appears to only happen in `"use strict";`

no failure:

[code]

failure:

[code]

[2016-07-29 06:01] stefanpenner commented on #13919
Offending commit: https://github.com/v8/v8/commit/02503b080fbda2d8a72581a4669ea400d5322670

[2016-07-29 06:06] pixelhandler commented on #13922
@urbany these is not really a default `loading` template for any route, it depends on your routing structure in your app and where you place your `loading` templates and whether or not you handle a `loading` event

No, the leaf routes are children (of a parent route) and would not use a 'loading' template above their parent but instead would use a loading route that is a sibling.

@teddyzeenny is

[2016-07-29 06:06] #13922 closed

[2016-07-29 06:15] stefanpenner commented on #13919
So, I believe this is primarily stupid ember code, but also likely a web incompatible v8 change...

[2016-07-29 06:20] hishboy commented on #13919
klsklskd

[2016-07-29 06:22] stefanpenner commented on #13919
Original source of each part:

1. copy error properties over from the error ancestor (I believe this is because people are not required to `new` errors. https://github.com/emberjs/ember.js/commit/2b28b204d5ea49cb2a132bbe58b9767492e1892e#diff-a23b3b4d803c29958e763306e7a2d02aR492 (circa May 17, 2011)
2. introduced `Error.captureStackTrace` in the position before stomping on it \w the above line of o

[2016-07-29 06:23] stefanpenner commented on #13919
quick work around would be to do the following `Error.captureStackTrace = undefined;`

[2016-07-29 06:37] stefanpenner commented on #13919
Although very strange that we basically do.

[code]

`captureStackTrace` sets both `stack` and an internal slot `stack` that is used to display an untampered stack to the console. So although `error.stack` is likely incorrectly stomped, the intended behavior (logged message) does the right thing?

[2016-07-29 06:39] stefanpenner commented on #13919
One approach: https://github.com/emberjs/ember.js/pull/13939

I think we should also open a chrome/v8 issue, so they are aware and can explore if this consider this web compat issue or not.

[2016-07-29 06:56] bmeurer commented on #13919
We're going to have a look, and come up with a reasonable fix soonish.

[2016-07-29 06:59] jdenly opened #13940 "Internet Explorer 11 process memory leak"
I'm not sure if this is an Ember issue or an Internet Explorer issue...

I have created a sample application that illustrates the problem at https://github.com/jdenly/ember-ie-leak, using Ember Canary. It contains an Ember CLI generated application with two routes and a couple of links on the application template.

Loading the application, either using `ember s` or a production build in another we

[2016-07-29 06:59] stefanpenner commented on #13919
v8 issue: https://bugs.chromium.org/p/v8/issues/detail?id=5245

[2016-07-29 07:05] stefanpenner commented on #13940
@jdenly thanks for the great issue! Curious, do you see this issue in other versions of IE, for example edge?

[2016-07-29 07:07] jdenly commented on #13940
@stefanpenner I haven't tested with Edge, I'll have to get access to a Windows 10 machine to check. I'll get back to you.

[2016-07-29 07:09] stefanpenner commented on #13940
@jdenly it would be handy for an additional data point. I need to get a windows setup again on my latop, I will try remember and dig in this weekend.

[2016-07-29 08:39] brettburley opened #13945 "Property get and set in component init breaks computed property"
I don't think this is too common of a pattern of initializing properties in an `init` method of a component, but caught me by surprise today.

If a computed property is `get`'d before its dependency is `set` in the `init` method of a component (or anytime before the component is fully initialized), the value from the `get` is cached and not invalidated.

See this twiddle for three examples in `my-

[2016-07-29 08:48] jdenly commented on #13940
@stefanpenner I've run the test against Edge and it's fine. I ran 10,000 iterations without a problem, process memory never went above ~260MB and dropped once the pressure was off the browser at the end. The JS heap was 208B larger at the end.

![ieleak5](https://cloud.githubusercontent.com/assets/5688135/17242352/099c2966-55ba-11e6-94a0-df536c8d5834.PNG)

I also tested again in the version of IE

[2016-07-29 09:45] Serabe commented on #13945
I think this is a duplicate of #13823. I moved the `setProperties` call to `didRender` (quick check to see if it is related) and [it works as expected](https://ember-twiddle.com/1e85b04133d922e1b663e1c1bc31b86b?openFiles=components.my-component.js%2Ctemplates.components.my-component.hbs).

In the mentioned issue [this is the comment with the explanation about how init works](https://github.com/emb

[2016-07-29 09:55] chancancode opened #13946 "[Glimmer 2] Removal of "always dirty" re-rendering"
Previously, calling `this.rerender()` on a component would force everything in its template subtree to recompute, including helpers like `{{unbound}}` and other custom helper. This is done by walking all the "render nodes" with a "always-dirty visitor".

In Glimmer 2, the entire system is built to avoid doing unnecessary work. There is no equivalent concept to "render nodes". In many of cases, the

[2016-07-29 09:57] chancancode opened #13947 "[Glimmer 2] Difference in `willRender` semantics"
Previously, `willRender` only fire when something _directly inside_ the component's template has changed (in other words, dynamic content rendered directly from the component's layout).

In Glimmer 2, this hook will fire when anything inside its template subtree has changed, regardless on the depth of the nesting (in other words, dynamic content rendered from the component's layout and also by the

[2016-07-29 09:58] chancancode opened #13948 "[Glimmer 2] "Backtracking re-render" is now an assertion"
Backtracking re-render refers to a scenario where, in the middle of the rendering process, you have modified something that has already been rendered.

For example:

[code]

[code]

As you can see, by the time the `foo-bar` component is instantiated and rendered, we have already used the value `foo` from the parent context to populate the `{{foo}}` curly. However, in its constructor, it was trying

[2016-07-29 10:04] chancancode opened #13949 "[Glimmer 2] Master Issue"
![Glimmer 2](https://cl.ly/go6m/glimmer2.png)

Hello!

Welcome to Glimmer 2 alpha testing! Having worked on this for almost a year now, we are very excited to have you on board to help us smooth out the rough edges!

This issue will be updated as we discover new problems. If you experienced issues when testing the alpha builds, please check if it's already covered by one of the issues linked from

[2016-07-29 10:04] chancancode commented on #13900
Moved to #13949

[2016-07-29 10:04] #13900 closed

[2016-07-29 10:05] chancancode commented on #13948
Closed by #13935 and #13937

[2016-07-29 10:37] chancancode commented on #13902
Closed by #13935 and #13937

[2016-07-29 10:37] #13902 closed

[2016-07-29 13:00] toranb commented on #13912
@rwjblue @pixelhandler and ... ignore me again! Went full out and landed a green build deprecation free :)

https://github.com/toranb/ember-cli-simple-validation/pull/23/files

[2016-07-29 13:00] #13912 closed

[2016-07-29 14:23] addyosmani commented on #13919
I think this should be fixed as of https://chromium.googlesource.com/v8/v8.git/+/1c7c0521f1f9b4e70e19b0999c613fdb3b262deb. Possible to verify?

[2016-07-29 15:49] stefanpenner commented on #13919
@addyosmani I'll give it a whirl after breakfast.

I dont mind building v8 myself to test but i was able to find win/linux prebuilds here
http://commondatastorage.googleapis.com/v8-asan/index.html do OSX ones also exist?

[2016-07-29 16:04] stefanpenner commented on #13940
@jdenly interesting. It may still be something ember can avoid, or at the very least we should attempt to confirm \w our friends over at MS.

@felixrieseberg / @bterlson do you two fine fellows have any recommendations/thoughts?

[2016-07-29 16:21] pixelhandler commented on #13916
@git-neelesh I don't see any example in the guides for using an array as the query param value, see https://guides.emberjs.com/v2.7.0/routing/query-params/

I'll close this issue for now since it's not an Ember Bug, but more of a question for the community. See http://emberjs.com/community/ perhaps followup on Stack Overflow, the Discus forums or the ember slack channels.

[2016-07-29 16:21] #13916 closed

[2016-07-29 16:24] pixelhandler commented on #13826
@bttf I'll close this out for now, since this is not an Ember bug. Perhaps if you'd like to continue the discussion use the Discus forums, Stack Overflow or the Ember slack channel, see http://emberjs.com/community/

[2016-07-29 16:24] #13826 closed

[2016-07-29 16:25] pixelhandler commented on #13888
@martndemus Just curious is this post https://dockyard.com/blog/2016/07/26/how-to-bisect-ember about this issue?

[2016-07-29 16:54] marclundgren commented on #12903
Thanks @stefanpenner. I was able to get `ace` on a twiddle, but I haven't been able to fully init the component. There's a runtime error in the `ace/document` module.

[code]

I don't have time to try and squash this bug today, but hopefully within the next week.

[2016-07-29 17:13] martndemus commented on #13888
Yes, the blogpost describes how I found the commit that causes the bug.

[2016-07-29 17:22] stefanpenner commented on #13919
@addyosmani Just verified locally that v8 a79ec0e does not have this issue any longer. Is there a predictable period of time before this is part of a chrome canary release (maybe nightly)?

[2016-07-29 17:30] felixrieseberg commented on #13940
I don't really have any insight, but I'll also add @reybango here, who might be able to get this fixed.  My gut feeling: If there's no leak in Chrome, but in Edge, it's prooooobably an Edge bug.

[2016-07-29 17:33] stefanpenner commented on #13940
@felixrieseberg danke :)

[2016-07-29 17:34] stefanpenner commented on #13919
As this has been fixed in v8, at some point soon (maybe nightly) we will see a Chrome canary \w a fix. I believe this is closed on our end.

Thank you for reporting, and thanks to @benedikt and the rest of the chrome/v8 team for the fast turn around.

[2016-07-29 17:34] #13919 closed

[2016-07-29 17:39] backspace commented on #13919
Thanks to everyone for their work on this! Currently, Chrome Canary tabs are crashing for me immediately upon open, but I’ll check in again later.

[2016-07-29 17:40] stefanpenner commented on #13919
Yes, the published Canary does not appear to have the fix yet, but a custom build of v8 did demonstrate a fix.

[2016-07-29 17:40] stefanpenner commented on #13919
Oh i see, yes my most recent Chrome Canary "aw snaps" constantly on any random site...

[2016-07-29 18:02] RustyToms commented on #12849
@Mode7James the [anchor tag](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a) doesn't have a disabled attribute, it doesn't seem that it can be disabled even if disabled is properly added as an attribute. If the link is set up to open in a new window, when target="_blank", then I don't think there is anything Ember can even do about it. One workaround is to add "pointer-events: none;"

[2016-07-29 18:03] acorncom commented on #13888
@martndemus Would it be possible to get a Twiddle showing a reproduction?

[2016-07-29 18:18] brettburley commented on #13945
Thanks @Serabe. It looks like it probably has the same/similar root cause, but I think this is a more regular use case in that even local properties (i.e. not trying to propagate back up to the parent view) are also affected.

I think it more broadly means that you can't reliably do property initialization in the `init` method if you have other local computed properties that may depend on these va

[2016-07-29 18:42] pixelhandler commented on #10844
@lmcardle once https://github.com/tildeio/rsvp.js/pull/421 is merged I think that will help.  Since RSVP is a separate library I don't think that the API docs will publish the use of "Ember.RSVP" but rather include the RSVP docs instead. That is why RSVP shows up instead of Ember.RSVP.

I'll close this for now. I think there could be room for more info on using Promises in the guides.

[2016-07-29 18:42] #10844 closed

[2016-07-29 18:47] bantic commented on #13921
After looking more deeply, this *is* due to a bug in route-recognizer. I hadn't realized that Ember was using route-recognizer@0.1.5 in Ember@2.6 (see https://github.com/emberjs/ember.js/issues/13211).
After going back to 0.1.5 I was able to bisect the breaking change: https://github.com/tildeio/route-recognizer/commit/0499446f80c649a2df64ced5cc5458742a57c423 which landed in route-recognizer@0.1.6

[2016-07-29 18:49] jmeas commented on #13921
Thanks for the ping, @bantic. I'll look into this later today :v:

[2016-07-29 18:54] pixelhandler commented on #9946
@toddjordan @locks closing this, seems not relevant for now.

[2016-07-29 18:54] #9946 closed

[2016-07-29 19:06] jmeas commented on #13921
This is surprising to me because dynamic segments have a specificity of `3` which should always win out against a wildcard's specificity of `1`.

My hypothesis is that it's one of two things:

1. **The wrong specificity is being compared**.  If it's not comparing `3` vs `1` here, then that would be considered "wrong." For this to occur, either the dynamic route needs to become less specific, or th

[2016-07-29 19:07] pixelhandler commented on #10844
Related documentation improvement proposed in the guides… https://github.com/emberjs/guides/issues/1585

[2016-07-29 19:11] pixelhandler commented on #10385
@nichoth the docs have been greatly improved since you created this issue, so has Ember Data. Please reopen if you still have this issue. Related docs: https://guides.emberjs.com/v2.7.0/templates/links/

[2016-07-29 19:11] #10385 closed

[2016-07-29 19:13] pixelhandler commented on #11216
@danmcclain this seems to be related to 1.x versions  of Ember. I'll close this for now, please reopen if you think this is still an issue in 2.x

[2016-07-29 19:13] #11216 closed

[2016-07-29 19:24] bantic commented on #13921
@jmeas Thanks for the description! Here's a failing PR: https://github.com/tildeio/route-recognizer/pull/100

I got waylaid by a few other things but hope to have a chance to dig back in again today. I will update here if I start working on a fix.

[2016-07-29 19:30] cibernox opened #13954 "Transitions to the same route with different model + QPs throws Error"
The exact error message is:

I was able extract a failing example of a big app and reduce it to the minimum.

Life demo: https://demo-transition-bug.development.pagefrontapp.com
Code: https://github.com/cibernox/demo-transition-bug

@raytiley This PR of yours (https://github.com/emberjs/ember.js/pull/13273) can be related? I think that this PR should be part of 2.7 because 2.7 was the current beta

[2016-07-29 19:31] pixelhandler commented on #13397
@mixonic @sethbrasile I belive the `context` (2nd) argument is due to using jQuery selectors, e.g. http://api.jquery.com/jQuery/#jQuery1 So aside from the client helper wouldn't the other test helpers also use this `context` too?

[2016-07-29 19:33] cibernox commented on #13954
I just confirm that this is present in 2.8.0-beta.1 too.

[2016-07-29 19:36] pixelhandler commented on #13397
@locks the guides show a context arguement for the `find` helper but the API docs do not, http://emberjs.com/api/classes/Ember.Test.html#method_find and https://guides.emberjs.com/v2.5.0/testing/acceptance/#toc_synchronous-helpers see `find(selector, context)` so perhaps we should have `click(selector, context)` as well and the API docs + guides should agree.

[2016-07-29 20:25] GavinJoyce opened #13955 "[Glimmer 2] invalid inline`classNameBindings` in`link-to` yields an exception"
The invalid `classNameBindings` below behaves inconsistently in htmlbars and glimmer (see https://github.com/GavinJoyce/glammer/blob/master/app/templates/issue1.hbs).

[code]

**htmlbars:**

no warning, the follow is rendered:

[code]

**glimmer:**

an exception is thrown when rendering:

`Cannot read property '0' of null (in hasHelper)`

<img width="418" alt="screen shot 2016-07-29 at 14 21 46" s

[2016-07-29 20:33] rwjblue commented on #13955
We should issue a helpful assertion. Ideally in both engines.

[2016-07-29 20:34] GavinJoyce commented on #13955
Thanks, I'll take this on

[2016-07-29 20:51] knownasilya opened #13956 "[Glimmer 2] Uses of `ember-runtime` throw an error"
Just did a search in my node_modules and got the following files:

[code]

Looks like:
- liquid fire (which we already knew)
- loader.js (benchmarks, so small importance)
- ember-wormhole
- ember-cli-page-objects (tests only).

[2016-07-29 21:02] nathanhammond commented on #13921
@jmeas Yes, [ember-route-recognizer](https://github.com/nathanhammond/ember-route-recognizer) is a near ground-up rewrite of route-recognizer. It currently passes 100% of the tests, include the new one from #100. It has the added benefit of being an Ember addon and supporting serialization. Next steps are to improve the automated serialization, add support for engines, and performance tuning. It's

[2016-07-29 21:35] alexlafroscia commented on #13888
I tried making a Twiddle [here](https://ember-twiddle.com/f03083ff45820e6439dfe2a74ece920c?openFiles=components.my-component.js%2Ctemplates.components.my-component.hbs) but for some reason the whole test thing shows up blank  ¯\_(ツ)_/¯

[2016-07-29 21:36] alexlafroscia commented on #13888
Seems to be a [bug in Twiddle](https://github.com/ember-cli/ember-twiddle/issues/468)

[2016-07-29 21:37] christophersansone commented on #13470
It looks like #11564 was a similar issue a year ago in a different file.  The fix was similar to what I suggested:

[code]

And according to the conversation, a couple awesome core team members agreed that both `didChange` and `willChange` should be guarded similarly.

PR for 1.x is on its way, though not sure that 1.x is maintained anymore.

@knownasilya would you be up for submitting a similar P

[2016-07-29 21:44] knownasilya commented on #13470
Sure, I'll have a look this weekend

[2016-07-29 21:52] bantic commented on #13921
@jmeas Thanks again for describing what may be going on. After a little digging with @mixonic just now, the specificity of added routes seems correct, so we think the case is:

In particular, it may be related to adding the routes and compiling the NFA. During recognition of "/abc", e.g., the *only* matched state is the wildcard state.

And another thing that we noticed is that if we change the or

[2016-07-29 22:32] cibernox opened #13959 "[Glimmer 2] (action (mut nonDefinedValue)) fails"
Error:

Reproduction code:

[code]
_(note: the `value="target.value" is irrelevant`)_

Twiddle so you don't have to type the code above:

https://ember-twiddle.com/56f80b7916bde51fb7d3ec47c7b39946?fileTreeShown=false&openFiles=templates.application.hbs%2C

[2016-07-29 23:08] acburdine opened #13960 "Index route (or rather, route at '/') with nesting breaks routing in ember 2.7"
So I was trying to update Ghost to Ember 2.7, and I ran into a fairly large issue with ember's routing that breaks the application.

The scenario: Ghost has a route called `posts`, with a path of `/` and a nested route inside of it (`post`) that has the path `:post_id`. Ghost also has several other routes like `team` (`/team`), `setup` (path: `/setup`), etc., some with nesting and some without.

P

[2016-07-29 23:11] acburdine commented on #13960
Note: I believe it's related to [this PR](https://github.com/emberjs/ember.js/pull/13768)

[2016-07-29 23:15] jdenly commented on #13940
@felixrieseberg It looks like Edge is fine, the problem seems to be in IE 11. I am also using the remote web driver to test using Selenium, so perhaps that is related?

[2016-07-29 23:46] cibernox opened #13962 "[Glimmer 2] Cannot read property 'hasComponentDefinition' of undefined"
I suspect that this is an issue when using contextual components like this:

[code]

This problem is affecting Ember Basic Dropdown.

Sample app (doesn't render): https://glimmer2-basic-dropdown.development.pagefrontapp.com/
Code: https://github.com/cibernox/ebd-glimmer2-failure

[2016-07-30 00:23] mixonic commented on #13921
When adding a wildcard route, it appears the `currentState.put` code returns the same state as it was called on instead of always creating a new state. This causes the wildcard settings to basically stomp the previously exising segment settings.

For example the regex from the old dynamic segment is stomped when [this line](https://github.com/tildeio/route-recognizer/blob/master/lib/route-recogniz

[2016-07-30 00:40] nathanhammond commented on #13921
See also #13960.

[2016-07-30 00:51] dfreeman opened #13963 "[Glimmer 2] Component Integration Tests"
In a freshly-minted app using the Ember alpha released today, integration tests fail.

Here's a [repo reproducing the issue](https://github.com/dfreeman/glimmer-integration-failure), which just followed these steps:

[code]

[2016-07-30 01:37] nathanhammond commented on #13960
@acburdine we know what this problem is, and it's us, not you. There will be a 2.7.1 release addressing this bug. I don't know where to tell you to follow along but know it's an ongoing discussion. In the mean time I suggest you stick with 2.6. 😄

[2016-07-30 01:39] acburdine commented on #13960
@nathanhammond thank you for the quick reply!

[2016-07-30 01:47] dfreeman commented on #13962
I'm actually able to reproduce this in any case where the component's `layout` is explicitly set rather than being in a location where it's discovered by the resolver.

https://github.com/dfreeman/glimmer-explicit-layout-failure

[2016-07-30 02:41] dguettler commented on #12967
The reason this is happening is due to the interaction of `render` and `buildRenderOptions`.
In case `_name` is an object and no options are passed `name` is set to `this.routeName` which is then passed on to `buildRenderOptions`.

`buildRenderOptions` receives `name` as `_name` argument and uses it (if present) as the `templateName`
[code]
https://github.com/emberjs/ember.js/blob/v2.7.0/packages/

[2016-07-30 02:53] kellyselden opened #13968 "view._renderNode.lastResult giving "Uncaught TypeError: Cannot read property 'lastResult' of null""
I have unsuccessful in tracking this down so far. A few days ago when canary ticked over to beta, I noticed that canary the whole time and now beta are failing for my addon:
[code]

Here is one of the travis build logs https://travis-ci.org/kellyselden/ember-tree/builds/148237768. I tried removing dependencies to narrow it down, but then tests start failing for other reasons.

When debugging, `if

[2016-07-30 03:09] andrewmp1 commented on #12967
@dguettler Amazing I just decided to work on some bugs today and was looking at this and came to the same conclusion.  Created a PR for the fix w/ a failing test: https://github.com/emberjs/ember.js/pull/13969

[2016-07-30 03:32] krisselden commented on #13962
Fixed in #13967

[2016-07-30 03:34] krisselden commented on #13962
@dfreeman that is the only way this bug should be happening.  It is the same thing in ember-basic-dropdown

[2016-07-30 04:00] krisselden commented on #13968
_renderNode is private and not part of glimmer2

[2016-07-30 04:50] rwjblue commented on #13963
I fixed the direct issue reported here in #13970 and https://github.com/switchfly/ember-test-helpers/pull/167, but the reproduction steps are still an issue due to the way top level outlets are being used by ember-test-helpers.

[2016-07-30 05:32] chancancode commented on #13949
Sorry that I locked the issue earlier! The intent is that it is generally a better idea to open new issues instead of having a long thread of disconnected issues, especially since there are no "sub-threads" in the Github UI.

However, if there are things that you think _really_ belongs here, I have unlocked it so you can add them at your digression. We may also periodically delete outdated comment

[2016-07-30 08:50] KoKuToru opened #13972 "call order for `didInsertElement` for siblings reversed"
Example:
[code]
order of didInsertElement hooks: `A B C D`

in `2.9.0-alpha+8ba7f68f` the order is now: `D C B A`

Ember-Twiddle: https://ember-twiddle.com/#/847f6adf7c7dc53f65f449062c3c5549 (output in console)

I have some code that depends on the order of `didInsertElement`.
`willInsertElement` is still in the right order.

[2016-07-30 09:02] martndemus commented on #13888
@acorncom Reproduction is: clone https://github.com/martndemus/ember-form-for/commit/206cc307740bfa07de6eee48cebbca14839651eb and run `ember test`

[2016-07-30 10:12] #13959 closed

[2016-07-30 10:37] chancancode commented on #13959
@cibernox can you try again with the latest build? (`rm -rf bower_components/ember && bower install --save ember#alpha`)

[2016-07-30 10:39] cibernox commented on #13959
After lunch 👍

[2016-07-30 11:41] rwjblue commented on #13972
Hmm.  I don't think the order of `didInsertElement` for siblings was a really well defined API.  We definitely guarantee that any child components' `didInsertElement` is called before their parents, but I don't think we have made guarantees on the ordering of `A`, `B`, `C`, `D` in your example.

@krisselden - You likely know this area the best, what do you think?  Should we consider this a bug and

[2016-07-30 16:04] cibernox commented on #13959
There is another problem with this, but I'll open a new issue.

[2016-07-30 16:11] lan0 commented on #13591
Can this issue be reopened?

The behavior of the twiddle in the OP differs slightly in 2.6.2 and 2.7.0:
While in 2.6.2 the array got converted to a string immediately after clicking on `Set array`, in 2.7.0 the initial `Set array` works fine but a subsequent click on `Set number` transforms the array into a string.

[2016-07-30 16:30] cibernox opened #13974 "[Glimmer 2] Binding `undefined` to a text input outputs "undefined""
Code:

[code]

Result:

<img width="149" alt="screen shot 0028-07-30 at 17 29 05" src="https://cloud.githubusercontent.com/assets/265339/17271716/28b20cb4-567b-11e6-8e22-f42c58ec4b80.png">

Demo:

https://glimmer2-basic-dropdown.development.pagefrontapp.com

[2016-07-30 16:37] chancancode commented on #13972
I think we did it to pass tests: https://github.com/emberjs/ember.js/commit/158158364999302d1309b2135f7b46218496007f#diff-c8938eb5cb17b733982744e1621cb8e4R168

If the actual goal is to have the children called before the parent, I think the would be pretty simple; instead of queuing the hooks in `OpenComponentOpcode`, we could move it to `CloseComponentOpcode`, then we can delete the patch in Embe

[2016-07-30 16:38] chancancode commented on #13974
cc @chadhietala

[2016-07-30 16:51] alexlafroscia commented on #13888
You can see the same problem on the `master` branch of Ember AJAX right now too.

[2016-07-30 17:02] chancancode commented on #13974
@chadhietala I think you just want to call `normalizeTextValue` [here](https://github.com/tildeio/glimmer/blob/master/packages/glimmer-runtime/lib/dom/change-lists.ts#L126)

[2016-07-30 18:21] chadhietala commented on #13974
https://github.com/tildeio/glimmer/pull/245

[2016-07-30 18:50] rwjblue commented on #13972
@chancancode - The parent/child ordering is correct. This issue is about siblings.

[2016-07-30 18:56] rwjblue commented on #13888
This is definitely an issue with an interaction between the change that @martndemus pointed out and the way ember-test-helpers sets up the event dispatcher. Ultimately, this causes the event dispatcher gets the event but can't identify which view it should be triggering.

I'll try to get a fix together in time for the next beta.

[2016-07-30 18:56] rwjblue commented on #13959
Thank you @cibernox!

[2016-07-30 19:28] chancancode commented on #13972
Yeah. Basically we did pre-order queueing (Parent - Child 1 - Child 2 - Child 3) and then the test failed, so we just reversed the order to make it pass (C3 C2 C1 P).

If we actually want post-order queuing (C1 C2 C3 P), I think we can actually do it. Might have some implications for exception cases though, since if it errored when appending one of your children, your hook will not be queued/calle

[2016-07-30 21:58] #13974 closed

[2016-07-30 22:30] kellyselden commented on #13968
OK, but I don't know how I'm causing this failure. I'm not using any private code in my addon code, maybe one of the addons I'm using is having issues with glimmer 2. My ember debugging skills are apparently lacking in this case.

[2016-07-30 23:12] chancancode commented on #13974
@cibernox can you confirm this is fixed? :smile:

[2016-07-31 01:00] #13962 closed

[2016-07-31 02:08] dguettler commented on #12967
Should this get a different label? Fix has been merged to master

[2016-07-31 02:09] #12967 closed

[2016-07-31 04:25] rwjblue commented on #13963
More work being done in:

* https://github.com/emberjs/ember.js/pull/13980
* switchfly/ember-test-helpers#168

[2016-07-31 08:49] cibernox commented on #13974
Fixed 👍

[2016-07-31 09:05] cibernox commented on #13962
I can confirm that this issue is fixed. Investigating another one.

[2016-07-31 20:39] cibernox opened #13982 "[Glimmer 2] Updating a bound attr of a contextual component creates a new component"
If a contextual component has some data bound, and that data is updated, any instances of that component gets complete reinitialized like if it was an entirely new component.

[code]
This is a regression, since in 2.7 the same component is reused and the state just gets updated.

Live twiddle (works in stable, fails in alpha):

https://ember-twiddle.com/5b6ea116582202584db37a667a21b056?openFiles=t

[2016-07-31 20:40] chancancode commented on #13982
Thanks for reporting! This is definitely a bug we can/should fix 👍
On Sun, Jul 31, 2016 at 1:39 PM Miguel Camba <notifications@github.com>
wrote:

[2016-07-31 21:36] chancancode commented on #13982
We currently rely on the ComponentDefinition (an internal object) being stable/`===`, but looks like the ones produced by the component helper is not. So we either have to fix the component helper to produce stable values, or to beef up the stability check to not rely on `===`. Currently I believe the first approach would be simplier.

[2016-07-31 22:41] cibernox commented on #13982
@chancancode In my mind that's how this worked already. I thought that the reference was stable unless the first argument (the component's name) changes.

[2016-08-01 02:00] jdenly commented on #13940
I've done a bit more investigation with different versions and OS's, summarised in the table below.

OS|Browser|Process memory leak with web driver?|Heap size increases?
----|----------|-------------------------------------------------|-----------------------
Windows 7|Internet Explorer 11.0.32|Y|Y
Windows 7|Internet Explorer 11.0.14|Y|Y
Windows 8.1|Internet Explorer 11.0.31|Y|Y
Windows 10|Interne

[2016-08-01 02:26] stefanpenner commented on #13940
@jdenly so it seems like IE has a fix 11.0.33+, does windows 7 and windows 8.1 also ahve IE 11.0.33?

[2016-08-01 02:38] rwjblue commented on #13888
I did a bit more digging and believe that we have this fixed with https://github.com/switchfly/ember-test-helpers/pull/167 (released in ember-test-helpers@0.5.28) and https://github.com/emberjs/ember.js/pull/13970/commits/ffc29cd237613507e915c7cf9972ef8dd3b16453 (which is cherry-picked into beta branch).

The basic issue is that since the `Ember.Aplication` and `Ember.ApplicationInstance` split th

[2016-08-01 03:40] rwjblue commented on #13963
With the changes from ember-test-helpers@0.5.29 a basic `this.render` should be working (submitted https://github.com/dfreeman/glimmer-integration-failure/pull/1 to the test repo).

A generic `ember g component x-foo` will still fail due to the lack of support for `this.clearRender()` in ember-test-helpers at the moment (still working on that).

[2016-08-01 07:44] martndemus commented on #13888
Can confirm this is fixed now. Closing the issue!

[2016-08-01 07:44] #13888 closed

[2016-08-01 09:24] jdenly commented on #13940
@stefanpenner None of the Windows 7 systems I have seems to want to fetch it with windows update.

I think it's included in this Windows 10 update.
https://support.microsoft.com/en-us/kb/3172985
https://support.microsoft.com/en-us/kb/3169991

Which contains a few non-security related fixes in this patch:
https://support.microsoft.com/en-us/kb/3170106

I'll try and get it installed on Windows 7 or

[2016-08-01 09:50] Cryrivers commented on #13949
addons dependent on `ember-htmlbars/streams/stream` or `ember-views/streams/stream` are not working at the moment as well. (e.g: `liquid-fire` and `ember-i18n`)

[2016-08-01 10:33] astronomersiva opened #13983 "[Glimmer 2] Array of objects bindings are not reflected in the DOM"
In an array of objects, the corresponding DOM changes are not updated immediately when the object properties are modified. They are batched together and updated when some other element is modified/added in the array.

The issue happens only when the array elements are added dynamically(using pushObject or insertAt).

Steps to reproduce in the [demo twiddle](https://ember-twiddle.com/c03e039a80cae6

[2016-08-01 13:52] Redsandro commented on #13919
I experienced the same problem. I was going to blame Ember, but good to know it's Chrome instead. :smile:

Does anyone know when this was introduced to Chrome? I updated from 52 to get rid of the [scroll jump bug](https://bugs.chromium.org/p/chromium/issues/detail?id=616308), and rolling back further will bring back the defunct high precision scrolling.

Chrome is a bit like a minefield of bugs la

[2016-08-01 18:11] ccarterc commented on #10875
The biggest reason for needing pojo's is for 3rd party library support.  Datatables, jstree, etc. all expect plain javascript arrays and objects and will blow up with ember data structures.

[2016-08-01 19:33] chancancode commented on #13983
Thanks for the report!

I can confirm the bug, here is a reduced-reduced test twiddle: https://ember-twiddle.com/b5d86afbf2be8496b0af8b9acef57959

Will look into it.

[2016-08-01 20:59] chadhietala opened #13984 "[DOCS] Ember.RSVP.cast is not documented"

[2016-08-01 21:07] rwjblue commented on #13984
`RSVP.cast` is just `Ember.RSVP.resolve` AFAIK ([see here](https://github.com/tildeio/rsvp.js/blob/master/lib/rsvp.js#L26)). I think `Ember.RSVP.Promise.resolve` would be preferred over either, but @stefanpenner should chime in to confirm/deny...

[2016-08-01 21:10] stefanpenner commented on #13984
`cast` is dead, don't use it, as 100% of `cast` usages can be expressed as `Promise.resolve`. It exists purely as a deprecated compat thing.

[2016-08-01 21:24] #13984 closed

[2016-08-01 23:32] rwjblue commented on #13963
As of ember-test-helpers@0.5.30 `ember g component it-works` passes without change.

I'm going to consider this finished (though please chime in if there are issues and I'll reopen).

[2016-08-01 23:32] #13963 closed

[2016-08-02 01:06] rwjblue opened #13992 "<select multiple> loses multiple selection on initial render"
Given the following template:

[code]

In the alpha only item `"3"` is marked as selected, but in HTMLBars (release branch) all three are properly marked as selected.

[Demo with 2.7.0](https://jsbin.com/gazade/edit?html,js,output)
[Demo with Alpha](https://jsbin.com/maloted/edit?html,js,output)

[2016-08-02 02:45] pgengler opened #13993 "Canary builds are versioned as 2.9.0-null+<sha> instead of 2.9.0-canary+<sha>"
The Ember.js canary builds are appearing as version `2.9.0-null+<sha>` (e.g., `2.9.0-null+6449018e`) instead of `2.9.0-canary+6449018e`.

To see this, look at the version data in the output of [the builds.emberjs.com tests](http://builds.emberjs.com/canary/ember-tests-index.html).

[2016-08-02 02:51] rwjblue commented on #13993
Thanks for reporting! I'll get on it...

[2016-08-02 03:16] rwjblue opened #13994 "Error accessing block params > number of yielded items"
Given the following templates:

[code]

[code]

The following error is triggered:

[code]

[Demo here](https://jsbin.com/mosise/edit?html,js,output)

[2016-08-02 03:24] rwjblue opened #13995 "Yielding inside of an `{{#each` triggers an error."
Given the following templates:

[code]

[code]

The following error is triggered:

[code]

[Demo here](https://jsbin.com/wasayek/edit?html,js,output)

[2016-08-02 06:19] zackthehuman commented on #13982
I'm looking in to this.

[2016-08-02 07:17] natorion commented on #13919
We shipped the fix in 54.0.2812.0 and are currently on 54.0.2815.0. This behavior change is not in Chrome 52.

The "aw snaps" were related to another bug.

[2016-08-02 07:45] sibijohn72 opened #13998 "addObject/ pushObject is not a function"
I recently moved from ember 1.x to 2.6. I am not able to use addObject/ pushObject like i used to.

[code]

This throws an error like pushObject is not a function. What is the workaround? Thank you.

[2016-08-02 07:48] Serabe commented on #13998
Quite likely the extend prototypes option is false for some reason. Personally, I like it better: it makes switching between app and addon easier.

You can read more about disabling prototype extensions in  [the guide](https://guides.emberjs.com/v2.7.0/configuring-ember/disabling-prototype-extensions/).

Thank you!

[2016-08-02 07:48] #13998 closed

[2016-08-02 07:54] Serabe commented on #13945
Let's see what @krisselden thinks about this one. It is a bit strange because the `get` change the behaviour heavily, but he knows better how things should be working.

Thank you!

[2016-08-02 08:28] martndemus opened #13999 "[Glimmer 2] Passing an undefined variable to a helper causes an error"
[code]

raises: `TypeError: Cannot read property '0' of null`
It never reaches the helper code before the error is thrown.

Reproduction:
https://jsbin.com/hawerupatu/edit?html,js,output

[2016-08-02 09:02] Cryrivers commented on #13999
passing null causes the error as well
[code]

[2016-08-02 10:59] Unnumbered commented on #12169
@mschinis read this: https://github.com/emberjs/ember.js/pull/13600

[2016-08-02 11:14] cibernox opened #14000 "[BUG beta] `isDestroying` flag out of sync with the `_state` property."
Tests in EmberPowerSelect started to fail when 2.8-beta.1 was released.

The error started in the view: `Uncaught TypeError: Cannot read property 'scheduleRevalidate' of null`. However I saw this failure at the end of the tests when all assertions ran.

I tracked the failure to an action `onBlur` action that ties to set a property in the component. That `onblur` action is triggered by the destruct

[2016-08-02 11:15] mschinis commented on #12169
Awesome thanks @Unnumbered

[2016-08-02 11:23] GavinJoyce opened #14001 "[Glimmer 2] textarea renders "true" instead of """
The rendered value of `textarea` is `"true"` instead of `""` when the context value is `""`.

TODO:

 * [x] Create a failing test @gavinjoyce: https://github.com/tildeio/glimmer/pull/250
 * [x] Fix: https://github.com/tildeio/glimmer/pull/250

Given the following controller:

[code]

And template:

[code]

**htmlbars renders:**

<img width="626" alt="screen shot 2016-08-02 at 12 01 05" src="https:

[2016-08-02 11:33] martndemus commented on #14000
This is probably a duplicate of #13846

[2016-08-02 12:03] Redsandro commented on #13919
@natorion Ah I see. I'm on Linux, the current package is `54.0.2810.2`. I guess I can expect it to auto-update anytime now. Thanks for the information.

[2016-08-02 12:17] cibernox commented on #14000
@martndemus Maybe it's the same issue, but I don't see any mention in the other issue of the `isDestroying` flag. Perhaps that other issue is the caused this regression.

By example the example I posted doesn't trigger any error in the console but the logs in the console show how the behaviour of the `isDestroyed` field changed.

[2016-08-02 12:20] Artmann commented on #13484
Should the input helpers for  `checkbox`, `textarea` and `textfield` support `hidden`, `title` and `accesskey` as attribute bindings?

[2016-08-02 12:21] natorion commented on #13919
You are likely running the Dev Channel which means it gets updated once a week (typically on Tuesdays).

[2016-08-02 12:31] Redsandro commented on #13919
Awesome! :+1:
Dev channel indeed.

[2016-08-02 13:37] arm1n commented on #12473
I just stumbled over the same issue when trying to abort a transition using the following query parameter setup:

[code]

Hower, if all query parameters are at their default states, the call to `transition.abort()` works as expected. Is there any resolution planned in the near future?

[2016-08-02 15:15] rwjblue commented on #13982
Should be closed by #13997, @cibernox can you confirm and close?

[2016-08-02 15:58] cibernox commented on #13982
@rwjblue It does work on one case, but not in other I believe. I'll check if I can narrow it down to another twiddle.

[2016-08-02 16:15] cibernox opened #14004 "[Glimmer2] Updating a bound attr of a contextual component with a non-constant name creates a new instance"
This is an evolution of #13982

That bug is still present if the name of the component is read from the context instead of being a constant reference.

Twiddle: https://ember-twiddle.com/5b6ea116582202584db37a667a21b056?openFiles=templates.application.hbs%2Ctemplates.components.my-comp.hbs

[2016-08-02 16:17] cibernox commented on #14004
Closing this. This probably handled better as another PR to the previous issue.

[2016-08-02 16:17] #14004 closed

[2016-08-02 16:18] cibernox commented on #13982
@zackhall There is one case that still fails. If the name of the component is not a constant reference, the component keeps being initialized.

https://ember-twiddle.com/5b6ea116582202584db37a667a21b056?openFiles=templates.application.hbs%2Ctemplates.components.my-comp.hbs

[2016-08-02 16:20] rwjblue commented on #13982
Hehe, I think you meant @zackthehuman here.

[2016-08-02 16:22] cibernox commented on #13982
Indeed. Github's username suggestion is a bit drunk actually.

[2016-08-02 16:36] GavinJoyce commented on #14001
We're calling `normalizePropertyValue` for `value` on `textarea` which sets a `""` value to `true`:

https://github.com/tildeio/glimmer/blob/9ecc9ade7efa41cf7068729ddeea4b09c1ce51de/packages/glimmer-runtime/lib/dom/props.ts#L33-L39

[2016-08-02 20:24] rwjblue commented on #13982
Just landed #14005 which should fix.

@cibernox - Can you confirm and close (will be ~ 15-20 minutes until alpha build is updated).

[2016-08-02 20:25] GavinJoyce commented on #13999
It's easy to reproduce this in the glimmer visualizer:

<img width="1192" alt="screen shot 2016-08-02 at 21 20 47" src="https://cloud.githubusercontent.com/assets/2526/17343723/0e1672c2-58f7-11e6-8cdf-540693a4a97c.png">

`isArg(sexp)` fails as sexp is `[null]` and:

<img width="630" alt="screen shot 2016-08-02 at 21 01 57" src="https://cloud.githubusercontent.com/assets/2526/17343839/95fd06b0-58f7

[2016-08-02 20:44] GavinJoyce commented on #13999
Failing test: https://github.com/tildeio/glimmer/pull/251

[2016-08-02 21:08] darylalexjohnson opened #14006 "Internet Explorer IE9: _emberEnvironment.environment.global returns `undefined`"
After upgrading one of our apps to 2.7, it failed to load in IE9. I reproduced the issue by installing a new sandbox app with v2.7.  The error is thrown in `supportsHashChange` with `global` being `undefined`.

[code]

Reverting to 2.6 resolves the issue.

[2016-08-02 21:18] bmeurant commented on #13999
Here is another related failing test : https://github.com/bmeurant/ember-array-contains-helper/blob/master/tests/integration/helpers/array-contains-test.js#L48

With travis job errors : https://travis-ci.org/bmeurant/ember-array-contains-helper/jobs/149285829

I also have issues later but not necessarily related to this (maybe I am doing something wrong): it seems that updating the array (adding o

[2016-08-02 21:21] cibernox commented on #13982
@rwjblue Just tested. It works finally 🎉

[2016-08-02 21:21] #13982 closed

[2016-08-02 21:24] rwjblue commented on #13982
Awesome, thanks for testing!  Looking forward to the next round of issues from you now 😉

[2016-08-02 21:55] cibernox opened #14007 "[BUG beta] attributeBindings not working for "role""
This works in 2.7 and fails in 2.8. Funny enough, it seems to work in general, it just fails (that I've know of) with the `role` attribute.

Twiddle with a demo: https://ember-twiddle.com/ba0c926a18c53ee7155dc23059c70caa?openFiles=components.my-component.js%2Ctemplates.components.my-component.hbs

[2016-08-03 00:01] cibernox commented on #14007
Ok, I've bisected this to this PR: https://github.com/emberjs/ember.js/pull/13887 /cc @krisselden

My failing test is this one:

[code]

Enough for today. 😴

[2016-08-03 00:39] rwjblue commented on #14007
I believe that https://github.com/emberjs/ember.js/pull/13887/files#diff-1654f1d069eb2138afd01d960e2a78a7R187 is clobbering the user specified attributeBinding for 'role'. We should add this as the default before the loop over attributeBindings.

[2016-08-03 03:50] titoesteves opened #14008 "How to use csrf in ember app"
I am trying to implement csrf in my ember/express app. In my express app I have the following:
[code]
in ember I have the following:
[code]
the log shows locals._csrf as undefined. I am using express 3.x and ember 1.x. --- Any ideas or thoughts?

[2016-08-03 06:26] krisselden commented on #14007
Should be easy to fix, I'll try to get to it soonish,  a failing test PR would be nice,  just need to check role before defaulting it

[2016-08-03 06:35] krisselden commented on #13945
On the init method ordering matters,  no change events fire and you cannot rely on events to sort out dependencies between props.  It is supposed to be initializing the object to its initial state,  you have to be aware of the order and shouldn't leak out the partially initialized object to code that expects a fully initialized object

[2016-08-03 06:36] krisselden commented on #13945
The init event fires when initialize is done and all events are enabled at that point

[2016-08-03 08:50] cibernox commented on #14007
@krisselden Yep, that was enough

[2016-08-03 10:06] Serabe commented on #13945
Thank you, @krisselden. I will close this then.

[2016-08-03 10:06] #13945 closed

[2016-08-03 10:12] Serabe commented on #14008
Hello, @titoesteves. I am closing this since it is not an Emberjs bug. Please, go to #-help channel on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

Thank you!

[2016-08-03 10:12] #14008 closed

[2016-08-03 10:36] alisdair opened #14010 "Exception thrown from _fullyScopeQueryParams"
Since upgrading to 2.7, our app has been throwing errors in production on some transitions. We have around 600 errors recorded in the past week.

I haven't been able to reproduce these in a development environment, so all I have to go on is a stack trace. But it looks to me like there's something going askew on the path from `transitionTo` to the new `_fullyScopeQueryParams` introduced in #13273 b

[2016-08-03 11:57] #14007 closed

[2016-08-03 15:01] GavinJoyce opened #14013 "[Glimmer 2] Assertion Failed: You modified [property] twice in a single render"
I'm not certain that this is a supported case, but this is an issue that I've come across a number of times in Intercom's app.

[code]

It works if I remove the `this.incrementProperty('count');`.

**Twiddles:**

`Canary` (:green_apple:): https://ember-twiddle.com/c78fcbe4267c069f3898c28e3562962f?openFiles=components.my-component.js%2Ctemplates.components.my-component.hbs

`Alpha` (:red_circle:):

[2016-08-03 15:21] spruce opened #14014 "depending on "model.constructor.modelName" sets model.constructor to undefined"
In my app I use an computed property to state how many steps are left to do for creating the models. This depends on how many steps are already done and which kind of model it is currently creating. (We create different kind of coworkers)

In Ember 2.5 it did work. After upgrading or slightly after (not quite sure) it stopped working.

this is my cp

[code]

I found the exact line where it changes

[2016-08-03 15:39] stefanpenner opened #14015 "Engines + visit + shouldRender: false incompatible"
It appears (debugging with @rwjblue) that  the follwing in an engine's route, will currently always assume `renderTemplate` should be invoked.

[code]

source: https://github.com/emberjs/ember.js/blob/13ea22bd54a5e967fd4638704bb55b348fb07d32/packages/ember-routing/lib/system/route.js#L1235

it may be that: https://github.com/emberjs/ember.js/blob/master/packages/ember-application/lib/system/engine

[2016-08-03 15:53] stefanpenner commented on #14015
action items:

- [ ] investigate if
- [ ] add assertion/throw to https://github.com/emberjs/ember.js/blob/9ebda97047be7f8ce2c5b3f4e4568cdc25844dea/packages/ember-routing/lib/system/router.js#L1332 when we end up in this case.
- [ ] refactor https://github.com/emberjs/ember.js/blob/9ebda97047be7f8ce2c5b3f4e4568cdc25844dea/packages/ember-routing/lib/system/router.js#L278-L293 to be a-bit easier to f

[2016-08-03 16:06] stefanpenner commented on #14015
Commit that introduced the `environment` concept and the branching: https://github.com/emberjs/ember.js/commit/8e317ee6ddd10493382d6e2ec9477bb457ce873c

[2016-08-03 16:10] nathanhammond commented on #14015
/cc @trentmwillis

[2016-08-03 16:28] stefanpenner commented on #14015
Also, although I usually also try and fix issues i discover. I don't believe I'll have time right now to bring this one to completion. Although I'll gladly help anyone who does tackle.

[2016-08-03 16:28] chadhietala commented on #14013
Yea I think this is going to create unpredictable behavior sense you are essentially setting in CP getter which is something we would like to avoid. Moving the `incrementProperty` to init and then also `incrementProperty` in the action it's self.

https://ember-twiddle.com/6c0b3a6424186394b433290afcc0ea18?openFiles=components.my-component.js%2Ctemplates.components.my-component.hbs

I think we shou

[2016-08-03 17:02] chancancode commented on #14013
Is `count` referenced anywhere else in a template?

[2016-08-03 17:03] chancancode commented on #14013
This is https://github.com/emberjs/ember.js/issues/13948 by the way. However, in this case it could be a bug if count is never referenced in a template

[2016-08-03 17:26] chadhietala opened #14016 "[Templating] UndefinedLiteral Coerced To Null"
Currently in both rendering engines UndefinedLiterals are coerced to `null`. This seems incorrect, however there may be application code that is dependent on this incorrectness, which may lead to non-obvious breakages.

__Example:__

[code]

[code]

This issue is a placeholder to see if anybody is surprised by this or has code that coerces `null` back into `undefined`.

[2016-08-03 17:35] rwjblue commented on #14015
@stefanpenner - I think the ember-engines strike team can pick this up as it seems like it would be a growing issue in the 2.8.0-beta usage of engines.

@dgeb / @nathanhammond / @trentmwillis - Lets circle around about this soon.  I think step one is a failing test (preferably here, but possibly in the addon)...

[2016-08-03 17:37] GavinJoyce commented on #14013
`count` is referenced in the template. As you suspected, there is no error when I remove it from the template.

The thing that threw me was that simply adding `{{style}}` to the template results in no exception. Is there some reason why we shouldn't be raising the same `You modified count twice in a single render` exception in this case?

[2016-08-03 18:45] andyhot commented on #12859
I believe a valid use-case for this is to support template hot-swapping

[2016-08-03 21:33] rwjblue commented on #14001
Reopening here until we bump glimmer versions.

[2016-08-04 00:09] cibernox commented on #14000
Ok, I've bisected this to [this commit](https://github.com/emberjs/ember.js/pull/13775/commits/186be31d3ce565f6d4b1e374a70b78695d71866c) of the PR #13775

The test I'm using to detect this failure:
[code]

It is worth noticing that this test **passes in glimmer but fails in HTMLbars**

@krisselden I haven't even tried to dig into this, I just bisected. But if you can see anything that could make t

[2016-08-04 01:48] mitchlloyd commented on #14016
I was surprised by this recently when writing a helper test to handle `undefined` values. I had to use `{{my-helper nothing}}` instead of `{{my-helper undefined}}`. Now I know why :)

My vote would be to change the behavior to pass the expected `undefined` value. Although it _could_ be breaking, relying on `{{foo-helper undefined}}` being coerced to null would most likely be an accident.

[2016-08-04 01:51] chadhietala commented on #14016
@mitchlloyd This is my predicament as well.

[2016-08-04 02:26] lc4377 opened #14017 "Ember.js error: You must include an 'id' for an object passed to 'push'"
The REST api which i am using to fetch data doesn't give proper json as expected by Ember.js. I don't have id values in data.

`[{"objectID":"340907","owner":"Lokesh"},{"objectID":"340908","owner":"Cherukuri"}]`
so i created a a serializer

[code]
[code]
This did not solve the problem.

[2016-08-04 04:37] btecu commented on #14017
Wrong repository. Also, issues should be used for reporting bugs.
Try using StackOverflow or the Slack channel for help.

[2016-08-04 05:54] krisselden commented on #14000
This is not a bug, _state means the dom is destroying isDestroying is an object model thing. isDestroying should only be true if the object model destroy method is called this is rare in practice to happen first was buggy before when it did.

[2016-08-04 05:58] krisselden commented on #14000
I'm going to close this as a duplicate bug and because the title of this one is wrong as well.  The bug is scheduleRevalidate can run on a view that has already been torn down

[2016-08-04 05:58] #14000 closed

[2016-08-04 07:37] piotrpalek opened #14018 "FillIn acceptance helper works only on the first matched input"
I tried to `fillIn` multiple inputs in an acceptance test with one selector. So let's say my template was:

[code]

And I was using `fillIn` like this: `fillIn('input', 'someval')`

The result would be that visually it would seem as if both inputs are filled in with the same value (html was updated), but the data binding would only be updated on `someVal`.

Replicated here: https://ember-twiddle.c

[2016-08-04 07:39] #14013 closed

[2016-08-04 07:57] piotrpalek commented on #14018
Ok so the issue seems to be that the `fillIn` helper uses the first element of the collection it finds for most of the work, but uses the whole collection to set the value:

https://github.com/emberjs/ember.js/blob/86d68628b82a6ea2d850cef09776410cde38c4a7/packages/ember-testing/lib/helpers/fill_in.js#L14

Question is what's the expected behavior, to only work on the first element or to work on all

[2016-08-04 08:07] cibernox commented on #14000
@krisselden ok. In any case, since this seems to be a manifestation of that other bug, this bisect is still valuable. I'll add a comment in the other issue.
👏

[2016-08-04 08:09] cibernox commented on #13846
I bisected this myself for issue #14000 and also reached the conclusion that #13775 introduced this failure.

[2016-08-04 10:17] GavinJoyce commented on #13955
For the template:

[code]

Here's the processed AST (with loc info removed):

[code]

This then produces the following wireformat which looks incorrect:

[code]

[2016-08-04 11:05] jcbvm commented on #14010
Having the same. But from what I can see it's a timing issue because of the inconsistent reproduction case.

[2016-08-04 11:45] GavinJoyce commented on #13955
Failing test: https://github.com/emberjs/ember.js/pull/14019

[2016-08-04 11:47] GavinJoyce commented on #13955
Related PR where the glimmer `-normalize-class` helper was added: https://github.com/emberjs/ember.js/pull/13724

[2016-08-04 14:04] GavinJoyce commented on #13955
@chadhietala perhaps you might be able to add some insight here?

[2016-08-04 14:21] rwjblue opened #14020 "Components in `ember-glimmer/components` symlink to HTMLBars."
The original source should be in `ember-glimmer` and the `ember-htmlbars` versions can be a symlink that points to `ember-glimmer`.  Currently, this is the other way around...

[2016-08-04 14:54] carlesnunez opened #14022 "Why use setAll is the most efficient way to do a setEach?"
Hi, according to ember documentation Ember.enumerable setEach 'is more
    efficient than using other methods defined on this helper':

If we drop down to the ember code we can see a function that uses a vanila JS foreach and set method extracted from ember-metal.

[code]

Why this is the most 'efficient' way to do that? Its because we use set as a method instead of do item.set?

Thank you

[2016-08-04 15:12] Serabe commented on #14017
Hello, @lc4377. I am closing this since it is not an Emberjs bug. Please, go to #-help channel on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

Thank you!

[2016-08-04 15:12] #14017 closed

[2016-08-04 15:14] notmessenger opened #14023 "Error in 2.7.0 but not 2.6.0: Uncaught Error: Assertion Failed: Attempted to register a view with an id already in use: null"
### Updated

The bug is that since elementId is now conditionally initialized based on tagName (was this way in 1.12 and below), if the tagName is inherited as '' and you set it again post `this._super(...arguments);`, then `elementId === null` but since tagName is now set to not be `""` then when the view is registered, it will be registered as `"null"` causing problems if you render more than on

[2016-08-04 15:25] Serabe commented on #14014
Hello, @spruce.

Can you please reproduce the problem in an [ember-twiddle](https://ember-twiddle.com), please?

I tried but couldn't.

Thank you!

[2016-08-04 15:32] Serabe commented on #14023
Hello, @notmessenger:

I see that your demo application uses [several external addons](https://github.com/notmessenger/regressionDemo/blob/master/package.json#L39-L41). Can you please create a standalone version of this report or even better, a twiddle?

That would speed up the process since we would not need to look at your addons' code.

Thank you!

[2016-08-04 15:33] trentmwillis commented on #14015
I'll look into this and try to pull together a failing test.

[2016-08-04 15:35] notmessenger commented on #14023
@Serabe I can but until I get the time to the fact that they same external add ons work in 2.6.0 but not in 2.7.0 is telling, as the add-on code hasn't changed any between these dependency installs.

[2016-08-04 15:36] vcipriani opened #14024 "attributeBinding for booleans broken in 2.7"
In earlier versions, view attribute binding for boolean properties would have generated a tag similar to below:

 `<div id="ember444" bindingval="true" class="ember-view">`

Now it is not displaying the attribute at all if false and doing the following if true

 `<div id="ember444" bindingval class="ember-view">`

This can be verified by creating a brand new app and rendering a simple component se

[2016-08-04 15:38] ef4 commented on #14015
I agree on adding a smarter failure message when something attempts to render into a nonsensical destination.

[2016-08-04 15:52] Serabe commented on #14014
I finally got two different reproductions. The first one by @cibernox can be found [here](https://ember-twiddle.com/#/b0568f1ac5eb2c940f7b3bc56212e88f?openFiles=controllers.application.js%2Ctemplates.components.my-component.hbs) and it raises the error as soon as the application renders.

The other example is a bit more convoluted but shows that a computed property can work if the model does not c

[2016-08-04 15:57] cibernox commented on #14014
To clarify, the application fails as soon as the app renders because I'm passing the `post` model after it has been destroyed by observing his constructor to a component, and components perform an assertion to deperecate `didInitAttrs` that calls `.toString()` on that property.

[2016-08-04 16:21] pixelhandler commented on #14006
@darylalexjohnson can you share the repository you used to reproduce the issue, here? It will be helpful for confirming and debugging the issue.

[2016-08-04 16:26] pixelhandler commented on #14016
@chadhietala does https://github.com/tildeio/glimmer/issues/252 resolve this issue?

[2016-08-04 16:28] pixelhandler commented on #14018
@piotrpalek I'm curious if you are more explicit with the selector you use with `fillIn` to only find one input does the helper work as expected?

[2016-08-04 16:48] pixelhandler commented on #14022
@carlesnunez Thank you for your question. Can you reach out to the ember community via one of the links here - http://emberjs.com/community/

Typically we use github for reporting bugs in Ember.  StackOverflow, the discussion forum, and Slack are all great ways to address questions.  Also using those resources, you'll be more likely to get an answer.

[2016-08-04 16:52] pixelhandler commented on #14023
@notmessenger do all of those addons have passing builds in Ember 2.7.0?

Also to debug whether the issue is in a simple app with only the change between Ember versions is super helpful. Then perhaps add back in your add ons util the issue is reproduced if not already present in simply using Ember 2.7

It would be good to narrow down if the issue is a combination of an app, an ember version and a

[2016-08-04 16:54] pixelhandler commented on #14024
@vcipriani  I believe that is the desired behavior for boolean attributes in HTML, See http://www.w3.org/TR/html5/infrastructure.html#boolean-attributes

I do not believe this is a bug.

[2016-08-04 17:04] rwjblue commented on #14024
I agree with @pixelhandler. If you do want `bindingval="true"` you should use the string `"true"` or `"false"`.

[2016-08-04 17:14] chadhietala commented on #13955
Let me take a look 🙇

[2016-08-04 17:21] stefanpenner commented on #14022
this may be a doc error, this is more ergonomic not more efficient.

[2016-08-04 17:57] Serabe commented on #14024
Given the answers by @pixelhandler and @rwjblue, I'm closing this as not a bug. Thank you everybody!

[2016-08-04 17:57] chadhietala commented on #14016
No waiting on https://github.com/tildeio/glimmer/pull/255

[2016-08-04 18:26] piotrpalek commented on #14018
@pixelhandler being able to make the selector more specific isn't the issue. The issue is that the behavior is bugged when having a selector that matches multiple inputs. It should either _only_ work for the first element in case of multiple inputs, or work consistently for all of them.
Right now when you try to `fillIn` multiple inputs _seems_ as if it's working but actually isn't, that is very c

[2016-08-04 18:30] cibernox commented on #14014
Another note. I understand that observing the constructor does seem like a weird pattern, given that the constructor can't change, so I'd accept as reasonable bugfix to add an assertion in development to instruct users to not do that.

[2016-08-04 20:32] vcipriani commented on #14024
I should have referenced this earlier, but the [Ember documentation](http://emberjs.com/api/classes/Ember.View.html) specifies the behavior we expected.

`<input id="ember1" class="ember-view" disabled="false" />`

Its easy enough to use a string, so I don't mind, but it seems like the docs should be updated and this should be noted as a change.

[2016-08-04 21:32] stefanpenner opened #14029 "Remove guard in this._environment branch"
https://github.com/emberjs/ember.js/commit/8e317ee6ddd10493382d6e2ec9477bb457ce873c#commitcomment-18506215

It was the source of: #14015

[2016-08-04 21:49] supersabillon commented on #14010
Also having this issue since upgrading to 2.7

[2016-08-04 21:50] dfreeman commented on #4794
I haven't dug in to be certain yet, but it looks like this may have been fixed in 2.7?

[2016-08-05 01:11] dguettler commented on #13771
Anybody willing to take a look at the test for this? The code change fixes the issue in above twiddle example.
The test would need to call `paramsFor` before the `_qpDelegate` method is called so

[2016-08-05 03:28] dfreeman commented on #14024
This broke a few of our tests that were using `data-` attributes as testing hooks — the behavior similarly changed for cases like `data-foo={{booleanValue}}`.

The new behavior is definitely preferable (and, as @pixelhandler mentioned, correct), but it was surprising to discover, particularly since there was no mention in the changelog or release announcement.

[2016-08-05 07:11] Shivprasad11 opened #14031 "If user presses browser back button while in the popup layer then close the layer"
1. Popup layer is open.

2. Hit browser back button.

Current Scenario:

Background page returns to previous page and overlays the popup with the previous data.

Expected Result:

Close the popup layer and stay on the current page.

[2016-08-05 08:13] Turbo87 commented on #13815
@rwjblue @stefanpenner any news on this?

[2016-08-05 10:23] dulmandakh opened #14032 "Pass an action to component from route"
Passing action from component to component is great and so convenient. And maybe it would be nice to pass an action to component from route, rather than creating route controller for this.

Thank you

[2016-08-05 10:25] Serabe commented on #14032
Hello, @dulmandakh:

You are looking for the [ember-route-action-helper addon](https://github.com/DockYard/ember-route-action-helper).

Thank you.

[2016-08-05 10:25] #14032 closed

[2016-08-05 10:27] Serabe commented on #14031
Hello, @Shivprasad11. I think you have open the issue in the wrong repo. If you need help with your ember project, please, go to #-help channel on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

Thank you!

[2016-08-05 10:27] #14031 closed

[2016-08-05 14:42] Sinled commented on #14014
Also have problem with `this.constructor` `undefined` in `didInitAttrs` depreaction check

but in my case i only pass `model.constructor.modelName` as argument to component

[2016-08-05 14:56] cibernox commented on #14014
@Sinled Using that in a template is implicitly creating an observer to watch for changes, so it's the same issue.

[2016-08-05 16:04] stefanpenner commented on #13815
because ember-data uses them, they are at the very least intimate API. I would be fine to make them public, as Map is a pretty close to a strict subset of ES6 Map. So if we switch to ES6 map, it should "just work". We should confirm that MapWithDefault could be implemented as a subclass. If those are both true, I would push for making them public.

[2016-08-05 16:26] Serabe commented on #14024
Reopening for tracking the documentation change. Thank you!

[2016-08-05 16:46] pixelhandler commented on #14023
@notmessenger In order to identify whether this issue is a bug we need to isolate any errors. Can you make a simpler example, less addons?

[2016-08-05 16:54] pixelhandler commented on #13771
@fknoll we discussed this issue a bit an the bottom line is… if a route hasn't been visited, it doesn't have `paramsFor`.

[2016-08-05 16:55] pixelhandler commented on #13771
The docs need clarity, see http://emberjs.com/api/classes/Ember.Route.html#method_paramsFor

[2016-08-05 17:11] pixelhandler commented on #14022
See http://emberjs.com/api/classes/Ember.Enumerable.html#method_setEach as Stefan mentions the wording could be improved

Perhaps should read

[2016-08-05 17:57] #14018 closed

[2016-08-05 17:58] Serabe commented on #14018
Thank you, @piotrpalek! The PR has just been merged and there is a [comment in the Grand Testing Unification RFC](https://github.com/emberjs/rfcs/pull/119#issuecomment-237914054) you might be interested in.

Thank you!

[2016-08-06 01:16] mixonic commented on #13960
@acburdine does this issues cause the ghost tests to fail? If I can get you a build with our proposed fix, can you run those tests easily or can I?

[2016-08-06 01:26] acburdine commented on #13960
@mixonic the straight upgrade to ember 2.7 triggered the errors - both in tests and in actual running of the app

[2016-08-06 06:27] #13397 closed

[2016-08-06 08:18] piotrpalek commented on #14018
@Serabe np :+1:

[2016-08-06 09:19] tjni opened #14036 "Should visit test helper call Location#getURL?"
I am trying to create a custom implementation of the location API to do some preprocessing on the URL before it arrives at the router and discovered that I could not write an acceptance test for this because the visit helper does not pass the supplied URL through my getURL implementation. This also affects ApplicationInstance#visit, but this was coincidentally fixed in 631260968d626ae702fa38491c20

[2016-08-06 10:31] devinus commented on #12505
Thanks @stravid, this is exactly what I needed. Months of this bug and I finally found this thread and your workaround after much Google-fu.  🙇

[2016-08-06 10:39] fknoll commented on #13771
@Serabe  @pixelhandler @dguettler

Thank you to all of you for investigating into this problem of mine.

@pixelhandler, I do understand your position. Nevertheless, I find it unacceptable that an Ember application stops working after using ```paramsFor```on a route not previously visited.

Besides, I am still challenged by my original quest:  At default start-up (e.g. ```http://localhost:4200/my-a

[2016-08-06 18:18] Serabe commented on #13771
Hello, @fknoll:

We took some time to get to know how `Ember.Route.paramsFor` should work and realise that this was a problem in the documentation: a route can only access the params for an ancestor route, pretty much like `modelFor` works.

The documentation problem is being addressed in #14034.

If I had to redirect all the users getting to my app at the root level (let's say `/`), but not if my

[2016-08-06 19:31] Serabe commented on #13767
@lucasqiu: are you still interested on submitting a PR for this? If you need some help, you can ping me in Slack (same nick).

[2016-08-06 20:31] fknoll commented on #13771
@Serabe - Thank you :-)

[2016-08-06 21:16] Serabe commented on #13771
Reopening this to track the documentation issue.

[2016-08-06 21:54] #14022 closed

[2016-08-06 21:55] #14024 closed

[2016-08-06 23:59] williamweckl commented on #13826
+1
Having the same issue... Happens in route `setupController` and in `init` from controller. I cant do what I want in `beforeModel`, `model`, `afterModel` because at these points I don't have the parent model yet and I need it.

What could I do?

[2016-08-07 18:35] mixonic commented on #13960
I've uploaded a production build of Ember with proposed fixes here:

* https://s3.amazonaws.com/uni.madhatted.com/ember-2.7.0-routerfix/ember.debug.js

There is a full ember build in that dir, so min.js and prod.js are also there. I'll attempt to repro the issue with Ghost and confirm this fix.

[2016-08-07 19:21] mixonic commented on #13960
Neat, I've confirmed both the original failure in tests and that the above build fixes this regression.

[2016-08-07 19:27] mixonic commented on #13921
@derrickshowers I've published a build of Ember with a proposed fix. Can you please confirm this build fixes the issue for you in your real app?

* Updated twiddle with the fix: https://ember-twiddle.com/5508287a7dcd55f0764ba7c4e2c761f1?openFiles=router.js%2C
* The custom build of 2.7: https://s3.amazonaws.com/uni.madhatted.com/ember-2.7.0-routerfix/ember.debug.js Please note the whole Ember dist

[2016-08-08 01:02] #14020 closed

[2016-08-08 06:46] jdenly commented on #13940
@stefanpenner Finally got round to installing IE 1.0.33 on Windows 7 and the issue still appears to be happening, it's reporting 1.27KB of extra heap per navigation between the routes and back but the object count is steady.

Version: 11.0.9600.18376
Update Versions: 11.0.33 (KB3170106)

[2016-08-08 14:37] nmcclay commented on #14006
I can confirm this happens with a vanilla 2.7.0 `ember init` on IE9.  I can throw up a repo but it would just be a vanilla ember init repo.

[code]

[2016-08-09 03:41] derrickshowers commented on #13921
@mixonic Verified the build fixes the issue in my app and all tests pass. Thank you!

[2016-08-09 09:34] stravid commented on #12505
Thanks for the kind words @devinus, I will try to write a little blog post so in the future not so much Google-fu is needed :)

[2016-08-09 13:24] houfeng0923 opened #14045 "how to create component programmatically?"
i need to create component  manually , this is code:

[code]

but , the child dom that created by alert component only has comment :

[code]

what 's wrong ?  i 've no idea ..

------

ember version: 2.7.0

[2016-08-09 14:43] locks commented on #14045
Hi @houfeng0923, you cannot create components manually. The advise is to instead make a data structure that represents the component and render that.

I am closing this issue as it is not an Ember.js bug report. For questions like these please visit [#-help in Slack](https://embercommunity.slack.com/messages/-help/) or post on [StackOverflow](http://stackoverflow.com/) so we can better help you. T

[2016-08-09 14:43] #14045 closed

[2016-08-09 15:54] jmacqueen commented on #13627
Add me to list as missing this ability. Building in accessibility relationships in tagless components was much easier with it!

[2016-08-09 17:05] chriscareycode commented on #14010
Having the same issue after upgrading to 2.7.0

[2016-08-09 18:49] aaroncraigongithub opened #14046 "Documentation for render.into incorrect?"
From the documentation here http://emberjs.com/api/classes/Ember.Route.html#method_render it seems like I should be able to render content into any arbitrary template, for example, given the (admittedly contrived) file structure:
[code]

it seems I should be able to do the following from any route:

[code]

However, this results in the error `Assertion Failed: You attempted to render into 'errorpa

[2016-08-09 19:00] Serabe commented on #14046
Addressing it.

[2016-08-09 19:04] Serabe commented on #14046
Thank you for helping us improve the documentation!

[2016-08-09 19:11] aaroncraigongithub commented on #14046
My pleasure and thanks for the quick update!

[2016-08-09 20:20] jcbvm commented on #14006
I can also confirm this. Try to see the live demo on IE9 of a simple ember app running 2.7: https://github.com/zoltan-nz/library-app

[2016-08-09 20:34] rwjblue commented on #14006
Hmm. Our test suite runs against IE9 and seems to be passing. Does someone have a minute to try and submit a failing test case?

I wonder if this is coming from Ember itself or something that is included by default in a new ember-cli app. I'll try to get my IE9 VM working again to test, but it may take a few days (doing a bit of vacation...)

[2016-08-09 20:37] jcbvm commented on #14006
@rwjblue If you have IE11 running, you can also simulate IE9, which is giving you more using console output also

[2016-08-10 08:17] eddiesholl opened #14049 "Properties observed via @each not recalculated"
I've noticed an issue around computed properties and whether they are considered 'observed'. If properties are included via @each syntax on a computed property definition, this is not sufficient to cause  them to be updated dynamically. If I reference the property explicitly in a template, they become dynamic. This relates to the ember doco on [observers](https://guides.emberjs.com/v2.7.0/object-m

[2016-08-10 08:28] krisselden commented on #14049
Dependent keys have to be something you consume in the computation in order for this to work correctly. if you filter by selected then your @each has to be selected it can't be anything else.

[2016-08-10 08:28] #14049 closed

[2016-08-10 09:29] tmclouisluk opened #14050 "What is the best practice of getting element's height in controller"
As I have a element which is position:fixed and its top(css) depends on another element's height, what is the best practice of getting that element's height in controller?

Or how can we do it dynamically?

[2016-08-10 11:06] Serabe commented on #14050
Hello, @tmclouisluk . I am closing this since it is not an Emberjs bug. Please, go to #-help channel on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

Thank you!

[2016-08-10 11:06] #14050 closed

[2016-08-10 16:24] andhofmt opened #14052 "Broken "link-to" helper prevents page from loading"
The link generating helper, {{#link-to 'route' }} will prevent a page from loading if the route has been removed or rename.

For example, imagine that 'dashboard' is a valid page. And 'stats' was a valid route, but has recently been refactored and is now called 'statistics'. The following code will prevent 'dashboard' from loading even though 'dashboard' is a valid route:

`Click {{#link-to 'stats

[2016-08-11 04:43] jasonmit commented on #13840
/cc @wycats

Based on our discussion today.  Feel free to add your input since you floated a few ideas, the core of the issue being the need for Router.map's callback to handle conditional logic and a similar concept of `needs`.

[2016-08-11 20:09] chadhietala commented on #14016
tildeio/glimmer#255 has landed but I want to keep this open until we bump the version on glimmer.

[2016-08-11 20:37] redbmk commented on #12849
The "fix" for this for me was a simple `Ember.LinkComponent.reopen({ attributeBindings: [ 'disabled' ] })`.

It's true anchor tags don't have a disabled attribute, but in my case I don't really care since I'm using `tagName="button"`. If I were to use an anchor tag instead, it still adds the disabled attribute, which does nothing - the browser should just ignore it, but maybe there are other impli

[2016-08-12 14:45] kanongil commented on #11486
Maybe reopen this issue now that ember-legacy-views is gone and routeable components are still MIA?

Currently I am doing it in `application/view.js` like this:
[code]

[2016-08-12 15:38] michaeljbishop commented on #11209
This might work a little better:
[code]
[code]

Really, though, we should be able to do this:
[code]

[2016-08-12 16:53] typeoneerror commented on #11209
@michaeljbishop at that level, I think you'd just make a `number-input` component, yeah? instead of transform. bundle all that stuff up in a reusable component.

[2016-08-12 17:24] michaeljbishop commented on #11209
That would work, but I find it a little distasteful because for any type of value that you wanted to transform, you'd have to make a new special class for it. Adding support for a `transform` attribute on the standard `input` helper would mean you could inject any standard Ember transform onto any input, allowing you to compose different objects on the fly to create behavior.

Cocoa bindings does

[2016-08-12 17:25] typeoneerror commented on #11209
@michaeljbishop indeed, reminds me of Flex mxml! You should make an ember addon.

[2016-08-12 20:14] Asherlc opened #14057 "mut helper does not bind in action parameter"
When a `mut` helper is passed as a parameter to an action, the action receives the original value, not the mutable getter/setter.

https://ember-twiddle.com/88a012a865086742ab2d2601565f6f57?openFiles=controllers.application.js%2C

From my understanding, it should log a `{ update, value}` object.

[2016-08-12 20:59] rwjblue commented on #13999
Fixed by https://github.com/tildeio/glimmer/pull/252 and https://github.com/tildeio/glimmer/pull/255.  Tracking updating in Ember.js in https://github.com/emberjs/ember.js/issues/14016.

[2016-08-12 20:59] #13999 closed

[2016-08-12 21:09] #13921 closed

[2016-08-12 21:09] #13960 closed

[2016-08-13 03:03] rwjblue commented on #14016
Closed by https://github.com/emberjs/ember.js/pull/14060

[2016-08-13 03:03] #14016 closed

[2016-08-13 05:35] mitchlloyd commented on #14052
There are some trade-offs between failing early or attempting to make the error less harmful.

Personally I would rather get an earlier failure than have a link silently not working. This is because I don't think it's reasonable to have test coverage to click every link in your app and make sure it's working. But I do think it's reasonable to have test coverage that renders each page in your app.

[2016-08-13 13:10] rwjblue commented on #14052
Agreed, on all accounts. Erroring early is absolutely the right thing to do here.

Also, 6 above is definitely a bug (though a separate one from this one). Can you open an issue specifically for that?