[2017-09-08 22:25] alvincrespo commented on #15501
@Serabe How can I help? This is my first time diving into Ember internals.

[2017-09-09 01:04] GitSahib commented on #15645
Here is the link for gist

https://ember-twiddle.com/2df6489a5e97e8a76e215f01af7101d3

I have commented out a line in init() method in my-component.
When you uncomment the issue go away otherwise one filter fires the other too.

[2017-09-09 01:21] rwjblue commented on #15635
I think we should fix in glimmer-vm, and not have arbitrary limitations on helper arguments. However, since this is somewhat of an edge case, its likely that we won't address it in 2.15 and possibly not even in 2.16 (it depends on the amount of work to fix and backport).

[2017-09-09 01:24] rwjblue commented on #15605
I believe that actually coerces `Component.extend({ classNames: 'lol' })` into an array (based on my findings that I tried to link and document in the comment above).

[2017-09-09 10:20] lolmaus commented on #12358
I don't think so. Will repoen if I run into this again or someone reports it.

[2017-09-09 10:20] #12358 closed

[2017-09-09 12:51] roschaefer commented on #15635
We're not able to update to `2.15`. Gettting `TypeError: reference.value is not a function`. There is a 10 digits number on our [landing page](https://rundfunk-mitbestimmen.de/). Is this really an edge case?:crying_cat_face:

[2017-09-09 13:16] cibernox commented on #15635
@roschaefer My temporary workaround is to put that number in the component/controller, and bind it. `gets €{{number}} every year`

[2017-09-09 19:43] allthesignals commented on #12667
Seems related to null-null-null/ember-keyboard#56

[2017-09-10 18:17] mixonic commented on #15327
I paired a fix with @kpfefferle last Friday. @kpfefferle can you open a PR or push the branch so we can keep it moving?

[2017-09-10 19:51] Serabe commented on #15645
@GitSahib please, read the link in my comment to go to the section of the guides where it is explained.

[2017-09-10 23:19] GitSahib commented on #15645
I am putting the same comment again. Please look at the gist link. This is not related totally with the link you provided.

Here is the link for gist

https://ember-twiddle.com/2df6489a5e97e8a76e215f01af7101d3

I have commented out a line in init() method in my-component.
When you uncomment the issue go away otherwise one filter fires the other too.

[2017-09-10 23:20] GitSahib commented on #15645
I have put the object creation code you provided in the link. The behavior is still the same. My question is why Ember is duplicating the component data ? When I try to change the filter in one component it is changed in the other as well.

[2017-09-11 05:24] karthiick commented on #15645
https://guides.emberjs.com/v2.15.0/object-model/classes-and-instances/#toc_initializing-instances

@GitSahib As mentioned in the doc, array should be initialized in the `init()`, otherwise this will be shared between instances.

Yes, its bcoz you are initializing filterCriteria in `init`, so its not shared between instances. Hope this helps.

[2017-09-11 07:11] JoshSmith commented on #15641
I'm having this same issue and have been unable to resolve.

[2017-09-11 11:03] rwjblue commented on #15641
I chatted with @mwisner and @kiwiupover a bit about this over the weekend and we figured out that it has to do with the new parallelism that was added to broccoli-babel-transpiler. It defaults to paralellizing to the number of CPU's currently present. Unfortunately, on CircleCI this shows as 36 CPU's but the job itself is limited to 2 concurrent processes (and also limited in available RAM).

The

[2017-09-11 12:54] GitSahib commented on #15645
Thank you karthiick.
I got it.

[2017-09-11 15:02] JoshSmith commented on #15641
@rwjblue thanks for the context here!

Even with Circle's parallelism, I would think (because they're split off into containers) that the `JOBS` would always need to be 1, then. So by...

...I'm assuming that you mean to disable the broccoli-babel-transpiler parallelism and not Circle's containerized parallelism. Is that right?

@eric-hu does this also seem like a correct reading to you? Is this s

[2017-09-11 15:19] mwisner commented on #15641
I'm not sure if we can expect a fix form circleci themselves... I am not super 100% but I think it's more of a Docker problem than a circle problem specifically. Or maybe a Node + Docker issue not being able to accurately detect the cpu/mem limitations imposed by the docker container.

I have created this repo for experimentation purposes: https://github.com/mwisner/ember-circleci-example.

It inc

[2017-09-11 15:22] JoshSmith commented on #15641
Thanks @mwisner. Was I correct in thinking that the `JOBS=1` does _not_ mean we can't parallelize the builds themselves?

[2017-09-11 15:24] mwisner commented on #15641
@JoshSmith Yeah if I understand correctly it's to disable parallelism within broccoli-babel-transpiler. Not circle itself.  So in theory using circleci parallelism + jobs=1 would be fine?

But personally, I haven't experimented with using circleci's parallelism functionality. So I'm not 100% sure.

[2017-09-11 15:26] JoshSmith commented on #15641
Makes sense! I wanted to be sure I was just drawing a clear line between what seemed like two distinct uses of "parallelism" here, so I think I'm finally on the same page.

I noticed you were setting `JOBS=1` manually in the config prior to `ember test`, but it seems like that could be set at the ENV var level within Circle, perhaps without issue?

[2017-09-11 15:29] mwisner commented on #15641
It's also not specific to testing. The OOM issue is caused during the build phase of ember test. I've tested just running ``` ember build ``` as well with the same OOM result.

@JoshSmith I do believe setting JOBS=1 at the env var level would work as well but I haven't confirmed.

I noticed there is a decent pattern for setting env vars for ember cli commands

https://github.com/ember-cli/broccoli

[2017-09-11 15:30] JoshSmith commented on #15641
Without knowing _anything_ about how `broccoli-babel-transpiler` actually works, it's hard for me to say whether or not Circle (or Docker, or whomever) could provide a fix for it. My layman's _feeling_ – not thinking – around this would be that if the transpiler could take explicit instructions on how many cores are available, then we could perhaps avoid the problem of pure inference here. Again,

[2017-09-11 16:07] bricss commented on #15635
We have absolutely the same problem within our project.
If passed number bigger then 9 digits its just turns into `undefined` inside component.
[code]

[2017-09-11 22:04] Serabe commented on #15355
We are closing this issue according to [our triage policy](https://github.com/emberjs/ember.js/blob/9057741de71a7b261ef13a09920fe472919dd68b/CONTRIBUTING.md#triaging-policy).

You can reopen it with a follow up at any time.

Thank you!

[2017-09-11 22:04] #15355 closed

[2017-09-12 00:41] JoshSmith commented on #15641
Just to update, I can run these builds successfully with `JOBS` set to `1` in Circle's environmental settings. Thanks again @rwjblue, @mwisner, and @eric-hu.

[2017-09-12 01:00] bgentry commented on #15641
I just ran into this same issue on CircleCI, and `JOBS=1` also fixed it for me, thanks all :v:

[2017-09-12 08:00] mani-mishra opened #15661 "Route ```model``` hook is not run on transition in Ember 2.15"
In ember 2.15, route's ```model``` doesn't run when transitioning from a parent route.
For example:
If the app is currentnly, at ```/student``` and displays student list, selecting a student, transitions to ```student/<id>```. The ```model``` hook in route for ```student/<id>``` is not run.
All other hooks run, in order of  ```beforeModel``` => ```afterModel``` => ```setupController```

This doesn

[2017-09-12 08:25] topaxi opened #15662 "Loading routes do not work in FastBoot"
I get the following error in my app:

[code]

At first I thought liquid-fire ([#530](https://github.com/ember-animation/liquid-fire/issues/530)) was causing this. But after removing liquid-fire I got the error above.

[2017-09-12 08:26] Serabe commented on #15662
Can you add a reproduction? A twiddle or repo would be fine.

Thank you!

[2017-09-12 08:48] topaxi commented on #15662
Okay this is caused by a `liquid-bind` in my `application.hbs` which binds a value from a service. The service value gets updated in the `index` route model, I guess this is bad practice or not supported? :)

[2017-09-12 09:17] topaxi commented on #15662
Sadly I'm not able to reproduce this in a minimal app :(

[2017-09-12 10:00] JohnnyBill opened #15663 "track"

[2017-09-12 10:01] #15663 closed

[2017-09-12 10:15] eric-hu commented on #15641
@JoshSmith there's two concepts of parallelism to keep in mind for CircleCI 2.0:

A. Per-command parallelism, limited to the number of cores available to a container group.  By default, each container group is allocated 2 CPU shares, which guarantees they get 2 CPU cores.  There's a premium Configurable Resources feature that lets you choose a larger/smaller share (1, 4, 8 off the top of my head).

[2017-09-12 13:17] rwjblue commented on #15661
We have a number of tests in this area that are not showing a regression so I suspect that what you are experiencing is situational or dependent on some other factors.  Can you create a reproduction that shows the problem you are describing?

[2017-09-12 13:19] rwjblue commented on #15662
I don't think we can do much without a repro on this...

[2017-09-12 13:19] rwjblue commented on #15640
@artcommacode - Have you had a chance to create that reproduction yet?

[2017-09-12 13:32] artcommacode commented on #15640
Hi @rwjblue, thanks for the follow-up, I'm currently trying to learn as much as possible about Ember as I can so that I can reproduce it for you all!

[2017-09-12 13:37] topaxi commented on #15662
I could reproduce the error mentioned in the liquid-fire issue [#530](https://github.com/ember-animation/liquid-fire/issues/530).

[code]

Console output upon visit:

[code]

I'm not sure how closely related this is to my specific case though as I've been unable to reproduce the crash I got once I remove liquid-fire from my actual app.

[2017-09-12 15:38] bekzod commented on #15618
probably related https://github.com/emberjs/ember.js/issues/11202

[2017-09-12 16:41] bgentry commented on #15641
Just tried `JOBS=2` on my app and the build was successful as well. Should that be the canonical advice here?

No noticeable time difference between those values in my small sample FWIW.

[2017-09-12 19:03] mwisner commented on #15641
@rwjblue I know you recommended having this issue in the ember-cli repo. However I opened this issue up when I first discovered the issue and looks like it was found before I could open up another in the ember-cli repo... Would you like me to open up another issue there and just reference this conversation? Know of anyway to easily move it?

[2017-09-12 19:06] mwisner commented on #15641
I reopened this issue because after doing some additional testing the provided travisci.yml config that ships with ember is also running into this issue.

While I understand that ember doesn't support circle, I do think that it would be nice to at least have the issue fixed in the shipped travisci.yml file.

[2017-09-12 20:05] JoshSmith commented on #15641
@eric-hu many thanks for the detailed advice here. Very helpful for the community to understand what's going on in detail. It would be great to see a canonical example in the documentation on a per-framework basis, although I understand and appreciate the time this would take.

@bgentry thanks for reporting on the time difference. I was hoping that it would speed up the build times. I'm going to s

[2017-09-12 20:57] mikejerome commented on #12945
I ran into this today on ember 2.14.1

No errors when using `this.replaceWith('/not-found')` but it errors if I leave off the leading slash.

[2017-09-13 09:30] mani-mishra commented on #15661
@rwjblue On more detailed debugging, the issue that we are seeing is a result of https://github.com/emberjs/ember.js/issues/15621. We are trying to pass the id param of the route, from a partial, which comes as ```undefined```.

I'll close this issue.

[2017-09-13 09:30] #15661 closed

[2017-09-13 11:04] rwjblue commented on #15661
Thanks for following up, we're trying to prioritize #15621 so we can get a fix out soonish. Sorry for the delays there.

[2017-09-13 14:51] urbany commented on #15640
Might be related to this? https://github.com/emberjs/ember.js/issues/15618

[2017-09-13 17:13] mwagz commented on #11828
I don't wanna re-open, but I wanna add to this, since I ran into a similar "issue" and did a lot of digging around this and wanna help anyone else with the issue.

### My Problem
I had some input fields that I needed to be readonly if bound to a specific variable. I was basing this on an `isReadOnly` property that was watching my variable and then did an attribute binding to `isReadOnly` like so:

[2017-09-13 22:17] kjhangiani commented on #10557
@dwickern thanks, that is indeed a lot simpler.  It was due to multiple dynamic segments in the same route, yes.

I have updated my code to use your solution and it seems to work as expected.  Thanks!

[2017-09-14 11:11] amk221 opened #15666 "Numeric get not working for arrays"
[code]

https://ember-twiddle.com/3be646d4e82a480e0993ce7093c2ac52

[2017-09-15 02:05] myartsev opened #15669 "Refreshing a data model does not update bound computed properties"
I have a router which refreshes its data model on demand.

[code]

A component is passed this model, and if used directly, the changes are updated as expected:

[code]

However, if I use a computed property, the updates from a data model refresh in the router are not carried through to the computed property in a component.

[code]

[code]

I realize this is a contrived example, but it helps to ill

[2017-09-15 03:50] kumkanillam commented on #15669
This [SO answer](https://stackoverflow.com/a/46211471/5771666) is the right answer to your question.

[2017-09-15 14:29] Emrvb commented on #12621
@toddjordan and @pixelhandler I just stumbled upon this report while researching for another problem.

I partially recreated the jsbin as a twiddle (https://ember-twiddle.com/7af4e33e1af56bc9dc0c45c31c778052). It's broken in 1.13.13 and it seems to work just fine in 2.12.0. But I can't tell you whether that particular pull fixed it.

[2017-09-15 17:05] pixelhandler commented on #15669
@myartsev does using `'model.[]'` as the dependent key for your computedModel work?

- https://guides.emberjs.com/v2.15.0/object-model/computed-properties-and-aggregate-data/#toc_code-code-vs-code-each-code

[2017-09-15 17:10] pixelhandler commented on #11894
@dmagunov I'm curious if you still have this issue or found a work around. This issue is inactive and we weren't able to identify it as a bug.

I'll close this for now. Feel free to reopen if you need to.

[2017-09-15 17:10] #11894 closed

[2017-09-15 17:13] pixelhandler commented on #12268
@toddjordan @andrewjmc I'll close this for now. We were not able to identify this as a bug.

@andrewjmc did you find a work around?

Also, if you think it's necessary to reopen the issue at a later time feel free to do so.

[2017-09-15 17:13] #12268 closed

[2017-09-15 17:26] pixelhandler commented on #11471
@aroberts we were not able to verify this issue as bug and the activity has lulled, I'll close this out for now.

If you still have the issue feel free to reopen. Also if you found a work around please post a comment.

[2017-09-15 17:26] #11471 closed

[2017-09-15 17:33] aroberts commented on #11471
is there a fiddle site out there that still supports ember-latest? I am happy to port my reproduction but it's not clear where I should

[2017-09-15 17:35] locks commented on #11471
@aroberts Twiddle does

[2017-09-16 05:40] myartsev commented on #15669
@kumkanillam the SO answer works for that scenario, but it is not *my* scenario. I didn't want to have an extended discussion on SO, as it's not the right place for a lengthy, usually it's a place to answer the question given and this time it happened to get derailed.

@pixelhandler using 'model.[]' does indeed work if the length of the array being returned changes; as is the case in the SO answer

[2017-09-16 05:40] #15669 closed

[2017-09-16 13:50] bcardarella opened #15670 "Ember.Test.registerWaiter dev vs prod"
When destructuring `Ember.Test.registerWaiter` like so:

[code]

breaks prod due to `Ember.Test` being `undefined`.

I would move over to the `import` but I do not see `Ember.Test.registerWaiter` let alone `Ember.Test` defined anywhere in the RFC: https://github.com/emberjs/rfcs/blob/master/text/0176-javascript-module-api.md

It would seem reasonable for prod builds to have `Ember.Test === {}` for

[2017-09-16 14:43] bcardarella commented on #15670
If I recall anything wrapped in `if (Ember.testing)` is stripped from prod builds, right? I guess I could do:

[code]

[2017-09-16 16:56] rwjblue commented on #15670
In general, this sort of destructuring shouldn't be needed (the imports should be used instead).

[code]

The register waiter import and invocation will be removed as dead code in production builds. I wrote a bit about this in http://rwjblue.com/2017/05/01/enabling-debug-code-stripping/.

[2017-09-16 18:29] bcardarella commented on #15670
@rwjblue as I mentioned in the issue, the RFC doesn't provide guidance for `ember/test` so the modules addon by @martndemus doesn't include it. AFAIK only beta channel has the modules implemented. I'd prefer not to use beta builds in production. With the global Ember import is there any way to destructure `registerWaiter` and not blow up prod builds?

[2017-09-16 18:32] bcardarella commented on #15670
FWIW, my temporary fix is to add the following to `app.js`:

[code]

I'm OK with this until 2.16 is release, but if there is a better way I'm happy to do that as well :)

[2017-09-16 20:30] rwjblue commented on #15670
Yep, we identified that somewhat early on in the implementation phase of the RFC.  RFC's are not maintained over time, and often times the final implementation is different due to issues found during implementation.  You can find the current canonical public "Ember Modules API" data in [ember-cli/ember-rfc176-data](https://github.com/ember-cli/ember-rfc176-data)'s README. This repo is used by tool

[2017-09-16 20:32] bcardarella commented on #15670
Great, thank you!

[2017-09-17 03:59] bcardarella commented on #15670
Reopening. I have implemented as instructed above. ember-cli-babel 6.3 is installed. In prod I am getting: `TypeError: Cannot read property 'registerWaiter' of undefined`

[2017-09-17 14:23] bcardarella commented on #15670
correction, I have ember-cli-babel `^6.3.0` declared in `package.json` but `6.8.2` is installed

[2017-09-17 16:17] backspace commented on #15641
oh wow, I’m glad I finally found this conversation, because this has been happening to me too. I didn’t know what to look for at first because `npm test` was timing out for me on Travis, with no feedback. It wasn’t until I tried overriding timeouts (which you’d normally have to write in to support to do) that I got an `ENOMEM`, which finally led me here.

Changing to `JOBS=2 npm test` has caused m

[2017-09-17 16:43] mwisner commented on #15641
In my testing a default out of the box ember project without any changes does pass fine, the introduction of a bunch of dependencies does end up causing the error.

I'm not sure what is considered a 'lot' of dependencies in an ember project. But with travis being the de-facto way to do CI with ember addons, I think as people start upgrading / making new addons people are going to see this more and

[2017-09-17 17:05] rwjblue commented on #15670
Ugh. Sorry. I'll try to repro and see what's going wrong...

[2017-09-17 21:02] michalsnik commented on #15641
Oh! Thank you @mwisner for posting this issue and @rwjblue for the temporary solution! I just spent few hours trying to understand why my builds are failing.. Setting JOBS to 1 does the trick 🎉

[2017-09-18 08:12] bcardarella commented on #15670
Example repo: https://github.com/bcardarella/register-waiter-fail/blob/master/app/controllers/application.js#L2

Stack trace:
<img width="1396" alt="screen shot 2017-09-18 at 4 11 43 am" src="https://user-images.githubusercontent.com/18524/30533478-8374cfa4-9c27-11e7-93ce-562c8b1122c2.png">

[2017-09-18 12:07] cristi-badila commented on #15306
@Serabe I recently encountered this issue and it's not really clear to me why it was closed. Was it fixed somewhere else? I'm still on 2.14 but I haven't seen anything in the 2.15 logs about it.

[2017-09-18 18:06] superjova commented on #15256
Followed the thread above and got a similar example working. The requirements above were to have a live list when 'adding' to the array but nobody mentioned anything about 'removing'.

In order to remove items from the list, the computed property must be defined similar to:

[code]

[2017-09-18 18:12] bcardarella commented on #15670
This is my temporary work-around to solve the import issue: (previous work around was for destructuring)

[code]

[2017-09-19 09:08] Turbo87 commented on #14943
This seems related to https://github.com/emberjs/ember.js/issues/13258 🤔

[2017-09-19 13:40] mani-mishra commented on #15495
@rwjblue and @Serabe, for fixing the above I was doing the same changes in our app and the potential fix is following the below assumption.

Application's route model hook will finish before any individual route's lifecycle(except ```init```) hook is run.
Example: ```application route model => route A's beforeModel => route A's activate => route A's model ```

I didn't find any documentation for s

[2017-09-19 16:26] mani-mishra opened #15671 "Ember 2.14 - classCallCheck is not a function error while running tests in prod mode"
This is probably similar to #15506.
We have a CI task for running all our tests in both dev and prod mode.
We started this, when the app started failing in production, after an ember upgrade (everything was green in normal dev/tests mode).

So the same CI task is complaining of ```(0 , n.classCallCheck) is not a function)```.

Locally it can be reproduced by either running the tests on command lin

[2017-09-19 20:05] gschulze commented on #14875
Running into the same issue on 2.15.0.

[2017-09-20 08:07] Turbo87 commented on #13258
FWIW I'm still seeing a similar error with Ember 2.4.6 when I have two routes with identical query params and one route is redirecting to the other and overriding the query params in the transition options 🤔

[2017-09-20 10:42] kjf commented on #15202
Got bitten by this in my app today. It happened outside of the test environment. The workaround of generating a concrete controller worked but it feels like controller injection should work with autogenerated controllers.

[2017-09-20 18:23] wagenet opened #15675 "`{{input type="range" min=0 max=10 value=someVal}}` fails to correctly set initial value"
The problem is that `<input type="range">` actually cares about the order in which attributes are set when using the DOM APIs. See https://github.com/whatwg/html/issues/2427.

The solution, after discussing with @rwjblue is probably just to re-order this list here:
https://github.com/emberjs/ember.js/blob/master/packages/ember-glimmer/lib/components/text_field.js#L73-L81

A temporary workaround is

[2017-09-21 11:05] #15630 closed

[2017-09-21 14:09] #15675 closed

[2017-09-22 20:34] sdhull commented on #10979
Hah I just [posted in discuss.emberjs.com about this](https://discuss.emberjs.com/t/dynamically-add-routes-at-runtime/13652) ... I guess (for now) I'll try @honbo's hack above and see if that works still (hopefully still works 2 yrs later 😬 )

[2017-09-22 20:45] sdhull commented on #10979
uhhh trying to reproduce your success @honbo ... in your snippet, it's adding the `'application'` route right?

[2017-09-22 20:47] sdhull commented on #10979
Ohhhh you run that snippet after calling `Router.map` again at runtime, right?

[2017-09-22 20:59] sdhull commented on #10979
OK got some deprecation warnings but it works!  🎉
Thanks @honbo ❤️

[2017-09-23 18:11] ctcpip commented on #15533
Is this issue related?  https://github.com/ember-cli/ember-cli/issues/7329

[2017-09-24 15:54] andrewjmc commented on #12268
Gosh, I can barely remember this now... And no, I didn't find a workaround that I can remember -- moved on to different things!

Best wishes,

Andrew

[2017-09-25 06:22] myartsev opened #15678 "Misleading "backtracking re-render" assert message"
See [this twiddle](https://ember-twiddle.com/8fb61e73a7fe8b6430c2cd83934e9da0?openFiles=controllers.application.js)

[code]

[code]

`Assertion Failed: You modified "isSavingDisabled" twice on <twiddle@controller:application::ember182> in a single render. It was rendered in "template:twiddle/templates/application" and modified in "template:twiddle/templates/application". This was unreliable and sl

[2017-09-25 06:33] myartsev commented on #15678
My guess is that this assertion is hit because _fooButtonText_ has already been rendered in the template, and when the computed property gets updated, it is modifying _fooButtonText_ again. That makes sense, but it has nothing to do with _isSavingDisabled_.

What threw me off was the error message, and it took me a while to figure out.
It was easy to see what's going on when looking at this simpli

[2017-09-25 07:28] janmisek opened #15679 "Observer is triggered only once in case observed property is not consumed during callback"
In case observed computed in not consumed during observer callback further observing is not triggered. It is reproducible at least on 2.13 and 2.15.

Reproduction code from the docs (https://guides.emberjs.com/v2.15.0/object-model/observers/),

slightly modified:

[code]
Code above will log to console only first `fullName changed` entry. But it should log one each every second.

In case we modify

[2017-09-25 07:58] myartsev commented on #15678
Also - as for the usage pattern; what can you do in such a situation? Am I not seeing an obvious design flaw in my sample code?

This is the only solution I've been able to come up by tricking Ember into updating these values at delayed render run loops, but of course it's not ideal...
[code]

See [this twiddle](https://ember-twiddle.com/2fd7575e4dd580082e07da1234e1cdb1?openFiles=controllers.appli

[2017-09-25 11:22] bekzod commented on #15679
@janmisek have you tried wrapping `person.set('firstName', Math.random());` `run loop`,
like so
[code]

[2017-09-25 18:07] locks commented on #12533
Left a comment at https://github.com/emberjs/ember.js/pull/13363#issuecomment-331964866 with the explanation. Thanks for your patience @bryanaka!

[2017-09-25 18:07] #12533 closed

[2017-09-27 01:56] annaemu opened #15680 "Binding actions to a component helper fails if the component is changed dynamically"
In a route lives a slide-out panel that shows a 'quick quote' workflow. This initially shows a default component, but the user can navigate back and forth through a bunch of steps.

[code]

Which component is displayed is determined by the 'qqComponent' property. The action 'navigateQuickQuotePanel' changes the value of 'qqComponent' based on passed parameters:

[code]

This works fine initially a

[2017-09-27 08:52] fyzwjd commented on #13420
When I use onmouseover={{action "someAction"}} - it has similar problem

[2017-09-27 11:55] locks opened #15681 "Range input does not work with negative values"
Reproduction: https://ember-twiddle.com/6be2f6ac503c9248a991171c159b7f03?openFiles=templates.application.hbs%2C

[2017-09-27 14:41] rwjblue commented on #15681
Was already fixed by @Serabe's PR.  Demo: https://ember-twiddle.com/debe6062d7806aea6a7b95bcf46ae5b7?openFiles=twiddle.json%2C

[2017-09-27 14:41] #15681 closed

[2017-09-27 15:04] locks commented on #15681
Derp derp, I wasn't finding any mentions through GitHub search. Thanks!

[2017-09-27 17:44] mweitzel commented on #13948
@lbarsukov I think this has to do with your defined relationships. There's a good chance one ( or some ) of the `belongsTo` should be a 'hasMany'.

Say you have two models, Question and Answer. If you return 10 answers to the question, but each question serializer refers to its answer, you _have_ to define the relationship properly.
[code]
When the data comes across defining multiple question/answ

[2017-09-27 20:18] sbatson5 opened #15682 "Route actions `error` prevents error-template from rendering"
Hi All!

If I have a route `foo` with an error template `foo-error`, it will render when ever an error is thrown in my model hook. However, if I want to catch that error in the route through the `error` action, the template never appears. My first assumption was that `this._super(...arguments)` would take care of it as there may be some behind-the-scenes magic I'm not aware of, but that doesn't se

[2017-09-29 00:22] williamhector opened #15684 "Component isDestroying flag is false during willDestroyElement event function"
In 2.15, during willDestroyElement, the isDestroying flag is false.
Here is a twiddle: https://ember-twiddle.com/212aa353e739fcdefd1d92ac6ba4d1ba?openFiles=components.my-component.js%2Ctemplates.components.my-component.hbs
(I'm not sure why, but on loading that twiddle into a new browser tab, I needed to choose an Ember version under Dependencies for it to properly render)

I was previously using

[2017-09-29 05:40] krisselden commented on #15684
isDestroying has to do with the object model teardown not the component being removed from DOM.

[2017-09-29 06:05] williamhector commented on #15684
Fair enough.
Then it would seem like isDestroying was simply coincidentally true during willDestroyElement in 1.13, unless I'm missing something.

[2017-09-29 06:06] #15684 closed

[2017-09-29 11:05] locks opened #15686 "Microsoft Edge 15 on Saucelabs"
Error:

[code]

[2017-09-29 12:47] JonathanBristow commented on #15686
You might want to refer to this: https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#reporting-a-bug

[2017-09-29 13:55] Serabe commented on #15682
Error is an action and, as such, you need to let it bubble if you want to get the default behaviour. In this case, you `return true;`, `this_super` does not get the desired behaviour.

[This is a twiddle showing it](https://ember-twiddle.com/569187a1f8845f97969cf83b844d6af6?openFiles=routes.parent.child.js%2C).

I will improve the documentation to explicitly explain this.

[2017-09-29 14:01] rwjblue commented on #15682
Yes, @Serabe is totally correct here.

@Serabe - Thanks for working on updating the documentation, I'm going to close this for now (since it isn't a bug)...

[2017-09-29 14:01] #15682 closed

[2017-09-29 15:06] Serabe commented on #15680
I worked a bit on this the other day and today, but I cannot really reproduce it.

[This is a working Twiddle](https://ember-twiddle.com/0dc84dbb8e0f3255eefd2d48efa9b4f1?openFiles=templates.application.hbs%2Ctemplates.components.b-component.hbs)

Can you send a reproduction, either via repo or via Ember Twiddle?

Thank you!

[2017-09-29 15:07] Serabe commented on #15640
We are closing this issue according to [our triage policy](https://github.com/emberjs/ember.js/blob/9057741de71a7b261ef13a09920fe472919dd68b/CONTRIBUTING.md#triaging-policy).

You can reopen it with a reproduction at any time.

Thank you!

[2017-09-29 15:07] #15640 closed

[2017-09-29 15:10] Serabe commented on #15605
Has anybody been able to reproduce this?

[2017-09-30 13:16] rwjblue commented on #15605
Closing for now. I’m happy to work on the messaging and/or identification of the failure scenario if we do end up with a reproduction...

[2017-09-30 13:16] #15605 closed

[2017-10-01 13:37] #15622 closed

[2017-10-01 17:05] ylto opened #15688 "node_modules is missing, npm doesn't work well with ember-cli"
When I create `ember new app`, node_modules is missing(not created). meanwhile when I tried `npm install` it says up to date.

ember-cli: 2.15.1
node: 8.6.0
npm: 5.4.2
os: linux x64

[2017-10-01 17:33] #15688 closed

[2017-10-02 13:52] svenpl opened #15693 "Model state transition from `root.updated.invalid` to a clean state doesn't work"
After updating an invalid record manually to a clean state, the state of the model is set as `root.updated.uncommited` instead of `root.loaded.saved` which will make `hasDirtyAttributes` return `true` even if the record is not dirty.

1. I got a saved record with the attribute 'name'. The state is `root.loaded.saved`.
2. I change the attribute 'name'  and call `save` on the record (beforehand i en

[2017-10-02 15:04] lindyhopchris commented on #15569
@amk221 I'm seeing this too in my app. I'm doing the following in a component:

[code]

A test involving throwing an error from the `onSignIn` callback is passing on 2.14 but not in 2.15

[2017-10-02 15:16] amk221 commented on #15569
@lindyhopchris Glad I'm not the only one experiencing this (but sorry you are too!)
Some feedback from the core team would be greatly appreciated. It's been a month now...

[2017-10-02 15:22] rwjblue commented on #15569
I missed that there was a demo repo in your intro (sorry about that), I'll try to poke at this later today...

[2017-10-02 17:00] deepan83 opened #15694 "PromiseProxy calling success handler with a rejected promise"
I've noticed that in Ember 2.15, the PromiseProxy now calls the success handler of the promise with a rejected promise setting. Its ok in 2.14.x and this is causing a lot of issues in our apps.

[code]

https://jsbin.com/vejosugiso/edit?html,js,output

[2017-10-02 18:01] sukima commented on #11469
FYI this is especially troublesome when attempting to use `async/await` The wrapping in a run loop is **not** something you can accomplish with `async` functions because `run` is not asynchronous. You **can not** express this using async/await, co-routines (like ember-co) or ember-concurrency tasks in a unit test:

[code]

I challenge anyone who can show how to express a `try { await ... } catch {

[2017-10-03 02:17] rwjblue commented on #15615
Sorry for the delay here, but I finally got the fix submitted in https://github.com/emberjs/ember.js/pull/15695.

[2017-10-03 06:29] locks commented on #15693
Thanks for reporting with a reproduction. Moved to https://github.com/emberjs/data/issues/5201

[2017-10-03 06:29] #15693 closed

[2017-10-03 07:06] bekzod commented on #15694
can confirm fixed in `rsvp 4.0.2` https://github.com/tildeio/rsvp.js/pull/501
only `ember 2.15 affected`

[2017-10-03 14:48] rwjblue commented on #15694
Fix was just landed in https://github.com/emberjs/ember.js/pull/15685, and will be backported for 2.15.2.

[2017-10-03 14:48] #15694 closed

[2017-10-04 11:56] GavinJoyce commented on #15322
To summarise the issue, the following is fine in Ember 2.12 but breaks on production builds, and not in development builds, in Ember 2.13+:

[code]

I've asked in [#dev-ember](https://embercommunity.slack.com/messages/C06JXEHU7/) to see which one of these is correct:

1) `container` is a reserved property in components and we're missing a dev time error or
2) this is a bug in Ember

[2017-10-04 12:31] rwjblue commented on #15322
Unfortunately, `container` certainly has been a reserved word in all objects in ember during the 2.x cycle. We have slowly moved away from that (2.3 introducing the owner API and 2.12 introducing factoryFor). Ideally in 3.0 we have no remnants of this restriction, so let’s call this a bug.

Does someone have time to submit a failing test case here that has a component with a container property (as

[2017-10-04 12:32] GavinJoyce commented on #15322
@rwjblue https://github.com/hudakdidit/ember-container-property-production-bug shows the error in production builds based on this component:

https://github.com/hudakdidit/ember-container-property-production-bug/blob/master/app/components/my-component.js

[2017-10-04 12:34] GavinJoyce commented on #15322
I'll write the failing test

[2017-10-04 13:02] GavinJoyce commented on #15322
@rwjblue failing test here: https://github.com/emberjs/ember.js/pull/15700

[2017-10-04 14:05] #15615 closed

[2017-10-04 15:46] thec0keman commented on #15621
Is this behavior legacy, or is there an alternative approach that should be considered?  We've been trying to use components over partials, but for our largish app there are still many instances where this bug is breaking things.  At this point, we are blocked from upgrading, and I am surprised this isn't affecting more folks.

[2017-10-05 01:14] rwjblue commented on #15621
No, this isn't legacy behavior per-se, but it is fairly uncommon.  You should _totally_ migrate to using components whenever you can (it is massively simpler to reason about), but we should absolutely fix this ASAP.

[2017-10-05 02:16] rwjblue commented on #15533
Ultimately the same issue as https://github.com/emberjs/ember.js/issues/15533.

[2017-10-05 02:52] #12621 closed

[2017-10-05 02:53] rwjblue commented on #12621
Thank you all for confirming this is fixed. Sorry this was such a pain.

[2017-10-05 03:10] rwjblue commented on #15589
Instanceof has issues across realms, not sure if that is a factor for us (fastboot uses a different realm to run app code vs evaluate vendor assets)....

[2017-10-05 08:31] ivanvanderbyl commented on #15621
@rwjblue any pointers where I should start looking to help fix this?

[2017-10-05 11:06] rwjblue commented on #15621
I submitted https://github.com/emberjs/ember.js/issues/15674 with some failing tests cases. It seems the issue isn’t as simple as accessing bound property values within the partial (at least it didn’t seem so with my testing). I believe the underlying issue has to do with the way we generate the references used by things like `if`, `unless`, `with`, and `get`.

Sadly, I don’t have a smoking gun to

[2017-10-05 14:18] ctcpip commented on #15533
this as well? emberjs/ember.js#15671

[2017-10-05 21:01] mwpastore opened #15708 "(action) helper target with a DS.PromiseObject"
I have an action defined on a DS.Model, and a DS.PromiseObject of an instance in my template. With something like this:

[code]

I get the following error:

[code]

I'm working around it using the [ember-bind-helper](https://github.com/Serabe/ember-bind-helper) addon:

[code]

But it would be nice if I didn't need that!

[2017-10-05 21:30] Kerrick opened #15709 "Binding `selected` to `<option>`s via handlebars values doesn't add attributes"
[Ember Twiddle](https://ember-twiddle.com/13c4c20e05678041ad3a8a1fea3cfc39?openFiles=templates.application.hbs%2C)

If you have the following Handlebars in an Ember application:
[code]

You'd expect the "goodbye" option to be selected and to have a `selected` boolean HTML attribute. It _is_ selected, but it _does not_ have the attribute. This means you do indeed see the "goodbye" in a closed selec

[2017-10-06 05:39] ryab777 opened #15712 "Array query param url format encoding"
I have query param as array: ?cars=[Audi,Fiat]
But ember encode it to ?cars=%5BAudi%2CFiat%5D
How I can get more pretty url like ?cars=[Audi,Fiat] ?

[2017-10-06 06:21] kjhangiani commented on #15621
we are also unable to upgrade due to this bug.  similar to @thec0keman we have a fairly large ember app which was originally started using EAK, so there's still some lingering legacy functionality that we haven't yet brought to modern ember

we don't have a lot of partials left, but enough that this is a blocker for us until we have the time to migrate / test the remaining partials to components

[2017-10-06 06:41] bekzod commented on #15712
@ryab777 I think the question is more related to stackoverflow :P,

you can use following snippet in your route
[code]

[2017-10-06 11:30] rwjblue commented on #15712
We generally reserve the issue tracker for bugs in Ember itself. This seems more like a Q/A "how do I do X" type thing, which is better served by Stack Overflow or slack.

I'm going to close this for now, but please do cross link your SO post or update this thread with the answer you find (for any future searchers). 😺

[2017-10-06 11:30] #15712 closed

[2017-10-06 11:30] rwjblue commented on #15712
Also, @bekzod is right. 😉

[2017-10-08 05:04] ashrafhasson commented on #14566
I'm facing this issue in acceptance test too. I use ESA 1.4.0 and leveraging ember-data 2.13.1 to fetch the user and load it into a current-user service. Attempting to work around it with `registerWaiter()` isn't helping.

[code]

[2017-10-08 14:31] ashrafhasson commented on #14566
downgrading to jquery 2.2.4 doesn't seem to resolve the test failure. I'm using ember/ember-cli 2.14.1, ember-data 2.13.1.

[2017-10-09 20:18] allthesignals commented on #14242
I'm seeing this again with `"ember-cli": "~2.15.1",`: Cannot read property 'getAttribute' of undefined.

I've uninstalled and reinstalled the latest Inspector.

[2017-10-10 01:12] rwjblue opened #15721 "Incorporate auto-dist-tag into npm publishing scripts."
Currently, if an older non-prerelease version is published after the next minor release is stable the npm `latest` tag is changed to the older release.

Example:

1. push 2.16.0 tag
2. CI auto-publishes and updates npm's `latest` tag to 2.16.0
3. push 2.15.3
4. CI auto-publishes and updates npm's `latest` tag to 2.15.3
5. At this point the `latest` tag is invalid.

Using `auto-dist-tag` will avoid

[2017-10-10 05:29] bekzod commented on #15694
@rwjblue isn't this forgotten to be released with `2.15.3` :P ?

[2017-10-10 07:12] Turbo87 commented on #15721
`auto-dist-tag` has a `--write` option that writes the calculated dist tag to the `package.json`, but you can also use it without that option and in that case it will write the dist tag to stdout. tl;dr if you assign the stdout to `$CHANNEL` and use that unconditionally it should just work.

[2017-10-10 10:29] locks commented on #15587
v2.16.0 is shipped, we'll track in a new issue if necessary.
Thank you so much for the help everyone 😍. There's still a bunch of edge cases, but we can do this 💪.

[2017-10-10 10:29] #15587 closed

[2017-10-10 10:30] locks opened #15723 "Update documentation to link to new URL API docs structure"
So for each package in ember source, we'd like to convert api doc links to our new  url structure (example: https://emberjs.com/api/ember/release/classes/Application)

Additionally we'd like to convert references to old Ember namespaced classes to their simplified post RFC 176 names.
(example: documentation might refer to Ember.Object, while we'd want it to be EmberObject now)
See the readme for h

[2017-10-10 11:04] boris-petrov opened #15724 "A couple of issues with updating Ember to 2.16"
1) About the new module syntax: there are a couple of things that we use and don't seem to have been migrated:

`Ember.HTMLBars.compile`
`Ember.Logger.{debug,warn,error}`
`Ember.onerror`

Am I missing something or these are things that I have to be using the old way for now?

2) In the release notes it is mentioned that `ember-cli-shims` could be removed. But now I'm getting a warning: `WARNING: Y

[2017-10-10 12:28] locks commented on #15724
Hi @boris-petrov, thanks for the feedback.
Yes, we are still figuring out some of the mappings. We thought it would be better to use the Ember namespace for now instead of solidifying a public API that we would have to deprecate and maintain if we rushed and missed the mark.
Use the old way for now! About `Ember.Logger` specifically, consider using `console.*` instead. I believe it's only IE9 that

[2017-10-10 13:38] boris-petrov commented on #15724
@locks - thanks for the answer!

About using the old way - are you talking about ALL the APIs or just these couple that I mentioned? As I already ported our application to use the new ones. :D

About `package.json`:

[code]

Is this: `import Ember from 'ember'` coming from `ember-cli-shims`? I.e., all the plugins that still do the "old" way are going to need that package?

[2017-10-10 14:17] locks commented on #15724
Just the ones you mentioned! In short, use `ember-modules-codemod` or the `eslint` plugin and don't worry about it ;)

[2017-10-10 14:19] rwjblue commented on #15724
You cannot remove ember-cli-shims if you still have addons in your project that use ember-cli-babel < 6.6.0, the warning that you are receiving now is something we are working on removing (after checking that all addons in the project have new enough ember-cli-babel versions).

[2017-10-10 16:58] abepetrillo commented on #11678
@ldong I tried your work around (admittedly on an old version of ember) and received the following error:
[code]

Not sure if I'm missing something?

[2017-10-10 19:53] pgrippi opened #15725 "Ember 2.16 router service unable to transition without all query parameters present"
I upgraded my app from 2.15 to 2.16 today and I think I've found a bug with the `transitionTo` method in the new routing service.

In 2.15 I was using the `ember-router-service-polyfill` addon that I have since removed. The following code was working fine but now appears to be broken:

[code]

The error I get in the `jump` action is: "You passed the `false` query parameter during a transition into

[2017-10-10 20:01] boris-petrov commented on #15724
@locks - yes, I know about `ember-modules-codemod`, it's just that we use `CoffeeScript` and it doesn't work for it so I had to do some Vim magic to convert everything by hand. :)

@rwjblue - thanks for the info!

Thank you both for the answers and the support! Feel free to close the issue! I'll leave it open if you decide to leave it as a reference for the missing modules for `HTMLBars`, `Logger`

[2017-10-10 20:49] locks commented on #15724
I'll close it because we are already tracking missing imports at https://github.com/ember-cli/ember-rfc176-data/issues/12. Thank you for your feedback, and good luck with the modules!

[2017-10-10 20:49] #15724 closed

[2017-10-11 07:41] jcbvm commented on #15621
This one should really get some higher priority, partials are broken since 2.15 and prevent people to upgrade from 2.14 to 2.16.

[2017-10-11 09:40] beatrizdemiguelperez commented on #15621
+1

[2017-10-11 13:36] hellobrett commented on #15725
We are also being affected by this issue.  Any chance for a patch release?

[2017-10-11 14:08] sly7-7 commented on #15725
@hellobrett seems like there will be soon one: https://github.com/emberjs/ember.js/pull/15613#issuecomment-335613077

@rwjblue maybe we can close this issue ?

[2017-10-11 14:37] #15725 closed

[2017-10-11 14:37] rwjblue commented on #15725
Thanks @sly7-7!

[2017-10-11 15:07] ivanvanderbyl commented on #15621
I'm going to take a look at this next week after EmberFest.

[2017-10-11 15:33] janmisek commented on #15679
@bekzod

Even with Ember.run it behaves in same way.  The observer is triggered only once when computed property is not consumed in observing callback.

[2017-10-11 15:37] janmisek opened #15728 "currentPath does not respect resetNamespace dsl option"
Even when `resetNamespace` is used `currentPath` returns path including segments from parent routes above resetNamespace.

Same behaviour observed for:
- `Ember.getOwner(this).lookup('controller:application').get('currentPath')`
- `Ember.getOwner(this).lookup('service:-routing').get('currentPath')`
- `currentPath()` testing helper

[2017-10-11 15:40] janmisek commented on #15728
[code]

link to works properly, following works
[code]
But
- `Ember.getOwner(this).lookup('controller:application').get('currentPath')`
- `Ember.getOwner(this).lookup('service:-routing').get('currentPath')`
- `currentPath()` testing helper

Returns `root.reset` instead of `reset`

[2017-10-11 15:44] sly7-7 commented on #15708
Maybe `update=(action 'setCountry' target=addr.content)` ?

[2017-10-11 16:04] krisselden opened #15729 "Convert ember-glimmer package to typescript"
Convert ember-glimmer to typescript.  Use d.ts files for imports from other packages for now.

[2017-10-11 19:11] aaxelb commented on #5566
Was this silently fixed in 2.12.0?
https://github.com/emberjs/ember.js/commit/cee49a315b2467f7c1a9193546a51e427dc72bd6

[2017-10-11 19:44] rwjblue commented on #15729
There is some amount of work (on the build side) that is done for this. I’ll try to track down the branch names with the WIP.

[2017-10-11 21:46] izelnakri opened #15731 "pluralize() and singularize() not available for '@ember/string'"
currently these methods are available under Ember.String, however they are not exposed/used under ```@ember/string```. I wanted to import these for my adapter and it currently breaks unless I use Ember.String.

[2017-10-11 21:52] rwjblue commented on #15731
These methods should not be on `Ember.String` at all (see https://github.com/emberjs/ember-inflector/pull/131), and are in fact from `ember-inflector`.

Look forward to an ember-inflector release deprecating these methods soon...

[2017-10-11 23:25] wagenet commented on #5566
@aaxelb not intentionally, but possibly it did fix it. Is the behavior correct in 2.12?

[2017-10-12 07:15] bekzod commented on #15679
@janmisek

I think `ember` is correctly behaving here, since `computed` properties are lazily evaluated it value changes when consumed only, so observer is triggered only when consumed.
If you have real use-case with such scenario, I think you can use computed property instead of observer or observe on primitive value that first computed is observing.

[2017-10-12 08:55] pieter-v opened #15732 "computed.sort is not updated if the value of the itemsKey is null"
If the first time you 'get' the sorted property while the property itself is null, then the sorted property is never recalculated if the property receives a value afterwards (see attached file for a reproduction scenario).

works on 2.15.3, but fails on 2.16.0

The reason why this fails in our app, is that property is a sub-property of model (model.users and model.sortedUsers) and that rendering s

[2017-10-12 09:11] Serabe commented on #15624
Another one https://github.com/ember-cli/ember-rfc176-data/pull/38

[2017-10-12 17:45] brandynbennett opened #15734 "All query parameters are required when using `transitionTo` in `RouterService`"
You get the following error if you attempt to transition to a route with query params without providing a value for all of the query params:

`Assertion Failed: You passed the 'false' query parameter during a transition into 'myroute' please update to 'myQueryParam'`

The error is coming from https://github.com/emberjs/ember.js/blob/f4bbfe27d55caa5182fcd229f09a690fe11a9ca6/packages/ember-routing/l

[2017-10-12 17:51] westlywright opened #15735 "Router Service transitionTo breaks with Query Params on Application Route"
With query parameters on the application route/controller an assert is thrown when using the new router service's `transitionTo` method. The assert is throw in `_hydrateUnsuppliedQueryParams` because the query param does not exist in the query parameters argument passed down the treen during transitonTo.

Specfically the assert was added at this [commit](https://github.com/emberjs/ember.js/commit/

[2017-10-12 18:10] brandynbennett commented on #15735
This commit might the issue, but it's not part of a release
https://github.com/emberjs/ember.js/commit/1c8c6ecad42228e94deffb7672fc6de905fca007

[2017-10-12 18:11] pichfl commented on #15734
I think this was adressed in #15726 (which replaced other tickets I followed closely as I encountered the same issue)

[2017-10-12 18:11] brandynbennett commented on #15735
You get the following error if you attempt to transition to a route with query params without providing a value for all of the query params:

Assertion Failed: You passed the 'false' query parameter during a transition into 'myroute' please update to 'myQueryParam'

The error is coming from https://github.com/emberjs/ember.js/blob/f4bbfe27d55caa5182fcd229f09a690fe11a9ca6/packages/ember-routing/lib

[2017-10-12 18:13] brandynbennett commented on #15735
@rwjblue is it possible to push a 2.16.1 with https://github.com/emberjs/ember.js/commit/1c8c6ecad42228e94deffb7672fc6de905fca007 in it

[2017-10-12 18:13] #15734 closed

[2017-10-12 18:15] brandynbennett commented on #15734
@pichfl It doesn't look like that is part of a release yet. Do you know if the fix will be released soon?

[2017-10-12 18:16] brandynbennett commented on #15735
Looks like #15726 includes the fix.

[2017-10-12 18:19] brandynbennett commented on #15735
more discussion here https://github.com/emberjs/ember.js/pull/15613

[2017-10-12 18:25] westlywright commented on #15735
@brandynbennett thanks for the follow up, seems the issue is already known so I'll close this one.

[2017-10-12 18:25] #15735 closed

[2017-10-12 19:25] rwjblue commented on #15729
The branch I was referring to was: https://github.com/emberjs/ember.js/compare/typed-ember-glimmer

[2017-10-13 06:38] dennis95stumm commented on #15621
I've extended the twiddle of @Serabe and found out, that if a property with the same name gets defined in the controller, the partials gets the right value. But if a value in a array is `undefined` the partial still thinks that it has a truthy value.

[2017-10-13 08:46] dennis95stumm commented on #15621
This a bug in Glimmer. See in the referenced issue.

[2017-10-13 09:38] Serabe commented on #15731
Closing. Not an issue.

Thanks!

[2017-10-13 09:38] #15731 closed

[2017-10-13 10:47] amk221 commented on #12356
I would also like to know the answer. I'm currently using my own version of `trySet` which is `isDestroyed` tolerant whilst I wait for this to be fixed.

[2017-10-13 12:28] Serabe commented on #15728
Hello, @janmisek,

this is the expected behaviour of `currentPath`. You are looking for `currentRouteName`.

See [this twiddle showing the difference between currentPath and currentRouteName](https://ember-twiddle.com/f20d82ba73968ed3b81becea9001cf63?fileTreeShown=false&numColumns=0&route=%2Froot%2Freset).

Thanks!

[2017-10-13 12:28] #15728 closed

[2017-10-13 13:16] Serabe commented on #15708
Action expects an object with an actions hash. It is not going through `get` in any kind, so yes, in this case you would need to go by adding the target manually.

Thanks!

[2017-10-13 13:16] #15708 closed

[2017-10-13 13:17] Serabe commented on #15680
@annaemu ping.

[2017-10-13 13:22] rwjblue commented on #15732
I believe that this was fixed by https://github.com/emberjs/ember.js/pull/15733.

[2017-10-13 13:22] #15732 closed

[2017-10-13 13:24] Serabe commented on #15678
I tend to use `Ember.run.once` when having these kind of strange side effects in a CP. Much more when the state of the CP would not change.

Given the example lacks meaning, I cannot propose a better design, but these kinds of relationships are strange in the real world IMHO.

See that the message is right because the thing being changed twice in a single render is `isSavingDisabled` and that chan

[2017-10-13 13:24] #15678 closed

[2017-10-13 13:28] Serabe commented on #15709
Thank you!

[2017-10-13 13:36] rwjblue commented on #15679
Agreed. The computed property (fullName here) is essentially marked as dirty, but does not recompute its value to determine if it has changed until it is `.get`'ed again.

[2017-10-13 13:36] #15679 closed

[2017-10-13 13:36] pieter-v commented on #15732
Thanks

[2017-10-13 13:46] rwjblue commented on #5566
I reproduced the JSBin (with current Ember versions) and it does indeed seem to be fixed.

https://jsbin.com/cajiji/edit?html,js,output

closing....

[2017-10-13 13:46] #5566 closed

[2017-10-13 18:37] vincent99 commented on #15248
In case this helps anyone in a similar situation... Our product has a custom datastore with models that also need to have owner set but also be JSON.stringified.  We solved/hacked this by defining the owner ourselves instead of using `Ember.setOwner(obj, val)` directly.

setOwner just sets `obj[OWNER] = val` but the tricky bit is knowing what the`OWNER` constant is, since it changes all the time a

[2017-10-13 21:47] robclancy opened #15740 "Updated to Ember 2.13+ and got this error"
Not 100% sure if this is the right place to report this. Also happens in ember 2.17.0-beta.1

I am upgrading one version at a time from 2.12. I had an issue with a bad template. The issue here is the error gave absolutely no indication of what was wrong. I found it by deleting one template after another until the error went away. Then I spotted this...

`disabled={{true}}` on a button.

Here is th

[2017-10-13 23:23] jamesdixon commented on #15235
For what it's worth, this was being caused by me having an `error` action in my application route.

[2017-10-14 12:12] rwjblue commented on #15235
Just FYI, I fixed a fairly gnarly bug in that very code recently. Essentially, there were a number of scenarios that would have attempted to access `.router` as a property on the arguments to the default action handlers unconditionally. I refactored away from that (and added tests for the scenario that I had ran into).

[2017-10-14 13:38] rwjblue commented on #15740
The issue is in https://github.com/emberjs/ember.js/blob/74bda32298d48f183592b6224fd8a86ca472e4c3/packages/ember-template-compiler/lib/plugins/transform-dot-component-invocation.js#L62 we essentially expect it to be a PathExpression but is something else (like a LiteralExpression). A guard would probably be fine here.

[2017-10-15 15:36] Serabe commented on #15686
Same issue is being investigated in https://github.com/johanneswuerbach/ember-cli-sauce/issues/101 and https://github.com/johanneswuerbach/ember-cli-sauce/issues/102

[2017-10-15 19:49] psteininger commented on #14430
This may be slightly off-topic, but did anyone consider the impact of naming JS and hbs files not only on the title bar but search results? Say I have a `foo-bar` component and I want to type in "foo-bar" and open the `template.hbs` will the `template.hbs` show up? Or do I have to type in `template.hbs` and wade through a myriad of paths? Perhaps typing "foo-bar/template" would yield that with cer

[2017-10-15 20:28] rynam0 commented on #15248
@rwjblue: if you could describe what you would consider "useful information" I would be glad to give this a try.

[2017-10-16 10:18] Serabe commented on #15686
Reopening in case we need to update something when the issue is found.

Thanks!

[2017-10-16 11:12] GavinJoyce commented on #15322
Interestingly, a production build of https://github.com/hudakdidit/ember-container-property-production-bug seems to work in Ember `2.15` and `2.16`, but not `2.13` or `2.14`. Upgrading to `2.15` might be a good path

[2017-10-17 03:28] michelboaventura opened #15743 "Simple ember app freezes browser"
I'm having a strange bug on which opening an ember app freezes my browser tab. Using chrome task manager I can see the tab is using more and more ram (it goes up to 1.8GB before chrome decides to kill it) with 100% of a cpu (the same happens on firefox). I was able to extract the behavior on a minimum app: https://github.com/michelboaventura/ember_bug

To see the problem you just need to run a ``e

[2017-10-17 04:46] mani-mishra commented on #15743
Can confirm. Its crashing firefox, safari too.
FF shows below message:

<img width="1415" alt="screen shot 2017-10-17 at 10 11 46 am" src="https://user-images.githubusercontent.com/3315240/31647057-50d11b44-b323-11e7-86db-20869a148e53.png">

On more debugging it seems there is an infinite loop in application's ```activate``` hook.
![infinite-loop](https://user-images.githubusercontent.com/3315240/

[2017-10-17 07:39] makepanic commented on #15743
@mani-mishra I think your issue is that you're trying to transition in the application routes activate hook.
It means that it aborts the transition and tries to transition to foo which causes the application route to try to activate later on.
This means it'll get stuck in an infinite loop trying to activate -> transition

[2017-10-17 08:21] mani-mishra commented on #15743
Thanks @makepanic
Although it wasn't my issue, I just debugged the original issue of browser's crashing in @michelboaventura 's app :)

This doesn't seem an issue with ember.js itself.

[2017-10-17 08:38] dennis95stumm commented on #15621
A new glimmer version with the fix was released. After updating the glimmer version this bug should be fixed. I've opened a pull request for updating the glimmer version.

[2017-10-17 09:22] locks commented on #15743
Thank you for the feedback! I'm closing the issue as it is not a bug with Ember.

[2017-10-17 09:22] #15743 closed

[2017-10-17 10:59] rwjblue commented on #15621
FYI - The upgrade to Glimmer 0.29 is a large effort (and unlikely to happen before Ember 3.0.0), @chadhietala backported the fix to the 0.25 branch. We need to release that as a patch version and update to that version instead. I’ll try to get these releases done today...

[2017-10-17 14:13] rennomarcus commented on #13042
Should this be closed? It looks like the core team decided to not merge the PR (?)

[2017-10-17 14:18] Serabe commented on #13042
Yes. Also there is the whole Ember.String deprecation thing going on.

Thank you all!

[2017-10-17 14:18] #13042 closed

[2017-10-17 15:21] mkamneng opened #15745 "computed.sort broken in 2.16"
Hi Guys,

The sorting using Ember.computed.sort seems to be broken in 2.16. I had it working in 2.14 and since my upgrade, it's silently failing to sort.

There is already an issue on sort (https://github.com/emberjs/ember.js/issues/13037, computed.sort works incorrectly with empty sort properties array #13037), but it's not the same I'm experiencing.

I have created a demo for both scenarios:
Sor

[2017-10-17 18:34] rennomarcus commented on #13412
Hi! I want to start to contribute to the awesome ember.js and I saw the way to start is with issues containing the label `help wanted`.

@rwjblue, I saw the code you provided and the line you highlighted is for cherry pick and not for merge. I also read https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md but I'm still a little confused here.
Some facts I got:
- The current code get the

[2017-10-18 00:07] Techn1x commented on #15745
There is an issue on the 2.16 sort regression here;
https://github.com/emberjs/ember.js/issues/15732

And a merged PR here;
https://github.com/emberjs/ember.js/pull/15733

Just waiting on a hotfix release...

[2017-10-18 00:23] mkamneng commented on #15745
Ok, Thanks.

[2017-10-18 08:35] locks commented on #15745
Thanks for reporting, closing this one as it's a duplicate and the issue has been resolved.

[2017-10-18 08:35] #15745 closed

[2017-10-18 10:32] GavinJoyce commented on #15621
@rwjblue LMK if there is anything that i can help with getting a release which includes the patched 0.25 branch (as I'm working on upgrading Intercom at the moment). As far as I can tell, it hasn't yet reached ember canary

[2017-10-18 14:16] lucacorti opened #15748 "Cannot import unsubscribe and reset from '@ember/instrumentation'"
With the old Ember global:

[code]

returns defined for all 4 functions.

In the new module API:

[code]

returns undefined for `unsubscribe` and `reset`.

These imports are listed as supported: https://github.com/ember-cli/ember-rfc176-data#emberinstrumentation

[2017-10-18 15:47] rwjblue commented on #15748
Thank you for reporting!

[2017-10-18 17:04] sarupbanskota commented on #15748
I’d like to take this one if I’m allowed to!

[2017-10-19 08:52] marxsk opened #15749 "Exception thrown from _fullyScopeQueryParams"
When there is an attempt to transition from one route to the another fast enough (model is not ready yet). I end up with:

ember.debug.js:30406 Uncaught TypeError: Cannot use 'in' operator to search for 'activeTab' in undefined
    at Class._fullyScopeQueryParams (ember.debug.js:30406)
    at Class._processActiveTransitionQueryParams (ember.debug.js:30344)
    at Class._doTransition (ember.debug.j

[2017-10-19 13:34] CESAR-Angular opened #15750 "DOCS: Ember computed page is not loading"
Hi,

Since 3 days ago, this page:

https://emberjs.com/api/classes/Ember.computed.html

... never loads.  Has this URL changed?

Thanks.

[2017-10-19 13:39] bmac commented on #15750
Hi @CESAR-Angular. It looks like the URL has changed. For the the new url is https://emberjs.com/api/ember/2.15/namespaces/Ember.computed/methods or https://emberjs.com/api/ember/2.16/classes/@ember%2Fobject/methods/computed?anchor=computed if you are looking for the new Ember 2.16 modules api for `Ember.computed`.

[2017-10-19 14:14] rafael-paiva commented on #5210
+1

I'm still seeing this issue! I'm on 2.12.2

[2017-10-19 16:28] pixelhandler commented on #15750
@CESAR-Angular does the response from @bmac help? if so feel free to close out this issue.

[2017-10-19 18:19] wagenet commented on #5210
Can someone provide a failing example for this?

[2017-10-19 19:22] CESAR-Angular commented on #15750
Yeap, it helps. Thanks @bmac. Closing it.

[2017-10-19 19:22] #15750 closed

[2017-10-21 00:11] sdhull commented on #11741
I also expected to be able to reference `hasBlock` in my component js code. IMO it should be accessible if only because it intuitively seems like it should be.

[2017-10-21 19:00] Turbo87 opened #15753 "Ember.A() docs is missing parameter description"
It seems that `Ember.A()` accepts an optional parameter that is currently not documented.

[2017-10-23 08:35] amk221 opened #15756 "Hooks for restoring a route's controller state"
I am building out an Ember app to run in parallel with an existing non-SPA, and so - it must look and behave the same.

The existing non-SPA website has some behaviour where state is stored on the server (unfortunately), so that when the user comes back to that page the page is as they left it.

I need to implement this behaviour in Ember, but by storing the state in local storage rather than on t

[2017-10-23 11:36] amk221 commented on #15756
Moving to https://github.com/emberjs/rfcs/issues

[2017-10-23 11:36] #15756 closed

[2017-10-23 13:45] pramitkundu92 opened #15757 "Ember js highcharts component misbehaving while trying to render dashed line/colored markers for points"
I have created an Ember JS component which uses Highcharts 6 library to create different types of charts based on data and configuration provided to the component. However, when I am trying to use "dashStyle" or "marker: { fillColor: "#FFFF00"}" for any series(to get dashed line) or data point(to get colored marker based on point data) respectively, am not getting the desired results. However, on

[2017-10-23 19:20] btecu commented on #15757
I assume you want this reported in the proper repository:
https://github.com/ahmadsoe/ember-highcharts

[2017-10-23 22:15] Serabe commented on #15757
Hello, @pramitkundu92. I am closing this since it is not an Emberjs bug. Please, go to #-help channel on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/). If you are using `ember-highcharts` you can try in that repo too.

Thank you!

[2017-10-23 22:15] #15757 closed

[2017-10-23 22:18] Serabe commented on #15748
@sarupbanskota ping me in Slack if you are still interested.

[2017-10-23 23:17] Serabe commented on #15680
Closing this according to [our triage policy](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy). Please, provide a reproduction so we can follow up on this.

Thank you!

[2017-10-23 23:17] #15680 closed

[2017-10-24 08:38] jevanlingen commented on #15621
The same problem also exists if using the [with](https://emberjs.com/api/ember/2.16/classes/Ember.Templates.helpers/methods/with?anchor=with) helper:

[code]
Probably the patch will fix this too, but to be sure I do mention it here!

[2017-10-24 14:31] michelboaventura commented on #15743
Thank you @mani-mishra for test and @makepanic to show me the problem!

[2017-10-25 10:51] deepan83 commented on #15694
Still seems to be an issue with 2.16.x

[2017-10-25 18:32] alexmiddeleer commented on #15753
I would be happy to try to work on this.

[2017-10-25 18:34] Serabe commented on #15753
@alexmiddeleer it needs to be documented here https://github.com/emberjs/ember.js/blob/v2.16.0/packages/ember-runtime/lib/system/native_array.js#L109-L151

Ping me on Slack if you need help

[2017-10-25 21:44] averydev opened #15768 "Using actions on elements triggered by events piles up listeners"
Hi there,

I've found that when elements are created and removed, for instance in an `{{if}}` statement, and include actions paired with native events, those events pile up (at least in chrome).

If this is happening with a lot of elements at once, for instance showing a list of 200 items, each with 3 inputs and 2 buttons, this can happen quickly, and cause memory problems.

You can also see the h

[2017-10-25 23:20] alexmiddeleer commented on #15753
https://github.com/emberjs/ember.js/pull/15769
I wasn't able to get yui server mode working (`ember serve --docs`), but `yarn docs` worked.

[2017-10-26 01:01] RyanNerd opened #15770 "Racing condition when action placed on back burner fires when element removed from DOM"
Here's the twiddle: https://ember-twiddle.com/2a82465b6be428c43c7e86290c5e9396?openFiles=controllers.application.js%2C

I realize this is an edge case. I couldn't get a twiddle that created the full problem which is this:
In a form that has a submit with a text box element that has an `oninput` action which is put on the back-burner via `Ember.run.later()` -- When the submit button is clicked some

[2017-10-26 02:33] alvincrespo commented on #15556
@pixelhandler Thanks for providing background on this - totally just helped me.

[2017-10-26 10:53] tehmaestro commented on #15621
Hi. Is there a fix released for this issue?

[2017-10-26 11:07] #15753 closed

[2017-10-26 11:48] Serabe commented on #15770
Hello, @RyanNerd,

this is not a bug. Though the input is removed from DOM, while it was still in, you asked `Ember` to `run` `later` a piece of code. This piece of code is being cancel each time you call `codeDidChange` but not while toggling it. [See the fix in this twiddle](https://ember-twiddle.com/fa0c08011dc80d532c53a1c723385e2b?openFiles=controllers.application.js%2C)

For complex, async ta

[2017-10-26 11:48] #15770 closed

[2017-10-26 11:49] Serabe commented on #15749
Hello, @marxsk,

can you try and reproduce this in an ember-twiddle or a project we can fork?

Thank you!

[2017-10-26 16:37] RyanNerd commented on #15770
Please re-open. The issue is that the `oninput` action is firing in the back-burner (**EVEN WHEN NO INPUT EVENTS ARE QUEUED**).

This happens on a form when submit action takes place and the form is getting torn down.

My suspicion is that when the form is closing the back-burner code is executing **all** functions in the back-burner to clear the queue (**it doesn't matter if the user has typed so

[2017-10-26 20:49] malatin3 opened #15774 "Inconsistent Capitization with currentURL / rootURL vs urlFor in Router Service"
I know it's a bit pedantic but if you're treating url as a whole word like it seems you are in urlFor the capitalization of currentURL and rootURL would be currentUrl and rootUrl respectively.

[2017-10-26 22:09] Serabe commented on #15774
They are consistent. Is a lower camel case and acronyms conserve the case of the first letter.

For further discussion, given this imply a change in the API, please, open an RFC.

Thank you!

[2017-10-26 22:09] #15774 closed

[2017-10-26 22:40] Serabe commented on #15770
The bug in the original twiddle is a bug in the implementation. It looks like the code processes the events/handlers like so...

When the `input` event is fire, the method in `actions` named `codeChanged` is called with its context set to the component. That method calls the method `codeDidChanged` in the component. `codeDidChanged` first cancels previous task and then sets a new one. That task is

[2017-10-27 11:26] sarupbanskota commented on #15748
@Serabe yes indeed - lemme ping you I can work on it over the weekend :)

[2017-10-27 15:06] Turbo87 commented on #13815
@rwjblue @stefanpenner has there been any discussion on this since last year? if the classes are not used by Ember itself IMHO we should remove them. we could build a sort of shim addon that checks the Ember version at buildtime and if Ember provides the classes ifself it would delegate to Ember, and otherwise provide the implementation itself (or even delegate to the native ES6 Map).

[2017-10-27 19:49] rwjblue commented on #15748
Closed by https://github.com/ember-cli/ember-rfc176-data/pull/40

[2017-10-27 19:49] #15748 closed

[2017-10-27 19:59] marxsk commented on #15749
Thanks for response, I have upgraded to 2.16.0 and I cannot reproduce this issue. So it should be already fixed.

[2017-10-27 19:59] #15749 closed

[2017-10-27 20:07] #15729 closed

[2017-10-29 11:42] #15621 closed

[2017-10-29 14:12] GavinJoyce commented on #15621
Ember 2.16.1 has been released which should fix the issues with partials. Please let me know if you're still seeing issues

[2017-10-29 20:36] rwjblue opened #15790 "Build warnings from typescript compilation of ember-glimmer"
A fresh `ember b -prod` on master results in the following output related to the recent typescripting efforts:

[code]

[2017-10-29 20:36] rwjblue commented on #15790
/cc @krisselden @smfoote

[2017-10-29 23:00] kratiahuja opened #15791 "Deeply nested partials is broken in Ember 2.15.x onwards"
# Problem

If an addon/app is invoking `partial` in a deeply nested manner (ie invoking a partial then invokes another partial) is currently broken. What really is broken is that the context of the template that first invokes a partial isn't being passed down to the n-th (n > 1) `partial` call. This is causing apps to break when upgrading to Ember 2.16.1.

If there is only one level of `partial` i

[2017-10-29 23:09] kratiahuja commented on #15791
I know the deeply nested partials can be simplified into component invockation.

[2017-10-30 04:35] bgentry commented on #12419
This bug is definitely still active, I just encountered it on v2.16.0.

I have a route `items.show` with a dynamic ID segment. I'm using the `link-to` helper with the model ID instead of a whole model because I'm using ember-apollo-client and want a different set of data fetched for the child route. When I click between a list of items, every single one of them gets the `.ember-transitioning-in` c

[2017-10-30 06:17] bgentry commented on #15466
I'm encountering an issue that might be related. My app is transitioning from `/post/1` to `/post/2`, same route but with a different param. The `deactivate` hook is normally not called here. However, if I add a `post-loading.hbs` template and make this same transition, `deactivate` does get called.

Based on the Router documentation (linked above) this certainly doesn't sound correct, so it sound

[2017-10-30 15:09] #15790 closed

[2017-10-30 15:15] mani-mishra commented on #15671
Any updates on this :eyes: ? Our app is still at 2.13 because of this.

[2017-10-30 15:38] atomkirk opened #15794 "Cannot read property 'concat' of undefined (upgrade 2.16.2)"
Only change I made was upgrade from 2.14.2 -> 2.16.2 and now when I run tests, this error causes a couple tests to fail (everything else works):

[code]

Which is apparently this line:

![](http://d.pr/i/H1F2LD/LgTppA56+)

One of the tests that fails looks like this:

[code]

Any tips to help debug?

[2017-10-30 15:51] 0xadada commented on #15291
Just got bit by this "gotcha", thanks for the writeup @fastfedora!

[2017-10-30 16:03] kratiahuja commented on #15791
Happy to help fix this if someone could help give me a direction. I believe the bug is in glimmer-vm right?

[2017-10-30 19:45] raido commented on #15709
I also stumbled upon in my component that wraps bootstrap-select which uses selected attribute to set up it's own logic.

Workaround for now:

[code]

[2017-10-31 00:08] atomkirk commented on #15791
I can confirm this. In my case,
[code]
is in a partial and `record` is not available in `some-partials`

[2017-10-31 07:48] thnima commented on #15791
I have the same issue.
But it works again if I move the loop into the deeply nested partial like this:

Partial 1:
`{{partial 'my-partials/some-partials}}`

Some-Partials:
`{{#each model as |record index|}}
  {{partial 'my-partials/more-partials}}
{{/each}}`

[2017-10-31 08:27] GavinJoyce commented on #15621
While these issues have been fixed, FYI I just found another issue with partials:

https://github.com/emberjs/ember.js/pull/15797

I'll work on fixing this later today

[2017-10-31 10:45] vmalloc opened #15799 "Resetting query parameter does not work as expected"
Example project that reproduces it can be found in https://github.com/vmalloc/ember-route-bug-reproduce.

Essentially what happens is if a controller has an observer function on a query param change that resets a second parameter as a response (e.g. resetting the page number when the search term changes) - the second parameter does not get reset when the change is triggered as a result of pressing

[2017-10-31 10:47] vmalloc commented on #15799
Reproduced on Ember 2.16.1, BTW

[2017-10-31 13:44] lolmaus opened #15800 "Introducing a loading route prevents query params from being resolved in an acceptance test"
@lifeart has found this bug.

## Steps to reproduce

[code]

Open http://http://localhost:7357 and you can see tests pass.

Now create a loading route:

    ember g template project-version/classes/class-loading

And the test will fail. The app for a normal user behaves correctly.

## Debugging

1. Drop `debugger`s [here](https://github.com/ember-learn/ember-api-docs/blob/542b6065553ac6849635865e8

[2017-10-31 22:10] offirgolan commented on #15556
@pixelhandler regenerator isn't available if your only targets are the latest browsers which means that overwriting the global promise class wont work 😢.

Is there a workaround for that?

One way that I can think of is to force add regenerator by dynamically adding an older browser to the targets if the env is test. The only issue with that is now your test env wont be the same as your prod env.

[2017-10-31 22:21] caseywatts commented on #15556
I believe `RSVP.Promise` (but not the global `Promise`) knows to notify the Ember run loop after each promise resolution (although I can't find where in the code I think that happens...)

Eventually (hopefully) none of us will have to use the regenerator any more. It seems that in the long-term, we may need the global `Promise` to have a hooks thing like `RSVP.Promise` does. I'm not sure the state

[2017-10-31 22:21] jrjohnson commented on #15556
@offirgolan this issue is actually keeping us from targeting only modern browsers. I'm hoping the new testing setup in RFC [#232](https://github.com/emberjs/rfcs/blob/master/text/0232-simplify-qunit-testing-api.md#qunit-nested-modules-api) will surface this with more apps and maybe a better solution will show up.

[2017-10-31 22:22] harryjackson commented on #11834
Hit this issue today. We're integrating with Zendesk and they're using ember which means all the id's change every time the page loads :(. The id is the preferred way to get elements in Selenium and this is a real PITA. We can use Xpath but it's a cheap substitute.

[2017-11-01 03:42] HeroicEric commented on #15740
I believe this is the same bug as https://github.com/emberjs/ember.js/issues/15217

[2017-11-01 13:32] #15217 closed

[2017-11-01 13:32] #15740 closed

[2017-11-01 14:16] rwjblue commented on #15740
Thanks @HeroicEric!

[2017-11-01 20:28] krisselden opened #15803 "Double render assert meta leaks memory"

[2017-11-01 21:30] rwjblue commented on #15791
Fixed by https://github.com/glimmerjs/glimmer-vm/pull/732 and https://github.com/emberjs/ember.js/pull/15797. Released in v2.16.2.

[2017-11-01 21:30] #15791 closed

[2017-11-02 01:18] zacksiri opened #15804 "I’m your secret admirer"
Hey Ember Community

Over the past 2 years I’ve been working with React applications. I followed the hype and I build with React, yes react itself is great but everything else around it is complicated, fragmented, and inconsistent. Needless to say looking back, I have to say I wish that I had started here at ember. The amount of hours I’ve wasted setting up React, Webpack, React Router (this is mo

[2017-11-02 10:55] dmtask commented on #14885
Yes, i´m having this Problem too

[2017-11-02 10:55] dmtask commented on #14885
Anyone a idea to fix this problem?

[2017-11-02 11:47] Serabe commented on #15804
Thank you so much for your kind words!

Please, join us in the Ember Community Slack, you can request an invite [in this Slackin](https://ember-community-slackin.herokuapp.com/).

Hope to see you soon in slack!

Thanks again!

[2017-11-02 11:47] #15804 closed

[2017-11-02 13:10] BillyRayPreachersSon opened #15805 "Enumerable#contains deprecation docs have 2x links that give a 404"
The [deprecation docs for Enumerable#contains](https://emberjs.com/deprecations/v2.x/#toc_enumerable-contains) has links to two equality algorithms, both of which give a 404 when followed.

It looks like the link for Strict equality comparison algorithm (https://tc39.github.io/ecma262/2016/#sec-strict-equality-comparison) needs to be updated to https://tc39.github.io/ecma262/#sec-strict-equality-c

[2017-11-02 14:43] #15805 closed

[2017-11-02 16:17] xe21500 commented on #15621
Are you guys completely sure it's been solved for 2.15? The twiddle from @Serabe  (https://github.com/emberjs/ember.js/issues/15621#issuecomment-326823615) still fails on 2.15.3, but works on 2.16.1.

Incidentally, I've noticed that if you modify the partial to write the `name`, it actually prints the correct value...

![image](https://user-images.githubusercontent.com/24647195/32337171-8ddf48a0-b

[2017-11-02 16:18] Serabe commented on #15621
It is not. Ember 2.15 is not an LTS, so I don't think a fix will be coming.

[2017-11-02 16:20] atomkirk commented on #15791
I'm using 2.16.2 and I'm still seeing it. Did you mean 2.16.3 maybe?

[2017-11-02 17:55] rwjblue commented on #15791
@atomkirk - Yes, lets treat it as a separate bug, would you mind filing (and possibly creating a failing test case like in https://github.com/emberjs/ember.js/pull/15797 and https://github.com/glimmerjs/glimmer-vm/pull/732)?

[2017-11-02 17:56] rwjblue commented on #15621
Confirm.

[2017-11-02 22:53] atomkirk opened #15807 "#each index not available in partial after upgrade to 2.16.2"
[code]
This is NOT double nested but idx is not making it into the partial. It was working in 2.14.2 but after simply upgrading to 2.16.2 (no other changes), it no longer works.

I'm still experiencing https://github.com/emberjs/ember.js/issues/15791 on 2.16.2, even though there are claims it is fixed in 2.16.2. I'm not sure if this is a manifestation of that same bug.

[2017-11-03 01:25] rwjblue commented on #15807
@atomkirk - Would you mind submitting a failing test PR like the few linked in #15791?

[2017-11-03 01:26] rwjblue commented on #15807
There are many different scenarios at play, and we _definitely_ have been fixing the ones reported (and confirmed by passing the previously failing test cases) as we do these patch releases.  I'm sorry that it is frustrating. 😞

[2017-11-03 06:33] sarathkumarbaskaran opened #15809 "Make transition to Engines subroute (in-repo) from the application throws error"
Let the engine mounted be 'test-engine' and 'list' be the route. Making transition to `test-engine/list` throws `"Assertion Failed: Attempting to inject an unknown injection: 'controller:application'".`

But if I make the transition to `test-engine` and `list` one by one. It works. Later the transition `test-engine/list` itself works.

Reproducible in > 2.14.

[2017-11-03 07:15] xe21500 commented on #15621
Oh, ok. I thought the fix being backported to glimmer 0.25 would meant this working on Ember 2.15 too. Guess we'll skip directly to 2.16 then. Thanks!!

[2017-11-03 11:07] #15803 closed

[2017-11-03 14:34] pixelhandler commented on #15809
@sarathkumarbaskaran can you make an example of the bug, perhaps in a github, gitlab or other shared git repository? One of the first steps to verifying the bug is to reproduce the behavior.

[2017-11-03 14:41] pixelhandler commented on #15794
@atomkirk can you great an https://ember-twiddle.com/ example to reproduce the issue?

[2017-11-03 14:42] atomkirk commented on #15794
I would LOVE to but ember twiddle only supports up to 2.12. Is there a way to update it to 2.16.2?

[2017-11-03 14:45] rwjblue commented on #15794
You can drop the addons section in the `twiddle.json`, and then choose `release` channel from the dependencies.

[2017-11-03 14:47] rwjblue commented on #15794
Also, this error looks like a mis-match between Ember versions. The template compilation output changed between these two versions, and the error you are getting seems to infer that the inline precompiled template has not been re-compiled with your new Ember version's template compiler.

[2017-11-03 14:51] atomkirk commented on #15794
oh interesting. I followed the upgrade instructions here:

https://github.com/ember-cli/ember-cli/releases/tag/v2.16.2

namely `rm -rf node_modules dist tmp` to delete existing compiled stuff and `ember init` to make sure my package.json deps got updated to the right versions.

Do you have a suggestion of what I should try?

[2017-11-03 15:05] pixelhandler commented on #15768
@averydev thanks for reporting the issue and providing a reproduction of the issue.

To summarize:

Conditional display of element with click handlers will result in the creating and destruction of elements with their associated handlers.

Though we can use `onClick` to attached an action handler to the DOM attribute of an element that event handler will not be torn down during the lifecycle of th

[2017-11-03 15:09] pixelhandler commented on #15768
I'm inclined to think that this is not a bug. The frame work provides various ways to listen to events and they have their trade-offs. Using a component with an event handler will setup and teardown properly.

[2017-11-03 15:21] atomkirk commented on #15807
Well, I can't reproduce it in a twiddle so maybe its just my installation somehow. Which might be related to my other errors

https://ember-twiddle.com/dc578e341683f6c2034d12086f675283?openFiles=templates.application.hbs%2C

[2017-11-03 15:30] pixelhandler commented on #15768
Also mentioned is that `onClick` should be `onclick` I forked the twiddle example, https://ember-twiddle.com/d371f2880f4d3e5c5096821f72eaadd8?fileTreeShown=false&openFiles=controllers.application.js%2C

But the result is the same regarding adding handlers to the element's attribute.

[2017-11-03 15:45] pixelhandler commented on #15768
@averydev I updated the forked twiddle to show using a component's event handler, see https://ember-twiddle.com/d371f2880f4d3e5c5096821f72eaadd8?fileTreeShown=false&openFiles=templates.application.hbs%2Ctemplates.components.x-button.hbs

[2017-11-03 16:25] CvX commented on #14993
Ember-twiddle example seems to work now. Has this issue been fixed?

[2017-11-03 16:32] marxsk opened #15812 "Ember.Array and replace()"
In the documentation, strings are used in Enumerables together with pushObject() [e.g. in https://guides.emberjs.com/v2.16.0/object-model/enumerables/]

`let arr = Ember.A(['first', 'second', 'third']);`
`arr.replace(0, 1, 'new-first');`
`arr.replace(1, 1, '');`
`arr.pushObject('')'`

The arr contains `['new-first', 'third', '']`. According to documentation (usage with objects) I would expect that

[2017-11-03 16:36] pixelhandler commented on #15570
Closing this for now, its not a bug in the Ember framework

[2017-11-03 16:36] #15570 closed

[2017-11-03 16:37] pixelhandler commented on #15574
@webark any luck with 2.16.x ?

[2017-11-03 16:38] pixelhandler commented on #15569
@amk221 any luck with Ember 2.16.x ?

[2017-11-03 16:41] pixelhandler commented on #15556
@simonihmig @jrjohnson @caseywatts @offirgolan @alvincrespo Perhaps this post sheds some light on the considerations for running with async/await ...

http://rwjblue.com/2017/10/30/async-await-configuration-adventure/

[2017-11-03 16:41] amk221 commented on #15569
Nope, not with 2.16.0 (you can see [here](https://travis-ci.org/amk221/ember-select-box/jobs/296788639#L762))

[2017-11-03 16:42] pixelhandler commented on #15545
@locks should this be closed in favor of a documention issue elsewhere?

[2017-11-03 16:44] pixelhandler commented on #15479
@lolmaus what do you think about opening the issue in the Glimmer repo?

[2017-11-03 16:45] pixelhandler commented on #15466
@laynegt any luck with 2.16.x ?

[2017-11-03 16:45] averydev commented on #15768
Hi there @pixelhandler thanks for looking into this!

The good thing here is that there are plenty of good alternatives to `<button onclick={{action 'doSomething'}}>` that are likely to be perfect alternatives without the listener downside.

In particular, while re-reading the docs on `{{action}}` i noticed the following option for the first time:  `<button {{action "doSomething" on="onclick"}}>`

[2017-11-03 16:46] pixelhandler commented on #15098
@ryanrishi any luck with using a current version of Ember, e.g. 2.16.x ?

[2017-11-03 16:46] lolmaus commented on #15479
@pixelhandler The offending line is in the Ember repo. I'm not even sure pure Glimmer apps are affected.

[2017-11-03 16:51] pixelhandler commented on #15092
@gabrielgrant regarding documentation...

how about creating a pull request for the docs?

[2017-11-03 16:51] bgentry commented on #15466
@pixelhandler I ran into this on 2.16.x when I tried it the other day. The bug is still active.

[2017-11-03 16:52] CvX commented on #15662
Here's a minimal bug repro. Took a couple of days, I've been taking away parts of a production app until only this was left:

[code]

[code]

[code]

+ `ember-cli-fastboot` in devDependencies

[2017-11-03 16:52] pixelhandler commented on #15063
@cibernox does this issue need to stay open?

[2017-11-03 16:55] cibernox commented on #15063
Actually, no. Acceptance tests are fine, provided people don't use the built-in global helper (`find`, `fillIn`) but the ones in https://github.com/cibernox/ember-native-dom-helpers

I'll close it.

[2017-11-03 16:55] #15063 closed

[2017-11-03 16:56] sergiferran commented on #14993
It still breaks, just remove one by one the last characters until you remove one line, then in inspector, you'll have the error

[2017-11-03 16:57] pixelhandler commented on #15041
@locks any update on this one?

[2017-11-03 16:59] pixelhandler commented on #15013
@ykaragol I'm curious if this is still an issue in 2.16.x ?

[2017-11-03 17:03] pixelhandler commented on #14944
@Alonski yeah I was suspicious of the name `template.hbs` glad you had a work around using `template-single.hbs`. I'll close this for now.

[2017-11-03 17:03] #14944 closed

[2017-11-03 17:05] pixelhandler commented on #14927
@mixonic any update here regarding direction for Ember? can this be closed?

[2017-11-03 17:06] pixelhandler commented on #14914
@rwjblue @mixonic I added both labels for now Bug/Proposed Feature :)

[2017-11-03 17:09] pixelhandler commented on #14792
@LucasZheng does this issue still exist in Ember 2.16.x ?

[2017-11-03 17:24] averydev commented on #15768
Also, there isn't anything specific about `{{#if}}` that causes this issue, it would be the same if for any reason an element was removed from the template that had had an `onclick={{action...}}` for instance:

[code]

[2017-11-03 17:55] offirgolan commented on #15556
@pixelhandler no, not really. @rwjblue is writing about setting up your app and test suite to support async / await. This issue is about async / await promises not being fulfilled in tests since Ember has no knowledge of them. As stated before, this happens when you target only the latest browsers which have no need for regenerator.

[2017-11-03 18:13] caseywatts commented on #15556
Thanks for sharing @pixelhandler !
Related to rwjblue's blog post - I've found that async/await already totally helps with tests!
Some ways: https://gist.github.com/caseywatts/7c01654f74fbe402dfaadfa144965adb

But it's not ready to be used inside our Ember app code yet:
https://github.com/emberjs/rfcs/issues/175#issuecomment-326441449

[2017-11-03 19:41] thec0keman opened #15813 "Make canInvoke public"
This is kind of a minor request, but could `Ember.canInvoke` be made public and added to the `@ember/utils` module exports?

`tryInvoke` is already public, but we've found `canInvoke` to also be valuable, and it would be nice if it was publicly available.

[2017-11-03 20:09] Alonski commented on #14944
@pixelhandler I'm not sure this should be closed. Maybe add a workaround in the CLI so you can't create templates named template.hbs

[2017-11-03 23:54] Serabe commented on #15813
Feature [requires to follow the RFC process described in CONTRIBUTING](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#requesting-a-feature).

Thanks!

[2017-11-03 23:54] #15813 closed

[2017-11-04 00:24] Serabe commented on #15812
The third argument for replace needs to be a collection.

[2017-11-04 02:56] webark commented on #15574
@pixelhandler nope. The event dispatcher in https://github.com/rwjblue/ember-native-dom-event-dispatcher never gets loaded.. The whole file never gets loaded.

[2017-11-04 11:12] sarathkumarbaskaran commented on #15809
@pixelhandler Thanks for the note.

The issue happens only when I make reference to the Application's controller from the Engine Controllers and the application controller has an other controller injection. [Reproducible](https://github.com/sarathkumarbaskaran/sample-ember-app)

Example:
Let `app/contollers/test.js` be

[code]

And `test-engine/addon/controllers/list.js`

[code]

Fails here `this.

[2017-11-04 12:43] #15812 closed

[2017-11-04 15:00] amk221 commented on #15569
I updated the test repo to 2.16.2 https://github.com/amk221/-ember-rsvp-test-failure

[2017-11-04 16:31] rwjblue commented on #15569
We probably need to bisect this to figure out where the regression was introduced. Nothing jumps out at me from the changelog...

[2017-11-04 19:20] alexlafroscia commented on #15013
I tried a quick reproduction on Twiddle and it seems like it's maybe fixed in 2.16?

https://ember-twiddle.com/7a54c0cb1c5c6fd186b810e1130818de?openFiles=tests.integration.components.my-component-test.js%2Ctemplates.components.my-component.hbs

Not sure about whether it works in Mocha, but it seems to be working on QUnit at least

[2017-11-05 01:07] rwjblue commented on #15556
Hoping to kickstart more efforts to enable this, but we should probably track the actual issue over on https://github.com/emberjs/rfcs/issues/175 (which I _think_ predates this issue a bit).  I'll try to chime in over there with a quick status update and lay out the game plan that @krisselden is coaching me on...

[2017-11-05 01:07] #15556 closed

[2017-11-05 01:09] rwjblue commented on #15041
Closing in favor of https://github.com/emberjs/ember.js/pull/15119

[2017-11-05 01:09] #15041 closed

[2017-11-05 01:28] rwjblue commented on #13815
The basic plan forward here is:

* Create separate addons for:
  * `ember-ordered-set` - This would contain the implementation from [here](https://github.com/emberjs/ember.js/blob/0780f0e92537fb9a9665f9871f7e17cd96378548/packages/ember-metal/lib/map.js#L58-L202) in its `index.js`.
  * `ember-map-polyfill` - This would:
    * do nothing if all targets support native `Map`
    * include a `Map` poly

[2017-11-05 01:50] rwjblue commented on #15809
**tl;dr** create `lib/engine-test/addon/controllers/application.js` as `export default Ember.Controller.extend()`.

---

This isn't really an issue with engines per-se, its that you cannot inject an auto-generated controller _before_ it has been generated. The reason it seems related to engines is that you are extending from an app controller _within_ the engine itself.

Here is a breakdown of wha

[2017-11-05 01:50] #15809 closed

[2017-11-05 04:01] rwjblue commented on #15574
Not really sure what to do about this.  I haven't had time to clone the reproduction and test things out so I'm not 100% sure what is going on.  I think the general advice here is to essentially just avoid doing this.  For example, it would probably be better to do this work in the `model` hook of your application route instead of inside an initializer.  I know thats not a great answer, but I thin

[2017-11-05 06:47] sarathkumarbaskaran commented on #15809
Thanks for the clarification 👍 . Just wanted to point out, it works with version <= ~2.13.

[2017-11-05 06:48] sarathkumarbaskaran commented on #15809
@rwjblue cool stuff 👍 . Just wanted to point out, it works with version <= ~2.13.

[2017-11-05 09:45] Turbo87 commented on #13815
@rwjblue thanks for the detailed plan. I'll put it on the todo list :)

[2017-11-05 14:17] #14168 closed

[2017-11-05 16:23] rwjblue commented on #14792
Seems to be working properly in Ember 2.16.2 (likely was fixed by https://github.com/emberjs/ember.js/pull/15613).

[2017-11-05 16:23] #14792 closed

[2017-11-05 16:26] rwjblue commented on #15807
@atomkirk - Please continue to try to isolate the issue, we are eager to help once we can reproduce. Also, feel free to make a full repo that we can clone if you suspect the issue to be twiddle itself...

[2017-11-05 16:28] rwjblue commented on #15794
@atomkirk - Are you using ember-source (from npm) or are you consuming via Bower?  If bower, you probably also want to `rm -rf bower_components`.

[2017-11-05 16:32] rwjblue commented on #14885
I don't think this is an issue (just tested with `ember new`), newly generated projects properly have a `tests/helpers/module-for-acceptance.js` file and it is importable in the testing system.

I'm going to close this (as it isn't an Ember bug), but if others are still hitting this we should either create an issue in the emberjs/guides repo (if it is while going through the tutorial) or we should

[2017-11-05 16:32] #14885 closed

[2017-11-05 16:51] rwjblue commented on #15098
Seems to have the same issue on 2.16.2.

@krisselden - If you have time, would you mind poking at this one?  🤕

[2017-11-05 17:25] rwjblue commented on #12945
I would love a reproduction here. The original repro is pretty out of date (the emberobserver client).

[2017-11-05 17:38] rwjblue commented on #15466
In this case you are definitely exiting `/post/`, why would you expect `deactivate` to not be called?

I'm not certain that this is super well understood, so I'll try to explain what I _think_ the disconnect here is.  From @bgentry's example, the following route structure exists:

* `post`
* `post-loading`

In this case, to move _from_ `post` to `post-loading` you absolutely have to exit `post` wh

[2017-11-05 18:21] bgentry commented on #15466
@rwjblue your explanation makes sense and upon closer look I think my issue was not related to this one anyway. Sorry for causing extra confusion here

This issue was describing a bug where the *parent* route calls `deactivate` when a child route transitions to loading, though I haven't verified if it still exists.

[2017-11-05 20:41] rwjblue commented on #15466
Gotcha, thanks for clarifying that @bgentry.

I do believe my explanation above also applies to the original posters comment as well.

In other words, I believe this is intentional (and desired) behavior. If the docs need to be updated to make it more clear, let’s do it. But I don’t think this is a bug...

[2017-11-05 20:46] atomkirk commented on #15807
I think its probably related to my version mitchmatch that you pointed out. Im still trying to verify that was the problem. Lets close for now. Many thanks for taking the time.

[2017-11-05 20:46] #15807 closed

[2017-11-05 21:17] rwjblue commented on #15807
No problem. Let us know if it’s still an issue and we will try to keep digging with you...

[2017-11-06 01:07] LucasZheng commented on #14792
@pixelhandler , it's fixed.

[2017-11-06 01:19] locks commented on #13815
Repos up:

- https://github.com/emberjs/ember-ordered-set
- https://github.com/emberjs/ember-map-polyfill
- https://github.com/emberjs/ember-map-with-default

[2017-11-06 08:40] ykaragol commented on #15013
@pixelhandler I didn't test it. I'd just use the workaround shown in the [StackOverflow Question](http://stackoverflow.com/questions/42781085/ember-render-hbs-swallowing-thrown-error).

[2017-11-06 10:07] ondrejsevcik opened #15827 "Exception handling inside run loop differs for test and production"
Hi, we've upgraded our app from `2.14.2` to the latest `2.16.2`, and we've got a new set of errors in our tests. After a bit of digging, we were able to find where the problem is. In a test environment, there is a test adapter that catches (and reports) any exception that's thrown inside run loop, and that means this error is not propagated further into our code.

To demonstrate it, I've created a

[2017-11-06 15:41] rwjblue commented on #15013
The [ember-qunit-assert-helpers](https://github.com/workmanw/ember-qunit-assert-helpers) addon was specifically created to handle this scenario...

[2017-11-06 19:35] Leooo commented on #15569
Isn't it https://github.com/emberjs/ember.js/issues/15694 ?

[2017-11-06 19:40] rwjblue commented on #15569
I don't think so, #15694 is about rejecting without a reason.  In this case, the rejection has a provided reason...

[2017-11-08 05:25] sdhull opened #15830 "Wildcard routes don't run model hooks with different wildcards"
Given a route like this:
[code]
And `transitionTo` calls
[code]
The url changes but the model does not. My expectation is that (similar to routes with dynamic segments), the model hook would always be called.

[2017-11-08 05:31] sdhull commented on #15830
Furthermore, I've found that using `transitionTo` with a path (as [mentioned in docs](https://emberjs.com/api/ember/2.16/classes/Route/methods/transitionTo?anchor=transitionTo)) when navigating to a route with different wildcards, the transitions are one behind.
[code]

[2017-11-08 06:04] rwjblue opened #15831 "link-to in integration tests throw: Cannot read property 'applyIntent' of undefined"
The following error occurs on canary (but works properly on prior releases) for [this test](https://github.com/rwjblue/___demo-integration-test-with-link-to-bug/blob/master/tests/integration/components/can-render-link-to-test.js):

[code]

The test is attempting to ensure that a component integration test is capable of rendering a `{{link-to}}` even when the router is not booted/available.

[Demo

[2017-11-08 06:06] rwjblue commented on #15831
@bekzod - Would you mind taking a look at these? This is exactly the scenario (e.g. `{{link-to` without routing) that I was referring to in  https://github.com/emberjs/ember.js/pull/15779/files#r148964352...

[2017-11-08 06:16] bekzod commented on #15831
@rwjblue sure I am looking

[2017-11-08 06:31] mazondo commented on #15662
We're hitting this in our app as well.  the `deferRendering` seems to be a big part of it for us

[2017-11-08 10:09] bekzod commented on #15831
@rwjblue sorry couldn't resolve this, dug a bit found `inline link-to` is ignoring first positional param
when `didReceiveAttrs`  `params` has `index` only when `Hi` `index` passed https://github.com/emberjs/ember.js/find/master#L815 ,
I suspect it something to do with `transform-inline-link` `https://github.com/emberjs/ember.js/blob/master/packages/ember-template-compiler/lib/plugins/transform-in

[2017-11-08 12:05] rwjblue commented on #15831
Hmm. I didn’t think the issue was only for inline link-to. I’ll test though.

[2017-11-08 18:46] sdhull commented on #15830
Hang on, working on repro. This very well may have been user error 🤦‍♂️

[2017-11-08 18:59] sdhull commented on #15830
Yup. geez.

[2017-11-08 18:59] #15830 closed

[2017-11-09 00:00] ilucin opened #15836 "[2.16.0] CoreObject observer+reads regression"
Pretty weird regression happened in 2.16.0. I failed tracing down the commit that caused this so maybe you guyz can help.

Just paste this snippet in the console of your Ember app and see for yourself:
[code]

This is what happens: [Devtools sshot](http://take.ms/Kqv3F)

... or to put it verbally: "If you create more than one object with overriden computed.reads property with chained dependency an

[2017-11-09 03:52] minhnq013 opened #15837 "Getting isDestroyed return "undefined" for nested keyPath"
If I attempt to get the "isDestroyed" attribute of a destroyed nested object using the getter, it will return "undefined" instead of "true" due to the loop in "_getPath" in property_get.js

[code]
This can cause some issue as the value is the opposite of what we expect and the code still treat the object as not destroyed.

Though, I understand the reason for why the getter would return undefined o

[2017-11-09 08:59] juhyxx opened #15839 "[2.16.0] Missing properties and methods in Ember.CoreView documentation and in descendant classes"
Compare:
https://emberjs.com/api/ember/2.15/classes/Ember.CoreView
https://emberjs.com/api/ember/2.16/classes/Ember.CoreView

Where did they go?

[2017-11-09 11:25] givanse commented on #13071
@Turbo87 did you ever found a way around this problem?

[2017-11-09 11:27] Turbo87 commented on #13071
@givanse we've upgraded to Ember 2.12 by now and don't seem to have this issue anymore

[2017-11-09 13:19] jlami opened #15840 "[2.15+] multi brace and arrayproxy break dep/watch chain"
Hi,

I have a problem with the following twiddle in ember 2.15+ https://ember-twiddle.com/775f213a59b75008bcccc5056b60069b?openFiles=controllers.application.js%2C

You can also clone my repository here: https://github.com/jlami/ember-bug-multi-brace

I have traced the problem to an issue with the `_deps` and `_watching` meta information. The multi brace seems to invalidate the cache and clear thes

[2017-11-09 15:11] rmachielse opened #15841 "Blank page when combining templateName and renderTemplate in a route with subroutes"
We are having an application with multiple named outlets in `application.hbs`. For displaying reasons, we render a nested route next to their parent route instead of nested into it, by overriding the outlet in `renderTemplate`. Also, we override the `templateName` in the route. The route also has subroutes. Unfortunately this causes a blank screen with no errors in the console. See this ember-twid

[2017-11-09 23:10] mjuniper opened #15842 "Error substate does not receive model hook rejection reason unless it is an Error object"
If you return `Ember.RSVP.reject('whatever')` from a model hook, the error substate will not recieve the reason as the model as indicated in the [guides](https://guides.emberjs.com/v2.16.0/routing/loading-and-error-substates/#toc_code-error-code-substates):

See https://ember-twiddle.com/566eb0e180a20a9f96a22578abf614d2?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Ctemplates.a

[2017-11-10 12:43] ilucin opened #15843 "[2.16.0] Computed filter regression"
There's a regression bug in computed.filter not observing property changes properly -> in 2.16 release.

Paste this into the console:
[code]

This is the third core regression bug (#15836, #15733) I found in 2.16 and this one is pretty major. What's happening here, are there any more? Shall I PR failing tests in core_object module? @rwjblue

[2017-11-10 13:54] rwjblue commented on #15842
Ya, we should probably fix the implementation to allow promises rejected with string values.

[2017-11-10 13:58] rwjblue commented on #15843
Yes, a failing test PR would be helpful. I'm not sure of the root cause without digging yet...

[2017-11-10 14:35] ilucin commented on #15843
Here it is. I've scanned the 2-15.3 -> 2.16.0 changes and I can see that there has been some ember-core updating going on but I can't find the source of these regressions.

[2017-11-10 21:27] catc opened #15847 "Deleting object keys doesn't update children component templates"
Reproduced at https://ember-twiddle.com/5cdc151106ba73d08ce4f5da63c0736e?numColumns=2&openFiles=templates.components.my-comp.hbs%2Ctemplates.components.option-item.hbs
- add an item
- remove it
- the `remove` button string changes to `add` in the same component template
- the `remove` button doesn't update in children components (bug)

Deleting a key on an `Ember.Object` correctly updates the temp

[2017-11-13 03:21] imagolive opened #15851 "classNameBindings with ,, compiles but causes runtime problems"
A double ,, in a classNameBinding will compile ok, but generates a runtime error afterwards.

e.g.

 classNameBindings: ['isVertical:vertical:horizontal',,'isVisible:visible:hidden'],

produces:

curly.js:406 Uncaught TypeError: Cannot read property 'split' of undefined
    at curly.js:406
    at processComponentInitializationAssertions (curly.js:411)
    at CurlyComponentManager.create (curly.js:

[2017-11-13 13:06] sankar-ganesh opened #15852 "Dynamic segment on application route"
Need help on adding a dynamic segment at the application level. To make it backward compatible this require to be an optional dynamic segment or all existing URLs must be replaced with the dynamic segment which is available before it hits the router class. Appreciate help on this!!!

[2017-11-14 07:54] Amerr commented on #13676
@nathanhammond Can you explain the reason for warning . what is tradeoff and how these changes gives advantage in new versions . its  , by changing to `this._super(...arguments)` to `this._super.apply(this, ...arguments)`.

[2017-11-14 10:56] locks commented on #15852
Thank you for reaching out @sankar-ganesh, however we reserve the issue tracker for bugs in Ember. Check our [community page](https://emberjs.com/community/) for StackOverflow, Discuss, and Slack links where you can ask your question.
Good luck!

[2017-11-14 10:56] #15852 closed

[2017-11-14 12:05] rwjblue commented on #15851
Thanks for reporting! We should definitely make this better.

I believe we should throw an error when any entries in the array are not strings...

[2017-11-14 12:13] sarupbanskota commented on #15851
I’ll take this up

[2017-11-14 17:22] rwjblue commented on #15840
I don't recall an open issue for this, maybe you can search and if not report as a new issue?

[2017-11-14 17:23] rwjblue commented on #15840
I don't understand the twiddle, every time I check the checkbox it is updating the length properties. How can I reproduce the issue you are reporting?

[2017-11-14 17:26] rwjblue commented on #15840
Updated twiddle that seems to not update when it should (haven't dug into the code of the repro to confirm it is or isn't valid) using canary builds: https://ember-twiddle.com/c212fc6f3364e67cb178b51bb7fa1537?openFiles=controllers.application.js%2C

[2017-11-14 17:28] dougestey commented on #14712
Can also confirm, IE11/Windows 10.

[2017-11-14 17:28] dougestey commented on #14712
Can also confirm, Windows 10/IE11.

[2017-11-14 19:10] bekzod commented on #15836
this is fixed in #15849

[2017-11-14 22:24] arthur5005 commented on #10120
Hmm this should be an exemplary use case of all of Ember's key features (using a very common pattern in resource searching), but unfortunately there's no way to prevent the query params from being reset by the refreshing route. :(

[2017-11-15 04:28] mikeu opened #15856 "setUnknownProperty is not used as documented when return value is undefined"
The "Unknown Properties" section of the [`set` documentation](https://emberjs.com/api/ember/2.15/classes/Ember.Object/methods?anchor=set) for 2.15 and at least a few earlier versions says:

A [similar section for 2.16](https://emberjs.com/api/ember/2.16/classes/@ember%2Fobject/methods/set?anchor=set) says of `set`:

However, when `set` invokes an object's `setUnknownProperty` method, nothing is do

[2017-11-15 06:31] karthiick commented on #15840
Might be related to #15843

[2017-11-15 19:42] ryanrishi commented on #12356
+1

[2017-11-16 09:53] boris-petrov opened #15859 "Wrong sourcemaps for ember-metal"
I though this was a problem only on my side but I saw https://github.com/emberjs/ember.js/issues/15840 and decided to open a new issue. For me this has been so for a number of releases and only for that file (`ember-metal.js`).

[2017-11-16 18:16] AbdullahDahmash opened #15860 "Adding custom css classes to #link-to component when it is not active"
Hi ember developers!

I would like to suggest a small improvement for `{{#link-to}}` component.

I think adding new attribute `nonActiveClass` will help ember developer to bind classes when `{{#link-to}}` is not active. It simple terms, it is the reverse of `activeClass`.

This will help developer writing custom css classes for nonActive `{{#link-to}}` and help avoiding writing `!important` and cu

[2017-11-16 19:59] cah-briangantzler opened #15861 "Computed Property not being correctly invalidated during tests."
I have a test for a computed property on a mixin. In the test we are setting a field value with obj.set that the computed property is based on and then testing that the computed property contains the correct value and then doing an assert on the computed property. We are doing a set, then assert, set then assert etc in the same test... This should work, the set should invalidate the computed prope

[2017-11-18 01:00] rwjblue opened #15863 "Ember.ApplicationInstance#factoryFor not available in API docs"
Just noticed that the factoryFor docs don’t show up in the API docs.

I looked in the following pages:

* https://www.emberjs.com/api/ember/2.16/classes/RegistryProxyMixin
* https://www.emberjs.com/api/ember/2.16/classes/ContainerProxyMixin
* https://www.emberjs.com/api/ember/2.16/classes/ApplicationInstance

[2017-11-19 03:10] scissorsneedfoodtoo commented on #15723
Hi there. I'd like to help out with this task, but I'm quite new to ember.js and contribution. Could you point me toward the documentation that needs to be updated and the new URL structure?

[2017-11-20 18:57] kbullaughey opened #15864 "promise chains and the bizarre consequence of registering a handler with Ember.onerror"
It seems that when upgrading from 2.13 to 2.16 the effect of registering a global error handler using `Ember.onerror` has changed how promise chains are handled.

I have been using a pattern of handling errors in long promise chains that involves having step-specific reject handlers. Each of these handlers would be responsible for handling any errors in the previous step. Additionally, these handl

[2017-11-21 05:13] kbullaughey commented on #15864
I was able to reproduce the 2.13 behavior by starting with what's currently in the ember.js master branch (a 2.17 beta) and downgrading backburner to 0.4.0. I haven't yet worked out what changed in backburner to cause this problem.

[2017-11-21 15:05] jtmckibb opened #15865 ""Wrapped" Ember Inputs do not fire "enter key up" events"
We've been using Ember inputs across our app, and a small bug we found has been leading us to avoid using `keyUp` events for our components including these inputs. Essentially, native inputs behave differently from Ember inputs when wrapped in a component. See below:

When you're using a native input and you press and release the return key you get the following events:
[code]
When using an Ember

[2017-11-21 15:16] amk221 commented on #15569
I built the test repo with `2.14.1` and `2.15.0-beta.1` and diff'd the output, but was unable to find anything obvious

[2017-11-22 05:24] bekzod commented on #15865
@jtmckibb you need to use `{{input bubbles=true}}` to allow `keyUp` event to propagate else it will be translated to `enter` and `insert-newline` events when `enter key` is clicked, not sure if it is correct behavior and if there is need for `bubbles=true` exist, it is better to clarify with @rwjblue

[2017-11-22 15:09] jlami commented on #15840
Sorry for the confusion about the twiddle. Didn't know that you could specify `canary` or `release`.

@karthiick I don't know if they are related. That one seems to be a regression from 2.15.3 but this bug seems to already exist there. 2.14.1 seems to have the correct behavior and 2.15.0 breaks it. I'll see if I can find any changes that stand out to me in 2.15.0.

[2017-11-22 15:51] pixelhandler opened #15866 "Ember.Logger missing from API Docs"
`Ember.Logger` is listed in the 2.0 API docs

* https://emberjs.com/api/ember/2.0/classes/Ember.Logger

However on 2.16 version of docs there is no Ember.Logger

* https://emberjs.com/api/ember/2.16/modules/@ember%2Fapplication

Also, seems to be missing from the RFC 276 list of new modules to globals reference

* https://github.com/ember-cli/ember-rfc176-data

[2017-11-22 16:41] jtmckibb commented on #15865
Should Ember inputs not mimic the behavior of native inputs? Also why is the default behavior for Ember inputs `bubbles=false` if the default behavior for other Ember components is `bubbles=true`?

[2017-11-22 19:09] samcic opened #15867 "Regression from 2.14.1 to 2.15.0 only on a certain browser"
I'd like to hesitantly report what could be understood as a regression from 2.14.1 to 2.15.0.

On the built-in browser of a Samsung TV (in our case, model UN32J4300AFXZX), basic handlebars rendering of a computed property was working correctly up to 2.14.1.

After upgrading to version 2.15.0, this rendering is failing. See the two screenshots below. Both pages are a bare-bones Ember app created fr

[2017-11-22 21:39] simonihmig commented on #15831
Can confirm this.

This as well: happens for inline as well as block form of `link-to`!

[2017-11-23 03:56] rwjblue commented on #15864
After reviewing all the wonderful research @kbullaughey did here (and in https://github.com/BackburnerJS/backburner.js/issues/274) along with a lengthy pairing session with @hjdivad, I believe that https://github.com/BackburnerJS/backburner.js/pull/277 fixes the issue and explains exactly what is happening.

[2017-11-23 15:08] artcommacode commented on #15640
I'm finally knowledgeable enough in Ember and our project to see what was going on here and it was indeed exactly the same as #15618. Thanks for your patience!

[2017-11-23 15:27] fpauser commented on #15640
Same issue here. Reproduction: https://github.com/fpauser/ember-mutable-cell-reproduction

[2017-11-24 00:11] hinti commented on #15866
Related: https://discuss.emberjs.com/t/ember-2-16-modules-api-how-to-import-ember-onerror/13717

[2017-11-26 12:54] lolmaus commented on #15479
OK, so I've completely rewritten my [ember-element-query](https://github.com/lolmaus/ember-element-query/) addon to ensure all updates are done efficiently.

With my current implementation, element query-driven components register in a tree-like structure. Only root EQ components react to a window resize event, then they tell their children to resize, and the resize event propagates recursively fr

[2017-11-27 01:07] toddjordan commented on #15866
Looks like Ember.Logger is something that went away between version 2.6 and version 2.7.  Researching to figure out what happened there.

[2017-11-27 01:18] toddjordan commented on #15866
Ok, in April 2016 Logger was refactored into the ember-console directory, which doesn't have an `@module` specified, and therefore did not get picked up by the documentation build process in 2.7 forward...  Working on a fix to reintroduce.

Going to work a fix that addis it back.

[2017-11-27 01:51] toddjordan commented on #15866
Ha.  nevermind.  Its not because it doesn't have `@module`, its because the `ember-console` path is not included in the config in `yuidoc.json`.

[2017-11-27 12:21] #15866 closed

[2017-11-27 14:38] svenpl opened #15870 "Giving an object as param for `link-to` helper doesn't work as expected"
Route params given via an object to the `link-to` helper won't appear in the `paramsFor(routeName)` of the route. This is also the case when calling `transitionTo` instead.

Example:
[code]

The transition in both cases works fine and the url is build from the params as expected but the `paramsFor` method works differently.

Here is also a [Twiddle](https://ember-twiddle.com/7e1a7f78c3b3a5158c12d7

[2017-11-27 23:13] BryanCrotaz opened #15872 "Big memory leak when destroying templates that contain iframe"
create and destroy components that include an iframe and we get an enormous memory leak each time.

Twiddle:
https://ember-twiddle.com/b1ce25d3c3fd4a1db41750ca37b316c3?openFiles=components.iframe-display.js%2Ctemplates.components.iframe-display.hbs

The content of the iframe isn't mopped up.

[2017-11-27 23:29] stefanpenner commented on #15872
Can you share more details? What specifically indicates the iframes are not getting cleaned up? How can I be sure I am able to reproduce what you are seeing.

Can you also provide a more reduced example, as ember-twiddle is a series of iframes. It may conflate this problem.

[2017-11-27 23:31] stefanpenner commented on #15872
Interesting in the example provided, I seem to not have an unbounded number of iframes in the heap inspector.

[2017-11-27 23:34] stefanpenner commented on #15872
Ya, in the given example the heap seems to maintain a stable size. I tested for 10 iterations and 100 iterations, both scenarios had the same number of frames and the same heap size.

If you are experiencing a leak and I am not, then likely some reproduction steps are missing?

[2017-11-27 23:48] BryanCrotaz commented on #15872
Look at the number of HTMLDocument nodes on the heap - it looks as though the entire framed DOM is leaked.

[2017-11-27 23:54] BryanCrotaz commented on #15872
These heap snapshots were taken in the twiddle with a forced garbage collect immediately before each one, a few minutes apart.

<img width="149" alt="screen shot 2017-11-27 at 23 53 14" src="https://user-images.githubusercontent.com/2016523/33295620-49ab610a-d3ce-11e7-805b-fcf70e907da0.png">

[2017-11-28 01:36] rwjblue commented on #15569
I believe this will be addressed by https://github.com/BackburnerJS/backburner.js/pull/277 but need to test the reproduction to confirm.

[2017-11-28 03:02] stefanpenner commented on #15872
@BryanCrotaz hmm ya I do see the number of `HTMLDocument` instances grow (next time it would be really great if you could provide this information in your issue, that would really make this issues actionable)

Interestingly though, I so far can't see anything ember related retaining them.

In each case it appears to be one of:

* `slow_template_instantiations_cache in system`
* `fast_template_inst

[2017-11-28 03:05] stefanpenner commented on #15872
Relevant V8 code: https://github.com/v8/v8/blob/da0af28545459800f99665bfe8cccfe80cb6f52e/src/api-natives.cc#L300-L344

[2017-11-28 03:14] stefanpenner commented on #15872
Also for context, I believe ember here is merely literally toggling `iframe.src = <some value>`

[2017-11-28 03:15] stefanpenner commented on #15872
Pinging our v8 friends, maybe they can sanity check my hypothesis ... if so, I'll open a crbug.

[2017-11-28 03:48] stefanpenner commented on #15872
potential minimal reproduction: http://static.iamstef.net/iframe-leak-1.html (running it now to see)

[2017-11-28 06:20] BryanCrotaz commented on #15872
Sorry for confusion. That’s what I meant by saying the content of the iframe wasn’t mopped up. I didn’t know what the root retainer was as it’s all a big island of references.

[2017-11-28 07:04] stefanpenner commented on #15872
No prob. It’s good to bubble these issues up, that way we can get them solved (regardless of where the root cause lies)

[2017-11-28 07:19] BryanCrotaz commented on #15872
I've looked at the V8 code and it's a bit beyond my knowledge of JS engines, but it looks as though they're caching the DOM by url? In which case in my example I'd expect to only ever see 4-6 cached copies, but I was seeing as high as 90.

[2017-11-28 13:14] hashseed commented on #15872
@BryanCrotaz where in the code do you see this?

[2017-11-28 13:24] BryanCrotaz commented on #15872
@hashseed - I'm guessing a lot - this is my first look at engine code - this is what Stefan suggested
https://github.com/v8/v8/blob/da0af28545459800f99665bfe8cccfe80cb6f52e/src/api-natives.cc#L300-L344

[2017-11-28 13:55] hashseed commented on #15872
I see. We indeed cache instantiating objects from object templates. What's not entirely clear to me is that how that's related to components. Just by guessing, this may actually cause a leak, if we cache JSObjects, since those have references to the context.

@verwaest should have more insights here though.

[2017-11-28 14:11] BryanCrotaz commented on #15872
@hashseed @verwaest I don't think it's the component that's at fault - it's disposing of the iFrame correctly, but the framed document and its resources are staying in the cache by the sound of it, causing a mem leak (or an overly long caching strategy causing problems on constrained devices)

[2017-11-28 17:54] rwjblue commented on #15569
OK, I have finally run this issue to ground. It's a doozy...

The underlying principle in tests is that rejected promises which are not handled within the same run loop trigger the unhandled rejection handler (which by default calls `assert.ok(false, ....)` and fails the current test).  Generally speaking, this is very desireable ergonomics wise.

Given [this test](https://github.com/amk221/-ember

[2017-11-28 17:56] rwjblue commented on #15569
I believe the new behavior is more correct (though I agree with @amk221 that the change in behavior was surprising), so I am going to close this... (happy to reopen if I've made a mistake above though)

[2017-11-28 17:56] #15569 closed

[2017-11-28 22:01] rwjblue commented on #15013
This was fixed by https://github.com/emberjs/ember.js/pull/15871, which essentially reverts https://github.com/emberjs/ember.js/pull/14898 and adds a **bunch** of tests.

[2017-11-28 22:01] #15013 closed

[2017-11-28 22:47] verwaest commented on #15872
The actual root you're looking at is the thing marked as (Document DOM
trees) which basically means Blink's Oilpan thinks those DOM trees are
still rooted. Typically once a single (non-primitive) object from a native
context leaks, the context itself (including instantiations caches) will
stay alive.

The particular path you're seeing is because HTMLDocument has an
ObjectTemplate that's marked as

[2017-11-29 15:38] rwjblue opened #15876 "Ember 3.0 Related Cleanup"
- [x] Remove `phantomjs` usage from CI (tracking in https://github.com/emberjs/ember.js/pull/15877)
- [x] Remove IE9 and IE10 from CI runs. (tracking in https://github.com/emberjs/ember.js/pull/15879)
- [x] Leverage native WeakMaps :lock: @sivakumar-kailasam https://github.com/emberjs/ember.js/pull/15878
  - Remove `packages/ember-utils/lib/weak-map-utils.js`
  - Remove non-WeakMap fallback in `pa

[2017-11-29 17:27] sivakumar-kailasam commented on #15876
@rwjblue Should `Ember.WeakMap` be removed too?

[2017-11-29 17:28] rwjblue commented on #15876
I believe it is on the list above, under `Remove 'packages/ember-metal/lib/weak_map.js'`

[2017-11-29 18:02] lindyhopchris commented on #15569
@rwjblue thanks for the detailed explanation, I like the look of option 1 so will give that a go. I'm more than happy that this is closed as I'm all in favour of being shown a neater way of testing the scenario! Thanks for your help.

[2017-11-29 18:10] thoov commented on #15876
If they haven't been taken I can start off with working on the `Leverage native WeakMaps` and all of the sub tasks for this

[2017-11-29 18:11] rwjblue commented on #15876
@thoov - Some are being tackled by @sivakumar-kailasam in https://github.com/emberjs/ember.js/pull/15878, can you take a look at that PR to help review (and determine what I've missed...)?

[2017-11-29 18:16] thoov commented on #15876
@rwjblue Will help with the review of that. I will change up my tactic and take the bottom 4 off of the list then.

[2017-11-29 18:23] rwjblue commented on #15876
@thoov  - Sounds good!  I have updated the items and marked the whole `Deprecations` subsection as :lock:ed, because we will need to create the legacy support addon and ENV flag infrastructure (so any one else working on deprecations will be blocked anyways).

[2017-11-29 18:34] t-sauer commented on #15876
I'd like to work on '`phantomjs` support / hacks' if that is still up for grabs

[2017-11-29 18:42] sivakumar-kailasam commented on #15876
@t-sauer I'm ready to raise a PR for that 😅

[2017-11-29 18:45] t-sauer commented on #15876
Well then I'll pick "Remove `console` polyfills / shims in `packages/ember-console/lib/index.js`" 🤞

[2017-11-29 18:49] maxwerr commented on #15876
Ill take a stab at `Remove custom Map from packages/ember-metal/lib/map.js`

[2017-11-29 20:12] locks commented on #15876
Taking `Ember.String.fmt`: https://github.com/emberjs/ember.js/pull/15882.

[2017-11-29 20:15] locks commented on #15876
Taking `this.resource` on RouterDSL: https://github.com/emberjs/ember.js/pull/15883.

[2017-11-29 20:20] locks commented on #15876
Taking `link-to`'s `currentWhen`: https://github.com/emberjs/ember.js/pull/15884.

[2017-11-29 20:25] locks commented on #15876
Taking "Arity check for initializers": https://github.com/emberjs/ember.js/pull/15886.

[2017-11-29 20:26] rwjblue commented on #15876
@locks one thing to keep in mind, is that we can't remove the functionality completely just yet.  We have to either add it to https://github.com/emberjs/ember-2-legacy or wrap it in a conditional flag.

This is due to our stated goal from the 3.0 blog post:

[2017-11-29 20:28] locks commented on #15876
@rwjblue roger that 👍 I will review per-feature what the best approach might be. I'm partial to moving the implementation to the legacy addon if possible, if nothing else it seems neater.

[2017-11-29 20:30] rwjblue commented on #15876
Absolutely agreed!  We just need to ensure we have a path forward.  Things like `fooBinding` support will almost certainly have to be wrapped in conditionals here. But things like `Ember.String.fmt` and `link-to` `currentWhen` can totally be done in the addon itself directly.

[2017-11-29 23:04] cibernox commented on #15876
https://github.com/emberjs/ember.js/pull/15889

[2017-11-29 23:26] Serabe commented on #15867
Which browser is being run? Version? Can you reproduce it in 2.16 or 2.17?

Not sure how to proceed in this case, given it will be hard to find the root cause

[2017-11-29 23:38] #15864 closed

[2017-11-30 07:42] bekzod commented on #15876
Taking `Ember.Freezable`

[2017-11-30 08:28] bekzod commented on #15876
Taking `Ember.REQUIRED`

[2017-11-30 09:05] bekzod commented on #15876
Taking `Ember.observer(callback, 'dependent-key1', 'dependent-key2')` #15893

[2017-11-30 09:13] bekzod commented on #15876
Taking `immediateObserver` #15894

[2017-11-30 09:17] Serabe commented on #15865
[Modifying a bit your twiddle](https://ember-twiddle.com/11d64e224f9d82b5378644e0d9c23f3a?openFiles=templates.application.hbs%2C) to see the logs directly in screen, they all behave the same

[2017-11-30 09:21] Serabe commented on #15860
Hello, @AbdullahDahmash:

Feature requests need to go through the RFC process, as explained in our [CONTRIBUTING guide](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#requesting-a-feature).

Thank you!

[2017-11-30 09:21] #15860 closed

[2017-11-30 09:23] Serabe commented on #15843
Fixed in #15855

[2017-11-30 09:23] #15843 closed

[2017-11-30 09:26] Serabe commented on #15840
Playing with the twiddle, showing the correct behaviour "fixes" the issue.

[2017-11-30 09:28] Serabe commented on #15861
Can you provide a reproduction, please?

[2017-11-30 09:30] Serabe commented on #15851
@sarupbanskota are you still interested on this?

[2017-11-30 10:45] ilucin commented on #15836
Confirming it's fixed in 2.17

[2017-11-30 10:45] #15836 closed

[2017-11-30 11:50] samcic commented on #15867
Thanks for the response Serabe. To answer your questions:

* Yes, the issue exists in 2.16 and also 2.17 (i.e. exists since 2.15).

* The browser is the proprietary "inbuilt" browser of that Samsung model. Version number unknown (there's no such information in the "help" or "about" menus). The browser is described to some extent in the [user manual](http://support-us.samsung.com/nas/storage/201306

[2017-11-30 13:54] jlami commented on #15840
Yes, maybe the correct behaviour is due to a global 'rerender' that is not triggered with the bugged version. But I don't know how the glimmer rerender logic works.

[2017-12-01 00:16] jtmckibb commented on #15865
Oops there was a typo in the Twiddle (I mislabelled the inputs). If you hit Enter on the last input (the `wrapped-ember-input`), you'll notice that `keyUp` doesn't fire: [Keyboard Event Twiddle](https://ember-twiddle.com/c881580c7de8fbaf7c1d7697ab6b30a0?openFiles=templates.application.hbs%2Ctemplates.components.input-wrapper.hbs)

[2017-12-01 00:50] #15831 closed

[2017-12-01 01:15] thoov commented on #15876
@rwjblue Lock me up on:

`Ember.Component#defaultLayout`
`_actions`
`render`
`Legacy controller proxying behaviors`
`didInit`

[2017-12-01 01:18] maxwerr commented on #13815
Hopefully this is like Halfway to 🎯

[2017-12-01 01:41] chriskrycho opened #15904 "Confusing message when using wrong `inject`"
After upgrading to the new modules syntax, I had to revert one small section of my app (complicated story; mostly irrelevant), and in one module I missed converting `inject()` back to `inject.service()`. The error message reported is… extremely confusing:

I managed to figure it out based on the fact that I knew I'd messed with rewriting injections in those particular modules, but I can imagine th

[2017-12-01 01:43] chriskrycho commented on #15904
The implementation is [here](https://github.com/emberjs/ember.js/blob/299c1ab3d804fd92b0ec9b9c2e7a1fa100335753/packages/ember-runtime/lib/inject.js#L13). Should be a simple fix. I'll push a PR for it either tonight or tomorrow.

[2017-12-01 14:02] rwjblue commented on #15876
@thoov - Done (but `defaultLayout` was already taken by @romulomachado in #15896)

[2017-12-01 14:14] rwjblue commented on #15876
I believe I have everything triaged, please ping me (probably in #dev-ember in slack) if I've missed something...

[2017-12-01 14:29] bekzod commented on #15876
Taking `Transforming {{input on="enter" action="foo"}} to {{input enter="foo"}}`

[2017-12-01 15:29] cibernox commented on #15876
Is there anything not claimed? It seems that `fooBinding` is free

[2017-12-01 15:36] cibernox commented on #15876
I take `{Application,Engine,ApplicationInstance}.registry`

[2017-12-01 15:41] gowthamrm commented on #15876
Taking `Providing resolver as a function to the registry`

[2017-12-01 19:31] Serabe commented on #15865
If only happens with letter Enter that's because keyUp for Enter is mapped to `enter` + `insert-newline`.

Closing this as is not a bug. Thank you!

[2017-12-01 19:31] #15865 closed

[2017-12-01 19:34] Serabe commented on #15837
Did it ever work as your desired behaviour? If so, we could argue it is a regression but otherwise it would require an RFC.

[2017-12-01 19:36] Serabe commented on #15841
Thank you!

[2017-12-01 19:37] Serabe commented on #15794
@atomkirk ping

[2017-12-01 20:01] jtmckibb commented on #15865
But should it not behave the same as a native input? This has caused some unintended behavior for us while developing, and seems like an anti-pattern.

[2017-12-01 20:05] Serabe commented on #15865
No necessarily, specially after 2.3, where using plain `<input>` is supported.

[2017-12-01 20:10] jtmckibb commented on #15865
Also, should the newline not be inserted on input/keyDown vs on keyUp? Why is it mapped to keyUp? I don't think that is the problem. I think the problem is here: https://github.com/emberjs/ember.js/blob/master/packages/ember-views/lib/mixins/text_support.js#L174

The default is not to propagate keyUp events for the return key, but that misaligns with how Ember components work everywhere else where

[2017-12-01 20:16] Serabe commented on #15865
That property has been false since Ember 1.0.

[2017-12-01 20:18] jtmckibb commented on #15865
Ah got it. Okay thanks so much for looking into this!

[2017-12-01 20:23] atomkirk commented on #15794
I started my project with ember-cli, so I'm including everything via npm and I run ember init on each upgrade to make sure my package.json file looks like it would with a new project

[2017-12-02 04:04] #15904 closed

[2017-12-02 09:33] lorcan commented on #15876
I can try to take `Orphaned outlets here, here, and here`

[2017-12-03 21:56] alexander-alvarez commented on #15876
@rwjblue we need to update the testing blueprints... not sure if this is explicitly 3.0 related

[2017-12-03 22:10] devinrhode2 commented on #10821
I ran into this, I assume it is still an issue. My final observer looks like:
[code]
(need to redraw highcharts chart after sidebar is hidden/shown)

[2017-12-03 22:28] rwjblue commented on #15876
@alexander-alvarez - You are absolutely right!  I will try to get another quest issue together for the blueprints in the next day or so...

[2017-12-04 05:52] vothaison commented on #15671
On my environment, ember.prod.js works, only ember.debug.js produces the error. The version is 2.16.2 btw.

[2017-12-04 12:31] evoactivity opened #15920 "Computed filter not recomputing"
Upgraded my app to 2.16.2 and noticed some of my filtered arrays were no longer filtering when I changed properties of the items in the array.

I have these setup and the computed reruns when I change prop1, but the filter only runs on render.

[code]

I've created a repository that shows the bug in action https://github.com/evoactivity/ember-broken-filters, here is a twiddle showing the same setu

[2017-12-04 18:24] Gaurav0 opened #15921 "Document queryParamsDidChange (Regression Ember 2.15)"
This is a regression of https://github.com/emberjs/ember.js/issues/10877 which was fixed by https://github.com/emberjs/ember.js/pull/13398 but has reappeared since Ember 2.15

It looks like `queryParamsDidChange` no longer appears in the api site due the docs being moved in the source.

[2017-12-05 15:52] karthiick commented on #15920
@evoactivity I think, this regression is fixed in https://github.com/emberjs/ember.js/pull/15855

Changes are available in the latest release [v2.17.0](https://github.com/emberjs/ember.js/releases/tag/v2.17.0)

[2017-12-06 19:17] alexander-alvarez opened #15933 "QUnit Blueprints Quest Issue"
__Background__
We need to implement changes in blueprints and docs realted to [RFC 232] and [RFC 268].
(Some background for those unfamiliar http://rwjblue.com/2017/10/23/ember-qunit-simplication/)

As of `ember-cli-qunit@^4.1.1` (which is in the default blueprint as of `ember-cli@2.17`), we can implement the "Simplified QUnit" style tests in all tests except for acceptance tests.
In a future rele

[2017-12-06 19:18] rwjblue commented on #15933
Awesome, thanks for organizing this @alexander-alvarez!

[2017-12-06 19:26] Turbo87 commented on #15933
@alexander-alvarez should we use `qunit` for the new API blueprints and something else instead of `qunit` for the old blueprints? this would seem more intuitive to me 🤔

[2017-12-06 19:27] Turbo87 commented on #15933
also I'm wondering if we should do the implementation in https://github.com/alexander-alvarez/ember-qunit-nested-module-blueprints-polyfill first and once those are solid we can import them here

[2017-12-06 19:34] rwjblue commented on #15933
@Turbo87 - I'd prefer to land the "real" implementations first (so that the polyfill truly is a polyfill). If that turns out to be costly (or I'm too much of a blocker in landing PR's) we can swap to targeting the polyfill addon first...

[2017-12-06 21:29] rwjblue commented on #15933
OK, first implementation is done and landed (along with the test framework detector changes required to support the path forward).  The game is afoot!

[2017-12-07 03:29] snewcomer commented on #15933
Doing the `helper-test` right now.

[2017-12-07 10:44] Exelord opened #15939 "Set-Only Computed property - behaviour mismatch"
# Description
Hey, I noticed that in the case when we are creating `set-only` property and we want to access unexistent `get` we are getting an error `Cannot read property 'call' of undefined`. This is reasonable but how the user can know that is a set-only property instead of just assume that there is a bug. In case of `readOnly` we are notifying the user when he tries to access a setter that thi

[2017-12-07 11:36] #15851 closed

[2017-12-07 16:59] rwwagner90 commented on #15933
@rwjblue I'm always happy to work on blueprints. Want to assign a couple my way?

[2017-12-07 17:00] Turbo87 commented on #15933
@rwwagner90 choose one and announce it here, so that others are not doing the same work too :)

[2017-12-07 17:08] rwwagner90 commented on #15933
@Turbo87 I'm not picky, but I'll randomly choose `route-test`

[2017-12-07 19:58] rwjblue commented on #15933
Updated description:

* :lock: `route-test` for @rwwagner90
* ✅ `helper-test`
* ✅ `component-test`

[2017-12-07 20:55] snewcomer commented on #15933
Tackling controller && initializer && instance-initializer tests in separate PR's!

[2017-12-07 23:05] christophermlne commented on #15933
If there's anything left I could take one.

[2017-12-07 23:10] alexander-alvarez commented on #15933
@christophermlne mixin, service, and util are still up for grabs

[2017-12-08 02:01] snewcomer commented on #15933
Taking the utils.  @christophermlne lmk if you want to tackle that one or want to take on either service or mixin!

[2017-12-08 08:23] boyanyordanov commented on #15933
I will try to do mixin and if I manage I will look into service as well.
I haven't contributed to ember yet so I don't know if I'll be in over my head.

[2017-12-08 08:59] Turbo87 commented on #15933
@boyanyordanov don't worry, we're here to help you if you have questions :)

[2017-12-08 11:46] boyanyordanov commented on #15933
I'll go ahead and add a PR for service-test too.

[2017-12-08 13:07] christophermlne commented on #15933
Looks like a lot happened while I was sleeping ;-) Let me know if there is still anything left to do.

[2017-12-08 18:51] jessica-jordan commented on #15933
I'd like to update the testing section in the guides for these changes

[2017-12-08 19:41] alexander-alvarez commented on #15933
Thanks @jessica-jordan  :smile:, it's all yours

[2017-12-09 01:31] yakmada opened #15960 "send('error') from controller blows up on route handler"
hi,

i'm having an issue sending an error from my controller.

there is a twiddle here:
https://ember-twiddle.com/2fa6ab16ff1697ed652939df7261e347?openFiles=controllers.bar.baz.js%2C

application route calls `transitionTo('bar.baz')`
baz controller calls `this.send('error', new Error('controller error'));`
baz route action error handler blows up with `TypeError: Cannot read property 'state' of und

[2017-12-10 12:19] rwjblue commented on #15933
@alexander-alvarez - All of the blueprints other than acceptance are done. You are probably good to go on extracting to the polyfill addon...

[2017-12-11 02:52] alexander-alvarez commented on #15933
I'll get around to it ASAP

[2017-12-11 15:15] Dhaulagiri opened #15966 "Ember 2.18 regression - TargetObject refactor breaks action propagation with target property defined"
Came across an odd situation trying out 2.18.0-beta.2 in our app where the action we fire to close modals no longer work.  I traced it to, I think, [this change](https://github.com/emberjs/ember.js/commit/24a32b14d25c2d2b6dcf845fc22bc450f4e14ae1) to how `getTarget` finds the target of an action.  It seems that if the object that invokes the action has a `target` property defined on it for whatever

[2017-12-11 15:16] locks commented on #15851
![](https://github.trello.services/images/mini-trello-icon.png) [Sarup Banskota](https://trello.com/c/IHNuZLNK/5-sarup-banskota)

[2017-12-11 16:50] rwjblue commented on #15966
Thanks for reporting. I’m traveling today and likely won’t habe a ton of time to dig in, but it does sound like a regression to me. Thanks for testing beta and reporting before the regression is released!

[2017-12-12 00:03] Serabe commented on #15624
I've rebased everything except https://github.com/locks/ember-string-prototype-extensions/pull/1 and https://github.com/emberjs/website/pull/2995.

[2017-12-12 03:11] divmgl commented on #14875
Ember 2.16.2 still has this issue

[2017-12-12 11:35] alexander-alvarez commented on #15933
I have 8 branches to push up in the polyfill repo once I get online again :D

[2017-12-12 13:09] monovertex opened #15969 "Two-way bindings using the hash helper exhibit unexpected behavior"
In our app, we've been using objects built with the `hash` helper, and relying on double bindings on the properties inside these objects (mutating a property inside the receiving component).

This worked as we expected, but I'm not sure if it's a designed behavior.

We recently needed to build a nested object using the `hash` helper. We discovered that if we have an object build like this `(hash f

[2017-12-12 23:41] kyleshay commented on #15618
FYI - there is a new template linter rule against this issue:
https://github.com/rwjblue/ember-template-lint/blob/master/docs/rule/no-duplicate-attributes.md

[2017-12-13 06:47] moveniumville opened #15973 "link-to helper will run linked route controller init hook when rendered"
When you put link-to helper in your code, it will run linked routes init-hook in controller when rendering helper.

`{{#link-to "page"}}Link to other route{{/link-to}} ` will run init-hook in "page"-routes controller

I have provided a simple example project where you can see the error
https://github.com/moveniumville/ember_link-to_init

Not working in 2.16 and 2.17 at least

[2017-12-13 15:14] paddor opened #15975 "`ember serve`: Livereload port finding and binding is not atomic"
Starting two `ember serve` processes (e.g. to test a high availability setup) using a Procfile and Hivemind/Overmind (they're like Foreman), one of them usually fails like this:

[code]

Relevant lines from the Procfile:
[code]

Running one of them with a prepended `sleep 10;` often helps, but not always. Maybe you could make that section atomic where Ember tries to find an available port and bind

[2017-12-13 15:41] alexander-alvarez commented on #15933
@rwjblue  @Turbo87 https://github.com/alexander-alvarez/ember-qunit-nested-module-blueprints-polyfill/pulls ready for y'all

[2017-12-13 22:42] kategengler opened #15977 "Descendants of "Template-only components" has wrong `_targetObject`"
As discussed here: https://github.com/emberjs/rfcs/pull/278#discussion_r156799344

For convenience sake, here is a [demo app](https://github.com/kategengler/template-only-components-inspector-test) using Ember canary and a tree of:
[code]

Partials are not visible in the tree in the Ember Inspector but components beneath them are visible. Template-only components are not visible in the Ember Inspe

[2017-12-14 01:03] chancancode commented on #15977
I found the bug. The problem is that the (curly) component tries to [point its `_targetObject` to the outer scope's `{{this}}`](https://github.com/emberjs/ember.js/blob/master/packages/ember-glimmer/lib/component-managers/curly.ts#L211), which is `null` in the case of a template-only component.

@rwjblue @krisselden what should be the right semantics here?

[2017-12-14 02:09] rwjblue commented on #15977
I mentioned this in slack, but just wanted to clarify here also.  I do not believe this is a bug in the feature. Having a `_targetObject` of `null` is exactly the semantics that I would expect.  If this breaks functionality in the inspector, we should absolutely provide a better mechanism than `_targetObject`...

[2017-12-14 03:37] btecu commented on #15975
Probably belongs in https://github.com/ember-cli/ember-cli

[2017-12-14 07:28] mehrajpasha commented on #13662
what is the database issue..I'm getting the same error...my adapter file `
import DS from 'ember-data';
import PouchDB from 'pouchdb';
import config from '../config/environment';
import { JSONAPIAdapter } from 'ember-pouch';
var remote = new PouchDB('http://localhost:5984/node');
var db = new PouchDB('node');
const { assert, isEmpty } = Ember;
/*var get = Ember.get, set = Ember.set;*/
db.sync(remo

[2017-12-14 07:30] mehrajpasha commented on #13662
what is the database issue..I'm getting the same error...my adapter file
![screenshot 250](https://user-images.githubusercontent.com/20518128/33980384-ae8b6770-e0ce-11e7-8c6a-f06dd079e1d7.png)

[2017-12-14 13:16] christophermlne commented on #15847
I think the real issue (as shown in the Twiddle) is that `this.notifyPropertyChange` doesn't update observers in children. From my reading on similar issues that have been filed, that appears to be a design decision. That feels wrong though. I would have expected `this.notifyPropertyChange` to update all observers.

It also seems odd that there is no way to delete keys from an ember object that wi

[2017-12-14 21:34] rwwagner90 commented on #15670
We're on ember-cli-babel 6.9.x and just hit this issue using `import { registerWaiter } from '@ember/test';`.

Any ideas?

[2017-12-14 22:32] Dhaulagiri commented on #15966
I'm able to work around this for now by setting `target: ''` (entire test suite is green then too!), but let me know if I can assist tracking this down more concretely.

[2017-12-15 01:36] thoov opened #15988 "Unify internal testing styles"
Currently there are two different styles that tests are written. [An older style](https://github.com/emberjs/ember.js/blob/master/packages/ember-metal/tests/alias_test.js) which uses a QUnit global to define the module and tests via `QUnit.module()` and `QUnit.test()`. The old style also uses globals for the assertion such as `ok`, `equal`, etc. [A newer style](https://github.com/emberjs/ember.js/

[2017-12-15 01:43] rwjblue commented on #15988
Thanks for putting this together @thoov!

[2017-12-15 01:44] locks commented on #15988
I have taken `ember-application`, `ember-debug`, and `ember-utils`.

[2017-12-15 05:01] betocantu93 commented on #12945
I ran into this, 2.16.2

Within a nested route, within an in-repo-engine, using `this.replaceWith('/not-found');` is not possible because of engines and without it, the same TypeError from this issue "Cannot read property 'name'..."

[2017-12-15 07:06] Allariel commented on #15098
Hi guys. Do you have any fix for this bug?

[2017-12-15 18:50] t-sauer commented on #15988
I will take a stab at container.

[2017-12-15 20:17] rwjblue commented on #15670
Sorry for the delays here. I believe this is resolved in the latest version of `ember-cli-babel@6.11.0`.

Thanks to @Serabe for fixing the underlying issue (in https://github.com/ember-cli/babel-plugin-ember-modules-api-polyfill/pull/29).

[2017-12-15 20:18] rwjblue commented on #15670
Closing this for now, but I'm happy to reopen if I am mistaken about the fix...

[2017-12-15 20:18] #15670 closed

[2017-12-16 19:29] rwjblue commented on #15933
Looks good, I think all if the polyfill addon PRs are merged at this point.

Now only think left is the acceptance-test blueprint which we can do once https://github.com/emberjs/ember-qunit/pull/302 is reviewed and released.

[2017-12-16 22:36] rwjblue commented on #15975
Agreed, @paddor would you mind moving the issue over to ember-cli's repo?

[2017-12-16 22:36] #15975 closed

[2017-12-17 17:12] rwjblue commented on #15933
https://github.com/emberjs/ember.js/issues/15999 implements the acceptance-test blueprint.

It also bumps the minimum version of ember-cli-qunit to 4.2.0.

[2017-12-18 08:30] paddor commented on #15975
Sure, just did. Thanks anyway!

[2017-12-18 11:42] janaknaik opened #16004 "JQuery and EmberJs compatibility"
Latest release version 2.17.0 of Embe.js is compatible with which versions of JQuery.js ?

[2017-12-18 15:00] tomasgd opened #16005 "Problem with ArrayMixins, "includes" method"
Hi. I'm having a trouble. In my dist files, inside vendor.js is declared the ArrayMixins with his methods, but the property **includes** didn't do because is inside an if(false) clause. This bring me problems with the prerender and don't from my browser. I think thats because PhantomJS in prerender doesn't interpret ES6 and gives me:

The vendor file's line that should declare the method is:
[code

[2017-12-18 17:07] alexander-alvarez commented on #15933
Released in https://github.com/alexander-alvarez/ember-qunit-nested-module-blueprints-polyfill/releases/tag/1.1.0

[2017-12-18 17:17] rwjblue commented on #15933
@locks / @jessica-jordan - Do y'all want to track the guides work here, or would it be better to make a guides specific issue for the remaining work item?

[2017-12-18 18:55] davelindquist-egistix opened #16006 "Ember.testing not set during imports"
## Summary

The `Ember.testing` flag (indicating we are in test mode) is not set to `true` when doing the imports from a test.  It is set to `true` ONLY when actually inside the test methods.

## Example

See the Ember Twiddle at https://ember-twiddle.com/71a3a8975a8dd60060edc1d359ac083e

This (above) Ember Twiddle SUCCEEDS, because Ember Twiddle supports only Ember 2.12.

If, however, you take th

[2017-12-18 19:48] rwjblue commented on #16006
This is a wonderful summary of exactly how the system is supposed to work.

This is completely unrelated to Ember version. The change in behavior came from an update in ember-test-helpers (specifically https://github.com/emberjs/ember-test-helpers/pull/227).

`Ember.testing` is not intended to be a way to determine the current build environment, it has a very specific purpose. That is to answer th

[2017-12-18 20:02] davelindquist-egistix commented on #16006
Hmm, I'm not sure I agree (or perhaps I don't completely understand)

That is exactly what I'm trying to determine -- I'm not trying to determine the current build environment, but rather trying to adjust behaviour based on whether I am actively running in a test.

Unfortunately, what we are trying to do cannot be done this way -- having (for example) a "test" environment that changes this type of

[2017-12-18 20:29] juventinoromero commented on #15723
Hi! Is this issue taken? I can help!

[2017-12-18 21:12] rwjblue commented on #16006
This doesn't seem to be in line with your example at all. Module imports are evaluated quite a bit earlier than when the tests themselves are actually running.  You can confirm this a few ways but maybe the easiest way is by throwing a debugger in the module at the same location and looking at the QUnit runner.

Hmm, I think we are talking a bit past each other here. I'm not suggesting folks close

[2017-12-18 21:30] davelindquist-egistix commented on #16006
Ah, so you are saying that `ember serve` itself does not set up the 'environment', but the 'environment' is determined by what I'm doing?

So when I browse to http://localhost/ I get the "development" environment, and when I browse to http://localhost/tests/ I get the "test" environment?  That would make sense, and would allow me to control things the way I want.  (Obviously I was misunderstanding

[2017-12-18 21:30] #16006 closed

[2017-12-18 21:41] jessica-jordan commented on #15933
@rwjblue Personally, I'm happy to track it here, but I'm good with either solution

[2017-12-18 21:43] rwjblue commented on #16006
The behavior change you are witnessing is completely unrelated to Ember version. It is based on the version of ember-qunit (and therefore `@ember/test-helpers`) that is being used.  Twiddle is using the same version of ember-qunit across the board, so it is very unlikely to show the issue you saw.

FWIW, this was actually what fixed the issue I have linked to a few times now. The _exact_ issue was

[2017-12-19 01:53] toddjordan commented on #15723
@scissorsneedfoodtoo @juventinoromero Thanks for your willingness to help!  What needs to happen is any link referring to a legacy API url, (such as `emberjs.com/api/ember/Ember.Application.html`) needs to be replaced with its new equivalent (`https://emberjs.com/api/ember/release/classes/Application`).

Unfortunately, referring to links with `release` vs a specific version `2.17` has regressed, a

[2017-12-19 13:59] btecu commented on #16004
At least with `2.x` and `3.x`.

[2017-12-19 16:07] locks commented on #16004
I hope @btecu's reply satisfied your query :) Feel free to reopen if there's something more specific you would like to ask.

[2017-12-19 16:07] #16004 closed

[2017-12-19 18:16] juventinoromero commented on #15723
Ok. Thanks! I'll check that issue.

[2017-12-20 17:29] BrettHoutz commented on #15750
It looks like all the documentation for computed property macros (e.g. `Ember.computed.alias`) was removed for version 2.16+. The `computed` method documentation at https://emberjs.com/api/ember/2.16/classes/@ember%2Fobject/methods/computed?anchor=computed doesn't have any of that. Was it moved somewhere else?

[2017-12-20 23:23] locks commented on #15750
@BrettHoutz `computed` is no longer functioning as both a function and a namespace. You can find the entire list at https://emberjs.com/api/ember/2.16/modules/@ember%2Fobject.

[2017-12-21 10:11] BlueRaja opened #16013 "application-loading does not work from an addon"
I wanted to create an addon which adds a shared loading screen to our apps, but no matter what I do I cannot get it to work.  We are using `pods` in both the app and the addon, if that matters.

I thought the addon's `app` folder is merged with the app's `app` folder, so putting `application-loading/template.hbs` there should work, but it doesn't.  Copying+pasting the exact same `application-loadi

[2017-12-21 13:33] mikerhyssmith commented on #15988
Happy to take a stab at runtime!

[2017-12-21 20:12] nathanhammond opened #16014 "concatenatedProperties mishandles {} and false"
In a naive attempt to turn off `concatenatedProperties` I discovered this:

[code]

[2017-12-22 12:10] bekzod commented on #16014
I think it should be disabled when `concatenatedProperties: null`,  can confirm such behavior exist for `mergedProperties` too, I can fix if we define right behavior first here :)

[2017-12-22 14:07] cibernox commented on #15988
I can take `ember-testing`

[2017-12-22 15:32] locks commented on #15988
Took part of `ember`: https://github.com/emberjs/ember.js/pull/16019.

[2017-12-22 16:20] Serabe commented on #16013
Not exactly. Not the whole tree is merged. I think the best approach would be to expose the loading page as a component and use it in your app.

[2017-12-22 16:20] #16013 closed

[2017-12-22 16:25] Serabe commented on #16005
Can you please provide a reproduction with a supported version of Ember?

Thank you!

[2017-12-22 16:34] Serabe commented on #15969
`hash` is not supposed to keep double data binding.

Thank you!

[2017-12-22 16:34] #15969 closed

[2017-12-22 16:40] Serabe commented on #15960
The error substate and actions are reserved for error during the transition, so I would not considered this a bug.

You can create your own route where the user can be redirected if there is a problem.

Thank you!

[2017-12-22 16:40] #15960 closed

[2017-12-22 16:48] Serabe commented on #15920
@evoactivity can you please check that it is fixed in 2.17? If so, we can try to backport it to 2.16.

[2017-12-22 16:50] Serabe commented on #15872
@stefanpenner shall we close this issue or is there any actionable to do?

[2017-12-22 16:58] Serabe commented on #15837
@minhnq013 ping.

[2017-12-22 16:58] evoactivity commented on #15920
@Serabe I'll update my test app tomorrow to have a look

[2017-12-22 18:34] jvenezia opened #16020 "Handle sorting null values using computed.sort"
Not sure if it's already possible to do that with the actual implementation, but it would be handy to choose how to sort "nulls".
Similar to SQL's `order by ... nulls last`

Something like this:

[code]

Right now `asc` put them at the beginning, and `desc` at the end.

[2017-12-22 19:07] thec0keman opened #16021 "Boolean Attribute parsing"
Recently we merged a [PR](https://github.com/machty/emblem.js/pull/302) in Emblem that restored automatic quoting of non-event HTML attributes:
[code]

(This functionality was for non-Ember apps using Emblem).

However, this breaks with Ember's coercion of boolean attributes:
[code]

The issue is that Ember (or Glimmer) will treat the string `"false"` as a truthy value.  On the one hand this makes

[2017-12-22 19:12] Serabe commented on #16020
This is a feature request and, as such, requires to go through [the RFC process](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#requesting-a-feature).

Thank you!

[2017-12-22 19:12] #16020 closed

[2017-12-22 19:24] jvenezia commented on #16020
Okay, thanks!

[2017-12-25 21:23] jamesdixon commented on #10875
Ran into this exact need today. As @ccarterc said, this is crucial for 3rd party libs that are expecting POJOs. It would be great to have an "official" method to do this.

[2017-12-26 07:20] mehrajpasha opened #16031 "Trying ember quiz app"
I'm trying a quiz application using ember and pouch. For the starters, I'm just checking the answer given by user to the answer I saved in the db for only one question..I don't know how to interact my controller to db..I looked mango queries and wrote a query to fetch the record..Getting error that pouchdb-find can't be imported..Anyone help please ? submit(choice) is the method from hbs and contr

[2017-12-26 11:34] scissorsneedfoodtoo commented on #15723
@toddjordan, sorry for the late response.

@juventinoromero, why don't you go for it! I've gotten wrapped up in some other projects. Good luck with everything!

[2017-12-26 14:27] locks commented on #16031
Hi @mehrajpasha, thank you for trying out Ember, but we reserve the issue tracker for reporting ember.js bugs. Can you ask the question in [Slack](https://ember-community-slackin.herokuapp.com/) or [Stack Overflow](https://stackoverflow.com/tags/ember.js)?
Good luck :)

[2017-12-26 14:27] #16031 closed

[2017-12-27 07:40] mehrajpasha commented on #16031
Hi Okay, I've a doubt from ember too. I wrote a form like this The submit function is getting called as soon as clicked on any of radio buttons..I need my function to be getting only after clicking submit button..Please help on this

<form {{action "submit" on="submit"}}>

{{#radio-button changed="submit" value="Scorpius" groupValue="son" }}Scorpius {{/radio-button}}<br>

{{#radio-button changed="

[2017-12-27 08:56] monovertex commented on #15969
@Serabe: Ok, I understand that, but it does keep double data binding in some situations, as seen in my twiddle. Isn't that a valid bug then?

[2017-12-27 16:10] Boudewijn26 commented on #15841
Note you can workaround this issue by adding `this.render();` to the `renderTemplate`. It seems the passing of the state in the `[Router#_setOutlets](https://github.com/emberjs/ember.js/blob/92f664b98e8e03b51792ea0b708af212dc0188a3/packages/ember-routing/lib/system/router.js#L290)` checks for the main outlet and only then passes the state. only rendering in another outlet means the state given to

[2017-12-28 16:37] btecu commented on #14721
Any ideas on how to work around this?

[2017-12-28 19:12] juventinoromero commented on #15723
@scissorsneedfoodtoo thanks! I'll be working on it once I get some time off another project. Feel free to work on it too :)

[2017-12-30 05:12] drmscpxl commented on #10566
is there any other browser support? aside from IE, Edge, Safari. as i can only see three in the README.md file.

Any plans to support major browsers?

[2017-12-30 08:28] Turbo87 commented on #15988
Can anyone tell me the advantages of the new testing API given that for Ember projects we're now explicitly moving away from moduleFor? 🤔

[2017-12-30 08:54] Turbo87 commented on #14555
I think this has been implemented by now, right?

[2017-12-30 08:56] chancancode commented on #14555
Yep.

[2017-12-30 08:56] #14555 closed

[2017-12-30 10:24] mehrajpasha opened #16035 "setting model for my route"
Hi,I'm trying to create a quiz app..According to the id={1,2,3,4,5} in my route questions/id my template should generate the data of the each of the object of arrays data given manually my be in questions.Please tell me what queries to use ?

[2017-12-30 10:41] Turbo87 commented on #15281
@rwjblue I've looked into this, but it seems like there is no way to reuse the implementation that does the same thing for `init`, because while there is an `init` event that we can listen to there are no `destroy` or `willDestroy` events.

[2017-12-30 12:51] rwjblue commented on #15988
The `moduleFor` being used here is completely unrelated to the legacy `moduleFor` implementation that is provided by `ember-qunit`.

[2017-12-31 08:37] Turbo87 commented on #15988
@rwjblue I'm aware of that, but it seems that the same pros and cons apply and I'm wondering why this decision was made

[2017-12-31 08:46] Serabe commented on #16035
Hello, @mehrajpasha . I am closing this since it is not an Emberjs bug. Please, go to #-help channel on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

Thank you!

[2017-12-31 08:46] #16035 closed

[2017-12-31 08:51] Serabe commented on #16021
Can you please clarify this part?

I'm not sure this can be categorized as a bug, given `'false'` is `true` in any way I can think of in JS.

[2017-12-31 08:56] Serabe commented on #16005
ping

[2018-01-01 01:11] thec0keman commented on #16021
Definitely.  '`false'` is truthy in javascript.  But in Ember these are very different:

`<input disabled=someBoolean/>`
`<input disabled="{{ someBoolean }}"/>`

As I mentioned, I think the latter is probably a syntax error.  I don't think I've seen any examples in the Ember docs of this, but I just wanted to clarify that this was the intended behavior.

[2018-01-02 05:16] rwjblue opened #16041 "Ember.Logger.debug results in double output"
This means that on a new Ember app using v3.0.0-beta.1 we see the following output for a debug build:

![screenshot](https://monosnap.com/file/8NKOA9EmrN6EHq5S2k746Ba5qHkR1f.png)

The cause is the boolean logic here:

https://github.com/emberjs/ember.js/blob/bd7e62fdbd928dbc77a0810101caa152966a0ea7/packages/ember-console/lib/index.js#L92

I believe it should be refactored to:

[code]

[2018-01-02 09:18] mehrajpasha opened #16042 "ember radio buttons prob"
Hi, I was following this "https://ember-twiddle.com/7e10351fed541a2056b5a3d9b145d915?openFiles=templates.application.hbs%2C" In the place of AVG and MAX I have binding values coming from another JSON object(i.e {{query.choice}})..while I'm getting values in controller I'm getting as {{query.choice}} I need actual binded value

[2018-01-02 15:32] locks commented on #16042
Thank you for reaching out @mehrajpasha, however, we reserve the issue tracker for bugs in Ember. Check our [community page](https://emberjs.com/community/) for StackOverflow, Discuss, and Slack links where you can ask your question.
Good luck!

[2018-01-02 15:32] #16042 closed

[2018-01-02 18:55] Serabe commented on #16021
Did this behavior worked at some point in the past?

[2018-01-02 19:59] thec0keman commented on #16021
I'm not sure, not to my knowledge

[2018-01-02 21:13] #16041 closed

[2018-01-03 15:04] rwjblue commented on #14789
FWIW, just did some digging (to see about leveraging JWT during the swap to browserstack being worked on in https://github.com/emberjs/ember.js/pull/16047) and found https://github.com/travis-ci/travis-scheduler/pull/81#issuecomment-324352230 which indicates that JWT addon will be deprecated and removed in the future (and therefore the Travis folks wouldn't land this PR adding browserstack JWT sup

[2018-01-03 16:14] Dhaulagiri opened #16049 "Chai 4/Ember 3.0.0-beta.1 error: You attempted to access the `firstObject.inspect` property"
Running tests with Chai4 and Ember 3 beta 1, I'm getting the below error

The error seems to stem from the way Chai 4's `.to.contain` logic works in a test like the below:

[code]
The Chai code that blows up is something like this:

`if (value && typeof value.inspect === 'function' &&`

I'm not sure how to reproduce this via twiddle, but you  clone [this repo](https://github.com/Dhaulagiri/test-ap

[2018-01-03 17:59] rwjblue commented on #16049
The issue here is that chai@4 is attempting to provide a nice display message for the failing assertion with some custom display logic.  To accomplish that they are using a copy/fork of Node's `util.inspect()` ([see here](https://github.com/chaijs/chai/blob/19e2c18cffc0b21c007d5ac564207733742fa6aa/lib/chai/utils/inspect.js)).  When invoked, `util.inspect()` recursively inspects each property, and

[2018-01-03 18:01] chancancode commented on #16049
:+1:

[2018-01-03 21:29] Dhaulagiri commented on #16049
Running into a similar issue using chai's deep equal however in this case property is `Symbol(Symbol.toStringTag)`.  I can try to add a more detailed reproduction when I have time.

I wish I had a better understanding of what `DESCRIPTOR_TRAP` is doing here since basically all our test failures in Ember 3 are related to this section of code.

[2018-01-04 11:37] stephanebruckert opened #16052 "'this' undefined from component integration test?"
Also posted on SO: https://stackoverflow.com/questions/48359509/this-undefined-only-from-component-integration-test

[code]

This would work well ^, but not as part of the component integration tests where `this` would be undefined:

[code]

Why isn't `this` accessible from the test?

[2018-01-04 14:29] rwjblue commented on #16052
I'm not sure that this is an Ember bug, and so we may need to move it to a different issue tracker once we have done more investigation. Generally speaking, I don't see an obvious issue (though it is odd that you start routing in a component test) with the code snippets you shared, and this type of test is known to work.  I think we would need a reproduction in a repo that we could clone and test.

[2018-01-04 14:36] evoactivity commented on #15920
@Serabe sorry, I totally forgot to do this. I should have a bit of time this week to check it out.

[2018-01-04 16:24] rwjblue commented on #16049
@Dhaulagiri - The goal of the assertion is to throw an error when folks "touch" descriptors in a way that shouldn't have been possible, but accidentally was.  It is a pretty uncommon situation, but prior to implementing emberjs/rfcs#281 (native ES5 getters for CPs) we wanted to ensure that folks were not relying on "using" descriptors directly from the prototype.

I think an example will make this

[2018-01-04 16:58] Dhaulagiri commented on #16049
That makes sense. The reason this has been a bit of a head scratcher is that all of the errors I've come across are not actually in our app code directly but are either in Chai as described above or in a jQuery plugin (I need to dig more into this to see what is actually happening).

[2018-01-04 17:19] rwjblue commented on #16049
Right, the usage of a Proxy here is somewhat hard to get right actually. While I have had reports of it legitimately catching bugs/errors in test code (where they were accessing a CP like `this.propName.somethingElse` and it had always _previously_ been `undefined` but is now throwing an error), I am concerned that the usages of the type you describe (general object probing, and not _really_ relat

[2018-01-04 17:43] mwpastore opened #16053 "Query parameter serialization regression from 2.18.0 to 3.0.0-beta.1"
This works fine in Ember 2.18.0:

[code]

The bar query parameter is serialized as an array, and the generated, encoded URL looks like `http://localhost:4200/foo?bar%5B%5D=qux`.

In 3.0.0-beta.1, the same model hook raises a TypeError with the following stack trace:

[code]

I am taking a freshly-generated Ember CLI 3.0.0-beta.1 repo and just toggling the ember-source dependency to get a working/n

[2018-01-04 17:53] rwjblue commented on #16053
@mwpastore - Could you publish that demo repo so I can test out a possible fix?

[2018-01-04 17:53] rwjblue commented on #16053
FWIW, this is related to https://github.com/emberjs/ember.js/issues/16049

[2018-01-04 19:02] rwjblue commented on #16053
A recent commit I pushed to https://github.com/emberjs/ember.js/pull/16050 will fix the `TypeError`, but without an actual repro I can't confirm/deny that the whole thing works...

[2018-01-04 19:30] mwpastore commented on #16053
@rwjblue That was quick!

It's quite literally an `ember new` repo with that one route. I've pushed it [here](https://github.com/mwpastore/ember-ajax-symbol).

[2018-01-04 19:31] swamyg commented on #14641
@stefanpenner You are the man! Thanks.

[2018-01-04 19:48] mwpastore commented on #16053
@rwjblue I tried your PR with my repro repo (say that ten times fast) and now I'm getting:

[code]

So... progress?

[2018-01-04 22:07] rhettl opened #16055 "Advise with helper/modifier"
Hello All,

I'm attempting to add the bootstrap 4 tooltip popovers.  [bootstrap suggests][1]

[code]
I know I could just make it a live call on the `body` from `app/routes/application.js#beforeModel`, but I would rather make something to target specific elements instead of adding another watcher on the whole DOM.

I would like to do something like the below
 - `<i class="fa fa-asterisk" {{tooltip}

[2018-01-04 23:05] marialomidze commented on #15973
I am running into the same issue with ember-cli 2.16

[2018-01-05 00:24] wycats opened #16058 "[QUEST] Making jQuery Optional"
This year, we're going all-in on stripping down Ember to its bare essentials.

The first target in that effort is making jQuery optional, so applications that aren't using jQuery don't need to include the bulk. Successfully making jQuery optional cuts out around 30kb of minified/gzipped code, so it's a very juicy target (it's around 15% of the total size of an Ember app's initial vendor.js!)

@rwj

[2018-01-05 00:48] krisselden opened #16059 "Fix visit() promise resolution"
The fix in this PR makes the issue worse, it is now less likely render is fully resolved when the visit promise is resolved.

https://github.com/emberjs/ember.js/pull/14591

This issue causes a lot of tests to force flush the run loop to ensure visit is done rendering.

To clarify, this issue isn't about error handling, it is about actually resolving the promise only when rendering is actually set

[2018-01-05 00:50] wycats commented on #16058
If you want to help get my branch passing in normal mode, follow the same instructions for contributions, but target https://github.com/wycats/ember.js/tree/no-jquery

[2018-01-05 04:49] #15686 closed

[2018-01-05 08:06] topaxi commented on #16058
I'm not sure if this matters at all, but if you want access to https://github.com/topaxi/ember-jquery and it's npm package or even move it somewhere please contact me :)

[2018-01-05 08:31] locks commented on #15973
I believe this is because you need to initialize the controller to check for default values for query params, in order to know what to display. Trying to confirm this.

[2018-01-05 11:31] piotrpalek commented on #15484
Hey I just encountered this issue, it's the same as: https://stackoverflow.com/questions/4831848/firefox-ignores-option-selected-selected as far as I understand? Any fixes (or workarounds) for it yet?

[2018-01-05 12:27] stephanebruckert commented on #16052
You are right, it could be linked to Mirage. Also yes the routing stuff was useless, I removed it.

I'm still working hard on this issue and I am going to isolate it in a separate repo for you to have a look. Before I come back to you, I first need to upgrade my app to the latest (2.11 -> 2.18) and Mirage (0.3 -> 0.4), I realised this is something I need to do anyway and it might solve my current

[2018-01-05 12:40] mehrajpasha opened #16064 "check change in binded values"
We can check change in input with "onchange", how to check the change in already binded values. I need to check the change in binded values and call a action. How to do that ?

[2018-01-05 14:23] Serabe commented on #16064
Hello, @mehrajpasha .

I am closing this since it is not an Emberjs bug. Please, go to #-help channel on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

This is the fourth time we invite you to join the channel and ask for help there. Please, use the Slack for this. Our triaging time is limited and we would be very grateful if we could just

[2018-01-05 14:23] #16064 closed

[2018-01-05 15:08] rwjblue opened #16065 "Browserstack Error: Automation testing time expired"
@kategengler is already working with the BrowserStack folks on resolving, but wanted to make an issue to track that CI is failing (and to cross link folks to).

[2018-01-05 15:12] #15327 closed

[2018-01-05 15:23] rwjblue commented on #16049
Reopening for now, because even though we landed #16050 which fixes many scenarios, we are still not 100% certain that we have covered all of the cases that @Dhaulagiri was running into.

[2018-01-05 17:41] tomdale commented on #16059
@krisselden Can you provide some more context about this bug?

What does "it" refer to here?

What are the specific behaviors that we need to change about the current implementation for us to consider promise resolution fixed and close this bug?

[2018-01-05 17:57] Serabe commented on #16055
Hello, @thettl. I am closing this since it is not an Emberjs bug. Please, go to #-help channel on Slack. If you are not registered, use the [Slackin app](https://ember-community-slackin.herokuapp.com/).

It is not possible to create custom element modifiers, but there is an RFC for it https://github.com/emberjs/rfcs/pull/112.

Thank you!

[2018-01-05 17:57] #16055 closed

[2018-01-05 18:07] Serabe commented on #16021
@thec0keman I discussed this and I am sorry to tell you that we are closing this as not a bug.  Changing this behaviour would affect other Ember users and cause strange behaviour in some scenarios (`data-x={{y}}` vs `data-x="{{y}}"`).

Thank you and sorry for the inconveniences.

[2018-01-05 18:07] #16021 closed

[2018-01-05 18:28] rhettl commented on #16055
Thank you for your information @Serabe, I will find alternate methods.

Though as mentioned

Have a wonderful day, 🙂

[2018-01-05 18:28] Serabe commented on #15988
Went through all the PRs and updated current state. Need to know a couple of details:

1. @thoov is ember-metal complete?
2. @mikerhyssmith do you need some help with ember-runtime?

Thank you!

[2018-01-05 19:04] thoov commented on #15988
@Serabe ember-metal is not complete yet. I will have the remaining work done in a PR either later today or sometime this weekend.

[2018-01-05 19:34] CodingPower472 commented on #15723
@scissorsneedfoodtoo can I work on this?

[2018-01-05 20:01] mikerhyssmith commented on #15988
Hi @Serabe sorry for the delay, I will have the PR done this weekend !

[2018-01-05 20:14] toddjordan commented on #15723
@scissorsneedfoodtoo @juventinoromero @CodingPower472 The update to apidocs that supports the "release" url is just in and deployed today, so we can go ahead and convert links from the inline documentation. I'd suggest breaking up by directory so folks can work concurrently as they get band with.  I'll update the description to make it more "quest" style.

But yes, feel free to start @CodingPower4

[2018-01-05 20:21] Serabe commented on #15939
Thank you!

[2018-01-05 20:21] Serabe commented on #15988
np. Thank you both!

[2018-01-05 20:25] thec0keman commented on #16021
@Serabe no worries.  I think you answered my question sufficiently, and we came up with an alternative approach for emblem.  Thanks!

[2018-01-05 20:34] Serabe commented on #15872
@stefanpenner ping

[2018-01-05 20:35] Serabe commented on #15861
@cah-briangantzler ping

[2018-01-05 20:36] Serabe commented on #15837
Closing this according to [our triage policy](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy). Please, answer previous comments to reopen it.

Thank you!

[2018-01-05 20:36] #15837 closed

[2018-01-05 20:49] Serabe commented on #15870
@svenpl is that behaviour documented somewhere? I cannot find it.

Thank you!

[2018-01-05 20:59] kategengler commented on #16065
This is resolved, our BrowserStack has been updated to an open-source account

[2018-01-05 20:59] #16065 closed

[2018-01-05 21:00] cah-briangantzler commented on #15861
Sorry, must have missed the first one. Ill see if I can reproduce it in a small application

[2018-01-05 21:17] wycats commented on #16058
@topaxi what does that package do right now?

I assume you're thinking we can use it to let people opt into the original functionality?

[2018-01-05 21:34] krisselden commented on #16059
that the promise resolves here https://github.com/emberjs/ember.js/blob/master/packages/ember-glimmer/lib/renderer.ts#L194

[2018-01-05 21:36] krisselden commented on #16059
Also, I think it would be nice to have an API for a promise when rendering has settled.

[2018-01-05 21:50] cah-briangantzler commented on #15861
I am sorry. I have search all my code (a lot of repos and commits) and I can not find where this was happening. I should have included some info in the request that would have reminded me where in my code this was happening. Guess I figured I would remember, but too much time has passed.

You might have to close this as I can not at this time give you an example.

Even without an example though, i

[2018-01-05 22:22] wycats commented on #16058
I'm actively working on getting my own branch passing again.

[2018-01-05 23:07] alexander-alvarez commented on #16058
I took a look through, and ` ember-debug` has no references to jQuery

[2018-01-05 23:15] ro0gr commented on #16058
I've checked all the packages w/ and w/o `jquery`. Here are packages that pass:
- ember-console (no tests)
- ember-views (no tests)
- ember-debug
- ember-metal
- ember-runtime
- ember-utils
- internal-test-helpers

[2018-01-05 23:30] ro0gr commented on #16058
I would like to pick `ember-routing` package

[2018-01-05 23:54] rwjblue commented on #16058
Once we get a package passing, it should be "locked" down in the `lib/packages.js` so that CI runs it both with and without jQuery.

See https://github.com/emberjs/ember.js/commit/f71bbd07cacd406d3ac12db7d170be791b3a5c50 for where this was initially setup...

[2018-01-06 00:09] acorncom commented on #16058
Looks like `ember-views` and `internal-test-helpers` can be switched over to run in CI without jQuery. I've added a separate todo for ensuring all these packages are locked down

[2018-01-06 04:24] wycats commented on #16058
@acorncom woot woot

[2018-01-06 04:26] wycats commented on #16058
I got the tests passing on [my branch](https://github.com/wycats/ember.js/tree/no-jquery), but for some reason [tests are failing in IE11](https://travis-ci.org/emberjs/ember.js/builds/325699303?utm_source=github_status&utm_medium=notification).

I'm off for the evening, but I'd love a PR to get things passing on IE11. If nobody tackles it, I'll try to wrap it up later this weekend 😄

[2018-01-06 05:41] bekzod commented on #15939
@Serabe I think this https://github.com/emberjs/ember.js/pull/15962 was first :)

[2018-01-06 06:12] CodingPower472 commented on #15723
@toddjordan Is this an issue with ember-learn/ember-api-docs or emberjs/ember.js?  (Sorry for the stupid question)

[2018-01-06 13:21] Serabe commented on #15861
In my experience, when tests run in isolation but not when the whole suite is run, it means that your tests (quite likely, not the ones failing) are not side-effect free. There are many possible reasons, but on sneaky one is not using `RSVP` promises. Tests automatically wait for all `RSVP.Promise` to resolve but not plain `Promise`s. The `Promise` starts in one tests and settleds in another, caus

[2018-01-06 13:21] #15861 closed

[2018-01-06 13:27] Serabe commented on #15723
Please, before starting with any part, ask here to lock it so we don't duplicate efforts.

Thank you!

[2018-01-06 19:33] jenweber opened #16079 "tryInvoke, canInvoke, compare, isEqual missing updated imports in docs"
According to [RFC176](https://github.com/emberjs/rfcs/blob/master/text/0176-javascript-module-api.md) these should be part of the `@ember/utils` module, but API docs do not reflect this. I think they just got overlooked.

Documentation block [here](https://github.com/emberjs/ember.js/blob/241adea495be3363dfc4c09a749e73230fa80998/packages/ember-utils/lib/invoke.js)

Should follow the same pattern a

[2018-01-06 20:03] jenweber commented on #16079
https://github.com/emberjs/ember.js/pull/16080

[2018-01-07 01:22] jenweber opened #16082 "Where should these live in API docs? Ember.bind, Ember.VERSION, and Ember.onerror"
Related issue https://github.com/ember-cli/ember-rfc176-data/issues/12

After PR https://github.com/emberjs/ember.js/pull/16080 is merged, there will be just 3 things floating on the `Ember` global that are public and need a home. Since they are on the Ember global, they aren't accessible in the API docs site. What should we do about it?

- [bind](https://github.com/emberjs/ember.js/blob/5f3472e82

[2018-01-07 02:58] jenweber commented on #16082
Closed, tracked in https://github.com/ember-cli/ember-rfc176-data/issues/12

[2018-01-07 02:58] #16082 closed

[2018-01-07 03:30] rwwagner90 commented on #16058
Anything I can help with? 😄

[2018-01-07 05:46] wycats commented on #16058
@rwwagner90 do you think you can take a look at the IE11 bug on my branch?

[2018-01-07 06:11] rwwagner90 commented on #16058
@wycats yeah, I can take a look. No promises that I will figure it out though. Will give it a shot tomorrow morning 👍

[2018-01-07 11:52] topaxi commented on #16058
@wycats ember-jquery just includes jquery into the vendor bundle (it also allows for including the slim version `jquery-slim` instead of the full jquery build).

Yes, it was my thought that it might be used for opt-in to the old behavior.

[2018-01-07 13:10] svenpl commented on #15870
I cannot find it either. Maybe that this is even working with a plain object is already unwanted behaviour.

[2018-01-07 14:20] rwwagner90 commented on #16058
@wycats is it just the browserstack failures you wanted me to look at? It seems that the first 4 jobs are failing on Travis, but not sure if they are related.

I tried running the browserstack tests locally, but couldn't seem to get it to work. Would you recommend setting up a VM for IE? I don't generally test in IE.

[2018-01-07 16:50] kategengler commented on #16058
@rwwagner90 (and others looking to test other browsers), Microsoft provides virtual machines for testing Edge & IE https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2018-01-07 16:57] rwjblue commented on #15988
@thoov - Can we add some info for refactoring ember-runtime/packages/suites to use a more conventional system?  Specifically, I'd like to do something like what I described in https://github.com/emberjs/ember.js/pull/16072#discussion_r159994024....

[2018-01-07 19:51] rwjblue commented on #16059
As a mechanism to flush out tests that artificially forced visit to behave synchronously, I swapped `Ember.ApplicationInstance.prototype.visit` out to use `run.next` instead of `run.schedule('afterRender', ....)` (temporarily) and then fixed all the test failures. That work is progressing in https://github.com/emberjs/ember.js/pull/16086.

[2018-01-07 21:35] mhluska commented on #15156
Can we get an example of how to specify the layout in the child component?

[2018-01-08 04:17] toddjordan commented on #15723
@CodingPower472 its here in ember.js  because all the code changes need to be made in this repo, to the inline documentation.

[2018-01-08 09:27] thoov commented on #15988
@rwjblue Yes I will add an example for converting the ember-runtime `suite` over to your example

[2018-01-08 15:00] ynotdraw commented on #15723
I can lend a hand.  I'll start with the bottom three:

- ember-testing
-  ember-extension-support
-  ember-utils

[2018-01-08 15:33] bobisjan opened #16088 "Can not use router service in route"
Hi,

when I inject [RouterService](https://emberjs.com/api/ember/2.18/classes/RouterService) into some route, this property is replaced by `router:main`.

[code]

[API](https://emberjs.com/api/ember/2.18/classes/Route?show=inherited%2Cprotected%2Cprivate) does not expose `router` property (public or private), I can use named inject like `routing: inject('router')`, but it seems to me, that this sh

[2018-01-08 15:39] rwjblue commented on #16058
Just landed the ember-glimmer changes that @wycats has been working on, and unlocked the `ember-glimmer` package above.

Anyone have time to pick up where @wycats left off and push `ember-glimmer` without jQuery over the finish line?

[2018-01-08 15:54] Dhaulagiri commented on #16049
@rwjblue I pushed up another sample test that mimics our app code to the [sample repo](https://github.com/Dhaulagiri/test-app) that reproduces the other error I've seen.

[2018-01-08 15:57] rwjblue commented on #16049
Awesome, thank you!  I'll try to dig into it this afternoon...

[2018-01-08 17:43] wycats commented on #16058
@rwjblue @snewcomer what do we need to do to land https://github.com/emberjs/ember.js/pull/16075 ?

[2018-01-08 21:54] #16059 closed

[2018-01-09 06:08] scissorsneedfoodtoo commented on #15723
@CodingPower472, @ynotdraw, go for it! I'm a bit wrapped up in another project now.

[2018-01-09 10:21] locks commented on #16088
This is because `router` is already a private property of the `Route` class.
Hm, not sure what specifically is going on here… Can you provide an ember-twiddle.com reproduction?

[2018-01-09 10:23] locks commented on #16079
Addressed by PR mentioned above.

[2018-01-09 10:23] #16079 closed

[2018-01-09 12:36] bobisjan commented on #16088
I see that `router` is used in route's [codebase](https://github.com/emberjs/ember.js/blob/master/packages/ember-routing/lib/system/route.js#L1118), but I'm not sure if the injection should work (as other service injections) or `router` should be marked as private in API and maybe throw error when someone tries to inject router service into route using `router: inject()`?

[Here](https://ember-twi

[2018-01-09 16:35] juventinoromero commented on #15723
@CodingPower472 @ynotdraw go ahead! I'm also busy with another project but a week or so. I'll catch up with you later. Thanks!

[2018-01-09 17:51] stephanebruckert commented on #16052
@rwjblue here is a dummy repo https://github.com/stephanebruckert/mirage-component-integration-test

Uncomment the debugger line 7 https://github.com/stephanebruckert/mirage-component-integration-test/blob/master/app/components/left-menu-item/component.js#L7

Run as usual and compare:
  - http://localhost:4200/inventories
    - In debug mode, type `this` and see that it is defined
 - http://localh

[2018-01-09 19:24] rwjblue commented on #16052
You cannot use arrow functions with an `Ember.computed` (if you want to have the correct `this`). Arrow functions intentionally modify the `this` context inside the function to match the `this` context from where they are created. In this case, you are creating the arrow function in module scope which (when in strict mode) has no `this` context at all.

To fix the issue you would need to update to

[2018-01-09 20:25] stephanebruckert commented on #16052
Ha sorry, I think `eslint` changed that automatically, perhaps because I am not using any actual `this` inside that context.

However it gives the same result without arrow functions. :(

I've pushed the change.

[2018-01-09 23:43] majew7 commented on #10875
I want the ability to work with a POJO, so I can send my object into a 3rd party vanilla JS library.

[2018-01-10 00:45] teddycoleman commented on #10875
yes please - struggling with this now for a 3rd party api. my current workaround is to do `getProperties` for an object with an array of about 70 fields on it. this seems silly and having a function to do that would be great...

[2018-01-10 03:51] williamhaley commented on #15723
Can I take on `ember-debug`?

[2018-01-10 15:37] toddjordan commented on #15723
sure can @williamhaley let me know if you have questions!

[2018-01-10 15:49] Kerrick commented on #12142
Unless I'm missing it, Transition is still not documented on emberjs.com -- and we're at 2.18.

[2018-01-10 15:59] rwwagner90 commented on #16058
@rwjblue still looking for help with ember-glimmer? I've never looked at the code there, but I can try to help 😄

[2018-01-10 16:35] fullsailor commented on #12142
@Kerrick You're right, it looks like it was removed from the documentation in 2.17. The last time it was there was in 2.16.

https://emberjs.com/api/ember/2.16/classes/Transition

[2018-01-10 16:46] rtablada commented on #15768
@averydev the `if` statement just makes it easier to add and remove elements.

[2018-01-10 16:59] wycats commented on #16058
@rwwagner90 looks like @ro0gr finished it here: https://github.com/emberjs/ember.js/pull/16096

Confirming!

[2018-01-10 17:09] averydev commented on #15768
@rtablada yep! Just confirming and isolating that the bug exists regardless of the element being removed from the DOM as the result of a change to the evaluation of a conditional in the template.

[2018-01-10 17:11] ro0gr commented on #16058
@rwwagner90 @wycats yes, `ember-glimmer` is finished. The only remaining package is `ember`. I've took a brief looks there.
There are quite many failures. Most of them are straightforward to fix. However I think it might make sense to decouple.

[2018-01-10 17:14] wycats commented on #16058
@ro0gr decouple in what way?

[2018-01-10 17:34] stefanpenner commented on #15768
The browser cleans these up for us. Once an element who had an handler attached, is both:

* detached from the DOM
* unreachable from JavaScript

That elements DOM object and JS Wrapper is collected, at that point the browser can (and at some point will) collect the attached handler

[2018-01-10 17:38] stefanpenner commented on #15872
@serabe is the problem resolved? I suspect if we want to close this, we must ensure the v8/blink folks are carrying the torch.

[2018-01-10 17:42] stefanpenner commented on #15872
I have filed a CRBug:  https://bugs.chromium.org/p/chromium/issues/detail?id=800830

[2018-01-10 17:49] averydev commented on #15768
I just ran through the examples again, and Chrome seems to have improved GC of these abandoned listeners since this bug was reported! Whew! Previously I've seen abandoned listeners last seemingly forever, but leaving it alone for ~10s was enough to have them GC'd.

I've been using the syntax of `<button {{action "doSomething" on="onclick"}}>` when lots of listeners are likely to be added/removed,

[2018-01-10 17:49] krisselden commented on #15768
@averydev the memory growth chart can climb simply because there is no GC pressure that does not mean there is a leak.  I just did a comparison heap snapshot between a snapshot after toggling on/off 4 times and toggling on/off 100 times, there is no leak of the closure action or dom that was removed.

![heapsnapshotcompare](https://user-images.githubusercontent.com/61024/34786405-f2e11198-f5e8-11e

[2018-01-10 17:49] #15768 closed

[2018-01-10 17:51] ro0gr commented on #16058
I think to decouple per file is good enough. If somebody wants to do all in once he still can.
Here is the current state of `ember` package with `jquery` disabled:
- packages/ember/tests/component_context_test.js - 3 failing
- packages/ember/tests/helpers/link_to_test.js - 2 failing
- packages/ember/tests/integration/multiple-app-test.js - 1 failing
- packages/ember/tests/reexports_test.js - 1 fai

[2018-01-10 17:54] stefanpenner commented on #15768
@krisselden thanks for confirming, i got distracted bugging our v8 friends re: existing open memory issues and forgot about this issue during those 5 minutes....

I would strongly recommend `<button onclick={{action "doSomething"}}>`

[2018-01-10 17:56] averydev commented on #15768
Oh!  @stefanpenner is there a downside i'm not aware of?

[2018-01-10 19:05] stefanpenner commented on #15768
`<button onclick={{action "doSomething"}}>` is just the simplest, and will work with any DOM specified API. It is also takes the form as any other data binding.

[code]

And under the hood it just does:

[code]

---

`<button {{action "doSomething" on="click"}}>`  is IMHO legacy, as it originates from before templates were aware of HTML syntax, and could do the above.

[2018-01-10 20:06] averydev commented on #15768
Ok good to know! Thanks!

[2018-01-11 02:15] blufish commented on #11486
Amazing that Ember devs would not address this. Very ridiculous that you cannot control the controllers, must use them, and have Ember create a "ember-view" in the DOM.

Why do controllers not follow the component spec?

[2018-01-11 02:47] wycats commented on #16058
@ro0gr thanks! I updated it!

[2018-01-11 05:01] thoov commented on #15988
@mikerhyssmith For packages/ember-runtime/tests/suites:

It currently has a concept called SuiteBuilder that needs to be converted to the newer AbstractTestCase model.

[code]

[code]

[code]

Let me know if you need any help with this or anything in packages/ember-runtime

[2018-01-11 05:58] toddjordan commented on #15723
check out @ynotdraw 's pr for an example of what needs to be done #16108

[2018-01-11 06:15] leetskil opened #16109 "Browser support list"
official list of supported browser please, i cant see a list of browser supported in the description readme.md file please

[2018-01-11 10:48] kanongil commented on #11486
This issue should be resolved once https://github.com/emberjs/rfcs/pull/280 lands.

[2018-01-11 11:38] mikerhyssmith commented on #15988
@thoov thanks ! I noticed a fair few of the remaining tests have testBoth in and some work has been done in the ember-metal tests to support that. Do I need to wait for that to go in first ?

[2018-01-11 12:34] Serabe commented on #16052
Hi, @stephanebruckert,

Your demo project adds a ton of deps, both in package.json and in bower.json. Can you try reproducing this with a brand new project (`ember new bug-reproduction`) and just using Mirage (`ember install ember-cli-mirage`) and add the model, route, etc.?

There are too many deps to track down what is happening easily.

Thanks!

[2018-01-11 12:35] Serabe commented on #16005
Closing this according to [our triage policy](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#triaging-policy). Please, provide a reproduction so we can follow up on this.

Thank you!

[2018-01-11 12:35] #16005 closed

[2018-01-11 12:35] Serabe commented on #15920
@evoactivity ping!

[2018-01-11 12:36] Serabe commented on #15870
Quite likely. Closing this then.

Please, change your code to the supported  method signature.

Thank you!

[2018-01-11 12:36] #15870 closed

[2018-01-11 13:05] evoactivity commented on #15920
@Serabe I'm terrible aren't I! I actually had a few minutes just now so you're ping was timed well.

I can confirm updating to 2.17 did resolve the issue.

[2018-01-11 13:31] kanongil opened #16111 "Re-create DOM element from component"
I have a custom component that wraps a `<video>` element:

[code]

When I change content, I need to reset the state of the element. Unfortunately, the DOM APIs does not allow all state to be reset (eg. there is an `addTextTrack()` method, but no way to remove it again).

This means that I need to remove the `<video>` element, and replace it with a new one, to reliably reset the state. I currently

[2018-01-11 14:12] rwjblue commented on #16111
I would make the main component `tagName: ''` and move the `<video>` element itself into the template, then it is quite easy to wrap that in a conditional.

[2018-01-11 15:56] kanongil commented on #16111
I know, but this comes with implementation issues as well. Eg., I can no longer use `classNames` and `attributeBindings`, and would have to traverse the DOM to find the actual `video` element to call my methods on.

This leads to my actual current solution, which is to use a wrapper parent component. Something I feel should not be needed.