[2016-03-12 20:08] cibernox commented on #13091
Dibs

[2016-03-12 21:03] workmanw commented on #13071
@stefanpenner FYI I did slightly tweak the steps. I found that it was much more likely you would reproduce the problem if you use our app's "masonry mode" list. All that changed was the URL in step 1 and the screenshot below step 2.

[2016-03-12 23:38] sandstrom commented on #13071
*In response to the question above, if this is v8/Chrome only:* checked our logs, found 8 cases, all Chrome (49/48) on Windows (7 and 10). Unfortunately I don't have more data points.

[2016-03-13 00:39] shashwat91 commented on #13088
Created a PR #13100 for this issue.

[2016-03-13 04:08] #13089 closed

[2016-03-13 04:09] #13090 closed

[2016-03-13 04:27] toddjordan opened #13101 "Strip feature flagged docs from API docs."
Features behind a feature flag still show up in official documentation, which can be confusing since they are not actually there for folks that don't enable them.

---

Support was added in #13105 to filter items with an `@category` tag when the given feature is not enabled by default. We need to extend that support for the following scenarios:
- [x] Remove class items
- [ ] Remove methods
- [ ] R

[2016-03-13 09:14] ShogunPanda commented on #13072
+1 - Please fix this!

[2016-03-13 09:17] ShogunPanda commented on #12367
Yes, this is really confusing. I was also expecting the global loading to be used for nested routes.

Another thing. Let's say I override the `loading` event (in my case, in a Mixin in order to have a shared loading substate template between subroutes of different routes) . Any idea on howto override the rendered template?
I tried `this.render` or `transition.router.intermediateTransitionTo` but w

[2016-03-13 14:48] machty commented on #13072
@nathanhammond can you provide an update? I believe when we were going through this on the community Slack, everything was behaving as expected (just that perhaps things are poorly documented / unclear?)

[2016-03-13 14:54] nathanhammond commented on #13072
I'm still writing tests make sure that this works. my current belief is that it is implemented correctly.

[2016-03-13 14:54] #13072 closed

[2016-03-13 20:46] cibernox commented on #13101
My two cents here is that I was also bitten by this once. Is there any way in yuidoc to tag certain APIs with the version number (like the `@since 2.4.0`) and use that to
a) Not show them unless you are in a version of the docs for that version or greater
b) Show them anyway but with a visual indicator of the version in which this became public.

[2016-03-13 21:39] rwjblue commented on #13101
Yep, I chatted with @toddjordan about this in slack, and I think we can have a YUIDoc preprocessor that is aware of the features.json, and "does the right thing".

[2016-03-13 21:39] rwjblue commented on #13101
Where the "right thing", is to not include the docs for features that are not enabled.

[2016-03-14 11:14] raido commented on #13071
I have been trying to reproduce this but without a luck on Twiddle and locally. But it seems to be specific to helpers, because i have another app in production without helpers and it does not crash, take this with some salt.

I did some brute force tests by forcing application to navigate between routes back and forth and at times bug would occur after 3 transitions, throw the error and recover f

[2016-03-14 13:01] workmanw commented on #13071
This absolutely describes my experience.

In our case, we use `window.open` to trigger a file download and this action "seems to" help increase the likely hood of this issue happening (but it could be a red herring). For me, sometimes I get on a roll and it'll happen 10 out of 10 times after the 3rd or 4th transition. Other times, it won't happen once in half an hour.

[2016-03-14 13:41] raido commented on #13071
@workmanw I have bunch of "likely hood" type of things that "seem" to help reproduce but in reality i have not been able to follow any of the "hints" application has given me. It seems completely random.

[2016-03-14 15:25] raido commented on #13071
@stefanpenner I tire adding some "pork chop" to function body, did not seem to help or i did something wrong.

Anyway, i think i have a way to make this happen more often. I have now confirmed, that it is always the same helper:<name> which crashes it in my application. I'll keep digging.

So far, i managed to get some console logs out an when it crashes, not only the **owner*** is undefined but *

[2016-03-14 18:02] markoftheweb commented on #12095
This has had an impact on the tutorial I just went through:
https://guides.emberjs.com/v2.4.0/tutorial/autocomplete-component/
https://github.com/emberjs/guides/blob/master/source/localizable/tutorial/autocomplete-component.md

Where
   this.set('filteredList').clear();
and
this.set('model').clear();

The setter seems to want to return the value

[2016-03-14 18:23] #12095 closed

[2016-03-14 18:37] typeoneerror commented on #13071
Sorry to +1 this, but not sure if I get subscribe to updates with just a "thumbs up emote".

Exact same error, only in minified production builds.

Chrome: 48.0.2564.116
MacOS: 10.9.5

I've got `minifyJS: { enabled: false }` as a workaround for now. I'd love to just disable minification for the vendor.js file. Anyone suggest a way how to do that? `minifyJS: { exclude: ['**/vendor.js'] }` wouldn't

[2016-03-14 18:55] #13083 closed

[2016-03-14 19:07] raido commented on #13071
@stefanpenner with `--nouse_inlining` it does not seem to occur. I tried running with and without nouse_inlining couple of times and it never crashed when inlining was disabled. Running Chrome without flags i could get 5 out 7 reloads to crash with those console.logs are in place from my previous comment. I still have to figure out how to make this reproducible on Twiddle or demo app.

[2016-03-14 22:52] mmun commented on #12095
@markoftheweb We should change make that guide clearer. There's no need to use clever chaining (whether it works or not) in a guide.

[2016-03-14 22:55] chancancode commented on #13083
@mangatinanda the issue has been fixed in 2.5.beta.3, thanks again for brining this to our attention!

[2016-03-14 23:25] cibernox commented on #12095
@markoftheweb Those lines look like a typo to me. Set requires two arguments. Whoever wrote that wanted to write `this.get('filteredList').clear();`

[2016-03-15 00:00] 2468ben commented on #13071
I've been seeing this since the start of February (2.3, then 2.4), OSX and Windows, Chrome only. Removing all custom Em.Helper.helpers and ember-truth-helpers stopped the errors from appearing (of course).

It's been a while since I ran into a bug that made me brush off my tinfoil hat.
_You are not alone. The truth is out there._

[2016-03-15 00:31] typeoneerror commented on #13071
Hmm, just popped up again as an error in Raygun with the unminified build. Anyone else seeing that as well?

[2016-03-15 02:00] kategengler commented on #13071
Also seeing this in the error logs for EmberObserver.com. Chiming in because it might be useful since it's open source https://github.com/emberobserver/client

Also on Ember 2.4.1, seen on every route in the application, on Chrome or Chromium 48 on Windows 7, 8.1, 10, OS X and Ubuntu.

[2016-03-15 02:19] wycats commented on #13071
@typeoneerror fwiw I'm personally very happy to have people report that they experience the same bug while also providing environment details.

I'm not sure who exactly is supposed to be harmed by such reports :wink:

[2016-03-15 02:47] stefanpenner commented on #13071
Just opened a V8 bug, https://bugs.chromium.org/p/v8/issues/detail?id=4839.

Sorry I still haven't had any cycles to take a deeper look, hopefully soon.

[2016-03-15 07:00] krisselden commented on #13071
It was harder to reproduce for me than what was described but I was able to reproduce on a very recent Mac OS Chromium build Version 51.0.2671.4 (64-bit)

[2016-03-15 08:25] raido commented on #13071
I just was successful of seeing this happening on a Twiddle with ember.prod.js build.

`Uncaught TypeError: Cannot read property '_lookupFactory' of undefined VM3158 ember.prod.js:11783`

Reproduction still unclear.

[2016-03-15 10:06] jakobkummerow commented on #13071
@raido It may help to run Chrome with --js-flags="--predictable", which turns off various features that are known to cause indeterminism (like anything involving background threads). Please do let me know when you find a good repro!

[2016-03-15 11:35] workmanw commented on #13071
:tada: Yay! I can see from our logs half a dozen or so people were able to reproduce this on various versions of chrome, including 51.

@krisselden I'm sorry about that. I think in my previous responses I had implied that it wasn't always reproducible, but I should have been explicit about that on the comment with the reproduction steps. Sometimes it just seems to not happen. There are still varia

[2016-03-15 11:46] raido commented on #13071
@workmanw @stefanpenner I have the same issue with knowledge about the whole problem that is going on here. My twiddle that used to crash often, now does it rarely and i have nothing changed except closed and opened Chrome couple of times (probably unrelated). It is really annoying.

@jakobkummerow I have not been able to crash my app with --predictable flag.

[2016-03-15 12:10] stevesims commented on #12169
I'm seeing a variant on this bug in my code.

The error I'm seeing happens when I re-load a page that has query params.  The page itself is in a nested route - the `setupController` methods in the parent and grand-parent routes call `transitionTo` in order to go to the correct route.  The routing transitions work fine when visiting the root-URL of the app - the transitions happen, and the URL gets

[2016-03-15 12:21] danmcclain commented on #11692
@remkoboschker I don't think all documentation around `resetNamespace` should go away, just the bits that claim that you can multiple routes with that reset to the same root resources work correctly

[2016-03-15 12:41] #12992 closed

[2016-03-15 12:45] rwjblue commented on #11692
https://github.com/emberjs/ember.js/pull/13106 removes the notion of reuse in `Router.map`, the reference in `transitionToRoute` seems fine.

[2016-03-15 13:38] remkoboschker commented on #12505
+1

[2016-03-15 14:24] stravid commented on #12505
We experienced this same issue with our error tracking platform Sentry and solved it with a workaround seen in [this commit](https://github.com/stravid/datsu-frontend/commit/e4d8d9adc496dff4a310f47fd95f050a71d2c196). Maybe it helps someone :)

[2016-03-15 14:51] flexoid commented on #11530
@aertmann could you please provide any example on how did you solve it? We're stuck on the same issue

[2016-03-15 20:52] GCorbel commented on #13061
Can you try simply :

[code]

I find `{{component component}}` a bit weird.

[2016-03-15 21:15] GCorbel commented on #13058
I checked events available on inputs on Chrome and `input` is not listed. I'm not able to find a documentation on this event. Do you have something?

Here is the list of events available on Chrome :
![capture du 2016-03-15 17 12 01](https://cloud.githubusercontent.com/assets/1296201/13794233/4a4e493e-ead1-11e5-8eef-dc45d8af280d.png)

[2016-03-15 21:16] GCorbel commented on #13058
Oups, sorry. `input` is in the list.

[2016-03-15 22:14] elanclarkson commented on #13078
Ah I didn't realise there was a native helper for this - that works just great. Thanks so much!

Sorry this wasn't a bug; that makes sense that only the object is observed now that you mention it.

P.S. Feel free to take the stackoverflow points on that question I found, otherwise I might point out this answer there too. :)

[2016-03-15 23:46] plcarmel commented on #13061
From the same documentation:

"Contextual components are created using the nested form of the component helper, and may be passed attrs and positional params. Contextual components **must be invoked with a . in their path, unless they are being passed to the invoking {{component helper.**"

[2016-03-16 00:23] krisselden commented on #13050
Majority of things that don't go through the container report as unknown because most stuff is now in modules not on a namespace.

[2016-03-16 01:01] GCorbel opened #13109 "Wait for a long async request in an acceptance test"
In an Ember 2.4 app, I'm using Stripe and I have to load it to show the payment box. In acceptance test, I do this :

            click('#pay');
            console.log('pay');
            andThen(() => {
              console.log('end');
              fillIn('#card_number', '4242424242424242');
              # ...
            });

And this is the code I want to test :

      stripeCheckout.open({

[2016-03-16 02:22] aertmann commented on #11530
@flexoid: it's nasty, but here you go https://gist.github.com/aertmann/5275ea97ae8f7e6aabee

[2016-03-16 02:43] CodeStrider35 opened #13110 "NPM loops forever when starting new ember project"
![capture](https://cloud.githubusercontent.com/assets/12943278/13800398/23dd1996-eae6-11e5-9346-c7a33da7ef88.PNG)
ember new projectname -seems to work fine until "installing packages for tooling via NPM" then it loops forever, just keeps on saying the same thing over and over again. Node.js is up-to-date and NPM is on its current version. 3.8.2

[2016-03-16 03:43] stefanpenner commented on #13110
please provide all the information requested [here](https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md#reporting-a-bug)  (that link is the big yellow banner you see when submitting)

[2016-03-16 03:49] runspired commented on #13071
I've been trying to create a failing acceptance test here: https://github.com/runspired/bug-13071

`bower_components` is committed since `ember.debug.js` has been swapped for `ember.prod.js`.  No luck so far in reproducing, but I'm on Chrome 47 which has no appeared above in any bug reports.

[2016-03-16 03:58] CodeStrider35 commented on #13110
Thanks for the tip - I'll make sure to follow those instructions next time - I made sure all tools were up-to-date including git and I still got the same "looping" behavior in the git bash console. However it finished and making my new project and everything works as expected when running "ember serve".

Closing issue.

[2016-03-16 03:58] #13110 closed

[2016-03-16 07:08] raido commented on #13071
@runspired I have tried that too with a Twiddle, it never crashed during tests but sometimes after completing tests and manually navigating around it would.

[2016-03-16 14:53] tricknotes opened #13111 "Please release ember-source gem 2.4.2"
Could someone release ember-source 2.4.2 to rubygems.org?
This issue was reported as https://github.com/emberjs/ember-rails/issues/515 by @gerry3

[2016-03-16 15:20] crudo1f opened #13112 "Input helper shows unwanted behaviour in firefox with jquery 2.2.1"
I have a component which uses the input helper like this:
`{{input value=model.value focus-in='focusInAction'}}`

Since the upgrade to Ember 2.4.x these inputs show a strange behaviour. The cursor is misplaced on a fixed spot (left side and shifted down) in the text input or in some cases it is not visible. Beside this the input and all actions work as expected. The error does only appear on input

[2016-03-16 18:17] alexlafroscia opened #13114 "Default value for {{yield to='inverse'}}"
I have a component that renders a list, something like this:

[code]

I want to provide an `{{else}}` block within the component, that the user can optionally define themselves.  So for example, if used as above, an empty `list` would render some default message about there being nothing to show, but if used like this:

[code]

it would show their custom `.warning` instead.  I figure I could do th

[2016-03-16 18:24] alexlafroscia commented on #13114
Nevermind: I found the information about it [here](https://github.com/emberjs/ember.js/blob/551a2312038dd815a2ff3e7843a8475da3d0fd11/packages/ember-views/lib/components/component.js#L372-L378).

[2016-03-16 18:25] #13114 closed

[2016-03-16 19:28] gertjanwytynck commented on #12505
+1

[2016-03-16 20:40] krisselden commented on #13071
It is too hard for me to reliably reproduce this issue but my current suspect is this https://github.com/emberjs/ember.js/blob/cfed40154285501c19a60aef3c0f51c645c9d44d/packages/ember-runtime/lib/mixins/container_proxy.js#L115-L119 if anyone has an easier time reproducing, I would hand write the aliases and also not close over for the proxy target.

[2016-03-16 20:46] krisselden commented on #13071
@workmanw if I do a PR to avoid what I think is the problem can you test it out?

[2016-03-16 20:54] rwjblue commented on #13111
Ya, we'll get it fixed (on Monday at the latest)...

[2016-03-16 21:01] fotinakis commented on #13071
I also just hit this for the first time in production (and happened to remember seeing this discussion on Twitter). Chrome 48.0.2564.116 and Ember 2.3.

[2016-03-16 21:17] workmanw commented on #13071
Chatted w/ @krisselden on Slack. Yes, I'd be happy to try out a PR. My reproduction rate is about 33% of the time (so rather frequently).

[2016-03-16 21:22] krisselden commented on #13071
@workmanw you can tryout the above by cloning the ember repo and using `curl https://github.com/emberjs/ember.js/pull/13116.patch | git am` and doing `npm run build` and using dist as your bower_components/ember

[2016-03-16 22:07] workmanw commented on #13071
@krisselden Unfortunately, that did not seem to make a difference :(

I checked out `v2.4.2`, applied the patch and did a build. Copied `ember.min.js` to my `app/bower_components/ember/ember.debug.js`. Removed the `tmp/` directory and fired up the server. I confirmed that the patch had been applied by looking at the sources tab.

Happy to keep trying ideas you might have.

[2016-03-17 07:51] krisselden commented on #13071
@workmanw based on the last comment on the https://bugs.chromium.org/p/v8/issues/detail?id=4839#c7 and looking at the code, are you using local helper lookup?  I'm guessing `_findHelper` is being inlined here https://github.com/emberjs/ember.js/blob/master/packages/ember-htmlbars/lib/system/lookup-helper.js#L62 when it has never seen this case to be true and when you navigate to a route where it b

[2016-03-17 07:54] krisselden commented on #13071
My current thought is https://github.com/emberjs/ember.js/commit/8af7da67c4b1eab94a6adfc82c91af98dc3ee532 is triggering the bug in v8 and that preventing _findHelper from inlining or warming the branch with a local helper would resolve it until the bug is fixed in v8.

[2016-03-17 08:05] raido commented on #13071
@krisselden If you anything ready for testing, i can try it out. My reproduction rate is about the same as @workmanw's.

[2016-03-17 11:09] raido commented on #13071
@workmanw Can you test my PR that i made based on https://bugs.chromium.org/p/v8/issues/detail?id=4839#c9 comment?

[2016-03-17 12:53] workmanw commented on #13071
:confetti_ball: :tada: I tested @raido's PR and I cannot reproduce the issue. That **does** seem to be a successful workaround. :smile:

[2016-03-17 14:00] rwjblue commented on #13071
I have been trying to follow the reported scenarios closely, but I believe this code is in Ember 2.3 also. Does Ember 2.3 also suffer this issue?

[2016-03-17 14:03] raido commented on #13071
Yes, i can confirm that Ember v2.3 is affected by this too.

[2016-03-17 14:05] stevesims opened #13119 "Cannot use input component with component helper"
Trying to use the `input` component with the component helper, like as this:
`passedComponent=(component 'input' type="number" value=myValue)`

will result in an assertion failure like this:
`Uncaught Error: Assertion Failed: You cannot use 'input' as a component name. Component names must contain a hyphen`

[2016-03-17 14:06] panthony commented on #10945
Would be nice to have it fixed, I was pulling my hair out as I did not understand how I could have errors because of undefined model reported to getsentry.

Thanks @sukima and @louy for your workaround

[2016-03-17 14:12] rwjblue commented on #13071
OK, pulled https://github.com/emberjs/ember.js/issues/13118 into beta, release, and release-2-3 branches.  The release and beta channels should get new builds shortly (via Travis) please bang on it for a while so we can confirm it does indeed fix this...

[2016-03-17 15:12] 2468ben commented on #13071
@workmanw @raido **Thank you so much** for spending so much time reproducing the bug, working with Chromium to find & fix this issue.
It's one of those Heisenbugs where, trying to be a responsible OSS user, I waited to file an issue for over a month because I couldn't make a stable gist/twiddle/bin/etc. It just defied so much logic that I figured it must be my fault. Next time I'll be more proacti

[2016-03-17 15:21] stefanpenner commented on #13071
Good job all!

[2016-03-17 15:22] #13071 closed

[2016-03-17 15:22] stefanpenner commented on #13071
[fixed by #13118]

[2016-03-17 15:28] workmanw commented on #13071
:)

@rwjblue I've updated my bower.json now to use `"ember": "components/ember#9c3e5820"` and I'm going to send it through the QA cycle. I'll let you know if any issues popup.

[2016-03-17 15:31] rwjblue commented on #13071
Thank you very much!

[2016-03-17 15:43] kbullaughey commented on #13020
For others who might encounter the error, `Uncaught TypeError: Cannot read property 'fragmentReason' of undefined`, in my case, I just needed to blow away `tmp` and restart my app and it is working properly.

[2016-03-17 17:02] gerry3 commented on #13111
@rwjblue thanks! btw, was there an issue? is the process not automated? can i help somehow?

[2016-03-17 17:19] mixonic commented on #13119
@stevesims this is correct. Creating a closure component with `input` is not currently possible. The justification is somewhat tied to Glimmer Components, we want to reserve the name `input` for those.

Going to close this for now as it is not a bug, but we can re-open and continue discussion.

[2016-03-17 17:19] #13119 closed

[2016-03-17 17:40] stevesims commented on #13119
the implication therefore is that the `input` component needs to get renamed - which obviously is impractical - or alternatively a standard hyphenated wrapper should be available

not being able to use a standard (inbuilt) component with the component helper seems like a rather odd and arbitrary restriction

[2016-03-17 18:24] cdoornink commented on #13071
We've also been experiencing this issue and this appears to have fixed it. I've been hammering our site against the `ember#9c3e5820` build for over an hour now and haven't seen any issues.

[2016-03-17 19:33] runspired commented on #12556
This bug was likely fixed in 2.2, I've bumped into it in Flexi where the following code fails to properly set `label` in 2.1, but correctly sets the label in all other versions from at least 1.13 to 2.6 alpha.

[code]

[2016-03-17 22:51] nskrypnik opened #13122 "Blur event handler prevents to fire other events"
Hi guys. Here's an issue you may check by this link - https://ember-twiddle.com/0f1290d63b8b44005af5?openFiles=application.template.hbs%2C.

So simply I have a text-input with bound blur event and some other elements with click event handlers. So problem is that when I type something in text-input and then try to click on other element after I've finished typing I get only one event triggered - on

[2016-03-17 23:17] #13122 closed

[2016-03-18 00:19] #12349 closed

[2016-03-18 05:16] rwjblue commented on #13071
v2.4.3 has been released with the work around added in https://github.com/emberjs/ember.js/pull/13118.

[2016-03-18 07:51] adrigzr opened #13123 "Broken behaviour on super calls of Ember 1.13.X"
Hi,

Debugging a wierd behaviour on a production app I realiced that super calls are broken on all versions of Ember 1.13. Can't tell if it goes higher.

The bug is tested though this gist. Ember must be placed as **minified** version.

https://gist.github.com/adrigzr/66aedb0801c29db44203

When an action is called over an object and its parent has a method with the same name that gets called in th

[2016-03-18 13:52] rwjblue commented on #13123
The sourceAvailable check was broken when minified until https://github.com/emberjs/ember.js/pull/12463 landed in 2.1.1. It basically forced all minified checks for sourceAvailable to be 'false'.

However, the providing of super should have still worked (it just would miss out on the optimization of avoiding adding a super wrapper when it isn't needed). So this bug may still manifest even on lates

[2016-03-18 15:27] mmun commented on #13037
@onechiporenko Thanks for reporting this. The current behaviour is definitely incorrect. If the sort properties are empty it should either throw an error or simply not sort the array. The latter option seems much better.

[2016-03-18 15:32] mmun commented on #13037
A bit more details... The current behaviour is effectively doing

[code]

which surprisingly returns

[code]

in Chrome (though not in Safari or Firefox) because `Array#sort` is not guaranteed to be a stable sort.

Regardless, running `Array#sort` when we don't need is pointless. I'm happy with @onechiporenko's bugfix PR.

[2016-03-18 15:48] rwjblue commented on #13037
I guess I don't really understand. Why would computed.sort be stable when Array#sort isn't? Why use computer.sort at all if you don't need to sort?

[2016-03-18 15:58] onechiporenko commented on #13037
@rwjblue, I'm working on addon called `ember-models-table`. It is a table where user is able to sort its content by column (one or many). This sorting is done with `Ember.computed.sort` ([here](https://github.com/onechiporenko/ember-models-table/blob/master/addon/components/models-table.js#L549)). But initially table-data is not sorted and `sortProperties` is an empty array. So, I expect that cont

[2016-03-18 16:01] stefanpenner commented on #13037
Lets see if have it @mmun et al, feel free to let me know if I missed a step

given:
[code]

We likely expect bar to mirror foo's ordering, until such time as `propsToSort` changes. (which is I believe what @onechiporenko PR is changing)

[2016-03-18 16:11] rwjblue commented on #13037
The current behavior makes more sense to me (do whatever Array#sort does), and l I don't think this is specified behavior for computed.sort (it isn't documented to be a noop if no sort properties exist).

However, if we decide that this was a breaking change for a scenario that we support I can get behind the PR, but I'd prefer if we deprecate/warn when calling sort without sort props to make it c

[2016-03-18 16:13] stefanpenner commented on #13037
@rwjblue although not documented, I think it is least surprising for no-sort properties to equate to no change in the ordering from input. We may need to consider this a breaking change over a bugfix, at which point we may need to be more careful

[2016-03-18 16:22] rwjblue commented on #13037
Not sure if it is least surprising. I would expect computed.sort to behave the same as Array#sort, but be aware of changes in the upstream array.

Like I said, I'm fine with this being something we decide is supported behavior, it just seems odd to me. We either need to fully document that computed.sort is a noop with an empty sort props array, or deprecate this behavior. I am not a fan of the ide

[2016-03-18 16:25] mmun commented on #13037
@rwjblue I strongly believe that sortProperties being falsy OR an empty array ought to be a no-op AND that it should be a documented behaviour.

[2016-03-18 16:27] stefanpenner commented on #13037
I can by this, but today this also doesn't happen.

sort without, i think coerces args to strings, then compares them

let me illustrate

[code]

Before @mmuns patch:

1. if Array.isArray(sortProps) === false, no sort (but we forgot a slice)
2. if Array.isArray(sortProps) === true, always sort (same algo i believe as today)

After @mmuns patch:

2. always sort (same algo i believe as today)

And I

[2016-03-18 16:33] mmun commented on #13037
In summary, the API analog of

- `[1,2,3].sort()` is `Ember.computed.sort('arrayKey')`
- `[1,2,3].sort(fn)` is `Ember.computed.sort('arrayKey', 'sortFn')`

There is no analog to `Ember.computed.sort('arrayKey', 'sortProperties')`. Therefore we can define our own semantics for what an empty array of sortProperties means.

[2016-03-18 16:38] rwjblue commented on #13037
Like I said, I'm fine with this bring something we decide to support. It should be covered with explicit tests and documented so I can't get confused in the future. :smile_cat:

[2016-03-18 16:47] pixelhandler commented on #13112
@crudo1f please create a code example, e.g. jsbin or ember-twiddle so others can quickly reproduce the "unwanted behavior". This may also be useful for discussion on the embercommunity.slack.com chat rooms to see if anyone has found a work around.

This does sound like an edge case, only new jQuery v2.2, Ember v2.4 and Firefox (mac & pc?)

[2016-03-18 16:49] pixelhandler commented on #13111
@rwjblue @gerry3 would be great to automate the gem release process, this once pops its head up every so often.

[2016-03-18 16:53] pixelhandler commented on #13109
@GCorbel Are you using an addon for the Stripe support? If so, perhaps that has a test with an example you can borrow for your acceptance testing.

This seems more of a Stack Overflow question vs an Ember.js Issue (bug report). You may get more feedback by creating on SO, and then reaching out in the embercommunity.slack.com #testing chatroom

[2016-03-18 16:54] stefanpenner commented on #13037
@rwjblue totally. This is obviously a place where we underspecified and are now paying the price.

[2016-03-18 17:09] pixelhandler commented on #13086
@vkoves it's difficult to troubleshoot without seeing a code example. The repos / docs are here https://github.com/tildeio/rsvp.js and http://emberjs.com/api/classes/RSVP.Promise.html

[code]

each resolved promise should return it's data, and all the resolved promises should be available in the `values` array like so `Promise.all([...]).then(function(values))` .

[2016-03-18 17:15] #13111 closed

[2016-03-18 17:16] rwjblue commented on #13111
This is published. We have reformed a release team, and have been adding pieces of automation during each run through. Completely automating gem publishing is definitely on our list.

[2016-03-18 17:22] GCorbel commented on #13109
Hi, I finally found that the problem is not Ember or Stripe. In fact, Stripe is loading in an Iframe so the JQuery selector is not working and it can't be used in an acceptance test.

I'm not using an addon.

I already created a question on SO but I thank the issue was related to the `andThen` and the runloop so I created an issue here.

[2016-03-18 17:22] #13109 closed

[2016-03-18 17:56] pixelhandler commented on #13074
@chriskrycho This is documented here: https://guides.emberjs.com/v2.4.0/configuring-ember/debugging/#toc_errors-within-code-ember-run-later-code-a-href-https-github-com-ebryn-backburner-js-backburner-js-a

[2016-03-18 17:58] chriskrycho commented on #13074
@pixelhandler, that's my point—that's the section I quoted above!

[2016-03-18 18:01] pixelhandler commented on #13074
@chriskrycho perhaps join the embercommunity.slack.com #documentation chat room and ask about helping with making a PR on the topic of debugging in Backburner. The documentation team can point out where in the http://github.com/emberjs/guides repo you could update.

[2016-03-18 18:25] pixelhandler commented on #13061
@plcarmel can you create an ember-twiddle example that demonstrate the issue? Also I'm curious if 2-way binding is supposed to function, the docs mention binding, but not 2-way.

[2016-03-18 18:29] pixelhandler commented on #13058
I'm curious if this is related, https://github.com/emberjs/ember.js/issues/11678

[2016-03-18 18:51] plcarmel commented on #13061
In the example given, a (custom) input component is used. So, it is implicit that two way binding should work in that example. There is no action registered on the component, no one-way data binding would render the component useless.

Anyway, things need to be clarified. I will create the Ember Twiddle soon (one week max), stay tuned.

[2016-03-18 19:51] daltonamitchell commented on #13055
In case you're still having the issue, you need to delete the file `~/.babelrc`. It's not needed when using `broccoli-babel-transpiler` at the current version.

See the [SO answer](http://stackoverflow.com/a/36093045/2620729) for more details :)

[2016-03-18 20:28] #13091 closed

[2016-03-18 21:33] cibernox commented on #13058
@danevans If your are in 2.3.1+ i'd strongly recommend to use this instead:

`<input type="text" value={{newName}} oninput={{action "updateName"}}>`

[2016-03-19 01:51] HeroicEric commented on #13101
Related to https://github.com/emberjs/ember.js/issues/12739

[2016-03-19 04:16] chancancode opened #13127 "[Pls send halp!] The Ultimate Glimmer 2 Test Porting Guide"
:recycle: :recycle: :recycle: **Please consider the environment before printing this Github issue.** :recycle: :recycle: :recycle:

## The Backstory

@wycats and I (and many other people who have helped along the way) have been working on a rebuild of the rendering engine for the last six months, codenamed "Glimmer 2".

It started as a fork of [htmlbars](https://github.com/tildeio/htmlbars) but al

[2016-03-19 04:50] danevans commented on #13058
@cibernox is the recommendation to not use the `{{input}}` helper at all or just avoid it when using actions or just certain actions like this one?

[2016-03-19 05:29] GavinJoyce commented on #13127
- [ ] :hand: [#component helper](https://github.com/emberjs/ember.js/blob/master/packages/ember-htmlbars/tests/helpers/component_test.js) tests

[2016-03-19 07:23] krisselden commented on #13127
I'll look at the "willDestroyElement" tests.

The key thing is it is supposed to be the inverse of didInsertElement so main thing is it runs before DOM teardown, so unlikely that this is covered by willDestroy which is async after DOM teardown.  It also is supposed to only run if the didInsertElement hook ran.  @GavinJoyce  There is a current bug in htmlbars with this lifecycle hook firing too lat

[2016-03-19 08:40] cibernox commented on #13058
@danevans I don't use it anymore. `{{input}}` is harder to use an around 40x slower

[2016-03-19 12:13] devotox opened #13128 "Value Binding not working Ember 2.4"
[code]

I have a component with a value binding on the application controller editMode key. This does not seem to work at all

[2016-03-19 12:45] rwjblue commented on #13128
1) You should be using an alias (Ember.computed.alias) instead of the older legacy fooBinding syntax.
2) Your debounces will not work correctly, because you are passing an anonymous function to them. The way debounce works is by comparing the function equality (via ===) and since you are generating a new "() => {}" each time they will not be debounced.
3) I do not see where 'platform-base' is defi

[2016-03-19 17:40] code0100fun commented on #13127
- [x] [`loc` tests](https://github.com/emberjs/ember.js/blob/master/packages/ember-htmlbars/tests/helpers/loc_test.js) ([PR #13129](https://github.com/emberjs/ember.js/pull/13129))

[2016-03-19 18:18] chadhietala commented on #13127
Confirmed that the unported `#with` test can be deleted.

- [x] Remove legacy `#with` tests #13130

[2016-03-19 18:20] green-arrow commented on #13127
[PR #13131](https://github.com/emberjs/ember.js/pull/13131)

- [x] [`log` tests](https://github.com/emberjs/ember.js/blob/master/packages/ember-htmlbars/tests/helpers/log_test.js)
- [x] [`debug` tests](https://github.com/emberjs/ember.js/blob/master/packages/ember-htmlbars/tests/helpers/debug_test.js)

[2016-03-19 19:58] mixonic opened #13132 "Add tests for bound {{loc}} behavior"
`{{log boundString boundArg}}` is supported in Ember, however it is not tested. Introduce tests for this per the INUR description here: https://github.com/emberjs/ember.js/issues/13127

See: https://github.com/emberjs/ember.js/pull/13129#issuecomment-198777298

[2016-03-19 21:44] chadhietala commented on #13127
I can take `unbound` :lock:

[2016-03-19 21:51] mmun commented on #13127
I'll port the `each-in` tests.

[2016-03-19 23:14] devotox commented on #13128
@rwjblue Thank you for the quick feedback. I will update

1. I don't see how Ember.computed.alias would help me get the value from the application controller.

2. I actually needed to use Ember.run.later as I need to send an action with a context and there is no way for debounce to work in this scenario.

3. platform-base is the name of the application it was the same thing i used in `import After

[2016-03-19 23:26] chancancode opened #13135 "Investigate what `Component` init is doing"
See remaining comments in #13077

[2016-03-20 00:41] green-arrow commented on #13127
@chancancode - I think we can check off / remove the `debug tests` item as well.

[2016-03-20 00:51] devotox commented on #13128
@rwjblue thank you! you did lead me on the right path using a service I was able to connect changes across all object ... seems so obvious now!

My final solution was to create a global application service

[code]

And within my application Route

[code]

I am really trying not to use controllers as much as possible to follow the component led path Ember is blazing and it just takes slightly diffe

[2016-03-20 01:54] zackthehuman commented on #13127
I can take `custom-helper-tests`.

[2016-03-20 10:47] lorcan commented on #13127
https://github.com/emberjs/ember.js/issues/13139 removes the unused `glimmer-component` tests folder

[2016-03-20 18:01] #13132 closed

[2016-03-20 20:48] chancancode commented on #13127
I'm taking "Basic content rendering tests" (and fixing the implementation in Glimmer)

[2016-03-20 23:09] code0100fun opened #13142 "Failed to run `npm start` - Cannot find module 'exists-sync'"
[code]
Seems like c655638 caused a build error when it updated the [`package.json`](https://github.com/emberjs/ember.js/blob/c6556381a56f0c7fd72ed9c2ab8cf1bea08823fd/package.json#L41)

Looks like its related to `tildeio/glimmer` requiring [`exists-sync`](https://github.com/tildeio/glimmer/blob/9dff505688b917fdc7209f2dde4061d69464e50c/ember-cli-build.js#L4) in `ember-cli-build.js` but not listing i

[2016-03-20 23:18] rwjblue commented on #13142
Ya, glimmer needs to be updated with it as a dep.  This almost certianly works on npm 3 because everything ends up in the root/main `node_modules/` but on npm 2, you would be missing `exists-sync` at that level.

[2016-03-20 23:24] HeroicEric commented on #13127
I'm taking "`select` test :scissors:"

[2016-03-20 23:29] code0100fun commented on #13127
- [ ] ["escape" tests](https://github.com/emberjs/ember.js/blob/master/packages/ember-htmlbars/tests/integration/escape_integration_test.js) WIP #13143

Updating to match style introduced in 5c12157

[2016-03-21 00:51] HeroicEric commented on #13127
Taking "`collection` test :scissors: "

[2016-03-21 01:28] paddyobrien commented on #13127
I'm taking a look at `input` element tests if they're still not locked.

[2016-03-21 04:51] chadhietala commented on #13127
- [x] tagless views tests #13146

[2016-03-21 05:16] chadhietala commented on #13127
- [x] helper lookup tests #13147 :scissors:

[2016-03-21 05:30] chadhietala commented on #13127
- [x] "append templated view" #13148 :scissors:

[2016-03-21 05:55] chadhietala commented on #13127
- [x]  "with + view" tests #13149 :scissors:

[2016-03-21 08:31] WimAtIHomer opened #13150 "QueryParams refreshModel does not work on route without dynamic segments"
I am working on a index route with queryParams that control paging and sorting of table data. When changing the queryParams with the back button the queryParams on the controller are changed but the model is not refreshed.
On a similar page with detail data the refreshModel property on the queryParams are working as expected.
After some testing I found that adding a dynamic seqment (/:id) to my in

[2016-03-21 12:48] #13128 closed

[2016-03-21 13:10] DanChadwick commented on #13112
I am experiencing this too, but in very limited circumstances. Seems to be FireFox, not Chrome or IE Edge. Happens with ember 2.4.3 but not 2.3.2. Does *not* happen, at least for me, in a standalone `{{input}}` helper, but does happen in the `{{input}}` helper generated in an ember-paper `{{paper-input}}`. Does *not* happen if the ember-view class is removed from the `<input>` element using a debu

[2016-03-21 13:38] DanChadwick commented on #13112
Ding, ding, ding. Forcing jQuery from 2.1.4 to 2.2.1 reproduces the issue. To reproduce:

1. Install ember-paper as a dummy app.
1. Checkout the 'dialog-jj-abrams' branch.
1. Edit bower.json:
[code]
1. Run `bower install`
1. Visit `http://localhost:4200/#/input` with FireFox.
1. Type in an input element and note the insertion point. Try to select characters. The actions work, but the visual feedba

[2016-03-21 13:57] crudo1f commented on #13112
@pixelhandler here is an ember twiddle example:
https://ember-twiddle.com/50fdee3aee87c09c7fd8

In this case the cursor is not misplaced but it is missing. Just in FF!
If you replace the jquery version by 2.1.4 everything should work fine.

[2016-03-21 13:59] rwjblue commented on #13112
So this is likely to be a jQuery bug? Has anyone searched there issue tracker for something like this?

[2016-03-21 14:04] crudo1f commented on #13112
I found nothing before I opened this here. But I was not sure if it is a jQuery issue or an ember issue about jQuery integration. Maybe I have some time to look into this, later.

[2016-03-21 14:22] DanChadwick commented on #13112
I don't see anything in the jQuery issue tracker. Version 2.2.x is not even in the list of issues you can search for, and "insertion point" returned nothing related.
https://bugs.jquery.com/query

[2016-03-21 17:04] courajs commented on #13061
I may have found the same bug. I don't think `yield` is a factor here. Here's my reduced test case: [Twiddle](https://ember-twiddle.com/540998d9d06aa72e746f?fileTreeShown=false&numColumns=2&openFiles=x-thing.template.hbs%2Capplication.template.hbs). Let me know if you think this is the same issue.

[2016-03-21 17:04] courajs commented on #13061
@Serabe You have a lot of knowledge on `(component` right?

[2016-03-21 17:53] courthead commented on #13071
Oh man, the hours I spent trying to reproduce/fix this bug before finding this thread... ugh. Good work guys!

[2016-03-21 20:10] cibernox opened #13153 "Minor regression in 2.5+ (Test helpers firing native elements)"
I discovered that https://github.com/emberjs/ember.js/pull/12575 (Implemented by me) introduced a subtle change.

After that PR,  `click(".btn-submit")` fires a click event on the first element with that class.
Previously it would trigger a many click, in all elements with that class.

I'd personally found this regression **beneficial** in my test suite. I caught three tests that where broken beca

[2016-03-21 20:32] SaladFork opened #13154 "Component's `attributeBindings` with boolean value don't behave as documented"
1) The [`attributeBindings` documentation](http://emberjs.com/api/classes/Ember.View.html#toc_html-attributes) states:

However, following the provided example:
[code]
results in:
[code]
And not `disabled="disabled"`.

---

2) The documentation then provides an example that shows using a CP to toggle a property between `true` and `false`. When set to false, however, the attribute is not removed as

[2016-03-21 20:52] MarkMT opened #13155 "queryRecord returns array, expect single record"
According to the description of `queryRecord` in the [guides](https://guides.emberjs.com/v2.4.0/models/finding-records/)  (emphasis added) -

However what I'm seeing in practice is that the return value actually resolves to an _array_ with as many elements as fit the query (and it appears to be a regular javascript array not an Ember.Array). So if I want to use the method in a model I have to do s

[2016-03-21 21:00] #13155 closed

[2016-03-21 21:00] stefanpenner commented on #13155
you likely meant: https://github.com/emberjs/data/issues/new

[2016-03-21 21:12] MarkMT commented on #13155
Ah, indeed, thank you!

[2016-03-21 22:43] ro0gr commented on #13127
I'll take a look on
- [ ] get helper tests :lock:

I'm not familiar with Glimmer2 yet. Anyway #13103 is merged now so I'll try to figure out how to implement it.

[2016-03-21 22:58] GavinJoyce opened #13158 "Component positional params don't update when used with the component helper"
I came across this when [porting component helper tests to Glimmer2](https://github.com/emberjs/ember.js/pull/13140).

Twiddle: https://ember-twiddle.com/8bd17b5f64fdf1f400d8

When this is fixed, please uncomment https://github.com/emberjs/ember.js/pull/13140/files#r56916691

[2016-03-22 00:24] JackCA commented on #10608
@stefanpenner I'm just running into this as well. Is this being tracked somewhere I can follow along?

[2016-03-22 00:45] rwjblue commented on #13154
Fixed by https://github.com/emberjs/ember.js/pull/13157

[2016-03-22 00:45] #13154 closed

[2016-03-22 00:50] rwjblue commented on #13153
Thanks for opening this to get it out in the open. The current behavior (clicking the first item) seems more correct to me, and the old behavior seems more like a bug.

Acceptance tests are intended to emulate user behavior, and it generally isn't possible for a user to click in many different places at once (no matter how quick the user clicks were they would be separated by at least a millisecon

[2016-03-22 01:02] rwjblue commented on #13158
This works properly in the glimmer implementation but not HTMLBars or it doesn't work in either case?

[2016-03-22 02:13] GavinJoyce commented on #13158
I don't believe positional params have been implemented in glimmer yet
On 21 Mar 2016 6:02 p.m., "Robert Jackson" <notifications@github.com> wrote:

[2016-03-22 02:43] GavinJoyce commented on #13158
From https://github.com/emberjs/ember.js/issues/13127:

<img width="656" alt="screen shot 2016-03-21 at 19 42 23" src="https://cloud.githubusercontent.com/assets/2526/13940706/2aa348fc-ef9d-11e5-821a-c6c193775cd8.png">

[2016-03-22 10:59] cibernox commented on #13153
Good, I also think this changes is for the better.

I'm closing this so people with this problem can find a reference to why their test suite is failing and how to fix it.

[2016-03-22 10:59] #13153 closed

[2016-03-22 18:09] runspired commented on #11480
it appears you can get around this bug by binding like this
[code]

[2016-03-22 18:12] runspired commented on #12514
Likely related to #11480

[2016-03-22 19:10] thec0keman commented on #12473
This is also affecting our app.  The use case is we have a parent route with a list of items and some filtering QP's, and a child route that is an edit view.  The childroute uses `willTransition` to abort the transition if there are unsaved changes.

In our case, we may just refactor away from this design to work around this issue.

[2016-03-22 21:15] GavinJoyce opened #13164 "`{{link-to}}` transitioning classes are incorrect after `transition.abort()`"
twiddle: https://ember-twiddle.com/8aa9da800a7883b6c59a?openFiles=routes.page2.js%2C

The `ember-transitioning-in` and `.ember-transitioning-out` classes don't seem to be updated correctly when linking to a route that aborts the transition:

[code]

I'll try to create a failing test now

[2016-03-22 21:42] GavinJoyce commented on #13164
possibly related: https://github.com/emberjs/ember.js/issues/10195

[2016-03-22 22:35] GavinJoyce commented on #13164
Failing test: https://github.com/emberjs/ember.js/pull/13165

[2016-03-22 22:42] Serabe commented on #13061
Looking into it

[2016-03-22 23:24] Serabe commented on #13127
I need to work on a bug on closure components, so I'll take `closure component`'s test

[2016-03-22 23:42] plcarmel commented on #13061
Yes, I think this is the same issue.

[2016-03-23 00:36] chancancode commented on #13127
We are implementing lifecycle hooks, :lock:-ing the tests :ok_hand:

[2016-03-23 00:40] GCorbel opened #13167 "Sum macro does not works with hasMany"
I'm have this model :

[code]
When I do `model.get('nbPlaces')`, I always have 0. When I do this :

[code]

it works.

Is there something wrong?

[2016-03-23 01:11] jcope2013 commented on #13167
DS.hasMany('group') is async by default so it won't be resolved in time as it is a promise

[2016-03-23 02:46] steffenbrem opened #13170 "[Bug] Observing ember data has-many relationship is triggered multiple times"
When you are observing on ember data `has-many` relationship changes it is called multiple times for a single change.

Here is a live demonstration of the bug (open the console and click on some select options): https://ember-twiddle.com/d848368a8cc5db072174

I've asked several people on Slack about this issue but none had an idea what might be wrong.

[2016-03-23 03:05] laureanoarcanio commented on #11442
Any updates / workaround about this ? It's seems to be present on Ember 2.3.0.

[2016-03-23 08:51] GCorbel commented on #13167
Using `{async: false}` do the same. Data about groups is embed on the json.

[2016-03-23 09:28] GCorbel commented on #13167
At [this line](https://github.com/emberjs/ember.js/blob/4a404de21d70b780f2ac85b6fb265e037998d2d1/packages/ember-runtime/lib/computed/reduce_computed_macros.js#L22) `arr` is null because the value of `dependentKey` is "groups.@each.nbPlaces" and `this.get("groups.@each.nbPlaces"')` gives null.

[2016-03-23 09:43] GCorbel commented on #13167
I think adding :

[code]

if someone can confirm that there is no other way, I will contribute.

[2016-03-23 12:20] rwjblue commented on #13167
You should use separate computed properties. The first to make an array of the numbers (via Ember.computed.mapBy) and the second to do the sum on the first (via Ember.computed.sum).

[2016-03-23 15:59] karthiick commented on #12514
Issue in updating attributeBindings value after v1.12.x. here is the [twiddle](https://ember-twiddle.com/7fbbcb356b09bcfcfa00?numColumns=2&openFiles=my-component.component.js%2Capplication.template.hbs).

Earlier in 1.12.x, we have [updated the attributeBindings](https://github.com/emberjs/ember.js/blob/v1.12.2/packages/ember-views/lib/mixins/attribute_bindings_support.js#L74-L76) regardless of co

[2016-03-23 19:26] Jordan4jc opened #13171 "Actions not firing in iOS 9.3"
So I started getting some calls today about users of my app not able to do a few things in Safari or even mobile Chrome.

After some investigation I found that anything that has an action attached to it was not firing it's action at all.

I made sure I didn't have any hammer.js or other fast-click type polyfills installed and cleared out all caches to make sure it wasn't an addon and did not find

[2016-03-23 20:05] runspired commented on #13171
This doesn't count as an Ember bug, and I will be adding something to ember-hammertime to account for this Safari bug.

In general, Safari (and other mobile browsers) have required that `cursor: pointer;` be defined on the element for some time in order to trigger click behavior.

It appears that what happened here is that pre Safari 9.3, the hammer-time touch-action polyfill enabled "fast click"

[2016-03-23 22:00] robbytx opened #13172 "Computed option selected attribute in IE is unreliable if option text content is modified at the same time"
http://emberjs.jsbin.com/xobedisofi/edit?output
1. Open in IE 11 (reproduced in 11.0.9600.16428 on Windows 7 - from http://aka.ms/vagrant-win7-ie11)
2. Click "Reproduce"
3. First select box should show "A !== B"
4. Second select box (which uses option label attribute instead) should show "B === B"

I believe there is some problem related to updating the text node in the <option> element, which cau

[2016-03-23 22:24] runspired commented on #13171
ember-hammertime 1.0.2 has been released with a fix for Safari 9.3

https://github.com/runspired/ember-hammertime

[2016-03-23 22:26] khirakawa opened #13174 "Disable file watching"
Is it possible to disable file watching with `ember server`?

[2016-03-23 22:41] #13171 closed

[2016-03-23 23:25] stefanpenner commented on #13174
not the correct repo, but today i don't believe you can.

[2016-03-23 23:25] #13174 closed

[2016-03-23 23:26] khirakawa commented on #13174
Apologies, will ask on SO / Discourse.  Thanks!

[2016-03-23 23:27] stefanpenner commented on #13174
https://github.com/ember-cli/rfcs/issues/42

[2016-03-24 12:21] Serabe commented on #13061
**TL;DR** Found the issue. I think I fixed it but a few more tests are needed. I hope to have it done pretty soon.

For normal component invocation, Ember adds a `mut` automatically. Sadly, this does not happen for `contextual components`. I am adding a compiler plugin for doing so, but needs more testing before being published.

If everything goes ok, I hope to have it finished before next week.

[2016-03-24 13:42] MichaelBoselowitz commented on #12473
This is also causing issues in our app. This should definitely be classified as a bug.

[2016-03-24 14:47] courajs commented on #13061
@Serabe Thanks for the update, and for working on it :)

[2016-03-24 15:47] courajs opened #13176 "Confusing error when using `Ember.computed.or` incorrectly"
I wasn't thinking very hard, and tried to do:
`Ember.computed.or('someKey', 'tried to put a default string here')`
The error that popped up didn't really inform me what was going on:

More helpful would have been an assertion error, something like

[2016-03-24 15:47] courajs commented on #13176
Check the console on [this twiddle](https://ember-twiddle.com/f3d7d9d8f45cc8ca77ab?openFiles=application.controller.js%2C) to see current behavior

[2016-03-24 17:04] krisselden commented on #13061
If you manually use `value=(mut model.name)` does it work?

[2016-03-24 17:08] Serabe commented on #13061
Yes, it does. The problem is fixed but I need testing it a bit more before
pushing a PR

[2016-03-24 19:44] josemarluedke commented on #13088
I think this can be closed as #13100 is merged.

[2016-03-24 20:15] #13088 closed

[2016-03-24 20:15] chancancode commented on #13088
Thank you all!

[2016-03-24 20:16] turtleguyy commented on #10945
Yep, spent the last day on this one. Thanks again for the workaround guys.

[2016-03-24 23:21] mikeazo opened #13178 "textPath not rendering in the right place with Ember"
Here is my twiddle illustrating the issue: https://ember-twiddle.com/fbf7831e0fc1eca012ae?openFiles=my-component.component.js%2C

Here is a fiddle showing what I would expect the output to look like: https://jsfiddle.net/j8ppcwp1/

Notice that the textPath does not show up in the twiddle with Ember (I tried with multiple versions). This is happening in Chrome 49.0.2623.108 and Firefox 45.0.1.

I d

[2016-03-24 23:45] camunching commented on #12997
I don't think this is a Twiddle-only issue. Here is a JSBin where the issue doesn't show up on the index route, but it does show up on any other route.

To reproduce:
1. Visit http://jsbin.com/bilewi
2. Click on "bottom" - works fine
3. Scroll back up and click on "foo"
4. Click on "bottom" - should take you to the bottom of the foo page, but instead it takes you to the bottom of the index page

I

[2016-03-25 09:41] imamjaferali commented on #11224
{{input}} helper not works in IE8.
Can you help for the same issue

[2016-03-25 11:57] mikeazo commented on #13178
I tried this out on a Linux machine running Chrome 48.0.2564.116. In that version of Chrome, the textPath renders in the correct location. In Firefox 45 on that machine the textPath does not show up.

Looking at the [Chrome changelog](https://chromium.googlesource.com/chromium/src/+log/48.0.2564.116..49.0.2623.75?pretty=fuller&n=10000) going from 48 to 49, I found [this issue that was fixed in 49]

[2016-03-25 16:31] pixelhandler commented on #13178
@mikeazo that is odd that the SVG works fine in the jsfiddle but not in the ember component. I tried on mac current desktop versions of Chrome and Firefox, (looks like ember-twiddle doesn't work in Safari).

Not sure if that is related to Ember though. The template syntax is correctly rendered in the browser

[2016-03-25 16:38] pixelhandler commented on #13176
@courajs yeah I see that error in the console of our twiddle example, seems near impossible to match that up to the offending code.

This seems like a feature/enhancement request. See [CONTRIBUTING.md#requesting-a-feature](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#requesting-a-feature) which suggests to use an RFC Issue to suggest a feature/enhancement (no need for a PR with

[2016-03-25 16:56] pixelhandler commented on #13170
@steffenbrem I'm pretty sure that is the nature of observers, and one of the reasons the community has a big push to avoid using observers. I would not trust that an observer would only be called once per change, it may be more (as in your example).

In your example I do see the difference between a the frequency of the calls to the observer. But, I think that is normal.

[2016-03-25 16:56] mikeazo commented on #13178
@pixelhandler I agree, it is strange. As far as I can tell, the SVGs between the fiddle and twiddle are the same. I don't know if it is a namespace thing, or what. There have been other bugs with SVG namespaces relating to Ember that I found searching previous issues.

[2016-03-25 17:05] pixelhandler commented on #13158
@GavinJoyce I'm curious in the twiddle example regarding using `positionalParams` in two separate component that both use `Ember.Component.reopenClass` to do the same thing. Is that how you would used positional params in an app? or would you extend the component then reopenClass ?

[2016-03-25 17:23] mikeazo commented on #13178
Digging through the Chrome changelog I also found [an issue related to ahem.js and SVG](https://bugs.chromium.org/p/chromium/issues/detail?id=545551#c20). It specifically mentions xlink:href. I mention this because I noticed when I changed my standalone SVG to not have the proper xlink:href I got similar behavior to what I was seeing in the Ember component version.

[2016-03-25 17:23] miguelmota commented on #11224
@imamjaferali http://emberjs.com/blog/2015/04/20/ie8-support-update.html

[2016-03-25 17:29] GavinJoyce commented on #13158
@pixelhandler thanks, my mistake. I've updated the twiddle, the bug is still present. I'll update the tests in ember.js too, the currently `Ember.Component.reopenClass`.

[2016-03-25 17:44] krisselden commented on #13170
@steffenbrem observers are invalidators, they aren't intended to do work, they are intended to schedule work once.

[2016-03-25 17:44] #13170 closed

[2016-03-25 17:47] steffenbrem commented on #13170
:+1: Makes sense. I should use actions for this I guess instead of relying on the observer system.

[2016-03-25 18:05] topaxi commented on #11224
[code]

Should work though :)

[2016-03-25 18:17] krisselden commented on #13170
You can do `Ember.run.once(this, this.doWork);` inside the observer to schedule work to happen once asynchronously but ensure you don't pass that a new function each call or it will not be uniqued.

[2016-03-25 19:31] rwjblue opened #13182 "{{render}} helper no longer able to bubble actions without legacy controller addon."
Given the following example:

[code]

[code]

In Ember 2.0 and 2.1, that action would bubble properly to the router (and then on to the application route).  In Ember 2.2 and above this bubbling behavior is no longer present, unless the `ember-legacy-controller` addon is in use.

The root cause is that we no longer create the `controller` template local unless that addon is present (this was done i

[2016-03-25 19:49] rwjblue opened #13183 "Deprecate usage of `{{render` helper with a model param."
This is always better written today as a component invocation, we should deprecate this.

Bad:

[code]

[code]

---

- [ ] AST transform to deprecate while compiling templates (to provide line number information)
- [ ] Add deprecation guide entry in emberjs/website

[2016-03-25 20:07] rwjblue commented on #13182
Updated with a bunch of demos.

[2016-03-25 20:52] mikeazo commented on #13178
FWIW, I tried to recreate with jsbin and the textPath shows up correctly there: http://emberjs.jsbin.com/vabofejuni/edit?html,js,output

Granted, it is not in a separate component like in the other example. I tried making a twiddle that just has the SVG in the application template and I still saw the bug there.

[2016-03-26 02:27] #13182 closed

[2016-03-26 07:40] MatrixZ commented on #13127
"void element" test #13187 :scissors:

[2016-03-26 17:39] Joelkang commented on #13127
`block params` test #13189

[2016-03-27 01:49] kybishop commented on #10449
@rwjblue the bug persists when the property is used as a query param: https://github.com/emberjs/ember.js/issues/13023

[2016-03-27 08:11] tharrington1 commented on #11247
I came across a use-case that seems to need async instance initializers to work.

I'm helping build an ember app in the finance sector that has admin users and normal users (our customers). There are routes, controllers, etc that are admin only. Even if a normal user somehow manages to discover the admin stuff, our backend will block any attempted admin operation. However, this isn't enough. For o

[2016-03-27 15:39] rwjblue opened #13191 "Deprecate `Ember.Handlebars.SafeString`."
Suggest using `Ember.String.htmlSafe` over `Ember.Handlebars.SafeString`:

[code]

For a few reasons:

* The `SafeString` API is a tad bit "trolly" (many questions arise from it "not working" due to forgetting to use `new`).
* The `Ember.Handlebars` namespace is basically legacy and going away

---

The steps needed for this are:

- [ ] Change [this](https://github.com/emberjs/ember.js/blob/master

[2016-03-27 17:07] GavinJoyce commented on #13127
:wave: I'll take:

 - [ ] :lock: `{{input}} tests`

[2016-03-27 21:29] mixonic commented on #13020
We should have a better error message for when a property of layout exists on a component and is not a template. This much seems easy to add.

[2016-03-27 21:32] mixonic commented on #12142
@rwjblue is this considered complete?

[2016-03-27 21:54] mixonic commented on #12859
As we have no response from @jakedetels, I'm going to provisionally mark this wontfix and close it.

[2016-03-27 21:54] #12859 closed

[2016-03-27 21:56] mixonic commented on #12618
It seems like this just needs confirmation against the testing repo provided in the original ticket.

[2016-03-27 21:59] mixonic commented on #12748
@justinaray I'm not sure if there is an issue here, or what is might be. The legacy views addon should silence any deprecation notices in 2.0, though in 2.4 it will again fire a deprecation notice.

Happy to reopen if I've missed something.

[2016-03-27 21:59] #12748 closed

[2016-03-27 22:07] mixonic commented on #12520
This kind of exists as `value=` for http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_action @alexander-alvarez. If you're suggesting an extension to that I suggest following up with an issue on the RFC repo!

[2016-03-27 22:07] #12520 closed

[2016-03-27 22:09] mixonic commented on #12140
There is indeed an ongoing guide localization effort organized on slack in #documentation. Closing this for now!

[2016-03-27 22:09] #12140 closed

[2016-03-27 22:10] mixonic commented on #12204
@mmun is this still outstanding? What remains?

[2016-03-27 22:13] #11973 closed

[2016-03-27 22:14] #12162 closed

[2016-03-27 22:17] #11781 closed

[2016-03-27 22:18] mixonic commented on #11689
I'm going to close this. I think @mmun did some of it.

[2016-03-27 22:18] #11689 closed

[2016-03-27 22:21] mixonic commented on #12508
Closing in favor of https://github.com/emberjs/ember.js/pull/12523

[2016-03-27 22:21] #12508 closed

[2016-03-27 22:22] mixonic commented on #12129
@rwjblue can this be closed?

[2016-03-27 22:24] mixonic commented on #11395
Specifically, we would accept a patch that causes `<div style="{{mySafeStyle}}"></div>` to be treated as "safe". However `<div style="color: {{mySafeColor}};"></div>` should remain unsafe. It can probable get a better error message though.

[2016-03-27 22:26] #12679 closed

[2016-03-27 23:28] mmun commented on #12204
@mixonic it's done. Good catch.

[2016-03-27 23:28] #12204 closed

[2016-03-27 23:32] mmun commented on #11689
Yes it should be completely removed now. Except for `fooBinding: Global.blah` which I left because we plan to deprecate bindings entirely.

[2016-03-27 23:43] tsmacdonald commented on #11251
@diogomafra That's a dead link, the current version is [here](https://github.com/emberjs/ember.js/blob/master/packages/ember-routing/lib/system/router.js#L1008-L1014). I do think that this should be documented somewhere more user-friendly than a source file, though. I expected to see it [in the Ember guide](https://guides.emberjs.com/v2.4.0/routing/defining-your-routes/), for example.

[2016-03-28 10:36] ruz commented on #12679
Just closed? It's perfectly valid issue. Still hasn't been addressed in the code neither in [https://guides.emberjs.com/v2.4.0/templates/actions/#toc_specifying-the-type-of-event](documentation). It's quite disturbing considering that the document mentions keyPress as example.

[2016-03-28 14:13] rwjblue commented on #12679
Closure actions get the event passed in, this is no longer an issue.

[2016-03-28 14:18] rwjblue commented on #12129
Ya. Will close for now, if/when we start pushing on GlimmerComponent again, we can reevaluate.

[2016-03-28 14:18] #12129 closed

[2016-03-28 14:20] #12142 closed

[2016-03-28 16:39] kiwiupover commented on #13127
I'll take the yield tests
- [ ] yield tests

[2016-03-28 17:54] EVASIVE commented on #13070
Sorry guys for long answer. Yeah, thanks for example @rwjblue it really works in twiddle and in clear test project. But when i used mentioned code sample in existed project, it does not executes properly. Need some more time for debugging and researching problem.

[2016-03-28 18:16] iezer commented on #12142
@rwjblue Looks like this was merged a while ago but the documentation is not on the website. If I build the docs locally off of `ember.js/master` I see the docs for `Transition` there. Maybe it requires a website release.

[2016-03-28 18:22] iezer commented on #12142
CC @Gaurav0 ^^

[2016-03-28 18:27] sweatypitts commented on #12632
I'll take a shot at this.

[2016-03-28 18:28] Gaurav0 commented on #12142
@iezer Unless consensus is built to release earlier, I don't think it will appear before Ember 2.6 ish as it was only merged to canary. If you would like to see it sooner, please discuss on #documentation slack. cc/ @acorncom @locks

[2016-03-28 18:28] Joelkang commented on #13127
I'll also go ahead and take the `attrs_lookup` tests

[2016-03-28 18:41] iezer commented on #12142
That's great. Thanks.

[2016-03-28 18:47] Dhaulagiri commented on #13142
Opened https://github.com/tildeio/glimmer/pull/115 for this

[2016-03-28 19:08] jheth commented on #13127
I'm attempting to work on the partial helper tests but I'm new will likely need some guidance.

[2016-03-28 19:41] mikeazo commented on #13178
There is no reason Ember would be [using srcdoc](https://bugs.chromium.org/p/chromium/issues/detail?id=598035#c7) in this case is there?

[2016-03-28 19:43] oso-mate commented on #12618
Forked the original leaker repo and upgraded to Ember 2.3.2. The memory leak issue seems to have been fixed in the latest version.

<img width="1440" alt="screen shot 2016-03-28 at 12 23 58 pm" src="https://cloud.githubusercontent.com/assets/318347/14088130/9d0d1a4a-f4e2-11e5-9ec1-1f15987a5691.png">

[2016-03-28 19:50] Gaurav0 commented on #13178
Ember Twiddle is using srcdoc and sandboxed iframe for security reasons. Ember itself does not use srcdoc.

[2016-03-28 21:12] tharrington1 commented on #11247
The solution I found was to keep the admin routes in the main app file. It's not ideal for us, so I'm still looking for a way to not load them until user authentication occurs.

Just to update/clarify my original comment above: ember-simple-auth does session restore at the beginning of the applicationRoute.beforeModel() promise chain. Only after session restore are we able to know if the user is a

[2016-03-28 21:45] Joelkang commented on #13127
Taking the `binding integration` tests too

[2016-03-28 22:35] stefanpenner commented on #12618
to be pedantic, we are working around a v8 bug in that PR :trollface:

[2016-03-28 22:40] calderas commented on #12618
I just tested this again with the latest ember/ember-cli and looks so much better !!!
https://github.com/calderas/leaky-mcleakerson/tree/feature/ember-2.4.3

Memory doesn't increase between acceptance tests anymore
<img width="602" alt="screen shot 2016-03-28 at 6 27 29 pm" src="https://cloud.githubusercontent.com/assets/118375/14092245/932cf348-f513-11e5-8a35-95d89f41d3be.png">

Thanks for the co

[2016-03-28 23:26] sweatypitts commented on #12632
@rwjblue @mixonic This can be closed now, resolved in the above PR.

[2016-03-29 05:24] #12632 closed

[2016-03-29 05:25] rwjblue commented on #12632
Awesome, thank you!

[2016-03-29 05:29] #12169 closed

[2016-03-29 05:39] robbytx commented on #13172
Unfortunately, due to https://bugzilla.mozilla.org/show_bug.cgi?id=option-label, Firefox requires that we put the label in the option's text content, not in the label attribute.

[2016-03-29 11:37] mikeazo commented on #13178
FYI, I did some more testing and I have figured out the issue. It is the `<base>` tag that Ember uses. There is some info [on this Chrome bug report](https://bugs.chromium.org/p/chromium/issues/detail?id=470608). So, it looks like it is not an Ember specific thing. That said, any good ideas on how to work around this?

[2016-03-29 18:38] willrax commented on #13191
Is this still up for grabs?

[2016-03-29 23:21] workmanw opened #13211 "Wildcard / globbing routes broken on canary"
I was trying to test out Ember 2.6 with our app. I noticed that all my deep links were broken and ended up at our 404 page. It turns out that ember was always transitioning to our wildcard routing regardless of other valid routes. I bisected the change down to this commit: 6bef08b45. Not surprisingly, changing the route-recognizer back to "0.1.5" and rebuilding ember, it seems to restore this func

[2016-03-29 23:47] tojofo opened #13212 "Component Backed By Collection Does Not Render All Elements After Item Removed"
Apologies for the wordy title but I did not know how to describe it.

DEBUG: -------------------------------
DEBUG: Ember      : 2.4.0
DEBUG: Ember Data : 2.4.0
DEBUG: jQuery     : 1.12.0
DEBUG: -------------------------------

This bug requires jquery ui so I could not get a twiddle working, here is a repo with code demonstrating the bug https://github.com/tojofo/ember-component-jquery-ui-sortabl

[2016-03-30 12:04] dennislaumen commented on #13150
What does the "Needs Bug Verification" label mean? Is there anything we (I'm a colleague of @WimAtIHomer) can do to help speed up this verification? Thanks in advance!

[2016-03-30 15:26] kiwiupover commented on #13127
#13213 is open for the `{{yield}}` tests

[2016-03-30 15:33] Serabe commented on #13127
Open #13214 for `closure component` tests.

[2016-03-30 17:43] bdiz opened #13216 "Testing a Component using _ProxyMixin produces autorun error."
Trying to use a component that mixes in _ProxyMixin (ember v2.4.1). I get the autorun error during integration testing.

[code]

Then in my test:
[code]

This results in the autorun error: `Error: Assertion Failed: You have turned on testing mode, which disabled the run-loop's autorun. You will need to wrap any code with asynchronous side-effects in a run`

I found when I add a run-loop to `lib/mi

[2016-03-30 18:44] kiwiupover commented on #13127
#13215 is opened for the `{{tesxtarea}}` helper tests

[2016-03-30 19:44] nickiaconis opened #13217 "CP dependency keys split on commas?"
Is this a thing we (I?) can deprecate? It would be nice to remove the extra loop from that function, and it would also open up the ability to use key names with commas (this bit me recently). I don't think this functionality is documented in the guides/api, but I didn't look super closely.

[2016-03-30 19:45] nickiaconis commented on #13217
/cc @rwjblue @nathanhammond

[2016-03-30 19:45] nickiaconis commented on #13217
"That function" being github.com/emberjs/ember.js/blob/v2.4.0/packages/ember-metal/lib/expand_properties.js#L48-L52 of course. :sweat:

[2016-03-30 20:19] cesardariogarcia commented on #13183
@rwjblue I tried to solve this issue but I'm new to ember so I'm not pretty sure that i did it well,
could you check this changes to see if they are good to make a PR.
Or in defect I am open to any suggestion to achieve this, thanks :).

https://github.com/cesardariogarcia/ember.js/commit/1f987180a7d4b8f16fa67ab6489b104f7ea28d40

p.s. I located the deprecated call in the validation because there i

[2016-03-30 21:23] workmanw commented on #13211
I was finally able to create a failing test for the route-recognizer. So I added an issue over there and a PR with the test.

I'm not sure how to proceed with this issue because this dependency regression does result in an Ember regression.

[2016-03-30 21:25] rwjblue commented on #13217
Using brace expansion was a feature added sometime in 1.5ish timeframe.

    name: computed('model.{last,first}', function() {
      let { last, first } = this.getProperties('last', 'first');
      return first + ' ' + last;
    })

It seems to me that that comma detection/handling is what is supporting this feature, am I missing something?

[2016-03-30 21:57] nathanhammond commented on #13217
I had no idea that was a feature.

1. We should at least do this without `forEach` for such a common code path.
2. If we can show significant perf wins removing this would that be grounds for deprecation of the sugar?
3. Alternatively we could probably do a transform at compile time to drop the runtime code and still have the feature.

[2016-03-30 22:36] nickiaconis commented on #13217
Interesting. I too was not aware of this feature. Do you know if/where it's documented? Might we want to only split on commas that are inside curly braces? That is `'model.{first,last}'` gets split, but `'ember-cli,-the-next-generation'` does not.

Also, I can put together a PR for 1). A question that comes to mind is, would `'person.{name.{first,last},twitterHandle}'` be expected expand to expand

[2016-03-30 23:52] bendemboski commented on #12824
I found what looks like a better workaround for this issue in case anybody is interested. The ```Transition``` objects have a ```urlMethod``` property that indicates how the URL is going to be updated when the transition completes. In particular, it's falsey when the URL is not going to be updated, e.g. because this is the initial transition on app boot.

So, substituting ```if (!transition.urlMet

[2016-03-30 23:59] offirgolan opened #13221 "Computed properties crash when used as query params"
Ember: 2.0+

I looked through open/closed issues but I didnt find anything about this nor have I seen anything in the docs/blog about this but ever since my upgrade to 2.x, I havent been able to use CPs as query params but instead was forced to use observers.

[Ember Twiddle](https://ember-twiddle.com/f7955b67cf1c5a9f4155b48bb5a7a37c?openFiles=controllers.application.js%2C)

[code]

<img width="14

[2016-03-31 13:29] stefanpenner commented on #12915
could this be related? https://bugs.webkit.org/show_bug.cgi?id=156034

[2016-03-31 14:19] WimAtIHomer commented on #13150
I have made a small project that shows the problem https://github.com/WimAtIHomer/queryParams

[2016-03-31 19:50] robbiespeed commented on #12719
I've figured out how to solve the issue, though now I'm not sure it should be.
The `routing` service handles `transitionTo` arguments differently:
[code]
compared to the regular `route.transitionTo`:
[code]
Obviously the `routing` service is still private, but once it becomes public I think people would expect it to function the same as the `route.transitionTo`. However personally I think the way

[2016-03-31 20:12] kboucher opened #13224 "Ember core components should support other WAI-ARIA attributes"
Currently only the `role` (`ariaRole`) attribute is supported in Ember core components. Various WAI-ARIA attributes are essential to providing a usable experience for impaired users.

For example using `link-to`:
[code]
renders:
[code]
Due to the number of WAI-ARIA attributes and their validity in various tags makes it difficult to suggest an exhaustive list. Perhaps any attributes with the `aria-

[2016-03-31 21:14] workmanw commented on #10945
:clap: :clap: :clap: :clap:

[2016-03-31 23:25] markcharyk opened #13225 "Deprecation of Handlebars.SafeString caused it to break"
When this Pull Request was merged (https://github.com/emberjs/ember.js/commit/44d930c943a024307ea5e2081709b1e3160a2f1a) it ended up breaking the Handlebars.SafeString functionality instead of simply deprecating it. I can reproduce the issue with these two Ember Twiddles:

Working in Beta: https://ember-twiddle.com/44ac2a21705abc5486ed88f971465cad
Broken on Canary: https://ember-twiddle.com/3201249

[2016-03-31 23:56] rwjblue commented on #13225
Thank you for testing and reporting!  https://github.com/emberjs/ember.js/pull/13226 should fix.

[2016-04-01 00:29] #13225 closed

[2016-04-01 06:30] AmazingJaze opened #13227 "JSCS tests fail when built in Windows"
@rwjblue quick question about unit test results. When I follow steps in the readme to build Ember and run unit tests in the browser I get 160+ jscs test failures.
![ember_2 3 0_testresults](https://cloud.githubusercontent.com/assets/6732159/14199235/71b5bb4c-f797-11e5-8365-fc96b065fe9e.PNG)

So far I've verified that I see these failures in both Chrome and Edge for the v2.3.0, v2.4.3 and master br

[2016-04-01 06:33] AmazingJaze commented on #13227
To be clear, this is through running tests using `npm start` and http://localhost:4200/

[2016-04-01 07:04] stefanpenner commented on #13227
Typically questions should be asked on discourse or stack overflow. This tracker is specifically for tracking bugs

[2016-04-01 07:14] jdalton commented on #13227
Doc bug?

[2016-04-01 13:58] rwjblue commented on #13227
The tests do generally pass. I suspect there is some sort of environment issue causing these failures. Based on the failure you pasted, my complete guess would be that the exception we have [here](https://github.com/emberjs/ember.js/blob/master/lib/jscs-rules/require-comments-to-include-access.js#L8) is not properly handling \r\n...

[2016-04-01 14:03] stefanpenner commented on #13227
Hmm. Smells like a windows and its line endings then.

[2016-04-01 17:55] mydea commented on #11471
We are also experiencing this problem, together with slugs. I ported the example showing the problem to Ember Twiddle:
https://ember-twiddle.com/f93d7e772cba9159f73e567a4b52a186?openFiles=routes.user.js%2C

with latest canaray ember/ember-data. Basically, this makes it impossible to use slugs in our application. We kind of fixed it by overwriting LinkComponent:

[code]

But I think this is somethi

[2016-04-01 20:49] YoranBrondsema opened #13229 "`classNameBindings` as a computed property"
Hi,

I'm struggling to find a clean solution to a use-case where I think having `classNameBindings` as a computed property would provide a solution.

I have a following component. It has a computed class `side` which takes values 'left' or 'right'. The property `side` is quite expensive to compute, i.e. it requires network requests.

[code]

Now there are cases where I don't actually need to have

[2016-04-01 22:06] offirgolan opened #13230 "Calling _super in a CP has the wrong context when retrieved from an action"
In an Ember.Object, when you call `this._super` in a CP, it will retrieve the parent's value of that same property. What was found is that when you fetch a CP that has a `_super` call in an action handler, the `_super` context is that of the parent's action and not of the parent's CP.

[Ember Twiddle](https://ember-twiddle.com/b972368d3a07da5dba8986c39462168f?openFiles=components.my-component.js%2

[2016-04-01 22:11] offirgolan commented on #13230
cc @stefanpenner @rwjblue

[2016-04-01 22:11] offirgolan commented on #13221
cc @stefanpenner @rwjblue

[2016-04-01 22:15] stefanpenner commented on #13221
ya, this is sorta known....

cc @machty / @trek

[2016-04-01 22:23] stefanpenner commented on #13230
Yup, seems like a bug.

@offirgolan if you have cycles a failing test would be sweet, im going to skim the code and see what may be going sideways.

[2016-04-01 22:33] rwjblue commented on #13221
See discussion in https://github.com/emberjs/ember.js/issues/11592 for details/explanation.

I'm sorry this has been causing you trouble, but I think this is just something that we don't support.

[2016-04-01 22:33] #13221 closed

[2016-04-01 22:39] stefanpenner commented on #13230
I believe the issue is, the cp has no super so it doesn't bother super wrapping it. But if it does not super wrap it, it doesn't reset the actions `_super`.

https://github.com/emberjs/ember.js/blob/master/packages/ember-metal/lib/mixin.js#L105-L107

[2016-04-01 22:54] offirgolan commented on #13230
:+1: Sweet will do. I dont have too much free time unfortunately, but if I find a spare moment, ill whip up a test. Thanks for taking this on!

[2016-04-01 22:59] offirgolan commented on #13221
No worries and thanks for the update!

[2016-04-02 00:40] acorncom commented on #13217
If we do remove this, it'd be helpful to know over on the guides as well, as we just merged a PR to put it into the guides ;-)  See https://github.com/emberjs/guides/pull/1348 for more detail (and a link back to the original blog post where it was introduced)

[2016-04-02 01:13] stefanpenner commented on #13217
* This isn't going to be removed.
* Moving to for loops seem fine
* this is done at design time, and is quite unlikely to pose much of a performance hit especially relative to things like extend and merge mixins. If someone can demonstrate this to be incorrect, a Babel plugin could be created. That being said, I would believe the overhead (although it wouldn't surprise me if some small TLC is requ

[2016-04-02 01:18] krisselden commented on #13217
@stefanpenner that was the original idea, but if you define a lot of classes design time starts being an issue for cold boot.

Last time I was in this code it seemed like there was a lot of cleanup that could be done.

@nickiaconis did you actually notice a particular issue with this? In quite a few cases simple closures in forEach inline.

[2016-04-02 01:19] stefanpenner commented on #13217
To direct the energy someone that will absolutely  yield a big win (and fix some bugs we have a hard time fixing without perf issues). Pre compiling mixins (all arguments to extend) to prevent the need for mixing merging needing to detect each member, would be rad.

[2016-04-02 01:36] nickiaconis commented on #13217
@acorncom Fantastic! Is anyone working on getting this into the API docs as well?

@stefanpenner It would appear this has [already been migrated](https://github.com/emberjs/ember.js/commit/1af088fc114a01d81dc13e390568b1427a63d33b) to for loops.

@krisselden There is a bug with the logic behind this. It splits on all commas, even those that are not part of a brace expansion. I'm working on a fix, b

[2016-04-02 01:44] stefanpenner commented on #13217
@krisselden I would love to see cases where forEach in lines.  Or do you just mean  the captured context is dropped and don't itself cost

[2016-04-02 06:00] AmazingJaze commented on #13227
I've edited the title for clarity.

Thanks @rwjblue and @stefanpenner  for the tips. I went and modified the [regex's here](https://github.com/AmazingJaze/ember.js/commit/317cae766471b6e0255846d95bad087e1cc26850) in my fork but it didn't seem to address the issue.

Curiously [this function](https://github.com/AmazingJaze/ember.js/blob/317cae766471b6e0255846d95bad087e1cc26850/lib/jscs-rules/require

[2016-04-02 11:40] zoltan-nz opened #13234 "Unresolved sourceMappingURL in the bower release of ember-template-compiler.js"
In the bower release of Ember.js, there are two files, `ember-template-compiler.js` and `ember-runtime.js`, which contain unresolved sourceMappingURL.

For example, the last couple of lines from `ember-template-compiler.js` (line 20729-20732):

[code]

This could cause problem in some build tools, for example `grunt-contrib-concat` fails when sourceMap feature is enabled, because the installed Emb

[2016-04-02 15:33] chadhietala commented on #13127
I'll take the `view` helper tests

[2016-04-02 23:31] #12266 closed

[2016-04-03 03:41] acorncom commented on #13191
Looks like this issue can be closed?

[2016-04-03 11:50] #13191 closed

[2016-04-03 16:22] rwjblue commented on #12169
Fix is included in v2.4.4.

[2016-04-03 16:22] rwjblue commented on #10945
Fix is included in v2.4.4.

[2016-04-03 19:05] Serabe opened #13240 "Changing `firstObject` does not cause a rerender."
Given the following template:

[code]

Setting `collection.firstObject` to a different value does not rerender.

[Twiddle](https://ember-twiddle.com/d30e0bca14b47c13c46af11813a4308b)

[2016-04-03 19:07] chancancode commented on #13240
Is that a supported way to mutate an ember array? o_0 cc @rwjblue

[2016-04-03 19:13] rwjblue commented on #13240
I would not expect `someArray.set('firstObject', 'foo');` to set the first item today, though I do suppose that if you think about it when you call `someArray.get('firstObject')` it works so it is somewhat surprising that you can't set it...

[2016-04-03 19:18] Serabe commented on #13240
I would expect that the call either sets it or raises a `readOnly` assertion (`Cannot set read-only property firstObject on object: x`).

[2016-04-03 19:24] rwjblue commented on #13240
@Serabe - Ya, I agree that silently failing isn't good.  I would lean towards making it a `readOnly` error I think...

Open to suggestions from @krisselden / @mmun though...

[2016-04-03 19:42] rwjblue commented on #13234
Should be resolved by https://github.com/emberjs/ember.js/pull/13241.

[2016-04-03 20:12] mmun commented on #13240
Setting `firstObject` should raise an error, yes. It might be possible that this introduces errors in people's apps where there weren't any previously, e.g. in `{{foo-bar baz=array.firstObject}}` because of the two-way binding, but I'd guess it would be pretty rare.

[2016-04-03 20:50] zoltan-nz commented on #13234
@rwjblue Brilliant. I love it. Thank you!

[2016-04-03 20:57] #13234 closed

[2016-04-03 20:57] rwjblue commented on #13240
Ya, it seems rare and also a likely source for other bugs...

[2016-04-04 00:08] rwjblue commented on #13230
Submitted https://github.com/emberjs/ember.js/pull/13242 with a couple tests and fix.  Needs review.

[2016-04-04 01:12] offirgolan commented on #13230
👌 thanks Rob

On Sunday, April 3, 2016, Robert Jackson <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2016-04-04 01:18] mmun opened #13243 "Deprecate Ember.Binding"
This issue tracks the deprecation of Ember.Binding (and *Binding properties). They've not been needed for a very long time. The existing use cases are covered by computeds and service injections.

- [ ] Add an entry in the deprecation guides
- [ ] Add deprecations to core
  - Trigger a deprecation when the binding connects so that we can provide better upgrade suggestions. If its oneWay, suggest u

[2016-04-04 13:48] rwjblue commented on #13243
@mmun - Sounds like a good plan, thanks for working on it...

[2016-04-04 16:37] Gaurav0 opened #13244 "didReceiveAttrs and friends from 1.13 not documented in API"
I would be willing to write and PR this but I am not sure which file the documentation belongs. It may be Ember.ViewTargetActionSupport?

[2016-04-04 16:49] acorncom opened #13245 "[meta] Improve issue triaging workflow to save core team bandwidth"
Per a discussion on Slack, on the `#-learning` channel:

[code]

[code]

Looks like we have a few items that need to be worked out:

- [ ] core team approval (in addition to @rwjblue)
- [ ] finding / building a bot that does what we're after
- [ ] setting the bot up on this repo

[2016-04-04 16:49] rwjblue commented on #13244
I would add the documentation directly to `packages/ember-views/lib/components/component.js` for now.  When `Ember.GlimmerComponent` lands, we would potentially have to tweak that but it seems like a good starting point.

One thing to keep in mind, is that we do not want to document the arguments to these hooks (because we feel that the arguments are somewhat wrong/bad) so we just want to document

[2016-04-04 16:57] rwjblue commented on #13245
I think it would be easier to start with a couple "trusted advisors" that would have access to close issues directly.  Unless a bot already exists, I feel that writing one will take much more time than just giving commit to people that we already trust...

[2016-04-04 17:04] acorncom commented on #13245
Looks like a bot may exist, but it's written in (wait for it ...) PHP :grinning:
https://github.com/carsonbot/carsonbot

Sounds good on the trusted advisor route as well if we'd prefer that ...

[2016-04-04 18:19] Gaurav0 opened #13247 "Building docs fails"
While running `ember ember-cli-yuidoc` part of build, getting:

[code]

This is on master branch.

[2016-04-04 18:23] stefanpenner commented on #13247
@Gaurav0 can you share, os / node version / npm version etc. ? This will help anyone who debugs further.

[2016-04-04 18:24] Gaurav0 commented on #13247
OS: Mac OS/X Yosemite 10.10.5
node: 4.2.2
npm: 2.14.10

[2016-04-04 18:29] stefanpenner commented on #13247
@Gaurav0 thanks

[2016-04-04 19:38] toddjordan commented on #13247
we did merge a yuidoc postprocessing update recently for feature-flagged code.  Trying to reproduce to make sure its not because of that.

[2016-04-04 20:04] toddjordan commented on #13247
Removed the yuidoc preprocessor for feature-flags recently added, but still get the error.

[2016-04-04 20:45] #13247 closed

[2016-04-04 20:57] mbasset opened #13249 "When using `Ember.ObjectProxy` as a service we get a deprecation warning message."
We are using ember 2.4.2 and have recently migrated from ember 1.11. Everything works as expected however we are getting a deprecation on one of our services where we use `Ember.ObjectProxy` object rather than an `Ember.Service` object.

```DEPRECATION: In Ember 2.0 service factories must have an `isServiceFactory` property set to true. You registered (subclass of Ember.ObjectProxy) as a service f

[2016-04-04 21:15] mbasset commented on #13249
Was able to figure this out. It was a non-obvious solution explained here. Apparently this `isServiceFactory` needs to be set at the class level. Example code that worked for us here:

https://github.com/emberjs/ember.js/pull/5392#issuecomment-128415057

[2016-04-04 21:15] #13249 closed

[2016-04-04 21:23] john-kurkowski commented on #12169
Hmm, after upgrading "ember" to "2.4.4" in my bower.json, and removing taras's [`AbortAndTransitionTo` workaround](https://github.com/emberjs/ember.js/issues/12169#issuecomment-166800008), I still have the `TypeError: Cannot read property 'name' of undefined` error. Same stacktrace as [this comment](https://github.com/emberjs/ember.js/issues/12169#issuecomment-147632472).

[2016-04-04 22:08] raytiley commented on #12169
@john-kurkowski can you try to get a simple ember-twiddle / jsbin reproduction together? Now that all this code is fresh in my mind I can probably figure it out pretty quick with a reproduction.

[2016-04-05 01:02] sweatypitts commented on #13229
This seems better semantically IMO. Your "ideal" example does the same thing but is less clear what's going on.

I'm not sure how this could be avoided even in your preferred syntax. You might be able to cram more logic into a single function but you wouldn't want to do that anyway.

[2016-04-05 02:18] adamdonahue opened #13253 "And this is where you lose me ..."
It's this kind of thing -- seems minor, but it used to show up all over -- that turns me off of Ember:

Why the need for this "magic"?  Why can't you just make it `rentals` to `/rentals` and avoid this kind of silliness?  It comes across as needless cognitive overhead.  Like I said, minor, but the kind of thing that can get annoying if done too often.

[2016-04-05 02:31] mixonic commented on #13253
Thanks @adamdonahue, but the Ember.js repo is not a helpful place to share this feedback. Ember-Data has its own repo, though you may want to try and rephrase the feedback to be specific and actionable if you follow up.

[2016-04-05 02:31] #13253 closed

[2016-04-05 02:31] stefanpenner commented on #13253
I'm curious where this is written?

[2016-04-05 02:44] rwjblue commented on #13253
I believe the text is coming from the guides ([source here](https://github.com/emberjs/guides/blob/master/source/localizable/tutorial/ember-data.md#L125) / [guides link](https://guides.emberjs.com/v2.4.0/tutorial/ember-data/#toc_updating-the-model-hook)).

[2016-04-05 05:11] stefanpenner commented on #13253
Cc @locks   Where best to report this issue?

[2016-04-05 09:29] fknoll opened #13254 "{{link-to}} deep linking to route paths that contain multiple dynamic segments creates invalid href URL"
[code]

```{{link-to}}``` deep linking to route paths that contain multiple dynamic segments creates **invalid href URL**

Given...
[code]

Then...
[code]

Creates a...
[code]

And not the expected...
[code]

[2016-04-05 09:39] greyhwndz commented on #13253
@adamdonahue I think that issue should be posted in the guides:
https://github.com/emberjs/guides/issues

[2016-04-05 11:22] bradleypriest commented on #13253
From what I can understand he's missing clarity on why the `findAll` statement is  `this.store.findAll('rental')` instead of `this.store.findAll('rentals')`.

Most likely a misunderstanding in that the finder methods take the model class key rather than the route path itself.

[2016-04-05 11:50] rwjblue commented on #13254
Both dynamic segments are the same name so the deepest one clobbers. All params are stored in a single POJO so the names need to be unique. Generally we would name these :post_id and :comment_id.

[2016-04-05 13:10] optikalefx opened #13255 "input event on HTML5 range does not fire in IE11 (change event incorrect behavior)"
I've confirmed this in a fresh install. In all other browsers > than IE11 'input' event fires for a component defined as a type range, but not for IE11.

The change event on > IE11 browsers only fires once when the mouse is released. However in IE11 it is fired non stop as the `input` event should do.

So 2 things need to happen. the `input` event needs to fire non stop in IE11 and the `change` ev

[2016-04-05 13:43] optikalefx commented on #13255
This is a jQuery bug I guess http://stackoverflow.com/questions/18544890/onchange-event-on-input-type-range-is-not-triggering-in-firefox-while-dragging  should this be a will not fix?

[2016-04-05 13:58] adamdonahue commented on #13253
I was stating that the link between `rental` (singular) and `rentals` plural appears to be implied, not linked specifically.  Would it not be clearer to keep things consistent throughout without automagically pluralizing the URI path?

[2016-04-05 13:59] adamdonahue commented on #13253
Just food for thought.

[2016-04-05 14:20] bradleypriest commented on #13253
Originally the method definition was `store.findAll(App.Rental)` which leaves much less room for confusion.
However I can totally see how the move to modules and the change to using container keys has left this open to misunderstanding.

[2016-04-05 14:41] medokin opened #13256 "Active class missing after transition to child route, since latest beta"
since v2.5.0-beta.4

#13169 seems to break something. Active class is missing after transition to child route.
Twiddle example

https://ember-twiddle.com/8e38c8ca6ba43b6331a3b0ff4c5a4cf7?openFiles=templates.application.hbs%2C

[2016-04-05 14:47] locks commented on #13253
What @bradleypriest said. You are "finding all records of rental type". The adapter is then responsible for translating that into an endpoint, and that transformation is dependent on the adapter you choose. For RESTAdapter and JSONAPIAdapter it happens to be `/<pluralized name>`, but it could be anything like a websocket.

I believe this is addressed in more detail in the `Models` section, to whic

[2016-04-05 14:52] GavinJoyce commented on #13256
thanks, looking...

[2016-04-05 15:13] HeroicEric commented on #13142
@Dhaulagiri should this be closed now since https://github.com/tildeio/glimmer/pull/115?

[2016-04-05 15:22] #13142 closed

[2016-04-05 15:39] Dhaulagiri commented on #13142
I think it would still be a problem in ember since ember is pointing at an older release, but there isn't much to be done about it until more glimmer work lands

[2016-04-05 16:08] rwjblue commented on #13255
This seems like browser inconsistency (or a bug if you review https://bugzilla.mozilla.org/show_bug.cgi?id=853670, https://html.spec.whatwg.org/multipage/indices.html#event-input-change, and https://html.spec.whatwg.org/multipage/indices.html#event-input), but not a bug in Ember itself (we have very little to no ability to modify the browser event behaviors).

[2016-04-05 16:12] rwjblue commented on #13142
Confirm, not much we can do until we get updated to a later SHA (and that requires some intricate knowledge of the changes in glimmer and how they relate to Ember).  Should be worked out in the next few days I believe...

[2016-04-05 16:31] optikalefx commented on #13255
So we can close this, but should this be a bug in for jQuery then you think? Ember uses jQuery eventing system. They should normalize the events I think.

[2016-04-05 16:31] #13255 closed

[2016-04-05 17:43] rwjblue commented on #13255
It seems like a browser bug. It is possible that jQuery could try to normalize, but it should ideally be addressed by the IE team (possibly already fixed in Edge).

[2016-04-05 18:09] Arkham opened #13258 "Assertion Failed: You're not allowed to have more than one controller property map to the same query param key"
Hi there,

I just updated one of my apps to v2.4.4 and I saw this error popping up:

[code]

The weird thing is that it appears that the error is referring to the same queryParam. If I revert this commit (https://github.com/emberjs/ember.js/pull/13202) the code works as intended.

Here is an ember twiddle reproducing the error: https://ember-twiddle.com/23c9bc41197b73fc8874a35b04c1a635

The setup

[2016-04-05 21:11] GavinJoyce commented on #13256
TIL doing a `transitionTo` in a route model hook results in a `TransitionAborted` error. I was [using](https://github.com/emberjs/ember.js/pull/13169) that to reset the router target state to fix https://github.com/emberjs/ember.js/issues/13164. This won't work so I'm going to revert https://github.com/emberjs/ember.js/pull/13169 and add a test to cover this regression.

[2016-04-05 21:15] konradjurk opened #13260 "Why does my observer not trigger"
I have a controller with a `model` object. In the controllers template, I instantiate a component:

`{{#my-component confusingBehaviourProofObject=model controller=this}}{{/my-component}}`

In the component, this triggers if `model` changes

[code]

... and this don't:

[code]

I can see the changing model ID if I print out {{confusingBehaviourProofObject.id}} inside the component template...

Why

[2016-04-05 21:59] lan0 opened #13263 "QP does not get updated when model is refreshed"
Since 2.4.4 the query parameter does not get updated when refreshing the route.

See this twiddle: https://ember-twiddle.com/48d144fbb71cb96220e42dbd664eaef3 (works in 2.4.3 but not in 2.4.4)

I think this is because of #13202, after the second click the content of `queryParams` is `{foo: "2", application:foo: 3}` [here](https://github.com/raytiley/ember.js/blob/2b42d5659498df2bf725f09e65632bfe5c3

[2016-04-05 22:11] rwjblue commented on #13258
Thank you for the issue and reproduction! Would you mind submitting a failing test? That way it will be easier to confirm that we squash it properly...

[2016-04-05 22:11] rwjblue commented on #13258
/cc @raytiley

[2016-04-05 22:13] rwjblue commented on #13263
/cc @raytiley

[2016-04-05 22:13] #13256 closed

[2016-04-05 22:14] GavinJoyce commented on #13164
@rwjblue perhaps you could reopen this issue due to https://github.com/emberjs/ember.js/pull/13262?

[2016-04-05 22:20] rwjblue commented on #13164
Good point.  Reopened.

[2016-04-05 22:23] john-kurkowski commented on #12169
@raytiley here ya go: https://ember-twiddle.com/0c7e72433e1a3149a7304007fbbd1a54

[2016-04-05 23:25] raytiley commented on #13258
This is because your remapping `perPage` to `per_page`. It seems like the `activeTransition` has it as the form it shows up in the url, but when the query params are finalized it puts them as they appear on the controller.

Still need to work through this a bit more to see what the correct solution is. I'll at least get a failing test written later tonight.

[2016-04-06 00:38] stefanpenner commented on #13260
As per the CONTRIBUTING.md (the yellow banner you are suggested to click and read when you post this issue) Q/A and help are better directed to a more appropriate medium. Stackoverflow or discourse.

This talk of mine may be of help: https://www.youtube.com/watch?v=7PUX27RKCq0

[2016-04-06 00:39] #13260 closed

[2016-04-06 10:18] sweatypitts commented on #13183
I'll take a stab at this.

[2016-04-06 12:49] rwjblue commented on #13183
Awesome, thanks!

[2016-04-06 13:39] sweatypitts commented on #13183
@rwjblue  How's this look for a failing test? https://github.com/emberjs/ember.js/compare/master...sweatypitts:render-model-param-deprecation?expand=1

[2016-04-06 18:09] tyre opened #13269 "Enumberable reject does not behave as expected."
I've made a [Twiddle](https://ember-twiddle.com/e0a991b56552b3b4712812c4260baa6b?fileTreeShown=false&openFiles=controllers.application.js%2C) to demonstrate the behaviour of `reject`.

**What is expected**: `reject` returns an array of all the items for which the provided callback did not return a truthy value

**What happens**: `reject` returns an array of all of the items for which the provided

[2016-04-06 19:05] noslouch opened #13271 "`isStream` should be flagged as a reserved property on Components"
[See this twiddle for a reduced test case.](https://ember-twiddle.com/02b921550f59393fbd6ce997253ce424?fileTreeShown=false&numColumns=2&openFiles=components.my-component.js%2Ctemplates.components.my-component.hbs) Open the console to see the error message:
[code]

If you set `isStream` as a property on a Component (at least, maybe other classes too), rendering borks because `isStream` is used inte

[2016-04-06 19:25] mmun commented on #13271
We should not be reserving `isStream`, instead we should change this branding to a symbol to avoid interfering.

[2016-04-07 01:34] raytiley commented on #13258
This fixes the issue for me: https://github.com/emberjs/ember.js/pull/13273

Still need to write tests / make sure I didn't break anything else.

[2016-04-07 01:36] raytiley commented on #12169
@john-kurkowski I think this will fix that error: https://github.com/emberjs/ember.js/pull/13273

Hoping to finish up testing it tomorrow and then I'll pester @rwjblue for a merge :)

[2016-04-07 07:43] fknoll commented on #13254
I was not aware about the fact that names in dynamic segments must be unique. I do not find this constraint intuitive obvious, and I have read nothing about this constraint in documentation. However, changing to uniqueness fixed the problem :-) Thank you so much @rwjblue !

[2016-04-07 08:59] fernandodrumond opened #13275 "Ember 1.13.x binding errors on iPhone 6"
Hello guys,

I'm experiencing a lot of binding errors on an Ember project when viewing it on an iPhone 6 (Arm64) iOS 9.2. I seems to be something general and multiple things fail, likes aliases, class bindings. The are just ignored.

Have anyone experienced something similar?

I'm currently using Ember 1.13.6, updating to 1.13.13 didn't solve the issue.

It can easily be reproduced on http://stagi

[2016-04-07 09:56] WimAtIHomer commented on #13150
@mmun is there anything else I can do for Bug Verification?

[2016-04-07 10:03] fernandodrumond commented on #13275
Just some more info: I tried updating to iOS 9.3.1 and I still get the same.

[2016-04-07 11:09] rob-e-pitts commented on #13269
`reject` is supposed to filter from the array all values for which the callback is true. It should give you the inverse result of `filter`. This is both the [specified](https://github.com/emberjs/ember.js/blob/v2.4.4/packages/ember-runtime/tests/suites/enumerable/reject.js#L12) and [actual](https://github.com/emberjs/ember.js/blob/v2.4.4/packages/ember-runtime/lib/mixins/enumerable.js#L437) behavi

[2016-04-07 11:35] rwjblue commented on #13254
We should likely find a good place to document this...

[2016-04-07 11:38] #13183 closed

[2016-04-07 12:24] sly7-7 commented on #13254
@rwjblue maybe [here](https://guides.emberjs.com/v2.4.0/routing/defining-your-routes/#toc_dynamic-segments) we could precise that dynamic segment name must be unique in a route hierarchy ?

[2016-04-07 12:27] jevanlingen commented on #10844
@stefanpenner: `import Promise from 'ember/rsvp'` does still not work with Ember 2.4.4. Is there an ETA when this will be possible?

[2016-04-07 13:35] stefanpenner commented on #10844
@jevanlingen `import RSVP from 'rsvp';`

[2016-04-07 16:07] nathanhammond commented on #11592
/cc @luisah

[2016-04-07 17:02] knownasilya commented on #11592
So from Slack @rwjblue was suggesting writing a QPs service that basically allows you to subscribe to changes on a single QP in that service. Would love to flesh this out and maybe write an addon and RFC.

[2016-04-07 19:19] mellatone commented on #11592
+1 _just_ experienced this upgrading to `2.x`. @knownasilya I'm down to help.

[2016-04-07 19:20] knownasilya commented on #11592
https://github.com/knownasilya/ember-query-params

[2016-04-08 01:12] #13244 closed

[2016-04-08 08:16] dandehavilland opened #13280 "[BUG] `_super` within RSVP callback doesn't reference the correct method"
I couldn't find anything about whether this behaviour is intended, but it certainly feels like a bug to me.

These are the basics:
[code]

[Twiddle here](https://ember-twiddle.com/499dccb94945cbda7e8809384f4538b8?openFiles=controllers.application.js%2C)

Workaround:
[code]

[2016-04-08 09:32] stefanpenner commented on #13280
this is working as expected

[2016-04-08 09:32] #13280 closed

[2016-04-08 11:44] spruce opened #13281 "Ember.computed.sort behaviour changed"
As of ember 2.2.0 and 2.3.2 this worked but with 2.4.x it doesn't anymore. I haven't found any deprecation warnings prior upgrading to 2.4.x and just wanted to let you know that it happens.

[code]

See this twiddle (currently version 2.2.2 which works.):
https://ember-twiddle.com/2a0458fce791cda8973e5528e99231c4

[2016-04-08 11:54] sly7-7 commented on #13281
Seems like your example does not work either.
Ember.computed.sort always required a 'sortProperty' referring to an array of properties.
see https://ember-twiddle.com/233eb19060263200e3c3f8f5aa9d6c21?openFiles=templates.application.hbs%2C

Though, I think `Ember.computed.sort('all', 'id:desc')` could be a nice shorthand for simple property

[2016-04-08 11:58] rwjblue commented on #13281
@sly7-7 - See https://github.com/emberjs/rfcs/pull/87 (long conversation, ultimately closed).

[2016-04-08 12:06] spruce commented on #13281
Ok thanks for clarifying that.

[2016-04-08 12:06] #13281 closed

[2016-04-08 12:17] sly7-7 commented on #13281
@rwjblue Yeah, I forgot it.
@spruce  It seems like if we want to use the 'simpler' syntax, we can juste use https://github.com/workmanw/ember-computed-sortby

[2016-04-08 14:20] 2468ben commented on #11592
@knownasilya I've been using a similar QP setup (service + mixins) in my company's main app since 2.0, and I would **love** to use your addon instead and help with the RFC.
I have a ton of URL-related features (good ideas and bad ideas, but all with tests), so hopefully it'll be a nice collection of edge cases you can run through.

[2016-04-08 14:26] knownasilya commented on #11592
@2468ben would love to have you on board. Feel free to submit issues/PRs.

[2016-04-08 16:26] pixelhandler commented on #13275
@fernandodrumond this looks like an error in your app code, not in Ember.

`_error.message` is undefined.

[code]

[2016-04-08 16:38] pixelhandler commented on #13269
@tyre the docs do explain that `reject` returns the items where a falsey value is the result of the callback function. http://emberjs.com/api/classes/Ember.Array.html#method_reject

It appears the behavior is doing what the docs describe as well as the implementation and test as linked above by @robbiepitts

Are you suggesting a feature change for reject?

**Expected** "callback did not return a t

[2016-04-08 16:44] pixelhandler commented on #13263
@lan0 @raytiley here is a working twiddle using Ember 2.4.3, https://ember-twiddle.com/4b7de2e49239591015e395946feb10df?openFiles=twiddle.json%2C&route=%2F%3Ffoo%3D3

[2016-04-08 16:47] ndemonner commented on #13269
This came out of a RecordArray problem where reject was returning totally unexpected results, but we can't seem to reproduce it, which means it was probably a predicate mistake on our end. This can be closed.

[2016-04-08 16:56] raytiley commented on #13263
@pixelhandler thanks... I actually have an in-progress fix for this: https://github.com/emberjs/ember.js/pull/13273

I'm going to tidy it up / test it etc this weekend

[2016-04-08 16:58] pixelhandler commented on #13254
@fknoll I created an issue in the guides repo regarding the "constraint intuitive not obvious" nature of using dynamic segments when defining your routes. Thanks for bring this up :)

[2016-04-08 17:39] #13269 closed

[2016-04-08 19:06] rwjblue commented on #13245
We discussed this in the core team meeting today, and we are happy to move forward with giving access to folks for issue triage.  I'll try to get in touch with some folks in the #dev-issue-triage channel in slack this coming week...

[2016-04-08 19:36] acorncom commented on #13245
Cool.  Will close this issue then

[2016-04-08 19:36] #13245 closed

[2016-04-08 21:54] pixelhandler commented on #13240
Perhaps some clarity can be added to the API docs for `firstObject` that it should not be set. The doc does mention that its a helper method to get something. But since its listed as a property one would think that it's ok to `get` and `set`. Which is not the case.

[2016-04-08 21:54] YoranBrondsema commented on #13229
I guess it's a matter of personal preference what is clearer or not. In my mind, the choice of whether or not to include a certain CSS class belongs in the definition of `classNameBindings`. That is clearest to me.

Having said that, I still think the way `classNameBindings` works now is limiting compared to what you can do in your Handlebars templates, where you have full power over what CSS clas

[2016-04-08 23:32] krisselden commented on #13243
@mmun this alternatives are extend time, bindings are allowed at create time, I don't think we need an alternative, I'm just pointing it out for the guide.

[2016-04-09 01:03] pixelhandler commented on #13229
@YoranBrondsema this seems more like a Question rather than an Ember.js issue. Were the docs clear regarding the use of `classNameBindings`? Also regarding the question "Are there any plans to make `classNameBindings` a computed property?" Perhaps search the RFC repo's issues / pull requests. The is where the plans are formulated for features and enhancements - https://github.com/emberjs/rfcs

[2016-04-09 01:05] pixelhandler commented on #13227
@AmazingJaze nice find on adding the .gitattributes for normalized line endings :)

[2016-04-09 01:13] pixelhandler commented on #13224
@kboucher Nice work forming a solution #13265. I did see some discussion on Aria- use in this RFC, https://github.com/emberjs/rfcs/blob/angle-bracket-components/active/0000-component-unification.md Perhaps comment on that RFC as well.

Since this ia a feature/enhancement request. See [CONTRIBUTING.md#requesting-a-feature](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#requesting-a

[2016-04-09 01:22] pixelhandler commented on #13217
@nickiaconis Nice initiative on working on a feature. I'm curious about using the RFC process. That may help with getting the feature vetted as well as provide background for documentation for the guides/api docs, see [CONTRIBUTING.md#requesting-a-feature](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#requesting-a-feature) which recommends creating an RFC Issue to request a featu

[2016-04-09 01:27] pixelhandler commented on #13216
@bdiz I'm curious have you discussed this in the testing channel of the embercommunity.slack.com chatroom ?

Usually added an Ember.run solves the testing error.

However I'm a bit hesitant when relying on private APIs, see https://github.com/emberjs/ember.js/blob/v2.4.4/packages/ember-runtime/lib/mixins/-proxy.js#L36-L44

Would using ArrayProxy or ObjectProxy solve the issue?

[2016-04-09 01:30] pixelhandler commented on #13212
@tojofo Its great that you've provided an example repo, will try to repo soon. I'm curious what you've tried  so far to resolve issue. Can you simplify the feature? Is there an Ember addon that can replace the jQuery UI behavior you are depending on?

[2016-04-09 01:34] pixelhandler commented on #13211
@workmanw that's great! prolly best to track the next steps on that PR. I'd keep this open as it may be helpful for other who run into this behavior and search the Ember.js issues. It's not always clear where the issue stems from so most start looking here, at least I do.

[2016-04-09 01:36] bdiz commented on #13216
Hi @pixelhandler, no I didn't know about the slack channel, but thanks for letting me know about it.

Unfortunately ArrayProxy and ObjectProxy won't help me as I need a "ComponentProxy" as it were.

There doesn't seem to be an explanation as to why _ProxyMixin was made private when it was originally public.

[2016-04-09 01:40] fernandodrumond commented on #13275
Sorry @pixelhandler I had just introduced this bug unrelated to the issue. I fixed it, now you can verify how it works on desktop and iPhones, but not on iPhone 6.

[2016-04-09 01:48] workmanw opened #13284 "`Ember.A(null)` now returns `null` instead of `[]`"
Here is a pretty clear snippet that explains the issue:

[code]

So what happened? It looks like this commit broke it: https://github.com/emberjs/ember.js/commit/586d4c6ab0a82abee0df1f331121e9c99433770e#diff-7 :(. It seems very harmless, but that code is transpiled as:

[code]

The problem is that because `Ember.A(null)` has an argument length greater than 1, it's value [`null`] is ultimately retu

[2016-04-09 02:18] sundered commented on #13224
Because of the performance concern, I suggested a new API for this in the PR. It would be great if you guys could take a look and give your 2 cents.

[2016-04-09 02:28] mmun commented on #13243
Good point

[2016-04-09 02:36] mmun commented on #13284
Yep. This should totally be fixed and a tested added.

Out of curiosity, which version of Ember.A(null) do you think makes more sense?

@thoov can you do a quick audit of what else might have broken?

[2016-04-09 02:51] workmanw commented on #13284
@mmun I was just asking myself that. I read the API docs to see if they indicated one way or another, but it was still kind of ambiguous. I could probably make an argument either way.

I sometimes use `Ember.A` as a safety guard for functions expecting a list argument. Eg:

[code]

But I could be convinced that this isn't the purpose of `Ember.A`.

[2016-04-09 03:14] nathanhammond commented on #13217
@pixelhandler This feature already exists and is not well documented. There are also bugs in the feature, but because it isn't documented nobody is sure how it *should* be implemented.

@stefanpenner @krisselden @rwjblue Can somebody make an executive decision on the full microsyntax for brace expansion that is 100% backwards compatible with the current broken implementation?

[2016-04-09 13:55] rwjblue commented on #13254
Closing in favor of https://github.com/emberjs/guides/issues/1364

[2016-04-09 13:55] #13254 closed

[2016-04-09 14:14] rwjblue commented on #13227
@AmazingJaze - Is this still an issue after the `.gitattributes` addition?

[2016-04-09 14:16] rwjblue commented on #13217
@nathanhammond - I do not understand your comment, @nickiaconis submitted https://github.com/emberjs/ember.js/pull/13231 to address this issue and I believe that we are all on the same page over there (though there is still some cleanup that he was working on).

[2016-04-09 14:16] rwjblue commented on #13217
Actually, I'm going to close this in favor of the https://github.com/emberjs/ember.js/pull/13231 (to keep further conversation together....

[2016-04-09 14:16] #13217 closed

[2016-04-09 14:22] rwjblue commented on #13216
`_ProxyMixin` was never public, (`Ember.ObjectProxy` is and has always been public).  https://github.com/emberjs/ember.js/pull/5156 introduced the the idea of exposing it as a mixin in the `ember-runtime-proxy-mixin` feature, but was never enabled and the feature was subsequently removed in https://github.com/emberjs/ember.js/pull/5392.

---

The error you are receiving is telling you that your te

[2016-04-09 14:22] #13216 closed

[2016-04-09 14:42] #13240 closed

[2016-04-09 14:53] rwjblue commented on #13211
I submitted https://github.com/emberjs/ember.js/pull/13286 to downgrade route-recognizer to 0.1.5 (which is what is used in Ember 2.4) until we can get it fixed upstream (tracking in https://github.com/tildeio/route-recognizer/issues/82).

[2016-04-09 15:38] nathanhammond commented on #13217
@rwjblue I was clarifying that this was a bug fix, not a feature request. That is all.

[2016-04-09 18:14] jmeas commented on #13211
@workmanw, I'm working to fix this. Out of curiosity, if you remove your explicit definition of the index route does it fix the problem (I'll fix it either way, just wonderin')?

[2016-04-09 21:00] workmanw commented on #13211
@jmeas I did you mean this line: https://github.com/workmanw/wildcard-routing/blob/master/app/router.js#L9 ? I tried removing that line, but the issue still happens :(.

[2016-04-09 21:29] jmeas commented on #13211
The issue should be fixed with this PR: https://github.com/tildeio/route-recognizer/pull/84

[2016-04-09 21:34] workmanw commented on #13211
@jmeas 😄 . I'm out running errands now. I'll make some time later to verify the fix with my demo repo and our app.

[2016-04-09 23:42] #13284 closed

[2016-04-09 23:43] workmanw commented on #13284
This issue was fixed with #13287 being merged in.

[2016-04-09 23:50] AmazingJaze commented on #13227
@rwjblue Yea the issue still persists. The `.gitattributes` addition will give us less cause to worry about line endings as the culprit in the future, but as I mentioned in my last update, the `isModuleOnly` function didn't appear to be getting called at all when building Ember in Windows.

[2016-04-10 00:49] hhff opened #13288 "Controller Action Target is Bottom of the Router, not corresponding route."
I've been at this Ember game for a while, but this one is surprising to me:

In a nested route structure, with `parent/child`:

Actions bubble through a controller to the bottom of the current router state like this:
`ParentTemplate action` -> `ParentController` -> `ChildRoute` -> `ParentRoute`

I had assumed they would bubble like this:
`ParentTemplate action` -> `ParentController` -> `ParentRout

[2016-04-10 01:28] rwjblue commented on #13284
Thanks for catching this @workmanw!

[2016-04-10 05:17] workmanw commented on #13284
@rwjblue My pleasure!

Random Fact: I just started using ember-try to test our app against "default", "stable", "beta" and "canary". Setting up a nightly cron to run the tests against all 4 scenarios and email me of any failures. On the first night, it caught this. If I can ever muster the cycles to write a blog post, it'll be about how to do this.

[2016-04-10 15:32] rwjblue commented on #13211
The Ember issue was resolved by rolling back for now (in https://github.com/emberjs/ember.js/pull/13286), so I'm going to close this issue.  I'd like at least one more reviewer on https://github.com/tildeio/route-recognizer/pull/84, and then we can merge+release and try updating here again.  That effort can be tracked in https://github.com/tildeio/route-recognizer/pull/84 though...

[2016-04-10 15:32] #13211 closed

[2016-04-10 16:15] rwjblue commented on #13123
OK, after re-reviewing the attached gist, it turns out this is a duplicate of https://github.com/emberjs/ember.js/issues/13230. What is happening is that the `_super` property is not being properly reset between method invocations, and calling `this._super` from within `actions.bar` is actually invoking the `foo` function.

I had started working on a fix in https://github.com/emberjs/ember.js/pull

[2016-04-10 16:15] #13123 closed

[2016-04-10 16:56] rwjblue commented on #13288
No, I do not think this is possible.  The target for controllers is the `router` (not any specific `route` instance) and the router begins searching upwards from the leaf-most active route all the way to the top (generally `ApplicationRoute`).

In the absence of an example, I am assuming that you want to operate on a specific instance that is known in the template, but is specific to the lower con

[2016-04-10 17:14] BryanCrotaz opened #13291 "Helper documentation doesn't match cli helper generator"

[2016-04-10 17:44] #13271 closed

[2016-04-10 17:44] hhff commented on #13288
Thanks @rwjblue !

In fact, what I'm doing is providing a route action (through an addon mixin) for a component that sends it upward to said route (the action is named internally in the component).

(For the sake of "no controllers")

When there's a nested route structure, both with the route mixin <-> component setup, the parent template component calls the child route action (as the action is na

[2016-04-10 21:20] rwjblue commented on #13230
See https://github.com/emberjs/ember.js/pull/13242#issuecomment-208076203 for an update.  I'm going to close this for now, and track the underlying issue in https://github.com/emberjs/ember.js/pull/13242 instead.

Thank you for reporting, hopefully we can get *something* in place to help prevent this sort of trollage in the near future.

[2016-04-10 21:20] #13230 closed

[2016-04-10 22:08] Serabe commented on #13062
This was fixed and merged in #12764 on January but it was not backported. Should be easy to do, though.

[2016-04-10 22:12] rwjblue commented on #13062
@Serabe - Ya, I believe that https://github.com/emberjs/ember.js/pull/13066 is exactly that.

[2016-04-10 22:44] Serabe commented on #12762
This is fixed in 2.4.0 for sure. [Twiddle](https://ember-twiddle.com/008315da0ee4212248ede9cafd0c6d06?openFiles=twiddle.json%2C).

Guess this can be closed.

[2016-04-10 22:49] #12762 closed

[2016-04-10 22:49] rwjblue commented on #12762
Thanks @Serabe!

[2016-04-10 23:13] Serabe commented on #13275
@fernandodrumond: can you add a `transform: translate3d(0,0,0)` to the element CSS and check if that fixes it?

[2016-04-11 00:06] #12869 closed

[2016-04-11 02:03] rwjblue commented on #13176
Agreed, I think it should be possible to make this assertion more understandable.  I'm going to label this and leave it open for a bit to see if we have any takers...

[2016-04-11 12:56] #12739 closed

[2016-04-11 12:57] rwjblue commented on #12739
2.5.0 will be shipped today, including `Ember.assign`

[2016-04-11 13:24] rwjblue commented on #13150
@dennislaumen - The "Needs Bug Verification" label is mostly about reproducing the error in a way we can see/understand (usually ember-twiddle.com or ember.jsbin.com).

[2016-04-11 13:47] #13178 closed

[2016-04-11 13:49] courajs commented on #13176
@pixelhandler, from [the rfcs readme](https://github.com/emberjs/rfcs/blob/master/README.md):

Some changes though are "substantial", and we ask that these be put through a bit of a design process and produce a consensus among the Ember core team.

This seemed more like a documentation improvement than a "substantial" feature that would need a design process. Maybe I'm wrong? [Requesting a feature

[2016-04-11 13:54] rwjblue commented on #13176
YA, agree. This is a "bad error message" bug.

[2016-04-11 14:22] rwjblue opened #13296 "`get` keyword does not allow numeric keys to be used"
Due to [this line](https://github.com/emberjs/ember.js/blob/6b78bcb17f575df1c61fe63d896e28a4463db3c4/packages/ember-htmlbars/lib/keywords/get.js#L38), using `get` with a numeric key does not work properly.

[code]

[code]

---

Demo: http://rwjblue.jsbin.com/loneva/edit?html,js,output

[2016-04-11 14:43] EWhite613 opened #13297 "Current Release and current Ember-beta cannot build"
Using the newest release `2.4.4+0947bfc3`  to build I get the following error with ember-try (https://github.com/ember-cli/ember-try/issues/72):

[code]

As @rwjblue  suggests this may be

[2016-04-11 14:44] rwjblue opened #13298 "beta & release channels broken due to changes from #13239"
Error message:

[code]

[2016-04-11 14:45] rwjblue commented on #13298
Whoops! Duplicate of https://github.com/emberjs/ember.js/issues/13297.

[2016-04-11 14:45] #13298 closed

[2016-04-11 15:02] rwjblue commented on #13297
Should be fixed by https://github.com/emberjs/ember.js/pull/13299

[2016-04-11 15:29] hhff commented on #13288
Hmmm ok, on further inspection I'm getting another unexpected behaviour.

For a nested `parent/child` route structure:
[code]

[code]

Essentially, it appears that `this.send` from a route fires the action from the 'most active route', rather that itself, also.  I was under the impression that `this.send` prioritized it's own actions hash (as I believe this is how controllers behave).

My issue is

[2016-04-11 15:41] #13297 closed

[2016-04-11 15:43] rwjblue commented on #13297
I just pushed https://github.com/emberjs/ember.js/pull/13299 to both release and beta branches, which should fix things up (will take ~ 10-15 minutes for Travis to update the bower repo).

[2016-04-11 15:57] rwjblue opened #13300 "`Route.prototype.send` behavior inconsistent with `Controller.prototype.send`."
From @hhff in https://github.com/emberjs/ember.js/issues/13288:

I agree.  The behavior is inconsistent.  Compare the following:

* [Route.prototype.send](https://github.com/emberjs/ember.js/blob/ac90fcf1d31619073a8c2eea6bd206e34d327fb8/packages/ember-routing/lib/system/route.js#L1151-L1162) - Sends directly to the `router` and only falls back to `this.actions` if the router is not present (for un

[2016-04-11 15:57] rwjblue commented on #13288
@hhff - That is definitely a different issue than what this was originally opened for, I created https://github.com/emberjs/ember.js/issues/13300 for that.

[2016-04-11 15:57] #13288 closed

[2016-04-11 16:18] hhff commented on #13288
Got it - wasn't sure where it was stemming from :+1:

[2016-04-11 17:06] baron1405 opened #13301 "Clarify test helpers not registered for unit tests"
The Guides should clarify that the test helpers (e.g. pauseTest) are not registered in unit tests only integration and acceptance tests. I spent a lot of time trying to puzzle this out and from Googling it looks like a number of other developers have spent similar amounts of time. It would also be useful to describe how to register these helpers for unit tests, and why they would be needed.

[2016-04-11 17:34] rwjblue commented on #13301
Very sorry about this. We are actively working to remove the gap between unit/integration/acceptance tests.

[2016-04-11 18:02] mikeazo commented on #13178
Fixing ember-cli/ember-cli#2633 would fix this even without any changes to Chrome/Firefox.

[2016-04-11 19:12] kingpin2k opened #13304 "Ember core object different in prod from debug (v2.4.4) results in Assertion"
The core object has a big difference between the debug and prod version when setting unknown properties that don't have a desc (in the second else below, mandatory setter stuff). It's probably some hidden feature-flag implementation that I don't know about.

It results in an assertion when used on the DS RecordArray.  I'm guessing this is an ember-data issue, but the code wasn't wrapped in a featu

[2016-04-11 22:05] chancancode commented on #13127
Just wanted to jump in and thank everyone for helping us out! 😄 My apologies for the delay – we are slowly digging ourselves out of the backlog; we are closer than it appears on Github's progress bar, because a lot of the :lock:ed items already have PRs waiting for review 🎉

[2016-04-11 22:41] eddify commented on #13176
I'll take a stab at this one

[2016-04-11 23:40] courajs commented on #13176
@eddify cool! If you didn't know, we do like to unit test asserts. For example, [here][expand-test] is the test for the confusing error we currently get.

[expand-test]: https://github.com/emberjs/ember.js/blob/ed298ced885b2f4b4435fbccb26b24b9a24bb68f/packages/ember-metal/tests/expand_properties_test.js#L89

[2016-04-12 02:40] rwjblue commented on #13304
1. The `ember-template-compiler.js` script file is not generated with a production version (it always contains assertions).
2. `ember-template-compiler.js` includes all of "ember-metal" (which is where things like this mandatory setter assertion come from).
3. `ember-template-compiler.js` automatically requires all modules from "ember-metal" when it loads (seeding the `seen` modules listing [here]

[2016-04-12 02:41] rwjblue commented on #13304
**tldr;** Load `ember.prod.js` before `ember-template-compiler.js`: http://rwjblue.jsbin.com/rafini/edit?html,js,output

[2016-04-12 02:45] kingpin2k commented on #13304
Ahhhhh, I thought it might be some weird setting thing that I wasn't aware of, I'd never seen the issue on CLI, but I'm upgrading a global app right now and they are indeed loaded in the opposite order (like the jsbin).  Thanks good sir.

[2016-04-12 02:45] #13304 closed

[2016-04-12 02:46] rwjblue opened #13313 "Ensure location information is propagated for inline link-to transformation."
When we use the [syntax builders](https://github.com/tildeio/htmlbars/blob/master/packages/htmlbars-syntax/lib/builders.js) from HTMLBars/Glimmer for these:

* https://github.com/emberjs/ember.js/blob/master/packages/ember-template-compiler/lib/plugins/transform-inline-link-to.js#L10
* https://github.com/emberjs/ember.js/blob/master/packages/ember-template-compiler/lib/plugins/transform-inline-lin

[2016-04-12 02:48] rwjblue commented on #13304
Ya, it took me quite a while to track down what was happening :stuck_out_tongue_closed_eyes:

[2016-04-12 03:54] kingpin2k commented on #13304
Well I appreciate you hunting it down, is your email listed on github one you use? I gotta buy you a beer.

[2016-04-12 05:12] dustyjewett commented on #13225
There's still an issue with this deprecation. We can no longer check if a string is a SafeString.

`new Ember.Handlebars.SafeString('safe') instanceof Ember.Handlebars.SafeString === false`
as seen [here](https://ember-twiddle.com/3201249d747e6c29a20f521acaac65b7?openFiles=templates.application.hbs%2C)

Ember.Handlebars.SafeString needs to extend the internal SafeString class.... right now it's a

[2016-04-12 05:18] rwjblue commented on #13225
@dustyjewett - Please open a separate issue to track that (though when you do I will likely say that I don't think that doing an `instanceof` check is the right way to check if a thing is a `SafeString`).

[2016-04-12 05:56] rwjblue commented on #13101
Some of this was addressed in #13105, but a few additional items are still needed. Updated description to include checklist.

@toddjordan - Do you think you might want to try and pick off adding support for those additional cases to the YUIDoc preprocessor?

[2016-04-12 06:21] fernandodrumond commented on #13275
Hi @Serabe , thanks for your suggestion, but in this case it's not a matter of css. The class `visible` that was supposed to be assigned to the element is not assigned, and that's were I believe the binding error is. There are a few `classBindings` or `Ember.computed.alias` that are jus ignored.

As I said, it works properly on desktop and other iPhone version, but the 6.

[2016-04-12 06:28] baron1405 commented on #13301
Thanks for the quick response and no worries.

[2016-04-12 08:05] medokin commented on #13033
Resolved in #13207

[2016-04-12 08:53] Exelord commented on #11741
+1

[2016-04-12 09:51] #13033 closed

[2016-04-12 11:09] toddjordan commented on #13101
Will do

On Tue, Apr 12, 2016 at 1:57 AM Robert Jackson <notifications@github.com>
wrote:

[2016-04-12 12:47] Serabe commented on #13275
Have some similar problems with Safari Mobile in the past and they were rendering problems solved using that CSS rule.

If that

[2016-04-12 15:00] rwjblue commented on #13167
Closing for now, see my recommendation for a path forward on this...

[2016-04-12 15:00] #13167 closed

[2016-04-12 17:33] dustyjewett opened #13318 "Deprecation of Handlebars.SafeString prevents clear checks if something is a SafeString"
With the deprecation of Handlebars.SafeString, the constructor chain of SafeString doesn't include Handlebars.SafeString, making instanceof checks fail.

See Twiddle: https://ember-twiddle.com/32e5e3818cd66aa224f5a422fdafd83a?openFiles=controllers.application.js%2C

For context, the latest change in the chain, fixing the deprecation:
https://github.com/emberjs/ember.js/pull/13226/files

[2016-04-12 22:44] munsellj commented on #11332
@AO16 I'm experiencing a similar issue in one of my apps.  Did you ever determine the cause?

[2016-04-12 23:32] Serabe commented on #13300
[Twiddle](https://ember-twiddle.com/43711363a47e470e3644c46198c7516d?fileTreeShown=false&numColumns=3&openFiles=routes.my.route.js%2Croutes.my.js%2Ctemplates.my.route.hbs&route=%2Fmy%2Froute)

[2016-04-12 23:43] #12963 closed

[2016-04-13 00:05] Serabe commented on #13313
I'll try to give it a go this week. Tests need some love too.

[2016-04-13 00:25] rwjblue commented on #13318
Can you help me understand why you need to check if a given string is a SafeString?

[2016-04-13 01:46] munsellj commented on #11332
@rwjblue I was able to create an Ember Twiddle that demonstrates this issue:
https://ember-twiddle.com/008932c6a02fe3e8c204136e18762eb2?numColumns=2&openFiles=components.basic-form.js%2Ctemplates.parent.child.hbs&route=%2Fparent%2Fchild

Steps to Reproduce:
* Click __Go To Parent Route__
* Click __Go To Child Route__
* Type something in the text field
* Click __Go Back To Parent__
* Click __Go To

[2016-04-13 06:40] dustyjewett commented on #13318
We were using this in a test, verifying that our helper returned a SafeString.

[2016-04-13 06:47] topaxi commented on #13318
I have some library code that uses this to emit a warning when an unsafe string was passed.

https://github.com/topaxi/ember-custom-css-properties/blob/master/addon/mixins/custom-css-properties.js#L67

[2016-04-13 10:00] mapohjola opened #13322 "Dynamically setting queryParams on controller"
We are trying to use query parameters for filtering loaded data. Our problem is that we have dynamic models and would like to have our filters show dynamically depending on what attributes it is possible to filter with.

So we load the info from our backend and then try to set queryParameters on the controller like in the twiddle https://ember-twiddle.com/1caead1325799a059d8954ae110f2043?fileTreeS

[2016-04-13 13:44] Serabe commented on #10154
Still happening in [2.5.0](https://ember-twiddle.com/7ea8711ed5c55f6f4fc4054b70cbe353?openFiles=twiddle.json%2C&route=%2Ftest) and canary too (cannot show, saving to a gist returns commit invalid error).

[2016-04-13 13:51] Serabe commented on #10847
@kgish what is the problem with @rwjblue's solution?

[2016-04-13 15:19] rwjblue commented on #10847
As of 2.2.0 you can extend from Ember.LinkComponent (and can therefore make your own with a custom tagName).

See https://emberweekend.com/blog/faef1058c3-inheriting-from-linkcomponent-in-ember-is-amazin

[2016-04-13 15:33] olivierlesnicki opened #13323 "ProxyObject failed `.isEqual` when compared to the object it is proxying."
ProxyObject failed `.isEqual` when compared to the object it is proxying.

https://ember-twiddle.com/ee7e8110efb1b090f2505fb75870d22c?openFiles=models.parent-model.js%2Ctemplates.components.my-component.hbs

The key here is that the relationship between the `parent` and the `child` is async. When async is set to true setting a record create a new ProxyObject (this is not the case when async is set

[2016-04-13 15:45] ronco commented on #11977
I'm also seeing this error:
[code]

In my case I'm not even passing query params to the call to `replaceWith`, it's blowing up in `_serializeQueryParams` with the query params gathered from `_hydrateUnsuppliedQueryParams`.

The query param works well elsewhere, not sure if it's related tot he fact that the `replaceWith` call is occuring during an afterModel hook.

Here is the query param definitio

[2016-04-13 17:02] fernandodrumond commented on #13275
Sorry @Serabe the project was released and we had to protect the staging (this will only last a couple of weeks).

It's available on
www.movistarmasquefans.com/

I'll try to recreate the problem on a twiddle and post here.

Thanks a lot!

[2016-04-13 18:09] kgish commented on #10847
Excellent!

[2016-04-13 19:11] rwjblue commented on #13318
@dustyjewett - Wouldn't it be better to just use the helper, and ensure its return value was displayed as HTML?

[code]

[2016-04-13 19:12] rwjblue commented on #13318
@topaxi - We generally use a `toHTML` function in the HTMLBars internals to determine if a thing is a safe string.  This *may* change with Glimmer (I believe a symbol is used in Glimmer), but that is still TBD.

[2016-04-13 19:30] rwjblue commented on #11977
I believe that @raytiley's fix from https://github.com/emberjs/ember.js/pull/13273 will address this also.

[2016-04-13 19:37] rwjblue commented on #10847
I'm going to close this now, we can reopen if that doesn't fit your needs.

[2016-04-13 19:37] #10847 closed

[2016-04-13 22:40] rwjblue commented on #5034
Updated the JSFiddle to use 2.5.0: http://jsfiddle.net/CX3TD/2/

Seeing the same behavior as originally reported.

[2016-04-13 22:41] #5260 closed

[2016-04-13 22:46] rwjblue commented on #5494
From the last few comments this issue looks to be resolved.

[2016-04-13 22:46] #5494 closed

[2016-04-13 22:50] rwjblue commented on #9621
![screenshot](http://assets.rwjblue.com/snapshots/2016-04-13-18-50-15_JS_Bin_-_Collaborative_JavaScript_Debugging.png)

[2016-04-13 22:50] #9621 closed

[2016-04-13 23:04] rwjblue commented on #9715
The issue here is that you are transitioning into a child route in the parent routes `afterModel`.

1. The `post` `afterModel` transitions to `comments`
2. To transition into `comments` we have to traverse through `post`
3. `post` `afterModel` is called again
4. repeat

I do not think this is a bug....

[2016-04-13 23:04] #9715 closed

[2016-04-13 23:06] rwjblue commented on #10081
From the last few comments this issue looks to be resolved.

[2016-04-13 23:06] #10081 closed

[2016-04-13 23:13] rwjblue commented on #10151
Features are generally discussed in the https://github.com/emberjs/rfcs/ repository. You can create an issue there for feature requests or a pull request to propose a new feature.  I'm closing this issue (this isn't really a bug in the framework), but please follow up with an RFC issue/PR if you are interested in taking this further.

[2016-04-13 23:13] #10151 closed

[2016-04-13 23:19] rwjblue commented on #10252
Seems to be working now: http://rwjblue.jsbin.com/baleva/edit?html,js,output

[2016-04-13 23:19] #10252 closed

[2016-04-13 23:27] rwjblue commented on #11502
The primary purpose of this issue was to track the performance regression for initial rendering which occurred in Ember 1.13.  There are absolutely still many things to be worked on, but as mentioned by @GavinJoyce in his last comment we have generally reached parity with pre-1.13 initial rendering speed (and are definitely much faster for rerendering).

I am going to close this larger meta issue

[2016-04-13 23:27] #11502 closed

[2016-04-13 23:29] rwjblue commented on #10414
Working properly now: http://rwjblue.jsbin.com/wemaxi/edit?html,js,output

[2016-04-13 23:29] #10414 closed

[2016-04-13 23:31] rwjblue commented on #10430
Helpful warning added in https://github.com/emberjs/ember.js/pull/12847.

[2016-04-13 23:31] #10430 closed

[2016-04-13 23:33] rwjblue commented on #10456
This feature was removed (so that work could continue on glimmer 2 engine).  When the new angle bracket component RFC is introduced, please raise this concern there....

[2016-04-13 23:33] #10456 closed

[2016-04-13 23:34] rwjblue commented on #10479
This was fixed in https://github.com/ebryn/backburner.js/pull/151.

[2016-04-13 23:34] #10479 closed

[2016-04-13 23:37] rwjblue commented on #10495
This is being addressed by https://github.com/emberjs/rfcs/pull/119. Please track progress over there....

[2016-04-13 23:37] #10495 closed

[2016-04-13 23:43] rwjblue commented on #10742
Features are generally discussed in the https://github.com/emberjs/rfcs/ repository. You can create an issue there for feature requests or a pull request to propose a new feature.  I'm closing this issue (this isn't really a bug in the framework). If someone has the time please follow up with an RFC issue/PR.

[2016-04-13 23:43] #10742 closed

[2016-04-13 23:58] rwjblue commented on #10645
I believe that this is not really a bug. There are updated docs in https://guides.emberjs.com/v2.5.0/routing/loading-and-error-substates/ and I think we are happy to flesh them out even more if folks have time.

I've also made a demo ember-twiddle showing various usages: https://ember-twiddle.com/a77b3db275d91c7f34c2?numColumns=0

[2016-04-13 23:58] #10645 closed

[2016-04-14 00:21] rwjblue commented on #10807
This doesn't seem to be a common issue, so I'm going to close this. If someone is interested in pursuing this we can reopen...

[2016-04-14 00:21] #10807 closed

[2016-04-14 01:02] mmun commented on #13023
There are several things going on here that are interacting poorly:

- `typeof myValue` starts off as `number` which instruct the router to try to coerce the query param into a number whenever it can
- Internally, the `{{input}}` relies on `event.target.value` to read the current value of the number field. This is a problem because value is always a string! There is a separate property `event.targ

[2016-04-14 01:02] jakedetels opened #13330 "Observers don't fire when observing properties of injected objects"
When injecting an Ember object onto a class, any of the class' observers for properties of that injected object are not getting triggered when that observed property changes.  This seems to occur whether the injected object is injected via `application.inject()` or simply via importing that object via a regular `import` statement (followed by loading that imported object onto the class).

Here is

[2016-04-14 01:11] #13330 closed

[2016-04-14 01:12] rwjblue commented on #13330
Ugh. The issue here is left over cruft from when a property with an initial capital letter meant "global".

[Working version of the twiddle](https://ember-twiddle.com/05202899e75f011baf12cefcbf8c3060?fileTreeShown=false&numColumns=2&openFiles=controllers.application.js%2Ctemplates.application.hbs).

Also, good news that @mmun fixed that issue in 2.5 (see https://ember-twiddle.com/65ecc4eddbe686be1

[2016-04-14 01:13] jakedetels commented on #13330
Thanks @rwjblue.  Nice to know there's a simple fix that will work in older Ember versions.

[2016-04-14 01:19] rwjblue commented on #10830
Based on http://jsbin.com/rifali/edit?html,js,output, it is not possible to get the behavior you want (parsing of HTML tokens) via either setting as a property, or setting as an attribute.  I suspect that the only reason it works in the `qux` case is that the tokens are transformed before the attributes are parsed (as an earlier step).

I doubt that there is much we can do here (at least not witho

[2016-04-14 01:19] #10830 closed

[2016-04-14 01:28] rwjblue commented on #10897
I'm unsure if this is still an issue, we haven't had any addition reports so I'm going to close for now.  I'm happy to reopen if it is still cropping up....

[2016-04-14 01:28] #10897 closed

[2016-04-14 01:38] rwjblue commented on #10972
Fix for https://github.com/emberjs/ember.js/issues/10945 was included in 2.4.4.  This should have also been fixed.

[2016-04-14 01:38] #10972 closed

[2016-04-14 01:39] rwjblue commented on #10979
At this point, I would say that dynamically adding more routes after router initialization is not supported.

Sorry for keeping this issue open so long...

[2016-04-14 01:39] #10979 closed

[2016-04-14 01:48] #11096 closed

[2016-04-14 01:48] #11125 closed

[2016-04-14 01:50] rwjblue commented on #11145
I'm going to go ahead and close this for now as it seems to have gone stale...

[2016-04-14 01:50] #11145 closed

[2016-04-14 01:52] rwjblue commented on #11166
Having seen no additional reports, I believe this issue is likely fixed (either by an unrelated change in Ember or by the browser vendor).  Closing...

[2016-04-14 01:52] #11166 closed

[2016-04-14 01:52] mmun commented on #12775
Can you please reopen this issue the RFCs repo (if there isn't one already) and link back here?

[2016-04-14 01:52] #12775 closed

[2016-04-14 01:53] rwjblue commented on #11217
Angle bracket component support has been removed for now, as we work on implementing Glimmer v2 engine.  Will reopen if needed...

[2016-04-14 01:53] #11217 closed

[2016-04-14 01:58] mmun commented on #11769
Can someone verify that this bug is still present?

[2016-04-14 02:01] mmun commented on #10504
Closing as a dupe. Thanks @kmiyashiro.

[2016-04-14 02:01] #10504 closed

[2016-04-14 02:06] mmun commented on #10120
Can someone verify if this bug is still present in latest 2.x? There is a JSBin in the original issue.

[2016-04-14 02:09] mmun commented on #12308
I'm closing this issue because there is no bug here. Please reopen in the [RFCs repository](https://github.com/emberjs/rfcs) if you'd like to continue discussing this feature proposal. There's been some discussion about routing/query params services lately.

[2016-04-14 02:09] #12308 closed

[2016-04-14 02:19] mmun commented on #11930
The topic of relative `link-to`s should be discussed in the [RFCs repository](https://github.com/emberjs/rfcs/issues). I'd love for this discussion to happen!

As for the problem reported in this thread, it falls under "How can I model this in Ember.js?" and thus Stack Overflow is a better choice. If you even care about this issue anymore (8 months later!) :P

[2016-04-14 02:19] #11930 closed

[2016-04-14 02:23] mmun commented on #11597
Can someone verify whether this bug is still occurring in latest Ember 2.x?

[2016-04-14 02:25] mmun commented on #12510
This is a new feature and so it should go through the RFC process and/or implemented as an addon. Please feel free to reopen the issue there and to link back to this issue.

[2016-04-14 02:25] #12510 closed

[2016-04-14 02:27] mmun commented on #13300
I always understood it to work the way it does. All actions go to the active route. I think it would be quite breaking to change this.

[2016-04-14 02:29] mmun commented on #13243
If someone wants to give this a shot in the meantime, please do!

[2016-04-14 06:04] tojofo commented on #13212
@pixelhandler we tried an addon at one point but had to switch it back out, that was some time ago.  The git logs don't tell me why we switched it back out, just that we did, it might have been an issue around Ember going from 1.x to 2.x.

The above repo is as simple as I can make the code to repeat the issue.

I do intend looking at the ember source to resolve the issue myself but in the mean tim

[2016-04-14 12:54] rwjblue commented on #13300
@mmun - I do not disagree that it would be breaking, but it is certainly confusing. At the very least we should document the difference...

[2016-04-14 14:23] hhff commented on #13300
Agree - I don't think we should change it - but this was surprising to me after being in controller world for so long.

Closure actions in combination w/ the `route-action` helper from dockyard definitely help the mental model here - but I think in the process of 1.xx apps removing controllers from their codebase a lot of folks will stumble on this (as they'll still be using named actions).

It's

[2016-04-14 14:25] rwjblue commented on #13300
Good catch, updated.

[2016-04-14 14:28] rwjblue commented on #12322
CollectionView has been removed from the code base (as of 2.6.0-beta.1).

Sorry for not getting this fixed quickly when originally reported.

[2016-04-14 14:29] #12322 closed

[2016-04-14 14:38] rwjblue commented on #12531
I agree with @stefanpenner here. I'm going to close this for now, but please let us know if there is something that we missed...

[2016-04-14 14:38] #12531 closed

[2016-04-14 14:42] rwjblue commented on #11574
The main files have been moved to index.js files (and the loader falls back to index.js).

I believe this issue is resolved.

[2016-04-14 14:42] #11574 closed

[2016-04-14 15:34] rwjblue commented on #12360
Closed by https://github.com/emberjs/ember.js/commit/e0e8f7feec456587ecfb13cce81fa3c99c6d8706, and a fix by @krisselden (which I can't find the link for ATM) that makes terminal @each expand to .[].

[2016-04-14 15:34] #12360 closed

[2016-04-14 15:55] Gaurav0 commented on #10877
@rwjblue @stefanpenner Is this method intended to be public or private?

[2016-04-14 16:39] dustyjewett commented on #13318
@rwjblue We certainly test that our end result is as-expected, but because SafeString has an explicit impact in how helpers are rendered into the DOM, we want to check that as well.

To get around this issue, we verify that the return object is NOT a string, but that the .toString() is as-expected. But that is just testing known ways that things might go wrong, we can't check the actual, expected

[2016-04-14 17:34] asakusuma opened #13331 "When running tests, can't find variable: QUnit"
Not sure if this issue belongs here, or in testem, but I've only seen this issue in the ember.js repo, not local addons.

Running `npm run test` or any testem command results in a error about QUnit not being found. This is on a brand new clone.

[code]

[code]

### index.html issues
The index.html test harness has 2 issues.

First, the QUnit path is wrong. It's attempting to load `http://localhost

[2016-04-14 19:41] Joelkang commented on #13127
I'll take the `{{#each}}` test

[2016-04-14 20:01] rwjblue commented on #10877
@Gaurav0 - I am unsure, we likely need to ask @machty....

[2016-04-14 20:16] alexspeller opened #13336 "Ember.Array implements contains but not includes"
[`contains`](http://emberjs.com/api/classes/Ember.Array.html#method_contains) is implemented on `Ember.Array`, but [contains was renamed to includes in 2014](https://github.com/tc39/Array.prototype.includes/commit/4b6b9534582cb7991daea3980c26a34af0e76c6c) - should `contains` be deprecated in favour of an `includes` method in ember?

[2016-04-14 23:56] asakusuma commented on #13127
I'll take the "local lookup" test

[2016-04-15 01:38] larryh opened #13340 "Query Params are forced into route when link is clicked"
Hi,

I'm just starting to learn ember, so hopefully I am just doing something stupid that will be easy to fix.

(BTW: ember-cli 2.4.3 with a Rails 5 API-only back end)

I have defined the typical _band has_many albums_ and _album belongs_to band_ associations on both the front and back ends.

Here is what I have in my router.js file:
<pre><code>
this.route('bands', function() {
    this.route('alb

[2016-04-15 04:25] acorncom commented on #13340
Hi @larryh, welcome to Ember and glad you're getting going on things!  We generally ask folks to reserve the issues here for specific bugs they find in Ember (to help us focus on improving the code when we're working in here).  Instead, we'd love it if you'd post questions like yours either on StackOverflow, the Ember forums or on the Ember Slack (in the `#needhelp` channel) and maybe answer a few

[2016-04-15 04:25] #13340 closed

[2016-04-15 04:32] acorncom commented on #10704
Given the lack of input on this issue (it's been over a year), I'm going to go ahead and close this.  If this is still an issue, please comment and we can re-open and work out how to address your problems.

[2016-04-15 04:32] #10704 closed

[2016-04-15 04:35] acorncom commented on #10542
Per [API docs](http://emberjs.com/api/classes/Ember.Route.html#event_error) and [the guides page on this](https://guides.emberjs.com/v2.5.0/routing/loading-and-error-substates/#toc_code-error-code-substates), the transition object should be available in both error events and error substate templates.  Will close this now, but if I'm missing something, feel free to say something and we can re-open

[2016-04-15 04:35] #10542 closed

[2016-04-15 04:41] acorncom commented on #10978
@seanpdoyle Based on what I'm seeing here, looks like this is more of a documentation issue than a functionality problem?  If so, the guides have undergone a major revamp since you sent this in. If the guides still aren't clear on this particular issue, would you mind opening a new issue in http://github.com/emberjs/guides ? I'd be happy to work through how we should handle that with you there.

W

[2016-04-15 04:41] #10978 closed

[2016-04-15 04:42] acorncom commented on #11152
We should probably reproduce this issue with the latest canary to see if it's still a problem (possibly with Ember Twiddle)

[2016-04-15 04:43] acorncom commented on #11163
Given the lack of feedback here in the last year from other folks, I'll go ahead and close this issue.  If we need to re-open it, let me know!

[2016-04-15 04:43] #11163 closed

[2016-04-15 04:45] acorncom commented on #11287
@herom Is this still an issue for you or can we close this?

[2016-04-15 04:46] acorncom commented on #11429
@jdhines Is this still an issue for you?  Seems like we could probably close this at this point?

[2016-04-15 08:57] herom commented on #11287
sorry, I completely forgot about this issue. I solved my issue ever since, so I'll close it right away.

[2016-04-15 08:57] #11287 closed

[2016-04-15 09:57] locks commented on #11192
@mixonic is this still relevant?

[2016-04-15 09:58] locks commented on #11312
@rwjblue how does your recent RFC affect this?

[2016-04-15 10:02] locks commented on #11259
@alco @AdrianFletcher @turboMaCk is this still relevant or can it be closed?

[2016-04-15 10:03] locks commented on #11388
@cdl @bantic is this still applicable? thanks

[2016-04-15 10:06] locks commented on #11269
Given the current state of the union, namely https://github.com/emberjs/rfcs/pull/60#issuecomment-209960057, could this issue be closed?

[2016-04-15 10:08] locks commented on #11562
Hi, is this issue still valid?

[2016-04-15 10:11] locks commented on #11637
I am closing this issue as the new lifecycle hooks have been documented.

Feel free to re-open the issue if you think it's still justified, thank you.

[2016-04-15 10:11] #11637 closed

[2016-04-15 10:14] locks commented on #12639
We have a [Deploying](https://guides.emberjs.com/v2.5.0/tutorial/deploying/) guide on the tutorial at the moment. If you have improvement suggestions @sun-ks, please report issues to the repository stefan linked to above.

[2016-04-15 10:14] #12639 closed

[2016-04-15 10:15] locks commented on #12326
Both are now landed :) Thanks everyone.

[2016-04-15 10:15] #12326 closed

[2016-04-15 10:16] locks commented on #9946
@toddjordan can you poke into this and check if it's still relevant?

[2016-04-15 10:21] locks commented on #11506
I have moved this to https://github.com/emberjs/rfcs/issues/134 according to @stefanpenner's last comment. Please continue the discussion there, thank you everyone.

[2016-04-15 10:21] #11506 closed

[2016-04-15 10:22] locks commented on #11319
@stefanpenner is this a `wontfix`?

[2016-04-15 10:26] locks commented on #11382
@rwjblue can you review my triaging and confirm by closing the issue?

[2016-04-15 10:27] locks commented on #11719
@shiv86 can you reproduce it in a [Twiddle](http://ember-twiddle.com/)?

[2016-04-15 10:28] locks commented on #11896
I am closing this issue due to lack of information from the submitter.
Feel free to re-open the issue if you think it's still justified, thank you.

[2016-04-15 10:28] #11896 closed

[2016-04-15 10:34] turboMaCk commented on #11259
I believe all this "context rodeo" is pretty legacy thing now. Original issue was resolved and Stack Overflow / irc will be better place to discuss these compatibility issues.

Feel free to close this.

[2016-04-15 10:35] locks commented on #10559
@rwjblue @mixonic can we get a ruling on this? :]

[2016-04-15 10:36] locks commented on #11259
Thanks for the feedback!

[2016-04-15 10:36] #11259 closed

[2016-04-15 10:40] locks commented on #12105
I'm closing this as the previous comment gives a path forward.
Feel free to re-open the issue if you think it's still justified, thank you.

[2016-04-15 10:40] #12105 closed

[2016-04-15 10:41] locks commented on #11817
@mixonic any resolution on where the issue reporting should go?

[2016-04-15 10:44] locks commented on #10926
@mike-north poke, can you check if it's fixed? Appreciated :)

[2016-04-15 10:45] locks commented on #11865
I am closing this issue as it seems it's not an Ember.js bug.
Feel free to re-open the issue if you think it's still justified, thank you.

[2016-04-15 10:45] #11865 closed

[2016-04-15 10:47] locks commented on #12357
@danwang does the `{{component}}` helper allow a path forward for you?

[2016-04-15 10:48] locks commented on #12217
@funtusov can you address the previous comment? Thanks.

[2016-04-15 10:50] locks commented on #12225
I am closing this because presently routes other than the application route do not insert a `div` in the DOM, so you can have a root element and style it.
As for the application view, `ember-legacy-views` is the current solution. Ember.js 2.4 LTS will support it until 2.8 LTS.

[2016-04-15 10:50] #12225 closed

[2016-04-15 10:52] Serabe commented on #13336
Seem this was discussed on November, 2014 in #5670. It was closed then because [this reason](https://github.com/emberjs/ember.js/issues/5670#issuecomment-64084814). Since the [proposal is now Stage 4](https://github.com/tc39/Array.prototype.includes#status), I think it is worth revisiting.

[2016-04-15 10:53] locks commented on #12196
I am closing this issue as the discussion seems to have reached some sort of resolution. There's also the matter that angle bracket components are under heavy consideration, so the original concern might not be valid anymore.
I'm labelling the issue as `wontfix` merely because classic components maintain the mirroring semantics and it's not feasible to change that behaviour currently.

Feel free t

[2016-04-15 10:53] #12196 closed

[2016-04-15 10:54] Serabe commented on #13336
@stefanpenner did some work on this #9262

[2016-04-15 10:55] locks commented on #12528
I am closing this issue as it should have gone into the `Guides` repository like mentioned.
Feel free to re-open the issue if you think it's still justified, thank you.

[2016-04-15 10:55] #12528 closed

[2016-04-15 10:56] #12402 closed

[2016-04-15 11:29] locks commented on #9354
pinging @ef4 from a related conversation we've add

[2016-04-15 11:33] rwjblue commented on #11817
Support (even with ember-legacy-views) is completely gone as if current beta branches.

I do not think there is anything we can do at this point (if someone else wanted to fix they would have submitted a PR). Select was its own special kind of horrible, which is why it was removed (instead of being migrated to a component). There are a number of addons that provide much better select implementatio

[2016-04-15 11:33] #11817 closed

[2016-04-15 11:35] #11382 closed

[2016-04-15 11:38] rwjblue commented on #11269
Yes, closing for now. We will definitely have to readdress when we reintroduce angle bracket components.

[2016-04-15 11:38] #11269 closed

[2016-04-15 11:39] rwjblue commented on #11562
Going to close for now. Happy to reopen if it's still an issue with 2.4 / 2.5...

[2016-04-15 11:39] #11562 closed

[2016-04-15 12:38] larryh commented on #13340
OK. I appreciate you taking the time to set me straight and help me out, as opposed to just letting me hang.

Thanks,
Larry

[2016-04-15 14:21] bantic commented on #11388
I will check it today

[2016-04-15 14:37] mixonic commented on #12225
2.4-LTS releases are supported w/ bug fixes for six releases (~36 weeks) and security fixes for 10 releases (~60 weeks), so depending on the level of support your require you can stick with ember-legacy-views for far longer than until 2.8! http://emberjs.com/blog/2016/02/25/announcing-embers-first-lts.html for details.

[2016-04-15 14:40] mixonic commented on #10559
This needs investigation as to what Safari is doing. There isn't anything to rule on until we understand what the problem is.

[2016-04-15 14:48] mixonic commented on #11192
The `Fails in 1.13.0-beta.1` jsbin is for Canary. This still fails without warning or error on master today.

[2016-04-15 14:49] Serabe commented on #10559
I cannot reproduce the bug in Safari Version 9.1 (11601.5.17.1). I click the dot and it shows gone (both @jdmarshall and @rwjblue's versions).

[2016-04-15 14:49] mixonic commented on #11192
The correct "fix" here is just that there should be an error, not a silent failure.

[2016-04-15 14:53] locks commented on #10559
I am closing this issue since I also confirm it works properly on Safari 9.1.
Feel free to re-open the issue if you think it's still justified, thank you.

[2016-04-15 14:53] #10559 closed

[2016-04-15 15:58] James1x0 opened #13341 "[DOC] Need better example for Route#loading"
https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-routing/lib/system/route.js#L615-L622
Uses deprecated Ember.View API in the example. I would bet this is confusing to new users coming to Ember and seeing this hook.

[2016-04-15 16:18] rwjblue commented on #13341
WOAH!  That is a horrible example! Thank you for pointing that out...

[2016-04-15 17:00] xcskier56 opened #13342 "Ember Computed.sort Memory Leak in Ember version < 2.4."
Example Twiddle: https://ember-twiddle.com/c3a31d4999c89cd3b05846ee1c660c15

It seems that a `Ember.computed.sort()` in a component is causing the component to not be garbage collected.

My app is using 1.13.13 and that is where I originally discovered it. However, testing in 2.4.4 this issue has been fixed.

I have seen pr #13220 which deals with some memory issues being backported to 1.13, but I

[2016-04-15 17:27] mmun commented on #13342
Yes, this bug was fixed. Are you unable to upgrade to 2.5?

[2016-04-15 17:29] stefanpenner commented on #13342
it is unlikely that this will be back-ported to 1.13.x the implementation is very different.

[2016-04-15 19:37] locks commented on #13053
@batjaa is your app using pods, like the sample Twiddle? if so, that's part of the "problem", as we don't cover pods in the documentation.

I am closing this issue because it seems to be behaving as expected.
Feel free to re-open the issue if you think it's still justified, thank you.

[2016-04-15 19:37] #13053 closed

[2016-04-15 19:47] pixelhandler commented on #13323
@olivierlesnicki Trying to understand the issue more, what exactly to you expect to be equal? and does the `isEqual` function work for that use case? See, http://emberjs.com/api/classes/Ember.html#method_isEqual

With this context on the index controller/template…

[code]

And this comparison, given an asyc relation…

[code]

… `model.child` is the new `child-model` and `model.parent.child` is the

[2016-04-15 19:51] pixelhandler commented on #13323
@olivierlesnicki Thanks for putting together a twiddle example, It helped me to see the issue you were looking into. It turns out not to be a bug, so I'll close this out for now.

I'm curious, are you in the http://embercommunity.slack.com/ chat rooms? I bet you'd get quicker feedback in #-help channel compared with the Ember.js Issue tracker here on github.

[2016-04-15 19:51] #13323 closed

[2016-04-15 20:09] pixelhandler commented on #13331
@asakusuma what are the steps to reproduce this issue? Do I clone emberjs/ember.js and run tests; e.g. following the contributing guide for this repo? https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#building-emberjs

[2016-04-15 20:42] acorncom commented on #13229
@YoranBrondsema Not sure this handles it for you exactly (as some of the logic has to bleed out into the containing template for a component), but you can set a component's class from the containing template (see this Twiddle for an example: https://ember-twiddle.com/4eb2cfc4b98109e43175c97a1d0d77fe?openFiles=templates.application.hbs%2Ctemplates.components.my-component.hbs)

If moving some of the

[2016-04-15 20:51] acorncom commented on #13340
Sure!  Also, a quick note now that I'm seeing your question with fresher eyes.

If you're using a Rails 5 api backend with JSONAPI::Resources, then your API should be able to handle exactly what Ember is sending back.  If you still have questions on this, get on to the Ember Slack, choose the `#topic-rails` channel and ping me there (same username)  Happy to help you work it out further :-)

[2016-04-15 21:15] YoranBrondsema commented on #13229
Thank you for the suggestion @acorncom. That works, but indeed as you say logic that belongs inside the component must be implemented in the containing template :-(.

This is kind of my point as well. There are many ways to solve this case, Ember.js is so flexible in the use of computed properties inside templates, therefore it feels strange that there's such a limitation on `classNameBindings`.

[2016-04-15 22:37] asakusuma commented on #13331
I followed those steps exactly and then ran npm run test. I'm guessing there is a build issue caused by something local to my machine interfering. The un-compiled placeholders and the wrong qunit path are the two biggest clues and I was hoping someone would have some idea based on those clues.

Running the tests in the browser via ember serve works. Running npm run test does not work, and neither

[2016-04-15 22:49] Serabe opened #13346 "Contextual components does not carry information about source for local lookup"
For reference, [Contextual Components RFC](https://github.com/emberjs/rfcs/blob/master/text/0064-contextual-component-lookup.md) and local lookup is being discussed as part of emberjs/rfcs#124.

Currently, when creating a contextual component, we only close over the path of the component, either by [reading it from the first param](https://github.com/emberjs/ember.js/blob/75cd6e3a1ff7d21112f7b3fd7

[2016-04-15 22:52] rwjblue commented on #13346
:+1: - Thanks for reporting, do you plan to pick up implementation of this?

[2016-04-15 22:52] Serabe commented on #13346
Yes.

[2016-04-16 00:32] pixelhandler commented on #13229
@YoranBrondsema if you'd like to propose that the core team consider a feature/enhancement your best bet would be an RFC issue.

It sounds like you'd like to propose that `classNameBindings` can be a static array or a computed property.

Since there many ways to accomplish conditional classnames in a component perhaps the path forward is to use the template, perhaps `{{my-component class=(if meets

[2016-04-16 00:58] pixelhandler commented on #13318
@dustyjewett sounds like the deprecation has a side-effect if you expect to check the instance, `new Ember.Handlebars.SafeString('string') instanceof Ember.Handlebars.SafeString;`

I'm curious how hard would it be in your app to make the suggested change to `Ember.String.htmlSafe`. Also would using that allow you to use `instanceof` again?

(I'm looking for a workaround, my best guess is that the

[2016-04-16 01:00] rwjblue commented on #13318
I think we may need to expose a utility function. Something like `isHTMLSafe(something)`...

[2016-04-16 01:04] pixelhandler commented on #13336
@alexspeller I'm curious if you think this question should be an RFC issue, instead. See [CONTRIBUTING.md#requesting-a-feature](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#requesting-a-feature)

[2016-04-16 01:17] pixelhandler commented on #13322
@mapohjola for now the controller is not setup until after the model hooks in the route have resolved. And the controller's queryParams are static (assigned an array of strings, which may relate to a computed property). To somehow allow the controller to treat queryParams as a computed property would be a new feature. For now you may need to define all possible [queryParams] and use computed prope

[2016-04-16 01:28] pixelhandler commented on #13300
@rwjblue seems that some clarity in docs is in order.

[2016-04-16 02:40] dustyjewett commented on #13318
@pixelhandler: I believe we already changed to htmlSafe(), but it still doesn't give us a way to confirm that an object is a SafeString.

I'm fine with duck-typing... adding isSafeString:true to the object(s) would be fine with me... just some way to check.

`Ember.String.htmlSafe('string') instanceof Ember.Handlebars.SafeString` is also false.

[2016-04-16 02:47] rwjblue commented on #13318
Ya, I was saying we might need to provide a method (not adding a prop to the objects).  Adding a property to the object, doesn't prevent against issues where you may be `JSON.parse`ing an untrusted object (ala [CVE-2015-7565](https://groups.google.com/forum/#!topic/ember-security/OfyQkoSuppY)).

[2016-04-16 04:41] acorncom commented on #12742
Believe we've finally got this cleaned up in guides, please open an issue there if you're still having trouble :+1:

[2016-04-16 04:41] #12742 closed

[2016-04-16 04:42] acorncom commented on #12695
Closing this for now, feel free to comment if we need to reopen

[2016-04-16 04:42] #12695 closed

[2016-04-16 04:44] acorncom commented on #12760
This was resolved a few weeks ago, closing this issue. If we're still missing something feel free to comment here or open a new issue, we want the docs to be accurate! :+1:

[2016-04-16 04:44] #12760 closed

[2016-04-16 04:49] acorncom commented on #12367
As this seems to be a documentation issue, will close this now. If we need to clarify docs further, please open an issue in the guides repo and reference this issue. Thanks!

[2016-04-16 04:49] #12367 closed

[2016-04-16 05:00] acorncom commented on #11493
Is there anything else we need to do on this issue or should we close it?

[2016-04-16 05:03] danconnell commented on #11493
@acorncom Doesn't it still need to be fixed? This error still pops up inside a didRender as far as I know.

[2016-04-16 05:10] acorncom commented on #11331
This seems to have grown stale. If there is still some bug here, feel free to comment here again and we can reopen the issue

[2016-04-16 05:10] #11331 closed

[2016-04-16 05:13] acorncom commented on #10557
The newly formed "issues team" is starting to run through the backlog on issues. It'd be really helpful to get a more recent reproduction of this issue (preferably in a Twiddle) so we can work on getting it fixed.

[2016-04-16 14:01] acorncom commented on #10578
Now that we've got an RFC where this is being discussed, I'll go ahead and close this issue.

[2016-04-16 14:01] #10578 closed

[2016-04-16 14:04] acorncom commented on #10569
Based on the decision mentioned on the other issue linked above, looks like passing the raw event information isn't something core wants to support. Will close this now

[2016-04-16 14:04] #10569 closed

[2016-04-16 14:08] acorncom commented on #10831
Closing this in favor of #12824 If there are additional edge cases here that I've missed, please comment and we can reopen here...

[2016-04-16 14:08] #10831 closed

[2016-04-16 14:12] acorncom commented on #10906
Tagging this as something to be re-checked against the latest canary

[2016-04-16 14:55] larryh commented on #13340
Thanks for the offer - I really do appreciate it because I know how busy you must be. After looking at a few more resources I think I have a handle on the problem; at least I believe I know the direction to proceed.

I've been working with Rails for years and am familiar with jQuery (regular, mobile, and UI), but now realize I have to take the plunge into SPAs.

The biggest problem (for all of us

[2016-04-16 15:00] acorncom commented on #13301
@baron1405 would you mind opening an issue in the guides repo (https://github.com/emberjs/guides) for this? That's where we'll need to have this info to make it easier to address. Thanks!

[2016-04-16 15:00] #13301 closed

[2016-04-16 15:06] alexspeller commented on #13336
Moved to RFC https://github.com/emberjs/rfcs/pull/136

[2016-04-16 15:06] #13336 closed

[2016-04-16 15:20] rwjblue opened #13347 "Cannot set property 'EXTEND_PROTOTYPES' of undefined while compiling templates."
The following error is generated while compiling templates in an Ember CLI app using canary:

[code]

---

Steps to reproduce in ember-cli:

[code]

---

This was introduced by #13319, I am working on a fix now.

[2016-04-16 15:36] rwjblue commented on #13347
Will be fixed by https://github.com/emberjs/ember.js/pull/13348.

[2016-04-16 16:05] #13347 closed

[2016-04-16 16:05] rwjblue commented on #13347
The mutation of `Ember.ENV` by ember-cli-htmlbars is addressed in https://github.com/ember-cli/ember-cli-htmlbars/pull/70.

[2016-04-16 18:12] batjaa commented on #13053
Fair enough, anyone who stops by this post, use `...-loading` naming convention.

[2016-04-16 21:18] #13341 closed

[2016-04-17 06:03] jamesarosen commented on #11469
All of a sudden I'm seeing this on [Ember v1.13.11](https://github.com/emberjs/ember.js/tree/v1.13.11/), which uses [RSVP v3.0.14](https://github.com/tildeio/rsvp.js.git#3.0.14).

The relevant code looks like
[code]
and the relevant test:
[code]

[2016-04-17 06:11] zackthehuman commented on #13318
If you used a "special" property where the value was a reference to a known function it shouldn't be `JSON.parse`- or `JSON.stringify`-able. I think this needs to be addressed in Glimmer as well since Symbols may not work out for the time being.

[2016-04-17 08:43] locks commented on #12072
I am closing this issue since the story around angle bracket components is being revisited.
Feel free to re-open the issue if you think it's still justified, thank you.

[2016-04-17 08:43] #12072 closed

[2016-04-17 08:45] locks commented on #12597
I am closing this issue since it is working as designed.
Feel free to re-open the issue if you think it's still justified, thank you.

[2016-04-17 08:45] #12597 closed

[2016-04-17 08:58] locks commented on #12849
I am closing this issue since the thread resolved into more of a support role, and there are better avenues for that, like @pixelhandler mentioned above :)
Feel free to re-open the issue if you think it's still justified, thank you.

[2016-04-17 08:58] #12849 closed

[2016-04-17 09:00] locks commented on #12690
@Serabe @mixonic @rwjblue do we have resolution on this issue?

[2016-04-17 09:02] locks commented on #13026
I am closing this issue because the issue was resolved, from what I understand after reading the thread.
Feel free to re-open the issue if you think it's still justified, thank you.

[2016-04-17 09:02] #13026 closed

[2016-04-17 09:04] locks commented on #11361
I am closing this issue as after reading the discussion it seems more like a Chrome/Polymer issue than an Ember issue, feel free to correct me though.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-17 09:04] #11361 closed

[2016-04-17 09:06] locks commented on #13158
@Serabe can you review?

[2016-04-17 09:11] locks commented on #12660
I am closing this issue because OP's problem is they didn't have the private filter turned on. This behaviour is also being tweaked in the upcoming API viewer.
Feel free to re-open the issue if you think it's still justified, thank you!

[2016-04-17 09:11] #12660 closed

[2016-04-17 09:19] locks commented on #12601
@SaladFork can you get a PR in?

[2016-04-17 09:46] Serabe commented on #13061
Fixed in #13177

[2016-04-17 09:46] #13061 closed

[2016-04-17 09:56] Serabe commented on #13158
Yes. A [quick test](https://ember-twiddle.com/6752a23b8899ad87c2e2106be0b26f5d?numColumns=2&openFiles=components.my-component.js%2Ctemplates.components.my-component.hbs) shows that for rest pos params it only updates for the first one (😲). I'm working on other parts of positional parameters, so I'll take a look while at it.

[2016-04-17 10:00] Serabe commented on #12690
@locks: AFAIK `input` and `textarea` cannot be called with the component helper (they are not even components per se). I wrote a solution in [my blog](http://www.serabe.com/2016/03/02/the-path-to-contextual-components-understanding-dynamic-components/). Further discussion was delayed until the new components are done (if my memory does not fail me, which usually does).

[2016-04-17 14:16] rwjblue commented on #12340
At this point I have to declare failure here. I highly doubt that this issue will get fixed (if someone does figure out a fix and PR's against release-1-13 branch it will be considered). 2.6 and above will not support the legacy controller addon, and support for things like itemControllers are completely removed from the code base at this point.

I'm sorry we couldn't get this regression fixed in

[2016-04-17 14:16] #12340 closed

[2016-04-17 14:52] rwjblue commented on #11192
@mixonic - TBH, I'm not sure that is correct either.  Two way binding isn't just a thing that can be done during rendering.

[2016-04-17 15:07] stefanpenner commented on #11469
@jamesarosen that doesn't seem correct and the catch handler is attach sync. Can you provide a quick reproduction?

[2016-04-17 15:09] stefanpenner commented on #12833
cc @chancancode / @wycats you current work is related to this, so you guys should take a look.

[2016-04-17 15:37] ehntoo commented on #10557
@acorncom - I've transcribed my jsbin from the original report into a twiddle here: https://ember-twiddle.com/5e6e66e8e1ecbea27e18d757d275899b .

[2016-04-17 15:37] rwjblue commented on #11192
Will be fixed by https://github.com/emberjs/ember.js/pull/13351

[2016-04-17 16:44] jamesarosen commented on #11469
Oh! Maybe it's coming from an earlier test. Like one I'm not attaching a `catch` handler to because I expect it to pass.

[2016-04-17 18:58] danmcclain opened #13352 "Issue with Ember.lookup in canary"
While testing an addon, I came across the following issue: When using the current Ember canary with Ember-Data canary (via bower, not the ember-data addon version in package.json), Ember-Data throws an error when trying to set `Ember.lookup.DS`

[code]

Steps to reproduce:

1. Create a new ember app
2. Add dependency for ember-data#canary in `bower.json`

[2016-04-17 18:59] danmcclain commented on #13352
@rwjblue Ping, as we discussed this prior to creating this issue

[2016-04-17 18:59] rwjblue commented on #13352
Likely related to https://github.com/emberjs/ember.js/pull/13319

[2016-04-17 19:57] rwjblue commented on #13352
Ember.lookup.DS = DS

Is done here: https://github.com/emberjs/data/blob/v2.5.2/addon/index.js#L159

[2016-04-17 21:19] YoranBrondsema commented on #13229
@pixelhandler Gotcha. I opened an RFC issue here: https://github.com/emberjs/rfcs/issues/138

[2016-04-17 21:24] danmcclain commented on #13352
I bet the reason I didn't see the addon version blow up is because the addon isn't used at all, where the bower version is evaluated whether or not it's used

[2016-04-17 21:50] rwjblue commented on #13352
The addon only does this if you do:

    import DS from 'ember-data'

But most of the time now (since it's an addon) you would just import the things you need from their real module paths.

[2016-04-17 22:03] stefanpenner commented on #13229
closing in-favor of the referenced rfc

[2016-04-17 22:03] #13229 closed

[2016-04-17 23:29] mixonic commented on #13318
If there is a use-case for detecting safe strings, I expect it would make a good feature addition. `Ember.String.isHtmlSafe(someString)` or something.

[2016-04-17 23:42] Serabe commented on #9265
This bug still exists in [canary](https://ember-twiddle.com/d9772c2c6801236375f1a8c6f5143f8f?openFiles=twiddle.json%2C). Any news, @stefanpenner or @krisselden?

[2016-04-17 23:52] Serabe commented on #5589
I am closing this. If any of the participants are interested on pursuing this feature, feel free to reopen.

Thank you!

[2016-04-17 23:52] #5589 closed

[2016-04-17 23:56] Serabe commented on #5210
I updated @bcardarella's [jsbin to 2.5.0]. Still happening.

[2016-04-18 00:00] rwjblue commented on #13318
@mixonic - Yes, precisely.

[2016-04-18 00:05] Serabe commented on #12568
@MohamadAtieh can you try to recreate in a [twiddle](https://ember-twiddle.com) so we can make sure it was not a bug and help you? Thank you!

[2016-04-18 00:15] Serabe commented on #12533
Seems like bug. Can you please open a PR @bryanaka? Add some tests to make sure this do not happen in the future.

Thank you, @bryanaka, for reporting this.

[2016-04-18 00:19] Serabe commented on #12515
I'm closing this since original issue seems to have been resolved and @Vincz was fixed by last comment.

Feel free to reopen if there is still any issue.

Thank you all!

[2016-04-18 00:19] #12515 closed

[2016-04-18 00:28] Serabe commented on #12514
Closing in favor of #11480. [This workaround](https://github.com/emberjs/ember.js/issues/11480#issuecomment-199944784) seems to work in your case as well.

Thank you for reporting!

[2016-04-18 00:28] #12514 closed

[2016-04-18 00:38] Serabe commented on #11480
@rwjblue this is still happening in [2.5.0](https://ember-twiddle.com/94a6e3f1836feff408da011505a2ea8a?openFiles=twiddle.json%2Ctemplates.components.attr-test.hbs) when the attribute being passed is static. Check in previous twiddle that it works for `{{attr-test}}` and `{{attr-test rows=externalRows}}` but not for `{{attr-test rows=4}}`.

[2016-04-18 00:43] Serabe commented on #12460
I close this issue. Feel free to reopen or submit an RFC if you want to further discuss this.

Thank you!

[2016-04-18 00:43] #12460 closed

[2016-04-18 00:52] stefanpenner commented on #9265
still exists

[2016-04-18 01:16] karthiick commented on #12514
@serabe yeah that workaround would work for normal component, but not for the extended one.

For e.g: I have a component, where I have  extended Textarea component. In this case, unfortunately the workaround won't work(attributeBindings for rows).

At the moment, I directly update the DOM attribute, even though it's a bad way. Any suggestions..??

[2016-04-18 01:20] rwjblue commented on #5542
I updated the JSBin to use Ember 2.5.0, and all seems to be working properly (no errors thrown): http://rwjblue.jsbin.com/nejaxa/edit?html,js.

Closing (again ;P )....

[2016-04-18 01:20] #5542 closed

[2016-04-18 01:22] rwjblue commented on #10195
Closing in favor of https://github.com/emberjs/ember.js/issues/13164.

[2016-04-18 01:22] #10195 closed

[2016-04-18 01:25] rwjblue commented on #10261
A ton of work has been done here (and much is still ongoing).  See https://github.com/emberjs/ember.js/issues/11502 for just one example. Ember 2.2+ performance is on par with 1.11/1.12, and the next version of the rendering engine (Glimmer v2) which is currently underway should continue to cut down initial render times in these scenarios.

I'm going to close this issue for now, as there is little

[2016-04-18 01:25] #10261 closed

[2016-04-18 01:27] rwjblue commented on #10383
We plan to move CP descriptors back into `meta` "soon". I recall that @stefanpenner had some initial work in progress in this area, but couldn't find it during a quick search.

We definitely intend to change the behavior so that this is less of an issue, but I do not consider the current behavior a "bug" at this point.

[2016-04-18 01:27] #10383 closed

[2016-04-18 01:31] rwjblue commented on #11427
Fixed via @artsyca's suggestion (`intermediateTransitionTo` was made public in https://github.com/emberjs/ember.js/pull/12174).

[2016-04-18 01:31] #11427 closed

[2016-04-18 02:05] rwjblue commented on #11505
https://github.com/emberjs/ember.js/pull/13353 addresses this

[2016-04-18 02:05] stefanpenner commented on #10383
@rwjblue ya, @krisselden is working on it now.

[2016-04-18 02:09] jcope2013 commented on #12670
this is still present in ember 2.5, the workaround still works properly

https://ember-twiddle.com/43c370747fc6c440e723b3d533c6da93

[2016-04-18 04:10] rwjblue commented on #11534
I am sorry that this has lingered for so long, and that we were unable to solve this issue in time.  At this point `Ember.ContainerView` has been removed which makes this issue obsolete. Again, I apologize that it has lingered so long.

However, I am going to go ahead and close this...

[2016-04-18 04:10] #11534 closed

[2016-04-18 04:10] mfeckie commented on #13069
@rwjblue I'm getting the same error on our CI server despite having `ember-legacy-views` installed.  Any suggestions?

[2016-04-18 04:14] rwjblue commented on #9500
I believe a bunch of work in ED has been done on this.  I'd like to get some feedback from @emberjs/ember-data-contributors...

[2016-04-18 04:24] rwjblue commented on #13069
@mfeckie - Most likely this is due to https://github.com/ember-cli/ember-cli-htmlbars/issues/71.

[2016-04-18 04:28] mfeckie commented on #13069
@rwjblue Interesting!  Our htmlbars is pinned at '^1.0.3' too .

[2016-04-18 04:31] mapohjola commented on #13322
Thanks for the response will close this and do an RFC if I come up with some better way.

[2016-04-18 04:31] #13322 closed

[2016-04-18 04:34] rwjblue commented on #13069
OK, I just released 1.0.5 with that change reverted for now.  Didn't want to leave folks in a bad state while I track down the issue...

[2016-04-18 04:36] rwjblue commented on #13069
Related to the originally reported issue, I am going to have to close this.  We have to keep the current assertion around until at least 2.8 (to help folks that are migrating off the ember-legacy-views addon identify the locations they are using `view` paths in their templates).

[2016-04-18 04:36] #13069 closed

[2016-04-18 04:37] rwjblue commented on #10650
My suggestion in "post glimmer" here would be to use a helper that properly subscribes to the array change events and recomputes:

[code]

A class based helper (aka `Ember.Helper.extend()`) that subscribed to its first argument could always recompute and return a newly built array (forcing an intelligent rerender).  This is roughly what we did for reduced computed type things, and it has worked pr

[2016-04-18 04:37] #10650 closed

[2016-04-18 04:38] rwjblue commented on #11649
Closing in favor of the failing test case PR mentioned above.

[2016-04-18 04:38] #11649 closed

[2016-04-18 04:40] rwjblue commented on #11687
The reported JSBin does not exhibit issues on canary, closing for now (but I'm happy to reopen if I have misinterpreted)...

[2016-04-18 04:40] #11687 closed

[2016-04-18 04:41] mfeckie commented on #13069
@rwjblue Much appreciated.  Thanks for being so helpful and responsive!  Open source devs don't get enough love, so ❤️

[2016-04-18 04:42] rwjblue commented on #11658
The updates to the package manager files have been updated, and the published assets do contain license information now (likely due to @chadhietala's hard work).

Closing...

[2016-04-18 04:42] #11658 closed

[2016-04-18 04:43] rwjblue commented on #11876
This was resolved some time ago, closing...

[2016-04-18 04:43] #11876 closed

[2016-04-18 04:45] rwjblue commented on #11712
We missed our chance to do this in 2.0.0. I think at this point we will need an RFC and a path forward.

I will try to tackle the RFC sometime this week. Closing as an issue though, since it is not a bug...

[2016-04-18 04:45] #11712 closed

[2016-04-18 04:46] rwjblue commented on #12002
This is no longer true (as of 2.2.0).  Closing...

[2016-04-18 04:46] #12002 closed

[2016-04-18 04:49] rwjblue commented on #11995
I'd be open to a PR for this, but I'm going to close this for now as it doesn't seem to be a bug per-se...

[2016-04-18 04:49] #11995 closed

[2016-04-18 04:57] rwjblue commented on #12125
You could use the `event.target` to force the DOM elements value back to what you expect.  This is the only way AFAIK to keep the internal and external state of the `<input>` in sync.

http://emberjs.jsbin.com/nutidab/edit?html,js,output

I'm going to close this, as it is unlikely that we can fix the internal state representation issue mentioned above.  You would need to drop down to the lower lev

[2016-04-18 04:57] #12125 closed

[2016-04-18 04:58] rwjblue commented on #12133
The thinking on this has changed a bit, and the initial angle bracket component implementation has been removed.  When this is reintroduced, there will be an updated RFC with more details on the path forward for this type of thing.

Closing for now, since the feature doesn't exist in the codebase...

[2016-04-18 04:58] #12133 closed

[2016-04-18 05:00] rwjblue commented on #12097
Closing for now, the debug system has been revamped a bit and we will continue iterating here...

[2016-04-18 05:00] #12097 closed

[2016-04-18 05:01] rwjblue commented on #12277
Closing in favor of https://github.com/emberjs/rfcs/pull/119.

[2016-04-18 05:01] #12277 closed

[2016-04-18 05:06] stefanpenner commented on #9500
The remaining work was removing the fact the subclasses are returned from lookup factory. Unfortunately others decided this was for some reason to much of a breaking change during 2.0 transition

[2016-04-18 07:20] Serabe commented on #11417
@ChrisHonniball can you please check this bug is still present? Thank you!

[2016-04-18 09:27] locks commented on #10916
@ef4 @jcope2013 @alexdiliberto is this still happening?

[2016-04-18 10:11] Serabe commented on #11979
This issue is [fixed in 2.5.0](https://ember-twiddle.com/bf446d11530f19b6aefe86404ff095a5). If anyone wants to submit a PR against 1.13, it will be considered. Otherwise, we need to close this.

Thank you for your report!

[2016-04-18 10:11] #11979 closed

[2016-04-18 10:47] bevinhex commented on #11100
I really love '<' way !!!
Tried angular, react, meteor, ember ... and from point of "Programming enjoyablility" perspective, meteor + react was most enjoyable, followed by ember using ember-cli. UNTILL they released meter1.3 , to me it's like 2.0 version, looks like everything changed, after upgrading, everything used to work doesn't. Then I missed ember again, But this time accidently found out t

[2016-04-18 12:29] workmanw opened #13354 "Using `instanceof Ember.Handlebars.SafeString` is broken on beta and canary"
In our app we have a few occasions where we do `if (str instanceof Ember.Handlebars.SafeString)` when handling string values, this capability is broken with the recent deprecation of `new  Ember.Handlebars.SafeString("")` because of the way in which this deprecation was introduced.

See: https://github.com/emberjs/ember.js/commit/0e95d7cc1325efa03d19732ebb89034279b5deeb

The problem is that the fu

[2016-04-18 13:16] rwjblue commented on #13354
Duplicate of https://github.com/emberjs/ember.js/issues/13318, would you mind moving the description above into a comment on that issue?

[2016-04-18 13:16] #13354 closed

[2016-04-18 13:30] workmanw commented on #13354
Oops. Sorry about that. Monday fail. :(

[2016-04-18 13:33] rwjblue commented on #13354
No worries!  We definitely need to understand and address the underlying issue...

[2016-04-18 13:36] workmanw commented on #13318
Copy over from #13354:

In our app we have a few occasions where we do `if (str instanceof Ember.Handlebars.SafeString)` when handling string values, this capability is broken with the recent deprecation of `new  Ember.Handlebars.SafeString("")` because of the way in which this deprecation was introduced.

See: https://github.com/emberjs/ember.js/commit/0e95d7cc1325efa03d19732ebb89034279b5deeb

Th

[2016-04-18 13:52] rwjblue commented on #13318
I think the `Ember.String.isHtmlSafe` utility function would need to go through RFC process (as a public API addition), but I suspect it would be a fairly quick process (as the need seems fairly clear now).  It would also be possible to polyfill `isHtmlSafe` for older Ember versions (which can be used by addons to avoid deprecation for both older and newer versions).

I am a bit torn here, as I re

[2016-04-18 13:56] rwjblue commented on #13318
@workmanw - Would you mind working up the RFC?

[2016-04-18 14:01] workmanw commented on #13318
@rwjblue I was just responding with: "I'll get the ball rolling on the PR and build a polyfill." :)

[2016-04-18 14:17] bantic commented on #11388
@locks Confirmed this on `v1.13.0-beta.1`, `v1.13.0-beta.2`, `v1.13.1` and `v1.13.2`. Versions `1.13.3` and greater do not seem to have this problem.

I've cleaned up the JSBin to do a better job explaining the bug: http://emberjs.jsbin.com/wuzefu/7/edit?html,js,output

[2016-04-18 14:21] rwjblue commented on #12356
Submitted https://github.com/emberjs/ember.js/pull/13355 to fix this.

[2016-04-18 14:25] Serabe commented on #11388
It is working on [2.5.0](http://emberjs.jsbin.com/vipexo/1/edit?html,js,output) as well. Since this only seem to affect old versions of 1.13, I am closing this. Feel free to reopen if you feel it is needed.

Thank you!

[2016-04-18 14:25] #11388 closed

[2016-04-18 15:34] acorncom commented on #11493
@danconnell Do you know if it's happening on 2.x versions of Ember or is this a 1.12 / 1.13 bug?  If it's a 1.12 / 1.13 bug, not sure it'll end up getting fixed ...

[2016-04-18 15:38] rwjblue commented on #11493
The deprecation message is basically incorrect, I submitted https://github.com/emberjs/ember.js/pull/13353 to address the poor messages...

[2016-04-18 15:40] rwjblue commented on #12082
In general both [1.12.1 demo](http://rwjblue.jsbin.com/xemahi/edit?html,js,output) and [canary demo](http://rwjblue.jsbin.com/wadaja/edit?html,js,output) fail in the same way.  So I do not consider this a "regression", but I definitely agree we could do better.

I submitted #13356 to:

* Correct the issue with the regexp, so that `foo:bar:baz` doesn't pass `validateFullName`.
* Ensure that `Regist

[2016-04-18 15:40] #12082 closed

[2016-04-18 15:50] acorncom commented on #13340
Busy, yes.  Expert?  No 😄 But yes, the community is part of the reason I'm here as well, these folks are fun to work with :-)

[2016-04-18 15:51] rwjblue commented on #11499
Closing in favor of the failing test case PR https://github.com/emberjs/ember.js/pull/11315.

[2016-04-18 15:51] #11499 closed

[2016-04-18 16:24] danconnell commented on #11493
It was happening for me on 2.3 at least. I haven't checked on 2.4. Once the fix gets into master I can check again.

[2016-04-18 16:36] bierdybard opened #13357 "Minor feature request: default for {{get}} helper"
Hello,

Please let me know if an RFC is necessary for this, it seems relatively minor but I'll write one up if needed.

Requesting the addition of an optional third parameter to the {{get}} helper which would serve as a default response in the case that the returned value is undefined or null, and be ignored otherwise. This would be functionally identical to the Python `getattr` builtin.

Example:

[2016-04-18 17:04] rwjblue commented on #11701
Will be fixed by https://github.com/emberjs/ember.js/pull/13359.

[2016-04-18 17:06] Joelkang commented on #13127
it looks like the `system/lookup-helper_test.js` file is testing the actual `findHelper` method, which appears to me to be covered by `integration/helpers/custom-helper-tests.js`. Doesn't seem to me that we're unit testing the actual `ember-glimmer` lib, so maybe 🔥 ? @chadhietala @asakusuma since both of you touched helper-lookup-related tests can you confirm?

[2016-04-18 17:08] rwjblue commented on #13357
This does seem like a feature request, and features are generally discussed in the https://github.com/emberjs/rfcs/ repository. You can create an issue there for feature requests or a pull request to propose a new feature.  I'm closing this issue (this isn't really a bug in the framework), but please follow up with an RFC issue/PR if you are interested in taking this further.

I also think that I

[2016-04-18 17:08] #13357 closed

[2016-04-18 17:10] rwjblue commented on #13352
I spoke with @krisselden about this and he is going to work on getting `Ember.lookup` reexposed (with a deprecation).

[2016-04-18 17:17] jamesarosen commented on #11469
Ah, one nuance. It's actually
[code]

[2016-04-18 17:26] rwjblue commented on #12327
I'm going to go ahead and close this.

* `childViews` was not intended to be observable (and often didn't work anyways)
* deriving state from view/component hierarchy will be error prone
* `ContainerView` has been completely removed from the framework as of 2.6.0-beta.1

I am sorry that we didn't get to this in time to figure out and fix...

[2016-04-18 17:26] #12327 closed

[2016-04-18 17:28] rwjblue commented on #12080
Confirmed that this is still an issue with current canary (what will be 2.7): http://rwjblue.jsbin.com/dupafa/edit?html,js,output.

[2016-04-18 17:29] rwjblue commented on #12094
Closing in favor of PR #12202.

[2016-04-18 17:29] #12094 closed

[2016-04-18 17:32] rwjblue commented on #12150
Still seems to be an issue in 2.5.0: http://rwjblue.jsbin.com/tibuxe/edit?html,js,output.

[2016-04-18 17:34] rwjblue commented on #12287
There may be a bug here, as mentioned a few months ago I can't really tell what is going on in the demo. I'm going to close this for now, but I'm happy to reopen if the demo can be explained (along with steps to repro).

[2016-04-18 17:34] #12287 closed

[2016-04-18 17:35] rwjblue commented on #12385
I think a good alternative / pattern was given by @xtian.  Closing this for now...

[2016-04-18 17:35] #12385 closed

[2016-04-18 17:42] rwjblue commented on #12147
https://github.com/emberjs/ember.js/pull/12414 should have fixed this (as it also fixed https://github.com/emberjs/ember.js/issues/12016)

[2016-04-18 17:42] #12147 closed

[2016-04-18 17:45] rwjblue commented on #11595
This is mostly a documentation issue I believe.  Using the same param name for nested routes is going to have these sorts of issues.

It might be possible to detect this, and issue a warning/assertion but I'm unsure if that would take away some legit cases where you would want this behavior...

[2016-04-18 18:08] xcskier56 commented on #13342
Thanks for the quick response! We are stuck on 1.13 as we still have to support IE8. Since this is unlikely to be back ported to 1.13.x, what approach do you recommend to work around this bug?

[2016-04-18 18:58] haldiggs opened #13361 "unloadAll('mymodel') doesn't do anything 2.4.x"
store.unloadall() seems to work, all store content get dumped...

    store.unloadAll('comment');
    store.peekAll('comment'); <-- still returns content

but using the model I can still see the content... do I need to call some sort of save?